@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/em' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints-product;
im.$media-expressions: $media-expressions;

.contact-view {
	&-actions {
		margin-block-start: -0.5em;
	}

	.contactsummary-contact-name {
		font-size: em(24);
		line-height: 1.333; // design wanted 32px for line-height
		flex: 1 1 auto;
		margin-block-end: 0.25em;
	}

	/*
	 * Make summary elements wrap at 1500
	 */
	@include im.media('<=xlarge') {
		.contactsummary-contact-name-container {
			display: flex;
			flex-direction: column;
		}

		.contactsummary-action-buttons {
			> :first-child {
				margin-inline-start: 0;
			}
		}
	}

	/*
	* triger mobile adaptation around 1000px because... not enough space
	*/
	@include im.media('>medium', '<=large') {
		.contactsummary-container {
			display: block;
		}

		.contactsummary-photo-container {
			inline-size: auto;
			margin-block-end: 0.5em;
			margin-inline: auto;
		}

		.contactsummary-contact-name-container {
			padding-inline-start: 0;
		}

		.contactsummary-contact-name {
			margin-block-end: 1em;
			text-align: center;
		}

		.contactsummary-action-buttons {
			text-align: center;
		}

		.contact-view-contents,
		.contact-view-cta {
			padding-inline: 0;
		}

		.contact-summary-wrapper {
			margin-inline: 0;
		}

		.contact-view-row-left {
			flex-direction: column;
		}

		.contact-view-row-label {
			max-inline-size: 100%;
		}

		.contact-view-row-content {
			flex-basis: auto;
			padding-inline-start: 0;
		}
	}
}
