:root,
.ui-standard {
    --primary: #7777F8;
    --primary-contrast: #191927;

    --signal-danger: #F08FA4;
    --signal-warning: #FFB84D;
    --signal-success: #4AB89A;
    --signal-info: #4AC0FF;

    --text-norm: #D1D1D4;
    --text-weak: #8C8C93;
    --text-hint: #50505B;
    --text-disabled: #50505B;
    --text-invert: #191927;

    --field-norm: rgb(255 255 255 / 0.04);
    --field-disabled: #4C4C65;

    --optional-field-placeholder-color: var(--text-weak);

    --border-norm: #2B2B38;
    --border-weak: rgb(255 255 255 / 0.4);

    --background-norm: #191927;
    --background-weak: #1F1F31;
    --background-strong: #13131D;
    --background-invert: white;

    --interaction-norm: #9292F9;
    --interaction-norm-contrast: #191927;
    --interaction-norm-minor-1: #302D45;

    --interaction-weak: #282848;
    --interaction-weak-major-1: #32306c;
    --interaction-weak-major-2: #343187;

    --interaction-default: transparent;
    --interaction-default-hover: rgb(255 255 255 / 0.04);
    --interaction-default-active: rgb(255 255 255 / 0.08);

    --shadow-norm-opacity: 0.32;
    --shadow-lifted-opacity: 0.4;

    --backdrop-norm: rgb(0 0 0 / 0.5);

    --focus-outline: var(--interaction-norm-major-2);
    --focus-ring: var(--interaction-norm-minor-1);

    --search-field-focus-background: #0E0E0E;

    .button-solid-weak {
        --button-default-text-color: var(--interaction-norm);
        --button-hover-text-color: var(--interaction-norm);
        --button-active-text-color: var(--interaction-norm);
    }
}
