.leave-button {
	background-color: var(--signal-danger-major-3);

	&:hover,
	&:focus-within {
		background-color: var(--signal-danger-minor-1);
	}
}

.dropdown.leave-meeting-popup {
	background-color: var(--transparent-background);
	box-shadow: 0 4px 44px 0 rgb(0 0 0 / 0.35);
	backdrop-filter: blur(14px);
	border-color: var(--info-card-border);

	.dropdown-content,
	.dropdown-content::before,
	.dropdown-content::after {
		background: none;
	}
}
