@use '~@proton/styles/scss/lib/rem' as *;

.otp-copy-button {
	--button-default-background-color: transparent;
	--button-hover-background-color: transparent;
	--button-active-background-color: transparent;
	--button-default-border-color: var(--interaction-norm-major-1);
	--button-hover-border-color: var(--interaction-norm);
	--button-active-border-color: var(--interaction-norm);
	--button-hover-text-color: var(--interaction-norm);
	--button-active-text-color: var(--interaction-norm);

	&--copied {
		--button-default-border-color: var(--signal-success);
		--button-hover-border-color: var(--signal-success);
		--button-active-border-color: var(--signal-success);
		--button-default-text-color: var(--signal-success);
		--button-hover-text-color: var(--signal-success);
		--button-active-text-color: var(--signal-success);
	}

	&--compact {
		--padding-block: 0;

		line-height: #{rem(18)};
	}
}
