/*
 * Theme: Contrast
 */
:root,
.ui-standard {
	--primary: #6d4aff;
	--primary-contrast: white;

	--signal-danger: #dc3251;
	--signal-danger-hover: #f74f6d;
	--signal-danger-active: #b72346;
	--signal-danger-contrast: white;

	--signal-warning: #ff9900;
	--signal-warning-hover: #ffb800;
	--signal-warning-active: #ff851a;
	--signal-warning-contrast: black;

	--signal-success: #1ea885;
	--signal-success-hover: #23c299;
	--signal-success-active: #198f71;
	--signal-success-contrast: white;

	--signal-info: #239ece;
	--signal-info-hover: #27b1e8;
	--signal-info-active: #1f83b5;
	--signal-info-contrast: white;

	--text-norm: #0c0c14;
	--text-weak: #706d6b;
	--text-hint: #8f8d8a;
	--text-disabled: #9e9b98;
	--text-invert: white;

	--field-norm: #706d6b;
	--field-hover: #5c5958;
	--field-disabled: #d1cfcd;

	--border-norm: #d1cfcd;
	--border-weak: #eae7e4;

	--background-norm: white;
	--background-weak: #f5f4f2;
	--background-strong: #eae7e4;

	--interaction-norm: #6d4aff;
	--interaction-norm-hover: #4d34b3;
	--interaction-norm-active: #372580;
	--interaction-norm-contrast: white;

	--interaction-weak: #d1cfcd;
	--interaction-weak-hover: #c2bfbc;
	--interaction-weak-active: #a8a6a3;

	--interaction-default: transparent;
	--interaction-default-hover: rgb(30 3 76 / 0.2);
	--interaction-default-active: rgb(30 3 76 / 0.4);

	--shadow-norm-opacity: 0.1;
	--shadow-lifted-opacity: 0.16;

	--backdrop-norm: rgb(12 12 20 / 0.32);

	--optional-scrollbar-thumb-color: #d1cfcd;
	--optional-scrollbar-thumb-hover-color: #c2bfbc;

	--optional-email-item-selected-background-color: #573bcc;
	--optional-email-item-selected-icon-background-color: #372580;

	--optional-email-item-read-background-color: #f5f4f2;
	--optional-email-item-read-text-color: #0c0c14;

	--optional-logo-text-proton-color: #1b1340;
	--optional-logo-text-product-color: #6d4aff;
}

.ui-prominent {
	--primary: #8a6eff;
	--primary-contrast: white;

	--signal-danger: #f5385a;
	--signal-danger-hover: #ff5473;
	--signal-danger-active: #dc3251;
	--signal-danger-contrast: white;

	--signal-warning: #ff9900;
	--signal-warning-hover: #ffb800;
	--signal-warning-active: #ff8419;
	--signal-warning-contrast: black;

	--signal-success: #1ea885;
	--signal-success-hover: #23c299;
	--signal-success-active: #198f71;
	--signal-success-contrast: white;

	--signal-info: #239ece;
	--signal-info-hover: #27b1e8;
	--signal-info-active: #1f83b5;
	--signal-info-contrast: white;

	--text-norm: white;
	--text-weak: #9282d4;
	--text-hint: #544399;
	--text-disabled: #4a398f;
	--text-invert: #1b1340;

	--field-norm: #9282d4;
	--field-hover: #7c5cff;
	--field-disabled: #38277a;

	--border-norm: #413085;
	--border-weak: #3c2b80;

	--background-norm: #1b1340;
	--background-weak: #271c57;
	--background-strong: #38277a;

	--interaction-norm: #6d4aff;
	--interaction-norm-hover: #7c5cff;
	--interaction-norm-active: #8a6eff;
	--interaction-norm-contrast: white;

	--interaction-weak: #4a398f;
	--interaction-weak-hover: #6d4aff;
	--interaction-weak-active: #8a6eff;

	--interaction-default: transparent;
	--interaction-default-hover: rgb(68 78 114 / 0.2);
	--interaction-default-active: rgb(68 78 114 / 0.3);

	--shadow-norm-opacity: 0.32;
	--shadow-lifted-opacity: 0.4;

	--backdrop-norm: rgb(0 0 0 / 0.32);

	--optional-scrollbar-thumb-color: #413085;
	--optional-scrollbar-thumb-hover-color: #4a398f;

	--optional-logo-text-proton-color: white;
	--optional-logo-text-product-color: #8a6eff;

	--optional-interaction-norm-accent: #8a6eff;
	--optional-interaction-norm-accent-hover: #a994ff;
	--optional-interaction-norm-accent-active: #bdadff;
}
