/*
 * Theme: Proton (default)
 */
:root,
.ui-standard {
	--primary: #657ee4;
	--primary-contrast: white;

	--signal-danger: #d42f34;
	--signal-danger-hover: #c7262b;
	--signal-danger-active: #ba1e23;
	--signal-danger-contrast: white;

	--signal-warning: #f5830a;
	--signal-warning-hover: #f5730a;
	--signal-warning-active: #f5640a;
	--signal-warning-contrast: black;

	--signal-success: #1b8561;
	--signal-success-hover: #147857;
	--signal-success-active: #0f6b4c;
	--signal-success-contrast: white;

	--signal-info: #1578cf;
	--signal-info-hover: #0e6dc2;
	--signal-info-active: #0764b5;
	--signal-info-contrast: white;

	--text-norm: #262a33;
	--text-weak: #696f7d;
	--text-hint: #a4a9b5;
	--text-disabled: #babec7;
	--text-invert: white;

	--field-norm: #babec7;
	--field-hover: #a4a9b5;
	--field-disabled: #d0d3da;

	--border-norm: #d0d3da;
	--border-weak: #e7e9ec;

	--background-norm: white;
	--background-weak: #f3f4f6;
	--background-strong: #e7e9ec;

	--interaction-norm: #657ee4;
	--interaction-norm-hover: #5064b6;
	--interaction-norm-active: #3c4b88;
	--interaction-norm-contrast: white;

	--interaction-weak: #d0d3da;
	--interaction-weak-hover: #babec7;
	--interaction-weak-active: #a4a9b5;

	--interaction-default: transparent;
	--interaction-default-hover: rgb(186 190 199 / 0.2);
	--interaction-default-active: rgb(186 190 199 / 0.3);

	--shadow-norm-opacity: 0.1;
	--shadow-lifted-opacity: 0.16;

	--backdrop-norm: rgb(38 42 51 / 0.48);

	// Optional colors

	--scrollbar-thumb-color: #d0d3da;
	--scrollbar-thumb-hover-color: #babec7;

	--main-border-color: transparent;
}

// Prominent UI specifics

.ui-prominent {
	--signal-danger: #ed4c51;
	--signal-danger-hover: #f7595e;
	--signal-danger-active: #273136;
	--signal-danger-contrast: white;

	--signal-warning: #f5930a;
	--signal-warning-hover: #f5a716;
	--signal-warning-active: #f5b922;
	--signal-warning-contrast: black;

	--signal-success: #349172;
	--signal-success-hover: #339c79;
	--signal-success-active: #31a67f;
	--signal-success-contrast: white;

	--signal-info: #2c89db;
	--signal-info-hover: #3491e3;
	--signal-info-active: #273136;
	--signal-info-contrast: white;

	--text-norm: white;
	--text-weak: #949bb9;
	--text-hint: #565f84;
	--text-disabled: #444e72;
	--text-invert: #1c223d;

	--field-norm: #565f84;
	--field-hover: #949bb9;
	--field-disabled: #353e60;

	--border-norm: #353e60;
	--border-weak: #2d3657;

	--background-norm: #1c223d;
	--background-weak: #272f4f;
	--background-strong: #2d3657;

	--interaction-norm: #657ee4;
	--interaction-norm-hover: #7d92e8;
	--interaction-norm-active: #98a9ee;
	--interaction-norm-contrast: white;

	--interaction-weak: #353e60;
	--interaction-weak-hover: #444e72;
	--interaction-weak-active: #565f84;

	--interaction-default: transparent;
	--interaction-default-hover: rgb(68 78 114 / 0.3);
	--interaction-default-active: rgb(68 78 114 / 0.4);

	--shadow-norm-opacity: 0.32;
	--shadow-lifted-opacity: 0.4;

	--backdrop-norm: rgb(0 0 0 / 0.32);

	// Optional colors

	--scrollbar-thumb-color: #353e60;
	--scrollbar-thumb-hover-color: #444e72;
}
