:root {
	--bgcolor-item-column-list: #222323;
	--bgcolor-unread-item-column-list: #222323;
	--bgcolor-view-column-detail: #222323;
	--bgcolor-main-area: white;
	--bgcolor-context-bar: #222323;
	--bgcolor-subheader: #222323;
	--bgcolor-toolbar: #222323;
	--color-main-area: #922d4d;
	--bgcolor-disabled-checkboxes-radios: black;
	--bgcolor-item-column-active: black;
	--bordercolor-input: black;
	--bgcolor-muted: black;
	--bgcolor-input: black;
	--bgcolor-highlight: #222323;
	--color-input: #922d4d;
	--dropdown-box-shadow: black;
	--bgcolor-meter-bar: black;
}
