.pass-carousel {
	position: relative;
	pointer-events: none;

	&--stepper {
		pointer-events: all;
		justify-content: center;
		display: flex;
		gap: 0.75rem;

		.button {
			inline-size: 0.625rem;
			block-size: 0.625rem;
			padding: 0;
			background-color: var(--interaction-weak);
		}

		.selected {
			--interaction-default-active: white;

			background: var(--interaction-default-active);
		}
	}

	&--text {
		inline-size: 100%;
		text-align: center;
	}

	&--nav {
		pointer-events: all;
		position: absolute;
		inline-size: 150%;
		inset-inline-start: -25%;
		display: flex;
		justify-content: space-between;
		inset-block-start: calc(50% - (5rem / 2));

		.button {
			block-size: 5rem;
			inline-size: 3rem;
			background-color: rgb(255 255 255 / 0.12);
			color: var(--text-norm);

			&:hover {
				background-color: rgb(255 255 255 / 0.24);
			}
		}
	}
}
