@use 'sass:math';
@use '~@proton/styles/scss/lib/config' as *;

.upgrade-button-link {
	text-decoration: none !important;
}

.button-promotion {
	font-weight: 500 !important;
	border: 1px solid;
	border-color: var(--interaction-norm-minor-2);
	background-color: var(--interaction-norm-minor-2);

	> span {
		z-index: 2;
	}

	&:not([class*='ghost']),
	&.button-for-icon:hover,
	&.button-for-icon:focus-visible {
		background: var(--background-card);
		color: var(--text-norm);
	}

	&:hover,
	&:focus-visible {
		background-color: var(--interaction-norm-minor-1);
	}

	text-decoration: none !important;

	* {
		text-decoration: none !important;
	}
}
