#attachmentArea {
	position: relative;
	z-index: 0; /* dropdowns */
	padding: 0 10px;
	background: $white;
	border-top: 1px solid $border;
	header {
		height: 40px;
		line-height: 40px !important;
		position: relative;
		padding: 0 !important;
		margin-bottom: 0 !important;
		border-bottom: none !important;
		.embedded{
			color:$primary;
		}
	}
	.title {
		position: relative;
		z-index: 2;
		display: inline-block;
		/* background-color: $white;*/
		padding-right: 1rem;
	}
	em {
		position: absolute;
		left: 0;
		right: 0;
		top: 20px;
		height: 1px;
		/* background: $border;*/
		width: 100%;
		display: block;
		z-index: 1;
	}

	.fa.fa-archive-o:before {
	    content: "\f187";
	}
	.fa.fa-audio-o:before {
	    content: "\f1c7";
	}
	.fa.fa-code-o:before {
	    content: "\f1c9";
	}
	.fa.fa-excel-o:before {
	    content: "\f1c3";
	}
	.fa.fa-image-o:before {
	    content: "\f1c5";
	}
	.fa.fa-movie-o:before {
	    content: "\f1c8";
	}
	.fa.fa-pdf-o:before {
	    content: "\f1c1";
	}
	.fa.fa-powerpoint-o:before {
	    content: "\f1c4";
	}
	.fa.fa-word-o:before {
	    content: "\f1c2";
	}

}
