.eventsAttachments-container {
    clear: both;
    padding: .8rem .6rem .4rem;
}

.eventsAttachments-hidden {
    display: none;
}

.eventsAttachments-decrypt {
    opacity: 0.5;
}

.eventsAttachments-download-link {
    line-height: 1;
    height: auto;
    float: right;
}

.eventsAttachments-summary {
    background-position-x: calc(100% - 1em) !important;
    &:hover {
        cursor: pointer;
    }

    &::-webkit-details-marker {
        display: none;
    }
}

.eventsAttachments-container:not(.eventsAttachments-load) .eventsAttachments-placeholder { display: none }

.eventsAttachments-description { white-space: pre-line }

.eventsAttachments-details-table {
    word-break: break-all;
    text-align: left;
    width: 100%;

    tr th {
        width: 120px;
    }

    tr th,
    tr td {
        padding: .4rem 0;
        vertical-align: top;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            padding: .1rem 0;
        }
    }
}
