@media print {

    /* some resets */
    .printModal-body,
    .pm_modal .modal-dialog,
    .printModal-container,
    body {
        position: static;
        margin: 0;
        width: 100%;
        background: #fff!important;
        font-size: 16pt;
    }

    .printMessage-subject-title {
        font-size: 26pt !important;
        font-weight: bold !important;
    }

    /* remove border from modal */
    .pm_modal .modal-dialog {
        border: 0;
    }

    /* Fix a crazy scrollbar display on Edge printing */
    html {
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    /* hide everything else not needed for print */
    body.secure #body, /* app */
    .pm_modal .modal-dialog .close, /* modal close button */
    .pm_modal .modal-dialog .modal-content h4, /* modal text "print preview" */
    .pm_modal .modal-overlay, /* overlay */
    .modal-footer, /* modale footer buttons */
    button.fa.fa-ellipsis-h.pm_button.more, /* more button */
    .noprint /* helper */ {
       display: none !important;
    }

    .protonmail_quote,
    .protonmail_signature_block
    .protonmail_signature_block-user div {
        font-size: 16pt !important;
    }

    /* fix display */
    .pm_modal .modal-dialog .modal-content .modal-body {
        box-shadow: none;
        padding: .5em;
    }
}
