@use 'sass:map';
@import '~@proton/styles/scss/lib';

.orderableHelper {
	z-index: map.get($z-indexes, 'modals');
	color: var(--text-norm);
	background: var(--background-norm);
	border: 1px solid var(--border-norm);
	border-radius: var(--border-radius-lg) !important;
	box-shadow: var(--shadow-lifted);

	&--inModal {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}

	td {
		border: none;
	}
}

@container (max-width: 35rem) {
	.orderableTable {
		tbody {
			tr {
				position: relative;
				padding-inline-start: rem(40);
				margin-block-end: -1px !important;

				&:not(:last-child) {
					border-end-start-radius: 0;
					border-end-end-radius: 0;
				}

				&:not(:first-child) {
					border-start-start-radius: 0;
					border-start-end-radius: 0;
				}
			}

			td:first-child {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				inset-inline-start: var(--space-2);
				padding: 0;
				block-size: calc(100% - var(--space-3) * 2);
				inline-size: rem(24);
			}
		}
	}
}
