@import '~design-system/scss/config/';

.orderableHelper {
	z-index: 666;
	display: flex;
	align-items: center;
	color: var(--text-norm);
	background: var(--background-norm);
	border: solid var(--border-norm);
	border-width: 1px 0;

	/**
     * We replace td with custom class here because we don't have direct access to it.
     * See: https://github.com/ProtonMail/react-components/pull/113/files#r305374317
     */
	td {
		flex: 1;
		border: none;
		height: 100%;
		&:first-child {
			flex-grow: 0;
			flex-basis: rem(35);
		}
	}
}
