@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/em' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints-product;
im.$media-expressions: $media-expressions;

.settings-layout-right {
	min-inline-size: em(240);

	&--toggle-container {
		padding-block-start: 0.4rem; // to get it horizontally centered with text

		@include im.media('<=#{em(820, 16)}') {
			padding-block-start: 0;
		}
	}

	&-fixed-size {
		max-inline-size: em(240);
		@include im.media('<=small') {
			max-inline-size: 100%;
		}
	}
}
