@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/em' as *;
@use '~@proton/styles/scss/lib/include-media' as *;

.settings-layout {
	display: flex;
	flex-wrap: nowrap;
	margin-block-end: 1em;

	@include media('<=#{em(820, 16)}') {
		flex-direction: column;
	}

	&--stack-earlier {
		// value is made to address shared calendar notification issue (will be more widely addressed soon, this is a test case)
		@include media('<=#{em(1020, 16)}') {
			flex-direction: column;
		}
	}
}
