@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/em' as *;
@use '~@proton/styles/scss/lib/include-media' as *;

.settings-layout-left {
	min-inline-size: em(240);
	inline-size: em(240);
	max-inline-size: em(240);
	padding-block-start: 0.5em;
	padding-inline-end: 0.5em;

	&--has-upsell {
		padding-block-start: 0.2em;
	}

	@include media('<=#{em(820, 16)}') {
		inline-size: 100%;
		max-inline-size: none;
		margin-block-end: 0.25rem;
		display: flex;
		flex-direction: column;
	}
}
