RewriteEngine On

# Redirect to https if not coming from https && not forwarded from https && not curl nor any health check user-agent
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
RewriteCond %{HTTP_USER_AGENT} !(^kube-probe|^GoogleHC|^curl)
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect nothing to app
RewriteRule ^$ /index.html [NC,L]
# Redirect all EO requests to the EO bundle
RewriteRule ^eo/.* /eo.html [NC,L]

# Hide .git stuff
RewriteRule ^.*?\.git.* /index.html [NC,L]

RewriteCond %{HTTP_HOST} ^[^\.]+\.(.*)$
RewriteRule ^create/new https://account.%1/signup [R=302,L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteRule ^(.*) /index.html [NC,L]

# Error pages
ErrorDocument 403 /assets/errors/403.html

<Files ~ "(index.html|version.json)">
    FileETag None
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</Files>

<IfModule mod_mime.c>
  AddType application/font-woff2 .woff2
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilter INCLUDES;DEFLATE svg
</IfModule>
