<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="x-dns-prefetch-control" content="off">
    <base href="/">
    <title><%= appName %></title>
    <meta name="google" content="notranslate">
    <link rel="icon" href="/assets/favicon.ico" sizes="any">
    <link rel="icon" href="<%= require('./favicon.svg') %>" type="image/svg+xml">
</head>
<body>
    <div class="app-root"></div>
    <noscript class="app-noscript">
        <%= appName %> requires Javascript. Enable Javascript and reload this page to continue.
    </noscript>
</body>
</html>
