@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/meet/meet-breakpoints' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints;
im.$media-expressions: $media-expressions;

.connection-lost-modal {
	backdrop-filter: blur(10px);

	.reload-button {
		background-color: var(--signal-danger-major-3);

		&:hover,
		&:focus {
			background-color: var(--signal-danger-minor-1);
		}
	}

	.modal-two-dialog-container,
	.modal-two-dialog {
		inline-size: 90%;
		box-shadow: none !important;

		@include im.media('>medium') {
			inline-size: 24.5rem !important;
			block-size: 19.125rem !important;
		}
	}
}
