.toggle-button-body-on {
	background-color: var(--interaction-weak-minor-1);
}

.toggle-button-body-off {
	background-color: var(--signal-danger-major-2);
}

.toggle-button-circle-on {
	background-color: var(--interaction-weak);
}

.toggle-button-circle-off {
	background-color: var(--signal-danger-major-3);
}

.toggle-button-hover-content {
	box-shadow: 0 0.5rem 3rem 0 #0009;
}
