@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/em' as *;
@use '~@proton/styles/scss/lib/rem' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints-product;
im.$media-expressions: $media-expressions;

.publish-banner {
	justify-content: space-between;
	min-block-size: rem(52);

	&.unpublished {
		background-color: color-mix(in srgb, var(--signal-warning) 15%, transparent);

		@include im.media('<=#{em(1024, 16)}') {
			.unpublished-cta {
				flex-shrink: 1;
				justify-content: end;
			}
		}
	}

	&:not(.unpublished) {
		border: 1px solid #e9e7e3;
	}
}

.countries-table {
	margin-block-end: 0;

	tbody {
		tr {
			padding: var(--space-2);
			margin-block-end: var(--space-1);
		}

		tr,
		td {
			border: none;
		}
	}
}

.policy-member-chip {
	block-size: rem(28);
}

.enabled-chip,
.disabled-chip {
	background-color: var(--background-weak);
}

.policy-row-disabled {
	pointer-events: none;
}
