@use '~@proton/styles/scss/lib/rem' as *;

.api-docs-code-block-lang-active {
	background: var(--background-weak);
	font-weight: 600;
}

.api-docs-code-block-pre {
	margin: 0;
	padding-block: 16px;
	padding-inline: 20px;
	overflow-x: auto;
	font-size: rem(13);
	line-height: 1.65;
	background: var(--background-invert);
	color: var(--text-invert);
	max-block-size: min(480px, 70vh);
}

.api-docs-code-block-copy {
	inset-inline-end: 4px;
	inset-block-start: 4px;
}
