.security-checkup-card-container {
	border-radius: var(--border-radius-lg);
	box-shadow: var(--shadow-norm);
}

%icon-background {
	position: absolute;
	inset: 0;
	content: '';
	opacity: 0.08;
	border-radius: var(--border-radius-md);
}

.security-checkup-card {
	text-align: start;
	inline-size: 100%;
	background-color: var(--background-norm);
	border: 1px solid var(--border-weak);
	margin-block-start: -1px;

	&::after {
		border-radius: inherit;
		inset: -1px;
	}

	&:first-child {
		border-start-start-radius: var(--border-radius-lg);
		border-start-end-radius: var(--border-radius-lg);
	}

	&:last-child {
		border-end-start-radius: var(--border-radius-lg);
		border-end-end-radius: var(--border-radius-lg);
	}
}
