.create-meeting-dropdown-button {
	background: var(--interaction-norm);
	color: var(--text-invert);

	&:hover,
	&:focus,
	&:active {
		background: var(--interaction-norm-major-1);
		color: var(--text-invert);
	}
}

.create-meeting-dropdown {
	color: #0f0f0f66 !important;
	border: 1px solid rgb(255 255 255 / 0.08) !important;
	border-radius: var(--border-radius-xxl) !important;

	--selection-background-color: transparent !important;
	--selection-text-color: var(--interaction-norm) !important;

	.dropdown-content {
		color: #0f0f0f66;
	}

	.dropdown-content::before,
	.dropdown-content::after {
		background: #16161fcc;
	}

	.create-meeting-dropdown-menu {
		min-block-size: 2.813rem;
		border-radius: 1rem;
		color: var(--text-weak);
		font-size: 0.875rem;
		font-weight: 500;
		white-space: nowrap;

		&:hover {
			background: var(--interaction-norm-minor-3);
		}
	}
}

.create-meeting-dropdown::before,
.create-meeting-dropdown::after {
	background: #16161fcc !important;
}
