<div class="visionaryColumn-container">
    <header class="visionaryColumn-header">
        <div class="isCurrent" translate-context="Dashboard free plan title" translate>Current Plan</div>
        <h1>Visionary</h1>
        <plan-price data-plan="visionary"></plan-price>
    </header>
    <div class="visionaryColumn-user" translate-context="Dashboard plan information" translate>6 Users</div>
    <div class="visionaryColumn-space" translate-context="Dashboard plan information" translate>20 GB Storage</div>
    <div class="visionaryColumn-address">
        <span translate-context="Dashboard plan information" translate>50 Addresses</span>
        <i
            class="fa fa-info-circle"
            pt-tooltip-translate="Add additional addresses to your account like <u>username2@protonmail.com</u>"
            pt-tooltip-translate-context="Dashboard plan detail"
            pt-html="true"></i>
    </div>
    <div class="visionaryColumn-domain">
        <span translate-context="Dashboard plan information" translate>10 Custom Domains</span>
        <i
            class="fa fa-info-circle"
            pt-tooltip-translate="Allows you to host emails for your own domain(s) at ProtonMail, e.g. <u>john.smith@example.com</u>"
            pt-tooltip-translate-context="Dashboard plan detail"
            pt-html="true"></i>
    </div>
    <div class="visionaryColumn-sending">
        <span translate-context="Dashboard plan information"  translate>Unlimited sending</span>
        <i
            class="fa fa-info-circle"
            pt-tooltip-translate-context="Tooltip"
            pt-tooltip-translate="ProtonMail cannot be used for mass emailing or spamming. Legitimate emails are unlimited."></i>
    </div>
    <div class="visionaryColumn-labels" translate-context="Dashboard plan information" translate>Unlimited Folders / Labels</div>
    <div class="visionaryColumn-support" translate-context="Dashboard plan information" translate>Priority Support</div>
    <div class="visionaryColumn-filters" translate-context="Dashboard plan information" translate>Custom Filters</div>
    <div class="visionaryColumn-autoresponder" translate-context="Dashboard plan information" translate>Autoresponder</div>
    <div class="visionaryColumn-catch-all" translate-context="Dashboard plan information" translate>Catch-all email</div>
    <div class="visionaryColumn-members" translate-context="Dashboard plan information" translate>Multi-User Support</div>
    <div class="visionaryColumn-vpn" translate-context="Dashboard plan information" translate>ProtonVPN Visionary included</div>
    <total-rows data-plan="visionary"></total-rows>
    <footer class="visionaryColumn-footer">
        <select-plan data-plan="visionary"></select-plan>
    </footer>
</div>
