<div class="vpnSlider-container pm_grid">
    <div class="col-1-3">
        <label translate-context="Label for vpn form" translate>Number of connections</label>
        <i
            class="fa fa-info-circle"
            pt-tooltip-translate-context="Tooltip"
            pt-tooltip-translate="Number of VPN connections which can be assigned to users."></i>
        <strong class="vpnSlider-count"></strong>
    </div>
    <div class="col-2-3">
        <slider data-value="value" data-options="options"></slider>
        <p class="vpnSlider-vpnbasic-info">
            <i class="fa fa-info-circle"></i> <span translate-context="Information for the custom vpn modal" translate>Need more connections?</span> <a href="#" data-action="vpnplus" translate-context="Link for the custom vpn modal" translate>Upgrade to ProtonVPN Plus</a>
        </p>
        <p class="vpnSlider-vpnplus-info">
            <i class="fa fa-info-circle"></i> <span translate-context="Information for the custom vpn modal" translate>Each connected device consumes one VPN connection.</span>
        </p>
    </div>
</div>
