@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/rem' as *;
@use '~@proton/styles/scss/lib/em' as *;
@use '~@proton/styles/scss/lib/easing' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints-product;
im.$media-expressions: $media-expressions;

.drawer-sidebar {
	min-inline-size: rem(46);
	overflow: hidden auto;

	&-button {
		block-size: rem(36);
		inline-size: rem(36);
		border: 1px solid transparent;
		background-color: var(--interaction-default);
		display: flex;
		align-items: center;
		justify-content: center;
		animation: anime-sidebar-button-appear-in 0.5s calc(var(--index, 0) * 75ms) easing(ease-out-quint) both;

		@keyframes anime-sidebar-button-appear-in {
			from {
				translate: 1em;
				opacity: 0;
			}

			to {
				translate: 0;
				opacity: 1;
			}
		}

		&:hover,
		&:focus {
			background-color: var(--interaction-default-hover);
		}

		&:active,
		&.is-active {
			.user-initials {
				background-color: var(--interaction-default-active);
			}
		}

		&--notification {
			.notification-dot {
				inline-size: rem(8);
				block-size: rem(8);
				position: absolute;
				inset-inline-end: rem(8);
				inset-block-start: rem(8);
			}
		}
	}

	&--hide-on-tablet,
	&--drawer-app-opened {
		@include im.media('<=#{em($breakpoint-for-drawer, 16)}') {
			display: none;
		}
	}
}
