@import '~@proton/styles/scss/proton-wallet';

.light-gradient-card {
	border: solid 1px var(--background-weak);
	background: linear-gradient(180deg, var(--background-weak) 0%, var(--background-norm) 100%);
}

.colored-gradient-card {
	background: radial-gradient(
		144.47% 427.41% at -10.4% 170.75%,
		var(--interaction-norm) 0%,
		var(--interaction-norm-minor-1) 37.43%,
		var(--signal-warning) 100%
	);
}

.full-height-content {
	> div {
		block-size: 100%;
	}
}
