@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints-product;
im.$media-expressions: $media-expressions;

.ReferralPlanIcon {
	--icon-border-color: rgb(109 74 255 / 0.1);
	--name-color: var(--text-norm);
	--name-background: transparent;
	--icon-scale: 1;
	--icon-image-scale: 1;
	--icon-opacity: 1;

	&-icon {
		border: 1px solid var(--icon-border-color);
		transition: all 0.25s ease;
		border-radius: 27%;
		transform: scale(var(--icon-scale));
		opacity: var(--icon-opacity);

		img {
			transition: all 0.25s ease;
			transform: scale(var(--icon-image-scale));
			transform-origin: center;
		}
	}

	&-name {
		transition: all 0.3s ease;
		background-color: var(--name-background);
		transform: scale(1);
	}

	&:hover,
	&:focus-visible {
		&:not(.ReferralPlanIcon--selected) {
			--icon-scale: 1.05;
			--icon-image-scale: 1.05;
			--icon-border-color: rgb(109 74 255 / 0.5);
			--name-color: var(--primary);
			--name-background: var(--interaction-norm-minor-2);
			--icon-opacity: 1;
		}
	}

	&--selected {
		--icon-scale: 1.1;
		--icon-image-scale: 1.05;
		--icon-border-color: rgb(109 74 255);
		--name-color: var(--norm);
		--name-background: var(--background-norm);
		--icon-opacity: 1;
	}
}
