/* stylelint-disable selector-type-no-unknown */
@import './reset';

protonpass-root {
	@include reset;

	position: absolute !important;
	inline-size: 100% !important;
	border: 0 !important;
	z-index: unset !important;
	inset: unset !important;
	inset-block-start: 0 !important;
	inset-inline-start: 0 !important;
	block-size: 0 !important;
}

protonpass-control {
	@include reset;

	pointer-events: none;
	position: absolute !important;

	/* force reset element */
	margin: 0 !important;
	opacity: 1;
	z-index: unset !important;
	order: 0 !important;
	block-size: 0 !important;
	inline-size: 0 !important;
	/* stylelint-disable-next-line */
	float: left !important;
	animation: none !important;

	/* if parent display: flex */
	flex: 0 0 0;

	/* if parent display: grid */
	grid-row: auto / span 1 !important;
	grid-column: auto / span 1 !important;

	> input {
		pointer-events: all;
	}
}
