.participant-tile-body {
	overflow: hidden;
	aspect-ratio: 16 / 9;
}

.participant-tile-body__video {
	display: block;
	object-fit: cover;
}

.gradient-overlay {
	background-image: linear-gradient(180deg, rgb(0 0 0 / 0) 52.27%, rgb(0 0 0 / 0.6) 100%);
}
