<p class="alert alert-danger">
    <span translate>Due to a password change, your organization administrator privileges have been restricted. The following actions are no longer permitted:</span><br />
    <br />
    <span translate>* Creating new sub-users</span><br />
    <span translate>* Reading emails of non-private subusers</span><br />
</p>
<p>
    <button ng-click="restore()" class="pm_button" type="button" translate-context="Action" translate>Restore administrator privileges</button>
    <a href="https://protonmail.com/support/knowledge-base/business/" target="_blank" class="pm_button link" translate-context="Link" translate>Learn more</a>
</p>
