$tooltip-width: 14em !default;
$arrow-width: 0.5em !default;
$tooltip-bg-color: var(--bgcolor-tooltip, $black) !default;

/* basic tooltip styles */
.tooltip {
  position: fixed;
  z-index: 666;
  min-width: $arrow-width;
  max-width: $tooltip-width;
  border-radius: $global-border-radius;
  background: $tooltip-bg-color;
  color: $pm-global-light;
  padding: .5em .75em;
  text-align: center;
  word-break: break-word;
}

.tooltip--top-left {
  border-bottom-left-radius: 0;
}
.tooltip--top-right {
  border-bottom-right-radius: 0;
}
.tooltip--bottom-left {
  border-top-left-radius: 0;
}
.tooltip--bottom-right {
  border-top-right-radius: 0;
}
.tooltip--left-bottom {
  border-bottom-right-radius: 0;
}
.tooltip--right-bottom {
  border-bottom-left-radius: 0;
}
.tooltip--left-top {
  border-top-right-radius: 0;
}
.tooltip--right-top {
  border-top-left-radius: 0;
}

/* pseudo-element to make arrows */
.tooltip::before {
  content: "";
  speak: none;
  position: absolute;
  z-index: 666;
  width: $arrow-width;
  height: $arrow-width;
  pointer-events: none;
  border: $arrow-width solid transparent;
}

.tooltip--top::before,
.tooltip--top-left::before,
.tooltip--top-right::before {
  top: 100%;
  border-top: $arrow-width solid $tooltip-bg-color;
}
.tooltip--bottom::before,
.tooltip--bottom-left::before,
.tooltip--bottom-right::before {
  bottom: 100%;
  border-bottom: $arrow-width solid $tooltip-bg-color;
}
.tooltip--right::before,
.tooltip--right-top::before,
.tooltip--right-bottom::before {
  left: -#{$arrow-width * 2};
  border-right: $arrow-width solid $tooltip-bg-color;
}
.tooltip--left::before,
.tooltip--left-top::before,
.tooltip--left-bottom::before {
  right: -#{$arrow-width * 2};
  border-left: $arrow-width solid $tooltip-bg-color;
}

.tooltip--top::before,
.tooltip--bottom::before {
  left: calc(50% - #{$arrow-width});
}
.tooltip--top-left::before,
.tooltip--bottom-left::before {
  left: 0;
}
.tooltip--top-right::before,
.tooltip--bottom-right::before {
  right: 0;
}

.tooltip--left::before,
.tooltip--right::before {
  top: calc(50% - #{$arrow-width});
}
.tooltip--left-top::before,
.tooltip--right-top::before {
  top: 0;
}
.tooltip--left-bottom::before,
.tooltip--right-bottom::before {
  bottom: 0;
}


// colored versions
.tooltip--success {
	--bgcolor-tooltip: #{$pm-global-success};
}
.tooltip--warning {
	--bgcolor-tooltip: #{$pm-global-warning};
}
.tooltip--attention {
	--bgcolor-tooltip: #{$pm-global-attention};
}

// contrasts
.tooltip--attention {
	color: $black;
}

