@use 'sass:map';
@use 'sass:math';
@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/rem' as *;

.UpsellMultiBox {
	&-style {
		&-promotionGradient {
			background: linear-gradient(0deg, var(--promotion-background-start) 0%, var(--promotion-background-end) 100%);
		}
	}

	&-gradient-vpn {
		background: linear-gradient(0deg, transparent 0%, rgba(1 225 183 / 0.15) 84.85%);
	}

	&-gradient-unlimited {
		background: linear-gradient(0deg, var(--promotion-background-start) 0%, var(--promotion-background-end) 100%);
	}

	&-gradient-unlimited-to-white {
		background: linear-gradient(0deg, transparent 0%, var(--promotion-background-start) 100%);
	}

	&-popover {
		position: fixed;
		z-index: map.get($z-indexes, 'up');
		min-inline-size: rem(200);
		transform: scale(1);
		animation: 0.15s ease-out both anime-upsell-multibox-popover-in;
	}

	&-product-cards {
		background-color: rgb(from var(--background-norm) r g b / 0.5);
		transition: background-color 0.15s ease-out;

		&:hover {
			background-color: var(--background-norm);
		}
	}
}

@keyframes anime-upsell-multibox-popover-in {
	from {
		transform: translate(0, 2rem) scale(0.75);
		opacity: 0;
	}

	to {
		transform: translate(0, 0) scale(1);
		opacity: 1;
	}
}
