<div class="emailBlockList-container">
    <header-block data-level="2" class="settingsLabels-header-blocklist">
        <h2
            class="settingsLabels-title-blocklist margin-bottom email-block-list-name">{{::filterName}}</h2>
        <email-block-button data-target-list="{{::listType}}"></email-block-button>
    </header-block>

    <div>
        <p class="alert alert-info" translate translate-context="Info" ng-show="entries.length === 0"></p>

        <ul class="emailBlockList-list" ng-class="{ empty: entries.length === 0 }">
            <li
                ng-repeat="entry in entries track by entry.ID"
                class="emailBlockList-row">
                <div class="emailBlocklist-row-value">{{ ::entry.Email }}</div>
                <div class="emailBlocklist-row-actions">
                    <button
                        data-entry-id="{{ ::entry.ID }}"
                        class="pm_button link emailBlockList-btn-switch"
                        pt-tooltip-translate="Move item to the other list">
                        <i class="fa fa-arrows-h"></i>
                    </button>
                    <button
                        data-entry-id="{{ ::entry.ID }}"
                        class="pm_button link emailBlockList-btn-delete"
                        pt-tooltip-translate="Remove item from the list">
                        <i class="fa fa-times text-red"></i>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>
