RewriteEngine On

# Exclude the bots we want to support
RewriteCond %{HTTP_USER_AGENT} !(Applebot|Twitterbot|facebookexternalhit|Facebot|FB_IAB) [NC]

# Detect unsupported browsers
# IE, Edge (non-Chromium), Chrome < 73, Firefox < 68, Safari < 14
# The unsupported version do not support crypto & BigInt
RewriteCond %{HTTP_USER_AGENT} "MSIE [1-11]" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Trident/7\.0" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Edge/[0-9]{2}\." [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Chrome/([0-6][0-9]|7[0-2])\." [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Firefox/([0-5][0-9]|6[0-7])\." [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "(Safari.*Version/(1[0-3]|[0-9])(\.[0-9]+)*\b.*|Version/(1[0-3]|[0-9])(\.[0-9]+)*\b.*Safari)" [NC]
RewriteCond %{REQUEST_URI} !/assets/unsupported\.html
RewriteCond %{REQUEST_URI} !^/assets/ [NC]
RewriteRule ^(.*)$ /assets/unsupported.html [L]

# Redirect to https if not coming from https && not forwarded from https && not curl nor any health check user-agent
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
RewriteCond %{HTTP_USER_AGENT} !(^kube-probe|^GoogleHC|^curl)
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Ignore any requests to the assets folder, to avoid the index.html fallback and return 404 there
RewriteRule ^assets/ - [L]

# Redirect nothing to app
RewriteRule ^$ /index.html [NC,L]

# Hide .git stuff
RewriteRule ^.*?\.git.* /index.html [NC,L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

# All shared URLs pages use version with noindex meta tag
RewriteRule ^urls\/(.*)$ /urls.html [NC,L]
# TODO: DRVWEB-4470 Enable /photos rewrite rule RewriteRule ^photos\/(.*)$ /photos.html [NC,L]

# Easy switch
RewriteRule ^oauth/callback /oauth.html [L]

RewriteRule ^(.*) /index.html [NC,L]

ErrorDocument 404 /assets/404.html

<Files ~ "(index.html|urls.html|version.json)">
    FileETag None
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</Files>

<Files "urls.html">
    Header set X-Robots-Tag "noindex"
</Files>

# The download service worker gets chunk hash appended to the end of the filename
<Files ~ "^downloadSW">
  Header set Service-Worker-Allowed "/"
  Header set Service-Worker "script"
</Files>

<IfModule mod_deflate.c>
  AddOutputFilter INCLUDES;DEFLATE svg
</IfModule>

# Browser should cache assets for 14 days
<FilesMatch ".(js|css)$"> 
  Header set Cache-Control "max-age=1209600, public" 
</FilesMatch>

# Browser should cache wasm for 30 days
# We force application/wasm type for .wasm extensions
<FilesMatch "\.wasm$">
    Header set Cache-Control "max-age=2592000, public"
    AddType application/wasm .wasm
</FilesMatch>