<span class="pm_buttons">
    <a href="#" class="ng-isolate-scope" ng-click="select(primary)" ng-class="{'disabled': disable}">
        <i class="fa {{ primary.icon }}"></i>
    </a>
    <a href="#" class="divider pm_trigger" dropdown ng-class="{'disabled': disable}">
        <i class="fa fa-angle-down"></i>
    </a>
    <span class="pm_dropdown">
        <a href="#" ng-repeat="action in actions" ng-click="select(action)" ng-hide="action === primary">
            <i class="fa {{ action.icon }}"></i> {{ action.text }}
        </a>
    </span>
</span>
