<div class="labelDropdown">
    <form novalidate autocomplete="off" role="menu" ng-submit="save()" ng-click="$event.stopPropagation()" class="pm_form">
        <p ng-show="!labels.length" class="alert alert-info" translate translate-context="Info">No labels</p>
        <div ng-show="labels.length" class="labelSearch pm-flex-content-row alignItemsCenter">
            <span>
                <i class="fa fa-search"></i>
            </span>
            <input class="labelSearchInput pm-flex-content-fillWidth" type="search" id="searchLabels" placeholder-translate="Filter labels" ng-model="searchLabels" ng-minlength="1" />
        </div>
        <div class="labelDropdown-item-fullwidth scrollbox" ng-show="labels.length > 0">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="label in (filteredLabels = (labels | filter: {Name: searchLabels} | orderBy: 'Order'))">
                    <label>
                        <input type="checkbox" ng-model="label.Selected" class="dropdownLabels-input-label" ui-indeterminate="label.Selected === null">
                        <i class="fa fa-tag" ng-style="color(label)" ng-show="alsoArchive" ng-click="moveTo(label)" pt-tooltip-translate="Apply label and archive"></i>
                        <i class="fa fa-tag" ng-style="color(label)" ng-hide="alsoArchive" ng-click="moveTo(label)" pt-tooltip-translate="Apply label"></i>
                        <span class="label label-pm" title="{{ label.Name }}">{{ label.Name }}</span>
                    </label>
                </li>
                <li class="list-group-item-empty" ng-show="filteredLabels.length === 0" translate translate-context="Info">
                    no label found
                </li>
            </ul>
        </div>
        <create-label class="labelDropdown-item-fullwidth" label-name="searchLabels"></create-label>
        <label ng-show="labels.length > 0" class="labelDropdown-item-fullwidth text-right alsoArchive">
            <span translate translate-comment="Form checkbox option" class="pull-left">Also Archive</span>
            <input type="checkbox" ng-model="alsoArchive" ng-change="changeAlsoArchive()" class="dropdownLabels-input-archive" />
        </label>
        <button
            type="submit"
            class="pm_button primary fullwidth dropdownLabels-btn-save"
            ng-show="labels.length > 0"
            tabindex="1"
            ng-disabled="networkActivity.loading()"
            translate-context="Action"
            translate>Apply</button>
    </form>
</div>
