<span ng-show="('secured.starred.**' | includedByState) || ('secured.search.**' | includedByState) || ('secured.label.**' | includedByState)">
    <span class="pm_tag" ng-show="conversation.LabelIDs.indexOf('0') !== -1 && ('secured.search.**' | includedByState)">{{ 'INBOX' | translate }}</span>
    <span class="pm_tag" ng-show="conversation.LabelIDs.indexOf('1') !== -1 && ('secured.search.**' | includedByState)">{{ 'DRAFT' | translate }}</span>
    <span class="pm_tag" ng-show="conversation.LabelIDs.indexOf('2') !== -1 && ('secured.search.**' | includedByState)">{{ 'SENT' | translate }}</span>
    <span class="pm_tag" ng-show="conversation.LabelIDs.indexOf('3') !== -1 && ('secured.search.**' | includedByState)">{{ 'TRASH' | translate }}</span>
    <span class="pm_tag" ng-show="conversation.LabelIDs.indexOf('4') !== -1 && ('secured.search.**' | includedByState)">{{ 'SPAM' | translate }}</span>
    <span class="pm_tag" ng-show="conversation.LabelIDs.indexOf('5') !== -1 && ('secured.search.**' | includedByState)">{{ 'ARCHIVE' | translate }}</span>
</span>