<form
    method="post"
    id="pm_login"
    class="pm_panel alt pm_form"
    novalidate role="form"
    autocomplete="on"
    ng-submit="login()"
    onsubmit="return false"
    action="login">

    <img src="assets/img/logo.png" height="20" alt="ProtonMail" class="logo" />

    <h4 class="text-center margin-bottom">
        <i class="fa fa-user title-icon"></i> <span translate-context="Title" translate>User login</span>
    </h4>

    <div class="alert alert-danger" id="error521" ng-if="error">{{ error.message }}</div>

    <input autofocus autocapitalize="off" autocorrect="off" type="text" ng-model="username" tabindex="1" id="username" name="username" placeholder-translate="Username" class="margin" required="" />

    <input maxlength="{{ ::maxPW }}" autocapitalize="off" autocorrect="off" type="password" ng-model="password" tabindex="2" id="password" name="password" class="margin" required="" placeholder-translate="Password" />

    <div class="clearfix">
        <a class="pm_button link pull-left" ng-click="getLoginHelp()" translate-context="Action" translate-comment="link for login help" translate>Need help?</a>
        <button id="login_btn" type="submit" tabindex="3" class="pm_button primary pull-right" ng-class="{disabled: networkActivity.loading()}" translate-context="Action" translate>Login</button>
    </div>

    <input type="hidden" id="hashed_pw" name="hashed_pw" />

</form>
