<div class='angular-squire'>
    <div class='editor-container'>
        <ul class="squire-toolbar menu">
            <li class="bold">
                <a href="#" pt-tooltip="{{ 'BOLD' | translate }}" ng-click="action('bold')">
                    <i class="fa fa-bold"></i>
                </a>
            </li>
            <li class="italic">
                <a href="#" pt-tooltip="{{ 'ITALIC' | translate }}" ng-click="action('italic')">
                    <i class="fa fa-italic"></i>
                </a>
            </li>
            <li class="underline">
                <a href="#" pt-tooltip="{{ 'UNDERLINE' | translate }}" ng-click="action('underline')">
                    <i class="fa fa-underline"></i>
                </a>
            </li>
            <li class="separator"></li>
            <li class="ulist">
                <a href="#" pt-tooltip="{{ 'UNORDERED_LIST' | translate }}" ng-click="action('makeUnorderedList')">
                    <i class="fa fa-list-ul"></i>
                </a>
            </li>
            <li class="olist">
                <a href="#" pt-tooltip="{{ 'ORDERED_LIST' | translate }}" ng-click="action('makeOrderedList')">
                    <i class="fa fa-list-ol"></i>
                </a>
            </li>
            <li class="separator"></li>
            <li class="aleft">
                <a href="#" pt-tooltip="{{ 'ALIGN_LEFT' | translate }}" ng-click="action('alignLeft')">
                    <i class="fa fa-align-left"></i>
                </a>
            </li>
            <li class="acenter">
                <a href="#" pt-tooltip="{{ 'ALIGN_CENTER' | translate }}" ng-click="action('alignCenter')">
                    <i class="fa fa-align-center"></i>
                </a>
            </li>
            <li class="aright">
                <a href="#" pt-tooltip="{{ 'ALIGN_RIGHT' | translate }}" ng-click="action('alignRight')">
                    <i class="fa fa-align-right"></i>
                </a>
            </li>
            <li class="separator"></li>
            <li class="link">
                <a href="#" pt-tooltip="{{ 'INSERT_LINK' | translate }}" ng-click="popoverShow($event, 'makeLink')">
                    <i class="fa fa-link"></i>
                </a>
            </li>
            <li class="image">
                <a href="#" ng-disabled="isPlain()" pt-tooltip="{{ 'INSERT_IMAGE' | translate }}" ng-click="popoverShow($event, 'insertImage')">
                    <i class="fa fa-image"></i>
                </a>
            </li>
        </ul>
        <div class="squire-popover makeLink" style="display: none;">
            <div class="arrow"></div>
            <div class="content">
                <div class="panel">
                    <input type="text" autocomplete="off" placeholder="{{ 'LINK_URL' | translate }}" ng-model="data.link" ng-keydown="popoverHide($event, 'makeLink')" />
                </div>
                <button ng-show="canRemoveLink()" ng-click="popoverHide($event, 'removeLink')">
                    {{ 'REMOVE_LINK' | translate }}
                </button>
                <button ng-show="canRemoveLink()" ng-class="{disabled: !canAddLink()}" ng-click="popoverHide($event, 'makeLink')">
                    {{ 'UPDATE_LINK' | translate }}
                </button>
                <button class="btn primary" ng-hide="canRemoveLink()" ng-class="{disabled: !canAddLink()}" ng-click="popoverHide($event, 'makeLink')">
                    {{ 'INSERT_LINK' | translate}}
                </button>
            </div>
        </div>
        <div class="squire-popover insertImage" style="display: none;">
            <div class="arrow"></div>
            <div class="content">
                <div class="panel">
                    <input type="text" autocomplete="off" placeholder="{{ 'URL_TO_IMAGE' | translate }}" ng-model="data.image" ng-keydown="popoverHide($event, 'insertImage')" />
                </div>
                <button class="btn primary" ng-click="popoverHide($event, 'insertImage')" ng-class="{disabled: !canAddImage()}">
                    {{ 'INSERT_IMAGE' | translate }}
                </button>
            </div>
        </div>
        <div class='angular-squire-wrapper'>
            <iframe frameborder='0' border='0' marginwidth='0' marginheight='0' src='about:blank' sandbox="allow-same-origin allow-scripts allow-popups" class="squireIframe"></iframe>
        </div>
    </div>
    <ng-transclude></ng-transclude>
</div>
