<div class='angular-squire'>
    <div ng-class="{'editor-hide': !isEditorVisible()}" class='editor-container'>
        <ul class="squire-toolbar">
            <li>
                <a href="" class="btn btn-sm" ng-disabled="isPlain()" pt-tooltip="Bold" ng-click="action('bold')">
                    <i class="fa fa-bold"></i>
                </a>
            </li>
            <li>
                <a href="" class="btn btn-sm" ng-disabled="isPlain()" pt-tooltip="Italic" ng-click="action('italic')">
                    <i class="fa fa-italic"></i>
                </a>
            </li>
            <li>
                <a href="" class="btn btn-sm" ng-disabled="isPlain()" pt-tooltip="Underline" ng-click="action('underline')">
                    <i class="fa fa-underline"></i>
                </a>
            </li>
            <li class="separator"></li>
            <li>
                <a href="" class="btn btn-sm" ng-disabled="isPlain()" pt-tooltip="Unordered List" ng-click="action('makeUnorderedList')">
                    <i class="fa fa-list-ul"></i>
                </a>
            </li>
            <li>
                <a href="" class="btn btn-sm" ng-disabled="isPlain()" pt-tooltip="Ordered List" ng-click="action('makeOrderedList')">
                    <i class="fa fa fa-list-ol"></i>
                </a>
            </li>
            <li class="separator"></li>
            <li>
                <a href="" class="btn btn-sm" ng-disabled="isPlain()" pt-tooltip="Insert Link" ng-click="popoverShow($event)">
                    <i class="fa fa-link"></i>
                    <div class="squire-popover">
                        <div class="arrow"></div>
                        <div class="content">
                            <div class="panel">
                                <input type="text" id="edit-link" autocomplete="off" placeholder="Link URL" ng-model="data.link" ng-keydown="popoverHide($event, 'makeLink')" class="form-control" />
                            </div>
                            <button class="btn btn-sm" ng-show="canRemoveLink()" ng-click="popoverHide($event, 'removeLink')">
                                Remove Link
                            </button>
                            <button class="btn btn-sm" ng-show="canRemoveLink()" ng-class="{disabled: !canAddLink()}" ng-click="popoverHide($event, 'makeLink')">
                                Update Link
                            </button>
                            <button class="btn btn-sm btn-primary" ng-hide="canRemoveLink()" ng-class="{disabled: !canAddLink()}" ng-click="popoverHide($event, 'makeLink')">
                                Insert Link
                            </button>
                        </div>
                        <div class="squire-popover-overlay" ng-click="popoverHide($event, 'makeLink')"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="btn btn-sm" ng-disabled="isPlain()" pt-tooltip="Insert Image" ng-click="popoverShow($event)">
                    <i class="fa fa-image"></i>
                    <div class="squire-popover">
                        <div class="arrow"></div>
                        <div class="content">
                            <div class="panel">
                                <input type="text" autocomplete="off" placeholder="URL to image" ng-model="data.image" ng-keydown="popoverHide($event, 'insertImage')" class="form-control" />
                            </div>
                            <button class="btn btn-sm btn-primary" ng-click="popoverHide($event, 'insertImage')" ng-class="{disabled: !canAddImage()}">
                                Insert Image
                            </button>
                        </div>
                        <div class="squire-popover-overlay" ng-click="popoverHide($event, 'insertImage')"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="btn btn-sm btn-options" ng-class="{'active': message.displayPanel && message.panelName == 'attachments'}" pt-tooltip="Attachments" ng-click="$parent.togglePanel(message, 'attachments')">
                    <i class="fa fa-paperclip"></i>
                </a>
            </li>
            <li class="separator"></li>
            <li>
                <a href="" class="btn btn-sm btn-options" ng-class="{'active': message.displayPanel && message.panelName == 'encrypt'}" pt-tooltip="Encryption" ng-click="$parent.togglePanel(message, 'encrypt')">
                    <i class="fa fa-lock"></i>
                </a>
            </li>
            <li>
                <a href="" class="btn btn-sm btn-options" ng-class="{'active': message.displayPanel && message.panelName == 'expiration'}" pt-tooltip="Expiration" ng-click="$parent.togglePanel(message, 'expiration')">
                    <i class="fa fa-clock-o" id="clock-icon"></i>
                </a>
            </li>
            <li class="separator"></li>
            <li class="relative">
                <a href="" class="btn btn-sm btn-options dropdown-toggle" pt-tooltip="{{ 'MORE' | translate }}" data-toggle="dropdown">
                    <i class="fa fa-ellipsis-h"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-show="isHtml()">
                        <a href="" ng-click="switchTo('plain')">Plain text</a>
                    </li>
                    <li ng-show="isPlain()">
                        <a href="" ng-click="switchTo('html')">HTML</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class='angular-squire-wrapper' ng-style='{width: width, height: height}' ng-show="isHtml()" >
            <iframe frameborder='0' border='0' marginwidth='0' marginheight='0' src='about:blank' sandbox="allow-same-origin allow-popups"></iframe>
        </div>
        <textarea ng-model="ngModel" ng-show="isPlain()" style="height: {{height}};"></textarea>
    </div>
    <ng-transclude></ng-transclude>
</div>
