<div class="dropdown-folder-container">

    <div class="flex flex-items-center pr1">
        <div class="dropdown-label-title p1 flex-item-fluid">
            <p class="dropdown-label-title-hasLabels m0 bold" translate translate-context="title">Move to</p>
        </div>
        <div class="flex-item-noshrink">
            <button
                type="button"
                pt-tooltip-translate-params-search="searchValue"
                pt-tooltip-translate="Create folder"
                pt-tooltip-translate-context="Action"
                class="pm-button--primary pm-button--small pm-button--for-smallicon no-pointer-events-children dropdown-folder-create-button">
                <icon data-name="folder" data-fill="global-light"></icon>
                +
                <span class="sr-only" translate translate-context="Action">Create folder</span>
            </button>
        </div>

    </div>

    <label class="flex flex-spacebetween mb1 pl1 pr1">
        <div>
            <input
                class="dropdown-folder-search-input pm-field"
                type="search"
                placeholder-translate="Filter folders"
                placeholder-translate-context="Placeholder"
                ng-model="searchValue"
                ng-minlength="1">
        </div>
    </label>

    <ul class="dropDown-contentInner unstyled mt0-5 mb0-5 pb1">
        <li
            class="dropDown-item alignleft"
            ng-repeat="label in (filteredLabels = (labels | filter: {Name: searchValue})) track by label.ID">

            <button class="w100 flex pt0-5 pb0-5 dropDown-logout-button no-pointer-events-children" data-folder-id="{{ ::label.ID }}">
                <div class="flex w100">
                    <icon
                        data-name="folder"
                        class="mr0-5 mtauto mbauto dropdown-label-scrollbox-label-icon"
                        ng-style="::color(label, 'fill')"></icon>
                    <span class="ellipsis alignleft mw80">{{ ::label.Name }}</span>
                </div>
            </button>
        </li>

        <li
            class="dropDown-item"
            ng-repeat="label in (filteredLabels2 = (mailboxes | filter: {Name: searchValue})) track by label.ID">

            <button class="w100 flex pt0-5 pb0-5 dropDown-logout-button no-pointer-events-children" data-folder-id="{{ ::label.ID }}">
                <div class="flex w100">
                    <icon
                        data-name="{{::label.icon}}"
                        class="mr0-5 mtauto mbauto dropdown-label-scrollbox-label-icon"></icon>
                    <span class="ellipsis alignleft">{{ ::label.Name }}</span>
                </div>
            </button>
        </li>

        <li
            class="dropDown-item "
            ng-if="!filteredLabels.length && !filteredLabels2.length"
            translate
            translate-context="Info">no folder found</li>
    </ul>
</div>
