<div class="folderSelectorDropdown-container flex">
    <dropdown-container>
        <dropdown-button
            pt-tooltip-translate="Move to"
            pt-tooltip-translate-context="Action toolbar">
            <icon data-name="folder" class="mauto no-pointer-events folderSelectorDropdown-icon"></icon>
            <icon data-name="caret" class="mauto no-pointer-events folderSelectorDropdown-icon"></icon>
            <span class="sr-only" translate-context="Action toolbar" translate>Move to</span>
        </dropdown-button>

        <dropdown-content>
            <dropdown-folders data-message="message"></dropdown-folders>
        </dropdown-content>
    </dropdown-container>
</div>
