<div class="labelSelectorDropdown-container">
    <dropdown-container>
        <dropdown-button
            pt-tooltip-translate="Label as"
            pt-tooltip-translate-context="Action toolbar">
            <icon data-name="label" data-size="16" class="mauto toolbar-icon"></icon>
            <icon data-name="caret" data-size="16" class="mauto toolbar-icon"></icon>
            <span class="sr-only" translate-context="Action toolbar" translate>Label as</span>
        </dropdown-button>

        <dropdown-content>
            <dropdown-labels data-message="message"></dropdown-labels>
        </dropdown-content>
    </dropdown-container>
</div>
