@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/include-media' as im with (
	$breakpoints: $breakpoints-product,
	$media-expressions: $media-expressions
);

.schedule-meeting-options {
	background-color: var(--background-card);
	border-width: 1px;
	border-style: solid;
	border-color: var(--border-weak);

	&-upsell {
		background:
			linear-gradient(90deg, rgb(255 180 119 / 0) 0%, rgb(255 140 252 / 0.08) 60%, rgb(175 175 255 / 0.28) 100%),
			#212032;
		box-shadow: 0 6px 24px 0 rgb(255 140 252 / 0.15);
	}
}
