@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints-product;
im.$media-expressions: $media-expressions;

.eo-message-header {
	&#{&} {
		border-radius: 0;

		@include im.media('>small') {
			.message-banners-container {
				> * {
					margin-block-end: 0.85em;
					margin-inline-end: 0.85em;
				}
			}
		}

		.message-recipient-item-expanded-content {
			padding-block-start: 0.5em;
		}

		.message-recipient-expanded .message-recipient-item-expanded-content {
			padding-block-start: 0.2em;
		}
	}
}
