.topnav-link {
  border: 1px solid transparent;
  padding: 1rem;
  color: var(--color-nav-link, $white);
  &:focus,
  &:hover,
  &:active,
  &[aria-current="true"] {
    color: var(--color-nav-active, $pm-blue);
    text-decoration: none;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
    
    > .topnav-icon {
      fill: var(--color-nav-active, $pm-blue);
    }
  }
  &[aria-current="true"] {
    border-color: var(--color-nav-active, $pm-blue);
    box-shadow: none;
    font-weight: bold;
  }
  & > svg {
  fill: var(--fillcolor-icons, $white);
  }
}

@if $rtl-option == true {
  [dir="rtl"] {
    .topnav-icon { 
      margin-right: 0;
      margin-left: .5em;
    }
  }
}


