/*
 * subnavigation
 */

.subnav {
  width: var(--width-subnav, $subnav-width);
  background: var(--bgcolor-subnav, $pm-global-light);
}
.subnav-inner {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 2em;
}
.subnav-link {
  @extend .nodecoration;
  color: var(--color-subnav-link, $pm-global-grey);
  &:focus,
  &:hover {
    color: var(--color-subnav-link, $pm-global-grey);
  }
}
[aria-current="true"].subnav-link {
  font-weight: bold;
}