.dropDown-logout-button {
  color: var(--color-nav-link, $white);
  .expand-caret {
    display: none;
  }
  &:focus,
  &:hover,
  &[aria-expanded="true"] {
    .expand-caret {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .dropDown-logout-text {
      opacity: 0;
    }
  }
}

.dropDown-logout-displayName {
  max-width: 15em;
}
.dropDown-logout-email {
  font-size: 1rem;
}
.dropDown-logout-initials {
  border-color: var(--color-nav-link, $pm-global-border);
  min-width: 2.7em;
}

@if $rtl-option == true {
  [dir="rtl"] {
    .dropDown-logout-button > span:first-child {
      margin-left: .5em;
      margin-right: 0;
    }
  }
}
