/* for 1px-high hr */
hr {
  background-color: $color-hr;
  border: 0;
  color: $color-hr;
  height: $hr-height;
  margin: 0 0 1em;
  padding: 0;
}

/* rounded corners */
.rounded { border-radius: $global-border-radius; }
.rounded50 { border-radius: 50%; }
.rounded0 { border-radius: 0; }
.rounded0-left { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.rounded0-right { border-top-right-radius: 0; border-bottom-right-radius: 0; }

kbd {
  @extend .rounded;
  background-color: var(--bgcolor-main-area, $pm-global-light);
  border: 1px solid var(--bordercolor-input, $pm-global-border);
}