/*
 * navigation
 */
$navigation-fillcolor-icons: #6D7178 !default;
$padding-left-link: 2rem !default;

.navigation__link {
  padding: 1.1rem 1em 1.1rem $padding-left-link;
  line-height: 1.3;
  color:  var(--color-nav-link, $white);
  text-decoration: none;
  display: block;
}

@if $rtl-option == true {
  [dir="rtl"] {
    .navigation__link {
      padding: .75rem $padding-left-link .75rem 1rem;
    }
  }
}

.navigation__icon {
  fill:  var(--fillcolor-icons, $navigation-fillcolor-icons);
}

.navigation__refresh {
  display: none;
}

.navigation__link:focus,
.navigation__link:hover {
  background: rgba(255,255,255,.05);
  color:  var(--color-nav-link, $pm-global-light);
  text-decoration: none;
  .navigation__icon {
    fill:  var(--fillcolor-icons, $white);
  }
}
[aria-current="page"].navigation__link {
  background: var(--main-bg-color, $pm-global-grey);
  color: var(--color-nav-active, $pm-primary);
  font-weight: bold;
  
  &:hover .navigation__icon,
  .navigation__icon {
    fill: var(--color-nav-active, $pm-primary);
  }
  
  .navigation__refresh {
    display: inline-flex;
  }

}
.navigation__counterItem {
  background: rgba($white, 0.1);
  font-size: 1.1rem;
  padding: .1em em(6, 11) .2em;
  font-weight: normal;
  &:empty {
      display: none; // removes a bug on Webkit
  }
}



/* Sub-navigation */
.navigation__sublist {
  margin-left: $padding-left-link;
  overflow: hidden;
  opacity: 1;
  transition: visibility 0s ease, transform .5s ease, opacity .5s ease, max-height .5s ease ;
  transform-origin: top center;
  transform: scale(1,1);
  max-height: 44em;
  visibility: visible;
  transition-delay: 0s;
  &[aria-hidden="true"] {
    display: block;
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    transform: scale(1,0);
    transition-duration: 0s, .25s, .25s, .25s;
    transition-delay: .5s, 0s, 0s, 0s;
  }
}
.navigation__subitem {
  margin-left: .7rem;
}
.navigation__sublink {
  border-left: 2px solid var(--fillcolor-icons, $navigation-fillcolor-icons);
  display: block;
  padding: .75rem 1rem .75rem 1.5rem;
  text-decoration: none;
  color:  var(--color-nav-link, $white);
  &:focus,
  &:hover {
    background: rgba(255,255,255,.05);
    color:  var(--color-nav-link, $pm-global-light);
    text-decoration: none;
  }
  &:hover {
    border-left: 2px solid var(--color-nav-link, $pm-global-light);
  }
  &[aria-current="true"] {
    border-left: 2px solid var(--color-nav-active, $pm-primary);
    font-weight: bold;
  }
}


@if $rtl-option == true {
  [dir="rtl"] {
    .navigation__sublist {
      margin-left: 0;
      margin-right: $padding-left-link;
    }
    .navigation__subitem {
      margin-left: 0;
      margin-right: .7rem;
    }
    .navigation__sublink {
      border-left: 0;
      border-right: 2px solid var(--fillcolor-icons, $navigation-fillcolor-icons);
      padding: .75rem 1.5rem .75rem 1rem;
      &:hover {
        border-left: 0;
        border-right: 2px solid var(--color-nav-link, $pm-global-light);
      }
      &[aria-current="true"] {
        border-left: 0;
        border-right: 2px solid var(--color-nav-active, $pm-primary);
      }
    }
  }
}