/*
 * aside bar
 */

  .aside-link {
	border-radius: 50%;
	width: 32px;
	height: 32px;
	padding: 7px;
	background: var(--bgcolor-aside-link, $pm-global-altgrey);

	&:focus,
	&:hover,
	&:active,
	&[aria-current="true"] {
	  background: $white;
	  color: $pm-primary;

	  .aside-linkIcon {
		fill: $pm-primary;
	  }

	}
  }
  .aside-linkIcon {
	width: 17px;
	height: 17px;
	fill: var(--fillcolor-icons, $pm-global-light);
  }
