$progress-contact-height: 6px !default;

.progress-contact {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
    
  background: var(--bordercolor-input, $pm-global-border);
  // for Edge/IE
  color: $pm-primary;

  border-radius: #{$progress-contact-height/2};
  height: $progress-contact-height;

  &::-webkit-progress-bar {
    background-color: var(--bordercolor-input, $pm-global-border);
    border-radius: #{$progress-contact-height/2};
  }

  &::-webkit-progress-value { 
    border-radius: #{$progress-contact-height/2};
    background: $pm-primary;
    transition: .15s width ease;
  }

  &::-moz-progress-bar { 
    border-radius: #{$progress-contact-height/2};
    background: $pm-primary;
    transition: .15s width ease;
  }

  &::-ms-fill {
    border-color: currentColor;
  }
}