/*
 * settings home
 */

.overview-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(25rem,1fr));
	grid-auto-flow: row dense;
	grid-gap: 2rem;

	&-item {
		&--tall {
			grid-row: span 2;
		}

		&--full {
			grid-column: 1 / -1;
		}
	}
}
