.appsDropdown {
	&.dropDown {
		--min-width: 13em;
		--max-width: 15.5em; // Be carefull to not exceed the nav bar
		--max-height: 25em;

		--dropdown-border-color: #{$pm-tertiary-grey};
		--dropdown-bg-color: #{$pm-secondary-grey};

		color: $pm-global-light;

		@include respond-to($breakpoint-small, 'min') {
			box-shadow: 0 .5rem 1.5rem 0 rgba(black, .75);
		}

		a {
			&,
			&:hover,
			&:focus {
				color: $white;
			}
		}
	}

	&-button {
		border-radius: $global-border-radius;
		padding: .25em;

		&:hover,
		&:focus,
		&[aria-expanded="true"] {
			background-color: $navigation-hover-bg-color;
		}
		& &-icon { // override icon-16p
			width: 1em;
			height: 1em;
			font-size: 2em;
		}
	}

	/* No border for now
	&-item.dropDown-item {
		--bordercolor-input: #{$pm-tertiary-grey};
	}
	*/

	&-link {
		&,
		&:hover,
		&:focus {
			text-decoration: none;
		}

		&:hover,
		&:focus {
			background-color: rgba(white, .05);
		}
	}
}
