/*
 * containers
 */
.bordered,
.bordered-container {
  border: 1px solid $pm-global-border;
}
.bordered-container {
  border-radius: $global-border-radius;
}


.border-bottom {
  border-bottom: 1px solid $pm-global-border;
}

.shadow-container {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
}

$block-info-border-width: 3px !default;
[class*="block-info"] {
  padding: .5em 1.2em;
  color: $pm-global-grey;
  background-color: $pm-global-light;
  border-left-width: $block-info-border-width;
  border-left-style: solid;
}
@if $rtl-option == true {
  [dir="rtl"] {
    [class*="block-info"] {
      border-left-width: 0;
      border-right-width: $block-info-border-width;
      border-right-style: solid;
    }
  }
}
.block-info {
  border-color: $pm-blue;
}
.block-info-error {
  border-color: $pm-global-warning;
}
.block-info-warning {
  border-color: $pm-global-attention;
}
.block-info-success {
  border-color: $pm-global-success;
}

[class*="block-info-standard"] {
  padding: .2em 1.2em;
  background-color: transparent;
}
.block-info-standard {
  border-color: $pm-blue;
}
.block-info-standard-error {
  border-color: $pm-global-warning;
}
.block-info-standard-warning {
  border-color: $pm-global-attention;
}
.block-info-standard-success {
  border-color: $pm-global-success;
}
// other colors might be added later


/**
 * details/summary
 */
details {
  border-bottom: 1px solid $pm-global-border;
  border-radius: $global-border-radius;

  & > summary::-webkit-details-marker {
    display: none;
  }
  &:first-child {
    border-top: 1px solid $pm-global-border;
  }
  &[open] > summary {
    background: url(#{$path-images}sprite-for-css-only.svg#css-caret-close) 0 50% no-repeat;
  }

}
summary {
  padding: 1em 0 1em 2rem;
  background: url(#{$path-images}sprite-for-css-only.svg#css-caret) 0 50% no-repeat;
  list-style: none;
  border: 0;
  cursor: pointer;
}
