.label-stack {
	--item-wide: 10em;
	--item-narrow: 1.375em;
	--item-scale: .7;
	margin: -.125em;

	&.mw100 {
		--item-wide: 100%;
	}

	&-item {
		max-width: var(--item-wide);
		margin: .125em;
		border-radius: 1em;
		background-color: var(--color, currentColor);
		line-height: 1.25;

		&-button,
		&-delete {
			color: white;
		}

		&-button {
			padding: 0 .5em .175em;
		}

		&-delete {
			margin-right: .5em;

			&-icon {
				display: block;
			}
		}
	}

	&-overflow-count {
		cursor: help;
	}

	&:not(.is-stacked) {
		.label-stack-item {
			&:hover,
			&:focus-within {
				box-shadow: 0 0 em(5) 0 rgba(black, .2); // Same hover style than buttons
			}
		}
	}

	&.is-stacked {
		margin: 0;
		overflow: hidden;
		align-items: baseline;
		flex-wrap: nowrap;

		.label-stack-item {
			overflow: hidden;
			margin: 0;
			transition: transform .1s .2s easing(easeOutQuart),
			            max-width .2s 0s easing(easeOutQuart);

			&:hover,
			&:focus-within,
			&:first-child {
				transition-delay: 0s, .075s;
			}

			&:not(:first-child) {
				--button-opacity: 0;
				max-width: var(--item-narrow);
				transform: scale(var(--item-scale));
			}

			&-button-text,
			&-delete-icon {
				transition: opacity .2s .1s easing(easeOutQuart);
			}

			&-button-text {
				opacity: var(--button-opacity, 1);
			}

			&-delete {
				overflow: hidden;

				&-icon {
					opacity: var(--button-opacity, 1);
				}
			}
		}

		@include respond-to($breakpoint-small, 'max') {
			.label-stack-item-delete {
				display: none;
			}
		}

		@include respond-to($breakpoint-small, 'min') {
			&:hover,
			&:focus-within {
				.label-stack-item {
					// Avoid gitch effect on first-child
					&:first-child:not(:hover):not(:focus-within) {
						--button-opacity: 0;
						max-width: var(--item-narrow);
						transform: scale(var(--item-scale));
						transition-delay: .2s, 0s;
					}

					&:not(:first-child):hover,
					&:not(:first-child):focus-within {
						--button-opacity: 1;
						max-width: var(--item-wide);
						transform: scale(1);
					}
				}
			}
		}
	}
}
