/*
 * Breadcrumb domain
 */
.breadcrumb-container {
  @extend .bordered-container;
}
.breadcrumb-item:not(:last-of-type)::after {
  content: '';
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background: $pm-input-background url("#{$path-images}sprite-for-css-only.svg#css-greater") 0 0 no-repeat;
  background-size: 1.4rem;
  position: relative;
  top: 6px;
  opacity: .3;
}
@if $rtl-option == true {
  [dir="rtl"] {
    .breadcrumb-item:not(:last-of-type)::after {
      background-image: url("#{$path-images}sprite-for-css-only.svg#css-lesser");
    }
  }
}
.breadcrumb-button {
  padding: .4em;
  opacity: .3;
}
[disabled][aria-current="step"].breadcrumb-button {
  font-weight: bold;
  opacity: 1;
  color: inherit;
}