/*
 * toolbar
 */
 .toolbar {
  height: $toolbar-height;
  background: var(--bgcolor-toolbar, $pm-global-altgrey);
  border-radius: 4px 4px 0 0;
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.2);
}
.toolbar-button {
  // resets to avoid pm-button styles
  padding: unset;
  background: unset;
  border: unset;
  border-radius: unset;

  padding-left: em(16, $base-font);
  padding-right: em(16, $base-font);
  display: flex; // alignment fix on Chrome

  &:hover {
    box-shadow: unset;
    background-color: var(--bgcolor-spacebar, #505560);
  }
  &[disabled] {
    background: unset;
    opacity: .4;
  }
  &:active,
  &.is-active,
  &:not(div):active,
  [aria-expanded="true"] {
    background: unset;
    background-color: var(--bgcolor-spacebar, #2F333E);
  }
}
.toolbar-button--dropdown {
  padding-left: em(12, $base-font);
  padding-right: em(12, $base-font);
}
.toolbar-icon {
  fill: var(--fillcolor-icons, $white);
}
.toolbar-separator {
  width: 2px;
  background-image: linear-gradient(90deg, var(--bgcolor-spacebar, #4F5460) 0, var(--bgcolor-spacebar, #4F5460) 1px, var(--bgcolor-spacebar, #353A46) 1px);
}
.toolbar button[aria-disabled="true"],
.toolbar .toolbar-button[aria-disabled="true"] {
  opacity: .5;
  pointer-events: none;
}

.toolbar-select {
  padding-left: em(16, $base-font);
  padding-right: em(16, $base-font);
  color: var(--fillcolor-icons, $white);
  background: url("#{$path-images}sprite-for-css-only.svg#css-caret-white") calc(100% - 6px) 50% no-repeat;
}


@include respond-to($breakpoint-small) {
  .toolbar {
    border-radius: 0;
  }
}