@use 'sass:math';

$base-font-size: 14 !default; // if "14" then 1em = 14px
$base-line-height: math.div(20, $base-font-size) !default; // Design specs says 20px

$title-sizes: (
	h1: 36,
	h2: 28,
	h3: 20,
	h4: 18,
	h5: 17,
	h6: 16,
) !default;

// Use typo helpers on demand
$use-other-typo-helpers: true !default;
$use-other-line-height-helpers: true !default;

// fonts
/* stylelint-disable-next-line value-keyword-case */
$font-family-monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
	monospace !default;

// main breakpoints
$breakpoint-large: 1500 !default;
$breakpoint-medium-sidepanel: 1400; // Temporary breakpoint used to display the side app. When useActiveBreakpoints will be refactored, this breakpoint will disappear
$breakpoint-medium-landscape: 1100 !default;
$breakpoint-medium: 910 !default;
$breakpoint-small: 680 !default;
$breakpoint-tiny: 450 !default;

// RTL
// RTL = Right To Left =>
// to adapt a website in a language that is written from right to left
// designed for multilingual websites with LTR et RTL
$rtl-option: true !default;

// Custom scrollbar everywhere
$custom-scroll: true !default;

// hyphens
$hyphenation: false !default;

// clear floats
$use-clearleft-right: false !default;
$use-clearhidden: false !default;
$use-clearfix: false !default;

// vertical rhythm
// possible values     : 'double_top_single_bottom', 'single_top_single_bottom', 'single_top', 'single_bottom', 'none'
$vertical-rhythm: 'single_bottom' !default;

// units for typo
// possible values     : 'use_em',  'use_rem', 'use_rem_with_em_fallback'
$typo-unit: 'use_em' !default;

// applies 62.5% on html (to make 10px default font size), simplifies rem calculation
$root-equiv-10-px: false !default;

// basic premise: default user setting for font size is at 16 pixels in the browser
// you should NEVER update this value, however… who can predict the future…
$root-default-font-size: 16 !default;

// others
$use-reset-button: true !default;
$use-vertical-align-img-iframe: true !default;
$use-ie-calc-font-fallback: false !default;
$use-old-ie-fallbacks: true !default;
$use-height-auto-img: true !default;
$use-height-auto-td: true !default;
$use-height-auto-table: true !default;

// default config for webpack, can be overriden by "global config" in styles-pm.scss
$path-images: '../../assets/img/illustrations/' !default;

// variables for global layouts, allowing you to use calc for components and adapt quickly if needed
$header-height: 68 !default;
$width-sidebar: 240 !default; // main navigation
$toolbar-height: 44 !default;
$context-bar-width: 25vw !default; // context bar on the right
$context-bar-min-width: 300 !default;
$context-bar-max-width: 400 !default;
$default-height-fields: 36 !default;
/* stylelint-disable-next-line */
$fields-focus-ring-size: 0.1875rem; // 3px

$conversations-column-width: 35% !default; // used also to align search bar on top

$label-width: 18em !default;
$conversation-icon-size: 34 !default; // 32px + 1px border (so 2 px), for proper display of sender image with focus-visible

// Z-indexes for stacking management
$layer-upper: 10;
$layer-floating-action-buttons: 100;
$layer-floating-frames: 200;
$layer-previewer: 300;
$layer-transfer-manager: 400;
$layer-mobile-navigation: 500;
$layer-dropzone: 600;
$layer-modals: 700;
$layer-notifications: 800;
$layer-tooltips: 900;
