@import '~@proton/styles/scss/config';

$height-track: 16 !default;
$size-track-thumb: 36 !default;

.slider {
	block-size: rem($height-track);

	&-rail,
	&-track,
	&-thumb {
		position: absolute;
	}

	&-rail {
		background: var(--background-strong);
		inline-size: 100%;
		block-size: 100%;
	}

	&-track {
		background: var(--signal-success);
		block-size: 100%;
	}

	&-thumb {
		block-size: rem($size-track-thumb);
		inline-size: rem($size-track-thumb);
		border: 1px solid black; // LATER
		background: white; // LATER
		border-radius: var(--border-radius-md);
		transform: translateX(-50%) translateY(-10px);
		display: flex;
		align-items: center;
		justify-content: center;
		// transition: .2s;

		&-tooltip {
			opacity: 0;
			transition: 0.2s;
			transform: scale(0);
			word-break: initial;
		}

		&:active,
		&:focus,
		&:hover,
		&-dragging {
			.slider-thumb-tooltip {
				opacity: 1;
				transform: scale(1);
			}
		}

		&-input {
			width: 100%;
			height: 100%;
		}
	}
}
