.pd-drag-drop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pd-drag-drop-infobox {
    position: relative;
    width: 330px;
    height: 150px;
    background: var(--bgcolor-main-area, $white);
    color: var(--color-main-area, $pm-global-grey);
    padding: 30px;
    border-radius: $global-border-radius;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;

    .image {
        margin-top: -135px;
        width: 250px;
        height: 250px;
    }

    .title {
        font-weight: bold;
        font-size: x-large;
    }

    .text {
        font-size: x-small;
    }
}
