.password-container {
    position: relative;
    input[type="password"] {
        padding-right: 60px !important;
    }
    button {
        position: absolute;
        top: 0;
        right: 1em;
        padding: 0;
        background: transparent;
        border: 0;
        line-height: 37px;
        font-size: .7rem;
        color: $primary;
        text-transform: uppercase;
        cursor: pointer
    }
}
