.pm_toggle_password {
    position: relative;
    a {
        position: absolute;
        right: 15px;
        top:0px;
        line-height: 37px;
        font-size: .8rem;
        color: $primary;
        text-transform: uppercase;
    }
}
