.wallet-button {
	font-weight: var(--font-weight-semibold);
}

.wallet-button.button-ghost-weak {
	&:hover {
		background: transparent !important;
	}
}

.wallet-button.button-solid-norm {
	--button-default-text-color: var(--text-invert);
	--button-hover-text-color: var(--text-invert);
	--button-active-text-color: var(--text-invert);
}

.shadow {
	box-shadow: 0 20px 30px 0 var(--interaction-weak-major-2);
}

.wallet-button.button-solid-weak {
	--button-default-text-color: var(--interaction-norm);
	--button-hover-text-color: var(--interaction-norm);
	--button-active-text-color: var(--interaction-norm);
}

.button-darker {
	--button-default-background-color: var(--interaction-norm-contrast);
	--button-hover-background-color: var(--interaction-norm-contrast);
	--button-active-background-color: var(--interaction-norm-contrast);
	--button-default-text-color: var(--text-invert) !important;
	--button-hover-text-color: var(--text-invert) !important;
	--button-active-text-color: var(--text-invert) !important;
}
