@use '~@proton/styles/scss/lib/rem' as *;

.wallet-button {
	font-weight: var(--font-weight-semibold);
}

// Norm

.wallet-button.button-solid-norm {
	--button-default-text-color: var(--text-invert);
	--button-hover-text-color: var(--text-invert);
	--button-active-text-color: var(--text-invert);
}

.wallet-button.button-outline-norm {
	--button-default-text-color: var(--interaction-norm);
	--button-hover-text-color: var(--interaction-norm);
	--button-active-text-color: var(--interaction-norm);
	--button-default-background-color: var(--interaction-weak-minor-1);
	--button-hover-background-color: var(--interaction-weak-major-1);
	--button-active-background-color: var(--interaction-weak-major-2);
}

// Weak

.wallet-button.button-solid-weak,
.wallet-button.button-outline-weak,
.wallet-button.button-ghost-weak {
	--button-default-text-color: var(--text-norm);
	--button-hover-text-color: var(--text-norm);
	--button-active-text-color: var(--text-norm);
}

.wallet-button.button-solid-weak {
	--button-default-background-color: var(--interaction-weak-minor-1);
	--button-hover-background-color: var(--interaction-weak-major-2);
	--button-active-background-color: var(--interaction-weak-major-3);
}

.wallet-button.button-outline-weak {
	--button-default-border-color: var(--interaction-weak-major-1);
	--button-default-background-color: var(--interaction-weak-minor-1);
	--button-hover-background-color: var(--interaction-weak-major-1);
	--button-active-background-color: var(--interaction-weak-major-2);
}

.wallet-button.button-ghost-weak {
	--button-default-background-color: var(--interaction-weak);
}

// Dark

.button-darker {
	&#{&} {
		--button-default-background-color: var(--button-darker-default-background-color);
		--button-hover-background-color: var(--button-darker-hover-background-color);
		--button-active-background-color: var(button-darker-active-background-color);
		--button-default-text-color: var(--text-invert);
		--button-hover-text-color: var(--text-invert);
		--button-active-text-color: var(--text-invert);
	}
}

// Light

.button-lighter {
	&#{&} {
		--button-default-background-color: var(--button-lighter-default-background-color);
		--button-hover-background-color: var(--button-lighter-hover-background-color);
		--button-active-background-color: var(--button-lighter-active-background-color);
		--button-default-text-color: var(--primary);
		--button-hover-text-color: var(--primary);
		--button-active-text-color: var(--primary);
	}
}

// Shadow

.wallet-button.shadow {
	box-shadow: 0 rem(20) rem(30) 0 var(--interaction-weak-major-2);
}

// Sizes

.wallet-button.button-large {
	padding-block: 1rem;
	padding-inline: 2.5rem;
}

.wallet-button.button-medium {
	padding-block: rem(12);
	padding-inline: rem(10);
}

.wallet-button.button-small {
	padding-block: 0.5rem;
	padding-inline: 1rem;
}

.button[disabled]:not([aria-busy='true'])[class*='button-ghost'],
.button.is-disabled:not([aria-busy='true'])[class*='button-ghost'] {
	--button-default-background-color: var(--interaction-weak);
}
