<header data-responsive-composer="message" class="composerHeader-container flex pb1">
    <span ng-click="unminimize(message);" class="subject composerHeader-subject flex-self-vcenter pl0-5 ellipsis">{{subject(message)}}</span>
    <div class="composerHeader-actions actions mlauto">
        <button
            type="button"
            ng-show="!!!message.minimized"
            class="pl0-5 pr0-5 link minimize-button hidden-xs composerHeader-btn composer-action-minimize"
            ng-click="minimize(message)"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Minimize"
            pt-placement="top">
            <icon data-name="minimize" data-size="16" class="mauto"></icon>
            <span class="sr-only" translate-context="Action" translate>Minimize</span>
        </button>
        <button
            type="button"
            ng-show="!!message.minimized"
            class="pl0-5 pr0-5 link expand-button hidden-xs composerHeader-btn composer-action-expand"
            ng-click="unminimize(message)"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Expand"
            pt-placement="top">
            <icon data-name="minimize" data-size="16" class="mauto rotateX-180"></icon>
            <span class="sr-only" translate-context="Action" translate>Expand</span>
        </button>
        <button
            type="button"
            ng-show="!!!message.maximized"
            class="pl0-5 pr0-5 link maximize-button hidden-xs hidden-sm composerHeader-btn composer-action-maximize"
            ng-click="normalize(message);maximize(message)"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Fullscreen"
            pt-placement="top">
            <icon data-name="expand" data-size="16" class="mauto"></icon>
            <span class="sr-only" translate-context="Action" translate>Fullscreen</span>
        </button>
        <button
            type="button"
            ng-show="!!message.maximized"
            class="pm_button link maximize-button hidden-xs composerHeader-btn composer-action-maximize"
            ng-click="normalize(message)"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Exit fullscreen"
            pt-placement="top">
            <i class="fa fa-compress composerHeader-btn-icon"></i>
            <span class="sr-only" translate-context="Action" translate>Exit fullscreen</span>
        </button>
        <button
            type="button"
            class="pm_button link close-button composerHeader-btn composer-action-close"
            ng-click="saveAndClose(message)"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Close"
            pt-placement="top">
            <icon data-name="off" data-size="16" class="mauto"></icon>
            <span class="sr-only" translate-context="Action" translate>Close</span>
        </button>
    </div>
</header>
