<div class="composerSelectFrom-container flex flex-nowrap flex-items-center pl0-5 mb0-5">
  <label
    translate
    translate-context="Title"
    for="fromMessage{{::message.ID}}" class="pr2">From</label>
  <select
    class="flex w100 pm-field"
    id="fromMessage{{::message.ID}}"
    name="fromMessage{{::message.ID}}"
    ng-model="message.From"
    ng-options="address.Email for address in addresses track by address.Email"></select>
  <!-- <button class="pm_button link" >
      <i class="fa fa-angle-down"></i>
  </button> -->
</div>
