<div class="composerInputMeta-container" ng-class="{'composerInputMeta-recipients': containsRecipient(), 'composerInputMeta-overlay-hidden': message.autocompletesFocussed || containsInvalid(message) }">

    <div class="composerInputMeta-overlay">
        <label
            class="composerInputMeta-overlay-label"
            translate
            translate-context="Title">Recipients</label>
        <div class="composerInputMeta-overlay-list">
            <span class="svg-ellipsis-clipper"></span>
            <span ng-if="message.ToList.length">
                To:
            </span>
            <composer-input-recipient
                ng-repeat="recipient in message.ToList"
                data-address="{{ ::recipient.Address }}"
                data-name="{{ ::recipient.Name}}">
            </composer-input-recipient>
            <span ng-if="message.CCList.length">
                CC:
            </span>
            <composer-input-recipient
                ng-repeat="recipient in message.CCList"
                data-address="{{ ::recipient.Address }}"
                data-name="{{ ::recipient.Name}}">
            </composer-input-recipient>
            <span ng-if="message.BCCList.length">
                BCC:
            </span>
            <composer-input-recipient
                ng-repeat="recipient in message.BCCList"
                data-address="{{ ::recipient.Address }}"
                data-name="{{ ::recipient.Name}}">
            </composer-input-recipient>
        </div>
    </div>

    <label
        to="composerAutocompleteTo"
        class="composerInputMeta-label"
        translate
        translate-context="Title">To</label>
    <autocomplete-emails
        class="composerInputMeta-autocomplete"
        data-name="composerAutocompleteTo"
        data-message="message"
        data-emails="message.ToList"></autocomplete-emails>

    <button
        class="pm_button link composerInputMeta-overlay-button"
        ng-class="{'fa-rotate-180': message.ccbcc}"
        tabindex="-1"
        pt-tooltip-translate="CC BCC"
        pt-placement="left"
        pt-tooltip-translate-context="Action">
        <i class="fa fa-angle-down"></i>
    </button>
</div>
