<div class="composerSubject-container flex flex-nowrap flex-items-center pl0-5 mb0-5">
    <label
    translate
    translate-context="Title"
    for="subjectMessage{{::message.ID}}" class="w15 mw8e pr2">Subject</label>
    <input
        title-translate="Subject"
        title-translate-context="info"
        class="flex flex-item-fluid pm-field composerSubject-input"
        placeholder-translate="Subject"
        placeholder-translate-context="Placeholder"
        ng-model="message.Subject"
        id="subjectMessage{{::message.ID}}">
</div>
