<div class="composerAttachments-container composerAttachments-close p0-5">
    <button type="button" class="composerAttachments-header flex w100">

        <composer-attachments-size class="composerAttachments-size"></composer-attachments-size>
        <span class="composerAttachments-counter-attachments" ng-show="message.Attachments.length > message.NumEmbedded">
            <icon data-name="attach" data-size="16" class=" mauto"></icon> {{ message.Attachments.length - message.NumEmbedded }} <span translate translate-n="message.Attachments.length - message.NumEmbedded" translate-plural="files attached" translate-context="Info">file attached</span>
        </span>
        <span class="composerAttachments-counter-embedded" ng-show="message.NumEmbedded > 0">
            <i class="fa fa-image embedded"></i> {{ message.NumEmbedded }} <span translate translate-n="message.NumEmbedded" translate-plural="embedded images" translate-context="Info">embedded image</span>
        </span>
        <span class="composerAttachments-action mlauto link">
            {{ labelHeader }}
        </span>
    </button>
    <div class="composerAttachments-loaders">
        <composer-attachments-item
            ng-repeat="attachment in list track by attachment.id"
            class="composerAttachments-loader uploading">
        </composer-attachments-item>
    </div>

</div>
