<div class="composerInputMeta-container"
     ng-class="{'composerInputMeta-recipients': containsRecipient(), 'composerInputMeta-overlay-hidden': message.ccbcc  || message.autocompletesFocussed || containsInvalid(message) }">

    <div class="composerInputMeta-overlay pl0-5 w100">
        <label
            class="composerInputMeta-overlay-label flex-self-vcenter w20 mw15e pr1 flex"
            translate-context="Title"
            translate>Recipients</label>
        <div class="composerInputMeta-overlay-list mw100 composerInputMeta-overlay-button flex-item-fluid flex w100">
            <span
                class="w20 mw15e pr1 flex"
                ng-if="message.ToList.length">
                <span
                    class="flex-item-fluid mbauto mtauto color-pm-blue"
                    translate-context="Title"
                    translate-comment="To: addresses"
                    translate>To:</span>
                <icon data-name="caret" class="mtauto mbauto"></icon>
            </span>
            <span class="flex-item-fluid bordered-container flex composerInputMeta-overlay-fakefield">
                <span class="ellipsis mw100">
                    <composer-input-recipient
                        ng-repeat="email in message.ToList track by email.Address"
                        data-email="email"
                        data-message="message"></composer-input-recipient>
                    <span
                        ng-if="message.CCList.length"
                        class="color-pm-blue"
                        translate-context="Title"
                        translate-comment="CC: addresses"
                        translate>CC:</span>
                    <composer-input-recipient
                        ng-repeat="email in message.CCList track by email.Address"
                        data-email="email"
                        data-message="message"></composer-input-recipient>
                    <span
                        ng-if="message.BCCList.length"
                        class="color-pm-blue"
                        translate-context="Title"
                        translate-comment="BCC: addresses"
                        translate>BCC:</span>
                    <composer-input-recipient
                        ng-repeat="email in message.BCCList track by email.Address"
                        data-email="email"
                        data-message="message"></composer-input-recipient>
                </span>
            </span>
        </div>
    </div>

    <div class="flex pl0-5 w100">
        <label
            to="composerAutocompleteTo"
            class="composerInputMeta-label flex-self-vcenter w20 mw15e color-pm-blue"
            data-action="openModal"
            pt-tooltip-translate="Add contacts"
            pt-tooltip-translate-context="Action"
            translate
            translate-context="Title">To</label>
        <autocomplete-emails
            class="composerInputMeta-autocomplete relative bordered-container pl1-25 pr0-25 pt0-25 pb0-25 flex-item-fluid"
            data-name="composerAutocompleteTo"
            data-message="message"
            data-emails="message.ToList"
            data-key="ToList"></autocomplete-emails>

        <button
            class="pm-button--link composerInputMeta-overlay-button no-pointer-events-children"
            tabindex="-1"
            pt-tooltip-translate="CC BCC"
            pt-placement="left"
            pt-tooltip-translate-context="Action">
            <icon data-name="caret"></icon>
            <span class="sr-only" translate-context="Action" translate>CC BCC</span>

    </div>

</div>
