<div class="composerAskEmbdded-container flex">

    <div class="composerAskEmbdded-details bordered-container w90 bg-white mauto relative">
        <button type="button" data-action="cancel" class=" composerAskEmbdded-btn-cancel" translate translate-context="Action">Cancel <icon data-name="close"></icon></button>
        <h4 class="composerAskEmbdded-title bold aligncenter mb1" translate translate-context="Composer, Attachment">No images detected</h4>
        <div class="mobile-display-column">
            <span translate translate-context="Composer, Attachment">Insert images</span>
            <button
                type="button"
                class="pm_button pm-button composerAskEmbdded-btn-attachment"
                data-action="attachment"
                translate
                translate-context="Composer, Attachment"
                pt-tooltip-translate-context="Composer Tooltip"
                pt-tooltip-translate="Attachments"
                pt-placement="top">as attachment</button>
                <span translate translate-context="Composer, Attachment">or</span>
            <button
                type="button"
                class="pm_button pm-button composerAskEmbdded-btn-inline"
                data-action="inline"
                translate
                translate-context="Composer, Attachment"
                pt-tooltip-translate-context="Composer Tooltip"
                pt-tooltip-translate="inline image"
                pt-placement="top">inline</button>
        </div>
    </div>

</div>
