<div class="autocompleteCommand-container">
    <div class="autocomplete-container">
        <mark class="autocompleteCommand-scope">{{mode.value}}</mark>
        <input
            id="autocompleteCommand"
            name="autocompleteCommand"
            placeholder-translate-context="Placeholder"
            placeholder-translate="Type a command"
            type="text"
            ng-model="value"
            autocomplete="off"
            spellcheck="false"
            autocapitalize="off"
            class="autocompleteCommand-input pm-field">
    </div>

    <ul class="autocompleteEmails-autocomplete customScrollBar-container"></ul>
</div>
