@import '~@proton/styles/scss/config';

.gift-code_container {
	display: flex;
	align-items: flex-start;

	@include respond-to($breakpoint-small, 'max') {
		flex-direction: column;
		align-items: flex-start;
	}
}

.gift-code_input {
	margin-right: 1em;

	@include respond-to($breakpoint-small, 'max') {
		margin-bottom: 0.5em;
		margin-right: 0;
	}
}
