@use 'sass:math';
@import '~@proton/styles/scss/lib';
@import '~@proton/styles/scss/base/custom-properties/init';
@import '~@proton/styles/scss/base/custom-properties/optionals';
@import '~@proton/components/components/dropzone/Dropzone';

.proton {
	&-h-full {
		block-size: 100%;
	}

	&-w-full {
		inline-size: 100%;
	}

	&-flex {
		display: flex;
		flex-wrap: wrap;
	}

	&-justify-center {
		justify-content: center;
	}

	&-items-center {
		align-items: center;
	}

	&-rounded-xl {
		border-radius: var(--border-radius-xl);
	}

	&-text-xl {
		font-size: 18em;
	}

	&-text-bold {
		font-weight: var(--font-weight-bold);
	}

	&-text-center {
		text-align: center;
	}

	&-color-weak {
		color: var(--text-weak);
	}

	&-m-0 {
		margin: 0;
	}

	&-mb-0 {
		margin-block-end: 0;
	}

	&-mt-5 {
		margin-block-start: 1.5em;
	}

	&-hidden {
		display: none;
	}

	&-sr-only {
		border: 0;
		clip: rect(0 0 0 0);
		block-size: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		inline-size: 1px;
		inset-block-start: 0; // needed for Safari dumb and 💩 behaviour
	}
}

// custom scroll
body:not(.isDarkMode) {
	--scrollbar-thumb-color: rgb(0 0 0 / 0.35);
}

body.isDarkMode {
	--scrollbar-thumb-color: rgb(255 255 255 / 0.2);
}

html:not(.feature-scrollbars-off) {
	* {
		@supports (scrollbar-width: auto) {
			scrollbar-width: thin;
			scrollbar-color: var(--scrollbar-thumb-color) transparent;
		}

		@supports selector(::-webkit-scrollbar) {
			$real-size: rem(6) + (rem(2) * 2);

			&::-webkit-scrollbar {
				inline-size: $real-size;
				block-size: $real-size;
			}

			&::-webkit-scrollbar-thumb {
				border: rem(2) solid transparent;
				background-clip: padding-box;
				border-radius: math.div($real-size, 2);
				background-color: var(--scrollbar-thumb-color);
			}

			&::-webkit-scrollbar-track {
				background-color: transparent;
			}

			&::-webkit-scrollbar-corner {
				visibility: hidden;
			}
		}
	}
}

html {
	block-size: 100%;
	cursor: text;
	scrollbar-gutter: stable;

	/* Introduce `--setting-font-size` to make the font size setting possible. */

	/* chosen size * browser default size / app default size * 100% / browser default size */
	font-size: calc(var(--setting-font-size) * #{math.div(16, 14) * math.div(100%, 16)});
}

@mixin reduce-motion {
	*,
	*::before,
	*::after {
		// Using values greater than 0 to have animation events still triggering
		animation-delay: 1ms !important;
		animation-duration: 0.001ms !important;
		animation-iteration-count: 1 !important;

		// This magic value is needed because of https://bugs.webkit.org/show_bug.cgi?id=242510
		// which affects visibility changes on Safari (iOS + MacOS) when reduce motion is
		// enabled in accessibility settings. Even though transitions are not involved.
		transition-duration: 0.01ms !important;
	}
}
@include media('reduced-motion') {
	@include reduce-motion;
}

.feature-animations-off {
	@include reduce-motion;
}

body {
	box-sizing: border-box;
	font-family: system-ui, sans-serif;
	font-size: 0.875rem; /* 14 */
	line-height: 1.5; // Need to be bigger so that we don't have jumps when adding emojis
	color: black;
	background: white;

	/* to fix, CSS var are not passing through the iframe */
	word-wrap: break-word;
	margin: 0;
}

body a {
	// force blue even for :visited
	color: blue;
}

#proton-editor-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	block-size: 100%;
}

#rooster-editor-wrapper {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#rooster-editor {
	flex: 1;
	outline: none;
	padding: 0.5rem;
}

#proton-editor-toggle-container {
	flex-shrink: 0;
}

blockquote {
	padding-block: 0;
	padding-inline: 1rem 0;
	margin: 0;
	border-inline-start: 4px solid #e5e5e5;
}

blockquote blockquote blockquote {
	padding-inline-start: 0;
	margin-inline-start: 0;
	border: none;
}

.icon-size-3\.5 {
	inline-size: 14px;
	block-size: 14px;
}

.proton-toggle-button {
	display: inline-block;
	padding-block: rem(4);
	padding-inline: rem(8);
	margin: 1em;
	margin-inline-start: 0.5em;
	box-shadow: inset 0 0 0 1px silver;
	border: none;
	border-radius: 8px;
	outline: none;
	background-color: transparent;
	text-align: center;
	transition:
		0.15s cubic-bezier(0.22, 1, 0.36, 1),
		background-position 0s;

	&:hover,
	&:focus,
	&:focus-within &.is-hover &:active,
	&.is-active,
	&[aria-expanded='true']:not([aria-controls]) {
		text-decoration: none;
		box-shadow: inset 0 0 0 2px silver;
		background-color: transparent;
	}
}

@supports selector(:focus-visible) {
	.proton-toggle-button {
		outline: unset;
	}
}

.proton-embedded:not([src]) {
	position: relative;
	min-block-size: 38px;
	border: 1px solid;
	border-color: #444 #ccc #ccc #444;
}

.proton-embedded:not([src], [alt]) {
	background-position-x: 50%;
}

.proton-embedded[alt]:not([src])::after {
	position: absolute;
	inset: 0;
	content: ' ' attr(alt);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-block: 10px 0;
	padding-inline: 20px 0;
	color: rgb(0 0 0 / 0.5);
}

/* see embedded.scss rules */
.proton-embedded:not([width], [style*='width']) {
	max-inline-size: 100%;
	min-inline-size: 38px;
}

.protonmail_quote {
	position: relative;
}

ul,
ol {
	/**
	 * Overrides app reset in order to get back to native browser spacing
	 * Fix issue when ordered list has more than 10 items
	 */
	padding-inline-start: em(40);
	margin-block: 0;
}

li {
	list-style-position: outside;
}

// Handle outlook https://github.com/ProtonMail/Angular/issues/6711
p.MsoNormal,
li.MsoNormal,
div.MsoNormal {
	margin: 0;
}
