@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/em' as *;
@use '~@proton/styles/scss/lib/rem' as *;

.simple-editor.editor {
	overflow: hidden;
	min-block-size: 14em;
}

.editor {
	&:hover {
		border-color: var(--field-hover);
	}

	.editor-toolbar-button {
		position: relative;
		padding-block: 0.3em;
		padding-inline: 0.4em;
		min-block-size: 2em;
		border-radius: var(--border-radius-sm);
	}

	.composer-toolbar-fontDropDown {
		flex-shrink: 1;

		& > span {
			display: flex;

			& > * {
				min-inline-size: 0;
			}
		}
	}
}

// .editor-toolbar {
// 	border-block-end: 1px solid var(--border-norm);
// }
.editor-toolbar-separator {
	border-inline-start: 1px solid var(--border-norm);
}

.editor-squire-wrapper {
	.placeholder {
		// The point is to match exactly Squire text content and position
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		font-size: rem(14);
		line-height: 1.65;

		// margin-inline-start: rem(8);
		margin-block-start: rem(8);
		color: grey;
	}
}

.editor-toolbar-dropdown {
	ul {
		margin: 0;
	}

	button {
		padding-inline: 0.5em;
		box-shadow: unset;
	}

	.dropdown-item-container {
		border: unset;
		box-shadow: unset;
	}

	// "default" button
	.button-ghost-weak {
		&:focus-visible {
			border-color: var(--interaction-norm-contrast);
		}
	}
}

.editor-toolbar-dropdown .color-selector-container {
	--color-item-size: #{em(28)};
	--color-grid-items: 7;
}

.editor--disabled::after {
	content: '';
	position: absolute;
	inset: 0;
	background-color: var(--background-weak);
	border-radius: var(--border-radius-md);
}

.editor-toolbar-more-menu .dropdown-item.dropdown-item--no-separator {
	border-block-start: none;
}

.editor-toolbar-button {
	padding: 0.4em;

	& > span {
		margin-inline: 0;
		inline-size: 100%;
		display: flex;
		align-items: center;

		& > .mr-2 {
			flex: 1 1 0px;
			text-align: start;
			display: inline-flex;
		}
	}

	.editor-toolbar-icon {
		color: var(--text-norm);
	}
}

.editor-toolbar-more-dropdown {
	.editor-toolbar-icon {
		inline-size: em(16);
		block-size: em(16);
	}
}
