<aside class="aside flex flex-column noprint nomobile" id="aside-bar">
    <ul class="unstyled flex flex-column flex-item-fluid m0 aligncenter">
        <li class="mb0-5">
            <a
                href="/inbox"
                class="center flex aside-link"
                translate-title="Mailbox"
                translate-title-context="Action"
                aria-current="true"
                pt-placement="right"
                pt-tooltip-translate="ProtonMail"
                pt-tooltip-translate-context="Sidebar left tooltip icon">
                <icon data-name="protonmail" data-fill="global-light" class="aside-linkIcon mauto"></icon>
                <span class="sr-only" translate translate-context="Action">Mailbox</span>
            </a>
        </li>
        <li class="mb0-5" ng-if="hasCalendar">
            <a
                href="/calendar"
                class="center flex aside-link"
                translate-title="Calendar"
                translate-title-context="Action"
                pt-placement="right"
                pt-tooltip-translate="ProtonCalendar"
                pt-tooltip-translate-context="Sidebar left tooltip icon">
                <icon data-name="protoncalendar" data-fill="global-light" class="aside-linkIcon mauto"></icon>
                <span class="sr-only" translate translate-context="Action">Calendar</span>
            </a>
        </li>
        <li class="mb0-5">
            <a
                href="/contacts"
                class="center flex aside-link"
                translate-title="Contacts"
                translate-title-context="Action"
                pt-placement="right"
                pt-tooltip-translate="ProtonContacts"
                pt-tooltip-translate-context="Sidebar left tooltip icon">
                <icon data-name="protoncontacts" data-fill="global-light" class="aside-linkIcon mauto"></icon>
                <span class="sr-only" translate translate-context="Action">Contacts</span>
            </a>
        </li>

        <li class="mtauto">
            <sidebar-progress></sidebar-progress>
        </li>
    </ul>
</aside>
