@font-face {
  font-family: 'Times New Roman';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./019a0ac5-4f38-7004-bc71-1df9388ec520) format('truetype');
}
@font-face {
  font-family: 'Times New Roman';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(./019a0ac5-4f38-7005-9db6-e74561676f89) format('truetype');
}
@font-face {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./019a0ac5-4f38-7007-9ebf-d2e92a75fcb0) format('truetype');
}
@font-face {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./019a0ac5-4f38-7006-891d-b247c6d758b2) format('truetype');
}
