.Lexical__code {
	display: block;
	font-size: inherit;
	line-height: inherit;
	padding: 0.75rem;
	border-radius: 0.25rem;
	background: var(--background-weak);
}

.Lexical__textCode {
	display: inline-block;
	padding-inline: 0.5rem;
	border-radius: 0.25rem;
	background: var(--background-weak);
	color: var(--signal-danger);
	line-height: 1.5;
}

.Lexical__tokenComment {
	color: slategray;
}

.Lexical__tokenPunctuation {
	color: #999;
}

.Lexical__tokenProperty {
	color: #905;
}

.Lexical__tokenSelector {
	color: #690;
}

.Lexical__tokenOperator {
	color: #9a6e3a;
}

.Lexical__tokenAttr {
	color: #07a;
}

.Lexical__tokenVariable {
	color: #e90;
}

.Lexical__tokenFunction {
	color: #dd4a68;
}
