@use 'lists' as *;
@use 'table' as *;
@use 'code' as *;
@use 'suggestions' as *;

.DocumentEditor {
	min-block-size: 100%;
	padding-block: 2rem;
	padding-inline: 0;
	padding-block-end: 20vh;
	block-size: max-content;
	background: white;
	color: black;

	--font-size: 1em;
	--line-height: 1.5;

	font-size: var(--font-size);
	line-height: var(--line-height);

	> *:not(:first-child, [class*='Lexical__h']),
	> .Lexical__paragraph:not(:first-child) {
		margin-block-start: 0.75rem;
	}

	// If an element appears after a header, we'll customize the margin based on the header size
	> [class*='Lexical__h'] + * {
		margin-block-start: unset !important;
	}

	> .Lexical__paragraph:has(+ .Lexical__Suggestion) {
		margin-block-end: 0.75rem;
	}

	img.focused {
		outline: 2px solid var(--primary);
	}

	&:focus {
		outline: none;
		box-shadow: none;
	}

	&.suggestion-mode ::selection {
		background: rgb(52 145 114 / 0.15);
	}
}

::selection {
	// we need the !important to override what is set by _init.scss.
	// the color is translucent so that you can see any background color
	// which has been applied to the text
	background: rgb(109 74 255 / 0.25) !important;

	// makes sure that the color of the text under the selection
	// is actually supposed what is to be, rather than white
	// which is set by _init.scss
	color: unset !important;
}

.Lexical__paragraph {
	margin: 0;
}

.Lexical__quote {
	position: relative;

	--gap: 0.75rem;
	--quote-indicator-size: 3px;

	margin: 0;
	padding-inline: calc(var(--gap) + var(--quote-indicator-size));
	quotes: none !important;

	&::before {
		content: '';
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		inline-size: var(--quote-indicator-size);
		block-size: 100%;
		display: block;
		background-color: var(--text-hint);
		border-radius: 100px;
	}
}

.Lexical__textBold {
	font-weight: bold;
}

.Lexical__textItalic {
	font-style: italic;
}

.Lexical__textUnderline {
	text-decoration: underline;
}

.Lexical__textStrikethrough {
	text-decoration: line-through;
}

.Lexical__textUnderlineStrikethrough {
	text-decoration: underline line-through;
}

.Lexical__textSubscript {
	font-size: 0.8em;
	vertical-align: sub !important;
}

.Lexical__textSuperscript {
	font-size: 0.8em;
	vertical-align: super;
}

.Lexical__commentThreadMark {
	--rgb: 255 153 0;
	--base-bg: rgb(var(--rgb) / 0.2);
	--selected-bg: rgb(var(--rgb) / 1);

	background: var(--base-bg);
	font-weight: inherit;
	color: inherit;

	&.selected,
	&.hovered {
		background: var(--selected-bg);
	}
}

.Lexical__commentThreadMark.resolved {
	background: transparent;

	.Lexical__mark:not(.resolved) + &.Lexical__markOverlap {
		background: var(--base-bg);

		&.selected {
			background: var(--selected-bg);
		}
	}
}

.Lexical__link {
	color: var(--primary);
	text-decoration: underline;

	&:hover {
		cursor: text;
		text-decoration: underline;
	}
}

$line-height: 1.2; // Consistent line-height

@for $i from 1 through 6 {
	.Lexical__h#{$i} {
		line-height: $line-height;
	}
}

.Lexical__h1 {
	font-size: 32px;
	font-weight: bold;
	margin-block: 1.5rem 0.5rem;
}

.Lexical__h2 {
	font-size: 24px;
	font-weight: bold;
	margin-block: 1.3rem 0.45rem;
}

.Lexical__h3 {
	font-size: 19px;
	font-weight: 600;
	margin-block: 1.2rem 0.4rem;
}

.Lexical__h4 {
	font-size: 17px;
	font-weight: normal;
	color: var(--text-weak);
	margin-block: 1.15rem 0.35rem;
}

.Lexical__h5 {
	font-size: 15px;
	font-weight: normal;
	color: var(--text-weak);
	margin-block: 1.1rem 0.3rem;
}

.Lexical__h6 {
	font-size: 13px;
	font-weight: normal;
	font-style: italic;
	color: var(--text-weak);
	margin-block: 1.05rem 0.3rem;
}

.Lexical__cursorCaret {
	--width: 2px;

	position: absolute;
	inset-block: 0;
	inset-inline-end: calc(-0.5 * var(--width));
	inline-size: var(--width);
	pointer-events: auto;

	&.show {
		> .Lexical__cursorNamePopup {
			opacity: 100;
			pointer-events: auto;
			user-select: none;
		}

		> .Lexical__cursorCaretHandle {
			opacity: 0;
		}
	}
}

.Lexical__cursorCaretHandle {
	position: absolute;
	inset-block-end: 100%;
	inset-inline-start: 0;
	inline-size: 4px;
	block-size: 4px;
	background: inherit;
	pointer-events: inherit;
}

.Lexical__cursorNamePopup {
	position: absolute;
	inset-inline-start: -2px;
	inset-block-end: calc(100% + 2px);
	display: block;
	opacity: 0;
	transition: opacity 125ms;
	border-radius: 4px;
	padding-block: 4px;
	padding-inline: 6px;
	font-size: 11px;
	line-height: 14px;
	font-weight: 600;
	pointer-events: none;
	text-wrap: nowrap;
}

.Lexical__blockCursor {
	display: block;
	pointer-events: none;
	position: absolute;
}

.Lexical__blockCursor::after {
	content: '';
	display: block;
	position: absolute;
	inset-block-start: -2px;
	inline-size: 20px;
	border-block-start: 1px solid var(--text-norm);
	animation: CursorBlink 1.1s steps(2, start) infinite;
}

@keyframes CursorBlink {
	to {
		visibility: hidden;
	}
}

.Lexical__image {
	display: inline-block;
	vertical-align: text-bottom;
	position: relative;
	user-select: none;
}

.Lexical__divider {
	border-block-end: 1px solid var(--border-norm);
}
