<div
    class="displayContentBtn-container bg-white w100 rounded bordered-container p0-5 mb0-5 flex flex-nowrap"
    ng-class="{
        'displayContentBtn-type-embedded': message.showEmbedded === false,
        'displayContentBtn-type-remote': message.showImages === false}">
    <icon data-name="shape-insert-image" data-size="16" class="fill-global-grey mtauto mbauto"></icon>
    <span class="pl0-5 pr0-5  mtauto mbauto flex-item-fluid">
        <span class="displayContentBtn-notice-text"></span>
    </span>
    <button
        class="displayContentBtn-button link bold underline "
        translate
        translate-context="Action">Load</button>
</div>
