<span>
    <span class="fa locks"
          ng-if="!(message.Verified) || message.Verified <= 0 || message.Verified === 3"
          ng-class="{
        'fa-lock': !!!(message.IsEncrypted == '0'),
        'text-purple': !!(message.IsEncrypted == '1') || !!(message.IsEncrypted == '3') || !!(message.IsEncrypted == '4') || !!(message.IsEncrypted == '5') || !!(message.IsEncrypted == '6') || !!(message.IsEncrypted == '10'),
        'fa-unlock-alt': !!(message.IsEncrypted == '0'),
        'pgp': !!(message.IsEncrypted == '7') || !!(message.IsEncrypted == '8')
    }">
    </span>

    <svg class="signed-lock" viewBox="0 0 374.8 337.1" ng-if="message.IsEncrypted != '0' && message.Verified > 0 && message.Verified < 3"
         ng-class="{
        'internal': !!(message.IsEncrypted == '1') || !!(message.IsEncrypted == '3') || !!(message.IsEncrypted == '4') || !!(message.IsEncrypted == '5') || !!(message.IsEncrypted == '6'),
        'pgp': !!(message.IsEncrypted == '7') || !!(message.IsEncrypted == '8'),
        'valid-sig': message.Verified === 1,
        'invalid-sig': message.Verified == 2,
    }">
        <use ng-if="message.Verified === 1"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             xlink:href="#svg-lock-signed"></use>
        <use ng-if="message.Verified !== 1"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             xlink:href="#svg-lock-warning"></use>
    </svg>
</span>
