<div class="encryptionStatus-container">
    <a
        class="nodecoration color-global-grey no-pointer-events-children"
        href="https://protonmail.com/support/knowledge-base/what-is-encrypted/"
        target="_blank"
        ng-if="!displaySignatureStatus() && !message.isPGPEncrypted()"
        ng-class="{
            'color-pm-blue': message.isInternal() || message.isSentEncrypted() || message.isDraft() || message.isAuto(),
        }">
        <icon data-name="lock" data-size="16" data-fill="currentColor" class="mauto "></icon>
    </a>

    <a
        class="nodecoration color-global-grey no-pointer-events-children"
        href="https://protonmail.com/support/knowledge-base/how-to-use-pgp"
        target="_blank"
        ng-if="!displaySignatureStatus() && message.isPGPEncrypted()">
        <icon data-name="lock" data-size="16" data-fill="currentColor" class="mauto "></icon>
    </a>

    <a
        href="https://protonmail.com/support/knowledge-base/digital-signature/"
        target="_blank"
        class=" no-pointer-events-children"
        ng-if="displaySignatureStatus()">
        <svg
            class="signed-lock"
            width="18"
            viewBox="0 0 374.8 337.1"
            ng-class="{
                'valid-sig': message.verified === 1,
                'invalid-sig': message.verified !== 1,
                'internal': message.isInternal() || message.isSentEncrypted() || message.isDraft() || message.isAuto(),
                'pgp': message.isPGPEncrypted(),
            }">
            <use
                ng-if="message.verified === 1"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="#svg-lock-signed"></use>
            <use
                ng-if="message.verified !== 1"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="#svg-lock-warning"></use>
        </svg>
    </a>
</div>
