<div class="filterButton-container">
    <dropdown-container data-position="left">
        <dropdown-button
            pt-tooltip-translate="Custom Filter"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate-comment="Tooltip">
            <icon data-name="filter" class="mauto"></icon>
            <icon data-name="caret" data-size="12" class="mauto"></icon>
            <span class="sr-only" translate-context="Action toolbar" translate>Custom Filter</span>
        </dropdown-button>

        <dropdown-content>
            <div class="p1">
                <ul class="unstyled mt0-5 mb0-5">

                    <li class="dropDown-item">
                        <b
                            class="pt0-5 pb0-5"
                            translate-context="Filter message"
                            translate>Filter on:</b>
                    </li>

                    <li class="dropDown-item">
                        <label class="filterButton-label flex flex-spacebetween pt0-5 pb0-5">
                            <span
                                class="filterButton-label-text mtauto mbauto"
                                translate-context="Filter message"
                                translate>Subject</span>
                            <custom-checkbox
                                class="filterButton-checkbox mtauto mbauto"
                                data-custom-ng-model="model.subject"></custom-checkbox>
                        </label>
                    </li>

                    <li class="dropDown-item">
                        <label class="filterButton-label flex flex-spacebetween pt0-5 pb0-5">
                            <span
                                class="filterButton-label-text mtauto mbauto"
                                translate-context="Filter message"
                                translate>Sender</span>
                            <custom-checkbox
                                    class="filterButton-checkbox mtauto mbauto"
                                    data-custom-ng-model="model.sender"></custom-checkbox>
                        </label>
                    </li>

                    <li class="dropDown-item">
                        <label class="filterButton-label flex flex-spacebetween pt0-5 pb0-5">
                            <span
                                class="filterButton-label-text mtauto mbauto"
                                translate-context="Filter message"
                                translate>Recipient</span>
                            <custom-checkbox
                                class="filterButton-checkbox mtauto mbauto"
                                data-custom-ng-model="model.recipient"></custom-checkbox>
                        </label>
                    </li>

                    <li class="dropDown-item">
                        <label class="filterButton-label flex flex-spacebetween pt0-5 pb0-5">
                            <span
                                class="filterButton-label-text mtauto mbauto"
                                translate-context="Filter message"
                                translate>Attachments</span>
                            <custom-checkbox
                                    class="filterButton-checkbox mtauto mbauto"
                                    data-custom-ng-model="model.attachments"></custom-checkbox>
                        </label>
                    </li>
                </ul>

                <button
                    class="pm-button-blue  filterButton-btn-next w100"
                    translate-context="Filter message"
                    translate>Next</button>
            </div>
        </dropdown-content>
    </dropdown-container>
</div>
