<div class="messageAddressActionMenu-container">
    <dropdown-container data-position="right" class="messageAddressActionMenu-drop">

        <dropdown-button class="pb0-5 pt0-5 no-pointer-events-children">
            <icon
                data-name="caret"
                data-size="12"
                data-fill="black"
                class="flex-item-noshrink ml0-5 mr0-5 mtauto mbauto"></icon>
            <span class="sr-only" translate translate-context="Action">Address options</span>
        </dropdown-button>

        <dropdown-content>
            <ul class="unstyled mt0-5 mb0-5">
                <li class="dropDown-item pl1 pr1 messageAddressActionMenu-action-composer">
                   <button
                       class="w100 flex flex-nowrap pt0-5 pb0-5 alignleft dropDown-link no-pointer-events-children messageAddressActionMenu-btn-compose-to"
                       data-action="compose-to">
                       <icon data-name="email-address" class="mt0-25 flex-item-noshrink"></icon>
                       <span
                           class="ml0-5 mtauto mbauto"
                           translate
                           translate-context="Action">Compose to</span>
                   </button>
                </li>

                <li class="dropDown-item pl1 pr1 messageAddressActionMenu-action-copy">
                    <button
                        class="w100 flex flex-nowrap pt0-5 pb0-5 alignleft dropDown-link no-pointer-events-children messageAddressActionMenu-btn-copy-address">
                        <icon data-name="copy" class="mt0-25 flex-item-noshrink"></icon>
                        <span
                            class="ml0-5 mtauto mbauto"
                            translate
                            translate-context="Action">Copy address</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1 messageAddressActionMenu-action-details">
                    <button
                        class="w100 flex flex-nowrap pt0-5 pb0-5 alignleft dropDown-link no-pointer-events-children"
                        data-action="contact-details">
                        <icon data-name="contacts" class="mt0-25 flex-item-noshrink"></icon>
                        <span
                            class="ml0-5 mtauto mbauto"
                            translate
                            translate-context="Action">See contact details</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1 messageAddressActionMenu-action-trust" ng-if="message.isInternal() && !message.isSentByMe()">
                    <button
                        class="w100 flex flex-nowrap pt0-5 pb0-5 alignleft dropDown-link no-pointer-events-children messageAddressActionMenu-btn-pin-public"
                        data-action="advanced-settings">
                        <icon data-name="keys" class="mt0-25 flex-item-noshrink"></icon>
                        <span
                            class="ml0-5 mtauto mbauto"
                            translate
                            translate-context="Action">Trust Public Keys</span>
                    </button>
                </li>
            </ul>
        </dropdown-content>
    </dropdown-container>
</div>
