<div class="messageOptions-container">

    <dropdown-container>

        <dropdown-button
            pt-tooltip-translate="More"
            pt-tooltip-translate-context="Action">
            <icon
                data-name="caret"
                data-size="12"
                class=" mauto expand-caret"></icon>
            <span class="sr-only" translate-context="Action" translate>More</span>
        </dropdown-button>

        <dropdown-content>
            <ul class="unstyled mt0-5 mb0-5 messageOptions-list" data-message-mode="{{ message.viewMode }}">

                <li class="dropDown-item pl1 pr1">
                    <button
                        class="w100 pt0-5 pb0-5 alignleft"
                        data-action-message="move"
                        data-action-message-type="inbox">
                        <icon data-name="inbox"></icon>
                        <span translate translate-context="Action" class="mauto">Move to inbox</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1">
                    <button
                        class="w100 pt0-5 pb0-5 alignleft"
                        data-action-message="move"
                        data-action-message-type="trash">
                        <icon data-name="trash"></icon>
                        <span translate translate-context="Action" class="mauto">Move to trash</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1">
                    <button
                        class="w100 pt0-5 pb0-5 alignleft"
                        data-action-message="unread">
                        <icon data-name="unread"></icon>
                        <span translate translate-context="Action" class="mauto">Mark as unread</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1" ng-hide="'secured.spam.**' | includedByState">
                    <button
                        class="w100 pt0-5 pb0-5 alignleft"
                        data-action-message="move"
                        data-action-message-type="spam">
                        <icon data-name="spam"></icon>
                        <span translate translate-context="Action" class="mauto">Mark as spam</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1" ng-if="'secured.trash.**' | includedByState">
                    <button
                        class="w100 pt0-5 pb0-5 alignleft"
                        data-action-message="delete">
                        <icon data-name="delete"></icon>
                        <span translate translate-context="Action" class="mauto">Delete</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1" data-if-message-mode="html">
                    <button
                        class="w100 pt0-5 pb0-5 alignleft"
                        data-action-message="togglePlainHtml">
                        <icon data-name="view-source-code"></icon>
                        <span translate translate-context="Action" class="mauto">View source code</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1" data-if-message-mode="plain">
                    <button
                        class="w100 pt0-5 pb0-5 alignleft"
                        data-action-message="togglePlainHtml">
                            <icon data-name="view-html-code"></icon>
                            <span translate translate-context="Action" class="mauto">View rendered HTML</span>

                    </button>
                </li>

                <li class="dropDown-item pl1 pr1">
                    <button
                        class="w100 pt0-5 pb0-5 alignleft"
                        data-action-message="viewPgp">
                        <icon data-name="view-headers"></icon>
                        <span translate translate-context="Action" class="mauto">View headers</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1" ng-if="!message.failedDecryption">
                    <button
                        class="w100 pt0-5 pb0-5 alignleft"
                        data-action-message="downloadEml">
                        <icon data-name="export"></icon>
                        <span translate translate-context="Action" class="mauto">Export</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1">
                    <button
                        class="w100 pt0-5 pb0-5 alignleft"
                        data-action-message="print">
                        <icon data-name="print"></icon>
                        <span translate translate-context="Action" class="mauto">Print</span>
                    </button>
                </li>

            </ul>
        </dropdown-content>

    </dropdown-container>
</div>
