<div class="message-pinning-container">
    <div class="message-pinning-notice">
        <span
            class="message-pinning-notice-text"
            translate-context="Info"
            translate>This sender's public key has not been trusted yet.</span>
        <button
            class="pm_button link"
            data-action="never-show"
            translate-context="Action"
            translate>Never show</button>
    </div>
    <button
        type="button"
        data-action="settings"
        class="message-pin-show-button pm_button"
        translate-context="Action"
        translate>TRUST KEYS</button>
</div>
