<div class="message-resign-container bg-global-attention color-white w100 rounded p0-5 mb0-5 flex flex-nowrap">
    <icon data-name="attention" data-size="16" class=" fill-white mtauto mbauto" aria-hidden="true"></icon>
    <div class="message-resign-notice flex flex-item-fluid pr1">
        <span
            class="message-resign-notice-text pl0-5 pr0-5  mtauto mbauto flex-item-fluid"
            translate-context="Info"
            translate>The message signature could not be verified as the signature on the contact is invalid.</span>
        <a
            class="message-resign-notice-link color-white bold underline mtauto mbauto"
            href="https://protonmail.com/support/knowledge-base/sending-a-message-using-pgppgp/"
            target="_blank"
            translate-context="Action"
            translate>Learn more</a>
    </div>
    <button type="button" class="message-resign-button color-white bold underline uppercase">
        <span translate-context="Action" translate>Re-sign</span>
    </button>
</div>
