<div class="messageContacts-container">
    <span class="messageContacts-where"></span>
    <ul class="messageContacts-list">
       <li class="messageContacts-list-item" ng-repeat="email in model track by $id(email)">
            <span title="{{ ::email | contact:'Raw'}}">{{ ::email | contact:'Name' }}</span>
            <em class="messageContacts-email">{{ ::email | contact:'Raw' }}</em>
            <message-address-actions
                data-email="email"
                data-message-id="messageId"></message-address-actions>
            <message-contacts-icon></message-contacts-icon>
        </li>
    </ul>
</div>
