<div class="messageOptions-container">

    <dropdown-container>

        <dropdown-button
            class="pm-group-button pm-button pm-button--for-icon"
            pt-tooltip-translate="More"
            pt-tooltip-translate-context="Action">
            <icon
                data-name="caret"
                data-size="12"
                class=" mauto expand-caret"></icon>
            <span class="sr-only" translate-context="Action" translate>More</span>
        </dropdown-button>

        <dropdown-content>
            <ul class="unstyled mt0-5 mb0-5 messageOptions-list" data-message-mode="{{ message.viewMode }}">

                <li class="dropDown-item pl1 pr1">
                    <button
                        class="w100 flex flex-nowrap pt0-5 pb0-5 alignleft dropDown-logout-button no-pointer-events-children"
                        data-action-message="move"
                        data-action-message-type="inbox">
                        <icon data-name="inbox" class="mt0-25"></icon>
                        <span translate translate-context="Action" class="mtauto mbauto ml0-5">Move to inbox</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1">
                    <button
                        class="w100 flex flex-nowrap pt0-5 pb0-5 alignleft dropDown-logout-button no-pointer-events-children"
                        data-action-message="move"
                        data-action-message-type="trash">
                        <icon data-name="trash" class="mt0-25"></icon>
                        <span translate translate-context="Action" class="mtauto mbauto ml0-5">Move to trash</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1">
                    <button
                        class="w100 flex flex-nowrap pt0-5 pb0-5 alignleft flex dropDown-logout-button no-pointer-events-children"
                        data-action-message="unread">
                        <icon data-name="unread" class="mt0-25"></icon>
                        <span translate translate-context="Action" class="mtauto mbauto ml0-5">Mark as unread</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1" ng-hide="'secured.spam.**' | includedByState">
                    <button
                        class="w100 flex flex-nowrap pt0-5 pb0-5 alignleft dropDown-logout-button no-pointer-events-children"
                        data-action-message="move"
                        data-action-message-type="spam">
                        <icon data-name="spam" class="mt0-25"></icon>
                        <span translate translate-context="Action" class="mtauto mbauto ml0-5">Mark as spam</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1" ng-if="'secured.trash.**' | includedByState">
                    <button
                        class="w100 flex flex-nowrap pt0-5 pb0-5 alignleft dropDown-logout-button no-pointer-events-children"
                        data-action-message="delete">
                        <icon data-name="delete" class="mt0-25"></icon>
                        <span translate translate-context="Action" class="mtauto mbauto ml0-5">Delete</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1">
                    <button class="w100 flex flex-nowrap pt0-5 pb0-5 alignleft dropDown-logout-button no-pointer-events-children" data-action-message="reportPhishing">
                        <icon data-name="phishing" class="mt0-25"></icon>
                        <span translate translate-context="Action" class="mtauto mbauto ml0-5">Report phishing</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1" data-if-message-mode="html">
                    <button
                        class="w100 flex flex-nowrap pt0-5 pb0-5 alignleft dropDown-logout-button no-pointer-events-children"
                        data-action-message="togglePlainHtml">
                        <icon data-name="view-source-code" class="mt0-25"></icon>
                        <span translate translate-context="Action" class="mtauto mbauto ml0-5">View source code</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1" data-if-message-mode="plain">
                    <button
                        class="w100 flex flex-nowrap pt0-5 pb0-5 alignleft dropDown-logout-button no-pointer-events-children"
                        data-action-message="togglePlainHtml">
                            <icon data-name="view-html-code" class="mt0-25"></icon>
                            <span translate translate-context="Action" class="mtauto mbauto ml0-5">View rendered HTML</span>

                    </button>
                </li>

                <li class="dropDown-item pl1 pr1">
                    <button
                        class="w100 flex flex-nowrap pt0-5 pb0-5 alignleft dropDown-logout-button no-pointer-events-children"
                        data-action-message="viewPgp">
                        <icon data-name="view-headers" class="mt0-25"></icon>
                        <span translate translate-context="Action" class="mtauto mbauto ml0-5">View headers</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1" ng-if="!message.failedDecryption">
                    <button
                        class="w100 flex flex-nowrap pt0-5 pb0-5 alignleft dropDown-logout-button no-pointer-events-children"
                        data-action-message="downloadEml">
                        <icon data-name="export" class="mt0-25"></icon>
                        <span translate translate-context="Action" class="mtauto mbauto ml0-5">Export</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1">
                    <button
                        class="w100 flex flex-nowrap pt0-5 pb0-5 alignleft dropDown-logout-button no-pointer-events-children"
                        data-action-message="print">
                        <icon data-name="print" class="mt0-25"></icon>
                        <span translate translate-context="Action" class="mtauto mbauto ml0-5">Print</span>
                    </button>
                </li>

            </ul>
        </dropdown-content>

    </dropdown-container>
</div>
