<div class="message-resign-container">
    <div class="message-resign-notice">
        <span class="message-resign-notice-text" translate>The message signature could not be verified as the signature on the contact is invalid.</span>
        <a class="message-resign-notice-link" href="https://protonmail.com/support/knowledge-base/sending-a-message-using-pgppgp/" target="_blank" translate>Learn more</a>
    </div>
    <button type="button" class="message-resign-button pm_button">
        <span translate>RE-SIGN</span>
    </button>
</div>
