<div class="readReceiptPanel-container message-infobox w100 rounded bordered-container p0-5 mb0-5 flex flex-nowrap flex-items-center">
    <icon data-name="info" class="flex-item-noshrink fill-global-gre mtauto mbauto"></icon>
    <span class="w100 flex flex-wrap">
        <span class="readReceiptPanel-notice-text pl0-5 pr0-5  mtauto mbauto flex-item-fluid-auto" translate-context="Info display in the read receipt panel (message view)" translate>The sender has requested a read receipt</span>
        <span class="flex-item-noshrink flex">
            <button type="button" class="readReceiptPanel-button disabled-if-network-activity pl0-5 pr0-5 link bold" translate-context="Action" translate>Send receipt</button>
        </span>
    </span>
</div>
