<div class="readReceiptPanel-container bg-white w100 rounded bordered-container p0-5 mb0-5 flex flex-nowrap">
    <icon data-name="info" class="flex-item-noshrink fill-global-gre mtauto mbauto"></icon>
    <span class="readReceiptPanel-notice-text pl0-5 pr0-5  mtauto mbauto flex-item-fluid" translate-context="Info display in the read receipt panel (message view)" translate>The sender has requested a read receipt</span>
    <button type="button" class="readReceiptPanel-button disabled-if-network-activity link bold" translate-context="Action" translate>Send receipt</button>
</div>
