<div class="pm_table">
    <table class="trust-public-key-info">
        <thead>
        <tr>
            <th scope="col" class="fingerprint"  translate-context="Title" translate>Fingerprint</th>
            <th scope="col" class="created"  translate-context="Title" translate>Created</th>
            <th scope="col" class="expires"  translate-context="Title" translate>Expires</th>
            <th scope="col" class="bits"  translate-context="Title" translate>Bits</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td class="fingerprint">
                        <span class="publickey-info">
                            <code
                                pt-tooltip
                                data-original-title="{{ ::keyInfo.fingerprint }}">{{ ::keyInfo.fingerprint }}</code>
                        </span>
                </td>
                <td class="created">{{ ::keyInfo.created.toLocaleDateString() }}</td>
                <td class="expires">{{ ::keyInfo.expires ? keyInfo.expires.toLocaleDateString() : '-' }}</td>
                <td class="bits">{{ ::keyInfo.algType }}</td>
            </tr>
        </tbody>
    </table>
</div>
