@media (max-width: 1100px) {
    .navigation-link { width: 100px }
    .searchForm-container { width: calc(100% - 650px) }
    .sidebarApp-container,
    .headerDesktop-logo {
        width: calc(190px - 20px);
        min-width: calc(190px - 20px);
    }
    body #pm_main {
        width: calc(100% - 170px);
    }
    .sidebarApp-container .sidebar-btn-compose {
        padding-left: 0;
        text-align: center;
        .fa { display: none }
    }
    .sidebarApp-menu { font-size: .9em }
}

@media (max-width: 1000px) {
    .navigation-title { font-size: .9em }

    #pm_settings .pm_tabs li a.pm_button {
        padding: 0 .5rem;
    }

    .searchForm-container { width: calc(100% - 600px) }
    .sidebarApp-container,
    .headerDesktop-logo {
        width: calc(190px - 40px);
        min-width: calc(190px - 40px);
    }
    body #pm_main {
        width: calc(100% - 150px);
    }

}

@media (max-width: 900px) {
    .navigation-link { width: 80px }
    .searchForm-container { width: calc(100% - 550px) }
    .sidebarApp-container,
    .headerDesktop-logo {
        width: calc(190px - 60px);
        min-width: calc(190px - 60px);
    }
    body #pm_main {
        width: calc(100% - 130px);
    }

    .sidebarApp-menu .menuLabel-counter,
    .sidebarApp-item .navigationItem-counter {
        display: none;
    }

}
