@media (max-width: 1100px) {
    // .navigation-link { width: 100px }
    // .searchForm-container { width: calc(100% - 650px) }
    #ptSidebar,
    .headerSecuredDesktop-logo {
         width: 170px;
         min-width: 170px;
    }
    // body #pm_main {
    //     width: calc(100% - 170px);
    // }
    .sidebarApp-container .sidebar-btn-compose {
        padding-left: 0;
        text-align: center;
    }
    .sidebarApp-container .sidebar-btn-back { font-size: .8em }
    .sidebarApp-menu { font-size: .9em }
}



// @media (max-width: 1000px) {
//     .navigation-title,
//     .sidebarApp-menu .menuLabel-counter,
//     .sidebarApp-item .navigationItem-counter { font-size: .9em }
//     .searchForm-container { width: calc(100% - 600px) }
//     #ptSidebar,
//     .headerSecuredDesktop-logo {
//         width: 150px;
//         min-width: 150px;
//     }
//     body #pm_main {
//         width: calc(100% - 150px);
//     }

// }

// @media (max-width: 900px) {
//     .navigation-link { width: 80px }
//     .searchForm-container { width: calc(100% - 550px) }
//     #ptSidebar,
//     .headerSecuredDesktop-logo {
//         width: 130px;
//         min-width: 130px;
//     }
//     body #pm_main {
//         width: calc(100% - 130px);
//     }

//     .sidebarApp-menu .menuLabel-counter,
//     .sidebarApp-item .navigationItem-counter {
//         margin: 0 .3em;
//     }
// }
