body {
	margin: 0;
	padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: $default-color;
    font-size: 14px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	line-height: 1em;
}

h1,
.h1 {
	font-size: 24px;
}
h2,
.h2 {
	font-size: 22px;
}
h3,
.h3 {
	font-size: 20px;
}
h4,
.h4 {
	font-size: 16px;
}
h5,
.h5 {
	font-size: 14px;
	font-weight: 700;
}
h6,
.h6 {
	font-size: 12px;
	font-weight: 700;
}

button {
	font: inherit;
	color: inherit;
}

code,
kbd,
pre,
samp,
body .pm_form textarea[readonly] {
  font-family: monospace, monospace;
  font-size: 1em;
}

p code {
	display: inline;
}

p a {
	color: $primary;
}

hr {
    border: 0;
    box-shadow: inset 0 1px 0 $border, inset 0 -1px 0 $border;
    height: 1px;
	margin: 20px 0;
}

kbd {
  padding: 0 .5rem;
  line-height: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  font-size: 100%;
  color: $text;
  background-color: #f2f2f2;
  border-radius: 3px;
  -webkit-box-shadow: 0 0px 0 $border, inset 0 0 0 1px $border;
          box-shadow: 0 0px 0 $border, inset 0 0 0 1px $border;
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  -webkit-box-shadow: none;
          box-shadow: none;
}

pre,
body .pm_form textarea[readonly] {
	white-space: pre-wrap;
	margin: 1rem 0;
	padding: 1rem;
	background: $light;
	border: 1px solid $border;
	color: #333;
	border-radius: 2px;
	display: block;
	max-width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	word-break: break-all;
	min-height: initial !important;
}
.strike-through,
.line-through {
	text-decoration: line-through;
}

sup {
	line-height: normal;
}
