$fa-font-path: "fonts";

@import "bourbon";
@import "font-awesome";

@import "partials/header";

body {
  font: 13px/1.4rem normal "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  min-height: 100%;
  width: 100%;
  
  background: #fff;

  &.login {
    background: url('img/cubes.png') 0 0 repeat;
  }

  &.locked {
    background: url('img/low_contrast_linen.png') #333 0 0 repeat !important;
  }

  a {
    color: #669;
  }

  * {
    -webkit-font-smoothing: antialiased;
  }
}

.faded {
  color: rgba(0,0,0,.25);
}

.alert {
  margin-bottom: .5rem;
  padding: 0 .5rem;
  background: #2ca9e8;
  border-bottom: 2px solid #2797cf;
  color: #fafafa;
  padding: .5rem 1rem;
  font-size: .8rem;
  text-shadow: 0 1px 0 #2797CF;
}

.alert-warning {
  background: #ff6;
  border: 1px
  solid #cc0;
  border-bottom-width: 2px;
  color: #000;
  text-shadow: none;

  a {
    color: #000;
  }
}

.text-center {
  text-align: center;
}

p {
  margin: 1em 0;
}

@import "partials/login";
@import "partials/sidebar";
