$fa-font-path: "fonts";

@import "bourbon";
@import "protonmail";
@import "bootstrap";
@import "font-awesome";
@import "partials/header";

html {
  position: relative;
  min-height: 100%;
} 
.secure #body { 
  min-height: 100%; 
}
.secure #main {

}
body,
#main {
  margin-bottom: $footer-height;
}
body footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: ($footer-height);
  line-height: ($footer-height);
  font-size: ($font-size-base*.85);
  color: $gray-light;
  background: #ccc;
  a {
    color: $gray;
    margin: 0 0 0 1rem;
    display: inline-block;
    &:hover {
      color: $gray-dark;
    }
  }
}

.secure {
  .navbar-inversed,
  #footer {
    margin-left: $sidebar-width;
  }
  #footer {
    @include calc(width, '100% - #{$sidebar-width}');
  }
}

.adminContent {
  margin-left: 15px;
  margin-right: 15px;
}

.btn-default {
  @include linear-gradient($btn-default-bg, darken($btn-default-bg, 10%));
  &:hover {
    @include linear-gradient($btn-default-bg, darken($btn-default-bg, 5%));
    border-color: darken($btn-default-bg, 20%);
  }
}
.btn-primary {
  @include linear-gradient($btn-primary-bg, darken($btn-primary-bg, 10%));
  &:hover {
    @include linear-gradient($btn-primary-bg, darken($btn-primary-bg, 5%));
    border-color: darken($btn-primary-bg, 5%);
  }
}
.btn-success {
  @include linear-gradient($btn-success-bg, darken($btn-success-bg, 10%));
  &:hover {
    @include linear-gradient($btn-success-bg, darken($btn-success-bg, 5%));
    border-color: darken($btn-success-bg, 5%);
  }
}
.btn-info {
  @include linear-gradient($btn-info-bg, darken($btn-info-bg, 10%));
  &:hover {
    @include linear-gradient($btn-info-bg, darken($btn-info-bg, 5%));
    border-color: darken($btn-info-bg, 5%);
  }
}
.btn-danger {
  @include linear-gradient($btn-danger-bg, darken($btn-danger-bg, 10%));
  &:hover {
    @include linear-gradient($btn-danger-bg, darken($btn-danger-bg, 5%));
    border-color: darken($btn-danger-bg, 5%);
  }
}

.mono {
  font-family: $font-family-monospace;
}

body .alert-warning a { color: darken($btn-warning-bg, 25%);}
body .alert-primary a { color: darken($btn-primary-bg, 25%);}
body .alert-success a { color: darken($btn-success-bg, 25%);}
body .alert-info a { color: darken($btn-info-bg, 25%);}
body .alert-danger a { color: darken($btn-danger-bg, 25%);}
.alert a { font-weight: 700 }

@media (min-width: $screen-sm) {
  .panel {
    max-width: 300px;
    margin: auto;
  }
}

.navbar-brand {
  padding-top: 14px;
  padding-bottom: 14px;
}

a, .btn, button, input[type="button"], input[type="submit"] {
  outline: none !important;
}

.navbar {
  border: 0;
  em {
    font-style: normal;
  }
}

.secure .navbar-inverse {
  margin-bottom: 0
}

body {
  font-weight: 400;
  margin: 0;
  min-height: 100%;
  width: 100%;

  background: #fff;

  &.login {
    background: url('img/cubes.png') 0 0 repeat;
  }

  &.locked {
    background: url('img/low_contrast_linen.png') #333 0 0 repeat !important;
  }

  a {
    color: #333;
    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }

  * {
    -webkit-font-smoothing: antialiased;
  }
}

.faded {
  color: rgba(0,0,0,.25);
}

.text-center {
  text-align: center;
}

p {
  margin: 1em 0;
}

#main .message-list {
  border-bottom: none;
  tbody td {
  border-top: none;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  }
}

@import "partials/login";
@import "partials/sidebar";
@import "partials/search-form";
@import "partials/message-list";
@import "partials/message-list-toolbar";
@import "partials/spinner";
