.ua-chrome {

    // ::-webkit-scrollbar {
    //     background: rgba(0,0,0,.1);
    // }

    // ::-webkit-scrollbar-thumb {
    //     background: rgba(255,255,255,.1);
    // }

}

.ua-ie {
    #pm_header {
        .pm_dropdown {
            top: 200%;
        }
    }
    body.scroll {
        overflow-y: auto !important;
        -webkit-overflow-scrolling: touch;
    }
}

.ua-edge {}

.ua-ios {
    #pm_captcha {
        -webkit-overflow-scrolling: touch;
        overflow: auto !important;
    }
}

.ua-firefox.ua-desktop-linux {
    .pm_buttons a,
    .pm_button {
        overflow: hidden;
    }
}

.ua-windows_nt {
    &.ua-firefox {
        #pm_composer .composer .pm_button {
            line-height: 26px;
        }
        .pm_buttons a,
        .pm_button {
            line-height: 30px;
        }
        #pm_sidebar section.sidebar .pm_button.round {
            line-height: 30px;
        }
        .pm_table th,
        .pm_table td {
            .pm_button.round {
                line-height: 34px;
                position: relative;
                top: 8px;
            }
        }
    }
}

.ua-firefox {
    .pm_button,
    .pm_buttons a {
        overflow: hidden;
    }
    body section.sidebar a.compose {
        line-height: 40px;
    }
    header#pm_header .pull-right {
        height: 61px;
        overflow: hidden;
        a {
            float: left;
        }
        .pm_button.primary {
            margin-top: 14px;
        }
    }
}

input:invalid,
input:-moz-ui-invalid {
    border:0;
    outline:none;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}


.ua-safari {
    .conversation .pm_labels label {
        &:first-child,
        &:hover {
            position: relative;
            top: -6px;
        }
        &.single {
            top: -3px !important;
        }
    }
    #conversation-view .summary .pm_labels label{
        &:first-child {
            position: relative;
            top: -6px;
        }
    }
    #conversation-view .message > div.summary .labels .pm_labels label:hover {
        top: -6px;
    }
    #conversation-view .message > div.summary .labels .pm_labels label.more {
        top: -7px;
    }
    #conversation-list-columns,
    #conversation-list-rows {
        .pm_labels label.more {
            top: -7px;
        }
    }
}
