#pm_conversations.columns {
	#pm_toolbar {
		position: absolute;
		left: 0;
		top: 0;
		right: 15px;
		background: #fff;
		border-bottom: 1px solid $border;
	}
	.list {
		width: 50%;
		min-width: 520px;
		box-sizing: border-box;
		-webkit-overflow-scrolling: touch;
		overflow-x: hidden;
		max-height: $maxHeight;
		position: relative;
		#pm_list {
			padding: 55px 0 0 0;
		    box-sizing: border-box;
		    box-shadow: inset -1px 0 $border;
		}
		div.message {
			position: relative;
			box-shadow: inset 0 1px 0 0 $border;
			padding: 14px 15px 4px 40px;
			cursor: pointer;
			border-radius: 0;
			color: $gray;
			height: 64px;
			line-height: 64px;
			box-sizing: border-box;
			margin: 0;
			overflow: hidden;
			background: $read;
			max-width: 100%;
			span.expiration {
				position: absolute;
				z-index: 5;
				right: 0;
				top: 1px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 2rem 2rem 0;
				border-color: transparent $exp transparent transparent;
				color: #fff;
				.fa {
					position: absolute;
					right: -2rem;
					top: 0;
					display: block;
					text-align: center;
					line-height: 1.25rem;
					height: 1.25rem;
					width: 1.25rem;
				}
			}
			.starLink {
				position: absolute;
				right: 6rem;
				top: 12px;
				display: block;
				text-align: center;
				z-index: 3;
				width: 1rem;
				text-align: center;
			}
			.fa-paperclip {
				position: absolute;
				right: 7rem;
				top: 12px;
				display: block;
				text-align: center;
				z-index: 3;
				display: block;
				height: 20px;
				line-height: 20px;
				width: 1rem;
			}
			&.active {
				background: $alt;
				header {
					color: #fff;
					p {
						color: #fff;
						a {
							color: #fff !important;
							text-decoration: none;
						}
					}
					span {
						color: #fff;
						&.time {
							background: $alt;
						}
					}
				}
				article {
					color: #fff;
				}
				article {
					.pm_labels {
						.pm_label {
							box-shadow: 0 0 0 4px $alt;
							background: $alt;
						}
					}
				}
			}
			&.unread {
				background: #fff;
				header {
					p {
						color: #000;
						a {
							color: #000;
							text-decoration: none;
						}
					}
					span {
						font-weight: 700;
						&.time {
							font-weight: 400;
							background: #fff;
						}
					}
				}
				* {
					&.fa {
						font-weight: 400;
					}
				}
				article {
					.pm_labels {
						.pm_label {
							box-shadow: 0 0 0 4px #fff;
							background: #fff;
						}
					}
				}
			}
			&.read {
				header p a {
					color: #000;
					text-decoration: none;
				}
			}
			&.unread.active {
				background-color: $alt;
				header p {
					color: #fff;
					a {
						color: #fff;
						text-decoration: none;
					}
						span {
						font-weight: 700;
						&.time {
							font-weight: 400;
						}
					}
				}
				header span.time {
					background: $alt;
				}
				* {
					&.fa {
						font-weight: 400;
					}
				}
				article {
					.pm_labels {
						.pm_label {
							box-shadow: 0 0 0 4px $alt;
							background: $alt;
						}
					}
				}
			}
			&:last-child {
				border-bottom-color: transparent;
				box-shadow: inset 0 1px 0 0 #cfcfcf, inset 0 -1px 0 0 #cfcfcf;
			}
			&.placeholder {
				font-family: monospace;
				word-break: break-all;
				overflow: hidden;
			}
			.pm_checkbox input {
				margin: 0;
			}
			&.selected {
				margin: 0;
				z-index: 2;
				border-left: 6px solid $primary;
				padding-left: calc(40px - 6px);
				aside {
					left: calc(15px - 6px);
				}
			}
			strong {
				font-weight: 400;
			}
			.fa-paperclip {
				color: #bababa !important;
				opacity: 0;
				&.show {
					opacity: 1;
				}
			}
			aside {
				display: inline-block;
				width: 40px;
				position: absolute;
				left: 15px;
				top: 14px;
				bottom: 12px;
				right: auto;
				z-index: 2;
				& > * {
					display: inline-block;
					width: 20px;
					line-height: 20px;
					height: 20px;
					vertical-align: middle;
					float: left;
				}
				& > *:nth-child(even) {
					text-align: center;
				}
				a {
					text-decoration: none;
				}
				.fa {
					font-size: 13px;
					width: auto;
					min-width: auto;
				}
				label {
					position: relative;
					top: -13px;
				    text-align: left;
				    display: block;
				    padding: 10px;
				    left: -10px;
					text-align: left;
					cursor: pointer;
					input {
						margin-left: 0;
					}
				}
			}
			.fa-star-o {
				color: #aba9bb;
			}
			.fa-star {
				color: $orange
			}
			header {
				line-height: 20px;
				height: 20px;
				color: $gray;
				font-size: 14px;
				p {
					margin: 0;
					padding: 0;
				    white-space: nowrap;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    width: 100%;
				    padding-right: 7rem;
				    box-sizing: border-box;
				    color: #777;
				}
				span.time {
					position: absolute;
					padding-right: 15px;
					box-sizing: border-box;
					right: 0;
					top: 10px;
					z-index: 3;
					background: $read;
					width: 6rem;
					text-align: right;
					font-size: 80%;
				}
			}
			&.attachments {
				header {
					p {
						padding-right: 8rem;
					}
				}
			}
			article {
				line-height: 18px;
				height: 18px;
				color: $gray;
				font-size: 14px;
			    white-space: nowrap;
			    width: 100%;
			    overflow: hidden;
			    text-overflow: ellipsis;
				strong {
					font-weight: 700;
					font-size: 80%;
				}
				.pm_labels {
					position: absolute;
					right: 25px;
					bottom: 10px;
					margin-right: -20px;
					.pm_label {
						box-shadow: 0 0 0 4px $read;
						background: $read;
					}
				}
				p {
					height: 18px;
					line-height: 18px;
					white-space: nowrap;
					overflow: hidden;
					margin: 0;
					padding: 0;
					display: block;
					text-overflow: ellipsis;
				}

			}
		}
	}
	#pm_view {
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		padding: 0;
		box-sizing: border-box;
		position: relative;
		z-index: 6;
		width: 100%;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
}

@media (min-width: $wide) {
	#pm_conversations {
		.list {
			width: 620px;
			min-width: 620px;
		}
	}
}

@media (max-width: $tablet-landscape) {
    #pm_conversations {
    	margin: 0;
    	.main > label {
    		padding-left: 0;
    	}
    }
}

@media (max-width: $mobile-landscape) {
	#pm_conversations {

		.list {
			width: 100%;
			min-width: 100%;
		}
		#pm_toolbar {
			padding: 14px 25px 0;
		}
	}

}

@media (max-width: $wide) {
	body.columns {
		#pm_view article.message {
			header {
				padding-right: 15px;
				.history.fa-placeholder {
					display: none;
				}
			}
			.sub {
				padding-left: 15px;
				padding-right: 15px;
				.labelRow {
					margin-bottom: -4px;
					.pm_labels {
						margin-right: -4px;
					}
				}
			}
			.toggleDetails {
				left: 15px;
			}
			&.open {
				.contact,
				.where {
					float: left;
					clear: left;
					strong {
						float: left;
					}
					em {
						float: left;
						clear: both;
					}
				}
			}
			&.open.details {
				.contact,
				.where {
					margin-bottom: 10px;
				}
			}
			a.compose {
				margin: 0 0 0 5px;
			}
		}
	}
}

@media (max-width: $wide) {
	body.columns {
		#pm_view article.message {
			.sub .actions {
				width: 150px;
				.pm_buttons a {
					padding: 0 5px;
				}
			}
			&.closed header {
				height: 60px;
				.pm_labels {
					position: absolute;
					left: 150px;
					top: 32px;
					right: 4px;
					z-index: 5;
				}
				.time {
					position: absolute;
					left: 15px;
					top: 30px;
					z-index: 4;
					text-align: left;
				}
			}
			&.open header {
				.compose {
					display: none;
				}
				.meta {
					float: left;
				}
			}
			#attachmentArea {
				padding: 1rem 10px 0;
				section .pm_button {
					max-width: 100%;
				}
			}
			.frame {
				margin: 0 10px;
			}
		}
	}
}

