#pm_columns {
	margin-left: $sidebarWidth;
	display: flex;
	.list {
		width: 500px;
		min-width: 500px;
		box-sizing: border-box;		
		overflow-y: auto;
		overflow-x: hidden;
		max-height: $maxHeight; 
		#pm_list {
			padding: 0 25px;
		    box-sizing: border-box;
		}
		div.message {
			position: relative;
			border: 1px solid transparent;		
			border-top-color: $border;
			padding: 12px 0 12px 45px;
			cursor: pointer;
			border-radius: 2px;
			color: $gray;
			height: 64px;
			line-height: 64px;
			box-sizing: border-box;
			.pm_checkbox input {
				margin: 0;
			}
			&.selected {
				background-color: #f6f6f6;
				border-color: #efefef;	
				margin: 0 -10px;
				padding-left: 55px;
				padding-right: 10px;
				box-shadow: 0 1px 0 #fff;
				z-index: 2;
				aside {
					left: 10px;
				}
				article {
					.pm_labels {
						margin-right: 0;
						background-color: #f6f6f6;
						.pm_label {
							background-color: #f6f6f6;
							box-shadow: 0 0 0 4px #f6f6f6;
						}
					}
				}
			}
			&.unread * {
				font-weight: 700;
				color: #333;
				&.fa {
					font-weight: 400;
				}
			}
			strong {
				font-weight: 400;
			}
			.fa-paperclip {
				color: #bababa !important;
			}
			aside {
				display: inline-block;
				width: 40px;
				position: absolute;
				left: 0;
				top: 12px;
				bottom: 12px;
				right: auto;
				z-index: 2;
				& > * {
					display: inline-block;
					width: 20px;
					line-height: 20px;
					height: 20px;
					vertical-align: middle;
					float: left;
				}
				& > *:nth-child(even) {
					text-align: center;
				}
				a {
					text-decoration: none;
				}
				.fa {
					font-size: 13px;
					width: auto;
					min-width: auto;
				}
				label {
					position: relative;
					top: -1px;
					text-align: left;
					input {
						margin-left: 0;
					}
				}
			}
			.fa-star-o {
				color: $gray;
			}
			.fa-star {
				color: $orange
			}
			header {
				line-height: 20px;
				height: 20px;
				color: $gray;
				font-size: 14px;
				p {
					margin: 0;
					padding: 0;
				}
				span.time {
					float: right;
				}
			}
			article {
				line-height: 18px;
				height: 18px;
				color: $gray;
				font-size: 14px;
				.pm_labels {
					position: absolute;
					right: 0;
					bottom: 12px;
					margin-right: -10px;
				}
				p {
					height: 18px;
					line-height: 18px;
					white-space: nowrap;
					overflow: hidden;					
					margin: 0;
					padding: 0;
					display: block;
					text-overflow: ellipsis;
				}

			}
		}
	}	
	#pm_view {
		flex-grow: 1;
		padding: 0 25px;
		box-sizing: border-box;
		position: relative;
		z-index: 6;
		width: 100%;
		overflow: auto;
	}
}

@media (max-width: 1024px) {
    #pm_columns {
    	margin: 0;
    	.main > label {
    		padding-left: 0;
    	}
    }
}

@media (max-width: $mobile) {
	#pm_columns {
		#pm_view {
			display: none;
		}
		.list {
			width: 100%;
			min-width: 100%;
		}
		#pm_toolbar {
			padding: 14px 25px 0;
		}
	}

}