body.maximizedComposer {
	#pm_main,
	#pm_header,
	#pm_sidebar {
		display: none;
	}
}
#pm_composer {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9999;
	.composer {
		border-radius: 2px;
		width: 580px;
		height: 530px;
		background: $white;
		float: right;
		margin: 0 25px 25px 0;
		display: block;
		box-shadow: 3px 3px 3px rgba(0,0,0,.2), 0 0 3px rgba(0,0,0,.2);
		position: relative;
		padding-bottom: 60px;
		&.minimized {
			height: auto;
			margin-top: 490px;
			background: transparent;
			header {
				border-radius: 2px;
				.fa.fa-minus {
					top: -5px;
				}
			}
		}
		&.maximized {
			position: fixed;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			box-shadow: none;
			box-sizing: border-box;
			footer .pm_button span {
				display: none;
			}
			header, footer {
				border-radius: 0;
			}
		}
		&.toggleRecipients {
			overflow: hidden;
			section {
				pointer-events: none;
				opacity: .5;
			}
		}
		&.attachmentsOpen {
			.previews {
				position: absolute;
				top: 80px;
			}
			.attachmentBar {
				bottom: initial;
				top: 40px;
				z-index: 9;
				border-bottom: 1px solid $border;
			}
		}
		.options {
        	position: absolute;
        	left: 0;
        	right: 0;
        	top: 40px;
        	bottom: 0;
        	background: #fff;
        	padding: 2rem 10px;
        	box-sizing: border-box;
        	z-index: 99;
        	footer {
        		position: absolute;
        		left: 0;
        		bottom: 0;
        	}
        	.clearfix {
        		padding: 5px 0;
        	}
        	h3 {
        		display: inline-block;
        	}
        	h1, h2, h3, h4, h5 {
        		font-weight: 400;
        	}
        	input[type="range"] {
        		width: 100%;
        		margin: 2rem 0;
        	}
        	.fa {
        		color: $primary;
        	}
        	.pm_button.primary {
        		padding: 0 2rem;
        	}
        	div.text-center {
        		padding: 1rem 0 2rem 0;
        	}
        }		
		.fa {
			font-size: 14px;
			&.fa-minus {
				position: relative;
				top: 5px;
			}
		}
		.squire-popover-overlay {
			background: rgba(0,0,0,.2);
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			position: absolute;
			z-index: 2;
		}
		.pm_button {
			line-height: $composerRowHeight;
			height: $composerRowHeight;
		}		
		header {
			overflow: hidden;
			background: $secondary;
			border-radius: 2px 2px 0 0;
			position: relative;
			box-sizing: border-box;
			height: 40px;
			min-height: 40px;
			.actions {
				float: right;
				padding: 10px;
				padding-left: 0;
			}
			.subject {
				float: left;
				width: 22rem;
				display: inline-block;
				color: $white;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				padding: 0 0 0 10px;
				height: 40px;
				line-height: 40px;
				box-sizing: border-box;
			}
			.pm_button {
				width: 20px;
				padding: 0;
				text-align: center;
				height: 20px;
				line-height: 20px;
				color: #dadae5;
				border-color: #6b697e;
				float: left;
				margin-left: 5px;
				&:hover {
					color: $white;
				}
			}
		}
		.typeahead-container {
			line-height: 33px;
			height: 33px;
		}
		.meta {
			-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
	        flex-grow: 1;
	        position: relative;
	        box-sizing: border-box;				
			color: $gray-light;
			#fromRow {
				position: relative;
				button {
					position: absolute;
					right: 7px;
					top: 0;
					bottom: 0;
					z-index: 1;
				}
				select {
					position: absolute;
					left: 3.5rem;
					right: 0;
					top: 0;
					bottom: 0;
					z-index: 2;
					cursor: pointer;
				}
			}
			.tm-tag,
			span button {
			    padding: 0 10px;
			    line-height: 26px;
			    height: 26px;
			    margin: 7px 7px 0 0;
			    float: left;
			    border: none;
			    box-shadow: none;
			}
			.tm-tag {
				background: $border;
				font-size: 1em;
			}
			.twitter-typeahead {
				input {
					padding: 5px 10px !important;
				}
			}
			.row {
				min-height: ($composerRowHeight - 7);
				line-height: $composerRowHeight;
				border-bottom: 1px solid $border;
				float: left;
				width: 100%;
				position: relative;
				padding-bottom: 7px;
				.pm_button.link {
					position: absolute;
					right: 7px;
					top: 0;
				}				
				label {
					min-width: 3.5rem;
					width: 3.5rem;
					box-sizing: border-box;
					padding-left: 10px;
					position: absolute;
					left: 0;
					top: 0;
				}
				.subject {
					width: 100%;
				}
				input,
				select {
					margin-left: 3.5rem;
					line-height: $composerRowHeight;
					height: $composerRowHeight;
					padding: 0 10px;
					margin: 0;
					outline: none;
					border: none;
					display: inline-block;
					background: transparent;
					font-size: 1em;
					box-sizing: border-box;
				}
				select {
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
				}
				& > div,
				& > select {
					margin-left: 3.5rem;
				}				
			}
		}
		.attachmentBar {
			position: absolute;
			bottom: 60px;
			left: 0;
			right: 0;
			height: 40px;
			line-height: 40px;
			padding: 0 10px;
			cursor: pointer;
			box-sizing: border-box;
			border-top: 1px solid $border;
			background: #fff;
			z-index: 7;
			.fa {
				display: inline-block;
				line-height: 40px;
				height: 40px;
			}
		}
		.previews {
			padding-top: 10px;
			padding-left: 10px;
	        position: absolute;
	        left: 0;
	        right: 0;
	        bottom: 0;
	        top: 80px;
	        overflow: auto;
	        box-sizing: border-box;
	        background: $white;
	        z-index: 9;
	        .preview-close {
	        	margin-left: .25rem;
	        	color: $gray-light;
	        }
	        footer {
        		position: absolute;
        		left: 0;
        		right: 0;
        		bottom: 0;
        	}
			.pm_button {
				margin: 0 10px 10px 0;
				float: left;
			}
		}
		pre {
			margin: 0;
		}
		section {
			display: block;
			clear: both;
	        overflow: auto;
	        position: relative;
	        min-height: 320px;
	        height: 320px;  
			.angular-squire-wrapper {
				iframe {
					width: 100%;
					height: 100%;
					min-height: 245px;
					float: left;
				}
			}
			.squire-toolbar {
				border-width: 0 0 1px 0;
			}
		}
		footer {
			overflow: hidden;
			line-height: $composerRowHeight;
			height: ($composerRowHeight + 20);
			min-height: ($composerRowHeight + 20);
			padding: 10px;
			border-top: 1px solid $border;
			border-radius: 0 0 2px 2px;
			box-sizing: border-box;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			background: $white;
			z-index: 5;
			.pm_button {
				padding: 0 1rem;
			}
		}
	}
}
