#pm_contacts {
	.pm_table {
		td {
			vertical-align: middle;
			label {
				padding-left: 10px;
			}
			line-height: 40px;
			span {
				line-height: 40px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: block;
				width: 100%;
				display: block;
			}
		}
		td.name {
			width: initial;
			min-width: initial;
		}
		td.actions {
			padding: 10px;
		}
		th.name {
			width: initial;
		}
	}
}

body.mobileMode {
	#pm_contacts {
		.pm_table {
			tr {
				margin: 0;
			}
			td.text-right {
				padding: .5rem 0;
			}
			td.actions {
				span {
					width: 100%;
					.pm_button.round {
						float: left;
						margin-right: 1rem;
					}
				}
			}
		}
		.pm_toolbar {
			.compose,
			.delete {
				display: none;
			}
		}
	}
}