#pm_contacts {
	padding: 0 25px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	.wrap {
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
	}
	.tableWrapper {}
}

@media (max-width: $tablet) {
    #pm_contacts {}
}

@media (max-width: $tablet) {
	#pm_contacts #pm_toolbar {
		padding: 14px 0 0;
	}
}