// WARNING. ALL CLASSES HERE WILL BE APPLIED TO ALL EMAILS!!
.message .frame > .email {
	img.pm_broken {
		background-color: $gray-light;
	}
	* {
		word-break: break-word;
	}
	blockquote {
		padding: 0 0 0 1rem;
		margin: 0;
		border-left: 4px solid #e5e5e5;
	}
	blockquote blockquote blockquote {
		padding-left: 0;
		margin-left: 0;
		border: none;
	}
}