html.protonmail {
	&, 
	body {
		height: 100%;
	} 
	body {
		overflow-y: hidden;
		background: $secondary;
		&.secure {
			background: $white;
		}	
	}
	.clear {
		clear: both;
	}
	.text-center {
		text-align: center;
	}
}