html.protonmail {
	&,
	body {
		height: 100%;
	}
	body {
		overflow-y: hidden;
		background: $secondary;
		&.secure {
			background: $white;
		}
		&.scroll {
			overflow-y: initial;
		}
	}
	.clear {
		clear: both;
	}
	.text-center {
		text-align: center;
	}
	.text-left {
		text-align: left;
	}
	.text-right {
		text-align: right;
	}
	.text-gray {
		color: $gray;
	}
	.text-light-gray {
		color: $gray-light;
	}
	.text-green {
		color: $green;
	}
	.text-red {
		color: $red;
	}
	.text-purple {
		color: $primary;
	}
	.border-panel {
		padding: 15px;
		border: 1px solid $border;
	}
	.margin-bottom {
		margin-bottom: 15px;
	}
}
