header#pm_header {
	height: $headerHeight;
	line-height: $headerHeight;
	border-bottom: 1px solid $border;
	background: #fff;
	font-size: 12px;
	#snackie {
		position: absolute;
		left: 50%;
		margin-left: -142px;
		top: 0;
		display: block;
		z-index: 99999;
	}
	i, b {
		font-style: normal;
		font-weight: normal;
	}
	.compose {
		display: none;
	}
	.searchBtn {
		display: none;
	}
	a.logo {
		display: inline-block;
		float: left;
		width: $sidebarWidth;
		text-align: center;
		img {
			display: inline-block;
			margin: auto;
			vertical-align: middle;
		}
	}
	.location {
		display: none;
	}
	a.logoMobile {
		display: none;
	}
	.pm_buttons {
		border: none;
		background: transparent !important;
		padding: 0;
		float: none;
		height: initial;
		line-height: initial;
		float: left;
		a {
			background: transparent !important;
			border: none;
			padding: 0;
			.fa {
				line-height: initial;
			}
		}
		p {
			text-align: left;
		}
		strong {
			font-size: 12px;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    width: 100%;
		    overflow: hidden;
		}
		b {
			font-size: 10px;
		}
		.pm_button.primary {
		    background-color: #9397cd !important;
		    border-color: #9397cd !important;
		    color: #fff !important;
		    margin: auto;
		    display: block;
		    width: 100%;
		    &:hover {
	            background-color: #7e82b4 !important;
	            border-color: #7e82b4 !important;
	        }
	        &:active,
	        &:focus {
	            background-color: 66669a !important;
	            border-color: 66669a !important;
	            outline: none;
	        }
		}
	}
	.help {
		color: #000 !important;
		margin: 1rem 0;
	}
	form.searchForm {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		float: left;
		line-height: 35px;
		height: 35px;
		margin: 13px 0;
		border: 1px solid $border;
		border-radius: 35px;
		color: $primary;
		width: 440px;
		max-width: 28%;
		margin-left: 25px;
		box-sizing: border-box;
		::-webkit-input-placeholder {
		   color: $primary;
		}
		:-moz-placeholder {
		   color: $primary;
		}

		::-moz-placeholder {
		   color: $primary;
		}

		:-ms-input-placeholder {
		   color: $primary;
		}
		button {
			padding: 0;
			border: none;
			display: block;
			width: 50px;
			background-color: transparent;
			cursor: pointer;
		}
		input.query {
			height: 33px;
			line-height: 33px;
			display: block;
			border: none;
			padding: 0;
			-webkit-appearance: none;
			   -moz-appearance: none;
			        appearance: none;
			position: relative;
			border-radius: 0 35px 35px 0;
			-webkit-flex-grow: 1;
			    -ms-flex-positive: 1;
			        flex-grow: 1;
			padding: 0 10px;
			background-color: transparent;
			&::-webkit-input-placeholder { /* WebKit browsers */
    			text-transform: uppercase;
			}
			&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			    text-transform: uppercase;
			}
			&::-moz-placeholder { /* Mozilla Firefox 19+ */
			    text-transform: uppercase;
			}
			&:-ms-input-placeholder { /* Internet Explorer 10+ */
			    text-transform: uppercase;
			}
		}
		a {
			display: none;
		}
	}
	ul.navigation {
		display: block;
		float: right;
		margin: 0;
		padding: 0;
		li {
			display: block;
			float: left;
			p {
				margin: 0;
				a {
					color: $primary;
					padding: 0;
					margin: 0;
				    display: inline-block;
				    width: auto;
				    height: auto;
				    line-height: initial !important;
				    float: none;
				}
			}
			a {
				height: $headerHeight;
				padding-top: 10px;
				float: left;
				display: block;
				width: 115px;
				text-align: center;
				text-transform: uppercase;
				text-decoration: none;
				color: #bfbfbf;
				box-sizing: border-box;
				em {
					display: block;
					height: 20px;
					line-height: 20px;
					padding-top: 5px;
					text-align: center;
				}
				strong {
					display: block;
					height: 20px;
					line-height: 20px;
					font-weight: normal;
				}
			}
			&.active {
				a {
					border-top: 10px solid $primary !important;
					padding-top: 0;
					color: #000 !important;
					.fa {
						color: $primary !important;
					}
					strong {
						font-weight: 700;
					}
				}
			}
			&:hover {
				& > a {
					border-top: 10px solid lighten($primary, 10%);
					padding-top: 0;
					color: #3f3f3f;
					.fa {
						color: lighten($primary, 10%);
					}
				}
			}
		}
	}
	&.no-auth {
		background: $secondary;
		border-bottom-color: transparent;
		a {
			text-decoration: none;
			color: $white;
			padding: 0 25px;
			&.pm_button.primary {
				margin-right: 25px;
			}
		}
	}
}

@media (max-width: $tablet-landscape) {
	header#pm_header {
		.compose {
			display: block;
			height: 35px;
	        line-height: 35px;
	        border-radius: 2px;
	        background-color: $primary;
	        text-align: center;
	        color: $white;
	        text-transform: uppercase;
	        text-decoration: none;
	        margin-bottom: 15px;
	        font-size: 12px;
	        padding-right: .5rem;
	        width: 135px;
	        float: right;
	        margin: 13px 10px;
	        &:hover {
	            background-color: #7e82b4;
	        }
	        &:active {
	            background-color: #66669a;
	        }
		}
		form.searchForm {
			float: none;
			margin: 0 auto;
			position: relative;
			top: 13px;
			max-width: 32%;
			input.query {
				width: 50%;
			}
		}
		ul.navigation {
			display: none;
		}
		a.logo {
			display: none;
		}
		a.logoMobile {
			display: inline-block;
			margin: 0 10px;
			float: left;
			img {
				display: inline-block;
				vertical-align: middle;
				margin-top: -4px;
			}
		}
		.location {
			float: left;
			display: block;
			font-weight: 700;
			font-size: 16px;
			color: #669;
		}
	}
}

@media (max-width: $mobile-portrait) {
	header#pm_header {
		.fa {
			font-size: 18px;
		}
		a.pm_button.primary {
			margin-right: 20px !important;
		}
		a.back {
			padding: 0 20px;
		}
		b {
			display: none;
		}
		a.logoMobile {
			padding: 0 10px;
			margin: 0;
		}
		.compose {
			max-width: 3rem;
			min-width: 3rem;
			width: 3rem;
			padding: 0;
			margin-right: 10px;
			margin-left: 0;
			span {
				display: none;
			}
		}
		.searchBtn {
			display: block;
			float: right;
			margin-right: 10px;
			border-radius: 2px;
			box-shadow: inset 0 0 0 1px $border;
			height: 35px;
			line-height: 35px;
			margin-top: 13px;
			width: 3rem;
			min-width: 3rem;
			max-width: 3rem;
			text-align: center;
			color: #838897;
		}
		form.searchForm {
			display: none;
			position: absolute;
			z-index: 6;
			left: 0;
			top: 61px;
			right: 0;
			height: 66px;
			padding: 0;
			margin: 0;
			border-radius: 0;
			background-color: $secondary;
			width: auto;
			max-width: none;
			border: none;
			label {
				position: absolute;
				z-index: 1;
				line-height: 66px;
				height: 66px;
				width: 2rem;
				left: 25px;
				display: block;
				top: 0;
				bottom: 0;
				text-align: center;
			}
			button.advanced {
				position: absolute;
				z-index: 6;
				line-height: 66px;
				height: 66px;
				width: 2rem;
				left: 5em;
				display: block;
				top: 0;
				bottom: 0;
				text-align: center;
			}
			input.query {
				z-index: 2;
				border-radius: 46px;
				height: 44px;
				line-height: 44px;
				border: 1px solid rgba(255,255,255,.2);
				position: absolute;
				left: 15px;
				top: 10px;
				right: 15px;
				bottom: 10px;
				width: 18rem;
				box-sizing: border-box;
				padding-left: 6rem;
			}
			a {
				color: $white;
				text-decoration: none;
				display: block;
				position: absolute;
				right: 15px;
				top: 0;
				line-height: 66px;
				height: 66px;
				width: 3rem;
				text-align: center;
			}
		}
	}
}
