#pm_columns #pm_view > header {
    position: relative;
    padding-right: 3rem;
    .singleStar {
        position: absolute;
        right: 0;
        top: 0;
    }
}
#pm_view {
	display: block;
	padding-left: 15px;
	&.rows {
		width: 100%;
		padding-left: 0;
	}
    & > header {
    	display: block;
		min-height: ($toolbarHeight+1);
		box-sizing: border-box;
		margin-right: 25px;
		border-bottom: 1px solid $border;
        clear: both;
	    h1 {
	        font-size: 24px;
	        font-weight: 400;
	        color: #333;
	        line-height: 1.25em;
	        margin: 0;
	        letter-spacing: .04rem;
	        display: block;
	        padding-top: ( (($toolbarHeight)-25) /2 );
	        padding-right: 0;
	        padding-bottom: ( (($toolbarHeight)-25) /2 );
	        padding-left: 0;
	        box-sizing: border-box;
	        overflow: auto;
            -webkit-overflow-scrolling: touch;
	    }
	    .fa-star,
	    .fa-star-o {
	    	text-decoration: none;
	    	float: right;
	    	display: block;
	    	width: 2rem;
	    	text-align: right;
	    	font-size: 20px;
	    	line-height: 65px;
	    	height: 65px;
	    }
	    .fa-star-o {
			color: $gray
		}
		.fa-star {
		 	color: $orange
		}
    }
    #pm_thread {
    	padding-right: 25px;
    	max-height: $maxHeight;
    	overflow-y: auto;
    	overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    	box-sizing: border-box;
    	width: 100%;
        clear: both;
    }
    article.message {
    	clear: both;
    	border-bottom: 1px solid $border;
        &.open.last {
            border-bottom: none;
        }
		a.compose {
			background: $primary;
			color: #fff;
			padding: 0;
		    line-height: 12px !important;
		    height: 14px !important;
		    padding: 0 1px;
		    margin-right: .5rem;
		    font-size: 10px;
		    margin-top: 4px;
            position: absolute;
            left: 0;
            top: 0;
		}
        span.person {
            position: relative;
            white-space: nowrap;
            padding-left: 1.5rem;
            & > * {
                float: left;
            }
            i {
                margin: 0 0 0 .25rem;
                clear: both;
                white-space: nowrap;
            }
            em {
                color: $gray;
                display: inline-block;
                font-weight: 600;
                font-style: normal;
            }
            em.draftTag {
                color: $primary;
                margin-left: 1rem;
                font-weight: 400;
            }
        }
    	header {
    		overflow: hidden;
    		font-size: 15px;
    		padding: 10px 0;
    		line-height: 20px;
    		box-sizing: border-box;
    		.time {
    			display: inline-block;
    			white-space: nowrap;
    			text-align: right;
                font-size: 14px;
    		}
    		.from {
    			color: #999;
    			float: left;
    			i {
    				display: inline-block;
    				width: 3rem;
    				float: left;
                    font-style: normal;
    			}
                .person {
                    position: relative;
                    padding-left: 1.5rem;
                    float: left;
                }
                strong {
                    float: left;
                    display: block;
                    font-weight: 400;
                    margin-left: .5rem;
                }
    		}
    		a {
    			text-decoration: none;
    		}
    		.fa-star,
    		.fa-star-o {
    			display: block;
    			float: left;
    			width: 1.5rem;
    			line-height: 20px;
    			height: 20px;
    		}
    		.fa-star-o {
				color: $gray;
			}
			.fa-star {
			 	color: $orange;
			}
    		.meta {
    			float: right;
    			color: #555;
    			.fa {
    				color: #aba7be;
    				display: inline-block;
    				text-align: center;
    				width: 1.5rem;
    			}
    		}
    	}
    	.recipientsWrap {
    		display: block;
    		margin: -20px 0 0 3rem;
            min-height: 20px;
            & > span {
                clear: both;
                display: block;
                height: 20px;
                line-height: 20px;
        		& > * {
        			float: left;
        		}
            }
            strong {
                font-weight: 400;
                margin-left: .5rem;
            }
    	}
		.sub {
            border-bottom: 1px solid $border;
            padding-left: 1.5rem;
			padding-right: 145px;
			position: relative;
			color: #999;
			font-size: 14px;
			line-height: 20px;
			clear: both;
			box-sizing: border-box;
            float: left;
            width: 100%;
			.data {
                overflow: hidden;
                float: left;
                width: 100%;
                .toGroup,
                .ccGroup {
                    display: block;
                    float: left;
                    clear: both;
                }
                & > div > i {
    				font-style: normal;
    				width: 3rem;
    				display: inline-block;
                }
			}
    		.meta {
    			height: 35px;
                float: left;
                width: 100%;
                clear: both;
    			line-height: 35px;
    			padding-top: 1rem;
                .pm_labels.inline .pm_label {
                    margin: 0 5px 0 0;
                    width: auto;
                    max-width: initial;
                    i {
                        display: none;
						&.fa-times {
							display: inline-block;
                            color: $gray-light;
                            font-size: 10px !important;
						}
                    }
                    em {
                        display: inline-block;
                    }
                }
    			.pm_buttons {
    				padding: 0;
    				border: none;
    			}
                .addLabelButton {
                    height: 18px;
                    line-height: 14px;
                    text-decoration: none;
                    position: relative;
                    float: left;
                    a.addLabel {
                        padding: 0;
                        border-radius: 2px;
                        text-transform: uppercase;
                        border: 2px solid $gray-light;
                        color: $gray-light;
                        box-sizing: border-box;
                        height: 18px;
                        text-decoration: none;
                        font-weight: 700;
                        position: relative;
                        .fa {
                            font-size: 10px !important;
                            line-height: 14px;
                        }
                        small {
                            font-size: 10px !important;
                            line-height: 14px !important;
                            padding: 0 0.35rem;
                            float: left;
                        }
                    }
                }
    			.labelClose {
    				display: block;
    				float: right;
    				height: 14px;
    				line-height: 14px;
    				color: $gray;
    				margin-left: .25rem;
    			}
    		}
			.actions {
				text-align: right;
				padding: 0;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 2;
				width: 145px;
                background: #fff;
				.pm_buttons {
					float: right;
					margin: 0;
				}
			}
			& > .fa-mail-forward,
			& > .fa-mail-reply,
			& > .fa-mail-reply-all {
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				line-height: 20px;
			}
			.fa-plus-square-o {
				display: inline-block;
				font-size: 20px;
				position: relative;
				color: #bfbfbf;
				text-decoration: none;
				float: left;
				line-height: 1em;
			}
		}
    	.frame {
    		width: 100%;
    		position: relative;
    		clear: both;
    		padding-top: 1rem;
    		padding-bottom: 1rem;
            .more {
                line-height: 1rem;
                height: 1rem;
                margin: 1rem 0;
                background: $light;
            }
    		iframe {
    			position: relative;
    			width: 100%;
    			height: 100%;
    			z-index: 2;
    			overflow: auto;
                -webkit-overflow-scrolling: touch;
	    		padding: 0;
	    		margin: 0;
	    		outline: none;
	    		border: none;
    		}
			.display-image {
				text-transform: uppercase;
				border: 1px solid $border;
                border-radius: 2px;
                width: 100%;
				a {
					color: $primary;
                    display: block;
                    width: 100%;
					text-decoration: none;
                    text-decoration: none;
				}
				a:hover, a:focus {
					text-decoration: underline;
				}
			}
    		.pm_message_more {
			    background-color: #f6f6f6;
			    border: 1px solid #efefef;
			    border-radius: 2px;
			    width: 2rem;
			    text-align: center;
			    display: inline-block;
			    color: #669;
			    margin-bottom: 1rem;
			    height: 1rem;
			    line-height: .5rem;
			    text-decoration: none;
    		}
    	}
    	&.collapsed {
    		line-height: 40px;
    		height: 41px;
    		padding: 0;
            .from span i {
                display: none;
            }
            .compose {
                display: none;
            }
    		.sub {
    			display: none;
    		}
    		.frame {
    			display: none;
    		}
    	}
    }
}

@media (max-width: $tablet-landscape) {
    #pm_view.rows #pm_toolbar {
        margin: 0;
        padding: 14px 25px 0;
        height: 63px;
        & > .pm_buttons {
            margin-left: 0;
        }
    }
    #pm_view > header {
        margin: -10px 0 0 0;
        padding: 0 10px;
        line-height: 65px;
        float: left;
        width: 100%;
        position: relative;
        padding-right: 4rem;
        .singleStar {
            position: absolute;
            right: 10px;
            top: 0;
        }
    }
    #pm_view #pm_thread {
        padding: 0;
    }
    #pm_view {
        article.message {
            padding: 0 10px;
            span.person {
                strong {
                    display: none;
                }
            }
        }
    }
}
@media (max-width: $mobile-landscape) {
    #pm_view #pm_thread {
        padding: 0;
    }
    #pm_view > header {
        padding: 0;
    }
    #pm_view #pm_toolbar {
        .pm_buttons a,
        .pm_button {
            padding: 0 7px !important;
        }
    }
    #pm_view article.message {
        .sub {
            padding-left: 0;
        }
        .recipientsWrap {
            margin: 0;
        }
    }
    #pm_view .message .pm_labels .pm_label {
        width: initial !important;
    }
}

@media (max-width:  $mobile-portrait) {
    #pm_view article.message .sub {}
}
