#pm_columns #pm_view > header {
    position: relative;
    padding-right: 25px;
    padding-left: 40px;
    .singleStar {
        position: absolute;
        right: 15px;
        top: 0;
        width: 20px;
        display: block;
        text-align: right;
    }
}
#pm_rows #pm_view article.message header {
    padding-right: 10px;
}
#pm_columns {
    #pm_view {
        & > header {
            h1 {
                padding-left: 0;
            }
        }
    }
}
#pm_view {
	display: block;
    padding: 0 15px 0 40px;
	&.rows {
		width: 100%;
		padding: 0;
	}
    & > header {
    	display: block;
		min-height: 35px;
		box-sizing: border-box;
		border-bottom: 1px solid $border;
        clear: both;
        .pm_buttons {
            float: right;
            margin-top: 10px;
            margin-right: 10px;
            a {
                box-sizing: border-box;
                i {
                    line-height: 33px;
                    height: 33px;
                    text-align: center;
                    width: auto;
                }
            }
        }
	    h1 {
	        font-size: 24px;
	        font-weight: 400;
	        color: #333;
	        line-height: 35px;
	        margin: 0;
	        letter-spacing: .04rem;
	        display: block;
	        padding-top: 10px;
	        padding-right: 3rem;
	        padding-bottom: 10px;
	        padding-left: 40px;
	        box-sizing: border-box;
	        overflow: auto;
            -webkit-overflow-scrolling: touch;
	    }
    }
    .fa-star,
    .fa-star-o {
        text-decoration: none;
    }
    .fa-star-o {
        color: $gray
    }
    .fa-star {
        color: $orange
    }
    #pm_thread {
    	max-height: $maxHeight;
    	overflow-y: auto;
    	overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    	box-sizing: border-box;
    	width: 100%;
        // opacity: 0;
        clear: both;
    }
    article.message {
    	clear: both;
    	border-bottom: 1px solid $border;
        .toggleDetails {
            color: $primary;
            cursor: pointer;
            display: inline-block;
            padding: 10px 0;
            font-weight: 700;
            margin-bottom: -1rem;
        }
        .where,
        .contact {
            color: #777;
            em {
                color: #777;
                font-style: normal;
            }
            strong {
                font-weight: 400;
                color: $gray;
            }
        }
        .data .toGroup .contact:not(:last-child)::after,
        .data .ccGroup .contact:not(:last-child)::after,
        .data .bccGroup .contact:not(:last-child)::after {
            content: ",";
        }
        .data table {
            border-collapse: collapse;
            border-spacing: 0;
            padding: 0;
            td {
                vertical-align: top;
                padding: 0 .25rem 0 0;
            }
        }
        .where {
            display: none;
        }
        &.read {
            background: $read;
        }
        &.details {
            .data {
                .toGroup .contact:not(:last-child)::after,
                .ccGroup .contact:not(:last-child)::after,
                .bccGroup .contact:not(:last-child)::after {
                    content: "";
                }
                .contact {
                    display: block;
                }
            }
        }
        &.open.last {
            border-bottom: none;
        }
        &.open {
            background: #fff;
            &.read {
                background: #fff;
            }
            .where {
                display: inline-block;
            }
            header {
                margin-bottom: -10px;
                padding-top: 20px;
                .contact {
                    strong {
                        font-weight: 700;
                    }
                }
                .pm_labels {
                    background: $read;
                    right: 1rem;
                    .pm_label {
                        box-shadow: 0 0 0 4px $white !important;
                        background: $white !important;
                        padding-right: calc(.15rem + 1rem);
                        position: relative;
                        right: initial !important;
                        box-sizing: border-box;
                        max-width: initial !important;
                        a {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 1rem;
                            text-align: center;
                            cursor: pointer;
                            bottom: 0;
                            display: block;
                            z-index: 2;
                            .fa {
                                position: static;
                                display: block !important;
                                font-size: 10px;
                                color: $gray-light;
                                line-height: 12px;
                                height: 12px;
                                -webkit-transition: color .25s ease;
                                   -moz-transition: color .25s ease;
                                    -ms-transition: color .25s ease;
                                     -o-transition: color .25s ease;
                                        transition: color .25s ease;
                                &:hover {
                                    color: $gray;
                                }
                            }
                        }
                    }
                }
            }
        }
		a.compose {
			color: $primary;
			padding: 0;
		    line-height: 12px !important;
		    height: 14px !important;
		    font-size: 90%;
            position: relative;
            left: 0;
            top: 0;
            text-decoration: none;
		}
        &.unread {
            span.person {
                em {
                    color: #000;
                    font-weight: 700;
                }
            }
        }
        &.read {
            span.person {
                em {
                    // color: #999
                }
            }
        }
    	header {
    		overflow: hidden;
    		font-size: 15px;
    		padding: 10px 40px;
    		line-height: 20px;
    		box-sizing: border-box;
            cursor: pointer;
            font-size: 90%;
            position: relative;
            cursor: pointer;
            & > .meta {
                float: right;
            }
            .pm_labels {
                top: 1px;
                float: right;
                background: $read;
                .pm_label {
                    box-shadow: 0 0 0 4px $read;
                    background: $read;
                }
            }
    		.time {
    			display: inline-block;
    			white-space: nowrap;
    			text-align: right;
    		}
            .history {
                position: absolute;
                left: 0;
                width: 40px;
                text-align: center;
                top: 0;
                line-height: 40px;
                display: block;
                height: 40px;
            }
            span.expiration {
                position: absolute;
                z-index: 5;
                right: 0;
                top: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 2rem 2rem 0;
                border-color: transparent $exp transparent transparent;
                color: #fff;
                .fa {
                    position: absolute;
                    right: -2rem;
                    top: 0;
                    display: block;
                    text-align: center;
                    line-height: 1.25rem;
                    height: 1.25rem;
                    width: 1.25rem;
                }
            }
    		a {
    			text-decoration: none;
    		}
    		.fa-star,
    		.fa-star-o {
    			display: block;
    			float: left;
    			width: 1.5rem;
    			line-height: 20px;
    			height: 20px;
    		}
    		.fa-star-o {
				color: $gray;
			}
			.fa-star {
			 	color: $orange;
			}
    	}
		.sub {
            margin-left: 40px;
            margin-right: 40px;
			padding-right: calc(175px - 40px);
			position: relative;
			color: #999;
			font-size: 14px;
			line-height: 20px;
			clear: both;
			box-sizing: border-box;
            box-shadow: 0 1px 0 0 $border;
            min-height: 55px;
            padding-bottom: 20px;
			.data {
                float: left;
                width: 100%;
                font-size: 90%;
                .where {
                    display: inline-block;
                }
                .display-image {
                    position: absolute;
                    left: 50%;
                    bottom: -1px;
                    margin: 0 0 0 -5rem;
                    width: 10rem;
                    border-radius: 4px 4px 0 0;
                    border-bottom-color: #fff;
                    background: #fff;
                    box-sizing: initial;
                    -webkit-transition: padding .1s ease;
                       -moz-transition: padding .1s ease;
                        -ms-transition: padding .1s ease;
                         -o-transition: padding .1s ease;
                            transition: padding .1s ease;
                    &:hover {
                        background: #fff;
                        padding-top: 4px;
                    }
                    a {
                        background-color: #fff !important;
                    }
                }
			}
    		.actions {
				text-align: right;
				padding: 0;
				position: absolute;
				right: 0;
				top: 10px;
				z-index: 2;
				width: 145px;
				.pm_buttons {
                    background: #fff;
					float: right;
					margin: 0;
				}
			}
			& > .fa-mail-forward,
			& > .fa-mail-reply,
			& > .fa-mail-reply-all {
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				line-height: 20px;
			}
			.fa-plus-square-o {
				display: inline-block;
				font-size: 20px;
				position: relative;
				color: #bfbfbf;
				text-decoration: none;
				float: left;
				line-height: 1em;
			}
		}
    	.frame {
            max-width: 100%;
            overflow: auto;
    		position: relative;
    		clear: both;
            box-sizing: border-box;
            margin-left: 40px;
            margin-right: 40px;
            & > div > div:nth-child(2) {
                padding: calc(15px + 1.5rem);
            }
            .more {
                line-height: 1rem;
                height: 1rem;
                margin: 1rem 0;
                background: $light;
            }
    		iframe {
    			position: relative;
    			width: 100%;
    			height: 100%;
    			z-index: 2;
    			overflow: auto;
                -webkit-overflow-scrolling: touch;
	    		padding: 0;
	    		margin: 0;
	    		outline: none;
	    		border: none;
    		}
			.display-image {
				text-transform: uppercase;
				border: 1px solid $border;
                border-radius: 2px;
                width: 100%;
				a {
					color: $primary;
                    display: block;
                    width: 100%;
					text-decoration: none;
                    text-decoration: none;
				}
				a:hover, a:focus {
					text-decoration: underline;
				}
			}
    		.pm_message_more {
			    background-color: $read;
			    border: 1px solid #efefef;
			    border-radius: 2px;
			    width: 2rem;
			    text-align: center;
			    display: inline-block;
			    color: #669;
			    margin-bottom: 1rem;
			    height: 1rem;
			    line-height: .5rem;
			    text-decoration: none;
    		}
    	}
    	&.collapsed {
    		line-height: 40px;
    		height: 41px;
    		padding: 0;
            .compose {
                display: none;
            }
    		.sub {
    			display: none;
    		}
    		.frame {
    			display: none;
    		}
    	}
    }
}

@media (max-width: $tablet-landscape) {
    #pm_view.rows #pm_toolbar {
        margin: 0;
        padding: 14px 25px 0;
        height: 63px;
        & > .pm_buttons {
            margin-left: 0;
        }
    }
    #pm_rows #pm_view article.message header {
        padding-right: 0;
        padding-left: 0;
    }
    #pm_view article.message.open {
        position: relative;
        .sub {
            margin: 0;
        }
    }
    #pm_view article.message .frame {
        padding-left: 0;
        padding-right: 0;
    }
    #pm_view > header {
        margin: 0;
        padding: 0 10px;
        line-height: 65px;
        float: left;
        width: 100%;
        position: relative;
        padding-right: 0;
        .singleStar {
            position: absolute;
            right: 0;
            top: 0;
            padding-right: 10px;
            background: #fff;
            width: 2rem;
        }
        h1 {
            padding-right: 10px;
            padding-left: 10px;
        }
    }
    #pm_view #pm_thread {
        padding: 0;
    }
    #pm_view {
        article.message {
            padding: 0 10px;
            span.person {
                strong {
                    font-weight: 700;
                }
            }
        }
    }
}
@media (max-width: $mobile-landscape) {
    #pm_view #pm_thread {
        padding: 0;
    }
    #pm_view > header {
        padding: 0;
    }
    #pm_view #pm_toolbar {
        .pm_buttons a,
        .pm_button {
            padding: 0 7px !important;
        }
    }
    #pm_view article.message {
        .sub {
            padding-left: 0;
        }
        .recipientsWrap {
            margin: 0;
        }
    }
    #pm_view .message .pm_labels .pm_label {
        width: initial !important;
    }
}

@media (max-width:  $tablet-portrait) {
    #pm_view article.message .sub {
        padding-left: 0;
        padding-right: 0;
        .actions {
            position: static;
            float: right;
        }
        .data {
            clear: both;
        }
    }
}
