.cg-notify-message {
    background: $readBubble;
    border-color: $readBubble;
    color: #fff !important;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    box-shadow: none;
    &.notification-success {

    }
}