body .cg-notify-message {
    background: #43434f;
    border-color: #43434f;
    color: #fff !important;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    box-shadow: none;
    padding: .5rem 1rem;
    z-index: 9999999 !important;
    &.notification-success {
        background-color: $green;
        border-color: $green;
    }
    &.notification-warning {
        background-color: $yellow;
        border-color: $yellow;
    }
    &.notification-danger {
        background-color: #cc9393;
        border-color: #cc9393;
    }
    &.bottom-right {
        right: 2rem !important;
        bottom: 1rem !important;
        top: initial !important;
        left: initial !important;
    }
}

@media (max-width: 800px) {
    html body .cg-notify-message {
        width: 100% !important;
        left: 0 !important;
        right: 0 !important; 
        margin: 0 !important;
        box-sizing: border-box;
        border-radius: 0 !important;
        top: 0 !important;
    }
}