.pm_dropdown {
	position: absolute;
	box-sizing: border-box;
	left: -1px;
	top: 100%;
	background: $white;
	border: 1px solid $border;
	padding: 5px 15px;
	z-index: 4;
	margin-top: 5px;
	display: none;
	font-size: 12px;
	width: 8rem;
	max-height: 260px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	border-radius: 2px !important;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	&.right {
		right: -1px;
		left: auto !important;
	}
	&.wide {
		width: 200px;
		max-height: none;
		padding: 15px;
	}
	&.wider {
		width: 240px;
		max-height: none;
		padding: 15px;
	}
	&.widest {
		width: 280px;
		max-height: none;
		padding: 15px;
	}
	&.open {
		display: block;
	}
	> a {
		width: 100%;
		text-align: left;
		display: block;
		line-height: 35px !important;
		height: 35px !important;
		padding: 0 !important;
		border-bottom: 1px solid $border;
		white-space: nowrap;
		box-shadow: none;
		.fa {
			line-height: 35px !important;
			height: 35px !important;
			display: inline-block;
			width: 1.5rem;
		}
		&:hover {
			background-color: transparent !important;
			color: #333 !important;
		}
	}
	> a:last-child {
		border-bottom: none;
	}
}
