.pm_form {
    legend {
        padding: 0;
        margin: 0;
        font-size: 20px;
        border-bottom: 1px solid $border;
        line-height: 1.5em;
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }
    ::-webkit-input-placeholder {
       color: #aaaabf;
    }
    :-moz-placeholder {
       color: #aaaabf;
    }

    ::-moz-placeholder {
       color: #aaaabf;
    }

    :-ms-input-placeholder {
       color: #aaaabf;
    }

    select {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        cursor: pointer;
        background: $white;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="search"],
    select,
    textarea {
        line-height: $inputHeight;
        border: 1px solid #e1e1ef;
        box-sizing: border-box;
        color: #555;
        display: block;
        width: 100%;
        font-size: 1em;
        border-radius: 2px;
        position: relative;
        resize: none;
        &:focus {
            color: $primary;
            border-color: $primary;
            outline: none;
        }
        &[disabled],
        &.disabled {
            color: #bbb;
            border-color: $border;
            background: #fcfcfc;
        }
        &.success {
            color: #aecf96;
            border-color: #aecf96;
        }
        &.error {
            color: #cf9696;
            border-color: #cf9696;
        }
        &.warning {
            color: #d9c4a2;
            border-color: #d9c4a2;
        }
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="search"],
    select,
    textarea {
        padding: 0 20px;
    }
    textarea {
        min-height: 6rem;
    }
    .margin {
        margin-bottom: 10px;
    }
    label {
        line-height: $inputHeight;
        display: block;
    }
    .col {
        display: block;
        width: 50%;
        min-width: 50%;
        float: left;
        box-sizing: border-box;
        padding-bottom: 0;
        &.left {
            width: 40%;
            min-width: 40%;
        }
        &.right {
            width: 60%;
            min-width: 60%;
            float: right;
        }
    }
    &.alt {
        .col {
            width: 25%;
            min-width: 25%;
            &.wide {
                width: 70%;
                min-width: 70%;
            }
        }
    }
}
