/* Flex Content */

.pm-flex-content,
.pm-flex-content-vertical-center {
    @include flexColumn();
}


.pm-flex-content-row {
    @include flexRow();
    &.alignItemsCenter {
        align-items: center;
    }
}

.pm-flex-content-vertical-center {
    -webkit-justify-content: center;
    justify-content: center;
}

.pm-flex-content-autoWidth {
    -webkit-align-self: flex-start;
    align-self: flex-start
}

.pm-flex-content-fillWidth,
.pm-flex-content-fillHeight {
    /*
    Use flex-grow:1 rather than flex:1
    cause IE10 and IE11 default values for flex are 0 0 auto and not 0 1 auto */
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
