.pm_form {
    legend {
        color: $primary;
        padding: 0;
        margin: 0;
        font-size: 20px;
        border-bottom: 1px solid $border;
        line-height: 1.5em;
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }
    ::-webkit-input-placeholder {
       color: #aaaabf;
    }
    :-moz-placeholder {
       color: #aaaabf;
    }

    ::-moz-placeholder {
       color: #aaaabf;
    }

    :-ms-input-placeholder {
       color: #aaaabf;
    }

    .help {
        color: $gray-light;
    }

    .pm_select {
        position: relative;
        margin-bottom: 1rem;
        display: inline-block;
        border: 1px solid $border;
        border-radius: 2px;
        select {
            margin: 0;
            height: 32px;
            line-height: 32px;
            padding-left: 10px;
            position: relative;
            z-index: 3;
            background: transparent;
            border: none;
            width: 100%;
        }
        .fa {
            position: absolute;
            right: 10px;
            display: block;
            top: 0;
            bottom: 0;
            height: 32px;
            line-height: 32px;
            z-index: 1;
        }
    }

    select {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        cursor: pointer;
        background: $white;
    }
    .radio {
        label {
            display: inline-block;
            margin-right: 1rem;
        }
    }

    // wrapper for placing icons inside inputs
    .input-icon {
        position: relative;
        input {
            position: relative;
        }
        .fa {
            position: absolute;
            right: 1px;
            top: 1px;
            bottom: 1px;
            text-align: right;
            display: block;
            line-height: 32px;
            height: 32px;
            color: #ccc;
            text-align: center;
            width: 2rem;
            color: $primary;
            z-index: 2;
        }
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="search"],
    select,
    textarea {
        line-height: $inputHeight;
        border: 1px solid #e1e1ef;
        box-sizing: border-box;
        color: #555;
        display: block;
        width: 100%;
        font-size: 1em;
        border-radius: 2px;
        position: relative;
        resize: none;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        &:hover {
            border-color: $border;
        }
        &:focus {
            color: $primary;
            border-color: $primary;
            outline: none;
        }
        &[disabled],
        &.disabled {
            color: #bbb;
            border-color: $border;
            background: #fcfcfc;
        }
        &.success {
            color: #aecf96;
            border-color: #aecf96;
        }
        &.error {
            color: #cf9696;
            border-color: #cf9696;
        }
        &.warning {
            color: #d9c4a2;
            border-color: #d9c4a2;
        }
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="search"],
    select,
    textarea {
        padding: 0 20px;
        margin-bottom: 1rem;
    }
    textarea {
        min-height: 6rem;
    }

    select {
        width: initial;
        line-height: 32px;
        height: 32px;
    }
    .margin {
        margin-bottom: 10px;
    }
    label {
        line-height: $inputHeight;
        display: block;
        &.larger {
            margin: 0 0 1rem 0;
            font-size: 1.2rem;
            line-height: 135%;
        }
    }
    .col {
        display: block;
        width: 50%;
        min-width: 50%;
        float: left;
        box-sizing: border-box;
        padding-bottom: 0;
        &.left {
            width: 40%;
            min-width: 40%;
        }
        &.right {
            width: 60%;
            min-width: 60%;
            float: right;
        }
    }
    &.alt {
        .col {
            width: 25%;
            min-width: 25%;
            &.wide {
                width: 70%;
                min-width: 70%;
            }
        }
    }
    .row {
        float: left;
        width: 100%;
        clear: both;
        .col {
            width: 25%;
            min-width: 25%;
            padding-right: 1rem;
            &.last {
                padding-right: 0;
            }
            &.narrow {
                width: 20%;
                min-width: 20%;
            }
            &.wide {
                width: 30%;
                min-width: 30%;
            }
            &.full {
                width: 80%;
            }
        }
    }
}


@media (max-width: $tablet-landscape) {
    .pm_form {
        .col {
            width: 100% !important;
            clear: both;
        }
    } 
}