.pm_labels {
	label {
	    border-radius: 3px;
	    border: 2px solid $gray;
	    color: $gray;
	    padding: 0 .4rem;
	    font-size: .5rem;
	    font-style: normal;
	    text-transform: uppercase;
	    white-space: nowrap;
	    font-weight: bold;
	    max-width: 8rem;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    line-height: 16px;
	    height: 18px;
	    box-sizing: border-box;
	    display: inline-block;
	    -webkit-transition: max-width .25s ease;
	       -moz-transition: max-width .25s ease;
	        -ms-transition: max-width .25s ease;
	         -o-transition: max-width .25s ease;
	            transition: max-width .25s ease;
	    &.closed {
	    	max-width: .5rem;
	    	border-left-width: 0;
	    	padding: 0;
	    	overflow: hidden;
	    	line-height: 999rem;
	    	border-radius: 0 3px 3px 0;
	    	&:hover {
	    		max-width: 8rem;
	    		line-height: 16px;
	    		padding: 0 .4rem;
	    		border-left-width: 2px;
	    		border: 2px solid $gray;
	    		border-radius: 3px;
	    	}
	    }
	}
}