.loader em {
	margin: 60px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: .5em solid rgba(0, 0, 0, 0.05);
	border-right: .5em solid rgba(0, 0, 0, 0.05);
	border-bottom: .5em solid rgba(0, 0, 0, 0.05);
	border-left: .5em solid #669;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 .5s infinite linear;
	animation: load8 .5s infinite linear;
	display: block;
}
.loader em,
.loader em:after {
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}   

#pm_loader {
	display:block;
	z-index:9999999;
	position: fixed; 
	right: 25px; 
	bottom: 15px;
	height: 5rem;
	width: 5rem;
	&.full {
		background: $primary;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		left: 0;
		top: 0;
		background-color: $white;
		padding-top: 5rem;
	}
}

#domoArigato {
	width: 15rem;
	height: 15rem;
}

#pm_slow,
#pm_slow2 {
	text-align: center;
	color: #fff;
	padding: 2rem 0;
}

#pm_loading {
	display: block;
	position: fixed;
	left: 50%;
	top: -50px;
	margin-left: -70px;
	width: 140px;
	line-height: 40px;
	height: 40px;
	z-index: 9999;
	background: $primary;
	color: #fff;
	text-align: center;
	opacity: 0;
	transition: top .5s ease-in-out, opacity .5s linear;	
	&.show {
		top: 0;
		opacity: 1;
		transition: top .5s ease-in-out, opacity .5s linear;
	}
	.spinner {
	    position: absolute;
	    top: 0;
	    left: 50%;
	    margin-left: -35px;
	    width: 70px;
	    opacity: 1;
	    z-index: 3333;
	    text-align: center;
	    height: 40px;
	    line-height: 40px;
	    & > div {
		    width: 10px;
		    height: 10px;
		    margin: 15px 2px;
		    background-color: #fff;
		    border-radius: 100%;
		    display: inline-block;
		    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
		    animation: bouncedelay 1.4s infinite ease-in-out;
		    -webkit-animation-fill-mode: both;
		    animation-fill-mode: both;
		}
		.bounce1 {
		    -webkit-animation-delay: -.32s;
		    animation-delay: -.32s;
		}
		.bounce2 {
		    -webkit-animation-delay: -.16s;
		    animation-delay: -.16s;
		}
	}
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}