.pm_modal {
    position: fixed;
    z-index: 9999;
    display: block;
    box-sizing: border-box;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .modal-overlay {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0,0,0,.2);
    }
    .modal-dialog {
        position: absolute;
        z-index: 2;
        background: $white;
        left: 50%;
        top: 5rem;
        bottom: 5rem;
        width: 50rem;
        margin-left: -25rem;
        border: 5px solid $primary;
        box-sizing: border-box;
        .close {
            position: absolute;
            right: -5px;
            top: -5px;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            padding: 0;
            color: $white;
            background: $primary;
            cursor: pointer;
            display: block;
            outline: none;
            border: none;
        }
        .modal-footer {
            padding: 25px 50px;
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: $white;
        }        
        .modal-content {
            overflow: auto;
            position: absolute;
            left: 0;
            top: 25px;
            bottom: 80px;
            right: 0;
            .modal-header {
                padding: 50px 50px 25px 50px;
                margin-top: -25px;
            }
            .modal-body {
                padding: 25px 50px;
            }
            h1, h2, h3, h4 {
                font-size: 22px;
                line-height: 22px;
                font-weight: 400;
                color: #555;
            }
            .clearfix {
                padding: 5px;
                margin: 0 -5px;    
            }
        }
    }
}


@media (max-width: $tablet-landscape) {

    .pm_modal {
        .modal-dialog {
            position: absolute;
            z-index: 2;
            background: $white;
            left: 5%;
            right: 5%;
            top: 1rem;
            bottom: 1rem;
            width: 90%;
            margin: 0;
            box-sizing: border-box;  
        }
    }  

}