.pm_panel {
	width: 400px;
	margin: auto;
	color: $white;
	text-align: center;
	box-sizing: border-box;
	padding: 50px;
}

@media (max-width: $mobile) {
	.pm_panel {
		width: 100%;
		padding: 20px;
	}
}