.pm_tag {
    font-style: normal;
    background: $gray-light;
    padding: 0 .35rem;
    display: inline-block;
    margin: 0 .5rem;
    border-radius: 2px;
    line-height: 18px;
    height: 18px;
    font-size: 10px;
    color: $text !important;
}