$font-size-base:              13px;
$panel-bg:                    #fafafa; 
$font-size-h1:                floor(($font-size-base * 2));
$navbar-inverse-link-color:   #ccc;
$navbar-inverse-bg:           #555; 