*[pt-height] {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	&#pm_list {
		overflow-y: scroll; // always show scrollbar
	}
}
body.mobileMode {
	*[pt-height] {
		overflow: initial !important;
		height: initial !important;
	}
}