#pm_rows {
	padding: 0 25px;
	display: flex;

	.list {
		max-height: $maxHeight;
		padding: 0 25px 0 0;
		position: relative;
		flex-grow: 1;
		.message {
			height: $rowHeight;
			line-height: $rowHeight;
			border-bottom: 1px solid $border;
			font-size: 14px;
			padding: 0;
			color: #999;
			clear: both;
			display: flex;
			padding-right: 5px;
			&.placeholder {
				font-family: monospace;
				word-break: break-all;
				overflow: hidden;
			}
			&:first-child {
				border-top: 1px solid $border;
			}
			& > * {
				display: block;
				line-height: $rowHeight;
			}
			&.unread {
				font-weight: 700;
				color: #000;
			}
			&.selected {
				border-color: transparent;
				background: #f6f6f6;
				position: relative;
				z-index: 2;
				margin: 0 0 0 -14px;
				padding: 0 5px 0 14px;
				box-shadow: 0 0 0 1px #efefef;
				border-radius: 2px;
				.subject {
					.pm_labels {
						background-color: #f6f6f6;
						.pm_label {
							box-shadow: 0 0 0 4px #f6f6f6;
							background-color: #f6f6f6;
						}
					}
				}
			}
			.spacer {
				width: 15px;
				min-width: 15px;
				border-top: none
			}
			.star {
				margin-right: 10px;
			}

			a {
				text-decoration: none;
			}
			.fa-star-o {
				color: #aba9bb;
			}
			.fa-star {
				color: $orange
			}
			.action {
				padding: 0;
			}
			.star {
				width: 20px;
				min-width: 20px;
				text-align: center;
			}
			.sender {
				cursor: pointer;
				width: 170px;
				min-width: 170px;
				span {
					display: block;
					width: 170px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
			.subject {
				cursor: pointer;
				flex-grow: 1;
				position: relative;
				height: 38px;
				position: relative;
				top: 1px;
				overflow: hidden;
				& > span {
					display: inline-block;
					overflow: hidden;
					text-overflow: ellipsis;
					line-height: $rowHeight;
					height: $rowHeight;
					float: left;
				}
				& > i.fa {
					display: inline-block;
					line-height: $rowHeight;
					height: $rowHeight;
					float: left;
					margin-right: 5px;
				}
				.pm_labels {
					position: absolute;
					right: 0;
					top: 0;
					line-height: 18px;
					&:before {
						height: $rowHeight;
					}
					.pm_label {
						margin-top: ( $rowHeight - 18 ) / 2;
					}
				}
			}
			.size {
				text-align: right;
				width: 75px;
				min-width: 75px;
			}
			.fa-paperclip {
				margin-left: 10px;
			}
			.time {
				text-align: right;
				width: 110px;
				min-width: 110px;
				float: right;
			}
		}
	}
}

@media (max-width: 1024px) {
	#pm_rows {
		padding: 0;
		.list {
			display: block;
			height: auto;
			max-height: none;
			padding: 1px 0;
			.message {
				padding: 0 25px;
				&.unread {
					margin: 0;
					padding: 0 25px;
				}
			}
		}
	}
}

@media (max-width: $mobile) {
	body.rows #pm_list {
		margin-right: 0;
		padding-right: 0;
	}
	#pm_rows .list {
		.message {
			padding: 0 10px 0 85px;
			height: 65px;
			line-height: 25px;
			position: relative;
			display: block;
			box-sizing: border-box;
			background: $white;
			& > * {
				line-height: 25px;
				height: 25px;
				overflow: hidden;
			}
			.pm_checkbox {
				position: absolute;
				left: 10px;
				top: 15px;
				z-index: 5;
			}
			&.unread {
				margin: 0;
				padding: 0 10px 0 85px;
				background-color: $white;
				color: #333;
				.pm_labels {
					&:before {
						content: none;
						display: none;
					}
				}
			}
			&.selected {
				background-color: #f6f6f6;
				padding: 0 10px 0 85px;	
				margin-left: 0;
			}
			.size {
				display: none;
			}
			.star,
			.fa-paperclip {
				position: absolute;
				left: 40px;
				text-align: center;
				margin: 0;
				width: 2rem;
			}
			.star {
				top: 5px;
				left: 50px;
			}
			.fa-paperclip {
				bottom: 5px;
				left: 50px;
			}
			.time {
				position: absolute;
				right: 15px;
				top: 5px;
				z-index: 2;
				background: $white;
			}
			.sender,
			.subject {
				display: block;
				clear: both;
				line-height: 25px;
				height: 25px;
				span {
					line-height: 25px;
					height: 25px;
				}
			}
			.sender {
				padding-top: 5px;
				width: auto;
			    min-width: auto;
			}
			.subject {
				margin-right: 0;
				.pm_labels {
					right: -10px;
					background-color: $white;
					width: 5rem;
					min-width: 5rem;
					.pm_label {
						margin: 4px 0 0 0;
					    line-height: 14px;
					    height: 18px;
					    width: 1.5rem;
					    padding: 0;
					    box-sizing: border-box;
					    text-align: center;
					    overflow: hidden;
					}
					&:before {
						height: 25px;
					}
				}
			}
			&.unread {
				.subject {
					.pm_labels {
						background-color: $white;
						.pm_label {
							box-shadow: 0 0 0 4px #fff;
							background-color: $white;
						}
						&:before {
							background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
							background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
							background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
							background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
							background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
							background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
						}
					}
				}
			}
			&.selected {
				.time {
					background-color: #f6f6f6;
				}
				.subject {
					.pm_labels {
						background-color: #f6f6f6;
						.pm_label {
							box-shadow: 0 0 0 4px #f6f6f6;
							background-color: #f6f6f6;
						}
						&:before {
							background: -moz-linear-gradient(left, rgba(246,246,246,0) 0%, rgba(246,246,246,1) 100%);
							background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(246,246,246,0)), color-stop(100%,rgba(246,246,246,1)));
							background: -webkit-linear-gradient(left, rgba(246,246,246,0) 0%,rgba(246,246,246,1) 100%);
							background: -o-linear-gradient(left, rgba(246,246,246,0) 0%,rgba(246,246,246,1) 100%);
							background: -ms-linear-gradient(left, rgba(246,246,246,0) 0%,rgba(246,246,246,1) 100%);
							background: linear-gradient(to right, rgba(246,246,246,0) 0%,rgba(246,246,246,1) 100%);
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
						}
					}
				}
			}
		}
	}
	#pm_rows {
		#pm_view {
			padding: 0 25px;
			box-sizing: border-box;
		}
		.placeholderSpan {
			display: none !important;
		}
	}
}