.searchForm-container {
	@include flexInline();
	position: relative;
	box-sizing: border-box;

	height: 35px;
	margin: 13px 0;
	width: calc(100% - 700px);
	max-width: 25%;
	margin-left: 10px;

}

.search-form-fieldset {
	@include flexFill();
	@include flexInline();
	height: 35px;
	border-radius: 35px;
	background: lighten($alt, 10%);
	color: #fff;
}

.search-form-fieldset-input {
	@include flexFill();
	@include flexInline();
	@include flexJustifyCenter();

	padding: 0 0 0 10px;
	color: #fff;
	font-size: 14px;
	border-radius: 35px;

	/* reset */
	background: transparent;
	border:0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	/* placeholder */
	&::-webkit-input-placeholder {  color: rgba(255,255,255,.75) }
	&:-moz-placeholder { color: rgba(255,255,255,.75) }
	&::-moz-placeholder { color: rgba(255,255,255,.75) }
	&:-ms-input-placeholder { color: rgba(255,255,255,.75) }
}


.searchForm-action-button {
	@include flexInline();
	@include flexJustifyCenter();
	position: relative;
	z-index: 5;
	width: 35px;
	padding: 0;
	border:0;
	color: #fff;
	cursor: pointer;
	background: transparent;
	transition: background-color .25s ease;
	outline:none;
}

.searchForm-toggle-advanced {
	width: 35px;
	border-radius: 35px 0 0 35px;
	&:hover { background: $alt-light }
}
.searchForm-action-button-advanced { display: none }


/* ADVANCED STATE */

.searchForm-container-adv {
	.search-form-fieldset {
		border-radius: 1rem 1rem 0 0;
		.search-form-fieldset-input { visibility: hidden; }
		.searchForm-toggle-advanced { border-radius: 1rem 0 0 }
		.searchForm-action-button-advanced { display: block }
	}
}

.searchForm-advanced-container {
	position: absolute;
	left: 0;
	top: 0;
	box-shadow: $box-shadow;
	z-index: 2;
	border-radius: 1rem;
	padding: 35px 0 0;
	right: 0;
	label { color: $gray }
	.input-icon { display: block }

}

.searchForm-advanced-wrapper {
	background: #fff;
	float: left;
	padding: 1rem;
	width: 100%;
	box-sizing: border-box;
	border-radius: 0 0 1rem 1rem;
}

.searchFrom-advanced-radio {
	line-height: 33px;
}


/* MOBILE STATE */
body.mobileMode {
	.searchForm-container { position: static }
	.search-form-fieldset { display: none }
	.searchForm-advanced-container {
		top: 70px;
		box-shadow: none;
		border-radius: none;
		padding-top: 0;
	}
	.searchForm-advanced-wrapper {
		border-radius: 0;
		border-bottom: 1px solid $border;
		> .row 	> [class*='col-'] {
			float: left;
			width: 100% !important;
			clear: both;
			box-sizing: border-box;
			padding: 0;
		}
	}
}
