#addUserModal .pm_buttons a {
    height: 31px;
    line-height: 31px;
}
#pm_settings {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    #settingsSave {
        margin: 15px 25px 15px 0;
    }
    #usersTable {
        th {
            width: 12rem;
        }
    }
    #tableSubscription {
        .price {
            width: 4rem;
        }
    }
    #settingsSelect {
        display: none;
    }
    #plans {
        header {
            padding-bottom: 1rem;
            display: block;
            line-height: 35px;
            overflow: hidden;
            .link {
                color: $primary;
            }
            .group {
                display: inline-block;
                padding-right: 2rem;
                label {
                    display: block;
                    line-height: 35px;
                    float: left;
                    width: 4rem;
                }
                .pm_buttons a em {
                    font-style: normal;
                    color: $green;
                }
            }
        }
    }
    #plans {
        .plans {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
                -ms-flex-direction: row;
                    flex-direction: row;
            .plan {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                box-sizing: border-box;
                -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                border: 1px solid $border;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                transition: border-color .25s linear;
                overflow: hidden;
                &:hover {
                    border-color: $primary;
                    h3 em {
                        top: 0;
                    }
                }
                &.middle {
                    margin: 0 10px;
                }
                h3 {
                    position: relative;
                    em {
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 50px 50px 0;
                        border-color: transparent $primary transparent transparent;
                        position: absolute;
                        right: 0;
                        top: -50px;
                        transition: top .25s ease;
                    }
                    i {
                        width: 30px;
                        line-height: 30px;
                        text-align: center;
                        color: $white;
                        position: absolute;
                        right: 0;
                        top: 0;
                        z-index: 2;
                        font-size: 14px;
                    }
                }
                h3,
                .price {
                    line-height: 70px;
                    height: 70px;
                    display: block;
                    padding: 0 20px;
                    color: $primary;
                    font-weight: 400;
                    border-bottom: 1px solid $border;
                    strong {
                        font-weight: 700;
                    }
                }
                legend {
                    font-size: inherit;
                }
                label {
                    display: inline-block;
                }
                .details {
                    -webkit-flex-grow: 1;
                        -ms-flex-positive: 1;
                            flex-grow: 1;
                            padding: 10px 20px;
                    p {
                        margin: 0;
                        line-height: 2rem;
                    }
                    strong {
                        font-weight: 700;
                    }
                    td.amount {
                        width: 3.25rem !important;
                    }
                    td.cost {
                        width: 3.75rem !important;
                        font-size: 90%;
                    }
                    td .fa.fa-info-circle {
                        color: $primary;
                    }
                    td .pm_buttons {
                        float: right;
                        height: 26px;
                        line-height: 26px;
                        & > a {
                            height: 26px;
                            line-height: 26px;
                        }
                        .fa {
                            height: 26px;
                            line-height: 26px;
                        }
                        .pm_dropdown {
                            line-height: 26px;
                        }
                    }
                }
                .price {
                    border-top: 1px solid $border;
                    font-weight: 700;
                    strong {
                        color: #000;
                        margin-right: .5rem;
                    }
                }
                .action {
                    background: $primary;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    font-weight: 700;
                    margin: 0 -1px -1px;
                    a {
                        color: $white;
                        text-decoration: none;
                        display: block;
                        line-height: 45px;
                    }
                    &.active {
                        background: lighten($border, 5%);
                        margin: 0;
                        a {
                            color: $gray-light;
                        }
                    }
                }
            }
        }
    }
    .well {
        padding: 25px;
        border: 1px solid $border;
    }
    .usage {
        position: relative;
        em {
            font-style: normal;
            display: block;
            box-sizing: border-box;
        }
        .used {
            left: 0;
            padding-right: 1rem;
            text-align: right;
        }
        .total {
            right: 0;
            padding-left: 1rem;
        }
        .used,
        .total {
            color: $gray-light;
            position: absolute;
            background: #fff;
            height: 30px;
            line-height: 30px;
            width: 5rem;
        }
        .bar {
            position: absolute;
            left: 5rem;
            right: 5rem;
            top: 14px;
            height: 2px;
            background: $gray-light;
            .amount {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                background: $primary;
            }
        }
    }
    .pm_tabs {
        padding: 0 0 0 25px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .settings {
        padding: 0 25px;
        margin-right: 25px;
        clear: both;
        .pm_buttons .fa.fa-angle-down {
            padding: 0 .5rem;
        }
        &#labelContainer {
            .fa-tag {
                margin: 0 .5rem;
            }
            .pm_toggle {
                margin-right: 2rem;
                display: inline-block;
                float: left;
            }
        }
        table {
            .invoice {
                width: 4rem;
            }
            .price {
                width: 6rem;
            }
            .date {
                width: 12rem;
            }
        }
        .row {
            padding: 2rem 0;
            -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
            clear:both;
            float: left;
            width: 100%;
            .border-bottom {
                border-bottom: 1px solid $border;
            }
            .clearfix {
                padding: 5px;
                margin: 0 -5px;
            }
            .setting {
                width: 48%;
                float: left;
                box-sizing: border-box;
                padding: 0;
                .as-sortable-placeholder {
                    background: $border !important;
                    box-sizing: border-box;
                }
                .as-sortable-dragging {
                    border: 1px solid $border;
                    line-height: 2rem;
                    background: $white;
                    box-sizing: border-box;
                    overflow: hidden;
                    padding: 0 1rem;
                    .fa-check {
                        line-height: 2rem;
                        padding: 0 1rem;
                        background: #fff;
                        color: #9397cd;
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                    }
                    .fa-ellipsis-v {
                        line-height: 2rem;
                        float: left;
                        margin-right: .5rem;
                    }
                }
                &.pull-right {
                    float: right;
                }
                &.full {
                    width: 100%;
                }
                .angular-squire-wrapper {
                    width: 100%;
                    iframe {
                        width: 100%;
                        height: 10rem;
                        border: 1px solid $border;
                        border-top-width: 0;
                    }
                }
                .radio {
                    display: inline-block;
                }
                #logArea {
                    padding: 1rem 0;
                }
                #logActions {
                    .pm_button.pull-left {
                        margin: 0 0 0 5px;
                    }
                }
                #logRefresh {
                    margin-right: 1rem;
                }
                #aliases-container {
                    ul {
                        li {
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $tablet-landscape) {
    #pm_settings {
        .settings {
            padding: 0 10px;
        }
        #plans {
            header {
                a.link {
                    font-size: 11px;
                    padding: 0; 
                    float: none !important;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}


@media (max-width: $tablet-landscape) {
    #pm_settings {
        #plans .plans .plan .details td .pm_buttons {
            width: initial !important;
            float: right !important;
            display: block !important;
            margin-left: 2rem !important;
        }
        .settings {
            margin-right: 0;
            .row {
                .setting {
                    width: 100%;
                    float: left;
                    clear: both;
                    margin-bottom: 1rem;
                }
            }
        }
        #usersTable {
            th,
            td {
                padding: 1rem;
            }
        }
        #invoicesTable {
            th, 
            td {
                padding: 10px 1rem;
                line-height: 20px;
            }
        }
        #plans {
            header {
                height: initial;
                .group {
                    label {
                        width: 5rem;
                        display: inline-block;
                    }
                }
            }
            .plans {
                -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                        flex-direction: column;
                .plan {
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    box-sizing: border-box;
                    -webkit-flex-grow: 1;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                    border: 1px solid $border;
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    &.middle {
                        margin: 1rem 0;
                    }
                }
            }
        }
    }
}

@media (max-width: $mobile-landscape) {
    #pm_settings {
        .settings {
            padding: 0 10px;
        }
        #plans {
            header {
                a.link {
                    font-size: 11px;
                    padding: 0;
                    float: none !important;
                    margin-bottom: 1rem;
                }
            }
            .plans {
                .plan {
                    h3,
                    .price {
                        padding: 0 10px;
                    }
                    .details {
                        padding: 10px;
                    }
                }
            }
        }
        #settingsSelect {
            display: block;
            box-sizing: border-box;
            margin: 10px;
            border: none;
            position: relative;
            .pm_select {
                width: 100%;
                select {
                    height: 33px;
                    line-height: 33px;
                }
                .fa {
                    position: absolute;
                    right: 1rem;
                    top: 0;
                    bottom: 0;
                    height: 33px;
                    line-height: 33px;
                }
            }
        }
        .well {
            padding: 0;
            border: none;
        }
        .pm_tabs {
            display: none;
        }
        .pm_table tr {
            display: table-row;
            margin: 0;
            border: none;
            td, th {
                display: table-cell;
                width: initial !important;
                span,
                small {
                    text-align: right !important;
                    float: right;
                }
            }
            &.storage {
                display: none !important;
            }
        }
    }
}