#pm_contacts {
    height: 100%;
    .wrap {
        height: 100%;
        .contactWrapper {
            overflow: auto;
            clear: both;
            height: calc( 100% - 55px );
            table {
                margin-bottom: 0;
            }
        }
    }
}
#settingsAppearance.row {
    .setting {
        .radio.col {
            width: 50%;
            min-width: 50%;
        }
    }
}

.pm_form .toolbar-button-options label {
    display: inline-block;
    padding-right: 2rem;
    cursor: pointer;
}
#addUserModal .pm_buttons a {
    height: 31px;
    line-height: 31px;
}
.pm_tabs.domainMenu {
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    li {
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
                float: none;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
        a {
            padding: .5rem 1rem;
            width: 100%;
            text-align: center;
            height: auto;
            line-height: 1rem;
            &.disabled {
                opacity: .5;
                pointer-events: none;
            }
        }
    }
}
#settingsDomains {
    .pm_table {
        &.domains {
            .pm_button {
                i.fa {
                    font-size: 16px;
                    text-align: left;
                    width: auto !important
                }
            }
        }
        .verifyButton {
            width: 8rem;
        }
        tr {
            &.error td {
                border-bottom: none;
                padding-bottom: 0;
            }
            td.domain {
                width: auto;
            }
            th.status {
                width: 38rem;
            }
            th {
                padding-right: 0;
                text-align: left !important;
                padding-left: 1rem;
                font-size: .8rem;
                &.text-right {
                    text-align: right !important;
                    padding-right: 1rem;
                    width: auto;
                }
            }
            td {
                padding-right: 0;
                padding-top: 10px;
                padding-bottom: 10px;
                .fa {
                    width: 1.5rem;
                }
                .fa-circle-o {
                    color: #999;
                }
                .domain {
                    line-height: 60px;
                }
                .progress {
                    text-align: center;
                    position: relative;
                    margin-right: .5rem;
                    .text-green .fa {
                        color: $green;
                    }
                    .text-red .fa {
                        color: $red;
                    }
                    span {
                        display: inline;
                    }
                    &.dead {}
                }
                .remove {
                    position: relative;
                    .fa {
                        position: relative;
                        top: 2px;
                        font-size: 16px;
                    }
                }
                span {
                    span {
                        display: inline;
                    }
                }
                &.text-right {
                    padding-right: 1rem;
                    .pm_button.round {
                        width: 36px;
                        margin-left: .5rem;
                    }
                }
            }
        }
    }
}
#newUser{
    .newUser {
        padding-left: 2rem;
        clear: both;
        float: left;
        width: 100%;
        padding-bottom: 2rem;
    }
    label {
        position: relative;
        input {
            position: absolute;
            left: -2rem;
            top: .5rem;
            margin: 0;
        }
    }
}
#settingsAppearance {
    label {
        cursor: pointer;
    }
}

#pm_settings {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    #settingsSave {
        margin: 15px 25px 15px 0;
    }
    #accessLog {
        .fa {
            margin-right: .5rem;
        }
    }
    .editor-container {
        position: relative;
    }
    #usersTable {
        th {
            width: 12rem;
        }
    }
    #userTable {
        td {
            padding: 10px 1rem;
            line-height: 1.5rem;
            .pm_button {
                line-height: 1.5rem;
                margin: 0;
                height: auto;
                text-decoration: none;
                padding-left: 0;
            }
        }
        .pm_select {
            margin: 0;
            line-height: 1.5rem;
            height: 1.5rem;
            select {
                line-height: 1.5rem;
                height: 1.5rem;
            }
            .fa {
                line-height: 1.5rem;
                height: 1.5rem;
            }
        }
        .role {
            width: 5rem;
        }
        .storage {
            width: 16rem;
        }
        .actions {
            width: 9rem;
        }
    }
    #invoicesTable {
        .actions {
            width: 3.5rem;
        }
        .price {
            width: 3.5rem;
        }
    }
    #tableSubscription {
        .price {
            width: 4rem;
        }
    }
    #settingsSelect {
        display: none;
    }
    #cancelTables {
        .pm_table {
            table-layout: initial !important;
            margin-bottom: 0;
        }
    }
    #plans {
        header {
            padding-bottom: 1rem;
            display: block;
            line-height: 35px;
            overflow: hidden;
            .link {
                color: $primary;
            }
            .group {
                display: inline-block;
                padding-right: 2rem;
                label {
                    display: inline-block;
                    line-height: 35px;
                    float: left;
                    padding-right: 1rem;
                }
                .pm_buttons a em {
                    font-style: normal;
                    color: $green;
                }
            }
        }
    }
    #plans {
        .plans {
            .col-1-4 {
                padding-right: 10px;
            }
            .plan {
                box-sizing: border-box;
                border: 1px solid $border;
                margin-top: 2rem;
                position: relative;
                header {
                    position: absolute;
                    left: -1px;
                    right: -1px;
                    top: -2rem;
                    display: block;
                    background: $primary;
                    color: #fff;
                    text-align: center;
                    font-weight: 700;
                    border: 1px solid $primary;
                    border-radius: 2px 2px 0 0;
                    padding: 0;
                    height: 2rem;
                    line-height: 2rem;
                    display: none;
                }
                &.selected {
                    border-color: $primary;
                    header {
                        display: block;
                    }
                }
                &.middle {
                    margin: 2rem 10px 0;
                }
                h3 {
                    position: relative;
                    border-bottom: 1px solid $border;
                }
                h3,
                .price {
                    display: block;
                    padding: 20px 30px;
                    color: $primary;
                    font-weight: 400;
                    strong {
                        font-weight: 700;
                    }
                }
                legend {
                    font-size: inherit;
                    position: relative;
                    height: 2rem;
                    line-height: 2rem;
                    border: none;
                    em {
                        height: 1px;
                        background: $border;
                        position: absolute;
                        top: 1rem;
                        z-index: 1;
                        display: block;
                        width: 100%;
                    }
                    strong {
                        position: relative;
                        z-index: 2;
                        line-height: 2rem;
                        height: 1rem;
                        padding-right: .5rem;
                        background: $white;
                    }
                }
                label {
                    display: inline-block;
                    position: relative;
                    input {
                        position: absolute;
                        // visibility: hidden;
                        opacity: .5;
                    }
                }
                .features {
                    display: block;
                    list-style-type: none;
                    margin: 0;
                    padding: 20px 10px;
                    background: $light;
                    li {
                        display: block;
                        list-style-type: none;
                        margin: 0;
                        padding: 0 10px;
                        line-height: 2.5rem;
                        height: 2.5rem;
                        border-bottom: 1px solid $border;
                        strong {
                            font-weight: 400;
                        }
                        .pm_select {
                            display: inline-block;
                            padding-right: 0;
                            background: #fff;
                            height: 25px;
                            line-height: 25px;
                            margin: 0 .5rem;
                            width: 6rem;
                            select {
                                padding-right: 2rem;
                                height: 25px;
                                line-height: 25px;
                            }
                            .fa-angle-down {
                                right: 5px;
                                height: 25px;
                                line-height: 25px;
                            }
                        }
                        .cost {
                            float: right;
                            strong {
                                font-weight: 700;
                            }
                        }
                        &:last-child {
                            border-bottom: 0;
                        }
                        .fa {
                            margin-right: .5rem;
                        }
                        .fa-check {
                            display: inline-block;
                        }
                        .fa-times {
                            display: none;
                        }
                        &.disabled {
                            .fa-check {
                                display: none;
                            }
                            .fa-times {
                                display: inline-block;
                            }
                            strong {
                                text-decoration: line-through;
                            }
                            .fa,
                            strong {
                                opacity: .5;
                            }
                        }
                    }
                }
                .details {
                    font-size: 90%;
                    -webkit-flex-grow: 1;
                        -ms-flex-positive: 1;
                            flex-grow: 1;
                            padding: 10px 20px;
                    strong {
                        font-weight: 700;
                    }
                    p a {
                        text-decoration: none;
                        .fa {
                            width: 1.5rem;
                            display: inline-block;
                        }
                    }
                    .feat {
                        clear: both;
                        .amount {
                            width: 3.25rem !important;
                        }
                        .pm_select {
                            float: right;
                            margin-bottom: 0;
                        }
                        .cost {
                            width: 4.75rem !important;
                            float: right;
                            height: 33px;
                            line-height: 33px;
                            display: block;
                            text-align: right;
                        }
                        .fa.fa-info-circle {
                            color: $primary;
                        }
                        .pm_buttons {
                            float: right;
                            height: 26px;
                            line-height: 26px;
                            & > a {
                                height: 26px;
                                line-height: 26px;
                            }
                            .fa {
                                height: 26px;
                                line-height: 26px;
                            }
                            .pm_dropdown {
                                line-height: 26px;
                            }
                        }
                    }
                }
                .price {
                    border-top: 1px solid $border;
                    font-weight: 700;
                    strong {
                        color: #000;
                        margin-right: .5rem;
                    }
                    small {
                        font-size: 1rem;
                    }
                }
                .action {
                    height: 5rem;
                    line-height: 5rem;
                    text-align: center;
                    font-weight: 700;
                    margin: 0;
                    border-top: 1px solid $border;
                }
            }
        }
    }
    .well {
        padding: 25px;
        border: 1px solid $border;
    }
    .usage {
        position: relative;
        em {
            font-style: normal;
            display: block;
            box-sizing: border-box;
        }
        .used {
            left: 0;
            padding-right: 1rem;
            text-align: right;
        }
        .total {
            right: 0;
            padding-left: 1rem;
        }
        .used,
        .total {
            color: $gray-light;
            position: absolute;
            background: #fff;
            height: 30px;
            line-height: 30px;
            width: 5rem;
        }
        .bar {
            position: absolute;
            left: 5rem;
            right: 5rem;
            top: 13px;
            height: 4px;
            background: $light;
            .amount {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                background: $primary;
            }
        }
    }
    .pm_tabs {
        padding: 3px 10px 0;
        display: block;
        box-sizing: border-box;
        width: 100%;
        background: $alt;
        li {
            height: 41px;
            line-height: 41px;
            a.pm_button {
                border-color: $alt;
                background: $alt-light;
                color: #fff;
                border-bottom: none;
                padding: 0 1rem;
                height: 41px;
                line-height: 41px;
                &:hover {
                    background: lighten($alt-light, 5%);
                }
            }
        }
        li.active {
            a.pm_button {
                background: #fff !important;
                color: $primary;
            }
        }
    }
    .settings {
        padding: 0 25px 2rem 25px;
        margin-right: 0;
        clear: both;
        box-sizing: border-box;
        .pm_sort ul li {
            .pm_button.link {
                width: 5.5rem;
            }
            .label {
                white-space: nowrap;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 60%;
                line-height: 32px;
            }
        }
        .pm_buttons .fa.fa-angle-down {
            padding: 0 .5rem;
        }
        #keys-addressTable {
            td {
                background: transparent;
                span {
                    float: left;
                    margin-right: 1rem;
                }
                .fa {
                    font-size: 1.25rem;
                }
                .fa-times-circle {
                    color: $red;
                }
                .fa-check {
                    color: $gray;
                }
            }
        }
        &#labelContainer {
            .fa-tag {
                margin: 0 .5rem;
            }
            .pm_toggle {
                margin-right: 2rem;
                display: inline-block;
                float: left;
            }
        }
        table {
            .invoice {
                width: 4rem;
            }
            .price {
                width: 6rem;
            }
            .date {
                width: 12rem;
            }
            .pm_button {
                white-space: nowrap;
            }
        }
        .row {
            padding: 2rem 0 0;
            -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
            clear:both;
            float: left;
            width: 100%;
            .border-bottom {
                border-bottom: 1px solid $border;
            }
            .clearfix {
                padding: 5px;
                margin: 0 -5px;
            }
            .setting {
                width: 48%;
                float: left;
                box-sizing: border-box;
                padding: 0;
                .as-sortable-placeholder {
                    background: $border !important;
                    box-sizing: border-box;
                }
                .pm_table {
                    td {
                        strong {
                            display: block;
                        }
                        small strong {
                            display: inline-block;
                        }
                    }
                }
                .as-sortable-dragging {
                    border: 1px solid $border;
                    line-height: 2rem;
                    background: $white;
                    box-sizing: border-box;
                    overflow: hidden;
                    padding: 0 1rem;
                    .fa-check {
                        line-height: 2rem;
                        padding: 0 1rem;
                        background: #fff;
                        color: #9397cd;
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                    }
                    .fa-ellipsis-v {
                        line-height: 32px;
                        float: left;
                        margin-right: .5rem;
                    }
                }
                &.pull-right {
                    float: right;
                }
                &.full {
                    width: 100%;
                }
                .angular-squire-wrapper {
                    width: 100%;
                    iframe {
                        width: 100%;
                        height: 10rem;
                        border: 1px solid $border;
                        border-top-width: 0;
                        box-sizing: border-box;
                    }
                }
                .radio {
                    display: inline-block;
                    img {
                        max-width: 100%;
                    }
                }
                #logArea {
                    padding: 1rem 0;
                }
                #logActions {
                    .pm_button.pull-left {
                        margin: 0 0 0 5px;
                    }
                }
                #logRefresh {
                    margin-right: 1rem;
                }
                #aliases-container {
                    ul {
                        li {
                        }
                    }
                }
            }
        }
    }
}

body.mobileMode {
    #pm_settings {

        .settings .row .setting {
            width: 100%;
            margin-bottom: 2rem;
        }
        #logActions {
            float: left;
            margin: 0 0 1rem -5px;
            clear: both;
        }

        #logArea {
            padding-top: 2rem;
        }

        #accessLog tr {
            margin-bottom: 1rem;
            padding: 0;
            border: 1px solid $border;
            display: block;
            td {
                display: block;
                padding: 0 1rem;
                span {
                    float: none;
                    text-align: left !important;
                }
            }
            td.text-right {
                text-align: left;
            }
        }

        .settings {
            padding: 0 10px;
        }
        .pm_tabs {
            padding-left: 10px;
            .pm_button {
                padding: 0 8px;
            }
        }
        #plans {
            header {
                a.link {
                    font-size: 11px;
                    padding: 0;
                    float: none !important;
                    margin-bottom: 1rem;
                    width: 100%;
                }
            }
            .plans.vertical {
                -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                        flex-direction: column;
                        .plan {
                            width: 100%;
                            min-width: 100%;
                        }
            }
        }
    }
    #newUser{
        .newUser {
            .pm_grid {
                .col-1-3 {
                    width: 33% !important;
                    clear: none;
                    margin-right: 1rem;
                }
            }
        }
    }

    #pm_settings {
        #plans .plans .plan .details td .pm_buttons {
            width: initial !important;
            float: right !important;
            display: block !important;
            margin-left: 2rem !important;
        }
        .settings {
            margin-right: 0;
            .pm_table tr {
                display: table-row;
                width: initial;
                border: none;
                td,
                th {
                    display: table-cell;
                    width: initial;
                }
            }
        }
        #usersTable {
            th,
            td {
                padding: 1rem;
            }
        }
        #invoicesTable {
            th,
            td {
                padding: 10px 1rem;
                line-height: 20px;
            }
        }
        #plans {
            header {
                height: initial;
                .group {
                    label {
                        width: 5rem;
                        display: inline-block;
                    }
                }
            }
            .plans {
                -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                        flex-direction: column;
                .plan {
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    box-sizing: border-box;
                    -webkit-flex-grow: 1;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                    border: 1px solid $border;
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    &.middle {
                        margin: 1rem 0;
                    }
                }
            }
        }
    }
}

body.mobileMode {

    #settingsAppearance.row {
        .setting {
            .radio.col {
                width: 100%;
                min-width: 100%;
            }
        }
    }

    #newUser{
        .newUser {
            padding-left: 0;
        }
        label {
            input {
                position: static;
                margin-right: .5rem;
            }
        }
    }
    #pm_settings {
        .settings {
            padding: 0 10px;
        }
        #plans {
            header {
                a.link {
                    font-size: 11px;
                    padding: 0;
                    float: none !important;
                    margin-bottom: 1rem;
                }
            }
            .plans {
                .plan {
                    h3,
                    .price {
                        padding: 0 10px;
                    }
                    .details {
                        padding: 10px;
                    }
                }
            }
        }
        #settingsSelect {
            display: block;
            box-sizing: border-box;
            margin: 10px;
            border: none;
            position: relative;
            .pm_button {
                margin-bottom: 1rem;
            }
        }
        .well {
            padding: 0;
            border: none;
        }
        .pm_tabs {
            display: none;
        }
        .pm_table tr {
            display: table-row;
            margin: 0;
            border: none;
            td, th {
                display: table-cell;
                width: initial !important;
                span,
                small {
                    text-align: right !important;
                    float: right;
                }
            }
            &.storage {
                display: none !important;
            }
        }
    }
}

@media (max-width: $desktop) {
    body #pm_settings {
        #usersTable {
            th {
                width: 12rem;
            }
            td {
                padding: 10px 1rem;
                line-height: 1.5rem;
                .pm_button {
                    line-height: 1.5rem;
                    margin: 0;
                    height: auto;
                    text-decoration: none;
                    padding-left: 0;
                }
            }
        }
        #settingsDomains {
            .pm_table {
                display: block;
                width: 100%;
                box-sizing: border-box;
                border: 0;
                thead,
                tbody {
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    tr {
                        display: block;
                        width: 100%;
                        box-sizing: border-box;
                        margin-bottom: 1rem;
                        padding-bottom: 1rem;
                        border: 1px solid $border;
                        td.domain {
                            display: block;
                            width: 100%;
                            box-sizing: border-box;
                        }
                        td {
                            width: auto;
                            display: inline-block;
                            box-sizing: border-box;
                            border-bottom: 0;
                        }
                    }
                }
                thead {
                    display: none;
                }
            }
        }
        #plans {
            .plans {
                .plan {
                    h3 {
                        font-size: 16px;
                    }
                    .features {
                        padding: 10px;
                        font-size: 80%;
                        white-space: nowrap;
                    }
                    .details {
                        .feat {
                            label {
                                clear: both;
                                width: 100%;
                            }
                            .pm_select {
                                float: right;
                            }
                            .cost {
                                float: left;
                                text-align: left;
                                padding-right: 1rem;
                                margin-bottom: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

body.mobileMode {
    #pm_settings {
        #settingsDomains {
            .pm_table {
                tbody {
                    tr {
                        td {
                            display: block;
                            width: 100%;
                            .pm_button {
                                text-align: left;
                                padding-left: 1rem;
                                width: 10rem;
                                strong {
                                    display: inline;
                                }
                                span {
                                    float: none;
                                }
                            }
                        }
                        td.text-right {
                            text-align: left !important;
                            .pm_button {
                                width: 36px !important;
                                text-align: center !important;
                                padding: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
