@media (max-height: 1800px) { // this will affect 99%of users. need to make permanent if confirmed.
    html.protonmail {
        #pm_conversations.rows .list .message {
            height: 36px;
            line-height: 36px;
            & > * {
                height: 36px;
                line-height: 36px;
            }
            .subject > span {
                height: 36px;
                line-height: 36px;
            }
            .subject .pm_labels .pm_label {
                margin-top: 9px;
            }
            span.expiration {
                height: 0;
            }
        }
        #pm_conversations.columns .list div.message {
            padding: 10px 15px 0px 40px;
            height: 58px;
            line-height: 58px;
        }
    }
}