#pm_sidebar { float: left }

.sidebarApp-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: space-between;
    padding: 0 20px;
    width: $sidebarWidth;
    min-width: $sidebarWidth;
    box-sizing: border-box;
    float: left;
    height: calc(100% - 61px);  /* #pm_header-desktop height */
    background: $secondary;
    position: relative;
    overflow: hidden;

    .sidebar-btn-compose,
    .sidebar-btn-back {
        box-sizing: border-box;
        height: 40px;
        min-height: 40px;
        margin-bottom: 10px;
        font-size: 12px;
        padding: 0;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        border-color: transparent;
        letter-spacing: 1px;
        border-radius: 2px;
        .fa {
            color: inherit;
            display: inline-block;
            width: 1.25rem;
        }
    }

    .sidebar-btn-compose,
    .sidebar-btn-back {
        border: 1px solid rgba(256,256,256,0.6);
        color: #FFF;
        line-height: 16px;
        padding: 12px 0px 10px;
        text-decoration: none;
        margin-bottom: 1em
    }

    .sidebar-btn-compose > div,
    .sidebar-btn-back {
        /* firefox dislike flex buttons */
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        font-size: 10px;
        padding: 10px 0px 5px;
        margin-top: auto;
        .wrap {
            padding: 0;
            margin: 0 -10px;
        }
        div.link {
            a {
                display: inline-block;
                padding: 3px 0px;
                text-transform: uppercase;
                font-weight: bold;
                color: $primary;
                text-decoration: none;
                &:hover {
                    color: #fff;
                }
            }
        }
        div.storage {
            padding: 0;
            strong {
                color: $primary
            }
            .fa {
                margin-right: .5rem;
                opacity: .5;
            }
        }
        a.upgrade {
            display: block;
            text-align: center;
            color: $primary;
            text-decoration: none;
            font-weight: 700;
        }
        .bar {
            height: 1px;
            background-color: rgba(255,255,255,.1);
            width: 90%;
            display: block;
            position: relative;
            margin: .5rem auto;
            em {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                height: 1px;
                z-index: 2;
                background-color: $primary;
            }
        }
    }

    .version {
        letter-spacing: 0;
        text-decoration: none;
        font-weight: bold;
        color: rgba(255,255,255,.8);
        &:hover {
            color: #fff;
        }
    }

}

.sidebarApp-link {
    background: transparent;
    border: 0;
    text-align: left
}

.sidebarApp-container a {cursor: pointer}

.sidebarApp-menu {
    padding: 0;
    display: block;
    list-style-type: none;
    font-size: 14px;
    margin: 0 -20px 10px -20px;
}

.sidebarApp-menu a {cursor: pointer}

.sidebarApp-item, .sidebarApp-menu li {
    display: flex;
    align-content: center;
    align-items: center;
}

.sidebarApp-item .navigationItem-btn-refresh {
    padding: 0;
    cursor: pointer;
    margin: 0 0 0 auto;
    background: transparent;
    color: rgba(255,255,255,.35);
    border: 0;

    &:hover { color: #fff }
}

.sidebarApp-item .sidebarApp-link,
.sidebarApp-menu .menuLabel-link,
.sidebarApp-item .navigationItem-item {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 31px;
    text-decoration: none;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: lighten(#dadae5, 5%);

    &:hover { color: $white }
}

.sidebarApp-item .navigationItem-item {
    display: inline-flex;
    align-content: center;
    align-items: center;
    line-height: initial;
}


.sidebarApp-menu .menuLabel-link {
    padding: 0;
    height: 25px;
    color: rgba(255,255,255,.5);
}

.sidebarApp-link .fa,
.sidebarApp-item .sidebarApp-icon,
.sidebarApp-menu .menuLabel-icon,
.sidebarApp-item .navigationItem-icon {
    width: 21px;
    min-width: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.sidebarApp-menu .menuLabel-counter,
.sidebarApp-item .navigationItem-counter {
    font-style: normal;
    font-weight: 400;
    color: rgba(255,255,255,.35);

    &:hover { color: rgba(255,255,255,.35) };
}

.sidebarApp-item .navigationItem-counter { margin-left: .3em }
.sidebarApp-item.active {

    .navigationItem-item, .sidebarApp-link  {
        background-color: rgba(255,255,255,.06);
        border-color: transparent;
        color: #fff;
        font-weight: 700;
    }
    .navigationItem-icon { color: lighten($primary, 10%) }
}

.menuLabel-item.active {
    .menuLabel-title { color: #fff }
}

[id="labelSettings"] { margin-bottom: 0 }

[id="sidebarLabels"] {
    position: relative;
    overflow: auto;
    min-height: 50px;
    flex: 1 1 auto;
    height: calc(100% - 400px);

    .menuLabel-container {
        padding: 0;
        margin: 0;
        box-sizing: border-box
    }
}

.mobileMode .sidebarApp-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    padding: 2rem;
    z-index: 999;
    background: $secondary;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .refresh { display: none }

    .navigationItem-item, .sidebarApp-link {
        font-size: 1em
    }

    .active .navigationItem-item,
    .active .sidebarApp-link { background: transparent }

    .sidebarApp-divider {
        height: 1px;
        line-height: 1px;
        margin: 10px 0;
        background: rgba(255,255,255,.1);
    }

    .sidebarResponsive-menu-label { margin: 0 }

    .sidebarApp-menu,
    .sidebarLabels { font-size: 14px }

    .sidebarApp-menu .menuLabel-counter,
    .sidebarApp-item .navigationItem-counter {
        display: inline-flex;
    }
}

@media (max-height: 500px) {
    #pm_sidebar { overflow: auto }
    [id="sidebarLabels"] {
        height: initial;
        overflow: visible;
        min-height: auto;
        .mCSB_container_wrapper { position: relative }
    }
    .sidebarApp-container .footer { display: block }
}
