section#pm_sidebarMobile {
    display: none;
    padding: 15px 20px;
    width: $sidebarMobWidth;
    min-width: $sidebarMobWidth;
    box-sizing: border-box;
    float: left;
    a.logo {
        display: inline-block;
        img {
            display: inline-block;
            margin: auto;
            vertical-align: middle;
        }
    }
    .pm_button.round {
        background-color: #636270;
        border-color: transparent;
        .fa {
            color: #fff;
        }
    }
    ul {
        li {
            &.active {
                a {
                    background: rgba(0,0,0,.1);
                    border-color: transparent;
                    color: #fff;
                }
            }
        }
    }
}

section.sidebar {
    display: block;
    padding: 15px 20px;
    padding-bottom: 130px !important;
    width: $sidebarWidth;
    min-width: $sidebarWidth;
    box-sizing: border-box;
    float: left;
    min-height: 100%;
    #labelSettings {
        margin-bottom: 0;
    }
    a.compose {
        margin-bottom: 15px;
        font-size: 12px;
        padding: 0 0 0 25px;
        width: 100%;
        text-transform: uppercase;
        border-color: transparent;
        display: block;
        height: 40px;
        line-height: 40px;
        letter-spacing: 1px;
        .fa {
            display: inline-block;
            width: 1.25rem;
        }
    }
    ul.menu {
        padding: 0;
        display: block;
        list-style-type: none;
        font-size: 14px;
        margin: 0 -20px 20px -20px;
        li {
            height: ($sidebarRowHeight);
            line-height: ($sidebarRowHeight );
            display: block;
            &.divider {
                height: 1px;
                line-height: 1px;
                margin: 10px 0;
                background: rgba(255,255,255,.1);
            }
            a {
                text-decoration: none;
                height: ($sidebarRowHeight - 2);
                line-height: ($sidebarRowHeight - 2);
                display: block;
                border-bottom: 1px solid transparent;
                border-top: 1px solid transparent;
                padding: 0 20px;
                position: relative;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                &:hover {
                    color: $white;
                }
                i.fa {
                    height: $sidebarRowHeight;
                    line-height: $sidebarRowHeight;
                    display: block;
                    float: left;
                    width: 25px;
                    text-align: left;
                    color: $gray-light;
                }
                .fa-repeat {
                    float: right;
                    display: block;
                    line-height: ($sidebarRowHeight - 4);
                    height: ($sidebarRowHeight - 4);
                    margin-right: 15px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    cursor: pointer;
                    z-index: 4;
                    background: transparent;
                    color: rgba(255,255,255,.35);
                    -webkit-appearance: none;
                       -moz-appearance: none;
                            appearance: none;
                            border: none;
                    &:hover {
                        color: #fff;
                    }
                    &:focus {
                        outline: 0;
                    }
                }
                em {
                    font-style: normal;
                    font-weight: 400;
                    color: rgba(255,255,255,.35);
                }
            }
            &.active {
                a {
                    background-color: $read;
                    border-color: #efefef;
                    color: #669;
                    i.fa {
                        color: #669;
                    }
                }
            }
        }
    }
    #sidebarLabels {
        position: relative;
        overflow: auto;
        height: calc(100% - 355px);
        float: left;
        width: 100%;
    }
    div.labels {
        font-size: 14px;
        clear: both;
        form {
            margin-bottom: .5rem;
            input {
                display: inline-block;
                border: none;
                border-bottom: 1px solid $border;
                padding-left: 10px;
                line-height: 30px;
                height: 30px;
                width: 9rem;
                font-size: 12px;
                box-sizing: border-box;
                margin-left: -10px;
                background: transparent;
            }
            ::-webkit-input-placeholder {
               color: #d9d9d9;
               text-transform: uppercase;
            }
            :-moz-placeholder {
               color: #d9d9d9;
               text-transform: uppercase;
            }
            ::-moz-placeholder {
               color: #d9d9d9;
               text-transform: uppercase;
            }
            :-ms-input-placeholder {
               color: #d9d9d9;
               text-transform: uppercase;
            }
            .fa-plus {
                display: inline-block;
                font-size: 10px;
                color: $primary;
            }
        }
        ul {
            display: block;
            list-style-type: none;
            overflow: hidden !important;
            position: relative;
            -webkit-overflow-scrolling: touch;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            width: 100%;
            li {
                display: block;
                padding: 0;
                margin: 0;
                &.active {
                    a {
                        padding: 0 20px;
                        margin: 0 -20px;
                        background-color: $read;
                        border-color: #efefef;
                        color: #669;
                        i.fa {
                            color: #669;
                        }
                    }
                }
                a {
                    display: block;
                    height: 25px;
                    line-height: 25px;
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.35);
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    padding: 0;
                    font-size: .8rem;
                    max-width: 65%;
                    &:hover {
                        color: $white;
                    }
                    .fa-tag {
                        display: inline-block;
                        width: 25px;
                        float: left;
                        line-height: 25px;
                    }
                    strong {
                        float: left;
                        display: block;
                        font-weight: 400;
                    }
                    em {
                        font-style: normal;
                        font-weight: 400;
                        color: rgba(255,255,255,.35);
                    }
                }
            }
        }
    }
    div.footer {
        text-transform: uppercase;
        text-align: center;
        font-size: 10px;
        padding-top: 10px;
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 10px;
        .wrap {
            padding: 5px 10px 0;
            margin-bottom: 1rem;
        }
        div.link {
            a {
                font-weight: bold;
                color: $primary;
                text-decoration: none;
                &:hover {
                    color: #fff;
                }
            }
        }
        div.storage {
            color: #bbb;
            strong {
                color: $primary
            }
            .fa {
                margin-right: .5rem;
                opacity: .5;
            }
        }
        a.upgrade {
            display: block;
            text-align: center;
            color: $primary;
            text-decoration: none;
            font-weight: 700;
        }
        .bar {
            height: 1px;
            background-color: rgba(255,255,255,.1);
            width: 100%;
            display: block;
            position: relative;
            margin: .5rem 0;
            em {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                height: 1px;
                z-index: 2;
                background-color: $primary;
            }
        }
        a.version {
            letter-spacing: 0px;
            text-decoration: none;
            color: #6e6f80;
            &:hover {
                color: #fff;
            }
        }
    }
}

@media (max-width: $tablet-landscape) {
    body.secure #pm_background {
        position: fixed;
        z-index: 8;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,.4);
        width: 100%;
        display: none;
        &.tablet {
            display: block;
        }
    }
    body.secure section.sidebar {
        display: none;
    }
    body section#pm_sidebarMobile {
        position: fixed;
        left: -$sidebarMobWidth;
        top: 0;
        bottom: 0;
        z-index: 99;
        opacity: 0;
        display: block;
        background: #fff;
        box-shadow: 0 1px 2px rgba(0,0,0,.25);
        transition: left .5s linear, opacity .25s;
        overflow: auto;
        &.show {
            left: 0;
            opacity: 1;
            transition: left .15s ease-out, opacity .15s;
        }
        .userDisplay {
            float: left;
            clear: both;
            height: 3em;
            margin: 1rem 0;
            font-size: 11px;
            line-height: 1.5em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            em {
                color: #7a7982;
                font-style: normal;
                float: left;
                clear: both;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: ($sidebarMobWidth - 40);
            }
            strong {
                color: #fff;
                float: left;
                clear: both;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: ($sidebarMobWidth - 40);
            }
        }
        .menu {
            clear: both;
        }
    }
}

@media (max-width: $mobile-landscape) {
    body.secure section.sidebar,
    body.secure #pm_background {
        // display: none !important;
    }
    body.secure section#pm_sidebarMobile {
        height: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        div.labels {
            margin: 0 -25px 30px -25px !important;
        }
    }
}
