html.protonmail body.themeJason.secure {

    .page,
    .pm_buttons .pm_buttons.page {
        border-left-color: $border !important;
    }

    #pm_view article.message .sub .meta .addLabelButton a.addLabel {
        line-height: 24px !important;
        height: 24px !important;
        small {
            line-height: 20px !important;
            height: 20px !important;
        }
    }
    .pm_dropdown {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) !important;
        a {
            background: transparent !important;
        }
    }
    .pm_button {
        background: #ffffff;
        background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%);
        background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
        background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) !important;
        border-color: #f2f2f2 !important;
         &.primary {
            background: $primary;
            background: -moz-linear-gradient(top,  $primary 0%, darken($primary, 5%) 100%);
            background: -webkit-linear-gradient(top,  $primary 0%,darken($primary, 5%) 100%);
            background: linear-gradient(to bottom,  $primary 0%,darken($primary, 5%) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary', endColorstr='darken($primary, 10%)',GradientType=0 );
            border-color: darken($primary, 5%) !important;
            &.jason {
                border-color: $primary !important;
            }
        }
        &.link {
            background: transparent !important;
            box-shadow: none !important;
            border-color: transparent !important;
        }
    }
    .pm_buttons {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) !important;
        border-color: #f2f2f2 !important;
        .pm_buttons {
            border-color: transparent !important;
            box-shadow: none !important;
        }
        a {
            background: #ffffff;
            background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%);
            background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
            background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
            height: 34px !important;
            line-height: 34px !important;
        }
        &.disabled {
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) !important; 
            a {}
        }
    }
    .pm_tabs {
        li {
            a {
                box-shadow: none !important;
                border: 1px solid #dcdcdc !important;
                border-width: 1px 0 1px 1px !important;
            }
            &.active {
                position: relative;
                z-index: 2;
                a {
                    background: transparent !important;
                    border-bottom-color: transparent !important;
                }
            }
        }
    }
}

Xhtml.protonmail body.themeJason.secure {
    background: #fff;
    overflow: auto;
    .pm_buttons {
        a {
            background: #fff;
        }
        .pm_buttons {
            box-shadow: none !important;
        }
        .disabled,
        &.disabled {
            background: transparent !important;
        }
        &.disabled {
            box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.04) !important;
        }
    }

    #settingsDomains .pm_table tr td .fa-circle-o, 
    #settingsDomains .pm_table tr td .fa-check-circle, 
    #settingsDomains .pm_table tr td .fa-times-circle {
        top: 4px;
    }

    header#pm_header {
        .pm_dropdown.wide {
            padding: 1rem;
        }
    }

    #settingsDomains .pm_table tr td .pm_button {
        margin: 10px 0;
    }

    #settingsDomains .pm_table tr td .pm_button.dead {
        background: transparent !important;
    }

    header#pm_header form.searchForm {
        background-color: #fafafa;
    }

    header#pm_header ul.navigation{
        padding: 0;
        li > a {
            border-top: 5px solid transparent !important;
            padding-top: 0 !important;
        }
    }

    #pm_view.rows #pm_toolbar {
        margin-left: -30px;
        margin-right: 0;
    }

    #body {
        background-color: #f2f2f2;
        min-height: 100%;
    }

    .pm_sort ul {
        border: none;
    }

    #pm_toolbar {
        padding: 14px 25px 0;
        height: 63px;
        box-sizing: border-box;
        position: relative;
        z-index: 5;
        background: #f2f2f2;
        margin: 0 -50px 0 -25px;
    }

    &#secured-contacts #pm_toolbar {
        margin: 0 -25px;
    }

    header#pm_header {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        border-bottom: none !important;
    }

    #pm_sidebar section.sidebar {
        position: fixed;
        padding-top: 66px;
    }

    #pm_main {
        padding-left: $sidebarWidth;
    }

    header#pm_header ul.navigation li a {
        border-left: 1px solid $border;
    }

    *[pt-height] {
        overflow: initial;
        height: initial !important;
        -webkit-overflow-scrolling: touch;
    }

    section.sidebar div.labels li a {
        margin: 0 -25px;
        padding: 0 25px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        box-sizing: border-box;
        width: $sidebarWidth;
    }

    .pm_dropdown {
        padding: 0;
        & > a {
            padding: 0 1rem !important;
            box-sizing: border-box;
        }
    }

    #pm_settings {
        background: #f2f2f2;
        padding-top: 1rem;
    }

    #pm_settings #plans .plans .plan .features {
        background: #fafafa;
    }

    #pm_settings .settings .row .setting {
        padding-bottom: 1rem !important;
    }

    #pm_rows .list .message {
        color: #777 !important
    }

    #pm_rows .list .message.unread {
        color: #000 !important
    }

    .pm_table thead {
        border-top: none;
    }

    .pm_buttons,
    .well,
    .table,
    #plans .plans .plan,
    .pm_sort,
    .pm_table,
    .secure #pm_header,
    .frame .display-image,
    .pm_dropdown,
    .pm_tabs,
    .border-panel {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 0px 1px rgba(0,0,0,.04) !important;
        border: transparent !important;
        background: #fff !important;
        color: #777;
        &.primary {
            color: #fff !important;
            background: $primary !important;
        }
    }
    iframe {
        background: #fff;
    }
    .searchForm,
    .pm_select,
    .pm_form input[type="text"],
    .pm_form input[type="password"],
    .pm_form input[type="email"],
    .pm_form input[type="search"],
    .pm_form textarea,
    .pm_button,
    .squire-toolbar,
    iframe {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 0px 1px rgba(0,0,0,.04) !important;
        border: transparent !important;
    }
    .pm_table.plain {
        background: transparent !important;
        box-shadow: none !important;
    }
    .pm_button.link {
        box-shadow: none !important;
    }
    section.sidebar ul.menu {
        border-top: 1px solid rgba(255,255,255,.1);
        margin-bottom: 0;
        li a {
            border-bottom: 1px solid rgba(255,255,255,.1);
        }
        li.active a {
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.75);
            border-top-color: transparent;
            background: rgba(0, 0, 0, 0.2);
        }        
    }
    .paginator {
        .disabled {
            background: #e9eaed !important;
        }
    }
    #pm_view article.message header {
        padding: 5px 0;
        font-style: 100%;
    }
    #pm_rows #pm_list {
        background: #fff;
        margin: 0 -50px 0 -25px;
        border-top: 1px solid $border;
        padding:  10px 25px;
    } 
    #pm_rows .list .message:first-child {
        border-top: 0;
    }
    #pm_rows .list .message:last-child {
        border-bottom: 0;
    }
    #pm_view article.message .sub .meta .addLabelButton a.addLabel {
        border-color: transparent;
    }
    header#pm_header .pm_buttons {
        box-shadow: none !important;
    }

    #pm_toolbar .pm_buttons.page {
        margin-left: 0;
        border-left: 1px solid $border !important;
    }

    .pm_button,
    .pm_buttons a {
        background: #ffffff;
        background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%);
        background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
        background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
        &.primary {
            background: $primary;
            background: -moz-linear-gradient(top,  $primary 0%, darken($primary, 10%) 100%);
            background: -webkit-linear-gradient(top,  $primary 0%,darken($primary, 10%) 100%);
            background: linear-gradient(to bottom,  $primary 0%,darken($primary, 10%) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary', endColorstr='darken($primary, 10%)',GradientType=0 );          
        }
        &.link {
            background: transparent !important;
        }
    }
    header#pm_header .pm_buttons .pm_button.primary {
        background: $primary;
        background: -moz-linear-gradient(top,  $primary 0%, darken($primary, 10%) 100%);
        background: -webkit-linear-gradient(top,  $primary 0%,darken($primary, 10%) 100%);
        background: linear-gradient(to bottom,  $primary 0%,darken($primary, 10%) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary', endColorstr='darken($primary, 10%)',GradientType=0 );             
    }

    .pm_tabs li.active a {
        border-color: $border;
        background: #fff !important;
    }

    .pm_tabs li a {
        box-shadow: none !important;
        border: 1px solid $border !important;
        border-width: 0 0 0 1px !important;
        float: left;
    }

    section.sidebar #labelSettings {
        border-top: none;
    }

    #pm_settings .pm_tabs {
        padding-left: 0;
        margin-left: 25px;
    }

    body.rows #pm_rows {
        background-color: #fff;
        padding-bottom: 1rem;
    }
    section.sidebar ul.menu li.active a {
        font-weight: 400;
    }
    .labelDD {
        padding: .5rem 1rem !important; 
    }
    .pm_table.plain th {
        color: #777;
    }

}