header#pm_header {
    position: relative;
    z-index: 7;
    .logo {
        background: $secondary;
    }
    &.simple {
        .logo {
            background: $white;
        }
    }
}
#pm_background {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    background: $secondary;
    z-index: 1;
    width: $sidebarWidth;
    display: none;
}
.secure {
    #pm_background {
        display: block;
    }
}
body.secure section#pm_sidebarMobile {
    background: $secondary;
}
section.sidebar {
    background: $secondary;
    padding-top: 5px;
    position: relative;
    top: -1px;
    z-index: 8;
    ul.menu {
        li.active {
            a {
                border-color: transparent;
                background: rgba(0,0,0,.1);
                color: $white;
                font-weight: 700;
                i.fa {
                    color: $primary;
                }
            }
        }
        li {
            a {
                color: #dadae5;
                i.fa {
                    color: $secondary-alt;
                }
                strong.fa-repeat {
                    opacity: .5;
                }
            }
        }
    }
    div.labels {
        ul {
            li {
                a {
                    color: #dadae5;
                }
                &.active {
                    a {
                        border-color: transparent;
                        background: rgba(0,0,0,.1);
                        color: $white;
                        font-weight: 700;
                        i.fa {
                            color: $primary;
                        }
                    }
                }                
            }
        }
        form {
            input {
                border-color: $secondary-alt;
                color: $white;
            }
            ::-webkit-input-placeholder {
               color: $secondary-alt;
            }
            :-moz-placeholder { 
               color: $secondary-alt;  
            }
            ::-moz-placeholder {  
               color: $secondary-alt;  
            }
            :-ms-input-placeholder {  
               color: $secondary-alt;  
            }
        }
    }
    div.footer {
        color: $secondary-alt;
        a {
            color: $secondary-alt;
        }
    }
}

.ua-chrome section.sidebar {
    ::-webkit-scrollbar {
        background: #3e3d4c
    }
}

@media (max-width: 1024px) {
    #pm_background {
        display: none;
    }
    section#pm_sidebar {
    }
}