html.protonmail body.themeJason.secure {
    background: #fff;
    overflow: auto;
    .pm_buttons {
        a {
            background: #fff;
        }
        .pm_buttons {
            box-shadow: none !important;
        }
        .disabled {
            background: #fafafa;
        }
    }


    *[pt-height] {
        overflow: initial;
        height: initial !important;
        -webkit-overflow-scrolling: touch;
    }

    .pm_buttons,
    .well,
    .table,
    #plans .plans .plan,
    .pm_sort,
    .pm_table,
    .secure #pm_header,
    .frame .display-image,
    .pm_dropdown, {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 0px 1px rgba(0,0,0,.04) !important;
        border: none !important;
        background: #fff !important;
        color: $gray-light;
        &.primary {
            color: #fff !important;
            background: $primary !important;
        }
    }
    iframe {
        background: #fff;
    }
    .searchForm,
    .pm_select,
    .pm_form input,
    .pm_button,
    .squire-toolbar,
    iframe {
        box-shadow: 0 1px 1px rgba(0,0,0,.2) !important;
    }
    .pm_table.plain {
        background: transparent !important;
        box-shadow: none !important;
    }
    .pm_button.link {
        box-shadow: none !important;
    }
    section.sidebar ul.menu {
        border-top: 1px solid rgba(255,255,255,.1);
        li a {
            border-bottom: 1px solid rgba(255,255,255,.1);
        }
        li.active a {
                box-shadow: inset 0 1px 2px rgba(0,0,0,.25);
                border-top-color: transparent;
        }        
    }
    #pm_view article.message header {
        padding: 5px 0;
        font-style: 100%;
    }
    #pm_rows #pm_list {
        background: #fff;
        margin: 0 -50px 0 -25px;
    } 
    #pm_rows .list .message:first-child {
        border-top: 0;
    }
    #pm_rows .list .message:last-child {
        border-bottom: 0;
    }
    #pm_view article.message .sub .meta .addLabelButton a.addLabel {
        border-color: transparent;
    }
    header#pm_header .pm_buttons {
        box-shadow: none !important;
    }

    .pm_button,
    .pm_buttons a {
        background: #ffffff;
        background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%);
        background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
        background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
        &.primary {
            background: $primary;
            background: -moz-linear-gradient(top,  $primary 0%, darken($primary, 10%) 100%);
            background: -webkit-linear-gradient(top,  $primary 0%,darken($primary, 10%) 100%);
            background: linear-gradient(to bottom,  $primary 0%,darken($primary, 10%) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary', endColorstr='darken($primary, 10%)',GradientType=0 );          
        }
    }


}