html.protonmail body.themeJason {
    background: #e9eaed;
    .pm_buttons {
        a {
            background: #fff;
        }
        .pm_buttons {
            box-shadow: none !important;
        }
    }
    .pm_buttons,
    .well,
    .table,
    #plans .plans .plan,
    .pm_sort,
    .pm_table,
    .secure #pm_header,
    .frame .display-image,
    .pm_dropdown, {
        box-shadow: 0 1px 1px rgba(0,0,0,.2) !important;
        border: none !important;
        background: #fff !important;
        color: $gray-light;
        &.primary {
            color: #fff !important;
            background: $primary !important;
        }
    }
    iframe {
        background: #fff;
    }
    .searchForm,
    .pm_select,
    .pm_form input,
    .pm_button,
    .squire-toolbar,
    iframe {
        box-shadow: 0 1px 1px rgba(0,0,0,.2) !important;
    }
    .pm_table.plain {
        background: transparent !important;
        box-shadow: none !important;
    }
    .pm_button.link {
        box-shadow: none !important;
    }
    section.sidebar ul.menu {
        border-bottom: 1px solid rgba(0,0,0,.1);
        border-top: 1px solid rgba(255,255,255,.1);
        background: rgba(0,0,0,.04);
        li a {
            border-top: 1px solid rgba(0,0,0,.1);
            border-bottom: 1px solid rgba(255,255,255,.1);
        }
    }
}