#pm_toolbar-desktop {
    height: 54px;
    box-sizing: border-box;
    padding: 0 10px;
    border-bottom: 1px solid $border;
    .pm_checkbox {
        float: left;
        display: block;
        height: 54px;
        line-height: 54px;
        margin: 0;
    }
    & > .pm_buttons {
        float: none;
        display: inline-block;
        margin: 9px 0 0 0;
    }
    & > .pull-right {
        margin: 9px 0 0 0;
    }
}

#pm_toolbar-tablet {
    height: 54px;
    box-sizing: border-box;
    padding: 0 10px;
    border-bottom: 1px solid $border;
    .pm_buttons a,
    .pm_button {
        padding: 0 20px;
    }
    .pm_checkbox {
        float: left;
        display: block;
        height: 54px;
        line-height: 54px;
        margin: 0;
    }
    & > .pm_buttons {
        float: none;
        display: inline-block;
        margin: 9px 0 0 0;
    }
    & > .pull-right {
        margin: 9px 0 0 0;
    }
}

#pm_toolbar-mobile {
    height: 54px;
    box-sizing: border-box;
    padding: 0 10px;
    border-bottom: 1px solid $border;
    .pm_checkbox {
        float: left;
        display: block;
        height: 54px;
        line-height: 54px;
        margin: 0;
    }
    & > .pm_buttons {
        float: none;
        display: inline-block;
        margin: 9px 0 0 0;
    }
    & > .pull-right {
        margin: 9px 0 0 0;
    }
}