.tooltip.tour {
	.tooltip-inner  {
		background-color: $tour;
		white-space: initial !important;
		min-width: 300px;
		word-break: normal;
		padding: 10px 15px;
		line-height: 1.2rem;
		box-shadow: 0 1px 1px rgba(0,0,0,.1);
	}
	&.top .tooltip-arrow {
		border-top-color: $tour;
	}
	&.top-left .tooltip-arrow {
		border-top-color: $tour;
	}
	&.top-right .tooltip-arrow {
		border-top-color: $tour;
	}
	&.right .tooltip-arrow {
		border-right-color: $tour;
	}
	&.left .tooltip-arrow {
		border-left-color: $tour;
	}
	&.bottom .tooltip-arrow {
		border-bottom-color: $tour; 
	}
	&.bottom-left .tooltip-arrow {
		border-bottom-color: $tour;
	}
	&.bottom-right .tooltip-arrow {
		border-bottom-color: $tour;
	}
}

body.tourActive {
	section.sidebar ul.menu li a {
		overflow: visible;
	}
	header#pm_header {
		z-index: 5;
	}
}