// COLORS
$light-purple:                #669;
$dark-purple:                 #336;
$light-grey:                  #ccc;
$dark-grey:                   #444;
$white:                       #fff;
$black:                       #000;
$light-black:                 #333;
$yellow:                      #ffc;
// ELEMENTS
$font-size-base:              13px;
$font-size-small:             $font-size-base;
$body-bg:                     $white;
$panel-bg:                    darken($white, 2%);
$panel-header:                $dark-grey;
$panel-footer:                darken($white, 7%);
$font-size-h1:                floor(($font-size-base * 2));
$navbar-inverse-link-color:   darken(white, 20%);
$navbar-inverse-color:        darken(white, 30%);
$navbar-inverse-bg:           darken(white, 66.5%);

$navbar-height:               50px;
$navbar-margin-bottom:        $navbar-height;
$footer-height:               ($navbar-height*.75);

$padding-base-horizontal:    ($font-size-base*1.1);
$padding-base-vertical:      ($padding-base-horizontal/2);

$border-radius-base:         2px;
$border-radius-large:        ($border-radius-base/.75);
$border-radius-small:        ($border-radius-base/1.25);
$navbar-inverse-color:       lighten($navbar-inverse-bg, 35%);
$navbar-inverse-link-color:  $navbar-inverse-color;
$sidebar-width:              20rem;
$search-width:               30rem;
$sidebar-button-lighten:     5%;
$sidebar-bg:                 $light-black;
$navbar-bg:                  $dark-grey;
$table-cell-padding:         6px 8px;
$tooltip-opacity:            1;
$starred:                    $yellow;
$highlight:                  $yellow;
$font-primary:               'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana;
$font-family-monospace:      Consolas,monaco,monospace;
$row-height:                 32px;
$duration-of-effect:         200ms;
