$sidebarWidth: 190px;
$headerHeight: 61px;
$toolbarHeight: 63px;
$rowHeight: 40px;
$composerRowHeight: 30px;

$maxHeight: auto; // was 40rem

// Theme Colors
$primary: 		#9397cd;
$secondary: 	#505061;
$secondary-alt:	#6e6f80;
$alert-info: 	#e6e6f2;
$readBubble: 	#a8d24c;
$border: 		#ededed;
$orange:		#e7d360;
$white: 		#fff;
$gray: 			#555;
$gray-light: 	#ccc;
$dark:			#4d4c5d;

// Responsive
$mobile: 		640px;
$tablet: 		800px;