

#pm_welcome {
	max-height: $maxHeight;
	overflow-y: auto;
	overflow-x: hidden; 
	-webkit-overflow-scrolling: touch;
	iframe {
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 2;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		padding: 0;
		margin: 0;
		outline: none;
		border: none;
	}
}