@import '~@proton/styles/scss/lib';
@import '~@proton/styles/scss/meet/meet-breakpoints';

.action-button {
	background-color: var(--background-card);
	border-color: var(--border-card);
}

.prejoin-container {
	block-size: 100%;
	padding: var(--space-4);
	padding-block-start: 5.63rem;

	@include media('>medium') {
		padding: 0;
		padding-block-start: 0;
	}

	.prejoin-container-content {
		block-size: 100%;

		@include media('>medium') {
			block-size: initial;
		}
	}
}
