# Start by ignoring everything and include only what's needed
*

!/yarn.lock
!/.yarnrc.yml
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/plugin*

!/package.json
!/**/*/package.json

# Needed to be able to run postinstall in all workspaces
!/packages/pack
!/packages/config
!/applications/pass-extension/manifest-chrome.json
