src/app/libraries/*
src/app/translations.js
src/app/authentication/services/srp.js
src/app/authentication/services/auth.js
src/app/config.js
src/app/utils/services/storage.js
src/app/contactCurrent/controllers/contacts.js
