.DS_Store
.idea
.cache
.stylelintcache
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
dist
config.ts
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.netlify
storybook-static
i18n-js
po
coverage
lib-cov
test-report.xml
ci/images/.env
.env
appConfig.json
webapp-bundle.tar.gz
build
.log
