.cache
.config
.DS_Store
.forever
.node-gyp
.npm
.qws
.sass-cache
build
dist
karma-*
logs
node_modules
npm-debug.log
po/template.pot
src/app/config.js
src/app/translations.js
test/coverage/
theme
vendor
package-lock.json
po/lang.json
.idea/
cypress.env.json
cypress/screenshots/
bob.copy/
distback/
distCurrent/
env/env.json
env/.env
