build
node_modules
vendor
.DS_Store
theme
logs
dist
.sass-cache
.cache
.npm
.config
.forever
.node-gyp
.qws
karma-*
npm-debug.log

src/app/translations.js

src/app/config.js

src/app/config.js

po/template.pot

po/template.pot
