{
    "(*.ts|*.tsx|*.js)": ["prettier --write", "eslint --fix --flag v10_config_lookup_from_file"],
    "(*.scss|.css)": ["prettier --write", "stylelint --fix"],
    "(*.json|*.md|*.mdx|*.html|*.mjs|*.yml|*.svg)": "prettier --write",
    "package.json": "sort-package-json"
}
