@proton:registry=https://nexus.protontech.ch/repository/foundation-npm/
@protontech:registry=https://nexus.protontech.ch/repository/web-npm-private-and-public/
@proton-meet:registry=https://nexus.protontech.ch/repository/meet-npm/
@tpe:registry=https://gitlab.protontech.ch/api/v4/projects/4357/packages/npm/
