{
    "printWidth": 120,
    "arrowParens": "always",
    "singleQuote": true,
    "tabWidth": 4,
    "proseWrap": "never",
    "overrides": [
        {
            "files": "*.scss",
            "options": {
                "tabWidth": 2,
                "useTabs": true,
                "singleQuote": true
            }
        },
        {
            "files": "*.ts",
            "options": {
                "importOrderParserPlugins": ["typescript"]
            }
        },
        {
            "files": "*.svg",
            "options": {
                "parser": "html"
            }
        }
    ],
    "importOrder": [
        "^react(.*)$",
        "^react-dom(.*)$",
        "^react-router-dom(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^@proton/(.*)$",
        "^[./].*(?<!\\.(c|sc)ss)$",
        "(c|sc)ss$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
