@import '~@proton/colors/themes/dist/duotone.theme.css';
@import '~@proton/styles/scss/proton-ui-storybook';

body {
	overflow: scroll !important;
	color: inherit;
}

pre code {
	line-height: 1.5 !important;
}

// dirty fixes while waiting to have better solutions
.language-markup code {
	inline-size: 100%;
	white-space: pre-wrap;
}

.icon-ko,
.icon-ok {
	&::after {
		position: absolute;
		inset-block-start: 0.75em;
		inset-inline-end: 0;
		padding-block: 0;
		padding-inline: 0 0.5em;
		font-size: 2em;
	}
}

.icon-ko::after {
	content: '×';
	color: var(--signal-danger);
}

.icon-ok::after {
	content: '✔';
	color: var(--signal-success);
}

.icon-ko button {
	display: none; // don't copy shit!
}

table {
	&.no-bg {
		tr {
			background: none !important;
		}
	}
}

.sbdocs-h2 {
	margin-block-start: 2em !important;
	border: none !important;
}

// Fix weird margin on auto scroll
.docs-story > div {
	margin: 0;
}

.icon-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	gap: 1em;
}

.sbdocs-a {
	&#{&} {
		@extend .link;
	}
}

input[type='radio'],
input[type='checkbox'] {
	opacity: 1;
}
