.disabled-sidebar-link,
.disabled-sidebar-link * {
	background: var(--background-norm) !important;
	border: 0 solid transparent !important;
	color: var(--text-disabled) !important;
	outline: none !important;
	cursor: not-allowed !important;
}
