.sidebar-wallet-link-container:has([aria-current='page'].navigation-link) {
	border-inline-start: 4px solid var(--interaction-norm);

	.navigation-link {
		background: var(--background-weak);
		color: var(--interaction-norm);
	}
}

.wallet-icon {
	color: var(--interaction-norm);
}

.wallet-account-list-item .navigation-link[aria-current='page'] {
	background: var(--background-weak);
	color: var(--interaction-norm);
}

.disabled-sidebar-link {
	&,
	& * {
		background: var(--background-weak);
		border: 0 solid transparent;
		color: var(--text-disabled);
		outline: none;
		cursor: not-allowed;
	}
}
