<section class="defaultSignature-container">
    <div class="clearfix">
        <div class="col-3-8">
            <label for="displayName">
                <span
                    translate-context="Title"
                    translate translate-comment="display name heading on account page"
                    translate>Display name</span>
                <a href="https://protonmail.com/support/knowledge-base/display-name/" target="_blank" class="text-purple"><i class="fa fa-info-circle"></i></a>
            </label>
        </div>
        <div class="col-5-8">
            <input
                id="displayName"
                type="text"
                name="displayName"
                ng-model="displayName">
        </div>
    </div>
    <div class="clearfix">
        <div class="col-3-8">
            <label
                for="signature"
                translate-context="Title"
                translate translate-comment="Signature heading on account page"
                translate>Signature</label>
        </div>
        <div class="col-5-8">
            <squire
                id="signature"
                name="signature"
                class="form-control no-resize"
                data-type-content="signature"
                allow-data-uri="true"
                data-value="signature"></squire>
        </div>
    </div>
    <div class="clearfix">
        <div class="col-3-8">
            <label translate translate-context="Title">ProtonMail Signature</label>
        </div>
        <div class="col-5-8">
            <toggle
                ng-if="!protonSignature.isMandatory"
                class="defaultSignature-toggle small pull-right"
                data-status="protonSignature.isActive"
                data-on="ON"
                data-off="OFF"
                data-name="changePMSignature"></toggle>
            <p ng-bind-html="protonSignature.content"></p>
            <p class="alert alert-info" ng-if="protonSignature.isMandatory" translate translate-context="Info">
                A <a ui-sref="secured.dashboard({scroll: true})">paid plan</a> is required to turn off the ProtonMail signature. Paid plan revenue allows us to continue supporting free accounts.
            </p>
        </div>
    </div>
    <div class="clearfix">
        <div class="col-3-8">&nbsp;</div>
        <div class="col-5-8">
            <button class="pm_button primary" ng-click="saveIdentity()" translate-context="Action" translate translate-comment="Save button for updating default identity on account page">Save</button>
            <a ui-sref="secured.account" class="defaultSignature-link-signatures pm_button" translate-context="Action" translate translate-comment="link to addresses page">Edit other signatures</a>
        </div>
    </div>
</section>
