<div class="signupPayForm-container">

    <header class="aligncenter signupPayForm-header">
        <img class="signupPayForm-header-logo" src="/assets/img/logo/logo-purple.svg" height="34" />
        <h2 class="signupPayForm-header-title">
            <i class="fa fa-money"></i>
            <span translate translate-context="Title">Billing Information</span>
        </h2>
        <p class="signupPayForm-thanks"></p>
    </header>

    <h3 translate translate-context="Title">Overview</h3>
    <table class="pm-simple-table noborder border-collapse mb2">
        <tbody>
            <tr>
                <th scope="row" translate translate-context="Title">Plan</th>
                <td>
                    <strong class="signupPayForm-plan-name">{{ ::plan.name }}</strong>
                </td>
            </tr>
            <tr>
                <th scope="row" translate translate-context="Title">Billing</th>
                <td>
                    <strong class="signupPayForm-plan-billing">{{ ::plan.billing }}</strong>
                </td>
            </tr>
            <tr class="signupPayForm-gift-amount-row">
                <th scope="row" translate-context="Title" translate>Gift code</th>
                <td>
                    <strong class="signupPayForm-plan-gift text-green">{{ plan.gift }}</strong>
                </td>
            </tr>
            <tr>
                <th scope="row" translate translate-context="Title">Price</th>
                <td>
                    <strong class="signupPayForm-plan-price">{{ plan.price }}</strong>
                </td>
            </tr>
        </tbody>
    </table>

    <form name="payForm" novalidate>

        <div class="signupPayForm-paymentInfo mb2">
            <div class="mb2 flex">
                <label
                    for="paymentMethod"
                    class="pm-label"
                    translate
                    translate-context="Title"
                    translate-comment="form label">Payment method</label>
                <select
                    id="paymentMethod"
                    ng-model="method"
                    class="pm-field flex-item-fluid"
                    ng-change="onPaymentMethodChange()"
                    ng-options="method.label for method in methods"></select>
            </div>

            <card-view
                ng-if="method.value === 'card'"
                class="mt2 mb1"
                data-card="account.card"
                data-form="payForm"></card-view>

            <paypal-view
                ng-if="method.value === 'paypal'"
                class="mt2 mb1"
                data-callback="onPaypalSuccess"
                data-currency="payment.Currency"
                data-amount="payment.AmountDue"></paypal-view>
        </div>

        <div class="signupPayForm-gift-row mb2">
            <label
                for="giftCodeInput"
                class="pm-label"
                translate-context="Title"
                translate>Gift code</label>


            <div class="signupPayForm-gift-col inline-flex mb1">
                <gift-code-btn data-action="displayGiftSignup"></gift-code-btn>
                <gift-code-input data-code="giftCode" data-form="payForm"></gift-code-input>
                <button
                    class="signupPayForm-btn-apply pm-button--primary"
                    type="button"
                    translate-context="Action"
                    translate>Apply</button>
            </div>
        </div>

        <footer class="aligncenter signupPayForm-footer flex flex-column flex-items-center">
            <button
                class="pm-button--primary pm-button--large signupPayForm-btn-submit disabled-if-network-activity"
                type="submit"
                translate
                translate-context="Action">Submit
            </button>
            <button
                class="pm-button--primary pm-button--large signupPayForm-btn-retry disabled-if-network-activity"
                type="submit"
                translate
                translate-context="Action">Retry</button>
            <button
                class="pm-button--link signupPayForm-btn-cancel disabled-if-network-activity"
                signup-step-link="3"
                translate
                translate-context="Action">Cancel</button>
        </footer>
    </form>
</div>
