<div
    class="signupPayForm-container"
    ng-class="{
        'signupPayForm-cycle-month': plan.Cycle === 1,
        'signupPayForm-cycle-year': plan.Cycle === 12,
        'signupPayForm-plan-plus': plan.Name === 'plus',
        'signupPayForm-plan-visionary': plan.Name === 'visionary',
        'signupPayForm-method-paypal': method.value === 'paypal',
        'signupPayForm-error': errorPay,
    }">

    <header class="text-center header signupPayForm-header">
        <img class="signupPayForm-header-logo" src="/assets/img/logo/logo-purple.svg" height="34" />
        <h2 class="signupPayForm-header-title">
            <i class="fa fa-money"></i>
            <span translate translate-context="Title">Billing Information</span>
        </h2>
        <p class="uppercase" translate translate-context="Title">Thank you for your support!</p>
    </header>
    <hr />

    <div class="pm_grid">
        <div class="col-1-4 bold" translate translate-context="Title">Overview</div>
        <div class="col-3-4 pm_table">
            <table class="print">
                <tbody>
                    <tr>
                        <th translate translate-context="Title">Plan</th>
                        <td>
                            <strong class="signupPayForm-feature-plus plus">ProtonMail PLUS</strong>
                            <strong class="signupPayForm-feature-visionary visionary">ProtonMail VISIONARY</strong>
                        </td>
                    </tr>
                    <tr>
                        <th translate translate-context="Title">Billing</th>
                        <td>
                            <strong class="signupPayForm-selection-monthly" translate translate-context="Info">Monthly</strong>
                            <strong class="signupPayForm-selection-annually" translate translate-context="Info">Annually</strong>
                        </td>
                    </tr>
                    <tr ng-if="giftModel.Gift">
                        <th translate-context="Title" translate>Gift code</th>
                        <td>
                            <strong class="text-green">{{ giftModel.Gift / 100 | currency: plan.Currency }}</strong>
                        </td>
                    </tr>
                    <tr>
                        <th translate translate-context="Title">Price</th>
                        <td>
                            <strong>{{ (giftModel.AmountDue || plan.Amount) / 100 | currency: plan.Currency }}</strong> <i ng-hide="plan.Cycle === 1">({{ (giftModel.AmountDue || plan.Amount) / 100 / plan.Cycle | currency: plan.Currency }} / month)</i>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="signupPayForm-btn-features">
                <span translate-context="Action" translate>Show features</span>
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </button>

            <ul class="signupPayForm-view-features">
                <li class="signupPayForm-feature-plus" translate-context="Signup features" translate>5GB storage</li>
                <li class="signupPayForm-feature-visionary" translate-context="Signup features" translate>20GB storage</li>
                <li class="signupPayForm-feature-plus" translate-context="Signup features" translate>Send up to 1000 messages per day</li>
                <li class="signupPayForm-feature-visionary" translate-context="Signup features" translate>No sending limits</li>
                <li translate-context="Signup features" translate>Labels and Custom Filters</li>
                <li translate-context="Signup features" translate>Send encrypted messages to external recipients</li>
                <li translate-context="Signup features" translate>Use your own domain (ex: thomas@anderson.com)</li>
                <li class="signupPayForm-feature-plus" translate-context="Signup features" translate>Up to 5 email aliases</li>
                <li class="signupPayForm-feature-visionary" translate-context="Signup features" translate>Up to 50 email aliases</li>
                <li class="signupPayForm-feature-visionary" translate-context="Signup features" translate>Support for up to 5 domains</li>
                <li translate-context="Signup features" translate>Priority Customer Support</li>
                <li class="signupPayForm-feature-visionary" translate-context="Signup features" translate>Early access to new features</li>
                <li class="signupPayForm-feature-visionary" translate-context="Signup features" translate>Help pick new features through Visionary only polls</li>
            </ul>
        </div>
    </div>

    <form name="payForm" novalidate class="pm_form">

        <div class="pm_grid margin">
            <div class="col-1-2">
                <label for="paymentMethod" translate translate-context="Title" translate-comment="form label">Payment method:</label>
            </div>
            <div class="col-1-2">
                <div class="pm_select">
                    <select
                        id="paymentMethod"
                        ng-model="method"
                        ng-options="method.label for method in methods"></select>
                    <i class="fa fa-angle-down"></i>
                </div>
            </div>
        </div>

        <div class="pm_grid" ng-if="method.value === 'card'">
            <div class="col-1-4 bold" translate translate-context="Title">Credit Card</div>
            <div class="col-3-4">
                <card-view
                    data-card="account.card"
                    data-form="payForm"></card-view>
            </div>
        </div>

        <div class="pm_grid" ng-if="method.value === 'paypal'">
            <div class="col-1-4 bold" translate translate-context="Title">PayPal</div>
            <div class="col-3-4">
                <paypal-view
                    data-callback="onPaypalSuccess"
                    data-currency="plan.Currency"
                    data-amount="giftModel.AmountDue || plan.Amount"></paypal-view>
            </div>
        </div>

        <div class="pm_grid signupPayForm-gift-row">
            <div class="col-1-4 bold" translate-context="Title" translate>Gift code</div>
            <div class="col-3-4 signupPayForm-gift-col">
                <gift-code-btn data-action="displayGiftSignup"></gift-code-btn>
                <gift-code-input data-code="giftCode" data-form="payForm"></gift-code-input>
                <button class="signupPayForm-btn-apply pm_button" type="button" translate-context="Action" translate>Apply</button>
            </div>
        </div>

        <footer class="text-center signupPayForm-footer">
            <p class="alert alert-info signupPayForm-msg-error"><span translate translate-context="Signup error">Would you like to create a free ProtonMail account instead?</span> <signup-step-link data-value="3"></signup-step-link></p>

            <button
                class="pm_button primary large signupPayForm-btn-submit disabled-if-network-activity"
                type="submit"
                translate
                translate-context="Action"><i class="fa fa-lock"></i> Submit</button>
            <button
                class="pm_button primary large signupPayForm-btn-retry disabled-if-network-activity"
                type="submit"
                translate
                translate-context="Action">Retry</button>
            <button
                class="pm_button link signupPayForm-btn-cancel disabled-if-network-activity"
                type="reset"
                translate
                translate-context="Action">Cancel</button>
        </footer>
    </form>
</div>
