<div class="usernamePassword-container">
    <div class=mb1>
        <label
            class="titleLabel h6 mb0  usernamePassword-title-password pm-label"
            for="password"
            translate-context="Title"
            translate>Password</label>
    </div>

    <password
        data-id="password"
        data-name="password"
        data-value="model.password"
        data-form="form"
        class="mb1"
        placeholder-translate-context="Placeholder"
        placeholder-translate="Choose a password"></password>

    <password
        data-id="passwordc"
        data-name="passwordc"
        data-value="model.confirmation"
        data-form="form"
        class="mb1"
        data-compare="model.password"
        placeholder-translate-context="Placeholder"
        placeholder-translate="Confirm password"></password>

    <p
        class="block-info-standard-warning"
        translate-context="Info"
        translate>If you lose your password, you will not be able to read your emails.</p>
</div>
