<div class="usernamePassword-container">
    <label
        class="titleLabel usernamePassword-title-password"
        for="password"
        translate-context="Title"
        translate>Password</label>

    <div class="margin usernamePassword-field-password">
        <password
            data-id="password"
            data-name="password"
            data-value="model.password"
            data-form="form"
            placeholder-translate-context="Placeholder"
            placeholder-translate="Choose a password"></password>
    </div>

    <div class="margin usernamePassword-field-password-confirm">
        <password
            data-id="passwordc"
            data-name="passwordc"
            data-value="model.confirmation"
            data-form="form"
            data-compare="model.password"
            placeholder-translate-context="Placeholder"
            placeholder-translate="Confirm password"></password>
    </div>

    <p
        class="alert alert-info usernamePassword-msg-password"
        translate-context="Info"
        translate>If you lose your password, you will not be able to read your emails.</p>
</div>
