@use '~@proton/styles/scss/pass/pass-lib' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints-product;
im.$media-expressions: $media-expressions;

.pass-onboarding-upgrade {
	.description {
		&--banner-badge {
			max-inline-size: 80%;
			background: linear-gradient(30deg, #f6c592 50%, #d397be 90%), #191927;
		}

		&--banner-card {
			border: 2px solid var(--signal-warning);

			&-content {
				@include im.media('<small') {
					display: contents;
				}
			}
		}
	}

	.table {
		&--main-content {
			th,
			td {
				border-block-end: 0;
			}

			th:nth-child(3) {
				background-color: var(--background-weak);
				border-radius: 1rem 1rem 0 0;
			}

			tr {
				td:nth-child(3) {
					background-color: var(--background-weak);
				}
			}

			tr:last-child {
				td:nth-child(3) {
					background-color: var(--background-weak);
					border-radius: 0 0 1rem 1rem;
				}
			}

			/* Override the hover BG only for this table */
			.pass-table--row {
				cursor: default;

				&:hover {
					background-color: inherit;
				}

				&-title {
					@include im.media('<medium') {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}
	}
}
