.pass-onboarding-modal {
	/* Hide elements we don't need */
	.stepper-labels,
	.stepper-item-connector,
	.modal-two-header-actions .vr,
	.radio-fakeradio {
		display: none;
	}

	&-header-background {
		background: linear-gradient(160deg, #f08fa4 0, #4B3379 25%, #1F1F31 45%), var(--interaction-weak);

		@at-root .pass-light & {
			background: linear-gradient(160deg, #CF8287 0%, #E7DAFF 25%, #F7F3FF 45%), #FBF9FE;
		}
	}

	/* Customize stepper look */
	.stepper {
		position: absolute;
		inset-block-start: 2.35rem;
		pointer-events: none;

		&-item {
			max-inline-size: 2rem;

			&-dot {
				inline-size: 100%;
				block-size: 0.25rem;
				border-radius: 1.5rem;
				background-color: var(--interaction-weak);
			}

			&--active .stepper-item-dot {
				opacity: 1;
				background-color: var(--interaction-norm);
			}
		}
	}

	/* Align modal header */
	.modal-two-header-actions {
		inline-size: 100%;
		justify-content: end;
	}

	/* Customize radio selectors */
	&--radio {
		:checked ~ .pass-onboarding-modal--option,
		.pass-onboarding-modal--option:hover {
			background-color: var(--interaction-norm-minor-2);
		}
	}

	&--radio {
		.pass-onboarding-modal--option-dense {
			background-color: var(--interaction-norm-minor-2);

			&:hover {
				background-color: var(--interaction-norm-minor-2);
			}
		}

		:checked ~ .pass-onboarding-modal--option-dense {
			background-color: var(--interaction-norm);
		}
	}

	/* Style auto-lock control */
	&--lock {
		& > .field-two-container {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.field-two-label-container {
				margin: 0;
			}
		}
	}

	&--group,
	&--skip {
		color: var(--interaction-norm);
	}
}
