<div class="pm_modal small {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 ng-if="ctrl.mode === 'export'" class="modal-title" translate-context="Title for the contacts exporter modal" translate>Exporting Contacts</h4>
                <h4 ng-if="ctrl.mode === 'import'" class="modal-title" translate-context="Title for the contacts importer modal" translate>Importing Contacts</h4>
            </div>
            <div class="modal-body">
                <p ng-if="ctrl.mode === 'export'" class="alert alert-info" translate-context="Information for the contacts exporter modal" translate>Exporting contacts, this may take a few minutes. When the progress is completed, this modal will close and let you download the file.</p>
                <p ng-if="ctrl.mode === 'import'" class="alert alert-info" translate-context="Information for the contacts importer modal" translate>Importing contacts, this may take a few minutes. When the progress is completed, this modal will close.</p>
                <loader-tag></loader-tag>
            </div>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
