@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/rem' as *;

.advanced-filter-modal {
	// Special case for the Sieve editor
	--size: #{rem(1200)};

	block-size: 100%;

	.scroll-inner,
	.scroll-child,
	.modal-two-content {
		display: flex;
		flex-flow: column nowrap;
		flex: 1 1 auto;
	}

	.scroll-inner,
	.scroll-child {
		inline-size: 100%;
	}

	.react-codemirror2 {
		flex: 1 1 auto;
	}

	.CodeMirror {
		block-size: 100%;
		min-block-size: 13em;
	}
}
