<div class="pm_modal small very-important {{ctrl.class}}" role="dialog" style="display: block;">
    <form class="modal-dialog" ng-submit="passwordModalForm.$valid && ctrl.submit()" name="passwordModalForm" novalidate>
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" translate-context="Title" translate>Key password</h4>
            </div>
            <div class="modal-body pm_form">
                <div class="multi-line-label">
                    <label ng-if="ctrl.passwordMode === 1" for="password" translate translate-context="Label in the modal which ask the user to enter his password or mailbox password">Enter your previous mailbox password from before your account was reset:</label>
                    <label ng-if="ctrl.passwordMode === 2" for="password" translate translate-context="Label in the modal which ask the user to enter his password or mailbox password">Enter your previous password from before your account was reset:</label>
                </div>
                <input type="password" autofocus ng-model="ctrl.password" id="password" placeholder-translate="Password" name="password" required/>
                <div ng-messages="passwordModalForm.password.$error" class="text-red">
                    <p ng-message="required" translate-context="Error" translate>Field required</p>
                </div>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button type="button" class="pm_button pull-left" ng-click="ctrl.cancel()" translate-context="Action" translate>Cancel</button>
            <button class="pm_button primary" translate-context="Action" translate>Submit</button>
        </div>
    </form>
    <div class="modal-overlay"></div>
</div>
