@use '~@proton/styles/scss/pass/pass-lib' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints-product;
im.$media-expressions: $media-expressions;

.pass-monitor-grid {
	display: flex;
	flex-direction: column;

	@include im.media('>large') {
		display: grid !important;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: min-content;
	}
}
