// UNAUTHORIZED
header#pm_header {
	height: $headerHeight;
	background: $secondary;
	font-size: 12px;
	position: relative;
	z-index: 2;
	overflow: hidden;
}

#pm_header-mobile {
    display: flex;
	height: 70px;
	line-height: 70px;
	background: $header-background;
	font-size: 14px;
	position: relative;
	z-index: 999;
	.logoMobile {
		font-size: 1rem;
		float: left;
		max-width: 3rem;
		min-width: 3rem;
		width: auto;
		height: 70px;
		line-height: 70px;
		box-sizing: border-box;
		padding: 0 10px;
		margin: 0;
		text-align: center;
		display: inline-block;
		color: $white;
        border: 0;
		img {
			display: inline-block;
			vertical-align: middle;
			margin-top: -4px;
		}
	}
	.fa {
		font-size: 18px;
	}
	.searchBtn {
        margin-left: auto;
		color: $white;
		max-width: 4rem;
		min-width: 4rem;
		text-align: center;
		width: auto;
	}
	a.compose {
		background: transparent;
		float: right;
		color: $white;
		max-width: 4rem;
		min-width: 4rem;
		text-align: center;
		width: auto;
		&:hover {
			background: transparent;
		}
	}
	.location {
		float: left;
		display: block;
		font-weight: 700;
		font-size: 16px;
		color: $white;
		text-transform: capitalize;
	}
}

.appConfigBody-is-mobile.appConfigBody-activeComposer {
	#pm_header-mobile {
		display: none;
	}
}
