.headerNoAuth-container {
    height: 0; /* IE */
    min-height: $headerHeight;
    background: $secondary;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-bottom-color: transparent;
    color:$white;
    font-family: sans-serif;
}

.headerNoAuth-list {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.headerNoAuth-list > [class*='headerNoAuth-item'] {
    height: 35px;
    max-width: 100%; /* ellipsis */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.headerNoAuth-list > [class*='headerNoAuth-item'] a { color: inherit }
.headerNoAuth-list > [class*='headerNoAuth-item'] a:not(:hover) { text-decoration: none }

.headerNoAuth-item-back {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.headerNoAuth-item-back::before {
    content: "\f053";
    font-family: FontAwesome;
    margin-right: 4px;
 }

.headerNoAuth-item-back,
.headerNoAuth-item-report-button { font-size: 12px }

.headerNoAuth-item-report-button {
    height: 35px;
    margin: 0px 20px 0px;
    padding: 0px 10px;
    border-radius: $border-radius;
}

.headerNoAuth-item-report-button:hover { background: rgba(0,0,0,0.2) }

.headerNoAuth-btn-back {
    flex: 1;
    order: 0;
    color: currentColor;
}

/* mobile */
body.appConfigBody-is-mobile .headerNoAuth-item-report { display: none }

body#login-sub,
body#login-setup {
    .headerNoAuth-item-noAuth { display: none }
    .headerNoAuth-item-auth { display: flex }
}

body#signup .headerNoAuth-signup { display: none }

body.unlock .headerNoAuth-item-noAuth { display: none }
body:not(.unlock) .headerNoAuth-item-auth,
.headerNoAuth-item-noAuth-eo { display: none }

/* mobile */
.appConfigBody-is-mobile .headerNoAuth-item-report { display: none }
.appConfigBody-is-mobile .headerNoAuth-item-signup-button {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 9rem;
}
