:root,
.ui-standard {
    --primary: #767dff;
    --primary-contrast: #191927;

    --signal-danger: #ff6464;
    --signal-danger-contrast: #ffffff;
    --signal-warning: #ff7a00;
    --signal-success: #6ac06b;
    --signal-info: #767dff;

    --text-norm: #191c32;
    --text-weak: #535964;
    --text-hint: #9395a4;
    --text-disabled: #ced0de;
    --text-invert: #ffffff;

    --border-weak: #f3f5f6;
    --border-norm: #e6e8ec;
    --border-strong: #e2e2e2;

    --background-norm: #f3f5f6;
    --background-weak: #ffffff;
    --background-strong: #e6e8ec;
    --background-invert: #191927;

    --interaction-norm: #767dff;
    --interaction-norm-contrast: var(--text-invert);

    --interaction-weak: #E6E8EC;
    --interaction-weak-contrast: #191927;

    --interaction-default: transparent;
    --interaction-default-hover: rgb(132 142 163 / 0.2);
    --interaction-default-active: rgb(99 109 127 / 0.2);

    --shadow-norm-opacity: 0.26;
    --shadow-raised-opacity: 0.22;
    --shadow-lifted-opacity: 0.16;

    --backdrop-norm: rgb(25 28 50 / 0.4);

    --bg-overlay: #e2e2e277;

    --field-background-color: var(--background-weak);
    --field-hover-background-color: var(--background-weak);
    --field-focus-background-color: var(--background-weak);
    --field-norm: #e6e8ec;
    --field-hover: #e2e2e2;
    --field-disabled: var(--text-disabled);

    --font-weight-weak: 400;
    --font-weight-normal: 500;

    --focus-outline: var(--interaction-norm-major-2);
    --focus-ring: var(--interaction-norm-minor-1);

    --button-darker-default-background-color: #191927;
    --button-darker-hover-background-color: var(--interaction-norm-major-3);
    --button-darker-active-background-color: var(--interaction-norm-minor-1);

    --button-lighter-default-background-color: var(--background-weak);
    --button-lighter-hover-background-color: var(--interaction-weak);
    --button-lighter-active-background-color: var(--interaction-weak-minor-2);
}
