@import '~@proton/pass/styles/common';
@import '~@proton/pass/styles/extension';

body {
	background: transparent;
}

#root {
	block-size: 100%;
}

.item-icon {
	background-color: rgba(#6d4aff, 0.16);
	padding: em(4);
	block-size: em(24);
	inline-size: em(24);
	border-radius: var(--border-radius-md);
}
