@import '~@proton/styles/scss/lib';

.selector-prefix-input {
	.input-adornment {
		color: var(--text-norm);
		margin-inline: 0;

		.input-element {
			border-radius: 0;
			padding-inline-start: rem(12) !important;
		}

		// we want the selector dropdown to take exactly half of the width
		&:first-child {
			flex: 0 0 50%;
		}

		&:last-child {
			border: none !important;
		}
	}
}
