@import '~@proton/styles/scss/lib';

:root {
	--item-checkbox-background-color: var(--background-strong);
	--item-checkbox-icon-text-color: inherit;
}

.recipient-color-0 {
	--item-checkbox-background-color: #2e8378;
}

.recipient-color-1 {
	--item-checkbox-background-color: #34a48a;
}

.recipient-color-2 {
	--item-checkbox-background-color: #52cd96;
}

.recipient-color-3 {
	--item-checkbox-background-color: #51be50;
}

.recipient-color-4 {
	--item-checkbox-background-color: #3f8b8e;
}

.recipient-color-5 {
	--item-checkbox-background-color: #764ac4;
}

.recipient-color-6 {
	--item-checkbox-background-color: #9e66fc;
}

.recipient-color-7 {
	--item-checkbox-background-color: #9c89ff;
}

.recipient-color-8 {
	--item-checkbox-background-color: #a1439f;
}

.recipient-color-9 {
	--item-checkbox-background-color: #7b3185;
}

.recipient-color-10 {
	--item-checkbox-background-color: #495ea9;
}

.recipient-color-11 {
	--item-checkbox-background-color: #4e7abb;
}

.recipient-color-12 {
	--item-checkbox-background-color: #4989ff;
}

.recipient-color-13 {
	--item-checkbox-background-color: #3fb0d9;
}

.recipient-color-14 {
	--item-checkbox-background-color: #4f66df;
}

.item-checkbox {
	& + .item-icon {
		border: 0;
	}

	// hidden fake check by default
	& + .item-icon > .item-icon-fakecheck {
		display: none;
	}

	@supports not selector(:focus-visible) {
		&:focus + .item-icon {
			box-shadow: 0 0 0 #{$focus-ring-size} var(--focus-ring);
		}
	}

	@supports selector(:focus-visible) {
		&:focus-visible + .item-icon {
			box-shadow: 0 0 0 #{$focus-ring-size} var(--focus-ring);
		}
	}

	&-label {
		// increase click area by default
		margin-block: -1em;
		padding-block: 1em;
		margin-inline-start: -1em;
		padding-inline-start: 1em;

		.item-icon {
			background-color: var(--item-checkbox-background-color);
			color: var(--item-checkbox-icon-text-color);

			&[class*='recipient-color-'] {
				&:not(:has(.item-sender-image)) {
					color: white;
				}

				// if we have a sender image, we need to reset the background color and text color to default ones
				&:has(.item-sender-image) {
					--item-checkbox-background-color: var(--background-strong);
					--item-checkbox-icon-text-color: inherit;
				}
			}
		}
	}

	// hover state of checkbox
	&:hover + .item-icon,
	& + .item-icon:hover {
		& > .item-abbr {
			display: none;
		}

		& > .item-icon-fakecheck {
			display: flex;
			transform: scale(1);
		}
	}

	// checked state
	&:checked + .item-icon {
		background-color: var(--interaction-norm);

		& > .item-abbr {
			display: none;
		}

		& > .item-icon-fakecheck {
			display: flex;
			animation: anime-conversation-icon-in easing(ease-out-quint) 0.15s;
		}

		@keyframes anime-conversation-icon-in {
			0% {
				transform: scale(0);
			}

			100% {
				transform: scale(1);
			}
		}

		.item-icon-fakecheck-icon {
			fill: var(--interaction-norm-contrast);
		}
	}
}

.item-icon:not([class*='recipient-color-']),
.item-icon-compact:hover {
	.unread & {
		background-color: var(--email-item-unread-icon-background-color);
		color: var(--email-item-unread-icon-text-color);
	}

	.read & {
		background-color: var(--email-item-read-icon-background-color);
		color: var(--email-item-read-icon-text-color);
	}

	.item-is-selected & {
		background-color: var(--email-item-selected-icon-background-color);
		color: var(--email-item-selected-icon-text-color);
	}
}

.item-icon-compact {
	inline-size: rem($conversation-icon-size);
	block-size: rem($conversation-icon-size);
	border-radius: 50%;
	font-size: rem(12);
	transition: background-color 0.25s ease-out;

	.item-container-column & {
		margin-block-start: em(-5); // to align with first line
	}

	.item-container-row & {
		margin-block: auto;
	}

	.item-container--row & {
		margin-inline-start: rem(-1);
		margin-block: auto;
	}

	.item-container--column & {
		margin-inline-start: rem(-2);
		margin-block: rem(-3);
	}

	// for allowing hovering larger than fake circle
	&::after {
		content: '';
		position: absolute;
		inset-block: rem(-2);
		inset-inline: rem(-6);
	}

	&::before {
		content: '';
		position: absolute;
		inset-block: em(-6) em(-12);
		inset-inline: em(-12);
		z-index: 1;
	}

	.checkbox-fakecheck {
		margin: auto;
	}
}
