<div class="pm_modal {{ctrl.class}} domains" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.close()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <domains-menu-step></domains-menu-step>
                <h4 class="modal-title">3. <span translate translate-context="Title">Addresses</span> (<em translate-context="Info"  translate >Required</em>)</h4>
            </div>
            <div class="modal-body pm_form">
                <p translate-context="Info" translate >Please add addresses to send and receive email with this domain</p>
                <button
                    ng-click="ctrl.addAddress()"
                    class="pm_button primary"
                    translate-context="Action"
                    translate-comment="button"
                    translate>Add Address</button>
                <button
                    ng-click="ctrl.addMember()"
                    ng-show="ctrl.showMember"
                    class="pm_button"
                    translate-context="Action"
                    translate-comment="button"
                    translate>Add user</button>
                <div ng-if="ctrl.domain.Addresses.length > 0">
                    <p><strong translate translate-context="Title" translate-comment="added addesses table label / heading">Domain addresses</strong></p>
                    <div class="pm_table">
                        <table class="pm_form fixedLayout bordered">
                            <thead>
                                <tr>
                                    <th scope="col" translate translate-context="Title" translate-comment="table heading">User</th>
                                    <th scope="col" translate translate-context="Title" translate-comment="table heading">Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="address in ctrl.domain.Addresses" ng-class="{'disabled': address.Status === 0}">
                                    <td ng-bind="address.Email"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer clearfix">
            <button type="button" class="pm_button primary pull-right" ng-click="ctrl.next()" ng-show="ctrl.domain.State > 0" translate translate-context="Action">Next</button>
            <button type="button" class="pm_button" ng-click="ctrl.close()"  translate translate-context="Action">Close</button>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
