<div class="pm_modal {{ctrl.class}} domains" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.close()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <domains-menu-step></domains-menu-step>
                <span ng-show="ctrl.domain.DmarcState === 0 || ctrl.domain.DmarcState === 1 || ctrl.domain.DmarcState === 2" class="pull-right pm_badge error" translate  translate-context="DMARC configuration status badge"  translate-comment="DMARC status badge">Not set</span>
                <span ng-show="ctrl.domain.DmarcState === 3" class="pull-right pm_badge success" translate  translate-comment="DMARC status badge"  translate-context="DMARC configuration status badge">Set</span>
                <h4 class="modal-title">7. DMARC <em translate  translate-comment="DMARC status badge" translate-context="DMARC configuration status badge" >Optional</em><em>, </em><em translate  translate-context="DMARC configuration status badge"  translate-comment="DMARC status badge">advanced</em></h4>
            </div>
            <div class="modal-body pm_form">
                <p><span translate translate-context="Info">If you have set both SPF and DKIM, DMARC allows you to specify how other email services should deliver email for your domain if both SPF and DKIM checks have failed. This can make it harder for spammers pretending to be you but may also cause delivery issues if not done properly. Feel free to ignore and skip DMARC unless you really want strict policies such as <strong>p=quarantine</strong> or <strong>p=reject</strong>.</span> <a target="_blank" href="https://protonmail.com/support/knowledge-base/anti-spoofing/" translate translate-context="Action">Learn more</a></p>
                <p translate translate-context="Info">Here is a basic DMARC record that does nothing except email you reports.</p>
                <div class="pm_table">
                    <table class="record">
                        <tr>
                            <th scope="col" style="width:3rem" translate translate-context="Title"  translate-context="table heading">Type</th>
                            <th scope="col" style="width:6.5rem" translate translate-context="Title"  translate-context="table heading">Host name</th>
                            <th scope="col" style="width: 12rem" translate translate-context="Title"  translate-context="table heading">Value / Data / Points to</th>
                        </tr>
                        <tr>
                            <td><code>TXT</code></td>
                            <td><code>_dmarc</code></td>
                            <td><code>v=DMARC1; p=none; rua=mailto:address@yourdomain.com</code></td>
                        </tr>
                    </table>
                </div>

                <p class="alert alert-info"><strong>p=none</strong> has no effect on email delivery.</p>
                <p class="alert alert-info"><strong>address@yourdomain.com</strong> is where you will receive DMARC reports from other email services</p>
            </div>
        </div>
        <div class="modal-footer clearfix">
            <button type="button" class="pm_button modal-footer-button" ng-click="ctrl.close()" translate translate-context="Action">Close</button>
            <button type="button" class="pm_button primary modal-footer-button" ng-click="ctrl.verify()" translate translate-context="Action">Finish</button>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
