:root,
.ui-standard {
    --primary: #7777f8;

    --signal-danger: #f08fa4;
    --signal-warning: #ffb84d;
    --signal-success: #4ab89a;
    --signal-info: #4ac0ff;

    --text-norm: #ffffff;
    --text-weak: #bfb9d8;
    --text-hint: #50505b;
    --text-disabled: #50505b;
    --text-invert: #191927;

    --field-norm: rgb(255 255 255 / 0.04);
    --field-disabled: #4c4c65;

    --optional-field-placeholder-color: var(--text-weak);
    --optional-input-background-color: #1c1c2c;

    --border-norm: #7a7aad;
    --border-weak: #38384c;

    --background-norm: #1f1f31;
    --background-weak: #282839;
    --background-strong: #191926;
    --background-invert: white;

    --interaction-norm: #b6b6ff;
    --interaction-weak: #302d45;

    --interaction-default: transparent;
    --interaction-default-hover: rgb(255 255 255 / 0.04);
    --interaction-default-active: rgb(255 255 255 / 0.08);

    --shadow-norm-opacity: 0.32;
    --shadow-raised-opacity: 0.35;
    --shadow-lifted-opacity: 0.4;

    --backdrop-norm: rgb(0 0 0 / 0.5);

    --optional-field-placeholder-color: var(--text-weak);

    --focus-outline: var(--interaction-norm-major-2);
    --focus-ring: var(--interaction-norm-minor-1);

    --search-field-focus-background: #0e0e0e;

    /* Vault colors */
    --vault-unspecified: 140 140 147;
    --vault-custom: 167 121 255;
    --vault-heliotrope: 167 121 255;
    --vault-mauvelous: 242 146 146;
    --vault-marigold-yellow: 247 215 117;
    --vault-de-york: 145 199 153;
    --vault-jordy-blue: 146 179 242;
    --vault-lavender-magenta: 235 141 214;
    --vault-chestnut-rose: 205 90 111;
    --vault-porsche: 228 163 103;
    --vault-mercury: 230 230 230;
    --vault-water-leaf: 158 226 230;

    --pass-box-shadow: rgb(0 0 0 / 0.3);
    --pass-content-box-shadow: rgb(14 14 14 / 0.8);
    --pass-scroll-color: rgb(14 14 14 / 0.35);
    --pass-loby-background: radial-gradient(
            61.86% 61.86% at 50% 0%,
            rgb(255 255 255 / 0.16) 0%,
            rgb(255 255 255 / 0) 100%
        ),
        #191927;
    --pass-scroll-gradient-start: linear-gradient(180deg, var(--pass-scroll-color), transparent);
    --pass-scroll-gradient-end: linear-gradient(0deg, var(--pass-scroll-color), transparent);
}

/* Safari tints */
@supports (-webkit-hyphens: none) {
    :root,
    .ui-standard {
        --optional-selection-background-color: rgba(119, 119, 248, 0.99);
    }
}
