:root,
.ui-standard {
    --primary: #7777f8;

    --signal-danger: #f08fa4;
    --signal-warning: #ffb84d;
    --signal-success: #4ab89a;
    --signal-info: #4ac0ff;

    --text-norm: #ffffff;
    --text-weak: #bfb9d8;
    --text-hint: #50505b;
    --text-disabled: #50505b;
    --text-invert: #191927;

    --field-norm: rgb(255 255 255 / 0.04);
    --field-disabled: #4c4c65;

    --optional-field-placeholder-color: var(--text-weak);
    --optional-input-background-color: #1c1c2c;

    --border-norm: #38384c;
    --border-weak: rgb(255 255 255 / 0.4);

    --background-norm: #1f1f31;
    --background-weak: #282839;
    --background-strong: #191926;
    --background-invert: white;

    --interaction-norm: #b6b6ff;
    --interaction-weak: #302d45;

    --interaction-default: transparent;
    --interaction-default-hover: rgb(255 255 255 / 0.04);
    --interaction-default-active: rgb(255 255 255 / 0.08);

    --shadow-norm-opacity: 0.32;
    --shadow-raised-opacity: 0.35;
    --shadow-lifted-opacity: 0.4;

    --backdrop-norm: rgb(0 0 0 / 0.5);

    --optional-field-placeholder-color: var(--text-weak);

    --focus-outline: var(--interaction-norm-major-2);
    --focus-ring: var(--interaction-norm-minor-1);

    --search-field-focus-background: #0e0e0e;
}

/* Safari tints */
@supports (-webkit-hyphens: none) {
    :root,
    .ui-standard {
        --optional-selection-background-color: rgba(119, 119, 248, 0.99);
    }
}
