@import '../../../../shared/styles/common';

body {
	background: transparent;
}

.item-icon {
	background-color: rgba(#6d4aff, 0.16);
	padding: em(4);
	block-size: em(24);
	inline-size: em(24);
	border-radius: var(--border-radius-md);
}
