<div class="autoresponder-container">
<section class="pm_form" ng-if="!mock">
    <p class="alert alert-info" translate-context="Info" translate>Automatic replies can respond automatically to incoming messages (such as when you are on vacation and can't respond).</p>
</section>
<form name="autoresponderForm" novalidate>
    <div class="row pm_grid">
        <autoresponder-time-section
            data-mock="{{ ::mock }}"
            data-form="autoresponderForm"></autoresponder-time-section>
        <section class="pm_form col-1-2">
            <div class="clearfix" ng-if="model.isEnabled">
                <div class="col-1-1"></div>
            </div>
            <div class="clearfix" ng-if="model.isEnabled">
                <div class="col-1-4">
                    <label for="autoresponder-message" translate-context="Label" translate>Response</label>
                </div>
                <div class="col-3-4">
                    <autoresponder-message data-message="model.message" data-disabled="{{ ::mock }}"></autoresponder-message>
                </div>
            </div>
        </section>
    </div>

    <button class="pm_button primary" id="autoresponder-save" translate ng-disabled="!isValid() || mock || submitting" type="submit">Save</button>
    <a href="https://protonmail.com/support/knowledge-base/autoresponder/" target="_blank" class="pm_button link" translate-context="Link" translate>Learn more</a>
</form>
</div>
