<form
    novalidate
    data-squire-popover
    data-action="makeLink"
    autocomplete="off"
    name="addLinkPopover"
    class="makeLink addLinkPopover-container addLinkPopover-hidden pm_form">


    <fieldset class="addLinkPopover-panel">
        <legend class="addLinkPopover-legend" translate-context="Composer, add Link popover" translate>Edit the link</legend>

        <div class="addLinkPopover-field row">
            <label for="labelLink" class="addLinkPopover-label" translate-context="Composer, add Link popover" translate>Text to display</label>
            <input  name="labelLink" id="labelLink" class="addLinkPopover-input">
        </div>

        <div class="addLinkPopover-field row">
            <label for="labelLink" class="addLinkPopover-label" translate-context="Composer, add Link popover" translate>URL link</label>
            <input
                name="urlLink"
                id="urlLink"
                placeholder-translate="Link URL"
                placeholder-translate-context="Composer, add Link popover"
                class="addLinkPopover-input">
        </div>
    </fieldset>

    <footer class="addLinkPopover-footer">
        <button
            class="addLinkPopover-btn-remove"
            name="remove"
            type="reset"
            translate-context="Action"
            translate>Remove link</button>

        <button
            class="addLinkPopover-btn-edit"
            name="update"
            translate-context="Action"
            translate>Update link</button>
        <button
            class="addLinkPopover-btn-new"
            class="btn primary"
            name="add"
            translate>Insert link</button>
    </footer>
</form>
