@import '~@proton/styles/scss/lib';

.transfer-modal {
	background-color: white;
	border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;

	&--failed {
		.transfer-modal-header {
			background-color: #fff1f4;
		}

		.transfer-modal-content {
			border-color: var(--signal-danger);
		}
	}

	&--canceled {
		.transfer-modal-header {
			background-color: var(--background-weak);
		}

		.transfer-modal-content {
			border-color: var(--border-norm);
		}
	}
}

.transfer-modal-header {
	background-color: #f4f1ff;
}

.transfer-modal-content {
	border-block-start: 1px solid var(--primary);
	max-block-size: 400px;

	&--minimized {
		max-block-size: 0;
		border-block-start: 0;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.spinner-circle {
	animation: rotate 4s linear infinite;
	transform-origin: center;
}
