.Preview-row + .Preview-row {
    margin-top: 4em;
}

.Preview-label {
    padding-top: 0;
    text-transform: uppercase;
}

.Preview-condition-value, .Preview-action-value {
    position: relative;
    padding: .2em .5em;
    background: #eee;
}

.Preview-condition-value:not(:first-of-type)::before {
    content: attr(data-operator);
    position: absolute;
    left: -1.5em;
}

.Preview-condition-value + .Preview-condition-value {
    margin-left: 2em;
}
.Preview-action-value + .Preview-action-value { margin-left: 1rem }
