.aside-link {
	border-radius: 50%;
	width: 32px;
	height: 32px;
	padding: 7px;
	background: var(--interaction-weak);
	color: var(--text-norm);

	&:hover,
	&:focus {
		background: var(--interaction-weak-hover);
		color: var(--primary);
	}

	&:active,
	&[aria-current='true'] {
		background: var(--interaction-weak-active);
		color: var(--primary);
	}

	&-icon {
		width: 17px;
		height: 17px;
		fill: currentColor;
	}
}
