.apps-dropdown {
	&-button {
		@extend .interactive;

		border-radius: var(--border-radius-md);
		border: 1px solid transparent;
		margin-inline-end: rem(-4);
		inline-size: rem(36);
		block-size: rem(36);
		color: var(--text-weak);

		&:hover {
			color: var(--text-norm);
		}
	}
}
