.app-infos {
	&-fake-meter {
		block-size: em(4);
	}

	&-storage,
	&-version {
		color: var(--text-weak);
	}

	a#{&}-storage,
	&-version {
		&:hover,
		&:focus {
			color: var(--text-norm);
		}
	}

	// If storage is displayed, hide app name
	&-storage + &-version &-name {
		@extend .sr-only;
	}
}
