$border-width: 2px !default;

[class*='badge-label'] {
	@extend .text-uppercase;
	@extend .inline-flex;
	font-size: rem(11); // to be sure this is the same height everywhere
	padding: 0 em(2) em(1);
	line-height: 1;
	border-radius: $global-border-radius;
	border-width: $border-width;
	border-style: solid;
	color: white;
}

.badge-label--success {
	@extend .bg-global-success;
	border-color: $pm-global-success;
}

.badge-label--blue {
	@extend .bg-pm-blue;
	border-color: $pm-blue;
}

.badge-label--green {
	@extend .bg-pv-green;
	border-color: $pv-green;
}

@if ($pm-primary==$pm-blue) {
	.badge-label--primary,
	.badge-label {
		@extend .bg-pm-blue;
		border-color: $pm-blue;
	}
} @else {
	.badge-label--primary,
	.badge-label {
		@extend .bg-pv-green;
		border-color: $pv-green;
	}
}

.badge-label--grey {
	@extend .bg-global-grey;
	border-color: $pm-global-grey;
}

.badge-label--greylight {
	background: var(--bordercolor-input, $pm-global-muted);
	border-color: var(--bordercolor-input, $pm-global-muted);
	color: var(--color-main-area, $black);
}

.badge-label--warning {
	@extend .bg-global-attention;
	border-color: $pm-global-attention;
	color: $black;
}

.badge-label--error {
	@extend .bg-global-warning;
	border-color: $pm-global-warning;
}
