.breadcrumb {
	&-container {
		@extend .bordered-container;
	}

	&-item:not(:last-of-type)::after {
		content: "";
		display: inline-block;
		width: 1.6rem;
		height: 1.6rem;
		background: transparent
			url("#{$path-images}sprite-for-css-only.svg#css-greater") 0 0
			no-repeat;
		background-size: 1.4rem;
		position: relative;
		top: 6px;
		opacity: 0.3;
	}

	@if $rtl-option==true {
		[dir="rtl"] &-item:not(:last-of-type)::after {
			background-image: url("#{$path-images}sprite-for-css-only.svg#css-lesser");
		}
	}

	&-button {
		padding: 0.4em;
		opacity: 0.3;
		color: inherit;

		&[disabled][aria-current="step"] {
			font-weight: bold;
			opacity: 1;
			color: inherit;
		}
	}
}
