.circle-loader {
	--looping-percent: 60;

	display: inline-block;
	inline-size: 1em;
	block-size: 1em;
	transform-origin: 50%;
	font-size: 1em;
	vertical-align: middle;

	&-track,
	&-circle {
		fill: none;
		stroke-width: var(--stroke-width, 2);
		stroke-linecap: round;
		stroke: currentColor;
	}

	&-track {
		opacity: 0.2;
	}

	&-circle {
		--looping-length: calc((var(--looping-percent) * var(--total-length)) / 100);
		stroke-dasharray: var(--looping-length), calc(var(--total-length) - var(--looping-length));
		animation: anime-loader-stroke 1s linear infinite;

		@keyframes anime-loader-stroke {
			from {
				stroke-dashoffset: var(--total-length);
			}
			to {
				stroke-dashoffset: 0;
			}
		}
	}

	/*
	&.is-small {
		Small is the default
	}
	*/
	&.is-medium {
		--stroke-width: 1.5;
		font-size: em(32);
	}

	&.is-large {
		--stroke-width: 1;
		font-size: em(48);
	}
}
