// be careful to udpate SVG if you want to update this value
$stroke-width: 3px !default;

// this component is used for VPN
// and for the moment on Angular/React sidebar
.circle-chart {
	&-background {
		stroke: var(--color-main-area, $pm-global-grey);
		opacity: 0.2;
		stroke-width: $stroke-width;
		fill: transparent;

		&--bigger & {
			stroke: var(--bgcolor-input, #{rgba($pm-global-grey, 0.2)});
			opacity: 0.4;
		}
	}

	&-circle {
		stroke: $pm-global-success;
		stroke-width: $stroke-width;
		fill: transparent;
		animation: anime-circle-chart-fill 2s reverse;
		transform: rotate(-90deg);
		transform-origin: center;
	}

	&-percent {
		fill: var(--color-main-area, #{rgba($pm-global-grey, 0.5)});
	}

	&-info {
		color: var(--color-standard-text, $pm-global-light);
	}

	.circle-bar--medium &-circle {
		stroke: $pm-global-attention;
	}

	.circle-bar--full &-circle {
		stroke: $pm-global-warning;
	}
}

@keyframes anime-circle-chart-fill {
	to {
		stroke-dasharray: 0 100;
	}
}
