.dropdown {
	&:not(#{&}--no-max-size) {
		--min-width: 10em;
		--max-width: 20em;
		--max-height: 20em;
	}

	position: fixed;
	z-index: 666;
	color: var(--text-norm);
	animation: 0.15s ease-out both;

	@include respond-to($breakpoint-small, 'max') {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		padding: 15% 25%;
		overflow: hidden;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		background-color: var(--backdrop-norm);
		animation-name: anime-dropdown-in-small;

		@keyframes anime-dropdown-in-small {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}

		// Out animation
		&.is-dropdown-out {
			animation-name: anime-dropdown-out-small;

			@keyframes anime-dropdown-out-small {
				from {
					opacity: 1;
				}
				to {
					opacity: 0;
				}
			}
		}
	}

	@include respond-to($breakpoint-tiny, 'max') {
		padding: 15%;
	}

	@include respond-to($breakpoint-small, 'min') {
		top: calc(var(--top) * 1px);
		left: calc(var(--left) * 1px);
		transform: scale(1);
		border-radius: $global-border-radius;
		box-shadow: var(--shadow-lifted);
		background: var(--background-norm);
		animation-name: anime-dropdown-in-large;

		@keyframes anime-dropdown-in-large {
			from {
				transform: scale(0.75);
				opacity: 0;
			}
			to {
				transform: scale(1);
				opacity: 1;
			}
		}

		// Add border in a layer under the dropdown in order to deal with arrow easily
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -2;
			margin: -1px;
			border: 1px solid var(--border-norm);
			border-radius: $global-border-radius;
			pointer-events: none;
		}

		// Out animation
		&.is-dropdown-out {
			animation-name: anime-dropdown-out-large;

			@keyframes anime-dropdown-out-large {
				from {
					transform: scale(1);
					opacity: 1;
				}
				to {
					transform: scale(0.75);
					opacity: 0;
				}
			}
		}

		// Transform origins regarding dropdown position
		@each $position,
			$origin
				in (
					(top, bottom center),
					(top-left, bottom left),
					(top-right, bottom right),
					(bottom, top center),
					(bottom-left, top left),
					(bottom-right, top right),
					(left, right center),
					(left-bottom, right bottom),
					(left-top, right top),
					(right, left center),
					(right-bottom, left bottom),
					(right-top, left top)
				)
		{
			&--#{$position} {
				transform-origin: $origin;
			}
		}
	}

	/* Backdrop button, meant to override 'autoClose' option on mobile */
	&-backdrop {
		@include respond-to($breakpoint-small, 'max') {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 0;
			display: block;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			border: none;
			outline: none;
			background: none;
		}

		@include respond-to($breakpoint-small, 'min') {
			display: none;
		}
	}

	/* Scrollable insides of the dropdown */
	&-content {
		height: calc(var(--height) * 1px);
		min-height: 1em;
		overflow: auto;
		border-radius: $global-border-radius;
		background-color: var(--background-norm);
		background-image: radial-gradient(
				farthest-side at 50% 0,
				var(--backdrop-norm),
				transparent
			),
			radial-gradient(
				farthest-side at 50% 100%,
				var(--backdrop-norm),
				transparent
			);
		background-position: 50% 0, 0 100%;
		background-size: calc(100% - 2rem) 0.3rem;
		background-repeat: no-repeat;

		@include respond-to($breakpoint-small, 'max') {
			position: relative;
			z-index: 1;
			width: 100%;
			box-shadow: var(--shadow-lifted);
			transition: transform 0.1s ease-out;
		}

		@include respond-to($breakpoint-small, 'min') {
			width: calc(var(--width) * 1px);
			min-width: var(--min-width, 1.5em);
			max-width: var(--max-width, unset);
			max-height: var(--max-height, unset);
		}

		&::before,
		&::after {
			content: '';
			position: relative;
			z-index: 1;
			display: block;
			height: 0.3rem;
			flex: 0 0 0.3rem;
			background: var(--background-norm);
		}
	}

	@include respond-to($breakpoint-small, 'max') {
		&-content {
			animation: anime-dropdown-content-scale-in 0.15s ease-out both;

			@keyframes anime-dropdown-content-scale-in {
				from {
					transform: scale(0.8);
				}
				to {
					transform: scale(1);
				}
			}
		}

		&.is-dropdown-out &-content {
			animation-name: anime-dropdown-content-scale-out;

			@keyframes anime-dropdown-content-scale-out {
				from {
					transform: scale(1);
				}
				to {
					transform: scale(0.8);
				}
			}
		}
	}

	&-item {
		&-button,
		&-link {
			@extend .interactive;

			&,
			&:hover,
			&:focus,
			&:active {
				color: var(--text-norm);
				text-decoration: none;
			}

			&.active {
				background-color: var(--interaction-default-hover);
			}
		}

		&--delete {
			&,
			&:hover,
			&:focus {
				.dropdown-item-button {
					color: var(--signal-danger);
				}
			}
		}

		& [aria-current='true'],
		& &--is-selected {
			// Specificity -_-v
			&,
			&:hover,
			&:focus,
			&:active {
				background-color: var(--interaction-norm);
				color: var(--interaction-norm-contrast);
				pointer-events: none;
			}
		}
	}

	&-item-hr {
		height: 0;
		box-sizing: content-box;
		border-top: 1px solid var(--border-norm);
	}

	/* Arrow for wide screens */
	@include respond-to($breakpoint-small, 'min') {
		&:not(#{&}--no-caret)::before {
			--size: 1.5rem;
			--offset: #{2.12rem - 1.5rem}; // Pythagore powa for middle line alignement!

			content: '';
			position: absolute;
			z-index: -1;
			width: var(--size);
			height: var(--size);
			transform: rotate(45deg);
			border: 1px solid var(--border-norm);
			background-color: var(--background-norm);
			pointer-events: none;
		}

		&--top,
		&--top-left,
		&--top-right {
			&::before {
				bottom: calc(var(--size) / -2);
			}
		}
		&--bottom,
		&--bottom-left,
		&--bottom-right {
			&::before {
				top: calc(var(--size) / -2);
			}
		}
		&--left,
		&--left-top,
		&--left-bottom {
			&::before {
				right: calc(var(--size) / -2);
			}
		}
		&--right,
		&--right-top,
		&--right-bottom {
			&::before {
				left: calc(var(--size) / -2);
			}
		}

		&--top,
		&--bottom {
			&::before {
				left: calc(50% - (var(--size) / 2));
			}
		}
		&--top-left,
		&--bottom-left {
			&::before {
				left: 1rem;
			}
		}
		&--top-right,
		&--bottom-right {
			&::before {
				right: 1rem;
			}
		}

		&--left,
		&--right {
			&::before {
				top: calc(50% - (var(--size) / 2));
			}
		}
		&--left-top,
		&--right-top {
			&::before {
				top: var(--offset);
			}
		}
		&--left-bottom,
		&--right-bottom {
			&::before {
				bottom: var(--offset);
			}
		}
	}
}
