.dropdown-logout {
	&-button {
		@extend .interactive;
		border-radius: $global-border-radius;

		// for dropdown
		.dropdown-logout-initials {
			border: 1px solid var(--text-norm);
		}

		// yes, but only on HUGE screens for looooooooooong accounts
		@include respond-to(1400, 'min') {
			max-width: 18em;
		}
	}

	&-text {
		margin-top: auto;
		margin-bottom: auto;
	}

	&-email {
		font-size: 1rem;
	}

	// used on switch account, summary section and user dropdown
	&-initials {
		&#{&} {
			// Specificity -_-v
			min-width: 2.5em;
			min-height: 2.5em;
		}
	}
}
