.dropdown {
	@include respond-to($breakpoint-small, 'min') {
		--max-height-bounds: calc(100vh - (var(--top) * 1px) - 2px);
		--max-width-bounds: calc(100vw - (var(--left) * 1px) - 2px);
	}
	// On mobile view, left and top are not used
	@include respond-to($breakpoint-small, 'max') {
		--max-height-bounds: 100vh;
		--max-width-bounds: 100vw;
	}

	&:not(#{&}--no-max-size) {
		--min-width: 10em;
		--max-width: min(20em, var(--max-width-bounds));
		--max-height: min(20em, var(--max-height-bounds));
	}

	&--no-max-size {
		--max-height: var(--max-height-bounds);
		--max-width: var(--max-width-bounds);
	}

	position: fixed;
	z-index: 666;
	color: var(--text-norm);
	animation: 0.15s ease-out both;

	@include respond-to($breakpoint-small, 'max') {
		inset: 0;
		display: flex;
		padding-block: 15%;
		padding-inline: 25%;
		overflow: hidden;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		background-color: var(--backdrop-norm);
		animation-name: anime-dropdown-in-small;

		@keyframes anime-dropdown-in-small {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}

		// Out animation
		&.is-dropdown-out {
			animation-name: anime-dropdown-out-small;

			@keyframes anime-dropdown-out-small {
				from {
					opacity: 1;
				}
				to {
					opacity: 0;
				}
			}
		}
	}

	@include respond-to($breakpoint-tiny, 'max') {
		padding: 15%;
	}

	@include respond-to($breakpoint-small, 'min') {
		inset-block-start: calc(var(--top) * 1px);
		/* stylelint-disable */
		left: calc(var(--left) * 1px); // JS provide left value only
		/* stylelint-enable */
		transform: scale(1);
		border-radius: var(--border-radius-large);
		box-shadow: var(--shadow-lifted);
		border: 1px solid var(--border-norm);
		background: var(--background-norm);
		animation-name: anime-dropdown-in-large;

		@keyframes anime-dropdown-in-large {
			from {
				transform: scale(0.75);
				opacity: 0;
			}
			to {
				transform: scale(1);
				opacity: 1;
			}
		}

		// Out animation
		&.is-dropdown-out {
			animation-name: anime-dropdown-out-large;

			@keyframes anime-dropdown-out-large {
				from {
					transform: scale(1);
					opacity: 1;
				}
				to {
					transform: scale(0.75);
					opacity: 0;
				}
			}
		}

		@include transform-origins;
	}

	/* Backdrop button, meant to override 'autoClose' option on mobile */
	&-backdrop {
		@include respond-to($breakpoint-small, 'max') {
			position: absolute;
			inset: 0;
			z-index: 0;
			display: block;
			inline-size: 100%;
			block-size: 100%;
			margin: 0;
			padding: 0;
			border: none;
			outline: none;
			background: none;
		}

		@include respond-to($breakpoint-small, 'min') {
			display: none;
		}
	}

	/* Scrollable insides of the dropdown */
	&-content {
		block-size: calc(var(--height) * 1px);
		// The min size can't be greater than the remaining space when the dropdown is positioned
		min-inline-size: min(var(--min-width, 1.5em), var(--max-width-bounds));
		min-block-size: min(var(--min-height, 1em), var(--max-height-bounds));
		overflow: auto;
		border-radius: var(--border-radius-large);
		background-color: var(--background-norm);
		background-image: radial-gradient(farthest-side at 50% 0, var(--backdrop-norm), transparent),
			radial-gradient(farthest-side at 50% 100%, var(--backdrop-norm), transparent);
		background-position: 50% 0, 0 100%;
		background-size: calc(100% - #{rem(20)}) rem(3);
		background-repeat: no-repeat;

		@include respond-to($breakpoint-small, 'max') {
			position: relative;
			z-index: 1;
			inline-size: 100%;
			box-shadow: var(--shadow-lifted);
			transition: transform 0.1s ease-out;
		}

		@include respond-to($breakpoint-small, 'min') {
			inline-size: calc(var(--width) * 1px);
			max-inline-size: var(--max-width, unset);
			max-block-size: var(--max-height, unset);
		}

		&::before,
		&::after {
			content: '';
			position: relative;
			z-index: 1;
			display: block;
			block-size: rem(3);
			flex: 0 0 rem(3);
			background: var(--background-norm);
		}
	}

	@include respond-to($breakpoint-small, 'max') {
		&-content {
			animation: anime-dropdown-content-scale-in 0.15s ease-out both;

			@keyframes anime-dropdown-content-scale-in {
				from {
					transform: scale(0.8);
				}
				to {
					transform: scale(1);
				}
			}
		}

		&.is-dropdown-out &-content {
			animation-name: anime-dropdown-content-scale-out;

			@keyframes anime-dropdown-content-scale-out {
				from {
					transform: scale(1);
				}
				to {
					transform: scale(0.8);
				}
			}
		}
	}

	&-item {
		&-button,
		&-link {
			@extend .interactive;

			&,
			&:hover,
			&:focus,
			&:active {
				color: var(--text-norm);
				text-decoration: none;
			}

			&.active {
				background-color: var(--interaction-default-hover);
			}
		}

		&--delete {
			&,
			&:hover,
			&:focus {
				.dropdown-item-button {
					color: var(--signal-danger);
				}
			}
		}

		& [aria-current='true'],
		& &--is-selected {
			// Specificity -_-v
			&,
			&:hover,
			&:focus,
			&:active {
				background-color: var(--interaction-norm);
				color: var(--interaction-norm-contrast);
				pointer-events: none;
			}
		}

		// Dropdown item container which contains several elements
		// Created for specific use case in the mail composer
		&-container {
			@extend .interactive;

			&,
			&:hover,
			&:focus,
			&:active {
				color: var(--text-norm);
				text-decoration: none;
			}

			&.active {
				background-color: var(--interaction-default-hover);
			}

			&.dropdown-item--is-selected {
				&,
				&:hover,
				&:focus,
				&:active {
					pointer-events: all;
				}
			}

			.dropdown-item-button {
				background-color: transparent;

				&:hover,
				&:focus,
				&:active {
					background-color: transparent;
				}
			}
		}
	}

	&-item-hr {
		block-size: 0;
		box-sizing: content-box;
		border-block-start: 1px solid var(--border-norm);
	}

	&-search {
		position: sticky;
		inset-block-start: 0;
		padding: 1rem;
		background-color: var(--background-norm);
		box-shadow: var(--shadow-norm);

		&-no-result {
			color: var(--text-weak);
			padding-block: rem(40);
			padding-inline: rem(10);
			letter-spacing: rem(0.25);
		}
	}

	&--is-searchable {
		.dropdown-content::before {
			content: none;
		}
	}
}
