.fab {
	&#{&} {
		// Specificity -_-v
		position: fixed;
		inset-block-end: 1em;
		inset-inline-end: 1.6em;
		z-index: 77;
		block-size: rem(66);
		inline-size: rem(66);
		border-radius: 50%;
		padding: 0.5em;
		box-shadow: var(--shadow-lifted);
		transition: bottom 0.5s easing(easeOutQuart);

		&--is-higher {
			inset-block-end: 4em;
		}

		&--inBackground {
			z-index: 0;
		}
	}
}
