$minicalendar-fontsize: rem(12) !default;
$minicalendar-cell-size: 2em !default;

.minicalendar {
	font-size: $minicalendar-fontsize;
}

.minicalendar-grid--display-week-number {
	display: grid;
	grid-template-columns: rem(30) auto;
	grid-template-rows: auto;
}

.minicalendar-weekdays {
	display: grid;
	grid-template-columns: repeat(
		var(--minicalendar-weekdays-numberOfDaysInWeek, 7),
		1fr
	);
	grid-template-rows: 1fr;
	border-bottom: 1px solid var(--border-weak);
}

.minicalendar-days {
	display: grid;
	grid-template-columns: repeat(
		var(--minicalendar-days-numberOfDays, 7),
		1fr
	);
	grid-template-rows: repeat(
		var(----minicalendar-days-numberOfWeeks, 4),
		1fr
	);
	grid-gap: 1px 0px;
	user-select: none;
}

.minicalendar-day {
	@extend .interactive;

	position: relative;
	min-width: #{$minicalendar-cell-size + 0.35em};
	min-height: #{$minicalendar-cell-size + 0.35em};
	border-radius: $global-border-radius;
	color: var(--text-norm);
}

.minicalendar-weeknumbers > span {
	&:first-of-type {
		border-bottom: 1px solid var(--border-weak);
	}
	&:not(:first-of-type) {
		min-height: $minicalendar-cell-size;
	}
}
.minicalendar-weeknumbers-heading {
	display: inline-block;
	transform: scale(0.7);
}

.minicalendar-grid--display-week-number .minicalendar-day {
	min-width: $minicalendar-cell-size;
	min-height: $minicalendar-cell-size;

	&[aria-current='date']::before {
		line-height: 2;
	}
}

.minicalendar-day--selected::before {
	content: attr(data-current-day);
	speak: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	color: var(--primary-contrast);
	background: var(--primary);
	border-radius: $global-border-radius;
}

/*
.minicalendar-day[aria-current='date'][aria-pressed='true']::before {

}
*/

// fix in case of range selection in responsive view
$mini-calendar-currentDay-size: 2.5em !default;
.minicalendar-day--range.minicalendar-day[aria-current='date']::before {
	left: calc(50% - #{$mini-calendar-currentDay-size/2});
	max-width: $mini-calendar-currentDay-size;
}

.minicalendar-day[aria-pressed='true'] {
	background: var(--interaction-weak);
	color: var(--text-norm);
}

.minicalendar-day[aria-current='date'] {
	font-weight: bold;
	color: var(--primary);
}

$minicalendar-day-marker-size: 3px !default;
.minicalendar-day--marker {
	position: absolute;
	bottom: 1px;
	left: calc(50% - #{$minicalendar-day-marker-size/2});
	height: $minicalendar-day-marker-size;
	width: $minicalendar-day-marker-size;
	background-color: var(--primary);
	border-radius: $global-border-radius;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.minicalendar-day[aria-pressed='true'],
.minicalendar-day[aria-pressed='date'] {
	.minicalendar-day--marker {
		background-color: var(--primary-contrast);
	}
}

.minicalendar-day--range {
	width: 100%;
}

.minicalendar-day--range-bound {
	background: var(--primary);
}

.minicalendar-day--range[aria-pressed='true'] {
	background-color: var(--interaction-weak);

	&:not(.minicalendar-day--range-bound-begin) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	&:not(.minicalendar-day--range-bound-end) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.minicalendar-weekdays,
.minicalendar-weeknumbers,
.minicalendar-day--inactive-month {
	color: var(--text-weak);
}
