$scrollshadow-height: .5rem !default;

.scrollshadow {

	&-sticky {
		position: sticky;
		display: block;
		height: $scrollshadow-height;

		&--top {
			top: 0;
			background-image: radial-gradient(farthest-side at 50% 0, var(--bordercolor-input, #acb0bf), transparent);
		}

		&--bottom {
			bottom: 0;
			background-image: radial-gradient(farthest-side at 50% 100%, var(--bordercolor-input, #acb0bf), transparent);
		}
	}

	&-static {
		position: absolute;
		display: block;
		left: 0;
		right: 0;
		height: $scrollshadow-height;
		background: var(--bgcolor-main-area, #fff);

		&--top {
			top: 0;
		}

		&--bottom {
			bottom: 0;
		}
	}
}
