.searchbox {
	&-container {
		inline-size: $conversations-column-width;

		&:empty {
			inline-size: 0;

			// if there is no search bar, the next element (navigation) is pushed to the right (VPN/settings/etc.)
			/*
			&+.topnav-container {
				& .topnav-list {
					justify-content: flex-end;

					&>li:last-child {
						margin-inline-start: 0;
					}
				}
			}
			*/
		}

		&--reset-advanced {
			.searchbox-field[type='search'] {
				padding-inline-end: rem(62.5);
			}

			[type='reset'].searchbox-advanced-search-button {
				inset-inline-end: rem(32);
			}
		}
	}

	&-field[type='search'] {
		block-size: rem(35);
		padding-inline-start: calc(2em + #{rem(20)});
		padding-inline-end: rem(40);
		background-color: var(--searchbox-background-color);
		background-image: none;
		color: var(--searchbox-text-color);
	}

	&-search-button {
		position: absolute;
		inset-inline-start: 0;
		inset-block: 0;
		padding-block-start: 0.125em;
		padding-block-end: 0;
		border-radius: var(--border-radius-sm);
	}

	&-advanced-search-button {
		position: absolute;
		inset-inline-end: em(3);
		inset-block: em(3);
		aspect-ratio: 1;
		padding: 0;
		border-radius: var(--border-radius-sm);

		@include respond-to($breakpoint-small) {
			position: static;
		}
	}
}
