.searchbox {
	&-container {
		width: $conversations-column-width;

		&:empty {
			width: 0;

			// if there is no search bar, the next element (navigation) is pushed to the right (VPN/settings/etc.)
			/*
			&+.topnav-container {
				& .topnav-list {
					justify-content: flex-end;

					&>li:last-child {
						margin-left: 0;
					}
				}
			}
			*/
		}

		input::placeholder {
			color: var(--text-hint);
		}

		&--reset-advanced {
			.searchbox-field[type='search'] {
				padding-right: rem(62.5);
			}

			[type='reset'].searchbox-advanced-search-button {
				right: rem(27.5);
			}
		}
	}

	&-field[type='search'] {
		height: rem(40);
		padding-left: calc(2em + #{rem(20)});
		padding-right: rem(40);
		background-color: var(--searchbox-background-color, transparent);
		background-image: none;
		color: var(--searchbox-text-color, var(--text-norm));
	}

	&-search-button {
		position: absolute;
		left: 1em;
		top: 0;
		bottom: 0;

		& > &-icon {
			width: rem(22);
			height: rem(22);
		}
	}

	&-advanced-search-button {
		@extend .interactive;

		position: absolute;
		right: 0.25em;
		top: 0.5em;
		bottom: 0.5em;
		padding: 0 rem(5);
		border-radius: 50%;

		@include respond-to($breakpoint-small) {
			position: static;
		}
	}
}

@if $rtl-option==true {
	[dir='rtl'] {
		.searchbox-field[type='search'] {
			padding-right: calc(2em + #{rem(20)});
			padding-left: rem(40);
		}

		.searchbox-search-button-icon {
			@extend .mirror;
		}

		.searchbox-search-button {
			right: 1em;
			left: auto;
		}

		.searchbox-advanced-search-button {
			right: auto;
			left: 0;
		}

		.searchbox-container--reset-advanced {
			.searchbox-field[type='search'] {
				padding-right: calc(2em + #{rem(20)});
				padding-left: rem(60);
			}

			.searchbox-advanced-search-button {
				right: auto;
				left: rem(25);
			}
		}
	}
}
