@use "sass:math";

.spotlight {
	$arrow-width: 1em;

	position: fixed;
	z-index: 666;
	min-width: 10em;
	max-width: 20em;
	transform: scale(1);
	border-radius: var(--border-radius-large);
	box-shadow: var(--shadow-lifted);
	border: 1px solid var(--border-norm);
	text-align: left;
	word-break: break-word;
	animation: 0.15s ease-out both anime-spotlight-in;

	@keyframes anime-spotlight-in {
		from {
			transform: scale(0.75);
			opacity: 0;
		}
		to {
			transform: scale(1);
			opacity: 1;
		}
	}

	// Out animation
	&.is-spotlight-out {
		animation-name: anime-spotlight-out;

		@keyframes anime-spotlight-out {
			from {
				transform: scale(1);
				opacity: 1;
			}
			to {
				transform: scale(0.75);
				opacity: 0;
			}
		}
	}

	@include transform-origins;

	&-inner {
		position: relative;
		z-index: 1;
		padding: 1em 3em 1em 1.5em;
		border-radius: var(--border-radius-large);
		background-color: var(--background-norm);
	}

	// Pseudo-elements to make arrows
	&::before {
		content: '';
		position: absolute;
		z-index: 0;
		width: $arrow-width;
		height: $arrow-width;
		transform: rotate(45deg);
		border: inherit;
		background-color: var(--background-norm);
		pointer-events: none;
		speak: none;
	}

	&--top,
	&--top-left,
	&--top-right {
		&::before {
			bottom: -#{math.div($arrow-width, 2)};
		}
	}

	&--bottom,
	&--bottom-left,
	&--bottom-right {
		&::before {
			top: -#{math.div($arrow-width, 2)};
		}
	}

	&--right,
	&--right-top,
	&--right-bottom {
		&::before {
			left: -#{math.div($arrow-width, 2)};
		}
	}

	&--left,
	&--left-top,
	&--left-bottom {
		&::before {
			right: -#{math.div($arrow-width, 2)};
		}
	}

	&--top,
	&--bottom {
		&::before {
			left: calc(50% - #{math.div($arrow-width, 2)});
		}
	}

	&--top-left,
	&--bottom-left {
		&::before {
			left: max(calc(var(--arrow-offset, 0) - #{math.div($arrow-width, 2)}), 0px);
		}
	}

	&--top-right,
	&--bottom-right {
		&::before {
			right: max(calc(var(--arrow-offset, 0) - #{math.div($arrow-width, 2)}), 0px);
		}
	}

	&--left,
	&--right {
		&::before {
			top: calc(50% - #{math.div($arrow-width, 2)});
		}
	}

	&--left-top,
	&--right-top {
		&::before {
			top: max(calc(var(--arrow-offset, 0) - #{math.div($arrow-width, 2)}), 0px);
		}
	}

	&--left-bottom,
	&--right-bottom {
		&::before {
			bottom: max(calc(var(--arrow-offset, 0) - #{math.div($arrow-width, 2)}), 0px);
		}
	}

	&-close {
		position: absolute;
		top: 0.5em;
		right: 0.5em;
		z-index: 1;
	}
}
