.user-dropdown {
	&-button {
		// yes, but only on HUGE screens for looooooooooong accounts
		@include respond-to(1400, 'min') {
			max-width: 18em;
		}

		.user-initials {
			background-color: var(--interaction-default);
			transition: 0.15s easing(easeOutQuint), background-position 0s;
		}

		&:hover,
		&:focus {
			.user-initials {
				background-color: var(--interaction-default-hover);
			}
		}

		&:active,
		&.is-active,
		&[aria-expanded='true'] {
			.user-initials {
				background-color: var(--interaction-default-active);
			}
		}
	}

	&-text {
		margin-top: auto;
		margin-bottom: auto;
	}
}

// used on switch account, summary section and user dropdown
.user-initials {
	&#{&} {
		// Specificity -_-v
		min-width: 2.5em;
		min-height: 2.5em;
	}
}
