.countElementsSelected-container {
    text-align: center;
    padding-top: 250px;
    color: $text
}

.countElementsSelected-title {
    font-weight: 400;
    line-height: 3em
}

.countElementsSelected-icon {font-size: 1.5rem}
.countElementsSelected-btn-unselect {
    float: none;
    display: inline-block
}
