/* stylelint-disable */
@import '~@proton/styles/scss/proton-docs';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-rgb: 109 74 255;
}

*:focus,
*:focus-visible {
	outline-color: var(--primary-major-3);
}

input[type='number'] {
	-moz-appearance: textfield;
	appearance: textfield;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

body {
	font-size: unset;
}

.main {
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	margin-top: 0.5rem;
	margin-inline: 0.5rem;
}

.content-container > .content.flex.flex-column {
	background: var(--background-weak);
}

@media print {
	// prevent cursors and names/email to be printed
	.Lexical__cursorsContainer {
		display: none;
	}

	::-webkit-scrollbar {
		display: none !important;
	}

	* {
		scrollbar-width: none !important;
	}

	.Lexical__table {
		min-inline-size: 0;
	}
}

.dropdown-content {
	background-image: none;
}

.rowsncolumns-grid-container {
	outline: none !important;
}
.rnc-scrollbar-shim {
	border-color: hsl(var(--rnc-border));
}

/* rnc uses tailwind's `invisible` class to set the visibility
of the resizer handler to hidden, however there is an existing
`invisible` class in the proton design system that is more like
a `sr-only` class which sets the width & height both to 1px and
clips the element to a 0-sized rect. This causes the resizer
button to not be hoverable. We reset those properties here to
allow the button to be properly sized and hoverable. */
.rnc-canvas-wrapper [aria-label='Resize'] {
	width: auto;
	height: auto;
	clip: unset;
}

/* the flex and inline-flex util classes from the proton design
system also add `flex-wrap: wrap` :/ the `@media all` here is
required because those classes from the design system are also
declared inside a `@media all` */
@media all {
	.flex,
	.inline-flex {
		flex-wrap: unset;
	}
}

/* 🙃 */
input[type='checkbox'] {
	opacity: unset;
}
