/* stylelint-disable */
@import '~@proton/styles/scss/proton-docs';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-rgb: 109 74 255;
}

*:focus,
*:focus-visible {
	outline-color: var(--primary-major-3);
}

input[type='number'] {
	-moz-appearance: textfield;
	appearance: textfield;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

body {
	font-size: unset;
}

.main {
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	margin-top: 0.5rem;
	margin-inline: 0.5rem;
}

.content-container > .content.flex.flex-column {
	background: var(--background-weak);
}

@media print {
	// prevent cursors and names/email to be printed
	body .Lexical__cursorsContainer {
		display: none;
	}

	::-webkit-scrollbar {
		display: none !important;
	}

	* {
		scrollbar-width: none !important;
	}
}
