<div class="blackFriday-container">
    <header class="blackFriday-header">
        <h1 translate-context="Title" translate>Black Friday Sale</h1>
        <h2 translate-context="Title" translate>Don't miss out on limited time discounts for newcomers!</h2>
    </header>

    <div class="blackFriday-content">

        <div class="blackFridayOffers-container">
            <div class="blackFridayOffer-container" ng-repeat="offer in offers track by $id(offer)">

                <div
                    class="bf-best-offer"
                    ng-if="$index === 1">
                        <span  translate-context="Title most popular offer" translate>Most popular</span>
                    </div>

                <div class="blackFridayOffer-header">
                    <div class="bf-bubble-percent">
                        <div class="bf-bubble-percentTxt">{{ ::offer.percentage }}%<div>off</div></div>
                    </div>
                    <div class="be-headerOffer-titles">
                        <span>{{ ::offer.header.type }}</span>
                        <h5>{{ ::offer.header.title }}</h5>
                    </div>
                </div>

                <div class="blackFridayOffer-content">

                    <div class="blackFridayOffer-price-container">
                        <div class="blackFridayOffer-price-info" ng-bind-html="getPrice(offer)"></div>
                        <div class="blackFridayOffer-price-regular">
                            Regular price: <strike>{{ ::offer.price.monthlyRegular }}{{::state.perMonth}}</strike>
                        </div>
                        <div class="blackFridayOffer-price-savings">
                            {{ ::offer.savings }}
                        </div>
                        <div class="blackFridayOffer-price-billing">
                            {{ ::offer.billing }}
                        </div>
                    </div>

                    <button
                        type="button"
                        ng-disabled="state.loading"
                        class="pm_button blackFridayOffer-buy"
                        ng-class="{'primary': $index === 1}"
                        data-buy-offer="{{ $index }}"
                    >{{ ::state.buy }}</button>

                    <div>{{::offer.billingTxt}} ({{$index +1}})</div>
                </div>
            </div>
        </div>

        <span class="blackFridayCurrent">{{ ::currentPrice }}</span>
    </div>

    <footer class="blackFriday-footer">
        <currency-selector
            data-currency="{{::state.currency}}"
            data-name="blackFridayCurrency"
        ></currency-selector>

        <div class="blackFridayAfter-container">
            <span class="blackFridayAfter-item" ng-repeat="offer in offers track by $id(offer)">
                ({{$index + 1}}) {{ ::offer.afterBilling }}
            </span>
        </div>
    </footer>
</div>
