<div class="blackFridayFree-container">
    <div class="blackFridayFree-plans">
        <div class="blackFridayFree-plan blackFridayFree-mail-plan">
            <i class="blackFridayFree-tag"><span>-33%</span> <span>off</span></i>
            <h3 class="blackFridayFree-title" translate-context="Title" translate>ProtonMail Plus 2-year plan</h3>
            <black-friday-price data-amount="79" data-strike="120" data-currency="ctrl.currency"></black-friday-price>
            <p translate-context="Info" translate>ProtonMail Plus adds a number of powerful features to your secure inbox: 5GB storage, 5 extra addresses, Filters, Folders, Labels, IMAP/SMTP support (beta), use your own domain name.</p>
            <button type="button" ng-disabled="!ctrl.loaded" class="pm_button primary blackFridayFree-buy" ng-click="ctrl.buy('plus')" translate-context="Action" translate>Buy</button>
        </div>
        <div class="blackFridayFree-plan blackFridayFree-vpn-plan">
            <i class="blackFridayFree-tag"><span>-33%</span> <span>off</span></i>
            <h3 class="blackFridayFree-title" translate-context="Title" translate>ProtonVPN Plus 2-year plan</h3>
            <black-friday-price data-amount="159" data-strike="240" data-currency="ctrl.currency"></black-friday-price>
            <p translate-context="Info" translate>ProtonVPN encrypts your internet connection, ensuring your online activity stays private. 100+ servers in 14 countries. Secure core network, Tor integration, protect up to 5 devices.</p>
            <button type="button" ng-disabled="!ctrl.loaded" class="pm_button primary blackFridayFree-buy" ng-click="ctrl.buy('vpnplus')" translate-context="Action" translate>Buy</button>
        </div>
        <div class="blackFridayFree-plan blackFridayFree-mail-vpn-plan">
            <i class="blackFridayFree-tag"><span>-45%</span> <span>off</span></i>
            <h3 class="blackFridayFree-title" translate-context="Title" translate>ProtonMail + VPN Plus 2-year plan</h3>
            <black-friday-price data-amount="192" data-strike="360" data-currency="ctrl.currency"></black-friday-price>
            <p translate-context="Info" translate>The ultimate internet privacy package, combining the most popular ProtonMail and ProtonVPN plans. By buying both together with our special 2-year plan, you can save 45% off of the regular monthly price.</p>
            <button type="button" ng-disabled="!ctrl.loaded" class="pm_button primary blackFridayFree-buy" ng-click="ctrl.buy('plus+vpnplus')" translate-context="Action" translate>Buy</button>
        </div>
    </div>
    <footer class="blackFridayFree-footer">
        <button type="button" class="blackFridayFree-dropdown-currency pm_button link" dropdown translate-context="Dropdown" translate>Change currency <i class="fa fa-caret-down"></i></button>
        <ul class="pm_dropdown blackFridayFree-currencies">
            <li><button type="button" ng-click="ctrl.changeCurrency('EUR')">EUR</button></li>
            <li><button type="button" ng-click="ctrl.changeCurrency('USD')">USD</button></li>
            <li><button type="button" ng-click="ctrl.changeCurrency('CHF')">CHF</button></li>
        </ul>
        <button type="button" class="pm_button link blackFridayFree-dashboard" ng-click="ctrl.dashboard()" translate-context="Action" translate>For custom 2-year plans, click here</button>
    </footer>
</div>