<dialog ng-class="ctrl.class" class="blackFridayModal">

    <header class="pm-modalHeader">
        <button
            type="button"
            class="pm-modalClose"
            ng-click="ctrl.cancel()"
            ng-if="!ctrl.hideClose"
            title-translate="Close"
            title-translate-context="Action">
            <icon data-name="close" class="pm-modalClose-icon"></icon>
            <span class="sr-only" translate translate-context="Action">Close</span>
        </button>
    </header>

    <black-friday></black-friday>
</dialog>
