<div class="blackFridayPaid-container">
    <img class="blackFridayPaid-banner notMobile" src="/assets/sale/blackFriday.jpg" alt="Promo banner">
    <img class="blackFridayPaid-banner mobileOnly" src="/assets/sale/blackFriday-mobile.jpg" alt="Promo banner">
    <ul class="blackFridayPaid-actions">
        <li>
            <button type="button" ng-disabled="!ctrl.loaded" class="blackFridayPaid-switch-button pm_button primary" ng-click="ctrl.buy()" translate-context="Action" translate>Switch current subscription to a 2-year plan</button>
        </li>
        <li>
            <button type="button" class="blackFridayPaid-get-button pm_button link" ng-click="ctrl.dashboard()" translate-context="Action" translate>Get a new 2-year plan</button>
        </li>
    <ul>
</div>
