<form
    novalidate
    data-squire-popover
    data-action="insertImage"
    name="addFilePopover"
    ng-class="{'addFilePopover-allow-uri':allowDataUri, 'addFilePopover-allow-embedded':allowEmbedded}"
    class="insertImage addFilePopover-container addFilePopover-hidden pm_form">

    <fieldset class="addFilePopover-panel">
        <legend class="addFilePopover-legend" translate-context="Composer, add file popover" translate>Insert an image</legend>

        <div class="addFilePopover-field row">
            <label for="url" class="addFilePopover-label" translate-context="Composer, add file popover" translate>URL image</label>
            <input
                type="url"
                name="url"
                autocomplete="off"
                class="addFilePopover-input-url"
                placeholder-translate="URL to image"
                placeholder-translate-context="Composer, add file popover"
                ng-model="data.image">
            <input
                class="addFilePopover-input-file"
                type="file"
                accept="image/*">
        </div>
    </fieldset>

    <footer class="addFilePopover-footer">
        <button
            type="button"
            name="addembedded"
            class="btn primary addFilePopover-btn-embedded"
            data-action-compose="::message"
            data-action-compose-type="addEmbedded"
            ng-class="{disabled: !canAddImage()}"
            translate-context="Action"
            translate>Insert File</button>

        <button
            class="btn primary addFilePopover-btn-uri"
            name="adduri"
            translate-context="Action"
            translate>Insert File</button>

        <button
            class="btn primary addFilePopover-btn-url"
            name="addurl"
            translate-context="Action"
            translate>Insert URL</button>
    </footer>
</form>
