<div class="colorPopover-container pm_form" data-squire-popover>

    <header class="colorPopover-header">
        <h3 class="colorPopover-title" translate-context="Title" translate>Text color</h3>
        <h3 class="colorPopover-title-highlight" translate-context="Title" translate>Background color</h3>
    </header>

    <div class="colorPopover-panel">
        <div class="colorPopover-select">
            <color-list
                class="colorPopover-choice"
                data-hash="{{::message.ID}}"></color-list>
        </div>
    </div>
</div>
