<nav class="squireToolbar-container menu" data-squire-state>
    <div class="squireToolbar-row-1">
        <button
            type="button"
            class="squireToolbar-action-bold bold"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Bold"
            data-squire-actions="bold">
            <i class="fa fa-bold"></i>
        </button>

        <button
            type="button"
            class="squireToolbar-action-italic italic"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Italic"
            data-squire-actions="italic">
            <i class="fa fa-italic"></i>
        </button>

        <button
            type="button"
            class="squireToolbar-action-underline underline"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Underline"
            data-squire-actions="underline">
            <i class="fa fa-underline"></i>
        </button>

        <div class="squireToolbar-separator"></div>

        <button
            type="button"
            class="squireToolbar-action-ulist ulist"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Unordered list"
            data-squire-actions="makeUnorderedList">
            <i class="fa fa-list-ul"></i>
        </button>

        <button
            type="button"
            class="squireToolbar-action-olist olist"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Ordered list"
            data-squire-actions="makeOrderedList">
            <i class="fa fa-list-ol"></i>
        </button>

        <div class="squireToolbar-separator desktopOnly"></div>

        <button
            type="button"
            class="squireToolbar-action-options"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Text options">
            <i class="fa fa-font" aria-hidden="true"></i>
            <i class="fa fa-angle-down"></i>
            <i class="squireToolbar-triangle-with-shadow"></i>
        </button>

        <div class="squireToolbar-separator"></div>

        <button
            type="button"
            class="squireToolbar-action-link link"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Insert link"
            data-squire-details="popover.form"
            data-squire-actions="makeLink">
            <i class="fa fa-link"></i>
        </button>

        <button
            type="button"
            class="squireToolbar-action-image image"
            data-squire-details="popover.form"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Insert image"
            data-squire-actions="insertImage">
            <i class="fa fa-image"></i>
        </button>

        <button
            type="button"
            class="squireToolbar-action-removeAllFormatting removeAllFormatting"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Clear all formatting"
            data-squire-actions="removeAllFormatting">
            <i class="fa fa-eraser"></i>
        </button>

        <more-toggle class="squireToolbar-select squireToolbar-text-mode"></more-toggle>
    </div>

    <div class="squireToolbar-row-2">
        <squire-select-font-size class="squireToolbar-select squireToolbar-fontSize"></squire-select-font-size>
        <squire-select-font-family class="squireToolbar-select squireToolbar-fontFamily"></squire-select-font-family>
        <squire-select-color class="squireToolbar-color"></squire-select-color>

        <div class="squireToolbar-separator"></div>

        <button
            type="button"
            class="squireToolbar-action-aleft aleft"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Align left"
            data-squire-actions="alignLeft">
            <i class="fa fa-align-left"></i>
        </button>

        <button
            type="button"
            class="squireToolbar-action-acenter acenter"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Align center"
            data-squire-actions="alignCenter">
            <i class="fa fa-align-center"></i>
        </button>

        <button
            type="button"
            class="squireToolbar-action-aright aright"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Align right"
            data-squire-actions="alignRight">
            <i class="fa fa-align-right"></i>
        </button>

        <div class="squireToolbar-separator"></div>

        <button
            type="button"
            class="squireToolbar-action-blockquote blockquote"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Quote"
            data-squire-actions="increaseQuoteLevel">
            <i class="fa fa-quote-right"></i>
        </button>
    </div>
</nav>
