<div class="squireSelectFontSize-container">
    <div class="squireToolbar-select-view">
        <button
            type="button"
            class="squireDropdown-item-label squireToolbar-action-fontSize"
            data-squire-actions="changeFontSize"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Change font size"
            translate-context="Font size"
            translate>14</button>
        <i class="fa fa-angle-down"></i>
        <i class="fa fa-angle-up"></i>
    </div>
    <ul class="squireToolbar-select-list squireToolbar-font-size" data-squire-actions="setFontSize" data-squire-ignore="true">
        <li class="squireToolbar-select-item" data-value="10">10</li>
        <li class="squireToolbar-select-item" data-value="12">12</li>
        <li class="squireToolbar-select-item" data-value="14">14</li>
        <li class="squireToolbar-select-item" data-value="16">16</li>
        <li class="squireToolbar-select-item" data-value="18">18</li>
        <li class="squireToolbar-select-item" data-value="20">20</li>
        <li class="squireToolbar-select-item" data-value="22">22</li>
        <li class="squireToolbar-select-item" data-value="24">24</li>
        <li class="squireToolbar-select-item" data-value="26">26</li>
    </ul>
</div>
