<nav class="squireToolbar-container menu" data-squire-state>
    <div class="squireToolbar-row-1 border-bottom">
        <button
            type="button"
            class="squireToolbar-action-bold bold pt0-25 pb0-25 pl0-5 pr0-5"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Bold"
            data-squire-actions="bold">
            <icon data-name="text-bold" data-size="16" class="mauto" aria-hidden="true"></icon>
            <span class="sr-only" translate-context="Action" translate>Bold</span>
        </button>

        <button
            type="button"
            class="squireToolbar-action-italic italic pt0-25 pb0-25 pl0-5 pr0-5"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Italic"
            data-squire-actions="italic">
            <icon data-name="text-italic" data-size="16" class="mauto" aria-hidden="true"></icon>
            <span class="sr-only" translate-context="Action" translate>Italic</span>
        </button>

        <button
            type="button"
            class="squireToolbar-action-underline underline pt0-25 pb0-25 pl0-5 pr0-5"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Underline"
            data-squire-actions="underline">
            <icon data-name="text-underline" data-size="16" class="mauto" aria-hidden="true"></icon>
            <span class="sr-only" translate-context="Action" translate>Italic</span>
        </button>

        <div class="squireToolbar-separator"></div>

        <button
            type="button"
            class="squireToolbar-action-ulist ulist pt0-25 pb0-25 pl0-5 pr0-5"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Unordered list"
            data-squire-actions="makeUnorderedList">
            <icon data-name="ordered-list" data-size="16" class="mauto" aria-hidden="true"></icon>
            <span class="sr-only" translate-context="Action" translate>Unordered list</span>
        </button>

        <button
            type="button"
            class="squireToolbar-action-olist olist pt0-25 pb0-25 pl0-5 pr0-5"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Ordered list"
            data-squire-actions="makeOrderedList">
            <icon data-name="bullet-points" data-size="16" class="mauto" aria-hidden="true"></icon>
            <span class="sr-only" translate-context="Action" translate>Ordered list</span>
        </button>

        <div class="squireToolbar-separator desktopOnly"></div>

        <button
            type="button"
            class="squireToolbar-action-options pt0-25 pb0-25 pl0-5 pr0-5"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Text options">
            <icon data-name="text-align-left" data-size="16" class="mauto" aria-hidden="true"></icon>
            <icon data-name="caret" data-size="16" class="mauto" aria-hidden="true"></icon>
            <span class="sr-only" translate-context="Action" translate>Text options</span>
        </button>

        <div class="squireToolbar-separator"></div>

        <button
            type="button"
            class="squireToolbar-action-link link pt0-25 pb0-25 pl0-5 pr0-5"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Insert link"
            data-squire-details="popover.form"
            data-squire-actions="makeLink">
            <icon data-name="link" data-size="16" class="mauto" aria-hidden="true"></icon>
            <span class="sr-only" translate-context="Action" translate>Insert link</span>
        </button>

        <button
            type="button"
            class="squireToolbar-action-image image pt0-25 pb0-25 pl0-5 pr0-5"
            data-squire-details="popover.form"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Insert image"
            data-squire-actions="insertImage">
            <icon data-name="insert-image" data-size="16" class="mauto" aria-hidden="true"></icon>
            <span class="sr-only" translate-context="Action" translate>Insert image</span>
        </button>

        <button
            type="button"
            class="squireToolbar-action-removeAllFormatting removeAllFormatting pt0-25 pb0-25 pl0-5 pr0-5"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Clear all formatting"
            data-squire-actions="removeAllFormatting">
            <icon data-name="remove-text-formatting" data-size="16" class="mauto" aria-hidden="true"></icon>
            <span class="sr-only" translate-context="Action" translate>Insert image</span>
        </button>

        <div class="squireToolbar-separator"></div>

        <more-toggle class="squireToolbar-select squireToolbar-text-mode"></more-toggle>
    </div>

    <div class="squireToolbar-row-2 border-bottom">
        <squire-select-font-family class="squireToolbar-select squireToolbar-fontFamily"></squire-select-font-family>
        <div class="squireToolbar-separator"></div>
        <squire-select-font-size class="squireToolbar-select squireToolbar-fontSize"></squire-select-font-size>
        <div class="squireToolbar-separator"></div>
        <squire-select-color class="squireToolbar-color"></squire-select-color>

        <div class="squireToolbar-separator"></div>

        <button
            type="button"
            class="squireToolbar-action-aleft aleft pt0-25 pb0-25 pl0-5 pr0-5"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Align left"
            data-squire-actions="alignLeft">
            <icon data-name="text-align-left" data-size="16" class="mauto" aria-hidden="true"></icon>
            <span class="sr-only" translate-context="Action" translate>Align left</span>
        </button>

        <button
            type="button"
            class="squireToolbar-action-acenter acenter pt0-25 pb0-25 pl0-5 pr0-5"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Align center"
            data-squire-actions="alignCenter">
            <icon data-name="text-center" data-size="16" class="mauto" aria-hidden="true"></icon>
            <span class="sr-only" translate-context="Action" translate>Align center</span>
        </button>

        <button
            type="button"
            class="squireToolbar-action-aright aright pt0-25 pb0-25 pl0-5 pr0-5"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Align right"
            data-squire-actions="alignRight">
            <icon data-name="text-align-right" data-size="16" class="mauto" aria-hidden="true"></icon>
            <span class="sr-only" translate-context="Action" translate>Align right</span>
        </button>

        <div class="squireToolbar-separator"></div>

        <button
            type="button"
            class="squireToolbar-action-blockquote blockquote pt0-25 pb0-25 pl0-5 pr0-5"
            pt-tooltip-translate-context="Action"
            pt-tooltip-translate="Quote"
            data-squire-actions="increaseQuoteLevel">
            <icon data-name="text-quote" data-size="16" class="mauto" aria-hidden="true"></icon>
            <span class="sr-only" translate-context="Action" translate>Quote</span>
        </button>
    </div>
</nav>
