<div class="squireSelectColor-container">

    <button
        type="button"
        class="squireToolbar-action-color flex"
        pt-tooltip-translate-context="Action"
        pt-tooltip-translate="Change color"
        data-squire-details="popover.form"
        data-squire-actions="changeColor">
        <icon data-name="font-color" data-size="16" class="mauto color-mark"></icon>
        <icon data-name="caret" data-size="16" class="mauto expand-caret"></icon>
    </button>

    <form
        novalidate
        data-squire-popover
        data-action="changeColor"
        name="changeColor"
        class="squire-popover squire-popover-second squireSelectColor-popover changeColor-hidden">
        <color-popover></color-popover>
        <color-popover data-mode="highlight"></color-popover>
    </form>
</div>
