@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints-product;
im.$media-expressions: $media-expressions;

.shared-url-file-browser {
	overflow: hidden;

	@include im.media('<=small') {
		margin-inline: -2.5vw;
	}
}

.flex .shared-url-file-browser {
	flex: 1;
}

@media (hover: hover) and (pointer: fine) {
	.mouse\:group-hover\:opacity-100.file-browser-list--download-button[disabled] {
		opacity: 0;
	}
}
