.settings-toggle-inactive {
	--field-norm: var(--interaction-weak);
}

.settings-toggle {
	.toggle-container-img {
		visibility: hidden;
	}

	.toggle-container--checked {
		&::after {
			border: 1px solid var(--interaction-norm) !important;
		}
	}
}

.setting-container {
	container-type: inline-size;
}

.setting-label {
	font-size: 1rem;
	display: block;
	inline-size: 100%;
	user-select: none;
}

@container (max-width: 17.44em) {
	.setting-label {
		font-size: 0.875rem;
	}
}
