:root,
.ui-standard {
    --primary: #9397cd;
    --primary-contrast: white;

    --signal-danger: #cb7c7c;
    --signal-danger-contrast: white;

    --signal-warning: #debc0b;
    --signal-warning-contrast: black;

    --signal-success: #8eb67a;
    --signal-success-contrast: white;

    --signal-info: #80a1d2;
    --signal-info-contrast: white;

    --interaction-norm: #9397cd;
    --interaction-norm-contrast: white;

    --interaction-weak: #ced2df;

    --text-norm: black;
    --text-weak: #737386;
    --text-hint: #aaaabd;
    --text-disabled: #bcbcd0;
    --text-invert: white;

    --field-norm: #bcbcd0;
    --field-hover: #aaaabd;
    --field-disabled: #ced2df;

    --focus-outline: #9397cd;
    --focus-ring: #9397cd33;

    --border-norm: #ced2df;
    --border-weak: #d9dfe8;

    --background-norm: white;
    --background-weak: #e6eaf0;
    --background-strong: #d9dfe8;
    --background-invert: #0c0c14;

    --interaction-default: transparent;
    --interaction-default-hover: rgb(188 188 208 / 0.2);
    --interaction-default-active: rgb(188 188 208 / 0.3);

    --shadow-norm-opacity: 0.1;
    --shadow-raised-opacity: 0.1;
    --shadow-lifted-opacity: 0.16;

    --backdrop-norm: rgb(80 80 97 / 0.48);

    /* Optional colors */

    --optional-scrollbar-thumb-color: #ced2df;

    --optional-font-family: system-ui, sans-serif;

    --optional-border-radius: 2;

    --optional-main-border-width: 0;

    --optional-email-item-read-background-color: #F5F7FA;
    --optional-email-item-read-text-color: #393939;

    /* Reset because prominent part overrides those colors */
    --optional-mini-calendar-today-color: initial;
    --optional-logo-text-proton-color: initial;
    --optional-logo-text-product-color: initial;

    --optional-promotion-text-color: #15006F;
	--optional-promotion-text-weak: #50409b;
	--optional-promotion-interaction-hover: rgb(109 74 255 / 0.08);
    --optional-promotion-background-start: rgb(109 74 255 / 0.15);
    --optional-promotion-background-end: rgb(70 26 255 / 0.04);
}
