<header class="sidebarMobileHeader-container">
    <btn-display-mobile-sidebar
        class="pull-right round sidebarMobileHeader-btn-sidebar"
        data-type="hide"></btn-display-mobile-sidebar>
    <a class="sidebarMobileHeader-logo logo" ui-sref="secured.inbox" title="ProtonMail ~ back to inbox">
        <img src="assets/img/logo.png" height="20" alt="ProtonMail">
    </a>
    <div class="sidebarMobileHeader-userDisplay">
        <span class="sidebarMobileHeader-userDisplay-name">{{ displayName }}</span>
        <strong class="sidebarMobileHeader-userDisplay-email">{{ email }}</strong>
    </div>
</header>
