<section class="pm_opensans sidebar sidebarApp-container sidebarContact-container" >
    <sidebar-mobile-header class="sidebarContact-about-app"></sidebar-mobile-header>

    <section class="sidebarApp-wrapper">
        <button class="sidebar-btn-back sidebarApp-link" type="button" data-action="back">
            <i class="sidebarApp-icon fa fa-arrow-left"></i>
            <span translate-context="Back button in the contact sidebar" translate>Back to mail</span>
        </button>

        <ul class="menu sidebarApp-menu">
            <li class="sidebarApp-item">
                <button class="sidebarApp-link" type="button" data-action="importContacts">
                    <i class="sidebarApp-icon fa fa-upload"></i>
                    <span translate-context="Import contacts button in the sidebar" translate>Import</span>
                </button>
            </li>
            <li class="sidebarApp-item">
                <button class="sidebarApp-link" type="button" data-action="exportContacts">
                    <i class="sidebarApp-icon fa fa-download"></i>
                    <span translate-context="Export contacts button in the sidebar" translate>Export</span>
                </button>
            </li>
            <li class="sidebarApp-item">
                <button class="sidebarApp-link" type="button" data-action="mergeContacts">
                    <i class="sidebarApp-icon fa fa-code-fork"></i>
                    <span class="sidebarContact-merge-text"></span>
                </button>
            </li>
            <li class="sidebarApp-item">
                <button class="sidebarApp-link" type="button" data-action="deleteContacts">
                    <i class="sidebarApp-icon fa fa-remove"></i>
                    <span translate-context="Delete all contacts button in the sidebar" translate>Delete All</span>
                </button>
            </li>
        </ul>

    </section>

    <manage-contact-group-link class="sidebarContact-manageGroup"></manage-contact-group-link>
    <sidebar-labels data-type="groups"></sidebar-labels>

    <div class="footer">
        <app-version class="version"></app-version>
    </div>
</section>
