.settingsFilters-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.settingsFilters-actions-notice {
    margin-left: auto;
    padding: 0;
}

.settingsFilters-actions-buttons,
.settingsFilters-actions-notice {
    margin-bottom: 10px;
}

.settingsFilters-sort-container { margin-bottom: 20px }

/* responsive */
.appConfigBody-is-mobile .settingsFilters-actions-notice {
    text-align: left;
    margin-left: 0
}

.appConfigBody-is-mobile .pm_sort-item-content > :first-child  {
    flex-grow: 1;
    padding: 10px 0;
}
.appConfigBody-is-mobile  .pm_sort-item-content > :last-child { width: auto }

.block-list.empty {
    display: none;
}
