body.unlock,
body#login-sub {
  height: 100%;
  p.aligncenter {
    margin: 0 0 2rem 0;
    font-size: 14px
  }
  #pm_loader {
    display: none;
  }
}

#pm_login {
    background-image: url('#hostURL#');
}

body#login,
body#login-sub,
body#eo-unlock {
  #pm_login,
  #pm_loginUnlock,
  #pm_loginTwoFactor {
    img.logo {
      margin-bottom: 2rem;
    }
  }
}

#pm_login,
#pm_loginUnlock,
#pm_loginTwoFactor,
body#reset {
  input[name="mailbox-password"] {
    background: rgba(255, 255, 255, 0.15);
  }

  .loginForm-input-password .password-messages,
  .unlock-input-password .password-messages { display: none }

  .customPasswordToggler {
    &.loginForm-input-password .password-input[type="password"],
    &.unlock-input-password .password-input[type="password"] {
      padding: 10px 30px 10px 0px;
    }
  }

}

.loadingUnlock-loader-container {
    justify-content: center;
    align-items: center;
}



body.appConfigBody-is-mobile {
  #pm_login {
    input[type="text"],
    input[type="password"] {
      background: rgba(0,0,0,.1);
    }
  }
  #pm_login.pm_panel {
    margin: 0;
    border: none;
    background: transparent;
  }
  #pm_footer {
    display: none;
  }
}

.login-btn-oldversion::before { content: url('#hostURL2#'); }

// Short resolutions to check
