.securtiyLogActions > .pm_button { margin: 0 0 0 5px }
.activeSessions-table {
    max-height: 200px;
    overflow-y: auto;
}

.pm_table.activeSessions-table table td {
    vertical-align: middle;
    line-height: 25px;
    padding: 0.7rem 1.5rem;
}
