
.creationList,
.creationList > li {
    .creationList-icon {
        width: 1.5rem;
        opacity: 0;
        transition: opacity 1s ease;
        &.show {
            opacity: 1;
        }
    }
}

