.settingsSignatures-default-container {
    margin-bottom: 0
}

label.settingsSignatures-label-active {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.settingsSignatures-label-aside * {
    margin-top: 10px
}

.activeAddresses-container .pm_sort-item-content {
    /* increase the height for better readability because there is a lot
    of link inside a row...*/
    min-height: 42px;
}

.inactiveAddresses-container .pm_sort-container {
    border-top: 0;
    box-shadow: inset  0 2px 3px -2px rgba(0,0,0,0.3);
    background: rgba(0,0,0,0.05);
}

.inactiveAddresses-container .pm_sort-container,
.inactiveAddresses-container .pm_sort-container .pm_sort-item {
    border-color: rgba(0,0,0,0.1);
}

.inactiveAddresses-container .pm_sort-container .pm_sort-item .pm_sort-item-content::before {
    content: "\F0C9";
    font-family: FontAwesome;
    margin-right: .5em;
    opacity: 0 /* align with sortable addresses */
}

.settingsSignatures-container > :last-child { margin-bottom: 20px }
.settingsSignatures-container .defaultSignature-link-signatures { display: none }
.settingsSignatures-container .defaultSignature-toggle { transform: none }

.appConfigBody-is-mobile .settingsSignatures-label-aside { text-align: left }

.appConfigBody-is-mobile .activeAddresses-email,
.appConfigBody-is-mobile .activeAddresses-badge { flex: 1 }

.appConfigBody-is-mobile .activeAddresses-badge { justify-content: flex-end }

[id="secured-signatures"] {
    .squireToolbar-select-list {
        min-height: 7em;
    }

    .squireToolbar-font-family {
        width: 150px;
        right: 0;
        left: -50px;
    }

    .colorPopover-container .colorPopover-header [class*='colorPopover-title'] {
        font-size: 1.2em
    }
    .squireToolbar-container {
        border-width: 1px 1px 0 1px;
        border-style: solid;
        border-color: $border;
    }
    [class*="squireToolbar-action-"] { padding: 0 }
    .squireToolbar-text-mode { display: none }
}
