.no-upcoming-meetings-schedule-button {
	background-color: var(--interaction-norm-minor-3) !important;
	color: var(--interaction-norm-major-1) !important;
}

.no-upcoming-meetings-start-button {
	background-color: var(--interaction-norm-major-1) !important;
	color: var(--text-invert) !important;
}
