<div class="autocompleteEmailsItem-container">
    <autocomplete-emails-icon></autocomplete-emails-icon>

    <span class="autocompleteEmails-label">
        {{ ::email.Name }}
        <span class="autocomplete-address" ng-if="email.Name !== email.Address">
            &lt;{{ ::email.Address }}&gt;
        </span>
    </span>
    <button
        class="autocompleteEmails-btn-remove fa fa-times"
        type="button"
        aria-label="Remove"
        data-address="{{ ::email.Address }}">
    </button>
</div>
