<div class="flex layout chooseLayoutBtns-container">
    <a
        role="button"
        tabindex="0"
        class="chooseLayoutBtns-btn-column p1"
        pt-tooltip-translate="Change layout"
        pt-tooltip-translate-context="Action"
        data-action="columns">
        <icon data-name="layout-columns" data-size="16" class="mauto"></icon>
        <span class="sr-only" translate-context="Action" translate>Change layout (columns)</span>
    </a>
    <a
        role="button"
        tabindex="0"
        class="chooseLayoutBtns-btn-rows p1"
        pt-tooltip-translate="Change layout"
        pt-tooltip-translate-context="Action"
        data-action="rows">
        <icon data-name="layout-rows" data-size="16" class="mauto"></icon>
        <span class="sr-only" translate-context="Action" translate>Change layout (rows)</span>

    </a>
</div>
