<div class="flex layout chooseLayoutBtns-container">
    <button
        tabindex="0"
        class="chooseLayoutBtns-btn-column pl1 pr1 flex"
        pt-tooltip-translate="Change layout (columns)"
        pt-tooltip-translate-context="Action"
        data-action="columns">
        <icon data-name="layout-columns" class="mauto" aria-hidden="true"></icon>
        <span class="sr-only" translate-context="Action" translate>Change layout (columns)</span>
    </button>
    <button
        tabindex="0"
        class="chooseLayoutBtns-btn-rows pl1 pr1 flex"
        pt-tooltip-translate="Change layout (rows)"
        pt-tooltip-translate-context="Action"
        data-action="rows">
        <icon data-name="layout-rows" class="mauto" aria-hidden="true"></icon>
        <span class="sr-only" translate-context="Action" translate>Change layout (rows)</span>
    </button>
</div>
