<div class="pm_grid no-padding no-margin datetimepicker">
    <div class="col-4-8">
        <div class="input-icon">
            <em class="fa fa-calendar searchForm-icon"></em>
                <input
                    class="datepicker always-show-ng-invalid"
                    type="text"
                    data-pikaday="model.pikaday"
                    data-min-date="minDate"
                    ng-model="model.date"
                    name="{{::datePickerKey}}"
                    required
                    ng-disabled="disableInput">
        </div>
    </div>
    <div class="col-4-8 timepicker-container">
        <time-picker class='timepicker' ng-model="model.time" data-event-key="{{ ::timePickerKey }}"></time-picker>
    </div>
    <div class="col-1-1 text-red" ng-messages="combineErrors()">
        <p ng-message="time_required" translate-context="Error input" translate>Please enter a valid time.</p>
        <p ng-message="date_required" translate-context="Error input" translate>Please enter a valid date.</p>
        <p ng-message="both_required" translate-context="Error input" translate>Please enter a valid date and time.</p>
    </div>
</div>
