<dialog class="onboardingModal-container">

    <header class="pm-modalHeader">
        <button
            type="button"
            class="pm-modalClose"
            ng-click="ctrl.cancel()"
            title-translate="Close"
            title-translate-context="Action">×</button>
        <h1 id="modalTitle" class="pm-modalTitle aligncenter">
            <span
                ng-if="ctrl.step === 0"
                translate-context="Title"
                translate>Welcome to ProtonMail 4.0</span>
            <span
                ng-if="ctrl.step === 1"
                translate-context="Title"
                translate>Introducing ProtonCalendar</span>
            <span
                ng-if="ctrl.step === 2"
                translate-context="Title"
                translate>Have questions or feedback?</span>

        </h1>
    </header>


    <div class="pm-modalContent">
        <div class="pm-modalContentInner aligncenter" ng-if="ctrl.step === 0">

            <p translate-context="Info" translate>ProtonMail 4.0 is a brand new inbox which contains many new features while continuing to improve the privacy and security that Proton is known for.</p>

            <p translate-context="Info" translate>Here’s an overview of some of the new features.</p>


            <h4 translate-context="Title onboard modal" translate>Meet the new app menu</h4>

            <p translate-context="Info" translate>All Proton services (Mail, Calendar, Contacts) are available from the Sidebar</p>

            <img src="/assets/v4-onboad/protonmail.jpg">
        </div>

        <div class="pm-modalContentInner aligncenter" ng-if="ctrl.step === 1">

            <p translate-context="Info" translate>ProtonCalendar is a new encrypted calendar to go with ProtonMail. Now you can create events which are encrypted in a way that even we cannot see the details of your events.</p>

            <p translate-context="Info" translate>ProtonCalendar beta can be accessed by all paid Proton users (it will also be made available to free users later on.)</p>

            <img src="/assets/v4-onboad/calendar.jpg">
        </div>


        <div class="pm-modalContentInner aligncenter" ng-if="ctrl.step === 2">

            <p translate-context="Info" translate>Like the new design? Can’t find something? Want to say hello?</p>

            <p translate-context="Info" translate>Get help or give feedback direct from within ProtonMail v4, right from the top bar. Report bug will send your comments directly to our team.</p>

            <img src="/assets/v4-onboad/question.jpg">
        </div>


        <footer class="pm-modalFooter flex flex-spacebetween">
            <button
                class="pm-button"
                type="button"
                ng-click="ctrl.cancel()"
                ng-if="ctrl.step === 0"
                translate-context="Action"
                translate>Skip Tutorial</button>

            <button
                class="pm-button"
                type="button"
                ng-if="ctrl.step !== 0"
                ng-click="ctrl.previous()"
                translate-context="Action"
                translate>Back</button>

            <button
                class="pm-button-blue disabled-if-network-activity"
                ng-click="ctrl.next()"
                ng-if="ctrl.step !== 2"
                translate-context="Action"
                translate>Next</button>

            <button
                class="pm-button-blue disabled-if-network-activity"
                ng-click="ctrl.cancel()"
                ng-if="ctrl.step === 2"
                translate-context="Action"
                translate>Start Exploring</button>
        </footer>
    </div>
</dialog>
