<div class="toogleModeElementsDropdown-container flex" data-layout="{{layout}}">

    <dropdown-container class="toogleModeElementsDropdown-dropdown flex">
        <dropdown-button class="toolbar-button toolbar-button--dropdown">
            <span data-if="col">
                <icon data-name="layout-columns" class="mauto toolbar-icon"></icon>
                <span class="sr-only" translate-context="Action" translate>Change layout (columns)</span>
            </span>

            <span data-if="rows">
                <icon data-name="layout-rows" class="mauto toolbar-icon"></icon>
                <span class="sr-only" translate-context="Action" translate>Change layout (rows)</span>
            </span>
            <icon name="caret" class="dropdownv4-icon mauto toolbar-icon ml0-25"></icon>
        </dropdown-button>

        <dropdown-content>
            <ul class="unstyled mt0 mb0">
                <li class="dropDown-item pl1 pr1" data-mode="columns">
                    <button
                        data-action="columns"
                        class="w100 flex flex-nowrap pt0-5 pb0-5 alignleft no-pointer-events-children toogleModeElementsDropdown-btn-action">
                            <icon data-name="layout-columns" class="mt0-25 flex-item-noshrink"></icon>
                            <span
                                class="ml0-5 mtauto mbauto"
                                translate-context="Action"
                                translate>Change layout (columns)</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1" data-mode="rows">
                    <button
                        data-action="rows"
                        class="w100 flex flex-nowrap pt0-5 pb0-5 alignleft no-pointer-events-children toogleModeElementsDropdown-btn-action">
                            <icon data-name="layout-rows" class="mt0-25 flex-item-noshrink"></icon>
                            <span
                                class="ml0-5 mtauto mbauto"
                                translate-context="Action"
                                translate>Change layout (rows)</span>
                    </button>
                </li>
            </ul>
        </dropdown-content>
    </dropdown-container>
</div>
