<nav
    class="toolbar toolbarDesktop-container pm_toolbar pm_toolbar_withSelector">

    <span class="flex back" ng-if="idDefined() &&  viewLayout === 1">
        <button ng-click="back()" class="flex toolbar-button" pt-tooltip-translate="Back to list" pt-tooltip-translate-context="Action">
            <icon data-name="arrow-left" data-size="16" class="mauto toolbar-icon"></icon>
            <span class="sr-only" translate-context="Action" translate>Back to list</span>
        </button>
    </span>

    <elements-selector
        ng-if="displayPaginator()"
        class="toolBar-select-all mtauto mbauto"></elements-selector>

    <span class="toolbar-separator"></span>

    <read-unread></read-unread>
    <span class="toolbar-separator"></span>
    <move-element></move-element>

    <span class="toolbar-separator"></span>

    <div class="flex">
        <folder-selector-dropdown
            id="tour-folder-dropdown"
            data-mode="toolbar"
            class="toolbarDesktop-select-label flex"
            ng-class="{disabled: isDisabled()}"></folder-selector-dropdown>
    </div>

    <div class="flex">
        <label-selector-dropdown
            id="tour-label-dropdown"
            data-mode="toolbar"
            class="toolbarDesktop-select-label flex"
            ng-class="{disabled: isDisabled()}"></label-selector-dropdown>
    </div>

    <div class="right action toolbarDesktop-actions-right">
        <advanced-filter-element></advanced-filter-element>
        <sort-view-dropdown></sort-view-dropdown>
        <toogle-mode-elements-dropdown id="tour-layout"></toogle-mode-elements-dropdown>
        <nav-elements></nav-elements>
        <span class="toolbar-separator" ng-if="displayPaginator()"></span>
        <paginator
            class="toolbarDesktop-select-page"
            ng-if="displayPaginator()"></paginator>
    </div>
</nav>
