.gradient-text {
	background: linear-gradient(
		90deg,
		rgb(109 74 255 / 0.7) 0%,
		rgb(255 255 255 / 0.8) 25%,
		rgb(109 74 255 / 0.7) 50%,
		rgb(255 255 255 / 0.8) 75%,
		rgb(109 74 255 / 0.7) 100%
	);
	background-size: 200% 100%;
	background-clip: text;
	color: transparent;
	animation: textGradientShift 6s infinite linear;
}

@keyframes textGradientShift {
	0% {
		background-position: 0% 0;
	}

	100% {
		background-position: -200% 0;
	}
}

// @keyframes textGradientShift {
//     to {
//         background-position: 200% center;
//     }
// }
