<div class="modal fade" id="safariModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times"></i>
                    <span class="sr-only" translate translate-context="Action">Close</span>
                </button>
                <h4 class="modal-title" translate translate-context="Title">Downloading</h4>
            </div>
            <div class="modal-body">
                <p class="alert alert-info" translate translate-context="Info">Safari does not fully support downloading encrypted attachments.</p>
                <p translate translate-context="Info">Your attachments are secure and encrypted, but to download them requires extra work. We recommend using a different web browser such as Chrome or Firefox for a better user experience.</p>
                <p><strong translate translate-context="Info">To download attachments in Safari:</strong></p>
                <ol>
                    <li translate translate-comment="safari attachment instructions" translate-context="Info">Click your attachment once to decrypt it. Once decryption finishes you will see a download arrow icon appear.</li>
                    <li translate translate-comment="safari attachment instructions" translate-context="Info">Right-click on your attachment and choose 'Download linked file as...'</li>
                    <li translate translate-comment="safari attachment instructions" translate-context="Info">You will be prompted to save the attachment.</li>
                    <li translate translate-comment="safari attachment instructions" translate-context="Info">Name your attachment from 'unknown' to the correct name, including the file extension.</li>
                </ol>
                <p translate translate-context="Info">For more help please contact us directly: support@protonmail.com</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default" translate translate-context="Action">Close</button>
            </div>
        </div>
    </div>
</div>
