<div class="sidebar flex nomobile noprint" data-pt-dropzone>
    <div class="flex w100 no-scroll flex-column flex-nowrap js-sidebar-container">

        <button
            class="pm-button-blue inline-flex pm-button--large ml1 mr1"
            action-compose
            action-compose-type="new">
            <icon data-name="compose" data-size="20" fill="white" class="mr0-5 mtauto mbauto"></icon>
            <span
                class="mtauto mbauto bold"
                translate-context="Action"
                translate
                translate-comment="compose button in sidebar">
                Compose
            </span>
        </button>

        <nav class="navigation mw100 flex flex-column flex-item-fluid js-navigation flex-nowrap">
        <ul class="navigation__list unstyled">
            <navigation-item
                class="sidebarApp-item navigation__item"
                data-key="{{::state}}"
                ng-repeat="state in listStates track by $id(state)"></navigation-item>
        </ul>
        <ul class="menu sidebarApp-menu unstyled " id="labelSettings">
            <li class="navigation__item">
                <a ui-sref="secured.labels" class="navigation__link w100">
                    <span class="inline-flex">
                        <icon data-name="settings" class="navigation__icon mr0-5 mtauto mbauto"></icon>
                        <span
                            id="tour-label-settings"
                            class="sidebarApp-label mtauto mbauto"
                            translate-context="Action"
                            translate>Folders / Labels</span>
                    </span>
                </a>
            </li>
        </ul>


        <sidebar-labels></sidebar-labels>
        </nav>


        <div class="flex-item-noshrink relative nomobile spacebar-container aligncenter">
            <sidebar-progress class="wrap"></sidebar-progress>
        </div>
    </div>
</div>
