<section class="pm_opensans sidebar sidebarApp-container" data-pt-dropzone>
    <button
        class="compose pm_button sidebar-btn-compose"
        action-compose
        action-compose-type="new"
        translate-context="Action"
        translate
        translate-comment="compose button in sidebar">Compose</button>

    <ul class="menu sidebarApp-menu">
        <navigation-item
            class="sidebarApp-item"
            data-key="{{::state}}"
            ng-repeat="state in listStates track by $id(state)"></navigation-item>
    </ul>
    <ul class="menu sidebarApp-menu" id="labelSettings">
        <li class="sidebarApp-item">
            <a ui-sref="secured.labels" class="sidebarApp-link">
                <i class="fa fa-cog sidebarApp-icon"></i>
                <span
                    id="tour-label-settings"
                    class="sidebarApp-label"
                    translate-context="Action"
                    translate>Folders / Labels</span>
            </a>
        </li>
    </ul>


    <sidebar-labels></sidebar-labels>


    <div class="footer">
        <sidebar-progress class="wrap"></sidebar-progress>
        <app-version class="version"></app-version>
    </div>
</section>
