.proton-embedded:not([src]) {
	position: relative;
	min-height: 38px; /* placeholder */

	&:after {
		position: absolute;
		top:0px;
		left: 0px;
		display: inline-block;
		content: " " attr(alt);
		white-space: nowrap;
		padding: 10px 10px 10px 30px;
		min-width: 40px;
		background: url(/assets/img/icons/broken-img.png) no-repeat 5px 50% $white;
		border:1px solid;
		border-color: #444 #CCC #CCC #444;
		color: rgba(0,0,0,0.5);
	}
}

/* Responsiveness of our embedded images */

.proton-embedded:not([width]):not([style*="width"]) {
	/*	1. do not handle responsivess if there is a width attribute / inline width style
		2. do not set auto height as long as it's not need to handle our embedded images (no height attribute)
	*/
	max-width: 100%;
}
