.pm_badge {
    background: $default-color-light;
    border-radius: .25em;
    color: $white;
    display: inline-block;
    font-size: 75%;
    font-style: normal;
    height: 1.5rem;
    line-height: 1.5rem;
    margin: .25rem 0;
    padding: 0 .35rem;
    text-transform: uppercase;

    &.none {
        text-transform: none;
        font-weight: 700;
    }
    &.default {
        color: $default-color;
    }
    &.primary {
        background-color: $primary;
    }
    &.success {
        background-color: $green;
    }
    &.error {
        background-color: $red;
    }
    &.warning {
        background-color: $yellow;
    }
}
