.pm_sort-container {
	padding: 0;
	margin: 0;
	list-style-type: none;
	border: 1px solid $border;
	border-bottom: 0;
}

.pm_sort-item {
	list-style-type: none;
	position: relative;
}


.pm_sort-item-content,
.pm_sort-item-content > * {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}


.pm_sort-item-content {
	padding: 5px 1rem;
	min-height: 32px;
	border-bottom: 1px solid $border;
}

.pm_sort-item-content > :first-child {
	flex-wrap: nowrap; /* ellipsis instead */
	width: 40%;
	min-width: 200px;
	margin-right: auto;
}

.pm_sort-item-content > :last-child {
	flex-grow: 1;
	justify-content: flex-end;
}

.pm_sort-item-content {
	white-space: nowrap;
	.pm_badge { margin-left: 5px }
}

.appConfigBody-is-mobile {
	.pm_sort-container[data-as-sortable] {
		border-right: 40px solid rgba($secondary, 0.4);
	}
	.pm_sort-item-content > :first-child {
		margin-right: auto;
		font-weight: bold;
	}
	.pm_sort-item-content > :last-child {
		width: 100%;
	}
}
