.ptdnd-dragstart {

    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;

    .mCSB_scrollTools_vertical,
    .conversation *,
    [data-pt-dropzone-item] * { pointer-events: none }
}

/* For Edge as it does not behave as others */
.ptdnd-drag-start { opacity: .5 }

.ptdnd-notification {
    position: absolute;
    z-index: 99999;
    background: white;
    border: 1px solid $pm-global-grey;
    padding: .5em 1em;
    font-size: .9em;
    top: 10px;
    left: 10px;
    transform: translate(0, 0);
    color: $pm-global-altgrey;
}

.ptdnd-notification-firefox { z-index: 0 }
.ptdnd-notification:not(.ptdnd-notification-active) { display: none }
