$calendar-aside-width: 6rem !default;
$calendar-hour-height: 4.8rem !default;
$calendar-grid-color: $pm-global-border !default;
$calendar-grid-border: var(--bordercolor-input, $calendar-grid-color) 1px solid !default;
$gridcell-right-margin: 1rem !default;
$border-event-cells: 1px solid rgba(0, 0, 0, .2) !default;


.calendar-grid-heading,
.calendar-monthgrid-day {
    color: var(--color-main-area, $pm-global-grey);
}

.calendar-grid-heading-number,
.calendar-monthgrid-day-number {
    border-radius: 50%;
    width: 1.75em;
    height: 1.75em;
    display: inline-flex;
}

.calendar-grid-heading[aria-current="date"] {
    color: var(--color-main-area, $pm-global-grey);
    font-weight: bold;
    .calendar-grid-heading-number {
        background-color: $pm-primary-dark;
        color: $white;
    }
}
.calendar-grid-heading[aria-pressed="true"] {
    .calendar-grid-heading-number {
        background-color: $calendar-selected-day-color;
        color: $white;
    }
}

.calendar-grid-heading-day-shortname {
    display: none;
}


.calendar-grid-gridcells {
    border-bottom: $calendar-grid-border;
}


.calendar-grid-dayLine,
.calendar-grid-hourLine,
.calendar-grid-gridcell {
    &:after {
        content: '';
        position: absolute;
        pointer-events: none;
    }
}
.calendar-grid-dayLine {
    &:after {
        border-left: $calendar-grid-border;
        height: 100%;
        margin-left: -1px;
    }
}
.calendar-grid-hourLine {
    height: $calendar-hour-height;

    &:after {
        border-bottom: $calendar-grid-border;
        width: 100%;
        margin-top: -1px;
    }
}

.calendar-grid-nowHourLine {
    z-index: 6;
    border-bottom: 2px solid var(--bgcolor-calendar-now-indicator, $pm-global-warning);
    left: 0;
    right: -$gridcell-right-margin;
    &:before {
        content: '';
        position: absolute;
        width: .7rem;
        height: .7rem;
        border-radius: 50%;
        background-color: var(--bgcolor-calendar-now-indicator, $pm-global-warning);
        top: -0.3rem;
        left: -0.4rem;
    }
}

.calendar-aside {
    width: $calendar-aside-width;
    font-size: 1rem;
}

.calendar-secondary-timezone-cell,
.calendar-primary-timezone-cell {
    border-bottom: $calendar-grid-border;
}

.calendar-fullday-row {
    border-bottom: $calendar-grid-border;
    padding-bottom: 3px;
}

.calendar-grid-timeBlock {
    height: $calendar-hour-height;
}

.calendar-grid-timeText {
    top: -1rem;
    font-size: 1rem;
}

.calendar-grid-gridcell {
    margin-right: $gridcell-right-margin;


    &:after {
        border-left: $calendar-grid-border;
        height: 100%;
        margin-left: -1px;
    }

}



.calendar-daygrid {
    min-height: 41rem;
}

.calendar-daygrid-weeknumber {
    border-bottom: $calendar-grid-border;
    border-right: $calendar-grid-border;
    background-color: var(--bgcolor-subnav, $pm-global-light);
}
.calendar-daygrid-weeknumber-width {
    width: 2.5rem;
}
.calendar-daygrid-row,
.calendar-daygrid-days,
.calendar-first-row-heading {
    border-bottom: $calendar-grid-border;
}
.calendar-daygrid-day[aria-current=true] {
  font-weight: bold;
}
.calendar-daygrid-columns {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.calendar-daygrid-column {
    border-right: $calendar-grid-border;
}

.calendar-monthgrid-day {
    &[aria-current="date"] {
        .calendar-monthgrid-day-number {
            background-color: $calendar-today-color;
            color: $white;
            font-weight: bold;
        }
    }
    &[aria-pressed="true"] {
        .calendar-monthgrid-day-number {
            background-color: $calendar-selected-day-color;
            color: $white;
        }
    }
}

// secondary timezone
.calendar-secondary-timezone-cell {
    border-right: $calendar-grid-border;
    background-color: var(--bgcolor-subnav, $pm-global-light);
}
.calendar-secondary-timezone-cell--header {
    border-top: $calendar-grid-border;
    border-right: $calendar-grid-border;
    border-top-right-radius: $global-border-radius;
    border-top-left-radius: $global-border-radius;
}
.sticky-title .calendar-grid-dayLine::after {
    border-left: 0;
}


// events
$calendar-dayevent-cell-height: 28px !default; // careful when updating this (depends also on JS calculations)
$calendar-dayevent-padding-top: 3px !default;
.calendar-dayeventcell {
    padding-right: $gridcell-right-margin;
    padding-top: $calendar-dayevent-padding-top;
    white-space: nowrap;
    height: $calendar-dayevent-cell-height;
}

.calendar-dayeventcell--isBefore,
.calendar-eventcell--isBefore {
    opacity: .7;
}


$calendar-dayeventcell-hover-color: #F1F3F4 !default;
.calendar-dayeventcell-inner {
    border-radius: 2px;
    min-height: 100%;
    border: $border-event-cells;
    position: relative;
    cursor: pointer;
    color: var(--color-main-area, $pm-global-grey);
    padding: 0 0.5em;
    &:focus,
    &:hover {
        background-color: var(--bgcolor-input, $calendar-dayeventcell-hover-color);
    }
}
.calendar-dayeventcell-inner--notAllDay {
    border: 0;
}

.calendar-dayeventcell--isOutsideStart, .calendar-dayeventcell-inner--isOutsideStart {
    padding-left: 0;
}
.calendar-dayeventcell--isOutsideEnd, .calendar-dayeventcell-inner--isOutsideEnd {
    padding-right: 0;
}

.calendar-eventcell {
    position: absolute;
    z-index: 5;
    background: #0074D9;
    color: $black;
    border-radius: 2px;
    transition: opacity .5s ease;
    border: $border-event-cells;
    cursor: pointer;

    &:after {
        position: absolute;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        content: '';
        box-sizing: border-box;
        border-radius: 2px;
        pointer-events: none;
        border: 1px solid transparent; // white was creating issue on Safari Mac
    }
}


@include respond-to($breakpoint-small) {
    .calendar-eventcell-title,
    .calendar-eventcell-timestring {
        font-size: 1.2rem;
    }

    // we show abbreviated version only on week/month view
    .is-week-view,
    .is-month-view {
        .calendar-grid-heading-day-fullname {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
    }
    // thus hide the abbrievated version on day view
    .is-day-view {
        .calendar-grid-heading-day-shortname {
            display: none;
        }
    }

}

// popover
$calendar-popover-width: 400px !default;
.eventpopover {
    position: absolute;
    background: var(--bgcolor-main-area, $white);
    color: var(--color-main-area, $pm-global-grey);
    z-index: 10;
    animation: eventpopoverIn ease .15s;
    animation-fill-mode: both;
    transform-origin: 50%;
    max-width: 100%;
    // transition: all .25s ease; should be applied only when opened and end of animation
    width: $calendar-popover-width;
    padding: 1.5em;
    max-height: 70%;
    overflow: auto;
    border-radius: $global-border-radius;
    box-shadow: 0 0 16px 3px $input-shadow-color;
}
.eventpopover-title {
    font-size: 2.2rem;
    padding-right: .5em;
}
.eventpopover--full-width {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

// special fix for recurring frequency
.eventpopover {
    .noInEventPopover {
        display: none;
    }
    .onpopover-flex-column {
        flex-direction: column;
        & > * {
            width: 100%;
            flex-basis: auto;
          }
    }
}

@keyframes eventpopoverIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}


.calendar-recurringFrequencyEnd-grid {
    display: grid;
    grid-template-columns: minmax(6em, auto) minmax(10em, auto) 50%;
    grid-gap: .5em;
}
.calendar-recurringFrequencyEnd-grid-fullLine {
    grid-column-start: span 3;
}





@include respond-to($breakpoint-tiny) { 
    
    .day-icon {
        width: 3rem;
        height: 3rem;
    }

    .calendar-recurringFrequencyEnd-grid {
        grid-template-columns: auto auto auto;
    }

}




// fix for Safari mobile shitty way to handle vh unit
.is-day-view::after,
.is-week-view::after,
.is-month-view::after {
    content: '';
    display: flex;
    width: 100%;
    height: 5em;
}
@include respond-to($breakpoint-small) {
    .is-day-view::after,
    .is-week-view::after,
    .is-month-view::after {
        padding-bottom: 8em;
        // thanks Apple for the fixed toolbar at the bottom
    }
}
