@use 'sass:list';
@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/proton-meet' as *;

@use '~@proton/styles/scss/layout/native' as *;

@use '~@proton/styles/scss/specifics/placeholder-loading' as *;
@use '~@proton/styles/scss/specifics/settings' as *;
@use '~@proton/styles/scss/specifics/arizona' as *;

@use '~@proton/styles/scss/meet/meet-breakpoints' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints;
im.$media-expressions: $media-expressions;

.modal-two-backdrop {
	background: transparent !important;
}

.lk-room-container {
	block-size: 100%;
	inline-size: 100%;
}

body {
	background: var(--interaction-weak-minor-3);
	position: relative;
}

.app-root {
	position: relative;
	z-index: 1;
	background: var(--background-norm);

	--font-weight-bold: 700;

	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		font-weight: var(--font-weight-bold) !important;
	}

	.button {
		font-weight: 600;
	}

	font-weight: 500;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

$meet-background-colors:
	var(--ui-purple-interaction-minor-3), var(--ui-green-interaction-minor-3), var(--interaction-norm-minor-3),
	var(--ui-blue-interaction-minor-3), var(--ui-red-interaction-norm-minor-2), var(--ui-orange-interaction-minor-3);

@for $i from 1 through 6 {
	.meet-background-#{$i} {
		background-color: #{list.nth($meet-background-colors, $i)};
	}
}

$meet-room-background-colors:
	linear-gradient(141.78deg, #968aef 8.4%, #4a4478 93.76%), linear-gradient(141.78deg, #51cc52 8.4%, #1b3228 93.76%),
	linear-gradient(141.78deg, #9581ff 8.4%, #413968 93.76%), linear-gradient(141.78deg, #0bf 8.4%, #094a62 93.76%),
	linear-gradient(141.78deg, #fb7878 8.4%, #552c40 93.76%), linear-gradient(141.78deg, #ff9761 8.4%, #523a2e 93.76%);

@for $i from 1 through 6 {
	.meet-room-background-#{$i} {
		background: #{list.nth($meet-room-background-colors, $i)};
		box-shadow: 0 8px 40px 0 rgb(0 0 0 / 0.16);
	}
}

$profile-colors:
	var(--ui-purple-interaction-minor-1), var(--ui-green-interaction-norm), var(--interaction-norm),
	var(--ui-blue-interaction-minor-1), var(--ui-red-interaction-norm), var(--ui-orange-interaction-minor-1);

@for $i from 1 through 6 {
	.profile-background-#{$i} {
		background: #{list.nth($profile-colors, $i)};
	}
}

@for $i from 1 through 6 {
	.profile-color-#{$i} {
		color: #{list.nth($profile-colors, $i)} !important;
	}
}

@for $i from 1 through 6 {
	.tile-border-#{$i} {
		border: 3px solid #{list.nth($profile-colors, $i)};
	}

	.tile-border-#{$i}-small {
		border: 2px solid #{list.nth($profile-colors, $i)};
	}
}

.gradient-overlay {
	background-image: linear-gradient(180deg, rgb(0 0 0 / 0) 52.27%, rgb(0 0 0 / 0.6) 100%);
}

.meet-radius {
	border-radius: 1.5rem;
}

.large-meet-radius {
	border-radius: 2.5rem;
}

.meet-font-weight {
	font-weight: 500;
}

.dropdown-content {
	background-image: none !important;
}

.search-open-button {
	color: var(--text-hint);

	&:hover {
		color: var(--color-norm);
		background-color: transparent !important;
	}
}

.meet-dropdown {
	backdrop-filter: blur(24px);
	background-color: rgb(0 0 0 / 0.14);
	box-shadow: 0 4px 24px 0 rgb(0 0 0 / 0.16);

	.dropdown-content {
		&,
		&::before,
		&::after {
			background-color: transparent;
		}
	}
}

.device-selector-dropdown {
	max-inline-size: 50vw;

	@include im.media('<=small') {
		inline-size: calc(100vw - 3rem);
		max-inline-size: calc(100vw - 3rem) !important;
	}

	.dropdown-content {
		max-inline-size: 50vw;

		@include im.media('<=small') {
			max-inline-size: calc(100vw - 3rem) !important;
		}
	}
}

.notifications-container {
	filter: none;
}

%notification-base {
	color: var(--text-invert);
	max-inline-size: 30rem;
	box-shadow: none;
	min-block-size: 3.5rem;
	border-radius: 1rem;

	.notification__close-button {
		border-radius: 1.5rem;
		padding: 0.625rem;
		margin-inline-end: 0.313rem;
		transition: background-color 0.2s ease;
	}

	.notification__icon {
		display: none;
	}
}

@mixin notification-variant($bg-color, $hover-color) {
	@extend %notification-base;

	background-color: $bg-color;

	.notification__close-button {
		background-color: $bg-color;

		&:hover {
			background-color: $hover-color;
		}
	}
}

.notification--info {
	@include notification-variant(var(--interaction-norm-contrast), var(--interaction-weak-major-2));
}

.notification--success {
	@include notification-variant(var(--interaction-norm), var(--interaction-norm-major-3));
}

.notification--warning {
	@include notification-variant(var(--signal-warning), var(--signal-warning-major-3));
}

.notification--error {
	@include notification-variant(var(--signal-danger), var(--signal-danger-major-2));
}

.modal-two-dialog {
	box-shadow: none !important;
}

.unsupported-browser-container {
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.meet-container-padding-x {
	padding-inline: 1.5rem;

	@include im.media('>medium') {
		padding-inline: 2.5rem;
	}

	@include im.media('>large') {
		padding-inline: 3.75rem;
	}
}

.meet-container {
	color: var(--background-norm);
}

.draggable-mac-electron-header {
	-webkit-app-region: drag;
}

.meet-tooltip {
	--meet-tooltip-bg: var(--interaction-weak-minor-3);

	color: var(--color-norm);
	background-color: var(--meet-tooltip-bg);
}

.tooltip--top.meet-tooltip,
.tooltip--top-start.meet-tooltip,
.tooltip--top-end.meet-tooltip {
	&::before {
		border-block-start-color: var(--meet-tooltip-bg);
	}
}

.tooltip--bottom.meet-tooltip,
.tooltip--bottom-start.meet-tooltip,
.tooltip--bottom-end.meet-tooltip {
	&::before {
		border-block-end-color: var(--meet-tooltip-bg);
	}
}

.tooltip--top-start.meet-tooltip {
	border-end-start-radius: 0 !important;
}

.tooltip--top-end.meet-tooltip {
	border-end-end-radius: 0 !important;
}

.tooltip--bottom-start.meet-tooltip {
	border-start-start-radius: 0 !important;
}

.tooltip--bottom-end.meet-tooltip {
	border-start-end-radius: 0 !important;
}

.button-large {
	--padding-block: 1em;
}

.action-button {
	background-color: var(--background-card);
	border-color: var(--border-card);
}

.action-button-new {
	border: 1px solid var(--border-card) !important;
	background: var(--background-card) !important;

	&:hover {
		background: var(--interaction-default-hover) !important;
	}

	&:disabled {
		background: var(--interaction-weak-minor-1) !important;
		border-color: var(--border-norm) !important;
		color: var(--text-disabled) !important;
	}
}

.color-white {
	color: white;
}

.meet-glow-effect {
	@include im.media('>small') {
		&::before,
		&::after {
			content: '';
			position: absolute;
			inline-size: 16.25rem;
			block-size: 16.25rem;
			inset-block-start: 0;
			background: var(--interaction-norm-minor-1);
			opacity: 0.4;
			filter: blur(8rem);
			z-index: -1;
			pointer-events: none;
		}

		&::before {
			inset-inline-start: -1rem;
		}

		&::after {
			inset-inline-end: -1rem;
		}

		@include im.media('>medium') {
			&::before {
				inset-inline-start: -2rem;
			}

			&::after {
				inset-inline-end: -2rem;
			}
		}
	}
}

.border-card {
	border-color: var(--border-card);
}

// Global override for checkbox tick color
.checkbox-input:checked + .checkbox-fakecheck {
	color: black;
}

.checkbox-input:checked:hover + .checkbox-fakecheck {
	color: black;
}
