@import '~@proton/styles/scss/lib';

.pass-field-box {
	&:not(.pass-input-group--no-focus) {
		&::before {
			content: '';
			border: 1px solid transparent;
			position: absolute;
			inset: -1px;
			z-index: 1;
			pointer-events: none;
			transition: 0.15s ease;
		}

		&:has(
				input:focus-visible,
				textarea:focus-visible,
				button[aria-expanded='false']:focus,
				button[aria-expanded='true'],
				[contenteditable='true']:focus
			) {
			&::before {
				border-color: var(--interaction-norm);
			}
		}

		&:has(input:placeholder-shown, textarea:placeholder-shown) {
			label,
			label > span {
				color: var(--text-norm);
			}
		}
	}

	&:has(button[aria-expanded='false']:focus) button {
		outline: none;
	}

	.field-two-container button:not(.select, .select-unstyled) svg {
		position: relative;
	}

	// disable responsive font-sizing provided by core
	// design system when going below <=small
	.input-element:not(.pass-input--title),
	.textarea {
		font-size: em($base-font-size);
	}

	input,
	textarea {
		/* Account for potential sticky headers
		 * when calling `scrollIntoView` on fields. */
		scroll-margin-top: em(80);
	}
}
