@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/em' as *;

.pass-inline-field-box {
	display: grid;
	align-items: center;

	@each $size, $value in (sm: 140, md: 200, lg: 250) {
		&.#{$size} {
			grid-template-columns: 1fr em($value);
		}
	}

	& + & {
		// siblings
		margin-block-start: 1rem;
	}
}
