<div class="cardPanel">
    <div class="cardPanel-issuer">
        <img class="cardPanel-issuer-visa" src="/assets/img/icons/cc_visa.svg">
        <img class="cardPanel-issuer-mastercard" src="/assets/img/icons/cc_mastercard.svg">
        <img class="cardPanel-issuer-amex" src="/assets/img/icons/cc_amex.svg">
    </div>
    <div class="cardPanel-number">{{ card.number }}</div>
    <div class="cardPanel-country">
      <label translate translate-context="Label">zip - country </label>
      <span>{{ card.zip }} - {{ card.country }}</span>
    </div>
    <div class="cardPanel-holder">
      <label translate translate-context="Label">Card holder </label>
      <span>{{ card.fullname }}</span>
    </div>
    <div class="cardPanel-expires">
      <label translate translate-context="Label">Expires</label>
      <span>{{ card.month }} / {{ card.year }}</span>
    </div>
</div>
