@import '~@proton/styles/scss/lib';

.album-photo-selection {
	inset-inline: calc(-1 * var(--margin));
	padding-inline: var(--margin);
	inline-size: calc(100% + (2 * var(--margin)));
	border-radius: 0;
}
