@import '~@proton/styles/scss/config/index';
@import '../../composer/composer';

.eo {
	&-message-header {
		border-radius: 0;
		.message-recipient-expanded .message-recipient-item-expanded-content {
			padding-block-start: 0.2em;
		}
	}

	&-composer {
		// need to size it, because EO does not have dimensions like the composer container
		block-size: em(300);

		.composer-content {
			margin-block-end: 0;
		}
		.editor {
			border-block-start: 0;
			border-inline: 0;
			border-radius: 0;
			padding-inline: 0.5em;
		}

		&-attachments-list {
			padding-inline: 1em;
			padding-block-end: 0.5em;
			border-block-start: 0;
			.composer-attachment-list-wrapper,
			.message-attachmentList {
				padding-inline: 0;
			}
		}
	}
}
