.pass-item-icon {
	background: var(--interaction-weak);
	transition: background 0.25s ease-in-out;

	&--has-image {
		background: white;
	}

	&--disabled {
		background: none;
		border: 1px solid var(--interaction-norm-minor-1);
	}

	&--custom {
		img {
			inline-size: 100%;
		}
	}
}
