@use '~@proton/styles/scss/lib/rem' as *;

.pass-lobby--heading {
	font-size: rem(25);
	line-height: 0.9;
}

.pass-lobby--brand-text {
	block-size: 1.6rem;
	padding-block-end: 0.25%;
	fill: var(--text-norm);
}
