@import '~@proton/styles/scss/lib';

.pass-lobby--heading {
	font-size: rem(24);
	line-height: 0.9;
}

.pass-lobby--brand-text {
	opacity: 0.8;
	block-size: 1.75rem;
	fill: var(--logo-text-proton-color);
}
