@import '~@proton/styles/scss/lib';
@import '~@proton/pass/styles/lobby';

.pass-lobby {
	&--content::before {
		content: '';
		display: block;
		block-size: rem(100);
		flex-shrink: 0;
	}

	&--logo {
		&-hidden {
			display: none;
		}
	}
}

// Only allow dragging the app window from the
// lobby when grabbing the edges of the screen
.is-electron {
	.pass-lobby {
		-webkit-app-region: drag;

		&::before {
			content: '';
			display: block;
			inset: rem(25);
			position: absolute;
			-webkit-app-region: no-drag;
		}
	}
}
