.user-dropdown-override {
	.user-dropdown-button {
		flex-direction: row-reverse;
		inline-size: 100%;
		padding: var(--space-2);
		border: 1px solid var(--border-weak);
		border-radius: var(--border-radius-lg);
		transition: none;
	}

	svg {
		display: block;
	}
}
