@use '~@proton/pass/styles/common' as *;
@use '~@proton/pass/styles/extension' as *;

body {
	background: transparent;
}

.item-icon {
	background-color: var(--field-norm);
	padding: em(4);
	border-radius: var(--border-radius-md);
}
