/* links */

/* remember focus */
a,
.link {
  color: $color-links;
  text-decoration: underline;
  cursor: pointer;

  &:focus,
  &:hover,
  &:active {
    color: $color-hover;
    text-decoration: underline;
  }
}

.nodecoration {
  text-decoration: none;
}
.underline {
  text-decoration: underline;
}
.underline-hover:hover,
.underline-hover:focus {
  text-decoration: underline;
}

.primary-link {
  &:focus,
  &:hover {
    color: $pm-primary;
  }
}

.hover-same-color {
  &:focus,
  &:hover {
    &.color-white {
      color: $white;
    }
    &.primary-link {
      color: $pm-primary;
    }
  }
}

.button-showOnHover:focus,
.button-showOnHover:hover {
	.button-showOnHover-element {
		visibility: visible;
	}
}



/* links with icons, may use DATA-URI */

/* external links */
/*a[href^="http://"],
a[href^="https://"] {

}*/
/* if full URL of the website in an internal link, remove icon */
/*a[href^="http://www.mydomain.com"] {

}*/
/* contact, mailto links */
/*.mail,
a[href^="mailto:"] {

}*/
/* if URL ends with .pdf or whatever */
/*a[href$=".pdf"] {

}*/

/* facto icons */
[class*="icon-"] {
  @extend .alignmiddle;
  @extend .inbl;
  fill: currentColor;
}

$list-icon-pixels: 6,8,10,11,12,14,16,18,20,24,28,40,42,60,100 !default;

@each $width in $list-icon-pixels {
  .icon-#{$width}p {
    width: #{$width}px;
    height: #{$width}px;
  }
}

$list-icon-percent: 50 !default;
@each $width in $list-icon-percent {
  .icon-#{$width} {
    width: percentage($width / 100);
    height: percentage($width / 100);
  }
}

.path2x {
  stroke-width: 1px;
  &.fill-global-light {
    stroke: $pm-global-light;
  }
}
