/**
 * reduced motion MQ: for vestibular disorders
 */
@media (prefers-reduced-motion: reduce) {
  *, *:before, *:after {
    -webkit-animation-duration: 0 !important;
    animation-duration: 0 !important;
    -webkit-transition-duration: 0 !important;
    transition-duration: 0 !important;
  }
}