{
  "semi": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "./webpack.config.ts",
      "options": {
        "printWidth": 1000
      }
    }
  ]
}
