<form
    novalidate
    class="dropdown-label-container"
    ng-class="{'dropdown-label-hasLabels': labels.length}"
    autocomplete="off">

    <div class="dropdown-label-title p1">
        <p class="dropdown-label-title-hasLabels m0" translate translate-context="title">Label as</p>
        <p class="alert alert-info" translate translate-context="Info">No labels</p>
    </div>

    <label class="flex flex-spacebetween pl1 pr1 mb0-5">
        <icon data-name="search" fill="currentColor" class="mr0-5"></icon>
        <div>
            <input
                class="dropdown-label-search-input"
                type="search"
                placeholder-translate="Filter labels"
                placeholder-translate-context="Placeholder"
                ng-model="searchLabels"
                ng-minlength="1">
        </div>
    </label>

    <ul class="dropDown-contentInner unstyled mt0-5 mb0-5" ng-if="labels.length > 0">
        <li
            class="dropDown-item advancedFilterElement-item-old-to-new"
            ng-repeat="label in (filteredLabels = (labels | filter: {Name: searchLabels} | orderBy: 'Order')) track by label.ID"
            data-label-id="{{::label.ID}}">

            <label
                class="flex w100 pt0-5 pb0-5"
                data-label-id="{{::label.ID}}">

                <icon
                    data-name="label"
                    data-label-id="{{::label.ID}}"
                    class="mr0-5 mtauto mbauto dropdown-label-scrollbox-label-icon"
                    ng-style="::color(label, 'fill')"></icon>

                <span
                    ng-style="::color(label)"
                    class="ellipsis flex-item-fluid">{{ ::label.Name }}</span>
                <div>
                    <custom-checkbox
                        data-custom-id="l{{::label.ID}}"
                        data-custom-ng-model="label.Selected"
                        data-custom-class="scrollbox-container-group-item-empty"
                        data-custom-ui-indeterminate="label.Selected === null"></custom-checkbox>
                </div>
            </label>
        </li>
        <li
            class="scrollbox-container-group-item-empty dropDown-item "
            ng-show="filteredLabels.length === 0"
            translate
            translate-context="Info">no label found</li>
    </ul>

    <create-label
        data-class="dropdown-label-create pl1 pr1 mb0-5 mt0-5"
        data-message="message"
        data-label-name="searchLabels"></create-label>

    <label class="dropdown-label-alsoArchive flex flex-spacebetween pl1 pr1 mt0-5">
        <span
            class="dropdown-label-alsoArchive-txt label-fillWidth"
            translate
            translate-context="Action"
            translate-comment="Form checkbox option">Also Archive</span>
        <div class="dropdown-label-alsoArchive-checkbox">
            <custom-checkbox
                data-custom-ng-model="alsoArchive"
                data-custom-class="dropdownLabels-input-archive"></custom-checkbox>
        </div>
    </label>

    <footer class="p1">
        <button
            class="pm-button-blue dropdown-label-apply disabled-if-network-activity w100"
            tabindex="1"
            translate-context="Action"
            translate>Apply</button>
    </footer>
</form>
