<div class="flex">
    <button
        class="toolbar-button flex noborder paginator-btn-previous notablet nomobile"
        pt-tooltip-translate="Previous"
        pt-tooltip-translate-context="Action">
        <icon data-name="caret" data-size="16" class="mauto rotateZ-90 toolbar-icon"></icon>
        <span class="sr-only" translate-context="Action" translate>Previous</span>
    </button>

    <dropdown-container class="pm-group-buttons" data-position="right">
        <dropdown-button class="toolbar-button toolbar-button--dropdown dropDown-link paginator-indicator">
            <span class="mauto">{{ ::page }}</span>
            <icon name="caret" class="dropdownv4-icon mauto toolbar-icon ml0-25"></icon>
        </dropdown-button>

        <dropdown-content class="dropDown-content--narrow">
            <div class="scroll-if-needed paginator-dropdown">
                <ul class="unstyled mt0-5 mb0-5">
                    <li class="dropDown-item" ng-repeat="p in pages track by p">
                        <button class="w100 pt0-5 pb0-5 dropDown-link no-pointer-events-children" data-value="{{::p}}">
                            <span
                                translate
                                translate-context="Title"
                                translate-comment="current page dropdown in paginator">Page</span> {{ ::p }}
                        </button>
                    </li>
                </ul>
            </div>
        </dropdown-content>
    </dropdown-container>

    <button
        class="toolbar-button flex noborder paginator-btn-next notablet nomobile"
        pt-tooltip-translate="Next"
        pt-tooltip-translate-context="Action">
        <icon data-name="caret" data-size="16" class="mauto rotateZ-270 toolbar-icon"></icon>
        <span class="sr-only" translate-context="Action" translate>Previous</span>
    </button>
</div>
