<div class="flex">
    <button
        class="pm-button--for-icon flex noborder paginator-btn-previous"
        pt-tooltip-translate="Previous"
        pt-tooltip-translate-context="Action">
        <icon data-name="caret" data-size="16" class="mauto rotateZ-90 toolbar-icon"></icon>
        <span class="sr-only" translate-context="Action" translate>Previous</span>
    </button>

    <dropdown-container class="pm-group-buttons">
        <dropdown-button class="pl0-5 pr0-5 paginator-indicator">
            <span class="mauto">{{ ::page }}</span>
            <icon name="caret" class="dropdownv4-icon mauto toolbar-icon"></icon>
        </dropdown-button>

        <dropdown-content class="paginator-dropdown">
            <ul class="unstyled mt0-5 mb0-5">
                <li class="dropDown-item" ng-repeat="p in pages track by p">
                    <button class="w100 pt0-5 pb0-5" data-value="{{::p}}">
                        <em
                            translate
                            translate-context="Title"
                            translate-comment="current page dropdown in paginator">Page</em> {{ ::p }}
                    </button>
                </li>
            </ul>
        </dropdown-content>
    </dropdown-container>

    <button
        class="pm-button--for-icon flex noborder paginator-btn-next"
        pt-tooltip-translate="Next"
        pt-tooltip-translate-context="Action">
        <icon data-name="caret" data-size="16" class="mauto rotateZ-270 toolbar-icon"></icon>
        <span class="sr-only" translate-context="Action" translate>Previous</span>
    </button>
</div>
