<span
    class="flex paginator paginator-container">
    <a
        pt-tooltip-translate="Previous"
        pt-tooltip-translate-context="Action"
        class="paginator-btn-previous p1"
        tabindex="0"
        role="button">
        <icon data-name="arrow-left" data-size="16" class="mauto"></icon>
        <span class="sr-only" translate-context="Action" translate>Previous</span>
    </a>
    <span class="pull-left paginator-dropdown-list">
        <button
            class="pm_trigger flex color-white paginator-dropdown"
            dropdown
            pt-tooltip-translate="Page number"
            pt-tooltip-translate-context="Action"
            tabindex="0"
            role="button">
            <span class="mauto">{{ ::page }}</span>
            <icon data-name="caret" data-size="16" class="mauto"></icon>
        </button>
        <span class="pm_dropdown right">
            <a
                tabindex="0"
                role="button"
                ng-repeat="p in pages track by p" data-value="{{::p}}"
                class="paginator-dropdown-item">
                <em
                    class="paginator-label"
                    translate
                    translate-context="Title"
                    translate-comment="current page dropdown in paginator">Page</em> {{ ::p }}
            </a>
        </span>
    </span>
    <a
        class="paginator-btn-next p1"
        pt-tooltip-translate="Next"
        pt-tooltip-translate-context="Action"
        tabindex="0"
        role="button">
        <icon data-name="arrow-right" data-size="16" class="mauto"></icon>
        <span class="sr-only" translate-context="Action" translate>Next</span>
    </a>
</span>
