<div class='angular-squire fill squire-container'>
    <div class="squire-drozone-continer">
        <div class="squire-dropzone">
            <span translate-context="Info" translate>Drop an image here to insert</span>
        </div>
    </div>
    <div class='editor-container fill'>
        <div ng-if="isLoaded">
            <squire-toolbar class="squire-toolbar"></squire-toolbar>
            <add-link-popover class="squire-popover"></add-link-popover>
            <add-file-popover class="squire-popover"></add-file-popover>
        </div>

        <plain-text-area></plain-text-area>
        <div class="angular-squire-wrapper fill">
            <iframe
                frameborder="0"
                border="0"
                marginwidth="0"
                marginheight="0"
                src="about:blank"
                class="squireIframe"></iframe>
        </div>
    </div>
</div>
