.calendar-dayeventcell {
	height: 28px; // careful when updating this (depends also on JS calculations)
	padding-right: $gridcell-right-margin;
	padding-top: 3px;
	white-space: nowrap;

	&-inner {
		position: relative;
		min-height: 100%;
		padding: 0 0.5em;
		border: $border-event-cells;
		border-radius: 2px;
		color: var(--color-main-area, $pm-global-grey);
		cursor: pointer;

		&:hover,
		&:focus {
			background-color: var(--bgcolor-input, #F1F3F4);
		}

		&--notAllDay {
			border: 0;
		}
	}

	&--isOutsideStart,
	&-inner--isOutsideStart {
		padding-left: 0;
	}

	&--isOutsideEnd,
	&-inner--isOutsideEnd {
		padding-right: 0;
	}
}

.calendar-eventcell {
	position: absolute;
	z-index: 5;
	border: $border-event-cells;
	border-radius: 2px;
	background: #0074D9;
	color: $black;
	cursor: pointer;
	transition: opacity .5s ease;

	&::after {
		content: '';
		position: absolute;
		top: -1px;
		left: -1px;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		box-sizing: border-box;
		border: 1px solid transparent; // white was creating issue on Safari Mac
		border-radius: 2px;
		pointer-events: none;
	}

	@include respond-to($breakpoint-small) {
		&-title,
		&-timestring {
			font-size: 1.2rem;
		}
	}
}

.calendar-dayeventcell--isBefore,
.calendar-eventcell--isBefore {
	opacity: .7;
}
