/*
  Full day event
*/

.calendar-dayeventcell {
	height: var(--height);
	padding-right: $calendar-gridcell-margin;
	padding-top: $calendar-gridcell-gutter;
	white-space: nowrap;

	&-inner {
		position: relative;
		min-height: 100%;
		padding: 0 .5em;
		background-color: $calendar-event-loading-color;
		border: $calendar-event-border;
		border-radius: $calendar-event-border-radius;
		color: $black;
		cursor: pointer;

		&--isNotAllDay#{&},
		&--isNotAllDay#{&}--isLoaded {
			background: none;
			border: none;
			color: inherit;

			&:hover,
			&:focus {
				background-color: var(--bgcolor-input, #F1F3F4);
			}
		}
	}

	&--isOutsideStart &-inner {
		padding-left: 0;
	}

	&--isOutsideEnd,
	&--isOutsideEnd &-inner {
		padding-right: 0;
	}

	&-circle {
		color: $calendar-event-loading-color;
	}

	&-inner--isLoaded &-circle {
		color: var(--background);
	}
}


/*
  Part day event
*/

.calendar-eventcell {
	position: absolute;
	z-index: 5;
	border: $calendar-event-border;
	border-radius: $calendar-event-border-radius;
	background: $calendar-event-loading-color;
	color: $black;
	cursor: pointer;

	@include respond-to($breakpoint-small) {
		&-title,
		&-timestring {
			font-size: 1.2rem;
		}
	}
}


/*
  Appearance factorization
*/

.calendar-dayeventcell,
.calendar-eventcell {
	--opacity: 1;

	&--isBefore {
		--opacity: .6;
	}
}

.calendar-dayeventcell-inner,
.calendar-eventcell {
	opacity: var(--opacity);
	transition: all 50ms ease-out, opacity .5s ease-out, background-color .15s ease-in-out;
	animation: loadingEvent 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) infinite alternate;

	&--isLoaded {
		background-color: var(--background);
		color: var(--foreground);
		animation: none;
	}

	&--isSelected {
		z-index: 6;
		border-color: $calendar-event-selected-border-color;
		box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .25);
		filter: brightness(105%);
	}
}

@keyframes loadingEvent {
	from {
		opacity: var(--opacity);
	}
	to {
		opacity: calc(var(--opacity) - .4);
	}
}
