@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
@use '~@proton/styles/scss/lib/rem' as *;
im.$breakpoints: $breakpoints-product;
im.$media-expressions: $media-expressions;

.collapsible-section-header {
	font-size: rem(13);
	transition: background-color 0.15s ease;
	min-block-size: rem(40);
	block-size: rem(40);

	// &:hover {
	// 	background-color: var(--background-weak);
	// }

	@include im.media('<=small') {
		position: relative;

		&:hover {
			background-color: var(--background-weak);
			transition: 0.3s all;
		}
	}
}
