// TODO: Remove this in favor of something clean in the DS

@import '~design-system/_sass/reusable-components/_design-system-config.scss';

.toolbar-button {
    color: white;
}

.toolbar-dropdown {
    ul {
        margin: 0;
    }

    button:disabled {
        opacity: .5
    }
}
