<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
      <img src="/assets/img/protonmail_logo_beta.png" alt="ProtonMail">
    </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <p class="navbar-text" ng-if="isLoggedIn">{{ user.UserName }}<em>@protonmail.ch</em></p>
      <ul class="nav navbar-nav navbar-right">
        <li id="nav_admin">
          <a ui-sref="admin"><span class="fa fa-tachometer"></span> Admin</a>
        </li>
        <li id="nav_invite">
          <a ui-sref="admin.invite"><span class="fa fa-envelope-o"></span> Invite</a>
        </li>
        <li id="nav_monitor">
          <a ui-sref="admin.monitor"><span class="fa fa-eye"></span> Monitor</a>
        </li>
        <li id="nav_logs">
          <a ui-sref="admin.logs"><span class="fa fa-list-alt"></span> Logs</a>
        </li>
        <li id="nav_inbox">
          <a ui-sref="secured.inbox"><span class="fa fa-inbox"></span> {{ 'INBOX' | translate }}</a>
        </li>
        <li id="nav_logout" ng-if="isLoggedIn">
          <a ng-click="logout()" href><span class="fa fa-power-off"></span> {{ 'LOGOUT' | translate }}</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
