<footer id="adminFooter">
    <div class="container-fluid">
        <span class="pull-right">
            <a href="/blog/">{{ 'BLOG' | translate }}</a>
            <a href="/pages/faq">{{ 'FAQ' | translate }}</a>
            <a href="/pages/security-details">{{ 'SECURITY_DETAILS' | translate }}</a>
            <a href="/pages/privacy-policy">{{ 'PRIVACY_POLICY' | translate }}</a>
            <a href="/pages/terms-and-conditions">{{ 'TERMS_AND_CONDITIONS' | translate }}</a>
            <a href="//twitter.com/ProtonMail" target="_blank" pt-tooltip="Twitter"><i class="fa fa-twitter-square"></i></a>
            <a href="//www.facebook.com/protonmail" target="_blank" pt-tooltip="Facebook"><i class="fa fa-facebook-square"></i></a>
        </span>
        <span class="copy">&copy; 2014 ProtonMail.ch
            <span> - Made globally, hosted in Switzerland.</span>
        </span>
        <div class="clear"></div>
    </div>
    <!--/.container-->
</footer>
