<div ng-show="message.Attachments.length > 0" id="attachmentArea">
    <header>
        <span class="title">
            <strong>{{ message.sizeAttachments() | humanSize }}</strong>
            <span ng-show="message.Attachments.length - message.NumEmbedded > 0">
                ({{ message.Attachments.length -  message.NumEmbedded }})
                <i class="fa fa-paperclip"></i>
                <span translate translate-n="message.Attachments.length - message.NumEmbedded" translate-plural="Files attached">File attached</span>
            </span>
            <span ng-show="message.NumEmbedded > 0">
                ({{ message.NumEmbedded }}) <i class="fa fa-image embedded"></i>
                <span translate-n="message.NumEmbedded" translate-plural="embedded images">
                embedded image</span>
            </span>
        </span>
        <em></em>
    </header>

    <section>
        <a ng-repeat="attachment in message.Attachments track by $id(attachment)" class="pm_button" ng-class="{ 'dead': attachment.decrypting, 'remove': ('eo.reply' | includedByState) }" data-download-text="{{ 'Download' | translate }}" title="{{ attachment.Name }} ({{ attachment.Size | humanSize }})" ng-click="decryptAttachment($event, attachment, message)">
            <em></em>
            <i class="fa fa-file-o"         ng-show="!attachment.decrypting && !attachment.decrypted && attachment.Headers.embedded !== 1"></i>
            <i class="fa fa-archive-o"      ng-show="attachment.MIMEType.indexOf('zip')            !== -1 && !attachment.decrypting && !attachment.decrypted"></i>
            <i class="fa fa-audio-o"        ng-show="attachment.MIMEType.indexOf('mp3')            !== -1 && !attachment.decrypting && !attachment.decrypted"></i>
            <i class="fa fa-code-o"         ng-show="attachment.MIMEType.indexOf('javascript')     !== -1 && !attachment.decrypting && !attachment.decrypted"></i>
            <i class="fa fa-excel-o"        ng-show="attachment.MIMEType.indexOf('xls')            !== -1 && !attachment.decrypting && !attachment.decrypted"></i>
            <i class="fa fa-image-o"        ng-show="attachment.MIMEType.indexOf('image')          !== -1 && !attachment.decrypting && !attachment.decrypted && attachment.Headers.embedded !== 1"></i>
            <i class="fa fa-picture-o embedded"        ng-show="
            attachment.Headers.embedded === 1 && !attachment.decrypting && !attachment.decrypted"></i>
            <i class="fa fa-movie-o"        ng-show="attachment.MIMEType.indexOf('mov')            !== -1 && !attachment.decrypting && !attachment.decrypted"></i>
            <i class="fa fa-pdf-o"          ng-show="attachment.MIMEType.indexOf('pdf')            !== -1 && !attachment.decrypting && !attachment.decrypted"></i>
            <i class="fa fa-powerpoint-o"   ng-show="attachment.MIMEType.indexOf('power')          !== -1 && !attachment.decrypting && !attachment.decrypted"></i>
            <i class="fa fa-word-o"         ng-show="attachment.MIMEType.indexOf('word')           !== -1 && !attachment.decrypting && !attachment.decrypted"></i>
            <i class="fa stuff" ng-class="{ 'fa-cog fa-spin': attachment.decrypting, 'fa-download': attachment.decrypted }"></i>
            <strong class="name">{{ attachment.Name }}</strong>
            <span class="size">{{ attachment.Size | humanSize }}</span>
            <button ng-click="removeAttachment(attachment)" ng-show="'eo.reply' | includedByState" class="removeButton">
                <i class="fa fa-times"></i>
            </button>
        </a>
        <div class="clear"></div>
    </section>
</div>
