<div ng-show="message.NumAttachments > 0" id="attachmentArea">
    <header>
        <span class="title">
            <i class="fa fa-paperclip"></i> {{ message.NumAttachments }}
            <span translate translate-n="message.NumAttachments" translate-plural="Attachments">Attachment</span> ({{ message.sizeAttachments() | humanSize }})
        </span>
        <em></em>
    </header>
    <section>
        <a ng-repeat="attachment in message.Attachments" class="pm_button" ng-class="{ 'dead': attachment.decrypting || ('eo.reply' | includedByState) }" data-download-text="{{ 'Download' | translate }}" title="{{ attachment.Name }} ({{ attachment.Size | humanSize }})" ng-click="decryptAttachment(attachment, $event, message)">
            <em></em>
            <i class="fa fa-file-o"         ng-show="!attachment.decrypting && !attachment.decrypted"></i>
            <i class="fa fa-archive-o"      ng-show="attachment.MIMEType.indexOf('zip')            !== -1 && !attachment.decrypting && !attachment.decrypted"></i>
            <i class="fa fa-audio-o"        ng-show="attachment.MIMEType.indexOf('mp3')            !== -1 && !attachment.decrypting && !attachment.decrypted"></i>
            <i class="fa fa-code-o"         ng-show="attachment.MIMEType.indexOf('javascript')     !== -1 && !attachment.decrypting && !attachment.decrypted"></i>
            <i class="fa fa-excel-o"        ng-show="attachment.MIMEType.indexOf('xls')            !== -1 && !attachment.decrypting && !attachment.decrypted"></i>
            <i class="fa fa-image-o"        ng-show="attachment.MIMEType.indexOf('image')          !== -1 && !attachment.decrypting && !attachment.decrypted"></i>
            <i class="fa fa-movie-o"        ng-show="attachment.MIMEType.indexOf('mov')            !== -1 && !attachment.decrypting && !attachment.decrypted"></i>
            <i class="fa fa-pdf-o"          ng-show="attachment.MIMEType.indexOf('pdf')            !== -1 && !attachment.decrypting && !attachment.decrypted"></i>
            <i class="fa fa-powerpoint-o"   ng-show="attachment.MIMEType.indexOf('power')          !== -1 && !attachment.decrypting && !attachment.decrypted"></i>
            <i class="fa fa-word-o"         ng-show="attachment.MIMEType.indexOf('word')           !== -1 && !attachment.decrypting && !attachment.decrypted"></i>
            <i class="fa stuff" ng-class="{ 'fa-cog fa-spin': attachment.decrypting, 'fa-download': attachment.decrypted }"></i>
            <strong class="name">{{ attachment.Name }}</strong>
            <span class="size">{{ attachment.Size | humanSize }}</span>
        </a>
        <div class="clear"></div>
    </section>
</div>
