<div ng-controller="ComposeMessageController">
    <ng-form name="composeForm" novalidate>
        <div
            class="composer animate"
            id="uid{{ ::message.uid}}"
            ng-repeat="message in messages track by message.uid"
            ng-init="params = {}"
            ng-style="{'z-index': message.zIndex}"
            ng-class="{
            'minimized': message.minimized,
            'blur': message !== selected,
            'maximized': message.maximized,
            'normalized': !message.maximized && !message.minimized,
            'expandRecipients': message.ccbcc === true,
            'hasAttachment': (message.Attachments.length > 0),
            'attachmentsOpen': ((message.attachmentsToggle === true) && (message.Attachments.length > 0)),
            'moreAttachments': ((message.attachmentsToggle === true) && (message.Attachments.length > 2)),
            'tall': (message.Attachments.length === 0),
            'mini': mini === true,
            'small': small === true
            }"
            ng-mousedown="focusComposer(message)">

            <header responsive-composer="message">
                <span ng-click="normalize(message);" class="subject" ng-bind="subject(message)"></span>
                <span class="actions text-right">
                    <a ng-show="!!!message.minimized" class="pm_button link minimize-button hidden-xs" ng-click="minimize(message)" pt-tooltip-translate-context="Action" pt-tooltip-translate="Minimize" pt-placement="top">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a ng-show="!!message.minimized" class="pm_button link expand-button hidden-xs" ng-click="unminimize(message)" pt-tooltip-translate-context="Action" pt-tooltip-translate="Expand" pt-placement="top">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a ng-show="!!!message.maximized" class="pm_button link maximize-button hidden-xs hidden-sm" ng-click="normalize(message);maximize(message)" pt-tooltip-translate-context="Action" pt-tooltip-translate="Fullscreen" pt-placement="top">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a ng-show="!!message.maximized" class="pm_button link maximize-button hidden-xs" ng-click="normalize(message)" pt-tooltip-translate-context="Action" pt-tooltip-translate="Exit fullscreen" pt-placement="top">
                        <i class="fa fa-compress"></i>
                    </a>
                    <a class="pm_button link close-button" ng-click="openCloseModal(message)" pt-tooltip-translate-context="Action" pt-tooltip-translate="Close" pt-placement="top">
                        <i class="fa fa-times"></i>
                    </a>
                </span>
            </header>

            <div class="options" ng-class="{ 'show': message.displayPanel && message.panelName == 'encrypt' }">
                <div ng-form="encryptForm" class="pm_form pm_grid">
                    <div>
                        <h3 translate translate-context="Title">Encrypt for non-ProtonMail users</h3>
                        <a href="https://protonmail.com/support/knowledge-base/encrypt-for-outside-users/" target="_blank">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    </div>
                    <p></p>
                    <div ng-class="{'has-error': encryptForm.outsidePw.$touched && encryptForm.outsidePw.$error.required}" class="clearfix">
                        <div class="col-1-3">
                            <label class="text-muted" translate translate-context="Title">Message Password</label>
                        </div>
                        <div class="col-2-3">
                            <input style="display: none;" type="password" name="foilautofill"/>
                            <input type="password" autocomplete="off" name="outsidePw" ng-model="params.password" placeholder-translate="Password" required="" />
                        </div>
                    </div>
                    <div ng-class="{'has-error': encryptForm.outsidePwConfirm.$touched && encryptForm.outsidePwConfirm.$error.required}" class="clearfix">
                        <div class="col-1-3">
                            <label class="text-muted" translate translate-context="Title">Confirm Password</label>
                        </div>
                        <div class="col-2-3">
                            <input style="display: none;" type="password" name="foilautofill"/>
                            <input type="password" autocomplete="off" name="outsidePwConfirm" ng-model="params.confirm" placeholder-translate="Confirm password" required="" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-1-3">
                            <label class="text-muted">
                                <span translate translate-context="Title">Password Hint</span> (<em>Optional</em>)
                            </label>
                        </div>
                        <div class="col-2-3">
                            <input type="text" autocomplete="off" name="outsidePwHint" ng-model="params.hint" placeholder-translate="Hint" />
                        </div>
                    </div>
                    <div class="clear">
                        <p>
                            <i class="help-block" translate translate-context="Info">Encrypted messages to non-ProtonMail recipients will expire in 28 days unless a shorter expiration time is set.</i>
                        </p>
                    </div>
                    <footer class="text-right">
                        <button type="button" class="pm_button pull-left mobileFull" ng-click="clearEncrypt(message, params, encryptForm);" translate translate-context="Action">Cancel</button>
                        <button type="submit" class="pm_button primary mobileFull" ng-click="setEncrypt(message, params)" ng-disabled="encryptForm.$invalid" translate translate-context="Action">Set</button>
                    </footer>
                </div>
            </div>

            <div class="options" ng-class="{ 'show': message.displayPanel && message.panelName == 'expiration' }">
                <div>
                    <h3 translate translate-context="Title">Expiration time</h3>
                    <a href="https://protonmail.com/support/knowledge-base/expiration/" target="_blank">
                        <i class="fa fa-info-circle"></i>
                    </a>
                </div>
                <p></p>
                <p class="alert alert-info" translate>This message will expire in</p>
                <div class="pm_form alert text-center" ng-init="initExpiration(message, params)">
                    <span class="pm_select">
                        <select ng-model="params.expirationWeeks" ng-change="setExpiration(message, params)" ng-options="option.label for option in weekOptions"></select>
                        <i class="fa fa-angle-down"></i>
                    </span>
                    <span translate>Weeks</span>
                    <span class="pm_select">
                        <select ng-model="params.expirationDays" ng-change="setExpiration(message, params)" ng-options="option.label for option in dayOptions"></select>
                        <i class="fa fa-angle-down"></i>
                    </span>
                    <span translate>Days</span>
                    <span class="pm_select">
                        <select ng-model="params.expirationHours" ng-change="setExpiration(message, params)" ng-options="option.label for option in hourOptions"></select>
                        <i class="fa fa-angle-down"></i>
                    </span>
                    <span translate>Hours</span>
                </div>
                <footer class="text-right">
                    <button type="button" class="pm_button pull-left mobileFull" ng-click="clearExpiration(message)" translate translate-context="Action">Cancel</button>
                    <button type="button" class="pm_button primary mobileFull" ng-click="closePanel(message)" translate translate-context="Action">Set</button>
                </footer>
            </div>


            <div class="meta">
                <div class="row fromRow">
                    <label translate translate-context="Title">From</label>
                    <select class="flex" ng-model="message.From" ng-options="address.Email for address in addresses | filter: {Status: 1, Receive: 1} | orderBy: 'Send'" ng-disabled="message.Attachments.length > 0"  ng-change="changeFrom(message)"></select>
                    <button class="pm_button link" >
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <span class="overlay" ng-click="disabledNotify()" ng-show="message.Attachments.length > 0" translate=""></span>
                </div>

                <div
                    class="row placeholder"
                    ng-click="focusTo(message)"
                    ng-right-click="focusTo(message)"
                    ng-show="emailsAreValid(message) === true && message.autocompletesFocussed === false">

                    <label
                        ng-hide="message.ToList.length > 0 || message.CCList.length > 0 || message.BCCList.length > 0"
                        translate
                        translate-context="Title">Recipients</label>
                    <div title="{{ recipients(message) }}" ng-bind="recipients(message)"></div>
                    <button
                        class="pm_button link"
                        ng-click="toggleCcBcc(message)"
                        pt-tooltip-translate="CC BCC"
                        pt-placement="left"
                        pt-tooltip-translate-context="Action"
                        tabindex="-1">
                        <i class="fa fa-angle-down" ng-class="{'fa-rotate-180': message.ccbcc === true}"></i>
                    </button>
                </div>

                <div
                    class="row toRow"
                    ng-show="emailsAreValid(message) === false || message.autocompletesFocussed === true">
                    <label
                        ng-click="focusNextInput($event)"
                        translate
                        translate-context="Title">To</label>
                    <autocomplete-emails data-emails="message.ToList"></autocomplete-emails>

                    <button
                        class="pm_button link"
                        tabindex="-1"
                        ng-click="toggleCcBcc(message)"
                        pt-tooltip-translate="CC BCC"
                        pt-placement="left"
                        pt-tooltip-translate-context="Action">
                        <i class="fa fa-angle-down" ng-class="{'fa-rotate-180': message.ccbcc === true}"></i>
                    </button>
                </div>
                <div class="row" ng-show="message.ccbcc === true && (emailsAreValid(message) === false || message.autocompletesFocussed === true)">
                    <label ng-click="focusNextInput($event)" translate translate-context="Title">CC</label>
                    <autocomplete-emails data-emails="message.CCList"></autocomplete-emails>
                </div>
                <div class="row" ng-show="message.ccbcc === true && (emailsAreValid(message) === false || message.autocompletesFocussed === true)">
                    <label ng-click="focusNextInput($event)" translate translate-context="Title">BCC</label>
                    <autocomplete-emails data-emails="message.BCCList"></autocomplete-emails>
                </div>

                <div class="row subjectRow">

                    <input type="text" title="Subject" class="flex subject" placeholder-translate="Subject" ng-focus="onFocusSubject(message)" ng-model="message.Subject" ng-model-options="{updateOn: 'blur'}" ng-keydown="$event.which === 9 && focusEditor(message, $event)" ng-change="saveLater(message)" required />
                </div>
            </div>
            <section class="flex" ng-if="!message.minimized" ng-form="composeForm{{$index}}">
                <div class="composeEditor fill">
                    <div  class="askEmbedding"
                    ng-show="message.askEmbedding && !preventDropbox">
                        <ul>
                            <li class="title">{{ message.pendingAttachements.length }} images detected</li>
                            <li>Insert images<li>
                            <li>
                                <button class="pm_button primary"
                                ng-click="processPending(message,false)"
                                pt-tooltip-translate="Attachments"
                                pt-placement="top">
                                    <span>as attachment</span>
                                </button>
                            </li>
                            <li>or</li>
                            <li>
                                <button class="pm_button primary"
                                ng-click="processPending(message,true)"
                                pt-tooltip-translate="inline image"
                                pt-placement="top">
                                    <span>inline</span>
                                </button>
                            </li>
                            <li class="cancel" ng-click="cancelAskEmbedding(message)">
                               <span>cancel</span>  <i class="fa fa-close"></i>
                            </li>
                        </ul>
                    </div>
                    <div
                    class="dropzone composer-dropzone fill"
                    dropzone="dropzoneConfig(message)"
                    ng-show="isOver && message.focussed && !preventDropbox"></div>

                    <squire
                        data-message="message"
                        allow-embedded="true"
                        ng-click="attHide(message); message.autocompletesFocussed = false;"></squire>
                </div>
            </section>
             <aside class="attachmentBar" ng-click="attToggle(message); hideFields(message);" ng-show="message.Attachments.length > 0" >
                <i class="pull-right" ng-if="(message.attachmentsToggle === true)" translate translate-context="Action">Hide</i>
                <i class="pull-right" ng-if="!(message.attachmentsToggle === true)" translate translate-context="Action">Show</i>
                <strong>{{ message.sizeAttachments() | humanSize }}</strong>
                <span ng-show="message.Attachments.length > message.NumEmbedded">
                    ({{ message.Attachments.length -  message.NumEmbedded }})
                    <i class="fa fa-paperclip"></i>
                    <span translate translate-n="message.Attachments.length -  message.NumEmbedded" translate-plural="Files attached">File attached</span>
                </span>
                <span ng-show="message.NumEmbedded > 0">
                    ({{ message.NumEmbedded }}) <i class="fa fa-image embedded"></i>
                    <span translate translate-n="message.NumEmbedded" translate-plural="embedded images">
                    embedded image</span>
                </span>
            </aside>
            <div
            class="previews clearfix attachmentArea"
            ng-show="(message.attachmentsToggle === true) && (message.Attachments.length > 0)">
                <span
                title="{{attachment.filename || attachment.Name}}"
                class="preview-template pm_button"
                id="attachment{{$index}}"
                ng-repeat="attachment in message.Attachments track by $id(attachment)"
                ng-class="{ 'uploading': attachment.uploading }"
                ng-init="initAttachment(attachment, $index)">

                    <span class="attachment">
                        <i ng-class="(attachment.Headers.embedded === 1) ? 'fa fa-image embedded' : 'fa fa-paperclip'"></i>
                        <span class="preview-name" ng-bind="attachment.filename || attachment.Name"></span>
                    </span>

                    <a ng-show="!!attachment.uploading" class="preview-close" ng-click="cancelAttachment(attachment, message)">
                        <i class="fa fa-times"></i>
                    </a>
                    <a ng-show="!!!attachment.uploading" class="preview-close" ng-click="removeAttachment(attachment, message)">
                        <i class="fa fa-times"></i>
                    </a>
                </span>
            </div>
            <footer ng-hide="message.minimized" ng-class="{ 'disabled': message.displayPanel }">
                <button class="pm_button"
                    action-message="::message"
                    action-message-type="addFile"
                    ng-disabled="message.disableOthers() || message !== selected"
                    ng-class="{
                        'active': message.displayPanel && message.panelName == 'attachments',
                        'primary': message.Attachments && message.Attachments.length > 0
                    }"
                    pt-tooltip-translate="Attachments"
                    pt-placement="top">
                    <i class="fa fa-paperclip"></i>
                </button>
                <button
                class="pm_button"
                ng-class="{
                    'active': message.displayPanel && message.panelName == 'encrypt',
                    'primary': message.IsEncrypted === 1
                }"
                ng-disabled="message.disableOthers() || message !== selected"
                pt-placement="top"
                pt-tooltip-context="Action"
                pt-tooltip-translate="Encryption"
                ng-click="togglePanel(message, 'encrypt')">
                    <i class="fa fa-lock"></i>
                    <span ng-show="!!message.maximized" translate translate-context="Title">Encryption</span>
                </button>
                <button
                class="pm_button"
                ng-class="{
                    'active': message.displayPanel && message.panelName == 'expiration',
                    'primary': message.ExpirationTime > 0
                }"
                ng-disabled="message.disableOthers() || message !== selected"
                pt-placement="top"
                pt-tooltip-translate="Expiration time"
                pt-tooltip-translate-context="Action"
                ng-click="togglePanel(message, 'expiration')">
                    <i class="fa fa-clock-o"></i>
                    <span ng-show="!!message.maximized" translate translate-context="Action">Expiration</span>
                </button>
                <span class="text-muted saveAt" ng-show="message.Time" translate>Saved at {{ message.Time | date : "shortTime" }}</span>
                <div class="pull-right">
                    <button class="pm_button" ng-disabled="message.disableDiscard()" ng-click="discard(message)" pt-tooltip-translate="Delete draft" pt-placement="top" pt-tooltip-context="Action">
                        <i class="fa fa-trash-o"></i>
                        <span ng-show="!!message.maximized" translate translate-context="Action">Discard</span>
                    </button>
                    <button class="pm_button" ng-disabled="message.disableSave() || message !== selected" ng-click="save(message, true, false)" pt-tooltip-translate="Save" pt-placement="top" pt-tooltip-translate-context="Action">
                        <i class="fa fa-floppy-o"></i>
                        <span ng-show="message.maximized === true" translate translate-context="Action">Save</span>
                    </button>
                    <btn-send-message
                        class="pm_button primary mobileFull"
                        data-message="message"></btn-send-message>
                </div>
            </footer>
        </div>
    </ng-form>
</div>
