<div ng-controller="ComposeMessageController">
    <ng-form name="composeForm" novalidate>
        <div
        ng-squire-height
        class="composer animate"
        id="uid{{message.uid}}"
        ng-repeat="message in messages"
        ng-init="params = {}"
        ng-style="{'z-index': message.zIndex}"
        ng-class="{
        'minimized': message.minimized,
        'blur': (!!!composerIsSelected(message) || message.loading()),
        'maximized': message.maximized,
        'normalized': !message.maximized && !message.minimized,
        'expandRecipients': message.fields,
        'attachmentsOpen': ((message.attachmentsToggle === true) && (message.Attachments.length > 0)),
        'tall': (message.Attachments.length === 0)
        }"
        ng-click="focusComposer(message)">

            <header responsive-composer="message">
                <span ng-click="normalize(message);" class="subject">
                {{message.Subject}} &nbsp;
                </span>
                <span class="actions text-right">
                    <a
                    href
                    ng-show="!!!message.minimized"
                    class="pm_button link minimize-button hidden-xs"
                    ng-click="minimize(message)"
                    pt-tooltip="{{ 'MINIMIZE' | translate }}"
                    pt-placement="top">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a
                    href
                    ng-show="!!message.minimized"
                    class="pm_button link expand-button hidden-xs"
                    ng-click="unminimize(message)"
                    pt-tooltip="{{ 'EXPAND' | translate }}"
                    pt-placement="top">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a
                    href
                    ng-show="!!!message.maximized"
                    class="pm_button link maximize-button hidden-xs hidden-sm"
                    ng-click="normalize(message);maximize(message)"
                    pt-tooltip="{{ 'FULLSCREEN' | translate }}"
                    pt-placement="top">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a
                    href
                    ng-show="!!message.maximized"
                    class="pm_button link maximize-button hidden-xs"
                    ng-click="normalize(message)"
                    pt-tooltip="{{ 'EXIT_FULLSCREEN' | translate }}"
                    pt-placement="top">
                        <i class="fa fa-compress"></i>
                    </a>
                    <a
                    href
                    class="pm_button link close-button"
                    ng-click="openCloseModal(message, true)"
                    pt-tooltip="{{ 'CLOSE' | translate }}"
                    pt-placement="top">
                        <i class="fa fa-times"></i>
                    </a>
                </span>
            </header>

            <div class="options" ng-class="{ 'show': message.displayPanel && message.panelName == 'encrypt' }">
                <div ng-form="encryptForm" class="pm_form">
                    <div>
                        <h3>Encrypt for non-ProtonMail users</h3>
                        <a href="https://protonmail.com/support/knowledge-base/encrypt-for-outside-users/" target="_blank">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    </div>
                    <p></p>
                    <div ng-class="{'has-error': encryptForm.outsidePw.$touched && encryptForm.outsidePw.$error.required}" class="clearfix">
                        <div class="col left">
                            <label class="text-muted">{{ 'MESSAGE_PASSWORD' | translate }}</label>
                        </div>
                        <div class="col right">
                            <input
                            type="password"
                            autocomplete="off"
                            name="outsidePw"
                            ng-model="params.password"
                            placeholder="Password"
                            required="" />
                        </div>
                    </div>
                    <div ng-class="{'has-error': encryptForm.outsidePwConfirm.$touched && encryptForm.outsidePwConfirm.$error.required}" class="clearfix">
                        <div class="col left">
                            <label class="text-muted">{{ ' CONFIRM_MESSAGE_PASSWORD' | translate }}</label>
                        </div>
                        <div class="col right">
                            <input
                            type="password"
                            autocomplete="off"
                            name="outsidePwConfirm"
                            ng-model="params.confirm"
                            placeholder="Confirm Password"
                            required="" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">
                            <label class="text-muted">{{ 'PASSWORD_HINT' | translate }} ({{ 'OPTIONAL' | translate }})</label>
                        </div>
                        <div class="col right">
                            <input
                            type="text"
                            autocomplete="off"
                            name="outsidePwHint"
                            ng-model="params.hint"
                            placeholder="Hint" />
                        </div>
                    </div>
                    <div class="clear">
                        <p>
                            <i class="help-block">Encrypted messages to non-ProtonMail recipients will expire in 28 days unless a shorter expiration time is set.</i>
                            </p>
                    </div>
                    <footer class="text-right">
                        <button
                        type="button"
                        class="pm_button"
                        ng-click="clearEncrypt(message, params, encryptForm);">
                        {{ 'CANCEL' | translate }}
                        </button>
                        <button
                        type="submit"
                        class="pm_button primary"
                        ng-click="setEncrypt(message, params)"
                        ng-disabled="encryptForm.$invalid">
                        {{ 'SET' | translate }}
                        </button>
                    </footer>
                </div>
            </div>

            <div class="options" ng-class="{ 'show': message.displayPanel && message.panelName == 'expiration' }">
                <div>
                    <h3>{{ 'EXPIRATION_TIME' | translate }}</h3>
                    <a href="https://protonmail.com/support/knowledge-base/expiration/" target="_blank">
                        <i class="fa fa-info-circle"></i>
                    </a>
                </div>
                <p></p>
                <div>
                    <input type="range" min="1" max="{{maxExpiration}}" step="1" name="ExpirationTime" ng-init="initExpiration(message, params)" ng-model="params.expiration" />
                </div>
                <div class="text-center" ng-show="params.expiration">
                    <h2 class="text-purple">
                        {{params.expiration}} {{ 'HOURS' | translate }}
                    </h2>
                    <h4 class="text-muted">
                        {{params.expiration | humanDuration:'hours'}}
                    </h4>
                </div>
                <footer class="text-right">
                    <button type="button" class="pm_button" ng-click="clearExpiration(message)">
                        {{ 'CANCEL' | translate }}
                    </button>
                    <button type="button" class="pm_button primary" ng-click="setExpiration(message, params)">
                        {{ 'SET' | translate }}
                    </button>
                </footer>
            </div>

            <div class="meta">

                <div class="row" id="fromRow">
                    <label>{{ 'FROM' | translate }}</label>
                    <select
                    tabindex="1"
                    ng-model="message.From"
                    ng-options="address.Email for address in user.Addresses"
                    title="{{ 'FROM' | translate }}"></select>
                    <button class="pm_button link">
                        <i class="fa fa-angle-down"></i>
                    </button>
                </div>

                <div
                class="row toRow"
                ng-click="message.recipientFieldFocussed = 1"
                ng-class="{ closed: recipientsCollapsed }">
                    <label>{{ 'TO' | translate }}</label>
                    <div
                    class="typeahead-container to-container"
                    ng-class="{
                        'unfocussed': toUnfocussed(message),
                        'marker-width': ccPlus(message) || toUnfocussed(message) && recipientFieldEllipsis(message, 'ToList')
                    }">
                        <input
                        tabindex="2"
                        type="text"
                        email-field
                        title="{{ 'TO' | translate }}"
                        ng-model="message.ToList"
                        ng-focus="recipientsCollapsed = false"
                        ng-change="saveLater(message)"
                        class="to-list" />
                    </div>
                    <span ng-if="toUnfocussed(message) && recipientFieldEllipsis(message, 'ToList') && !ccPlus(message)" class="ccPlus">
                        <button class="pm_button pull-right">...</button>
                    </span>
                    <span class="ccPlus" ng-if="ccPlus(message)">
                        <button class="pm_button pull-right">+{{message.numTags.CCList + message.numTags.BCCList}}</button>
                    </span>
                    <button
                    class="pm_button link pull-right"
                    ng-click="toggleFields(message); attHide(message)"
                    pt-tooltip="{{ 'CC_BCC' | translate }}"
                    pt-placement="left">
                        <i class="fa fa-angle-down transition" ng-class="{'fa-rotate-180': !!message.fields}"></i>
                    </button>
                </div>

                <div
                class="row ccRow"
                ng-show="message.fields"
                ng-click="message.recipientFieldFocussed = 2">

                    <label>{{ 'CC' | translate }}</label>
                    <div class="typeahead-container cc-container" ng-class="{
                        'unfocussed': ccUnfocussed(message),
                        'marker-width': ccUnfocussed(message) && recipientFieldEllipsis(message, 'CCList')
                    }">
                        <input
                        tabindex="3"
                        type="text"
                        email-field
                        ng-model="message.CCList"
                        ng-focus="recipientsCollapsed = false"
                        ng-change="saveLater(message)"
                        title="{{ 'CC' | translate }}"
                        class="cc-list" />
                    </div>
                    <span ng-if="ccUnfocussed(message) && recipientFieldEllipsis(message, 'CCList')" class="ccPlus">
                        <button class="pm_button pull-right">...</button>
                    </span>
                </div>

                <div
                class="row bccRow"
                ng-show="message.fields"
                ng-click="message.recipientFieldFocussed = 3">

                    <label>{{ 'BCC' | translate }}</label>
                    <div class="typeahead-container bcc-container" ng-class="{
                        'unfocussed': bccUnfocussed(message),
                        'marker-width': bccUnfocussed(message) && recipientFieldEllipsis(message, 'BCCList')
                    }">
                        <input
                        tabindex="4"
                        type="text"
                        email-field
                        ng-model="message.BCCList"
                        ng-focus="recipientsCollapsed = false"
                        ng-change="saveLater(message)"
                        title="{{ 'BCC' | translate }}"
                        class="bcc-list" />
                    </div>
                    <span ng-if="bccUnfocussed(message) && recipientFieldEllipsis(message, 'BCCList')" class="ccPlus">
                        <button class="pm_button pull-right">...</button>
                    </span>

                </div>

                <div class="row subjectRow">
                    <label>{{ 'SUBJECT' | translate }}</label>
                    <input
                    tabindex="5"
                    type="text"
                    title="{{ 'SUBJECT' | translate }}"
                    class="subject"
                    ng-focus="hideFields(message); message.recipientFieldFocussed = 0; recipientsCollapsed = true"
                    ng-model="message.Subject"
                    ng-model-options="{updateOn: 'blur'}"
                    ng-keydown="$event.which == 9 && focusEditor(message, $event)"
                    ng-change="saveLater(message)"
                    required />
                </div>

            </div>
            <section ng-if="!message.minimized" ng-form="composeForm{{$index}}">

                <div class="composeEditor">
                    <div
                    class="dropzone composer-dropzone"
                    dropzone="dropzoneConfig(message)"
                    ng-focus="recipientsCollapsed = true"
                    ng-show="isOver && message.focussed && !preventDropbox"></div>
                    <squire ng-model="message.Body" ng-click="attHide(message); hideFields(message);"></squire>
                </div>
            </section>
            <div
            class="previews clearfix attachmentArea"
            ng-show="(message.attachmentsToggle === true) && (message.Attachments.length > 0)">
                <span
                title="{{attachment.filename || attachment.Name}}"
                class="preview-template pm_button"
                id="attachment{{$index}}"
                ng-repeat="attachment in message.Attachments"
                ng-init="initAttachment(attachment, $index)">
                    <span class="preview-name" ng-bind="attachment.filename || attachment.Name"></span>
                    <a href="" ng-show="!!attachment.uploading" class="preview-close" ng-click="cancelAttachment(attachment, message)">
                        <i class="fa fa-times"></i>
                    </a>
                    <a href="" ng-show="!!!attachment.uploading" class="preview-close" ng-click="removeAttachment(attachment, message)">
                        <i class="fa fa-times"></i>
                    </a>
                </span>
            </div>
            <aside class="attachmentBar" ng-click="attToggle(message); hideFields(message);" ng-show="message.Attachments.length > 0">
                <i class="pull-right" ng-if="(message.attachmentsToggle === true)">{{ 'HIDE' | translate }}</i>
                <i class="pull-right" ng-if="!(message.attachmentsToggle === true)">{{ 'SHOW' | translate }}</i>
                {{ message.Attachments.length }} Files attached ({{ getAttachmentsSize(message) | humanSize }})
            </aside>
            <footer ng-hide="message.minimized">
                <button
                class="pm_button btn-add-attachment"
                ng-class="{
                    'active': message.displayPanel && message.panelName == 'attachments',
                    'primary': message.Attachments && message.Attachments.length > 0,
                    disabled: message.loading()
                }"
                pt-tooltip="{{ 'ATTACHMENTS' | translate }}"
                pt-placement="top"
                >
                    <i class="fa fa-paperclip"></i>
                    <span ng-show="!!message.maximized"> {{ 'ATTACHMENTS' | translate }}</span>
                </button>
                <button
                class="pm_button"
                ng-class="{
                    'active': message.displayPanel && message.panelName == 'encrypt',
                    'primary': message.IsEncrypted === 1,
                    disabled: message.loading()
                }"
                pt-placement="top"
                pt-tooltip="{{ 'ENCRYPTION' | translate }}"
                ng-click="togglePanel(message, 'encrypt')">
                    <i class="fa fa-lock"></i>
                    <span ng-show="!!message.maximized"> {{ 'ENCRYPTION' | translate }}</span>
                </button>
                <button
                class="pm_button"
                ng-class="{
                    'active': message.displayPanel && message.panelName == 'expiration',
                    'primary': message.ExpirationTime > 0,
                    disabled: message.loading()
                }"
                pt-placement="top"
                pt-tooltip="{{ 'EXPIRATION_TIME' | translate }}"
                ng-click="togglePanel(message, 'expiration')">
                    <i class="fa fa-clock-o"></i>
                    <span ng-show="!!message.maximized"> {{ 'EXPIRATION' | translate }}</span>
                </button>
                <span class="text-muted saveAt" ng-show="message.Time">
                {{ 'SAVED_AT' | translate }} {{ message.Time | date : 'shortTime' }}
                </span>
                <div class="pull-right">
                    <button
                    ng-class="{ disabled: message.loading() }"
                    class="pm_button"
                    ng-disabled="networkActivity.loading() || !!!composerIsSelected(message)"
                    ng-click="close(message, true, false)"
                    pt-tooltip="{{ 'DISCARD' | translate }}"
                    pt-placement="top">
                        <i class="fa fa-trash-o"></i>
                        <span ng-show="!!message.maximized"> {{ 'DISCARD' | translate }}</span>
                    </button>
                    <button
                    ng-class="{ disabled: message.loading() }"
                    class="pm_button"
                    ng-disabled="networkActivity.loading() || !!!composerIsSelected(message)"
                    ng-click="save(message, false, false, true)"
                    pt-tooltip="{{ 'SAVE' | translate }}"
                    pt-placement="top">
                        <i class="fa fa-floppy-o"></i>
                        <span ng-show="!!message.maximized"> {{ 'SAVE' | translate }}</span>
                    </button>
                    <button
                    ng-hide="message.loading()"
                    class="pm_button primary"
                    ng-disabled="networkActivity.loading() || !!!composerIsSelected(message) || message.uploading"
                    ng-click="send(message)">
                        <i class="fa fa-send"></i>
                        {{ 'SEND' | translate }}
                    </button>
                    <button
                    ng-show="message.loading() && sending"
                    class="pm_button primary disabled">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        {{ 'SENDING' | translate }}
                    </button>
                    <button
                    ng-show="message.loading() && saving && !sending"
                    class="pm_button primary disabled">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        {{ 'SAVING' | translate }}
                    </button>
                </div>
            </footer>
        </div>
    </ng-form>
</div>
