<div ng-controller="ComposeMessageController">
    <ng-form name="composeForm" novalidate>
        <div
        class="composer animate"
        id="uid{{message.uid}}"
        ng-repeat="message in messages"
        ng-init="params = {}"
        ng-style="{'z-index': message.zIndex}"
        ng-class="{'minimized': message.minimized, blur: (!!!composerIsSelected(message) || message.loading()), 'maximized': message.maximized, 'normalized': !message.maximized && !message.minimized}"
        ng-click="focusComposer(message)">
            <div class="composer-header row">
                <span ng-click="normalize(message);" class="col-xs-8">{{message.Subject}} &nbsp;</span>
                <span class="col-xs-4 text-right">
                    <a
                    href
                    ng-show="!!!message.minimized"
                    class="btn btn-sm minimize-button hidden-xs"
                    ng-click="minimize(message)"
                    pt-tooltip="{{ 'MINIMIZE' | translate }}"
                    pt-placement="top">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a
                    href
                    ng-show="!!message.minimized"
                    class="btn btn-sm expand-button hidden-xs"
                    ng-click="unminimize(message)"
                    pt-tooltip="{{ 'EXPAND' | translate }}"
                    pt-placement="top">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a
                    href
                    ng-show="!!!message.maximized"
                    class="btn btn-sm maximize-button hidden-xs hidden-sm"
                    ng-click="normalize(message);maximize(message)"
                    pt-tooltip="{{ 'FULLSCREEN' | translate }}"
                    pt-placement="top">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a
                    href
                    ng-show="!!message.maximized"
                    class="btn btn-sm maximize-button hidden-xs"
                    ng-click="normalize(message)"
                    pt-tooltip="{{ 'EXIT_FULLSCREEN' | translate }}"
                    pt-placement="top">
                        <i class="fa fa-compress"></i>
                    </a>
                    <a
                    href
                    class="btn btn-sm close-button"
                    ng-click="openCloseModal(message, true)"
                    pt-tooltip="{{ 'CLOSE' | translate }}"
                    pt-placement="top">
                        <span class="sr-only">{{ 'CLOSE' | translate }}</span>
                        <i class="fa fa-times"></i>
                    </a>
                </span>
            </div>
            <div class="composer-body" ng-if="!message.minimized" ng-form="composeForm{{$index}}">
                <div class="composerMeta">
                    <div class="form-group fromGroup">
                        <div class="input-group">
                            <div class="input-group-addon">{{ 'FROM' | translate }}</div>
                            <select tabindex="1" class="form-control" ng-model="message.From" ng-options="address.Email for address in user.Addresses" title="{{ 'FROM' | translate }}"></select>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="input-group input-container" ng-click="message.recipientFieldFocussed = 1">
                                <div class="input-group-addon">{{ 'TO' | translate }}</div>
                                <div class="typeahead-container to-container" ng-class="{unfocussed: (message.recipientFieldFocussed !== 1 && message.recipientFieldFocussed !== 4)}">
                                    <input tabindex="2" type="text" email-field title="{{ 'TO' | translate }}" ng-model="message.ToList" ng-change="saveLater(message)" class="form-control to-list" />
                                </div>
                                <span class="input-group-btn" ng-if="(message.recipientFieldFocussed !== 1 && message.recipientFieldFocussed !== 4) && recipientFieldEllipsis(message, 'ToList')">
                                    <button class="btn btn-sm btn-white pull-right elf">...</button>
                                </span>
                                <span class="input-group-btn" ng-if="(message.numTags.CCList > 0 || message.numTags.BCCList > 0) && !message.fields">
                                    <button class="btn btn-sm btn-white pull-right elf">+{{message.numTags.CCList + message.numTags.BCCList}}</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-white pull-right" ng-click="toggleFields(message)" pt-tooltip="{{ 'CC_BCC' | translate }}" pt-placement="left">
                                        <i class="fa fa-caret-down transition" ng-class="{'fa-rotate-180': !!message.fields}"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group" ng-show="message.fields">
                            <div class="input-group input-container" ng-click="message.recipientFieldFocussed = 2">
                                <div class="input-group-addon">{{ 'CC' | translate }}</div>
                                <div class="typeahead-container cc-container" ng-class="{unfocussed: (message.recipientFieldFocussed !== 2 && message.recipientFieldFocussed !== 4) && message.fields}">
                                    <input tabindex="3" type="text" email-field ng-model="message.CCList" ng-change="saveLater(message)" title="{{ 'CC' | translate }}" class="form-control cc-list" />
                                </div>
                                <span class="input-group-btn" ng-if="(message.recipientFieldFocussed !== 2 && message.recipientFieldFocussed !== 4) && message.fields && recipientFieldEllipsis(message, 'CCList')">
                                    <button class="btn btn-sm btn-white pull-right elf">...</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group" ng-show="message.fields">
                            <div class="input-group input-container" ng-click="message.recipientFieldFocussed = 3">
                                <div class="input-group-addon">{{ 'BCC' | translate }}</div>
                                <div class="typeahead-container bcc-container" ng-class="{unfocussed: (message.recipientFieldFocussed !== 3 && message.recipientFieldFocussed !== 4) && message.fields}">
                                    <input tabindex="4" type="text" email-field ng-model="message.BCCList" ng-change="saveLater(message)" title="{{ 'BCC' | translate }}" class="form-control bcc-list" />
                                </div>
                                <span class="input-group-btn" ng-if="(message.recipientFieldFocussed !== 3 && message.recipientFieldFocussed !== 4) && message.fields && recipientFieldEllipsis(message, 'BCCList')">
                                    <button class="btn btn-sm btn-white pull-right elf">...</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input tabindex="5" type="text" placeholder="{{ 'SUBJECT' | translate }}" title="{{ 'SUBJECT' | translate }}" class="form-control subject" ng-focus="message.fields = false; message.recipientFieldFocussed = 0" ng-model="message.Subject" ng-model-options="{updateOn: 'blur'}" ng-keydown="$event.which == 9 && focusEditor(message, $event)" ng-change="saveLater(message)" required />
                    </div>
                </div>
                <div class="form-group composeEditor">
                    <div class="options" ng-show="message.displayPanel && message.panelName == 'encrypt'">
                        <div ng-form="encryptForm">
                            <div class="form-group col-md-12">
                                <strong>Encrypt for non-ProtonMail users</strong> <a href="https://support.protonmail.ch/knowledge-base/encrypt-for-outside-users/" target="_blank"><i class="fa fa-info-circle"></i></a>
                            </div>
                            <div class="form-group col-md-12"  ng-class="{'has-error': encryptForm.outsidePw.$touched && encryptForm.outsidePw.$error.required}">
                                <label class="control-label text-muted">{{ 'MESSAGE_PASSWORD' | translate }}</label>
                                <input type="password" autocomplete="off" name="outsidePw" ng-model="params.password" placeholder="Password" class="form-control" required="" />
                            </div>
                            <div class="form-group col-md-12" ng-class="{'has-error': encryptForm.outsidePwConfirm.$touched && encryptForm.outsidePwConfirm.$error.required}">
                                <label class="control-label text-muted">{{ ' CONFIRM_MESSAGE_PASSWORD' | translate }}</label>
                                <input type="password" autocomplete="off" name="outsidePwConfirm" ng-model="params.confirm"placeholder="Confirm Password" class="form-control" required="" />
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label text-muted">{{ 'PASSWORD_HINT' | translate }} ({{ 'OPTIONAL' | translate }})</label>
                                <input type="text" autocomplete="off" name="outsidePwHint" ng-model="params.hint" placeholder="Hint" class="form-control" />
                            </div>
                            <div class="form-group col-md-12">
                                <i class="text-muted">Encrypted messages to non-ProtonMail recipients will expire in 28 days unless a shorter expiration time is set.</i>
                            </div>
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-default btn-sm" ng-click="clearEncrypt(message, params, encryptForm);">{{ 'CANCEL' | translate }}</button>
                                <button type="submit" class="btn btn-primary btn-sm" ng-click="setEncrypt(message, params)" ng-disabled="encryptForm.$invalid">{{ 'SET' | translate }}</button>
                            </div>
                        </div>
                    </div>

                    <div class="options" ng-show="message.displayPanel && message.panelName == 'expiration'">
                        <div class="form-group col-md-12">
                            <strong>{{ 'EXPIRATION_TIME' | translate }}</strong> <a href="https://support.protonmail.ch/knowledge-base/expiration/" target="_blank"><i class="fa fa-info-circle"></i></a>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="range" min="1" max="{{maxExpiration}}" step="1" name="ExpirationTime" ng-init="initExpiration(message, params)" ng-model="params.expiration" />
                        </div>
                        <div class="form-group col-md-12 text-center" ng-show="params.expiration">
                            <h2 class="text-purple">{{params.expiration}} {{ 'HOURS' | translate }}</h2>
                            <h4 class="text-muted">{{params.expiration | humanDuration:'hours'}}</h4>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-default btn-sm" ng-click="clearExpiration(message)">{{ 'CANCEL' | translate }}</button>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="setExpiration(message, params)">{{ 'SET' | translate }}</button>
                        </div>
                    </div>
                    <div
                    class="dropzone composer-dropzone"
                    dropzone="dropzoneConfig(message)"
                    ng-show="isOver && message.focussed && !preventDropbox"></div>
                    <squire ng-model="message.Body"></squire>
                    <button
                    class="btn btn-sm attach-collapse"
                    ng-show="message.Attachments.length > 0"
                    ng-click="slideDown(message)"
                    pt-placement="left"
                    pt-tooltip="{{ 'TOGGLE_DISPLAY_ATTACHMENTS' | translate }}">
                        <i
                        class="fa fa-caret-down transition"
                        ng-class="{'fa-rotate-180': !!!message.attachmentsToggle}"></i>
                    </button>
                    <div
                    class="previews"
                    ng-show="message.Attachments.length > 0 && message.attachmentsToggle === true">
                        <span
                        title="{{attachment.filename || attachment.Name}}"
                        class="preview-template"
                        id="attachment{{$index}}"
                        ng-repeat="attachment in message.Attachments"
                        ng-init="initAttachment(attachment, $index)">
                            <span
                            class="preview-name"
                            ng-bind="attachment.filename || attachment.Name"></span>
                            <a
                            href=""
                            ng-show="!!attachment.uploading"
                            class="preview-close"
                            ng-click="cancelAttachment(attachment, message)"><i class="fa fa-times"></i></a>
                            <a
                            href=""
                            ng-show="!!!attachment.uploading"
                            class="preview-close"
                            ng-click="removeAttachment(attachment, message)"><i class="fa fa-times"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="composer-footer" ng-hide="message.minimized">
                <button
                class="btn btn-sm btn-default btn-add-attachment"
                ng-class="{
                    'active': message.displayPanel && message.panelName == 'attachments',
                    'btn-primary': message.Attachments && message.Attachments.length > 0,
                    disabled: message.loading()
                }"
                pt-tooltip="{{ 'ATTACHMENTS' | translate }}"
                pt-placement="top"
                >
                    <i class="fa fa-paperclip"></i>
                    <span ng-show="!!message.maximized"> {{ 'ATTACHMENTS' | translate }}</span>
                </button>
                <button
                class="btn btn-sm btn-default"
                ng-class="{
                    'active': message.displayPanel && message.panelName == 'encrypt',
                    'btn-primary': message.IsEncrypted === 1,
                    disabled: message.loading()
                }"
                pt-placement="top"
                pt-tooltip="{{ 'ENCRYPTION' | translate }}"
                ng-click="togglePanel(message, 'encrypt')">
                    <i class="fa fa-lock"></i>
                    <span ng-show="!!message.maximized"> {{ 'ENCRYPTION' | translate }}</span>
                </button>
                <button
                class="btn btn-sm btn-default"
                ng-class="{
                    'active': message.displayPanel && message.panelName == 'expiration',
                    'btn-primary': message.ExpirationTime > 0,
                    disabled: message.loading()
                }"
                pt-placement="top"
                pt-tooltip="{{ 'EXPIRATION_TIME' | translate }}"
                ng-click="togglePanel(message, 'expiration')">
                    <i class="fa fa-clock-o"></i>
                    <span ng-show="!!message.maximized"> {{ 'EXPIRATION_TIME' | translate }}</span>
                </button>
                <span class="text-muted" ng-show="message.BackupDate">
                {{ 'SAVED_AT' | translate }} {{ message.BackupDate.getTime() | date : 'shortTime' }}
                </span>
                <div class="pull-right">
                    <button
                    ng-class="{ disabled: message.loading() }"
                    class="btn btn-sm btn-default"
                    ng-disabled="networkActivity.loading() || !!!composerIsSelected(message)"
                    ng-click="close(message, true, false)"
                    pt-tooltip="{{ 'DISCARD' | translate }}"
                    pt-placement="top">
                        <i class="fa fa-trash-o"></i>
                        <span ng-show="!!message.maximized"> {{ 'DISCARD' | translate }}</span>
                    </button>
                    <button
                    ng-class="{ disabled: message.loading() }"
                    class="btn btn-sm btn-default"
                    ng-disabled="networkActivity.loading() || !!!composerIsSelected(message)"
                    ng-click="save(message, false, false, true)"
                    pt-tooltip="{{ 'SAVE' | translate }}"
                    pt-placement="top">
                        <i class="fa fa-floppy-o"></i>
                        <span ng-show="!!message.maximized"> {{ 'SAVE' | translate }}</span>
                    </button>
                    <button
                    ng-hide="message.loading()"
                    class="btn btn-sm btn-primary"
                    ng-disabled="networkActivity.loading() || !!!composerIsSelected(message) || message.uploading"
                    ng-click="send(message)">
                        <i class="fa fa-send" ng-show="!!message.maximized"></i>
                        {{ 'SEND' | translate }}
                    </button>
                    <button
                    ng-show="message.loading() && sending"
                    class="btn btn-sm btn-primary disabled">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        {{ 'SENDING' | translate }}
                    </button>
                    <button
                    ng-show="message.loading() && saving && !sending"
                    class="btn btn-sm btn-primary disabled">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        {{ 'SAVING' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </ng-form>
</div>
