<div class="message-toolbar compose">
  <ul class="nav navbar-nav">
    <li class="save">
      <a href="#"
         ng-class=""
         ng-click="saveDraft()">
        <i class="fa fa-floppy-o"></i> Draft
      </a>
    </li>
    <li class="attachments">
      <form>
        <input type="file"
               multiple
               ng-file-select="selectFile($files)"
               name="file_selector" />
      </form>
      <a href="#"><i class="fa fa-paperclip"></i></a>
    </li>
    <li>
      <a href="#" class="dropdown-toggle"
         data-toggle="dropdown">
        <i class="fa fa-cog"></i> <i class="fa fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li ng-class="{'toggled-on': savesContacts}">
          <a href="#" ng-click="toggleConfig('savesContacts')">
            <i class="fa fa-fw fa-user"></i> Automatically save contacts
            <i class="fa fa-fw fa-check"></i>
          </a>
        </li>
        <li ng-class="{'toggled-on': !message.Attachments && savesDraft, disabled: message.Attachments}">
          <a href="#" ng-click="toggleConfig('savesDraft')" class="">
            <i class="fa fa-fw fa-save"></i> Automatically save draft
            <i class="fa fa-fw fa-check"></i>
          </a>
        </li>
      </ul>
    </li>
    <li ng-if="message.MessageID && composeForm.$pristine" class="saved">
      <i class="fa fa-check"></i> Saved
    </li>
  </ul>

  <ul class="nav navbar-nav pull-right navigation">
    <li class="send primary" ng-class="{disabled: !composeForm.$valid}">
      <a href="#" ng-click="send()">
        <i class="fa fa-paper-plane"></i> Send
      </a>
    </li>
  </ul>
</div>
