<div class="labels dropdown-menu" role="menu" ng-click="$event.stopPropagation()">
    <div class="modal-body">
        <div class="form-group" ng-show="labels.length > 0">
            <input type="search" id="searchLabels" placeholder="Filter Labels..." class="form-control" ng-model="searchLabels" />
        </div>
        <ul class="list-group" ng-show="labels.length > 0">
            <li class="list-group-item" ng-repeat="label in labels | filter:searchLabels">
                <!-- <input type="checkbox" ng-model="label.selected" /> -->
                <a href="" ng-click="toggleLabel(label)">
                    <i class="fa" ng-class="{'fa-square': label.mode === 0, 'fa-minus-square': label.mode === 2, 'fa-check-square': label.mode === 1}"></i>
                </a>
                <span class="label label-pm" style="background-color: {{label.LabelColor}}">
                    <i class="fa fa-tag"></i> {{label.LabelName}}
                </span>
            </li>
        </ul>
        <div class="row">
            <div class="col-xs-6">
                <a ui-sref="secured.labels" title="Add and manage your labels">Manage Labels</a>
            </div>
            <div class="col-xs-6 text-right" ng-show="labels.length > 0">
                <label for="">
                    <input type="checkbox" ng-model="alsoArchived" /> also Archived
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer" ng-show="labels.length > 0">
        <a class="btn" ng-click="closeLabels()">Cancel</a>
        <button tabindex="1" type="button" class="btn btn-sm btn-primary" ng-click="applyLabels()">Save</button>
    </div>
</div>
