<ng-form novalidate ng-submit="setExpiration(message, params)">
    <div class="form-group col-md-12">
        <label for="ExpirationTime" class="control-label text-muted">Expiration Time</label>
        <input type="range" min="0" max="672" name="ExpirationTime" id="ExpirationTime" ng-model="params.expiration" placeholder="0" class="form-control" ng-change="rotateIcon(params.expiration);" />
    </div>
    <div class="form-group col-md-12 text-center" ng-show="params.expiration">
        <h2 class="text-purple">{{params.expiration}} hours</h2>
        <h4 class="text-muted">{{params.expiration | humanDuration:'hours'}}</h4>
    </div>
    <div class="col-md-12 text-right">
        <button type="button" class="btn btn-default btn-sm" ng-click="clearExpiration(message)">Clear</button>
        <button type="submit" class="btn btn-primary btn-sm">Set</button>
    </div>
</ng-form>
