<footer id="footer">
    <div class="container-fluid">
        <div class="clearfix">
            <div class="pull-left">
                &copy; 2015 ProtonMail.ch <span> - Made globally, hosted in Switzerland.
            </div>
            <div class="pull-right">
                <ul class="list-inline">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/pages/faq">FAQ</a></li>
                    <li><a href="/pages/security-details">Security Details</a></li>
                    <li><a href="/pages/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/pages/terms-and-conditions">Terms &amp; Conditions</a></li>
                    <li><a href="//twitter.com/ProtonMail" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="//www.facebook.com/protonmail" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
