<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchFormLabel" aria-hidden="true" ng-controller="SearchController">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" name="searchForm" novalidate ng-submit="search()" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times"></i>
                        <span class="sr-only">{{ 'CLOSE' | translate }}</span>
                    </button>
                    <h4 class="modal-title">{{ 'ADVANCED_SEARCH' | translate }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="search_word">{{ 'KEYWORDS' | translate }}</label>
                                <input id="search_word" name="search_word" type="text"  class="form-control" placeholder="{{ 'KEYWORDS' | translate }}" ng-model="params.words" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="search_folder">{{ 'FOLDER' | translate }}</label>
                                <select name="search_folder" id="search_folder" class="form-control">
                                    <optgroup label="Default">
                                        <option value="-1" selected="selected">{{ 'ALL' | translate }}</option>
                                    </optgroup>
                                    <optgroup label="Folders">
                                        <option ng-repeat="(key, value) in folders" value="{{value}}">{{key}}</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="search_label">{{ 'LABEL' | translate }}</label>
                                <select name="search_label" id="search_label" class="form-control">
                                    <optgroup label="Default">
                                        <option value="0">{{ 'ALL_MESSAGES' | translate }}</option>
                                    </optgroup>
                                    <optgroup label="{{ 'LABELS' | translate }}">
                                        <option value="{{label.ID}}" ng-repeat="label in labels">{{label.Name}}</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div>
                                <label for="">{{ 'BETWEEN' | translate }}</label>
                                <div class="fluid-container">
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <input pikaday="params.begin" id="beginDate" name="begin" on-select="setMin()" class="form-control" placeholder="{{ 'FROM' | translate }}" />
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <input pikaday="params.end" id="endDate" name="end" on-select="setMax()" class="form-control" placeholder="{{ 'UNTIL' | translate }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">{{ 'ATTACHMENTS' | translate }}</label>
                                <div class="radio">
                                    <label for="attachments_yes" class="radio-inline">
                                        <input id="attachments_yes" type="radio" name="attachments" ng-model="params.attachments" value="1" /> Yes
                                    </label>
                                    <label for="attachments_no" class="radio-inline">
                                        <input id="attachments_no" type="radio" name="attachments" ng-model="params.attachments" value="0" /> No
                                    </label>
                                    <label for="attachments_all" class="radio-inline">
                                        <input id="attachments_all" type="radio" name="attachments" ng-model="params.attachments" value="2" /> All
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="search_sender">{{ 'SENDER' | translate }}</label>
                                <input type="text" id="search_sender" name="search_sender" class="form-control" ng-model="params.from" placeholder="{{ 'FROM' | translate }}" />
                            </div>
                            <div class="form-group">
                                <label for="search_recipient">{{ 'RECIPIENT' | translate }}</label>
                                <input type="text" id="search_recipient" name="search_recipient" class="form-control" ng-model="params.to" placeholder="To" />
                            </div>
                            <div class="form-group">
                                <label for="search_subject">{{ 'SUBJECT' | translate }}</label>
                                <input type="text" id="search_subject" name="search_subject" class="form-control" ng-model="params.subject" placeholder="Subject" />
                            </div>
                            <div class="form-group">
                                <label for="">Is Starred</label>
                                <div class="radio">
                                    <label for="starred_yes" class="radio-inline">
                                        <input id="starred_yes" type="radio" name="starred" ng-model="params.starred" value="1" /> {{ 'YES' | translate }}
                                    </label>
                                    <label for="starred_no" class="radio-inline">
                                        <input id="starred_no" type="radio" name="starred" ng-model="params.starred" value="0" /> {{ 'NO' | translate }}
                                    </label>
                                    <label for="starred_all" class="radio-inline">
                                        <input id="starred_all" type="radio" name="starred" ng-model="params.starred" value="2" /> {{ 'ALL' | translate }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="" class="btn pull-left" data-dismiss="modal">{{ 'CANCEL' | translate }}</a>
                    <button type="submit" class="btn btn-primary" ng-class="{disabled: networkActivity.loading()}">
                    <span>{{ 'ADVANCED_SEARCH' | translate }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
