<header id="pm_header-desktop" class="pm_opensans" ng-controller="HeaderController">
    <a href="#" class="logo" ui-sref="secured.inbox">
        <img src="assets/img/logo.png" height="20" alt="ProtonMail" />
    </a>
    <ng-include src="'templates/partials/searchForm.tpl.html'"></ng-include>
    <form method="post" class="searchForm"class="searchForm" ng-submit="searchContacts()" ng-if="isContactsView()">
        <fieldset>
            <input type="search" placeholder="{{ 'SEARCH_CONTACTS' | translate }}" autocomplete="off" ng-model="params.searchContactInput" ng-change="searchContacts()" class="query searchInput" />
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </fieldset>
    </form>
    <ul class="navigation">
        <li>
            <a id="tour-support" href="#" ng-click="openReportModal()">
                <em><i class="fa fa-bug"></i></em>
                <strong>{{ 'REPORT_BUG' | translate }}</strong>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="secured.contacts">
                <em><i class="fa fa-users"></i></em>
                <strong>{{ 'CONTACTS' | translate }}</strong>
            </a>
        </li>
        <li ng-class="{'active': activeSettings()}">
            <a id="tour-settings" ui-sref="secured.dashboard" ng-show="user.Role === 0 || user.Role === 2">
                <em><i class="fa fa-cogs"></i></em>
                <strong>{{ 'SETTINGS' | translate }}</strong>
            </a>
            <a id="tour-settings" ui-sref="secured.account" ng-show="user.Role === 1">
                <em><i class="fa fa-cogs"></i></em>
                <strong>{{ 'SETTINGS' | translate }}</strong>
            </a>
        </li>
        <li>
            <span class="pm_buttons">
                <a class="pm_trigger" dropdown>
                    <em><i class="fa fa-user"></i> <i class="fa fa-angle-down"></i></em>
                    <strong>{{ user.DisplayName || user.Addresses[0].Email }}</strong>
                </a>
                <span class="pm_dropdown wide right">
                    <p><strong>{{ user.DisplayName }}</strong></p>
                    <p><b>{{ user.Addresses[0].Email }}</b></p>
                    <a class="help" ng-click="tour()" ng-hide="true">
                        <i class="fa fa-magic"></i> {{ 'TUTORIAL' | translate }}
                    </a>
                    <a class="help" target="_blank" href="https://protonmail.com/support">
                        <i class="fa fa-life-ring"></i> {{ 'HELP_AND_ANSWERS' | translate }}
                    </a>
                    <br>
                    <a ng-click="logout();" class="pm_button primary">
                    {{ 'LOGOUT' | translate }}
                    </a>
                    <a href="https://protonmail.com/blog/protonmail-beta-v3-0-release-notes/" target="_blank" class="version" title="{{ dateVersion }}" target="_blank">
                        <small>ProtonMail <span>BETA</span> {{ appVersion }}</small>
                    </a>
                </span>
            </span>

        </li>
    </ul>
</header>
