<header id="pm_header-desktop" class="pm_opensans" ng-controller="HeaderController">
    <a href="#" class="logo" ui-sref="secured.inbox">
        <img src="assets/img/logo.png" height="20" alt="ProtonMail" />
    </a>
    <ng-include src="'templates/partials/searchForm.tpl.html'"></ng-include>
    <form method="post" class="searchForm"class="searchForm" ng-submit="searchContacts()" ng-if="isContactsView()">
        <fieldset>
            <input type="search" placeholder="{{ 'SEARCH_CONTACTS' | translate }}" autocomplete="off" ng-model="params.searchContactInput" ng-change="searchContacts()" class="query searchInput" />
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </fieldset>
    </form>
    <ul class="navigation">
        <li ui-sref-active="active">
            <a ui-sref="secured.dashboard">
                    <i class="fa fa-arrow-up"></i><br />
                    <strong>{{ 'UPGRADE' | translate }}</strong>
            </a>
        </li>
        <li ng-class="{'active': activeSettings()}">
            <a id="tour-settings" ui-sref="secured.account">
                <i class="fa fa-cogs"></i><br />
                <strong>{{ 'SETTINGS' | translate }}</strong>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="secured.contacts">
                <i class="fa fa-users"></i><br />
                <strong>{{ 'CONTACTS' | translate }}</strong>
            </a>
        </li>
        <li>
            <span class="pm_buttons">
                <a id="tour-support" href="#" dropdown>
                    <i class="fa fa-life-ring"></i> <i class="fa fa-angle-down"></i><br />
                    <strong>{{ 'HELP' | translate }}</strong>
                </a>
                <span class="pm_dropdown wide">
                    <a href="https://protonmail.com/support" target="_blank" class="help"><i class="fa fa-question-circle"></i> {{ 'I_HAVE_A_QUESTION' | translate }}</a>
                    <a href="#" ng-click="openReportModal()" class="help"><i class="fa fa-bug"></i> {{ 'REPORT_A_BUG' | translate }}</a>
                </span>
            </span>
        </li>
        <li>
            <span class="pm_buttons">
                <a href="#" dropdown>
                    <i class="fa fa-user"></i> <i class="fa fa-angle-down"></i><br />
                    <strong>{{ user.DisplayName || user.Addresses[0].Email }}</strong>
                </a>
                <span class="pm_dropdown wide right">
                    <p><strong>{{ user.DisplayName }}</strong></p>
                    <p><b>{{ user.Addresses[0].Email }}</b></p>
                    <a href="#" class="help" ng-click="tour()" ng-if="wizardEnabled === true">
                        <i class="fa fa-magic"></i> {{ 'TUTORIAL' | translate }}
                    </a>
                    <a class="help" target="_blank" href="https://protonmail.com/support">
                        <i class="fa fa-life-ring"></i> {{ 'HELP_AND_ANSWERS' | translate }}
                    </a>
                    <br />
                    <button type="button" ng-click="logout()" class="pm_button primary">{{ 'LOGOUT' | translate }}</button>
                </span>
            </span>
        </li>
    </ul>
</header>
