<header id="pm_header" class="clearfix pm_opensans" ng-controller="HeaderController">
    <a href="#" class="logo" ng-click="toggleLayoutMode()"><img src="assets/img/logo.svg"></a>
    <a href="#" class="logoMobile" ng-click="sidebarToggle()"><img src="assets/img/logo_mobile.png"></a>
    <a href="#" class="compose"><i class="fa fa-pencil"></i> <span>Compose</span></a>
    <a href="#" class="searchBtn"><i class="fa fa-search"></i></a>
    <form class="searchForm" ng-submit="searchMessages()" ng-if="!isContactsView()">
        <label>
            <i class="fa fa-search"></i>
        </label>
        <button  type="button" class="advanced" ng-click="openSearchModal()" pt-tooltip="{{ 'ADVANCED_SEARCH' | translate }}" pt-placement="bottom" ng-if="includedByState">
            <i class="fa fa-angle-down"></i>
        </button>
        <input type="text" placeholder="{{ 'SEARCH_MESSAGES' | translate }}" autocomplete="off" ng-model="params.searchMessageInput" ng-enter="searchMessages()" class="query" />
    </form>
    <form class="searchForm" ng-submit="searchContacts()" ng-if="isContactsView()">
        <label>
            <i class="fa fa-search"></i>
        </label>
        <input type="text" placeholder="{{ 'SEARCH_CONTACTS' | translate }}" autocomplete="off" ng-model="params.searchContactInput" ng-change="searchContacts()" class="query" />
    </form>
    <ul class="navigation">
        <li ui-sref-active="active">
            <a href="#" ui-sref="secured.inbox">
                <i class="fa fa-envelope-o"></i>
                <strong>Mailbox</strong>
            </a>
        </li>
        <li ui-sref-active="active">
            <a href="#" ui-sref="secured.contacts">
                <i class="fa fa-users"></i>
                <strong>{{ 'CONTACTS' | translate }}</strong>
            </a>
        </li>
        <li ui-sref-active="active">
            <a href="#" ui-sref="secured.settings">
                <i class="fa fa-cogs"></i>
                <strong>{{ 'SETTINGS' | translate }}</strong>
            </a>
        </li>
        <li>
            <a href="#" ng-click="logout()">
                <i class="fa fa-power-off"></i>
                <strong>{{ 'LOGOUT' | translate }}</strong>
            </a>
        </li>
    </ul>
</header>
