<header
    id="pm_header"
    class="pm_opensans headerNoAuth"
    ng-controller="HeaderController">
    <a
        class="back headerNoAuth-btn-back"
        href="https://protonmail.com"
        target="_self">
    	<i class="fa fa-chevron-left"></i> <span translate translate-context="Action">Back to protonmail.com</span>
    </a>
    <div>
        <new-bug-report class="headerNoAuth-btn-report"></new-bug-report>
        <a
            class="signUp pm_button primary headerNoAuth-btn-signup"
            href="https://protonmail.com/signup"
            ng-if="!isLoggedIn"
            translate
            translate-context="Action">Sign up for free</a>
        <a
            class="logOut pm_button primary headerNoAuth-btn-logout"
            ui-sref="login"
            ng-if="isLoggedIn"
            translate
            translate-context="Action">Log out</a>
    </div>
</header>
