<header id="pm_header" class="pm_opensans" ng-controller="HeaderController">
    <a href="#" class="logo" ui-sref="secured.inbox.list">
        <img src="assets/img/logo.png" height="20" alt="ProtonMail" />
    </a>
    <a href="#" class="logoMobile" ng-click="sidebarToggle();">
        <img src="assets/img/logo_mobile.png">
    </a>
    <a href="#" class="compose" ng-click="compose();">
        <i class="fa fa-pencil"></i> <span>Compose</span>
    </a>
    <a href="#" class="searchBtn" ng-click="openSearchModal();">
        <i class="fa fa-search"></i>
    </a>
    <form class="searchForm" ng-submit="searchMessages()" ng-if="!isContactsView()">
        <label>
            <i class="fa fa-search"></i>
        </label>
        <button  type="button" class="advanced" ng-click="openSearchModal(params.searchMessageInput)" pt-tooltip="{{ 'ADVANCED_SEARCH' | translate }}" pt-placement="bottom">
            <i class="fa fa-angle-down"></i>
        </button>
        <input type="search" placeholder="{{ 'SEARCH_MESSAGES' | translate }}" autocomplete="off" ng-model="params.searchMessageInput" ng-enter="searchMessages()" class="query" />
    </form>
    <form class="searchForm" ng-submit="searchContacts()" ng-if="isContactsView()">
        <label>
            <i class="fa fa-search"></i>
        </label>
        <input type="search" placeholder="{{ 'SEARCH_CONTACTS' | translate }}" autocomplete="off" ng-model="params.searchContactInput" ng-change="searchContacts()" class="query" />
    </form>
    <ul class="navigation">
        <!-- <li ng-class="{'active': activeMail()}">
            <a href="#" ui-sref="secured.inbox.list">
                <em><i class="fa fa-envelope-o"></i></em>
                <strong>Mailbox</strong>
            </a>
        </li> -->
        <li>
            <a href="" ng-click="openReportModal()">
                <em><i class="fa fa-bug"></i></em>
                <strong>{{ 'REPORT_BUG' | translate }}</strong>
            </a>
        </li>
        <li ui-sref-active="active">
            <a href="" ui-sref="secured.contacts">
                <em><i class="fa fa-users"></i></em>
                <strong>{{ 'CONTACTS' | translate }}</strong>
            </a>
        </li>
        <li ng-class="{'active': activeSettings()}">
            <a href="" ui-sref="secured.dashboard">
                <em><i class="fa fa-cogs"></i></em>
                <strong>{{ 'SETTINGS' | translate }}</strong>
            </a>
        </li>
        <li>
            <span class="pm_buttons">
                <a href class="pm_trigger" ng-dropdown>
                    <em><i class="fa fa-user"></i> <i class="fa fa-angle-down"></i></em>
                    <strong>{{ user.DisplayName }}</strong>
                </a>
                <span class="pm_dropdown wide right">
                    <p><strong>{{ user.DisplayName }}</strong></p>
                    <p><b>{{ user.Addresses[0].Email }}</b> </p>
                    <a href="" class="help">
                        <i class="fa fa-life-ring"></i> {{ 'HELP_AND_ANSWERS' | translate }}
                    </a>
                    <a href="" ng-click="logout();" class="pm_button primary">
                    {{ 'LOGOUT' | translate }}
                    </a>
                </span>
            </span>

        </li>
    </ul>
</header>
