<form id="sign_in_form" name="sign_in" action="/login" method="post" class="pure-form pure-form-stacked" role="form" autocomplete="off">
  <h1 class="text-center">
    <span class="fa fa-2x fa-power-off faded"></span>Login
  </h1> 

  <p class="alert alert-warning text-center" id="igg-contributor">
    <strong>
      <a href="#">Indiegogo Contributor?</a>
    </strong>
  </p> 
 
  <div class="alert alert-danger" id="error521" ng-if="error">{{ error.message }}</div>

  <input autocomplete="off" type="text" class="form-control" tabindex="1" id="username" placeholder="Username" name="UserName" required="" autofocus="" value="">
  <input autocomplete="off" type="password" class="form-control" tabindex="2" id="password" name="Password" required="" placeholder="Login Password" value="">

  <a href="/support/reset-password" class="pull-left forgotpass">Forgot Password?</a>

  <button type="button" class="pull-right pure-button pure-button-primary" id="login_btn" tabindex="4" ng-click="login()">
    <span class="fa fa-sign-in"></span> Login
  </button>
  
  <input type="hidden" id="hashed_pw" name="hashed_pw"> 
</form>
