<div class="message-toolbar hidden-xs">
    <ul class="nav navbar-nav">
        <li class="seperator">
            <a href class="backBtn" ng-click="goToMessageList()" pt-tooltip="{{ 'BACK' | translate }}" pt-placement="bottom">
                <i class="fa fa-fw fa-level-up fa-rotate-270"></i>
            </a>
        </li>
        <li
            ng-if="message.location() != 'archive'">
            <a
            href
            pt-tooltip="{{ 'ARCHIVE' | translate }}"
            pt-placement="bottom"
            ng-click="moveMessageTo('inbox')">
                <i class="fa fa-fw fa-archive"></i>
            </a>
        </li>
        <li
            ng-if="message.location() != 'spam'">
            <a
            href
            pt-tooltip="{{ 'SPAM' | translate }}"
            pt-placement="bottom"
            ng-click="moveMessageTo('spam')">
                <i class="fa fa-fw fa-ban"></i>
            </a>
        </li>
        <li ng-if="message.location() != 'trash'">
            <a
            href
            pt-tooltip="{{ 'TRASH' | translate }}"
            pt-placement="bottom"
            ng-click="moveMessageTo('trash')">
                <i class="fa fa-fw fa-trash-o"></i>
            </a>
        </li>
        <li
            ng-if="message.IsRead" class="seperator">
            <a
            href
            ng-click="markAsUnread()"
            pt-tooltip="{{ 'MARK_AS_UNREAD' | translate }}"
            pt-placement="bottom">
                <i class="fa fa-eye-slash"></i>
            </a>
        </li>
        <li
            ng-if="!message.IsRead" class="seperator">
            <a
            href
            ng-click="markAsRead()"
            pt-tooltip="{{ 'MARK_AS_READ' | translate }}"
            pt-placement="bottom">
                <i class="fa fa-eye"></i>
            </a>
        </li>
        <li
            ng-if="message.location() != 'inbox'">
            <a
            href
            pt-tooltip="{{ 'INBOX' | translate }}"
            pt-placement="bottom"
            ng-click="moveMessageTo('inbox')">
                <i class="fa fa-fw fa-inbox"></i>
            </a>
        </li>
        <li
            ng-if="message.location() == 'spam' || message.location() == 'trash'">
            <a
            href
            pt-tooltip="{{ 'DELETE' | translate }}"
            pt-placement="bottom"
            ng-click="moveMessageTo('delete')">
                <i class="fa fa-times-circle"></i>
            </a>
        </li>
        <li class="seperator">
            <a href="" ng-click="openLabels(message);" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-fw fa-tag"></i>
                <i class="fa fa-caret-down"></i>
            </a>
            <ng-include src="'templates/partials/dropdown.labels.tpl.html'"></ng-include>
        </li>
        <li class="seperator">
            <a href class="dropdown-toggle" data-toggle="dropdown">
                {{ 'MORE' | translate }} <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="" ng-click="print()">
                        <i class="fa fa-print"></i> {{ 'PRINT' | translate }}
                    </a>
                </li>
                <li>
                    <a href="" ng-click="togglePlainHtml()">
                        <span ng-show="message.viewMode === 'html'">
                            <i class="fa fa-file-o"></i> {{ 'VIEW_SOURCE' | translate }}
                        </span>
                        <span ng-show="message.viewMode === 'plain'">
                            <i class="fa fa-file-photo-o"></i> {{ 'VIEW_HTML' | translate }}
                        </span>
                    </a>
                </li>
                <li>
                    <a href="" ng-click="viewRaw()">
                        <i class="fa fa-code"></i> {{ 'PGP_PAYLOAD' | translate }}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav pull-right navigation">
        <li class="prev-message seperator">
            <a href ng-class="{disabled: !hasAdjacentMessage(message, -1)}" ng-click="goToAdjacentMessage(message, -1)" title="{{ 'PREVIOUS' | translate }}">
                <i class="fa fa-chevron-left"></i>
            </a>
        </li>
        <li class="next-message">
            <a href ng-class="{disabled: !hasAdjacentMessage(message, 1)}" ng-click="goToAdjacentMessage(message, 1)" title="{{ 'NEXT' | translate }}">
                <i class="fa fa-chevron-right"></i>
            </a>
        </li>
    </ul>
</div>
