<h1>
    <span class="pull-right btn-group">
            <a class='btn btn-default' href ng-click="reply(message)">
                <i class="fa fa-reply"></i> 
                <span class="visible-md-inline-block visible-lg-inline-block">{{ 'REPLY' | translate }}</span>
            </a>
            <a class='btn btn-default' href ng-click="replyAll(message)">
                <i class="fa fa-reply-all"></i> 
                <span class="visible-md-inline-block visible-lg-inline-block">{{ 'REPLY_ALL' | translate }}</span>
            </a>
            <a class='btn btn-default' href ng-click="forward(message)">
                <i class="fa fa-mail-forward"></i> 
                <span class="visible-md-inline-block visible-lg-inline-block">{{ 'FORWARD' | translate }}</span>
            </a>
    </span>
    <a href class="star" ng-click="toggleStar(message)">
        <i class="fa {{ (message.Starred === 1) ? 'fa-star' : 'fa-star-o' }}"></i>
    </a>
    <i 
    class="fa"
    ng-class="lockType(message)"
    title="{{ getMessageEncryptionType(message) }}"></i>
    <span class="attachement" ng-show="message.Attachments.length > 0">
        <i class="fa fa-paperclip"></i>
    </span>
    {{ message.Subject }}
    <span class="label label-pm" style="background-color: {{ getLabel(id).Color }}" ng-repeat="id in message.LabelIDs">
        {{ getLabel(id).Name }} <a href="" ng-click="detachLabel(id)"><i class="fa fa-times"></i></a>
    </span>
</h1>