<div class="message-toolbar">
    <ul class="nav navbar-nav" id="messageActionButtons">
        <li class="seperator">
            <a href class="backBtn" ng-click="goToMessageList()" pt-tooltip="{{ 'BACK' | translate }}" pt-placement="bottom">
                <i class="fa fa-long-arrow-left"></i>
            </a>
        </li>
        <li
            ng-class="{ disabled: !message.IsRead }">
            <a
            href
            ng-click="markAsUnread()"
            pt-tooltip="{{ 'MARK_AS_UNREAD' | translate }}"
            pt-placement="bottom">
                <i class="fa fa-eye-slash"></i>
            </a>
        </li>
        <li
            ng-if="message.location() != 'archive'">
            <a
            href
            pt-tooltip="{{ 'ARCHIVE' | translate }}"
            pt-placement="bottom"
            ng-click="moveMessageTo('archive')">
                <i class="fa fa-archive"></i>
            </a>
        </li>
        <li
            ng-if="message.location() != 'spam' && message.location() != 'sent'">
            <a
            href
            pt-tooltip="{{ 'SPAM' | translate }}"
            pt-placement="bottom"
            ng-click="moveMessageTo('spam')">
                <i class="fa fa-spam-flame"></i>
            </a>
        </li>
        <li
            ng-if="message.location() != 'inbox'">
            <a
            href
            pt-tooltip="{{ 'INBOX' | translate }}"
            pt-placement="bottom"
            ng-click="moveMessageTo('inbox')">
                <i class="fa fa-inbox"></i>
            </a>
        </li>
        <li ng-if="message.location() != 'trash'" class="seperator">
            <a
            href
            pt-tooltip="{{ 'TRASH' | translate }}"
            pt-placement="bottom"
            ng-click="moveMessageTo('trash')">
                <i class="fa fa-trash-o"></i>
            </a>
        </li>
        <li
            ng-if="message.location() == 'spam' || message.location() == 'trash'">
            <a
            href
            pt-tooltip="{{ 'DELETE' | translate }}"
            pt-placement="bottom"
            ng-click="moveMessageTo('delete')">
                <i class="fa fa-times-circle"></i>
            </a>
        </li>
        <li class="seperator">
            <a href="" id="open-label" class="dropdown-toggle" data-toggle="dropdown" ng-class="{ disabled: messages().length == 0 }" pt-tooltip="{{ 'LABELS' | translate }}" pt-placement="bottom">
                <i class="fa fa-tag"></i>
                <i class="fa fa-caret-down"></i>
            </a>
            <dropdown-labels id="labelDropdownThing" labels="labels" messages="[message]" save="saveLabels" />
        </li>
        <li class="seperator">
            <a href class="dropdown-toggle" data-toggle="dropdown">
                {{ 'MORE' | translate }} <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu" id="miscMobileActions">
                <li>
                    <a href="" ng-click="print()">
                        <i class="fa fa-print"></i> {{ 'PRINT' | translate }}
                    </a>
                </li>
                <li>
                    <a href="" ng-click="togglePlainHtml()">
                        <span ng-show="message.viewMode === 'html'">
                            <i class="fa fa-file-text-o"></i> {{ 'VIEW_SOURCE' | translate }}
                        </span>
                        <span ng-show="message.viewMode === 'plain'">
                            <i class="fa fa-file-photo-o"></i> {{ 'VIEW_HTML' | translate }}
                        </span>
                    </a>
                </li>
                <li>
                    <a ng-click="viewPgp()" href="#" ng-if="(message.IsEncrypted != '0')">
                        <i class="fa fa-code"></i> {{ 'VIEW_HEADERS' | translate }}
                    </a>
                    <a ng-click="viewPgp()" href="#" ng-if="(message.IsEncrypted == '0')">
                        <i class="fa fa-code"></i> {{ 'VIEW_ORIGINAL' | translate }}
                    </a>
                </li>
            </ul>
        </li>
        <li
            class="seperator"
            ng-hide="true"
            ng-class="{ disabled: message.IsRead }">
            <a
            href
            ng-click="markAsRead()"
            pt-tooltip="{{ 'MARK_AS_READ' | translate }}"
            pt-placement="bottom">
                <i class="fa fa-eye"></i>
            </a>
        </li>
    </ul>

    <ul class="nav navbar-nav pull-right navigation hidden-xs" id="messageActionGroup">
        <li>
            <a href ng-click="reply(message)" class="btn btn-primary">
                <i class="fa fa-reply"></i>
                <span class="visible-md-inline-block visible-lg-inline-block">
                    {{ 'REPLY' | translate }}
                </span>
            </a>
        </li>
        <li>
            <a href ng-click="replyAll(message)" class="btn btn-primary">
                <i class="fa fa-reply-all"></i>
                <span class="visible-md-inline-block visible-lg-inline-block">
                    {{ 'REPLY_ALL' | translate }}
                </span>
            </a>
        </li>
        <li>
            <a href ng-click="forward(message)" class="btn btn-primary">
                <i class="fa fa-mail-forward"></i>
                <span class="visible-md-inline-block visible-lg-inline-block">
                    {{ 'FORWARD' | translate }}
                </span>
            </a>
        </li>
    </ul>
    <!-- <ul class="nav navbar-nav pull-right navigation">
        <li class="prev-message seperator">
            <a href ng-class="{disabled: !hasAdjacentMessage(message, -1)}" ng-click="goToAdjacentMessage(message, -1)" title="{{ 'PREVIOUS' | translate }}">
                <i class="fa fa-chevron-left"></i>
            </a>
        </li>
        <li class="next-message">
            <a href ng-class="{disabled: !hasAdjacentMessage(message, 1)}" ng-click="goToAdjacentMessage(message, 1)" title="{{ 'NEXT' | translate }}">
                <i class="fa fa-chevron-right"></i>
            </a>
        </li>
    </ul> -->
</div>
