<article class="message" ng-controller="MessageController" id="message{{ $index }}" ng-class="{ 'last': $last, 'open': message.expand, 'read': message.IsRead === 1, 'unread': message.IsRead === 0 }">
    <header ng-click="toggle()">
        <span class="meta">
            <a href ng-click="$event.stopPropagation();toggleStar();" class="singleStar">
                <i class="fa" ng-class="{'fa-star': starred(), 'fa-star-o': !starred()}"></i>
            </a>
            <span class="time">{{ message.Time | longReadableTime }}</span>
        </span>
        <span class="from">
            <span class="person">
                <i class="fa fa-reply" ng-show="message.IsReplied === 1"></i>
                <i class="fa fa-reply-all" ng-show="message.IsRepliedAll === 1"></i>
                <i class="fa fa-mail-forward" ng-show="message.IsForwarded === 1"></i>
                <i class="fa fa-paperclip" ng-show="message.HasAttachment === 1"></i>
                <em pt-tooltip="{{ message.Sender.Address }}">{{ (message.Sender.Name || message.Sender.Address) | displayName }}</em>
                <a ng-show="message.expand === true" href class="fa fa-pencil compose" ng-click="$event.stopPropagation();sendMessageTo(message.Sender);" pt-tooltip="{{ 'COMPOSE_TO' | translate }}"></a>
                <em class="draftTag" ng-show="draft() === true">{{ 'DRAFT' | translate }}</em>
                <span class="pm_labels inline pull-left" ng-if="message.labels().length > 0">
                    <span ng-repeat="label in message.labels() | labels" title="{{ label.Name }}" class="pm_label" ng-style="getColorLabel(label)" ng-click="goToLabel(label)">
                        <em>{{ getLabel(label.ID).Name }}</em>
                        <i>{{ getLabel(label.ID).Name | limitTo: 3 }}</i>
                        <a href="" ng-click="detachLabel(label)" class="labelClose">
                            <i class="fa fa-times"></i>
                        </a>
                    </span>
                </span>
                <span class="addLabelButton pm_buttons" ng-show="false">
                    <a href="" class="pm_trigger open-label pull-left addLabel" pt-tooltip="{{ 'ADD_LABEL' | translate }}" ng-dropdown>
                        <small><i class="fa fa-tag"></i> {{ 'ADD_LABEL' | translate }}</small>
                    </a>
                    <span class="pm_dropdown wide pull-left labelDD">
                        <dropdown-labels messages="getMessage" save="saveLabels"></dropdown-labels>
                    </span>
                </span><!-- this needs to re-be styled -->
            </span>
        </span>
    </header>
    <div class="sub" ng-show="message.expand === true">
        <div class="actions">
            <span class="pm_buttons">
                <a href="#" ng-click="reply(message)" pt-tooltip="{{ 'REPLY' | translate }}">
                    <i class="fa fa-mail-reply"></i>
                </a>
                <a href="" class="divider" ng-click="replyAll(message)" pt-tooltip="{{ 'REPLY_ALL' | translate }}">
                    <i class="fa fa-mail-reply-all"></i>
                </a>
                <a href="" class="divider" ng-click="forward(message)">
                    <i class="fa fa-mail-forward"></i>
                </a>
                <a href="#" class="divider pm_trigger" ng-dropdown pt-tooltip="{{ 'MORE' | translate }}">
                    <i class="fa fa-angle-down"></i>
                </a>
                <span class="pm_dropdown wide right">
                    <a href="" ng-click="reply(message)" ng-show="(message.ToList.length + message.CCList.length) > 1">
                        <i class="fa fa-mail-reply"></i> {{ 'REPLY' | translate }}
                    </a>
                    <a href="" ng-click="print()">
                        <i class="fa fa-print"></i> {{ 'PRINT' | translate }}
                    </a>
                    <a href="" ng-click="move('inbox')" ng-show="'secured.trash.**' | includedByState">
                        <i class="fa fa-inbox"></i> {{ 'MOVE_TO_INBOX' | translate }}
                    </a>
                    <a href="" ng-click="move('trash')" ng-hide="'secured.trash.**' | includedByState">
                        <i class="fa fa-trash-o"></i> {{ 'MOVE_TO_TRASH' | translate }}
                    </a>
                    <a href="" ng-click="unread()">
                        <i class="fa fa-eye-slash"></i> {{ 'MARK_AS_UNREAD' | translate }}
                    </a>
                    <a href="" ng-click="move('spam')">
                        <i class="fa fa-ban"></i> {{ 'MARK_AS_SPAM' | translate }}
                    </a>
                    <a href="" ng-click="togglePlainHtml()">
                        <span ng-show="message.viewMode === 'html'">
                            <i class="fa fa-file-text-o"></i> {{ 'VIEW_SOURCE' | translate }}
                        </span>
                        <span ng-show="message.viewMode === 'plain'">
                            <i class="fa fa-file-photo-o"></i> {{ 'VIEW_HTML' | translate }}
                        </span>
                    </a>
                    <a href="" ng-click="viewPgp()" ng-if="message.IsEncrypted !== 0">
                        <i class="fa fa-code"></i> {{ 'VIEW_HEADERS' | translate }}
                    </a>
                    <a href="" ng-click="viewPgp()" ng-if="message.IsEncrypted === 0">
                        <i class="fa fa-code"></i> {{ 'VIEW_ORIGINAL' | translate }}
                    </a>
                </span>
            </span>
        </div><!--/.actions-->
        <div class="data">
            <div ng-if="message.ToList.length" class="toGroup">
                <i>{{ 'TO' | translate }}</i>
                <span class="recipientsWrap">
                    <span ng-repeat="email in ::message.ToList" class="person">
                        <strong>{{ email | contact:'Name' }}</strong>
                        <em>{{ email | contact:'Address' }}</em>
                        <a href class="fa fa-pencil compose" ng-click="sendMessageTo(email)" pt-tooltip="{{ 'COMPOSE_TO' | translate }}"></a>
                    </span>
                </span>
            </div>
            <div ng-if="message.CCList.length" class="ccGroup">
                <i>{{ 'CC' | translate }}</i>
                <span class="recipientsWrap">
                    <span ng-repeat="email in ::message.CCList" class="person">
                        <strong>{{ email | contact:'Name' }}</strong>
                        <em>{{ email | contact:'Address' }}</em>
                        <a href class="fa fa-pencil compose" ng-click="sendMessageTo(email)" pt-tooltip="{{ 'COMPOSE_TO' | translate }}"></a>
                    </span>
                </span>
            </div>
            <div ng-if="message.BCCList.length && senderIsMe(message)" class="bccGroup">
                <i>{{ 'BCC' | translate }}</i>
                <span class="recipientsWrap">
                    <span ng-repeat="email in ::message.BCCList" class="person">
                        <strong>{{ email | contact:'Name' }}</strong>
                        <em>{{ email | contact:'Address' }}</em>
                        <a href class="fa fa-pencil compose" ng-click="sendMessageTo(email)" pt-tooltip="{{ 'COMPOSE_TO' | translate }}"></a>
                    </span>
                </span>
            </div>
            <div class="meta"></div>
        </div><!--/.data-->
    </div>
    <div class="frame" ng-show="message.expand === true">
        <p ng-show="!!message.imagesHidden" class="display-image text-center pm_button">
            <a href="" ng-click="displayImages()">{{ 'DISPLAY_IMAGES' | translate }}</a>
        </p>
        <div class="email" ng-class="{'plain': isPlain}" ng-show="message.viewMode === 'html'" ng-bind-html="message.DecryptedBody" transform-links="{{ message.DecryptedBody }}" hide-first-blockquote="{{ message.DecryptedBody }}"></div>
        <div class="alert alert-danger clearfix" role="alert" ng-if="::message.failedDecryption">
            <span class="pull-left fa fa-exclamation-triangle"></span>
            <strong>Decryption error</strong>
            <br> Decryption of this message's content failed.
        </div>
        <pre class="email" ng-show="message.viewMode === 'plain'" ng-bind="message.plainText()"></pre>
    </div>
    <ng-include src="'templates/partials/attachments.tpl.html'" ng-show="message.expand === true"></ng-include>
</article>
