<section id="pm_latest" ng-show="numberElementSelected === 0">
    <header>Welcome, {{ user.DisplayName }}</header>
    <section id="storageStatus">
    	<p class="text-center" ng-show="numberElementUnread > 0">You have <strong>{{ numberElementUnread }} unread</strong> conversation</p>
    	<div class="wrap">
            <div class="storageArea">
	            <span class="current">{{ user.UsedSpace | humanSize }}</span>
	            <div class="bar">
	                <em style="width: {{ storagePercentage() }}%"></em>
	            </div>
	            <span class="total">{{ user.MaxSpace | humanSize }}</span>
            </div>
			<div class="link">
                <a href="" ui-sref="secured.dashboard">{{ 'UPGRADE_STORAGE' | translate }}</a>
            </div>
        </div>
    </section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>

<section id="pm_placeholder" ng-show="numberElementSelected > 0">
    <i class="fa fa-check-square"></i>
    <h2>{{ numberElementSelected }} {{ 'CONVERSATIONS_SELECTED' | translate }}</h2>
    <span class="pm_buttons">
        <a href="" ng-click="deselectAll()">
            <strong>{{ 'DESELECT_ALL' | translate }}</strong>
        </a>
    </span>
</section>
