<div class="message-toolbar hidden-xs">
    <ul class="nav navbar-nav">
        <li>
            <a href ng-click="goToMessageList()" title="{{ 'BACK' | translate }}">
                <i class="fa fa-fw fa-level-up fa-rotate-270"></i>
            </a>
        </li>
        <li ng-if="!message.IsRead">
            <a href ng-click="message.setReadStatus(true)">
                <i class="fa fa-fw fa-eye"></i> <span class="visible-md-inline-block">{{ 'READ' | translate }}</span><span class="visible-lg-inline-block">{{ 'MARK_AS_READ' | translate }}</span>
            </a>
        </li>
        <li ng-if="message.IsRead">
            <a href ng-click="message.setReadStatus(false)">
                <i class="fa fa-fw fa-eye-slash"></i> <span class="visible-md-inline-block">{{ 'UNREAD' | translate }}</span><span class="visible-lg-inline-block">{{ 'MARK_AS_UNREAD' | translate }}</span>
            </a>
        </li>
        <li ng-if="message.location() != 'inbox'">
            <a href ng-click="moveMessageTo('inbox')">
                <i class="fa fa-fw fa-inbox"></i> <span class="visible-md-inline-block visible-lg-inline-block">{{ 'INBOX' | translate }}</span>
            </a>
        </li>
        <li ng-if="message.location() != 'trash'">
            <a href ng-click="moveMessageTo('trash')">
                <i class="fa fa-fw fa-trash-o"></i> <span class="visible-md-inline-block visible-lg-inline-block">{{ 'TRASH' | translate }}</span>
            </a>
        </li>
        <li ng-if="message.location() != 'spam'">
            <a href ng-click="moveMessageTo('spam')">
                <i class="fa fa-fw fa-bug"></i> <span class="visible-md-inline-block visible-lg-inline-block">{{ 'SPAM' | translate }}</span>
            </a>
        </li>
        <li ng-if="message.location() == 'spam' || message.location() == 'trash'">
            <a href ng-click="moveMessagesTo('delete')">
                <i class="fa fa-times-circle"></i> <span class="visible-md-inline-block visible-lg-inline-block">{{ 'DELETE' | translate }}</span>
            </a>
        </li>
        <li>
            <a href="" ng-click="openLabels(message);" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-tag"></i> <span class="visible-md-inline-block visible-lg-inline-block">{{ 'LABELS' | translate }}</span> <i class="fa fa-caret-down"></i>
            </a>
            <ng-include src="'templates/partials/dropdown.labels.tpl.html'"></ng-include>
        </li>
        <li>
            <a href class="dropdown-toggle" data-toggle="dropdown">
         {{ 'MORE' | translate }} <i class="fa fa-caret-down"></i>
      </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="" ng-click="print()">
                        <i class="fa fa-print"></i> {{ 'PRINT' | translate }}
                    </a>
                </li>
                <li>
                    <a href="" ng-click="togglePlainHtml()">
                        <span ng-show="message.viewMode === 'html'">
                            <i class="fa fa-file-o"></i> {{ 'VIEW_PLAIN' | translate }}
                        </span>
                        <span ng-show="message.viewMode === 'plain'">
                            <i class="fa fa-file-photo-o"></i> {{ 'VIEW_HTML' | translate }}
                        </span>
                    </a>
                </li>
                <li>
                    <a href="" ng-click="viewRaw()">
                        <i class="fa fa-code"></i> {{ 'VIEW_RAW' | translate }}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav pull-right navigation">
        <li>
            <a href ng-click="reply(message)">
                <i class="fa fa-reply"></i> <span class="visible-md-inline-block visible-lg-inline-block">{{ 'REPLY' | translate }}</span>
            </a>
        </li>
        <li>
            <a href ng-click="replyAll(message)">
                <i class="fa fa-reply-all"></i> <span class="visible-md-inline-block visible-lg-inline-block">{{ 'REPLY_ALL' | translate }}</span>
            </a>
        </li>
        <li>
            <a href ng-click="forward(message)">
                <i class="fa fa-mail-forward"></i> <span class="visible-md-inline-block visible-lg-inline-block">{{ 'FILTER' | translate }}</span>
            </a>
        </li>
        <li class="prev-message">
            <a href ng-class="{disabled: !hasAdjacentMessage(message, -1)}" ng-click="goToAdjacentMessage(message, -1)" title="{{ 'PREVIOUS' | translate }}">
                <i class="fa fa-chevron-left"></i>
            </a>
        </li>
        <li class="next-message">
            <a href ng-class="{disabled: !hasAdjacentMessage(message, 1)}" ng-click="goToAdjacentMessage(message, 1)" title="{{ 'NEXT' | translate }}">
                <i class="fa fa-chevron-right"></i>
            </a>
        </li>
    </ul>
</div>
