<!-- for threading, `derp` will be the index of the ng-repeaet -->
<article class="message" ng-init="derp1 = false" ng-class="{ 'collapsed': derp1 }">
    <header ng-click="derp1 = !derp1">
        <a href class="fa fa-star"></a>
        <span class="meta">
            <i class="fa fa-paperclip"></i>
            <i class="fa fa-lock"></i>
            <span class="time">13.07.2015 03:54 pm</span>
        </span>
        <span class="from">
            {{ 'FROM' | translate }} <em>{{ ::message.SenderName }}</em>
        </span>
    </header>
    <div class="sub">
        <div class="actions">
            <span class="pm_buttons primary">
                <a href="#" class="">
                    <i class="fa fa-mail-reply"></i>
                </a>
                <a href="#" class="divider">
                    <i class="fa fa-mail-reply-all"></i>
                </a>
                <a href="#" class="divider">
                    <i class="fa fa-mail-forward"></i>
                </a>
                <a href="#" class="fa fa-angle-down divider pm_trigger"></a>
            </span>
        </div>
        <i class="fa fa-mail-forward"></i>
        {{ 'TO' | translate }}
        <span ng-if="message.ToList.length">
            <em ng-repeat="email in ::message.ToList">{{ email | contact }}</em>
        </span>
        <div class="meta">
            <a href="#" class="fa fa-plus-square-o"></a>
            <span class="pm_labels inline" ng-if="message.LabelIDs.length">
                <span ng-repeat="id in message.LabelIDs" title="{{ getLabel(id).Name }}" class="pm_label" ng-style="getColorLabel(id)">{{ getLabel(id).Name }}</span>
            </span>
        </div>
    </div>
    <div class="frame">
        <div class="email" ng-class="{'plain': isPlain}" ng-init="message.viewMode = 'html';displayContent();" ng-show="message.viewMode === 'html'" ng-bind-html="content"></div>
        <div class="alert alert-danger clearfix" role="alert" ng-if="::message.failedDecryption">
            <span class="pull-left fa fa-exclamation-triangle"></span>
            <strong>Decryption error</strong>
            <br> Decryption of this message's content failed.
        </div>
        <pre class="email" ng-show="message.viewMode === 'plain'" ng-bind="message.plainText()"></pre>
    </div>
</article>
