<ng-include ng-if="layoutMode === 'columns'" src="'templates/partials/message-list-toolbar.tpl.html'"></ng-include>
<ng-include ng-if="layoutMode === 'rows'" src="'templates/partials/message-list-toolbar-rows.tpl.html'"></ng-include>

<div ng-if="layoutMode === 'columns'" class="message" ng-repeat="message in messages track by message.ID" ng-class="{unread: message.IsRead === 0,selected: message.Selected,starred: message.Starred === 1,encrypted: message.IsEncrypted == '1'}">
    <aside>
        <label for="pm_mobile_messageList_message{{$index}}">
            <input type="checkbox" id="pm_mobile_messageList_message{{$index}}" ng-model="message.Selected" ng-click="onSelectMessage($event, message)" />
        </label>
        <span>
            <a href ng-click="toggleStar(message)" class="starLink" title="{{ 'STAR_MESSAGE' | translate }}">
                <span class="fa" ng-class="{'fa-star': message.Starred, 'fa-star-o': !message.Starred}"></span>
            </a>
        </span>
        <span>
            <span class="readIndicator"></span>
        </span>
        <span>
            <span class="fa fa-paperclip" ng-class="{ 'show': (message.HasAttachment || message.Attachments.length > 0) }"></span>
        </span>
    </aside>
    <header>
        <p>
            <strong>{{ message.SenderName || message.SenderAddress }}</strong>
            <span class="time">{{ message.Time | readableTime }}</span>
        </p>
    </header>
    <article>
        <p class="pm_labels" ng-if="message.LabelIDs.length">
            <span ng-repeat="id in message.LabelIDs" title="{{ getLabel(id).Name }}" class="pm_label" ng-style="getColorLabel(id)">{{ getLabel(id).Name }}</span>
        </p>
        <p>
        <i class="fa fa-reply" ng-show="message.IsReplied === 1"></i>
        <i class="fa fa-reply-all" ng-show="message.IsRepliedAll === 1"></i>
        <i class="fa fa-mail-forward" ng-show="message.IsForwarded === 1"></i>        
        {{ message.Subject }}
        </p>
    </article>
</div>

<div ng-if="layoutMode === 'rows'" class="message" ng-repeat="message in messages track by message.ID" ng-class="{unread: message.IsRead === 0,selected: message.Selected,starred: message.Starred === 1,encrypted: message.IsEncrypted == '1'}">
    <span class="pm_checkbox">
        <input type="checkbox" id="pm_mobile_messageList_message{{$index}}" ng-model="message.Selected" ng-click="onSelectMessage($event, message)" />
        <label for="pm_mobile_messageList_message{{$index}}">
            <span class="fa fa-check"></span>
        </label>
    </span>
    <span class="star">
        <a href ng-click="toggleStar(message)" class="starLink" title="{{ 'STAR_MESSAGE' | translate }}">
            <span class="fa" ng-class="{'fa-star': message.Starred, 'fa-star-o': !message.Starred}"></span>
        </a>
    </span>
    <span class="sender" ng-click="navigateToMessage($event, message)">
        <span>{{ message.SenderName || message.SenderAddress }}</span>
    </span>
    <span class="readIndicator"><span></span></span>
    <span class="subject" ng-click="navigateToMessage($event, message)">
        <span>
        <i class="fa fa-reply" ng-show="message.IsReplied === 1"></i>
        <i class="fa fa-reply-all" ng-show="message.IsRepliedAll === 1"></i>
        <i class="fa fa-mail-forward" ng-show="message.IsForwarded === 1"></i>        
        {{ message.Subject }}
        </span>
        <span class="pm_labels" ng-if="message.LabelIDs.length">
            <span ng-repeat="id in message.LabelIDs" title="{{ getLabel(id).Name }}" class="pm_label" ng-style="getColorLabel(id)">{{ getLabel(id).Name }}</span>
        </span>
    </span>
    <span class="size">{{ message.Size | humanSize }}</span>
    <i class="fa fa-paperclip" ng-class="{ 'show': (message.HasAttachment || message.Attachments.length > 0) }"></i>
    <span class="time">{{ message.Time | readableTime }}</span>
</div>
