<article class="message" ng-controller="MessageController" id="message{{ $index }}">
    <header ng-click="toggle()">
        <a href ng-click="$event.stopPropagation();toggleStar();" class="singleStar">
            <i class="fa" ng-class="{'fa-star': message.Starred, 'fa-star-o': !message.Starred}"></i>
        </a>
        <span class="meta">
            <i class="fa fa-reply" ng-show="message.IsReplied === 1"></i>
            <i class="fa fa-reply-all" ng-show="message.IsRepliedAll === 1"></i>
            <i class="fa fa-mail-forward" ng-show="message.IsForwarded === 1"></i>
            <i class="fa fa-paperclip" ng-show="conversation.NumAttachments > 0"></i>
            <i class="fa fa-lock"></i>
            <!-- <pre class="time">{{ conversation.NumAttachments }}</pre> -->
            <span class="time">{{ ::message.Time | longReadableTime }}</span>
        </span>
        <span class="from">
            <i>{{ 'FROM' | translate }}</i>
            <span class="person">
                <a href class="fa fa-pencil pm_button primary compose" ng-click="$event.stopPropagation();sendMessageTo(message.Sender);" pt-tooltip="{{ 'COMPOSE_TO' | translate }}"></a>
                <em pt-tooltip="{{ message.Sender.Address }}">{{ message.Sender.Name || message.Sender.Address }}</em>
            </span>
        </span>
    </header>
    <div class="sub" ng-show="message.expand === true">
        <div class="actions">
            <span class="pm_buttons">
                <a href="#" ng-click="reply(message)" pt-tooltip="{{ 'REPLY' | translate }}">
                    <i class="fa fa-mail-reply"></i>
                </a>
                <a href="#" ng-click="replyAll(message)" class="divider" pt-tooltip="{{ 'REPLY_ALL' | translate }}">
                    <i class="fa fa-mail-reply-all"></i>
                </a>
                <a href="#" ng-click="forward(message)" class="divider" pt-tooltip="{{ 'FORWARD' | translate }}">
                    <i class="fa fa-mail-forward"></i>
                </a>
                <a href="#" class="divider pm_trigger" ng-dropdown pt-tooltip="{{ 'MORE' | translate }}">
                    <i class="fa fa-angle-down"></i>
                </a>
                <span class="pm_dropdown wide right">
                    <a href="" ng-click="print()">
                        <i class="fa fa-print"></i> {{ 'PRINT' | translate }}
                    </a>
                    <a href="" ng-click="moveMessageTo('delete')">
                        <i class="fa fa-times-circle"></i> {{ 'DELETE' | translate }}
                    </a>
                    <a href="" ng-click="moveMessageTo('spam')">
                        <i class="fa fa-ban"></i> {{ 'MARK_AS_SPAM' | translate }}
                    </a>
                    <a href="" ng-click="togglePlainHtml()">
                        <span ng-show="message.viewMode === 'html'">
                            <i class="fa fa-file-text-o"></i> {{ 'VIEW_SOURCE' | translate }}
                        </span>
                        <span ng-show="message.viewMode === 'plain'">
                            <i class="fa fa-file-photo-o"></i> {{ 'VIEW_HTML' | translate }}
                        </span>
                    </a>
                    <a href="" ng-click="viewPgp()" ng-if="(message.IsEncrypted != '0')">
                        <i class="fa fa-code"></i> {{ 'VIEW_HEADERS' | translate }}
                    </a>
                    <a href="" ng-click="viewPgp()" ng-if="(message.IsEncrypted == '0')">
                        <i class="fa fa-code"></i> {{ 'VIEW_ORIGINAL' | translate }}
                    </a>
                </span>
            </span>
        </div><!--/.actions-->
        <div class="data">
            <div ng-if="message.ToList.length" class="toGroup">
                <i>{{ 'TO' | translate }}</i>
                <span class="recipientsWrap">
                    <span ng-repeat="email in ::message.ToList" class="person">
                        <a href class="fa fa-pencil pm_button primary compose" ng-click="sendMessageTo(email)" pt-tooltip="{{ 'COMPOSE_TO' | translate }}"></a>
                        <em>{{ email.Name }} {{ email.Address }}</em>
                    </span>
                </span>
            </div>
            <div ng-if="message.CCList.length" class="ccGroup">
                <i>{{ 'CC' | translate }}</i>
                <span class="recipientsWrap">
                    <span ng-repeat="email in ::message.CCList" class="person">
                        <a href class="fa fa-pencil pm_button primary compose" ng-click="sendMessageTo(email)" pt-tooltip="{{ 'COMPOSE_TO' | translate }}"></a>
                        <em>{{ email.Name }} {{ email.Address }}</em>
                    </span>
                </span>
            </div>
            <div ng-if="message.BCCList.length" class="bccGroup">
                <i>{{ 'BCC' | translate }}</i>
                <span class="recipientsWrap">
                    <span ng-repeat="email in ::message.BCCList" class="person">
                        <a href class="fa fa-pencil pm_button primary compose" ng-click="sendMessageTo(email)" pt-tooltip="{{ 'COMPOSE_TO' | translate }}"></a>
                        <em>{{ email.Name }} {{ email.Address }}</em>
                    </span>
                </span>
            </div>
            <div class="meta">
                <span class="pm_labels inline pull-left" ng-if="message.labels().length > 0">
                    <span ng-repeat="label in message.labels()" title="{{ label.Name }}" class="pm_label" ng-style="getColorLabel(label)">
                        <em>{{ getLabel(label.ID).Name }}</em>
                        <i>{{ getLabel(label.ID).Name | limitTo: 3 }}</i>
                        <a href="" ng-click="detachLabel(label.ID)" class="labelClose">
                            <i class="fa fa-times"></i>
                        </a>
                    </span>
                </span>
                <span class="addLabelButton pm_buttons">
                    <a href="" class="pm_trigger open-label pull-left addLabel" pt-tooltip="{{ 'ADD_LABEL' | translate }}" ng-dropdown>
                        <small><i class="fa fa-tag"></i> {{ 'ADD_LABEL' | translate }}</small>
                    </a>
                    <span class="pm_dropdown wide pull-left">
                        <dropdown-labels messages="getMessage" save="saveLabels"></dropdown-labels>
                    </span>
                </span>
            </div>
        </div><!--/.data-->
    </div>
    <div class="frame" ng-show="message.expand === true">
        <p ng-show="!!message.imagesHidden" class="display-image text-center pm_button">
            <a href="" ng-click="toggleImages()">{{ 'DISPLAY_IMAGES' | translate }}</a>
        </p>
        <div class="email" ng-class="{'plain': isPlain}" ng-init="message.viewMode = 'html'" ng-show="message.viewMode === 'html'" ng-bind-html="content" transform-links="{{ content }}" hide-first-blockquote="{{ content }}"></div>
        <div class="alert alert-danger clearfix" role="alert" ng-if="::message.failedDecryption">
            <span class="pull-left fa fa-exclamation-triangle"></span>
            <strong>Decryption error</strong>
            <br> Decryption of this message's content failed.
        </div>
        <pre class="email" ng-show="message.viewMode === 'plain'" ng-bind="message.plainText()"></pre>
    </div>
    <ng-include src="'templates/partials/attachments.tpl.html'" ng-show="message.expand === true"></ng-include>
</article>
