<ng-include src="'templates/partials/toolbar-message.tpl.html'"></ng-include>
<ng-include src="'templates/partials/toolbar-message-responsive.tpl.html'"></ng-include>

<header>
    <a href="#" ng-click="toggleStar(message)" class="singleStar">
        <i class="fa" ng-class="{'fa-star': message.Starred, 'fa-star-o': !message.Starred}"></i>
    </a>
    <h1 ng-bind="::message.Subject"></h1>
</header>

<div id="pm_thread" ng-height>
    <ng-include src="'templates/partials/message-single.tpl.html'"></ng-include>
</div>
