<ng-include src="'templates/partials/message-view-toolbar.tpl.html'"></ng-include>

<header>
    <a href="#" class="fa fa-star"></a>
    <h1 ng-bind="::message.Subject"></h1>
</header>

<div id="pm_thread" class="maxheight">
    <ng-include src="'templates/partials/message-single.tpl.html'"></ng-include>
</div>

<!--
<div ng-if="::message.Attachments.length > 0" id="attachmentArea">
    <span class="alert alert-info" id="safariWarning" ng-show="safariWarning" ng-click="openSafariWarning()">
        <strong>Need help</strong> downloading attachments?
    </span>
    <span class="attachmentTitle">
        <strong>
            {{ 'ATTACHMENTS' | translate }}
        </strong>
        ({{message.Attachments.length}}
        <span ng-hide="::message.Attachments.length === 1">
            {{ 'FILES' | translate }}
        </span>
        <span ng-show="::message.Attachments.length === 1">
            {{ 'FILE' | translate }}
        </span>,
        {{ message.sizeAttachments() | humanSize }})
    </span>
    <div id="attachmentWrap">
        <a
        ng-repeat="attachment in message.Attachments"
        class="btn btn-grid"
        ng-init="attachment.decrypted = false"
        ng-class="{ 'disabled': attachment.decrypting }"
        id="attachment-{{$index}}"
        data-download-text="{{ 'DOWNLOAD' | translate }}"
        ng-click="decryptAttachment(attachment, $event)">
            <i class="fa" ng-class="{
                'fa-paperclip': (!!!attachment.decrypting && !!!attachment.decrypted),
                'fa-cog fa-spin': attachment.decrypting,
                'fa-download': attachment.decrypted
            }"></i>
            <strong>{{ attachment.Name }}</strong> ({{attachment.Size | humanSize}})
        </a>
    </div>
</div>
-->