<!-- repeat 3 times to simulate threads -->
<article class="message" ng-init="derp1 = true" ng-class="{ 'collapsed': derp1 }">
    <header ng-click="derp1 = !derp1">
        <a href class="fa fa-star"></a>
        <span class="meta">
            <i class="fa fa-paperclip"></i>
            <i class="fa fa-lock"></i>
            <span class="time">13.07.2015 03:54 pm</span>
        </span>
        <span class="from">
            {{ 'FROM' | translate }} <em>{{ ::message.SenderName }}</em>
        </span>
    </header>
    <div class="sub">
        <div class="actions">
            <a href="#">
                <i class="fa fa-mail-reply"></i>
            </a>
            <a href="#">
                <i class="fa fa-mail-reply-all"></i>
            </a>
            <a href="#">
                <i class="fa fa-mail-forward"></i>
            </a>
            <a href="#">
                <i class="fa fa-angle-down"></i>
            </a>
        </div>
        <i class="fa fa-mail-forward"></i>
        {{ 'TO' | translate }} 
        <span ng-if="message.ToList.length">
            <em ng-repeat="email in ::message.ToList">{{ email | contact }}</em>
        </span>
        <div class="meta">
            <a href="#" class="fa fa-plus-square-o"></a>
            <span class="pm_labels inline">
                <span class="pm_label">IMPORTANT</span> 
                <span class="pm_label">PROTONMAIL</span> 
            </span>
        </div>
    </div>      
    <div class="frame">
        <div class="email" ng-class="{'plain': isPlain}" ng-init="message.viewMode = 'html';displayContent();" ng-show="message.viewMode === 'html'" ng-bind-html="content"></div>        
        <div class="alert alert-danger clearfix" role="alert" ng-if="::message.failedDecryption">
            <span class="pull-left fa fa-exclamation-triangle"></span>
            <strong>Decryption error</strong>
            <br> Decryption of this message's content failed.
        </div>
        <pre class="email" ng-show="message.viewMode === 'plain'" ng-bind="message.plainText()"></pre>
    </div>
</article>

<article class="message" ng-init="derp2 = true" ng-class="{ 'collapsed': derp2 }">
    <header ng-click="derp2 = !derp2">
        <a href class="fa fa-star"></a>
        <span class="meta">
            <i class="fa fa-paperclip"></i>
            <i class="fa fa-lock"></i>
            <span class="time">13.07.2015 03:54 pm</span>
        </span>
        <span class="from">
            {{ 'FROM' | translate }} <em>{{ ::message.SenderName }}</em>
        </span>
    </header>
    <div class="sub">
        <div class="actions">
            <a href="#">
                <i class="fa fa-mail-reply"></i>
            </a>
            <a href="#">
                <i class="fa fa-mail-reply-all"></i>
            </a>
            <a href="#">
                <i class="fa fa-mail-forward"></i>
            </a>
            <a href="#">
                <i class="fa fa-angle-down"></i>
            </a>
        </div>
        <i class="fa fa-mail-forward"></i>
        {{ 'TO' | translate }} 
        <span ng-if="message.ToList.length">
            <em ng-repeat="email in ::message.ToList">
                {{ email | contact }}<span ng-if="!$last">, </span>
            </em>
        </span>
        <div class="meta">
            <a href="#" class="fa fa-plus-square-o"></a>
            <span class="pm_labels inline">
                <span class="pm_label">IMPORTANT</span> 
                <span class="pm_label">PROTONMAIL</span> 
            </span>
        </div>
    </div>      
    <div class="frame">
        <div class="email" ng-class="{'plain': isPlain}" ng-init="message.viewMode = 'html';displayContent();" ng-show="message.viewMode === 'html'" ng-bind-html="content"></div>        
        <div class="alert alert-danger clearfix" role="alert" ng-if="::message.failedDecryption">
            <span class="pull-left fa fa-exclamation-triangle"></span>
            <strong>Decryption error</strong>
            <br> Decryption of this message's content failed.
        </div>
        <pre class="email" ng-show="message.viewMode === 'plain'" ng-bind="message.plainText()"></pre>
    </div>
</article>

<article class="message" ng-init="derp3 = false" ng-class="{ 'collapsed': derp3 }">
    <header ng-click="derp3 = !derp3">
        <a href class="fa fa-star"></a>
        <span class="meta">
            <i class="fa fa-paperclip"></i>
            <i class="fa fa-lock"></i>
            <span class="time">13.07.2015 03:54 pm</span>
        </span>
        <span class="from">
            {{ 'FROM' | translate }} <em>{{ ::message.SenderName }}</em>
        </span>
    </header>
    <div class="sub">
        <div class="actions">
            <a href="#">
                <i class="fa fa-mail-reply"></i>
            </a>
            <a href="#">
                <i class="fa fa-mail-reply-all"></i>
            </a>
            <a href="#">
                <i class="fa fa-mail-forward"></i>
            </a>
            <a href="#">
                <i class="fa fa-angle-down"></i>
            </a>
        </div>
        <i class="fa fa-mail-forward"></i>
        {{ 'TO' | translate }} 
        <span ng-if="message.ToList.length">
            <em ng-repeat="email in ::message.ToList">{{ email | contact }}</em>
        </span>
        <div class="meta">
            <a href="#" class="fa fa-plus-square-o"></a>
            <span class="pm_labels inline">
                <span class="pm_label">IMPORTANT</span> 
                <span class="pm_label">PROTONMAIL</span> 
            </span>
        </div>
    </div>      
    <div class="frame">
        <div class="email" ng-class="{'plain': isPlain}" ng-init="message.viewMode = 'html';displayContent();" ng-show="message.viewMode === 'html'" ng-bind-html="content"></div>        
        <div class="alert alert-danger clearfix" role="alert" ng-if="::message.failedDecryption">
            <span class="pull-left fa fa-exclamation-triangle"></span>
            <strong>Decryption error</strong>
            <br> Decryption of this message's content failed.
        </div>
        <pre class="email" ng-show="message.viewMode === 'plain'" ng-bind="message.plainText()"></pre>
    </div>
</article>