<div class="message-toolbar hidden-xs">
    <ul class="nav navbar-nav">
        <li>
            <a href="" ng-click="print()">
                <i class="fa fa-print"></i> {{ 'PRINT' | translate }}
            </a>
        </li>
        <li>
            <a href="" ng-click="togglePlainHtml()">
                <span ng-show="message.viewMode === 'html'">
                    <i class="fa fa-file-o"></i> {{ 'VIEW_PLAIN' | translate }}
                </span>
                <span ng-show="message.viewMode === 'plain'">
                    <i class="fa fa-file-photo-o"></i> {{ 'VIEW_HTML' | translate }}
                </span>
            </a>
        </li>
        <li>
            <a href="" ng-click="viewRaw()">
                <i class="fa fa-code"></i> {{ 'VIEW_RAW' | translate }}
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav pull-right navigation">
        <li>
            <a href ng-click="reply(message)">
                <i class="fa fa-reply"></i> <span class="visible-md-inline-block visible-lg-inline-block">{{ 'REPLY' | translate }}</span>
            </a>
        </li>
        <li>
            <a href ng-click="replyAll(message)">
                <i class="fa fa-reply-all"></i> <span class="visible-md-inline-block visible-lg-inline-block">{{ 'REPLY_ALL' | translate }}</span>
            </a>
        </li>
        <li>
            <a href ng-click="forward(message)">
                <i class="fa fa-mail-forward"></i> <span class="visible-md-inline-block visible-lg-inline-block">{{ 'FORWARD' | translate }}</span>
            </a>
        </li>
    </ul>
</div>
