<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchFormLabel" aria-hidden="true" ng-controller="SearchController">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" novalidate ng-submit="search()">
                <div class="modal-header text-right">
                    <a href="" ng-click="close()">
                        <i aria-hidden="true" title="Close" class="fa fa-times text-muted"></i>
                        <span class="sr-only">Close</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="search_folder">Folder</label>
                                <select name="search_folder" id="search_folder" class="form-control">
                                    <option value="-1" selected="selected">All</option>
                                    <option value="0">Inbox</option>
                                    <option value="1">Draft</option>
                                    <option value="2">Sent</option>
                                    <option value="3">Trash</option>
                                    <option value="4">Spam</option>
                                    <option value="5">Starred</option>
                                </select>
                            </div>
                            <div>
                                <label for="">Between</label>
                                <div class="fluid-container">
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <input pikaday="params.begin" on-select="setMin()" class="form-control" placeholder="From" />
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <input pikaday="params.end" on-select="setMax()" class="form-control" placeholder="Until" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Attachments</label>
                                <div class="radio">
                                    <label for="search_yes" class="radio-inline">
                                        <input id="search_yes" type="radio" name="search_attachments" ng-model="params.attachments" value="1" /> Yes
                                    </label>
                                    <label for="search_no" class="radio-inline">
                                        <input id="search_no" type="radio" name="search_attachments" ng-model="params.attachments" value="0" /> No
                                    </label>
                                    <label for="all" class="radio-inline">
                                        <input id="all" type="radio" name="search_attachments" ng-model="params.attachments" value="2" /> All
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="search_sender">Sender</label>
                                <input type="text" id="search_sender" name="search_sender" class="form-control" ng-model="params.sender" />
                            </div>
                            <div class="form-group">
                                <label for="search_recipient">Recipient</label>
                                <input type="text" id="search_recipient" name="search_recipient" class="form-control" ng-model="params.recipient" />
                            </div>
                            <div class="form-group">
                                <label for="search_subject">Subject</label>
                                <input type="text" id="search_subject" name="search_subject" class="form-control" ng-model="params.subject" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="" class="pull-left btn" data-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-primary" ng-class="{disabled: networkActivity.loading()}">
                        <i class="fa fa-search" ng-hide="networkActivity.loading()"></i><i class="fa fa-circle-o-notch fa-spin" ng-show="networkActivity.loading()"></i> <span>Advanced Search</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
