<section class="pm_opensans sidebar" ng-controller="SidebarController" ng-hide="mobileMode || !sidebarMode">

    <a class="compose pm_button primary" ng-click="compose()">
        <i class="fa fa-pencil"></i>
        <span translate-context="Action" translate translate-comment="compose button in sidebar">Compose</span>
    </a>

    <ul class="menu">
        <li ng-class="{ active: ('secured.inbox.**' | includedByState) }">
            <a href="/inbox" title="Inbox" ng-click="goTo('secured.inbox');">
                <button class="fa fa-repeat pull-right refresh" ng-class="{ 'spinMe': spinMe }" ng-show="'secured.inbox.**' | includedByState"></button>
                <i class="fa fa-inbox"></i>
                <span translate-context="Nav" translate-comment="Folder name" translate>Inbox</span>
                <em ng-bind="unread('inbox')"></em>
            </a>
        </li>
        <li ng-class="{ active: ('secured.drafts.**' | includedByState) }">
            <a href="/drafts" title="Drafts" ng-click="goTo('secured.drafts')">
                <button class="fa fa-repeat pull-right refresh" ng-class="{ 'spinMe': spinMe }" ng-show="'secured.drafts.**' | includedByState"></button>
                <i class="fa fa-file-text-o"></i>
                <span translate-context="Nav" translate-comment="Folder name" translate>Drafts</span>
                <em ng-bind="unread('drafts')"></em>
            </a>
        </li>
        <li ng-class="{ active: ('secured.sent.**' | includedByState) }">
            <a href="/sent" title="Sent" ng-click="goTo('secured.sent')">
                <button class="fa fa-repeat pull-right refresh" ng-class="{ 'spinMe': spinMe }" ng-show="'secured.sent.**' | includedByState"></button>
                <i class="fa fa-send"></i>
                <span translate-context="Nav" translate-comment="Folder name" translate>Sent</span>
                <em ng-bind="unread('sent')"></em>
            </a>
        </li>
        <li ng-class="{ active: ('secured.starred.**' | includedByState) }">
            <a href="/starred" title="Starred" ng-click="goTo('secured.starred')">
                <button class="fa fa-repeat pull-right refresh" ng-class="{ 'spinMe': spinMe }" ng-show="'secured.starred.**' | includedByState"></button>
                <i class="fa fa-star-o"></i>
                <span translate-context="Nav" translate-comment="Folder name" translate>Starred</span>
                <em ng-bind="unread('starred')"></em>
            </a>
        </li>
        <li ng-class="{ active: ('secured.archive.**' | includedByState) }">
            <a href="/archive" title="Archive" ng-click="goTo('secured.archive')">
                <button class="fa fa-repeat pull-right refresh" ng-class="{ 'spinMe': spinMe }" ng-show="'secured.archive.**' | includedByState"></button>
                <i class="fa fa-archive"></i>
                <span translate-context="Nav" translate-comment="Folder name" translate>Archive</span>
                <em ng-bind="unread('archive')"></em>
            </a>
        </li>
        <li ng-class="{ active: ('secured.spam.**' | includedByState) }">
            <a href="/spam" title="Spam" ng-click="goTo('secured.spam')">
                <button class="fa fa-repeat pull-right refresh" ng-class="{ 'spinMe': spinMe }" ng-show="'secured.spam.**' | includedByState"></button>
                <i class="fa fa-ban"></i>
                <span translate-context="Nav" translate-comment="Folder name" translate>Spam</span>
                <em ng-bind="unread('spam')"></em>
            </a>
        </li>
        <li ng-class="{ active: ('secured.trash.**' | includedByState) }">
            <a href="/trash" title="Trash" ng-click="goTo('secured.trash')">
                <button class="fa fa-repeat pull-right refresh" ng-class="{ 'spinMe': spinMe }" ng-show="'secured.trash.**' | includedByState"></button>
                <i class="fa fa-trash-o"></i>
                <span translate-context="Nav" translate-comment="Folder name" translate>Trash</span>
                <em ng-bind="unread('trash')"></em>
            </a>
        </li>
    </ul>

    <ul class="menu" id="labelSettings">
        <li>
            <a ui-sref="secured.labels">
                <i class="fa fa-cog"></i>
                <span id="tour-label-settings" translate-context="Action" translate>Label settings</span>
            </a>
        </li>
    </ul>

    <div id="sidebarLabels">
        <div class="labels">
            <ul>
                <li ng-repeat="label in labels | orderBy: 'Order'" ng-class="{'active': activeLabel(label)}">
                    <a ui-sref="secured.label({label: '{{label.ID}}' })" title="{{ label.Name }}" class="btn">
                        <i class="fa fa-tag" ng-style="color(label)"></i>
                        <span>{{ label.Name }}</span>
                        <em ng-bind="unread('label', label.ID)"></em>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer">
        <div class="wrap">
            <div class="link" ng-show="user.Role === 0 || user.Role === 2">
                <a ui-sref="secured.dashboard">
                    <span translate translate-context="Action">Upgrade storage</span>
                </a>
            </div>
            <div class="storage text-center">
                <strong title="Storage" ng-bind="storageString()"></strong>
            </div>
            <div class="bar">
                <em style="width: {{ storagePercentage() }}%"></em>
            </div>
        </div>
        <a href="https://protonmail.com/blog/protonmail-beta-v3-1-release-notes/" target="_blank" class="version" title="{{ dateVersion }}" target="_blank">
            v {{ appVersion }}
        </a>
    </div>

</section>

<ng-include src="'templates/partials/sidebar-responsive.tpl.html'"></ng-include>
