<section id="pm_sidebar" class="pm_opensans sidebar" ng-controller="SidebarController">

    <a href="" class="compose pm_button primary" ng-click="compose()">
        <i class="fa fa-pencil"></i> {{ 'COMPOSE' | translate }}
    </a>
    <ul class="menu">
        <li data-drop="true" jqyoui-droppable="{onDrop: 'onDropMessage(\'inbox\')'}" data-jqyoui-options="droppableOptions" ng-model="droppedMessages" ng-class="{ active: ('secured.inbox.**' | includedByState) }">
            <a href="/inbox" title="{{ 'INBOX' | translate }}" ng-click="goTo('secured.inbox.list'); spinIcon();">
                <i class="fa fa-inbox"></i>
                <span>{{ 'INBOX' | translate }}</span>
                <em ng-bind="getUnread('inbox')"></em>
                <strong class="fa fa-repeat"></strong>
            </a>
        </li>
        <li ng-class="{ active: ('secured.drafts.list.**' | includedByState) }">
            <a href="/drafts" title="{{ 'DRAFTS' | translate }}" ng-click="goTo('secured.drafts.list')">
                <i class="fa fa-file-text-o"></i>
                <span>{{ 'DRAFTS' | translate }}</span>
                <em ng-bind="getUnread('drafts')"></em>
            </a>
        </li>
        <li ng-class="{ active: ('secured.sent.**' | includedByState) }">
            <a href="/sent" title="{{ 'SENT' | translate }}" ng-click="goTo('secured.sent.list')">
                <i class="fa fa-sign-out"></i>
                <span>{{ 'SENT' | translate }}</span>
                <em ng-bind="getUnread('sent')"></em>
            </a>
        </li>
        <li data-drop="true" jqyoui-droppable="{onDrop: 'onDropMessage(\'starred\')'}" data-jqyoui-options="droppableOptions" ng-model="droppedMessages" ng-class="{ active: ('secured.starred.**' | includedByState) }">
            <a href="/starred" title="{{ 'STARRED' | translate }}">
                <i class="fa fa-star-o"></i>
                <span>{{ 'STARRED' | translate }}</span>
                <em ng-bind="getUnread('starred')"></em>
            </a>
        </li>
        <li data-drop="true" jqyoui-droppable="{onDrop: 'onDropMessage(\'archive\')'}" data-jqyoui-options="droppableOptions" ng-model="droppedMessages" ng-class="{ active: ('secured.archive.**' | includedByState) }">
            <a href="/archive" title="{{ 'ARCHIVE' | translate }}" ng-click="goTo('secured.archive.list')">
                <i class="fa fa-archive"></i>
                <span>{{ 'ARCHIVE' | translate }}</span>
                <em ng-bind="getUnread('archive')"></em>
            </a>
        </li>
        <li data-drop="true" jqyoui-droppable="{onDrop: 'onDropMessage(\'spam\')'}" data-jqyoui-options="droppableOptions" ng-model="droppedMessages" ng-class="{ active: ('secured.spam.**' | includedByState) }">
            <a href="/spam" title="{{ 'SPAM' | translate }}" ng-click="goTo('secured.spam.list')">
                <i class="fa fa-ban"></i>
                <span>{{ 'SPAM' | translate }}</span>
                <em ng-bind="getUnread('spam')"></em>
            </a>
        </li>
        <li data-drop="true" jqyoui-droppable="{onDrop: 'onDropMessage(\'trash\')'}" data-jqyoui-options="droppableOptions" ng-model="droppedMessages" ng-class="{ active: ('secured.trash.**' | includedByState) }">
            <a href="/trash" title="{{ 'TRASH' | translate }}" ng-click="goTo('secured.trash.list')">
                <i class="fa fa-trash-o"></i>
                <span>{{ 'TRASH' | translate }}</span>
                <em ng-bind="getUnread('trash')"></em>
            </a>
        </li>
    </ul>
    <div class="labels">
        <form>
            <label>
                <a href="" ng-click="createLabel()">
                    <i class="fa fa-plus"></i>
                </a>
            </label>
            <input type="text" ng-model="searchLabels" placeholder="{{ 'ADD_LABEL' | translate }}" />
        </form>
        <ul>
            <li ng-repeat="label in labels | filter: {Name: searchLabels} |orderBy: 'Order'" ng-show="label.Display" data-drop="true" jqyoui-droppable="{onDrop: 'onDropMessage(\'{{label.ID}}\')'}" data-jqyoui-options="droppableOptions" ng-model="droppedMessages" ng-class="{'active': activeLabel(label)}">
                <a ui-sref="secured.label.list({label: '{{label.ID}}' })" title="{{ label.Name }}" class="btn">
                    <i class="fa fa-tag" ng-style="color(label)"></i>
                    <span>{{ label.Name }}</span>
                    <em ng-bind="getUnread('label', label.ID)"></em>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer">
        <a href="#" class="upgrade">{{ 'UPGRADE_PLAN' | translate }}</a>
        <div class="bar"><em style="width: {{ storagePercentage() }}"></em></div>
        <div class="storage">
            <i class="fa fa-hdd-o"></i> <strong>{{ storagePercentage() }}</strong> {{ 'STORAGE_USED' | translate }}
        </div>
        <a class="version" href="https://blog.protonmail.ch/category/release-notes/" title="{{ 'BLOG' | translate }}" target="_blank">ProtonMail {{ appVersion }}</a>
    </div>
</section>


<section id="pm_sidebarMobile" class="pm_opensans sidebar" ng-controller="SidebarController" ng-class="{ 'show': showSidebar }">
    <a href="#" class="pm_button round pull-right" ng-click="hideMobileSidebar()">
        <i class="fa fa-times"></i>
    </a>
    <a class="logo">
        <img src="assets/img/logo.svg">
    </a>
    <span class="userDisplay">
        <em>professor.herpderp</em>
        <strong>professor.herpderp@protonmail.com</strong>
    </span>
    <ul class="menu">
        <li data-drop="true" jqyoui-droppable="{onDrop: 'onDropMessage(\'inbox\')'}" data-jqyoui-options="droppableOptions" ng-model="droppedMessages" ng-class="{ active: ('secured.inbox.**' | includedByState) }">
            <a href="/inbox" title="{{ 'INBOX' | translate }}" ng-click="goTo('secured.inbox.list'); spinIcon(); hideMobileSidebar();">
                <i class="fa fa-inbox"></i>
                <span>{{ 'INBOX' | translate }}</span>
                <em ng-bind="getUnread('inbox')"></em>
                <strong class="fa fa-repeat"></strong>
            </a>
        </li>
        <li ng-class="{ active: ('secured.drafts.list.**' | includedByState) }">
            <a href="/drafts" title="{{ 'DRAFTS' | translate }}" ng-click="goTo('secured.drafts.list'); hideMobileSidebar();">
                <i class="fa fa-file-text-o"></i>
                <span>{{ 'DRAFTS' | translate }}</span>
                <em ng-bind="getUnread('drafts')"></em>
            </a>
        </li>
        <li ng-class="{ active: ('secured.sent.**' | includedByState) }">
            <a href="/sent" title="{{ 'SENT' | translate }}" ng-click="goTo('secured.sent.list'); hideMobileSidebar();">
                <i class="fa fa-sign-out"></i>
                <span>{{ 'SENT' | translate }}</span>
                <em ng-bind="getUnread('sent')"></em>
            </a>
        </li>
        <li data-drop="true" jqyoui-droppable="{onDrop: 'onDropMessage(\'starred\')'}" data-jqyoui-options="droppableOptions" ng-model="droppedMessages" ng-class="{ active: ('secured.starred.**' | includedByState) }">
            <a href="/starred" title="{{ 'STARRED' | translate }}" ng-click="hideMobileSidebar();">
                <i class="fa fa-star-o"></i>
                <span>{{ 'STARRED' | translate }}</span>
                <em ng-bind="getUnread('starred')"></em>
            </a>
        </li>
        <li data-drop="true" jqyoui-droppable="{onDrop: 'onDropMessage(\'archive\')'}" data-jqyoui-options="droppableOptions" ng-model="droppedMessages" ng-class="{ active: ('secured.archive.**' | includedByState) }">
            <a href="/archive" title="{{ 'ARCHIVE' | translate }}" ng-click="goTo('secured.archive.list'); hideMobileSidebar();">
                <i class="fa fa-archive"></i>
                <span>{{ 'ARCHIVE' | translate }}</span>
                <em ng-bind="getUnread('archive')"></em>
            </a>
        </li>
        <li data-drop="true" jqyoui-droppable="{onDrop: 'onDropMessage(\'spam\')'}" data-jqyoui-options="droppableOptions" ng-model="droppedMessages" ng-class="{ active: ('secured.spam.**' | includedByState) }">
            <a href="/spam" title="{{ 'SPAM' | translate }}" ng-click="goTo('secured.spam.list'); hideMobileSidebar();">
                <i class="fa fa-ban"></i>
                <span>{{ 'SPAM' | translate }}</span>
                <em ng-bind="getUnread('spam')"></em>
            </a>
        </li>
        <li data-drop="true" jqyoui-droppable="{onDrop: 'onDropMessage(\'trash\')'}" data-jqyoui-options="droppableOptions" ng-model="droppedMessages" ng-class="{ active: ('secured.trash.**' | includedByState) }">
            <a href="/trash" title="{{ 'TRASH' | translate }}" ng-click="goTo('secured.trash.list'); hideMobileSidebar();">
                <i class="fa fa-trash-o"></i>
                <span>{{ 'TRASH' | translate }}</span>
                <em ng-bind="getUnread('trash')"></em>
            </a>
        </li>
        <li ng-class="{ active: ('secured.contacts.**' | includedByState) }">
            <a href="#" title="{{ 'CONTACTS' | translate }}" ui-sref='secured.contacts' ng-click="hideMobileSidebar();">
                <i class="fa fa-users"></i>
                <span>{{ 'CONTACTS' | translate }}</span>
            </a>
        </li>
        <li ng-class="{ active: ('secured.dashboard.**' | includedByState) }">
            <a href="#" title="{{ 'SETTINGS' | translate }}" ui-sref='secured.dashboard' ng-click="hideMobileSidebar();">
                <i class="fa fa-cogs"></i>
                <span>{{ 'SETTINGS' | translate }}</span>
            </a>
        </li>
        <li>
            <a href="#" ng-click="openReportModal(); hideMobileSidebar();">
                <i class="fa fa-bug"></i>
                <span>{{ 'REPORT_BUG' | translate }}</span>
            </a>
        </li>
        <li>
            <a href="#" ng-click="logout(); hideMobileSidebar();">
                <i class="fa fa-power-off"></i>
                <span>{{ 'LOGOUT' | translate }}</span>
            </a>
        </li>
    </ul>
</section>
