<section id="pm_sidebarMobile" class="pm_opensans sidebar" ng-controller="SidebarController" ng-class="{ 'show': showSidebar }">
    <a href="#" class="pm_button round pull-right" ng-click="hideMobileSidebar()">
        <i class="fa fa-times"></i>
    </a>
    <a class="logo">
        <img src="assets/img/logo.png" height="20" alt="ProtonMail" />
    </a>
    <span class="userDisplay">
        <em>{{ user.DisplayName }}</em>
        <strong>{{ user.Addresses[0].Email }}</strong>
    </span>
    <ul class="menu">
        <li ng-class="{ active: ('secured.inbox.**' | includedByState) }">
            <a href="/inbox" title="{{ 'INBOX' | translate }}" ng-click="goTo('secured.inbox.list'); spinIcon(); hideMobileSidebar();">
                <i class="fa fa-inbox"></i>
                <span>{{ 'INBOX' | translate }}</span>
                <em ng-bind="getUnread('inbox')"></em>
                <strong class="fa fa-repeat"></strong>
            </a>
        </li>
        <li ng-class="{ active: ('secured.drafts.**' | includedByState) }">
            <a href="/drafts" title="{{ 'DRAFTS' | translate }}" ng-click="goTo('secured.drafts.list'); hideMobileSidebar();">
                <i class="fa fa-file-text-o"></i>
                <span>{{ 'DRAFTS' | translate }}</span>
                <em ng-bind="getUnread('drafts')"></em>
            </a>
        </li>
        <li ng-class="{ active: ('secured.sent.**' | includedByState) }">
            <a href="/sent" title="{{ 'SENT' | translate }}" ng-click="goTo('secured.sent.list'); hideMobileSidebar();">
                <i class="fa fa-sign-out"></i>
                <span>{{ 'SENT' | translate }}</span>
                <em ng-bind="getUnread('sent')"></em>
            </a>
        </li>
        <li ng-class="{ active: ('secured.starred.**' | includedByState) }">
            <a href="/starred" title="{{ 'STARRED' | translate }}" ng-click="hideMobileSidebar();">
                <i class="fa fa-star-o"></i>
                <span>{{ 'STARRED' | translate }}</span>
                <em ng-bind="getUnread('starred')"></em>
            </a>
        </li>
        <li ng-class="{ active: ('secured.archive.**' | includedByState) }">
            <a href="/archive" title="{{ 'ARCHIVE' | translate }}" ng-click="goTo('secured.archive.list'); hideMobileSidebar();">
                <i class="fa fa-archive"></i>
                <span>{{ 'ARCHIVE' | translate }}</span>
                <em ng-bind="getUnread('archive')"></em>
            </a>
        </li>
        <li ng-class="{ active: ('secured.spam.**' | includedByState) }">
            <a href="/spam" title="{{ 'SPAM' | translate }}" ng-click="goTo('secured.spam.list'); hideMobileSidebar();">
                <i class="fa fa-ban"></i>
                <span>{{ 'SPAM' | translate }}</span>
                <em ng-bind="getUnread('spam')"></em>
            </a>
        </li>
        <li ng-class="{ active: ('secured.trash.**' | includedByState) }">
            <a href="/trash" title="{{ 'TRASH' | translate }}" ng-click="goTo('secured.trash.list'); hideMobileSidebar();">
                <i class="fa fa-trash-o"></i>
                <span>{{ 'TRASH' | translate }}</span>
                <em ng-bind="getUnread('trash')"></em>
            </a>
        </li>
        <li ng-repeat="label in labels | orderBy: 'Order'" ng-class="{'active': activeLabel(label)}">
            <a ui-sref="secured.label.list({label: '{{label.ID}}' })" title="{{ label.Name }}">
                <i class="fa fa-tag" ng-style="color(label)"></i>
                <span>{{ label.Name }}</span>
                <em ng-bind="getUnread('label', label.ID)"></em>
            </a>
        </li>
        <li ng-class="{ active: ('secured.contacts.**' | includedByState) }">
            <a href="#" title="{{ 'CONTACTS' | translate }}" ui-sref='secured.contacts' ng-click="hideMobileSidebar();">
                <i class="fa fa-users"></i>
                <span>{{ 'CONTACTS' | translate }}</span>
            </a>
        </li>
        <li ng-class="{ active: ('secured.dashboard.**' | includedByState) }">
            <a href="#" title="{{ 'SETTINGS' | translate }}" ui-sref='secured.dashboard' ng-click="hideMobileSidebar();">
                <i class="fa fa-cogs"></i>
                <span>{{ 'SETTINGS' | translate }}</span>
            </a>
        </li>
        <li>
            <a href="#" ng-click="openReportModal(); hideMobileSidebar();">
                <i class="fa fa-bug"></i>
                <span>{{ 'REPORT_BUG' | translate }}</span>
            </a>
        </li>
        <li>
            <a href="#" ng-click="logout(); hideMobileSidebar();">
                <i class="fa fa-power-off"></i>
                <span>{{ 'LOGOUT' | translate }}</span>
            </a>
        </li>
    </ul>
</section>