<section
id="pm_sidebarMobile"
ng-if="showSidebar && mobileMode"
class="pm_opensans sidebar"
ng-controller="SidebarController"
ng-class="{ 'show': showSidebar }">
    <button class="pm_button round pull-right" ng-click="hideMobileSidebar()">
        <i class="fa fa-times"></i>
    </button>
    <a class="logo">
        <img src="assets/img/logo.png" height="20" alt="ProtonMail" />
    </a>
    <span class="userDisplay">
        <em>{{ user.DisplayName }}</em>
        <strong>{{ user.Addresses[0].Email }}</strong>
    </span>
    <ul class="menu">
        <li ng-class="{ active: ('secured.inbox.**' | includedByState) }">
            <button title="{{ 'INBOX' | translate }}" ng-click="goTo('secured.inbox')">
                <i class="fa fa-inbox"></i>
                <span>{{ 'INBOX' | translate }}</span>
                <em ng-bind="unread('inbox')"></em>
            </button>
        </li>
        <li ng-class="{ active: ('secured.drafts.**' | includedByState) }">
            <button title="{{ 'DRAFTS' | translate }}" ng-click="goTo('secured.drafts')">
                <i class="fa fa-file-text-o"></i>
                <span>{{ 'DRAFTS' | translate }}</span>
                <em ng-bind="unread('drafts')"></em>
            </button>
        </li>
        <li ng-class="{ active: ('secured.sent.**' | includedByState) }">
            <button title="{{ 'SENT' | translate }}" ng-click="goTo('secured.sent')">
                <i class="fa fa-send"></i>
                <span>{{ 'SENT' | translate }}</span>
                <em ng-bind="unread('sent')"></em>
            </button>
        </li>
        <li ng-class="{ active: ('secured.starred.**' | includedByState) }">
            <button title="{{ 'STARRED' | translate }}" ng-click="goTo('secured.starred')">
                <i class="fa fa-star-o"></i>
                <span>{{ 'STARRED' | translate }}</span>
                <em ng-bind="unread('starred')"></em>
            </button>
        </li>
        <li ng-class="{ active: ('secured.archive.**' | includedByState) }">
            <button title="{{ 'ARCHIVE' | translate }}" ng-click="goTo('secured.archive')">
                <i class="fa fa-archive"></i>
                <span>{{ 'ARCHIVE' | translate }}</span>
                <em ng-bind="unread('archive')"></em>
            </button>
        </li>
        <li ng-class="{ active: ('secured.spam.**' | includedByState) }">
            <button title="{{ 'SPAM' | translate }}" ng-click="goTo('secured.spam')">
                <i class="fa fa-ban"></i>
                <span>{{ 'SPAM' | translate }}</span>
                <em ng-bind="unread('spam')"></em>
            </button>
        </li>
        <li ng-class="{ active: ('secured.trash.**' | includedByState) }">
            <button title="{{ 'TRASH' | translate }}" ng-click="goTo('secured.trash')">
                <i class="fa fa-trash-o"></i>
                <span>{{ 'TRASH' | translate }}</span>
                <em ng-bind="unread('trash')"></em>
            </button>
        </li>
        <li class="divider"></li>
        <li ng-class="{ active: ('secured.contacts.**' | includedByState) }">
            <button title="{{ 'CONTACTS' | translate }}" ui-sref='secured.contacts' ng-click="hideMobileSidebar()">
                <i class="fa fa-users"></i>
                <span>{{ 'CONTACTS' | translate }}</span>
            </button>
        </li>
        <li ng-class="{ active: ('secured.dashboard.**' | includedByState) }">
            <button title="{{ 'UPGRADE' | translate }}" ui-sref='secured.account' ng-click="hideMobileSidebar()">
                <i class="fa fa-arrow-up"></i>
                <span translate>Upgrade</span>
            </button>
        </li>
        <li ng-class="{ active: ('secured.account.**' | includedByState) }">
            <button title="{{ 'SETTINGS' | translate }}" ui-sref='secured.account' ng-click="hideMobileSidebar()">
                <i class="fa fa-cogs"></i>
                <span>{{ 'SETTINGS' | translate }}</span>
            </button>
        </li>
        <li>
            <button ng-click="openReportModal(); hideMobileSidebar();">
                <i class="fa fa-bug"></i>
                <span>{{ 'REPORT_BUG' | translate }}</span>
            </button>
        </li>
        <li>
            <button ng-click="logout(); hideMobileSidebar();">
                <i class="fa fa-power-off"></i>
                <span>{{ 'LOG_OUT' | translate }}</span>
            </button>
        </li>
        <li class="divider"></li>
        <li class="label" ng-repeat="label in labels | orderBy: 'Order'" ng-class="{'active': activeLabel(label)}">
            <button ui-sref="secured.label({label: '{{label.ID}}' })" title="{{ label.Name }}">
                <i class="fa fa-tag" ng-style="color(label)"></i>
                <span>{{ label.Name }}</span>
                <em ng-bind="unread('label', label.ID)"></em>
            </button>
        </li>
    </ul>
</section>
