<nav id="pm_toolbar-desktop" class="pm_toolbar">
    <span class="pm_buttons back" ng-if="idDefined() &&  user.ViewLayout === 1">
        <a href="#" ng-click="back()" pt-tooltip-translate="Back to list" pt-tooltip-translate-context="Action">
            <i class="fa fa-long-arrow-left"></i>
        </a>
    </span>
    <label class="pm_checkbox" ng-if="!idDefined() || user.ViewLayout === 0">
        <input type="checkbox" name="selectAll" ng-checked="allSelected()" pt-select-all-conversations ng-disabled="numberElement === 0" pt-tooltip-translate="Select all messages" pt-tooltip-translate-context="Action">
    </label>
    <span ng-show="messageButtons === 1" class="pm_buttons" ng-class="{ disabled: numberElementSelected === 0 }">
        <a href="#" class="fa fa-eye-slash" pt-tooltip-translate="Mark as unread" ng-click="unread()" ng-class="{ disabled: numberElementSelected === 0 }" pt-tooltip-translate-context="Action"></a>
        <a href="#" class="fa fa-eye" pt-tooltip-translate="Mark as read" ng-click="read()" ng-class="{ disabled: numberElementSelected === 0 }" pt-tooltip-translate-context="Action"></a>
    </span>
    <span ng-show="messageButtons === 0" class="pm_buttons" ng-class="{ disabled: numberElementSelected === 0 }">
        <a href="#" class="fa fa-eye" pt-tooltip-translate="Mark as read" ng-click="read()" ng-class="{ disabled: numberElementSelected === 0 }" pt-tooltip-translate-context="Action"></a>
        <a href="#" class="fa fa-eye-slash" pt-tooltip-translate="Mark as unread" ng-click="unread()" ng-class="{ disabled: numberElementSelected === 0 }" pt-tooltip-translate-context="Action"></a>
    </span>
    <span class="pm_buttons" ng-class="{ disabled: numberElementSelected === 0 }">
        <a href="#" pt-tooltip-translate="Move to trash" ng-click="move('trash')" ng-hide="{{ ('secured.trash.**' | includedByState) || ('secured.drafts.**' | includedByState) }}" ng-class="{ disabled: numberElementSelected === 0 }" class="fa fa-trash-o" pt-tooltip-translate-context="Action"></a>
        <a href="#" pt-tooltip-translate="Move to inbox" ng-click="move('inbox')" ng-hide="{{ ('secured.inbox.**' | includedByState) || ('secured.spam.**' | includedByState) }}" ng-class="{ disabled: numberElementSelected === 0 }" class="fa fa-inbox" pt-tooltip-translate-context="Action"></a>
        <a href="#" pt-tooltip-translate="Move to archive" ng-click="move('archive')" ng-hide="{{ 'secured.archive.**' | includedByState }}" ng-class="{ disabled: numberElementSelected === 0 }" class="fa fa-archive" pt-tooltip-translate-context="Action"></a>
        <a href="#" pt-tooltip-translate="Move to spam" ng-click="move('spam')" ng-hide="{{ 'secured.spam.**' | includedByState }}" ng-class="{ disabled: numberElementSelected === 0 }" class="fa fa-ban" pt-tooltip-translate-context="Action"></a>
        <a href="#" pt-tooltip-translate="Delete" ng-click="delete()" ng-show="{{ ('secured.trash.**' | includedByState) || ('secured.drafts.**' | includedByState) }}" ng-class="{ disabled: numberElementSelected === 0 }" class="fa fa-times-circle-o" pt-tooltip-translate-context="Action"></a>
        <a href="#" pt-tooltip-translate="Not spam" ng-click="move('inbox')" ng-show="{{ 'secured.spam.**' | includedByState }}" ng-class="{ disabled: numberElementSelected === 0 }" class="fa fa-check" pt-tooltip-translate-context="Action"></a>
    </span>

    <span
    id="tour-label-dropdown"
    class="pm_buttons"
    ng-class="{ disabled: numberElementSelected === 0 }">
        <a
        class="pm_trigger open-label"
        dropdown
        ng-class="{ disabled: numberElementSelected === 0 }"
        pt-tooltip-translate="Labels">
            <i class="fa fa-tag"></i>
            <i class="fa fa-angle-down"></i>
        </a>
        <span class="pm_dropdown wide ">
            <dropdown-labels messages="elementsSelected" save="saveLabels"></dropdown-labels>
        </span>
    </span>
    <span class="pm_buttons">
        <a class="pm_trigger" dropdown><small translate>More</small> <i class="fa fa-angle-down"></i></a>
        <span class="pm_dropdown wider">
            <a href="#" ng-click="empty('drafts')" ng-show="{{ 'secured.drafts.**' | includedByState }}">
                <i class="fa fa-times-circle-o"></i>
                <span translate translate-context="Action">Empty drafts</span>
            </a>
            <a href="#" ng-click="empty('spam')" ng-show="{{ 'secured.spam.**' | includedByState }}">
                <i class="fa fa-times-circle-o"></i>
                <span translate translate-context="Action">Empty spam</span>
            </a>
            <a href="#" ng-click="empty('trash')" ng-show="{{ 'secured.trash.**' | includedByState }}">
                <i class="fa fa-times-circle-o"></i>
                <span translate translate-context="Action">Empty trash</span>
            </a>
            <a href="#" ng-click="orderBy('size')">
                <i class="fa fa-sort-amount-asc"></i>
                <span translate translate-context="Action">Size: Small to large</span>
            </a>
            <a href="#" ng-click="orderBy('-size')">
                <i class="fa fa-sort-amount-desc"></i>
                <span translate translate-context="Action">Size: Large to small</span>
            </a>
            <a href="#" ng-click="orderBy('-date')">
                <i class="fa fa-clock-o"></i>
                <span translate translate-context="Action">Date: New to old</span>
            </a>
            <a href="#" ng-click="orderBy('date')">
                <i class="fa fa-history"></i>
                <span translate translate-context="Action">Date: Old to new</span>
            </a>
            <a href="#" ng-click="clearFilter()" pt-tooltip-translate="Show all" pt-tooltip-translate-context="Action">
                <i class="fa fa-list"></i>
                <span translate translate-context="Action">Show all</span>
            </a>
            <a href="#" ng-click="filterBy('unread')">
                <i class="fa fa-eye-slash"></i>
                <span translate translate-context="Action">Show unread</span>
            </a>
            <a href="#" ng-click="filterBy('read')">
                <i class="fa fa-eye"></i>
                <span translate translate-context="Action">Show read</span>
            </a>
        </span>
    </span>
    <div class="pull-right action">
        <span class="pm_buttons layout" id="tour-layout">
            <a href="#" pt-tooltip-translate="Change layout" pt-tooltip-translate-context="Action" ng-class="{ 'active': user.ViewLayout === 0 }" ng-click="changeLayout('columns')">
                <img src="/assets/img/columnview.svg" />
            </a>
            <a href="#" pt-tooltip-translate="Change layout" pt-tooltip-translate-context="Action" ng-class="{ 'active': user.ViewLayout === 1 }" ng-click="changeLayout('rows')">
                <img src="/assets/img/rowview.svg" />
            </a>
        </span>
        <span class="pm_buttons" ng-show="idDefined() && user.ViewLayout === 1 && tools.cacheContext()">
            <a href="#" ng-click="nextConversation(conversation)" pt-tooltip-translate="Previous" pt-tooltip-translate-context="Action">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a href="#" ng-click="previousConversation(conversation)" pt-tooltip-translate="Next">
                <i class="fa fa-chevron-right"></i>
            </a>
        </span>
        <paginator ng-hide="idDefined() && user.ViewLayout === 1" page="page" total-items="conversationCount()" items-per-page="elementPerPage" change="selectPage" />
    </div>
</nav>
