<nav id="pm_toolbar-desktop" class="pm_toolbar">

    <span
    class="pm_buttons back"
    ng-if="idDefined() &&  layoutMode === 'rows'">
        <a
        ng-click="back()"
        pt-tooltip="{{ 'Back to list' | translate }}">
            <i class="fa fa-long-arrow-left"></i>
        </a>
    </span>

    <label
    class="pm_checkbox"
    ng-if="!idDefined() || layoutMode === 'columns'">
        <input
        type="checkbox"
        name="selectAll"
        ng-checked="allSelected()"
        ng-click="toggleAllSelected()"
        ng-disabled="numberElement === 0"
        pt-tooltip="{{ 'Select all messages' | translate }}">
    </label>

    <span
     ng-show="messageButtons === 1"
    class="pm_buttons"
    ng-class="{ disabled: numberElementSelected === 0 }">
        <a
        class="fa fa-eye-slash"
        pt-tooltip="{{ 'Mark as unread' | translate }}"
        ng-click="unread()"
        ng-class="{ disabled: numberElementSelected === 0 }"></a>
        <a
        class="fa fa-eye divider"
        pt-tooltip="{{ 'Mark as read' | translate }}"
        ng-click="read()"
        ng-class="{ disabled: numberElementSelected === 0 }"></a>
    </span>

    <span
     ng-show="messageButtons === 0"
    class="pm_buttons"
    ng-class="{ disabled: numberElementSelected === 0 }">
        <a
        class="fa fa-eye"
        pt-tooltip="{{ 'Mark as read' | translate }}"
        ng-click="read()"
        ng-class="{ disabled: numberElementSelected === 0 }"></a>
        <a
        class="fa fa-eye-slash divider"
        pt-tooltip="{{ 'Mark as unread' | translate }}"
        ng-click="unread()"
        ng-class="{ disabled: numberElementSelected === 0 }"></a>
    </span>

    <span
    class="pm_buttons"
    ng-class="{ disabled: numberElementSelected === 0 }">
        <a
        pt-tooltip="{{ 'Move To Trash' | translate }}"
        ng-click="move('trash')"
        ng-hide="{{ 'secured.trash.**' | includedByState }}"
        ng-class="{ disabled: numberElementSelected === 0 }"
        class="fa fa-trash-o"></a>
        <a
        pt-tooltip="{{ 'Move To Inbox' | translate }}"
        ng-click="move('inbox')"
        ng-hide="{{ ('secured.inbox.**' | includedByState) || ('secured.spam.**' | includedByState) }}"
        ng-class="{ disabled: numberElementSelected === 0 }"
        class="fa fa-inbox divider"></a>
        <a
        pt-tooltip="{{ 'Move To Archive' | translate }}"
        ng-click="move('archive')"
        ng-hide="{{ 'secured.archive.**' | includedByState }}"
        ng-class="{ disabled: numberElementSelected === 0 }"
        class="fa fa-archive divider"></a>
        <a
        pt-tooltip="{{ 'Move To Spam' | translate }}"
        ng-click="move('spam')"
        ng-hide="{{ 'secured.spam.**' | includedByState }}"
        ng-class="{ disabled: numberElementSelected === 0 }"
        class="fa fa-ban divider"></a>
        <a
        pt-tooltip="{{ 'Delete' | translate }}"
        ng-click="delete()"
        ng-show="{{ 'secured.trash.**' | includedByState }}"
        ng-class="{ disabled: numberElementSelected === 0 }"
        class="fa fa-times-circle-o divider"></a>
        <a
        pt-tooltip="{{ 'Not Spam' | translate }}"
        ng-click="move('inbox')"
        ng-show="{{ 'secured.spam.**' | includedByState }}"
        ng-class="{ disabled: numberElementSelected === 0 }"
        class="fa fa-check divider"></a>
    </span>

    <span
    id="tour-label-dropdown"
    class="pm_buttons"
    ng-class="{ disabled: numberElementSelected === 0 }">
        <a
        class="pm_trigger open-label"
        dropdown
        ng-class="{ disabled: numberElementSelected === 0 }"
        pt-tooltip="{{ 'Labels' | translate }}">
            <i class="fa fa-tag"></i>
            <i class="fa fa-angle-down"></i>
        </a>
        <span class="pm_dropdown wide ">
            <dropdown-labels messages="elementsSelected" save="saveLabels"></dropdown-labels>
        </span>
    </span>

    <span class="pm_buttons">
        <a class="pm_trigger" dropdown><small translate>More</small> <i class="fa fa-angle-down"></i></a>
        <span class="pm_dropdown wider">
            <a
            ng-click="empty('drafts')"
            ng-show="{{ 'secured.drafts.**' | includedByState }}">
                <i class="fa fa-times-circle-o"></i>
                {{ 'Empty Drafts' | translate }}
            </a>
            <a
            ng-click="empty('spam')"
            ng-show="{{ 'secured.spam.**' | includedByState }}">
                <i class="fa fa-times-circle-o"></i>
                {{ 'Empty Spam' | translate }}
            </a>
            <a
            ng-click="empty('trash')"
            ng-show="{{ 'secured.trash.**' | includedByState }}">
                <i class="fa fa-times-circle-o"></i>
                {{ 'Empty Trash' | translate }}
            </a>
            <a
            ng-click="orderBy('subject')">
                <i class="fa fa-sort-alpha-asc"></i>
                {{ 'Subject' | translate }}: A-Z
            </a>
            <a
            ng-click="orderBy('-subject')">
                <i class="fa fa-sort-alpha-desc"></i>
                {{ 'Subject' | translate }}: Z-A
            </a>
            <a
            ng-click="orderBy('from')">
                <i class="fa fa-sort-alpha-asc"></i>
                {{ 'From' | translate }}: A-Z
            </a>
            <a
            ng-click="orderBy('-from')">
                <i class="fa fa-sort-alpha-asc"></i>
                {{ 'From' | translate }}: Z-A
            </a>
            <a
            ng-click="orderBy('size')">
                <i class="fa fa-sort-amount-asc"></i>
                {{ 'Size' | translate }}: {{ 'Small To Large' | translate }}
            </a>
            <a
            ng-click="orderBy('-size')">
                <i class="fa fa-sort-amount-desc"></i>
                {{ 'Size' | translate }}: {{ 'Large To Small' | translate }}
            </a>
            <a
            ng-click="orderBy('-date')">
                <i class="fa fa-clock-o"></i>
                {{ 'Date' | translate }}: {{ 'New to old' | translate }}
            </a>
            <a
            ng-click="orderBy('date')">
                <i class="fa fa-history"></i>
                {{ 'Date' | translate }}: {{ 'Old to new' | translate }}
            </a>
            <a
            pt-tooltip="{{ 'Show All' | translate }}"
            ng-click="clearFilter()">
                <i class="fa fa-list"></i>
                {{ 'Show all' | translate }}
            </a>
            <a
            ng-click="filterBy('unread')">
                <i class="fa fa-eye-slash"></i>
                {{ 'Show unread' | translate }}
            </a>
            <a
            ng-click="filterBy('read')">
                <i class="fa fa-eye"></i>
                {{ 'Show read' | translate }}
            </a>
        </span>
    </span>

    <div class="pull-right action">

        <span
        class="pm_buttons layout" id="tour-layout">
            <a
            href="#"
            pt-tooltip="{{ 'Change Layout' | translate }}"
            ng-class="{ 'active': layoutMode === 'columns' }"
            ng-click="changeLayout('columns')">
                <img src="/assets/img/columnview.svg" />
            </a>
            <a
            href="#"
            pt-tooltip="{{ 'Change Layout' | translate }}"
            class="divider"
            ng-class="{ 'active': layoutMode === 'rows' }"
            ng-click="changeLayout('rows')">
                <img src="/assets/img/rowview.svg" />
            </a>
        </span>

        <span class="pm_buttons" ng-show="idDefined() && rowMode === true">
            <a
            ng-click="nextConversation(conversation)"
            pt-tooltip="{{ 'Previous' | translate }}">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a
            ng-click="previousConversation(conversation)"
            class="divider"
            pt-tooltip="{{ 'Next' | translate }}">
                <i class="fa fa-chevron-right"></i>
            </a>
        </span>

        <paginator ng-hide="idDefined() && rowMode === true" page="page" total-items="conversationCount()" items-per-page="elementPerPage" change="selectPage" />
    </div>
</nav>
