<nav id="pm_toolbar-mobile" class="pm_toolbar">

    <label class="pm_checkbox" ng-if="!idDefined() || layoutMode === 'columns'">
        <input type="checkbox" name="selectAll" ng-checked="allSelected()" ng-click="toggleAllSelected()" ng-disabled="numberElement === 0" pt-tooltip-translate-context="Action" pt-tooltip-translate="Select all messages">
    </label>

    <span class="pm_buttons back" ng-if="idDefined() && (layoutMode === 'rows' || mobileMode)">
        <a ng-click="back()" pt-tooltip-translate="Back to list" pt-tooltip-translate-context="Action">
            <i class="fa fa-long-arrow-left"></i>
        </a>
    </span>

    <span class="pm_buttons" ng-class="{ disabled: numberElementSelected === 0 }">
        <a class="pm_trigger" dropdown ng-disabled="numberElementSelected === 0">
            <em><i class="fa fa-eye-slash"></i>
            <i class="fa fa-angle-down"></i></em>
        </a>
        <span class="pm_dropdown wide">
            <a ng-click="unread()">
                <i class="fa fa-eye-slash"></i>
                <span translate translate-context="Action">Mark as unread</span>
            </a>
            <a ng-click="read()">
                <i class="fa fa-eye"></i>
                <span translate translate-context="Action">Mark as read</span>
            </a>
        </span>
    </span>

    <span class="pm_buttons" ng-class="{ disabled: numberElementSelected === 0 }">
        <a class="pm_trigger" dropdown ng-disabled="numberElementSelected === 0">
            <em><i class="fa fa-trash-o"></i>
            <i class="fa fa-angle-down"></i></em>
        </a>
        <span class="pm_dropdown wide">
            <a ng-click="move('trash')" ng-hide="{{ 'secured.trash.**' | includedByState }}" ng-class="{ disabled: numberElementSelected === 0 }">
                <i class="fa fa-trash-o"></i>
                <span translate translate-context="Action">Move to trash</span>
            </a>
            <a ng-click="move('inbox')" ng-hide="{{ ('secured.inbox.**' | includedByState) || ('secured.spam.**' | includedByState) }}" ng-class="{ disabled: numberElementSelected === 0 }">
                <i class="fa fa-inbox"></i>
                <span translate translate-context="Action">Move to inbox</span>
            </a>
            <a ng-click="move('archive')" ng-hide="{{ 'secured.archive.**' | includedByState }}" ng-class="{ disabled: numberElementSelected === 0 }">
                <i class="fa fa-archive"></i>
                <span translate translate-context="Action">Move to archive</span>
            </a>
            <a ng-click="move('spam')" ng-hide="{{ 'secured.spam.**' | includedByState }}" ng-class="{ disabled: numberElementSelected === 0 }">
                <i class="fa fa-ban"></i>
                <span translate translate-context="Action">Move to spam</span>
            </a>
            <a ng-click="delete()" ng-show="{{ 'secured.trash.**' | includedByState }}" ng-class="{ disabled: numberElementSelected === 0 }">
                <i class="fa fa-times-circle-o"></i>
                <span translate translate-context="Action">Delete</span>
            </a>
            <a ng-click="move('inbox')" ng-show="{{ 'secured.spam.**' | includedByState }}" ng-class="{ disabled: numberElementSelected === 0 }">
                <i class="fa fa-check"></i>
                <span translate translate-context="Action">Not spam</span>
            </a>
        </span>
    </span>

    <span class="pm_buttons" ng-class="{ disabled: numberElementSelected === 0 }">
        <a href="#" class="pm_trigger open-label" dropdown ng-class="{ disabled: numberElementSelected === 0 }" pt-tooltip-translate="Labels">
            <i class="fa fa-tag"></i>
            <i class="fa fa-angle-down"></i>
        </a>
        <span class="pm_dropdown wide  right">
            <dropdown-labels messages="elementsSelected" save="saveLabels"></dropdown-labels>
        </span>
    </span>

    <div class="pull-right">

        <span class="pm_buttons" ng-show="idDefined()">
            <a href="#" ng-click="nextConversation(conversation)">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a href="#" ng-click="previousConversation(conversation)" class="divider">
                <i class="fa fa-chevron-right"></i>
            </a>
        </span>

        <span class="pm_buttons" ng-show="!idDefined()">
            <a href="#" ng-click="previous()" ng-class="{'disabled': (page<2)}">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a href="#" class="divider" ng-click="next()" ng-class="{'disabled': disableN}">
                <i class="fa fa-chevron-right"></i>
            </a>
        </span>

    </div>

</nav>
