
<nav id="pm_toolbar">

    <div class="main">
        <div class="pull-right">
            <span class="pm_buttons">
                <a href="#" class="pm_trigger" ng-dropdown>
                    <strong><small>More</small></strong> <i class="fa fa-angle-down"></i>
                </a>
                <span class="pm_dropdown">
                    <a href="#">Submenu 1</a>
                    <a href="#">Submenu 2</a>
                    <a href="#">Submenu 3</a>
                </span>
            </span>
            <span class="pm_buttons">
                <a href="#" class="fa fa-list"></a>
                <a href="#" class="fa fa-angle-down divider pm_trigger" ng-dropdown></a>
                <span class="pm_dropdown">
                    <a href="#">Submenu 1</a>
                    <a href="#">Submenu 2</a>
                    <a href="#">Submenu 3</a>
                </span>
            </span>
            <span class="pm_buttons">
                <a href="#" class="fa fa-chevron-left" title="{{ 'PREVIOUS' | translate }}" ng-class="{disabled: page == 1}" ng-click="goToPage(page - 1, true);"></a>
                <span class="pm_buttons divider hidden-xs">
                    <a href="#" class="pm_trigger" ng-dropdown>
                        <strong><small>{{messageCount()}}</small></strong> <i class="fa fa-angle-down"></i>
                    </a>
                    <span class="pm_dropdown">
                        <a href="#">Submenu 1</a>
                        <a href="#">Submenu 2</a>
                        <a href="#">Submenu 3</a>
                    </span>
                </span>
                <a href="#" class="fa fa-chevron-right divider" ng-class="{disabled: !hasNextPage()}" ng-click="goToPage(page + 1)"></a>
            </span>
        </div>
        <label>
            <input type="checkbox" name="selectAll" ng-model="allSelectedCheckbox" ng-click="selectAllMessages()" pt-tooltip="{{ 'SELECT_ALL_MESSAGES' | translate }}">
        </label>
        <span class="pm_buttons">
            <a href="#" class="fa fa-eye" pt-tooltip="{{ 'MARK_AS_READ' | translate }}" ng-click="setMessagesReadStatus(true)" ng-class="{ disabled: numberSelectedMessages === 0 }"></a>
            <a href="#" class="fa fa-angle-down divider pm_trigger" ng-dropdown ng-class="{ disabled: numberSelectedMessages === 0 }"></a>
            <span class="pm_dropdown">
                <a href="#">Submenu 1</a>
                <a href="#">Submenu 2</a>
                <a href="#">Submenu 3</a>
            </span>
        </span>
        <span class="pm_buttons">
            <a href="#" class="fa fa-trash-o" ng-click="moveMessagesTo('trash')" ng-class="{ disabled: numberSelectedMessages === 0 }"></a>
            <a href="#" class="fa fa-angle-down divider pm_trigger" ng-dropdown ng-class="{ disabled: numberSelectedMessages === 0 }"></a>
            <span class="pm_dropdown">
                <a href="#">Submenu 1</a>
                <a href="#">Submenu 2</a>
                <a href="#">Submenu 3</a>
            </span>
        </span>
        <span class="pm_buttons">
            <a href="#" class="pm_trigger" ng-dropdown>
                <i class="fa fa-tag"></i>
                <i class="fa fa-angle-down"></i>
            </a>
            <span class="pm_dropdown">
                <a href="#">Submenu 1</a>
                <a href="#">Submenu 2</a>
                <a href="#">Submenu 3</a>
            </span>
        </span>
    </div>

    <div class="mobileMain">
        <span class="pm_checkbox">
            <input type="checkbox">
        </span>
        <span class="pm_buttons">
            <a href="#" class="fa fa-eye-slash hidden-xs" pt-tooltip="{{ 'MARK_AS_UNREAD' | translate }}" ng-click="setMessagesReadStatus(false)" ng-class="{ disabled: numberSelectedMessages === 0 }"></a>
            <a href="#" class="fa fa-eye divider" pt-tooltip="{{ 'MARK_AS_READ' | translate }}" ng-click="setMessagesReadStatus(true)" ng-class="{ disabled: numberSelectedMessages === 0 }"></a>
        </span>
        <span class="pm_buttons">
            <a href="#" class="fa fa-trash-o"></a>
            <a href="#" class="fa fa-archive divider hidden-xs"></a>
            <a href="#" class="fa fa-ban divider hidden-xs"></a>
        </span>
        <span class="pm_buttons">
            <a href="#" class="pm_trigger" ng-dropdown>
                <i class="fa fa-tag"></i>
                <i class="fa fa-angle-down"></i>
            </a>
            <span class="pm_dropdown">
                <a href="#">Submenu 1</a>
                <a href="#">Submenu 2</a>
                <a href="#">Submenu 3</a>
            </span>
        </span>
    </div>

    <div class="mobileSecondary">
        <span class="pm_buttons">
            <a href="#" class="pm_trigger" ng-dropdown>
                <strong>More</strong> <i class="fa fa-angle-down"></i>
            </a>
            <span class="pm_dropdown">
                <a href="#">Submenu 1</a>
                <a href="#">Submenu 2</a>
                <a href="#">Submenu 3</a>
            </span>
        </span>
        <span class="pm_buttons">
            <a href="#" class="fa fa-chevron-left" title="{{ 'PREVIOUS' | translate }}" ng-class="{disabled: page == 1}" ng-click="goToPage(page - 1, true);"></a>
            <span class="pm_buttons divider hidden-xs">
                <a href="#" class="pm_trigger" ng-dropdown>
                    <strong>{{messageCount()}}</strong> <i class="fa fa-angle-down"></i>
                </a>
                <span class="pm_dropdown">
                    <a href="#">Submenu 1</a>
                    <a href="#">Submenu 2</a>
                    <a href="#">Submenu 3</a>
                </span>
            </span>
            <a href="#" class="fa fa-chevron-right divider" ng-class="{disabled: !hasNextPage()}" ng-click="goToPage(page + 1)"></a>
        </span>
    </div>
</nav>
