<nav id="pm_toolbar_responsive">
    <div class="main">
        <span class="pm_buttons back" ng-if="idDefined()">
            <a ng-click="back()" pt-tooltip="{{ 'Back to list' | translate }}">
                <i class="fa fa-long-arrow-left"></i>
            </a>
        </span>
        <a
        ng-disabled="numberElement === 0"
        pt-tooltip="{{ 'Select all messages' | translate }}"
        ng-if="!idDefined()"
        ng-click="toggleAllSelected()"
        class="fa fa-square-o"
        ng-class="{
            'fa-square-o': !allSelected(),
            'fa-check-square': allSelected()
        }"></a>
        <span class="pm_buttons desktop" ng-show="messageButtons === 0">
            <a href="#" class="fa fa-eye" pt-tooltip="{{ 'Mark as read' | translate }}" ng-click="read()" ng-class="{ disabled: numberElementSelected === 0 }"></a>
            <a href="#" class="fa fa-eye-slash divider" pt-tooltip="{{ 'Mark as unread' | translate }}" ng-click="unread()" ng-class="{ disabled: numberElementSelected === 0 }"></a>
        </span>
        <span class="pm_buttons desktop" ng-show="messageButtons === 1">
            <a href="#" class="fa fa-eye-slash" pt-tooltip="{{ 'Mark as unread' | translate }}" ng-click="unread()" ng-class="{ disabled: numberElementSelected === 0 }"></a>
            <a href="#" class="fa fa-eye divider" pt-tooltip="{{ 'Mark as read' | translate }}" ng-click="read()" ng-class="{ disabled: numberElementSelected === 0 }"></a>
        </span>
        <span class="pm_buttons desktop">
            <a

            class="fa fa-trash-o"
            ng-click="move('trash')"
            pt-tooltip="{{ 'Move to trash' | translate }}"
            ng-hide="{{ 'secured.trash.**' | includedByState }}"
            ng-class="{ disabled: numberElementSelected === 0 }"></a>
            <a

            class="fa fa-inbox divider"
            ng-click="move('inbox')"
            pt-tooltip="{{ 'Move to inbox' | translate }}"
            ng-hide="{{ 'secured.inbox.**' | includedByState }}"
            ng-class="{ disabled: numberElementSelected === 0 }"></a>
            <a

            class="fa fa-archive divider"
            ng-click="move('archive')"
            pt-tooltip="{{ 'Move to archive' | translate }}"
            ng-hide="{{ 'secured.archive.**' | includedByState }}"
            ng-class="{ disabled: numberElementSelected === 0 }"></a>
            <a

            class="fa fa-ban divider"
            ng-click="move('spam')"
            pt-tooltip="{{ 'Mark as spam' | translate }}"
            ng-hide="{{ 'secured.spam.**' | includedByState }}"
            ng-class="{ disabled: numberElementSelected === 0 }"></a>
            <a

            class="fa fa-times-circle divider"
            ng-click="delete()"
            pt-tooltip="{{ 'Delete' | translate }}"
            ng-show="{{ ('secured.trash.**' | includedByState) || ('secured.spam.**' | includedByState) }}"
            ng-class="{ disabled: numberElementSelected === 0 }"></a>
        </span>

        <span class="pm_buttons mobile">
            <a class="pm_trigger open-label" dropdown ng-class="{ disabled: numberElementSelected === 0 }">
                <i class="fa fa-eye"></i>
                <i class="fa fa-angle-down"></i>
            </a>
            <span class="pm_dropdown wide ">
                <a href="#" pt-tooltip="{{ 'Mark as unread' | translate }}" ng-click="unread()" ng-class="{ disabled: numberElementSelected === 0 }">
                    <i class="fa fa-eye-slash"></i> <span translate translate-context="Action">Mark as unread</span>
                </a>
                <a href="#" pt-tooltip="{{ 'Mark as read' | translate }}" ng-click="read()" ng-class="{ disabled: numberElementSelected === 0 }">
                    <i class="fa fa-eye"></i> <span translate translate-context="Action">Mark as read</span>
                </a>
            </span>
        </span>

        <span class="pm_buttons">
            <a class="pm_trigger open-label" dropdown ng-class="{ disabled: numberElementSelected === 0 }">
                <i class="fa fa-tag"></i>
                <i class="fa fa-angle-down"></i>
            </a>
            <span class="pm_dropdown wide ">
                <dropdown-labels messages="elementsSelected" save="saveLabels"></dropdown-labels>
            </span>
        </span>

        <span class="pm_buttons mobile">
            <a class="pm_trigger" dropdown ng-class="{ disabled: numberElementSelected === 0 }">
                <strong class="fa fa-folder"></strong> <i class="fa fa-angle-down"></i>
            </a>
            <span class="pm_dropdown wide">
                <a ng-click="move('trash')" ng-hide="{{ 'secured.trash.**' | includedByState }}">
                    <i class="fa fa-trash-o"></i>
                    <span translate translate-context="Action">Move to trash</span>
                </a>
                <a ng-click="move('inbox')" ng-hide="{{ 'secured.inbox.**' | includedByState }}">
                    <i class="fa fa-inbox"></i>
                    <span translate translate-context="Action">Move to inbox</span>
                </a>
                <a ng-click="move('archive')" ng-hide="{{ 'secured.archive.**' | includedByState }}">
                    <i class="fa fa-archive"></i>
                    <span translate translate-context="Action">Move to archive</span>
                </a>
                <a ng-click="move('spam')" ng-hide="{{ 'secured.spam.**' | includedByState }}">
                    <i class="fa fa-ban"></i>
                    <span translate translate-context="Action">Mark as spam</span>
                </a>
                <a ng-click="delete()" ng-show="{{ ('secured.trash.**' | includedByState) || ('secured.spam.**' | includedByState) }}">
                    <i class="fa fa-times-circle"></i>
                    <span translate translate-context="Action">Delete</span>
                </a>
            </span>
        </span>
    </div>

    <div class="secondary">
        <span class="pm_buttons">
            <a href="#" class="pm_trigger" dropdown>
                <small translate>More</small> <i class="fa fa-angle-down"></i>
            </a>
            <span class="pm_dropdown wider">
                <a href="#" ng-click="empty('drafts')" ng-show="{{ 'secured.drafts.**' | includedByState }}">
                    <i class="fa fa-times-circle-o"></i>
                    <span translate translate-context="Action">Empty drafts</span>
                </a>
                <a href="#" ng-click="empty('spam')" ng-show="{{ 'secured.spam.**' | includedByState }}">
                    <i class="fa fa-times-circle-o"></i>
                    <span translate translate-context="Action">Empty spam</span>
                </a>
                <a href="#" ng-click="empty('trash')" ng-show="{{ 'secured.trash.**' | includedByState }}">
                    <i class="fa fa-times-circle-o"></i>
                    <span translate translate-context="Action">Empty trash</span>
                </a>
                <a href="#" ng-click="orderBy('size')">
                    <i class="fa fa-sort-amount-asc"></i>
                    <span translate translate-context="Action">Size: Small to large</span>
                </a>
                <a href="#" ng-click="orderBy('-size')">
                    <i class="fa fa-sort-amount-desc"></i>
                    <span translate translate-context="Action">Size: Large to small</span>
                </a>
                <a href="#" ng-click="orderBy('-date')">
                    <i class="fa fa-clock-o"></i>
                    <span translate translate-context="Action">Date: New to old</span>
                </a>
                <a href="#" ng-click="orderBy('date')">
                    <i class="fa fa-history"></i>
                    <span translate translate-context="Action">Date: Old to new</span>
                </a>
            </span>
        </span>
        <paginator ng-hide="idDefined() && layoutMode === 'rows'" page="page" total-items="conversationCount()" items-per-page="elementPerPage" change="selectPage" />
    </div>
    <div class="clear"></div>
</nav>
