<nav id="pm_toolbar">
    <div class="pull-right">
        <span class="pull-right" ng-show="contacts.length > 0">
            <paginator page="currentPage" total-items="totalItems" items-per-page="numPerPage" change="selectPage" />
        </span>
        <a class="pm_button" href="" ng-click="deleteAllContacts()">
            <i class="fa fa-trash"></i> <strong>{{ 'DELETE_ALL_CONTACTS' | translate }}</strong>
        </a>
        <a class="pm_button" href="" ng-click="downloadContacts()">
            <i class="fa fa-download"></i> <strong>{{ 'DOWNLOAD_CONTACTS' | translate }}</strong>
        </a>
        <a class="pm_button" href="" ng-click="uploadContacts()">
            <i class="fa fa-upload"></i> <strong>{{ 'UPLOAD_CONTACTS' | translate }}</strong>
        </a>
    </div>
    <a class="pm_button primary" href="" ng-click="addContact()">
        <i class="fa fa-plus"></i> <strong>{{ 'ADD_CONTACT' | translate }}</strong>
    </a>
    <a class="pm_button" href="" ng-class="{ disabled: contactsSelected().length === 0 }" ng-click="deleteContacts()">
        <i class="fa fa-trash-o"></i> <strong>{{ 'DELETE_CONTACT' | translate }}</strong>
    </a>
</nav>