<nav id="pm_toolbar-desktop" class="pm_toolbar">
    <span class="pm_buttons back" ng-if="idDefined() &&  user.ViewLayout === 1">
        <a href="#" ng-click="back()" pt-tooltip-translate="Back to list" pt-tooltip-translate-context="Action">
            <i class="fa fa-long-arrow-left"></i>
        </a>
    </span>
    <label class="pm_checkbox" ng-if="!idDefined() || user.ViewLayout === 0">
        <input
            type="checkbox"
            name="selectAll"
            ng-checked="allSelected()"
            data-pt-select-all-elements
            class="toolBar-select-all"
            ng-disabled="!conversations.length"
            pt-tooltip-translate="Select all messages"
            pt-tooltip-translate-context="Action">
    </label>

    <read-unread></read-unread>
    <move-element></move-element>

    <span
        id="tour-label-dropdown"
        class="pm_buttons"
        ng-class="{ disabled: numberElementSelected === 0 }">
        <a
        class="pm_trigger open-label"
        dropdown
        ng-class="{ disabled: numberElementSelected === 0 }"
        pt-tooltip-translate="Labels">
            <i class="fa fa-tag"></i>
            <i class="fa fa-angle-down"></i>
        </a>
        <span class="pm_dropdown wide ">
            <dropdown-labels messages="elementsSelected" save="saveLabels"></dropdown-labels>
        </span>
    </span>
    <advanced-filter-element></advanced-filter-element>

    <div class="pull-right action toolbarDesktop-actions-right">
        <span class="pm_buttons layout" id="tour-layout">
            <a href="#" pt-tooltip-translate="Change layout" pt-tooltip-translate-context="Action" ng-class="{ 'active': user.ViewLayout === 0 }" ng-click="changeLayout('columns')">
                <img src="/assets/img/columnview.svg" />
            </a>
            <a href="#" pt-tooltip-translate="Change layout" pt-tooltip-translate-context="Action" ng-class="{ 'active': user.ViewLayout === 1 }" ng-click="changeLayout('rows')">
                <img src="/assets/img/rowview.svg" />
            </a>
        </span>
        <span class="pm_buttons" ng-show="showNextPrev()">
            <a href="#" ng-click="nextElement(conversation)" pt-tooltip-translate="Previous" pt-tooltip-translate-context="Action">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a href="#" ng-click="previousElement(conversation)" pt-tooltip-translate="Next">
                <i class="fa fa-chevron-right"></i>
            </a>
        </span>
        <paginator ng-hide="idDefined() && user.ViewLayout === 1"></paginator>
    </div>
</nav>
