<nav id="pm_toolbar" class="pm_toolbar">
    <div class="pull-right">
        <span class="pull-right" ng-show="contacts.length > 0">
            <paginator page="currentPage" total-items="totalItems" items-per-page="numPerPage" change="selectPage" />
        </span>
        <a class="pm_button" ng-click="deleteAllContacts()">
            <i class="fa fa-ban"></i> <strong>{{ 'DELETE_ALL_CONTACTS' | translate }}</strong>
        </a>
        <a class="pm_button" ng-click="downloadContacts()">
            <i class="fa fa-download"></i> <strong>{{ 'DOWNLOAD_CONTACTS' | translate }}</strong>
        </a>
        <a class="pm_button" ng-click="uploadContacts()">
            <i class="fa fa-upload"></i> <strong>{{ 'UPLOAD_CONTACTS' | translate }}</strong>
        </a>
    </div>
    <button class="pm_button primary" type="button" ng-click="addContact()">
        <i class="fa fa-plus"></i> <strong>{{ 'ADD_CONTACT' | translate }}</strong>
    </button>
    <button class="delete pm_button" type="button" ng-click="deleteContacts()" ng-disabled="contactsSelected().length === 0">
        <i class="fa fa-trash-o"></i> <strong>{{ 'DELETE_CONTACT' | translate }}</strong>
    </button>
    <button class="compose pm_button" type="button" ng-click="composeContacts()" ng-disabled="contactsSelected().length === 0">
        <i class="fa fa-edit"></i> <strong>{{ 'COMPOSE' | translate }}</strong>
    </button
</nav>
