<nav id="pm_toolbar_responsive">
    <div class="main">
        <span class="pm_buttons back" ng-if="idDefined()">
            <a href="#" ng-click="back()" pt-tooltip="{{ 'BACK_TO_LIST' | translate }}">
                <i class="fa fa-long-arrow-left"></i>
            </a>
        </span>
        <label class="pm_checkbox" ng-if="!idDefined()">
            <input type="checkbox" name="selectAll" ng-checked="allSelected()" ng-click="toggleAllSelected()" pt-tooltip="{{ 'SELECT_ALL_MESSAGES' | translate }}">
            <em class="fa fa-check"></em>
        </label>
        <span class="pm_buttons">
            <a
            href=""
            class="fa fa-eye"
            pt-tooltip="{{ 'MARK_AS_READ' | translate }}"
            ng-click="read()"
            ng-class="{ disabled: numberElementSelected === 0 }"></a>
            <a
            href=""
            class="fa fa-eye-slash divider"
            pt-tooltip="{{ 'MARK_AS_UNREAD' | translate }}"
            ng-click="unread()"
            ng-class="{ disabled: numberElementSelected === 0 }"></a>
        </span>
        <span class="pm_buttons">
            <a
            href=""
            class="fa fa-trash-o"
            ng-click="move('trash')"
            pt-tooltip="{{ 'MOVE_TO_TRASH' | translate }}"
            ng-hide="{{ 'secured.trash.**' | includedByState }}"
            ng-class="{ disabled: numberElementSelected === 0 }"></a>
            <a
            href=""
            class="fa fa-inbox divider"
            ng-click="move('inbox')"
            pt-tooltip="{{ 'MOVE_TO_INBOX' | translate }}"
            ng-hide="{{ 'secured.inbox.**' | includedByState }}"
            ng-class="{ disabled: numberElementSelected === 0 }"></a>
            <a
            href=""
            class="fa fa-archive divider"
            ng-click="move('archive')"
            pt-tooltip="{{ 'MOVE_TO_ARCHIVE' | translate }}"
            ng-hide="{{ 'secured.archive.**' | includedByState }}"
            ng-class="{ disabled: numberElementSelected === 0 }"></a>
            <a
            href=""
            class="fa fa-ban divider"
            ng-click="move('spam')"
            pt-tooltip="{{ 'MARK_AS_SPAM' | translate }}"
            ng-hide="{{ 'secured.spam.**' | includedByState }}"
            ng-class="{ disabled: numberElementSelected === 0 }"></a>
            <a
            href=""
            class="fa fa-times-circle divider"
            ng-click="delete()"
            pt-tooltip="{{ 'DELETE' | translate }}"
            ng-show="{{ ('secured.trash.**' | includedByState) || ('secured.spam.**' | includedByState) }}"
            ng-class="{ disabled: numberElementSelected === 0 }"></a>
        </span>
        <span class="pm_buttons">
            <a href="" class="pm_trigger open-label" dropdown ng-class="{ disabled: numberElementSelected === 0 }">
                <i class="fa fa-tag"></i>
                <i class="fa fa-angle-down"></i>
            </a>
            <span class="pm_dropdown wide labelDD">
                <dropdown-labels messages="elementsSelected" save="saveLabels"></dropdown-labels>
            </span>
        </span>
    </div>
    <div class="secondary">
        <span class="pm_buttons">
            <a href="" class="pm_trigger" dropdown>
                <strong><small>More</small></strong> <i class="fa fa-angle-down"></i>
            </a>
            <span class="pm_dropdown wider">
                <a href="" ng-click="empty('drafts')" ng-show="{{ 'secured.drafts.**' | includedByState }}">
                    <i class="fa fa-times-circle-o"></i> {{ 'EMPTY_DRAFTS' | translate }}
                </a>
                <a href="" ng-click="empty('spam')" ng-show="{{ 'secured.spam.**' | includedByState }}">
                    <i class="fa fa-times-circle-o"></i> {{ 'EMPTY_SPAM' | translate }}
                </a>
                <a href="" ng-click="empty('trash')" ng-show="{{ 'secured.trash.**' | includedByState }}">
                    <i class="fa fa-times-circle-o"></i> {{ 'EMPTY_TRASH' | translate }}
                </a>
                <a href="" ng-click="orderBy('subject')">
                    <i class="fa fa-sort-alpha-asc"></i> {{ 'SUBJECT' | translate }}: A-Z
                </a>
                <a href="" ng-click="orderBy('-subject')">
                    <i class="fa fa-sort-alpha-desc"></i> {{ 'SUBJECT' | translate }}: Z-A
                </a>
                <a href="" ng-click="orderBy('from')">
                    <i class="fa fa-sort-alpha-asc"></i> {{ 'FROM' | translate }}: A-Z
                </a>
                <a href="" ng-click="orderBy('-from')">
                    <i class="fa fa-sort-alpha-asc"></i> {{ 'FROM' | translate }}: Z-A
                </a>
                <a href="" ng-click="orderBy('size')">
                    <i class="fa fa-sort-amount-asc"></i> {{ 'SIZE' | translate }}: {{ 'SMALL_TO_LARGE' | translate }}
                </a>
                <a href="" ng-click="orderBy('-size')">
                    <i class="fa fa-sort-amount-desc"></i> {{ 'SIZE' | translate }}: {{ 'LARGE_TO_SMALL' | translate }}
                </a>
                <a href="" ng-click="orderBy('-date')">
                    <i class="fa fa-clock-o"></i> {{ 'DATE' | translate }}: {{ 'NEW_TO_OLD' | translate }}
                </a>
                <a href="" ng-click="orderBy('date')">
                    <i class="fa fa-history"></i> {{ 'DATE' | translate }}: {{ 'OLD_TO_NEW' | translate }}
                </a>
            </span>
        </span>
        <paginator page="page" total-items="conversationCount()" items-per-page="CONSTANTS.MESSAGES_PER_PAGE" change="selectPage" />
    </div>
    <div class="clear"></div>
</nav>
