<nav id="pm_toolbar">
    <div class="main">
        <div class="pull-right">
            <span class="pm_buttons">
                <a href="" class="pm_trigger" ng-dropdown>
                    <strong><small>More</small></strong> <i class="fa fa-angle-down"></i>
                </a>
                <span class="pm_dropdown">
                    <a href="" ng-click="orderBy('subject')">
                        <i class="fa fa-sort-alpha-asc"></i> {{ 'SUBJECT' | translate }}: A-Z
                    </a>
                    <a href="" ng-click="orderBy('-subject')">
                        <i class="fa fa-sort-alpha-desc"></i> {{ 'SUBJECT' | translate }}: Z-A
                    </a>
                    <a href="" ng-click="orderBy('from')">
                        <i class="fa fa-sort-alpha-asc"></i> {{ 'FROM' | translate }}: A-Z
                    </a>
                    <a href="" ng-click="orderBy('-from')">
                        <i class="fa fa-sort-alpha-asc"></i> {{ 'FROM' | translate }}: Z-A
                    </a>
                    <a href="" ng-click="orderBy('size')">
                        <i class="fa fa-sort-amount-asc"></i> {{ 'SIZE' | translate }}: {{ 'SMALL_TO_LARGE' | translate }}
                    </a>
                    <a href="" ng-click="orderBy('-size')">
                        <i class="fa fa-sort-amount-desc"></i> {{ 'SIZE' | translate }}: {{ 'LARGE_TO_SMALL' | translate }}
                    </a>
                    <a href="" ng-click="orderBy('-date')">
                        <i class="fa fa-clock-o"></i> {{ 'DATE' | translate }}: {{ 'NEW_TO_OLD' | translate }}
                    </a>
                    <a href="" ng-click="orderBy('date')">
                        <i class="fa fa-history"></i> {{ 'DATE' | translate }}: {{ 'OLD_TO_NEW' | translate }}
                    </a>
                </span>
            </span>
            <span class="pm_buttons">
                <a href="" class="fa fa-list" pt-tooltip="{{ 'SHOW_ALL' | translate }}"></a>
                <a href="" class="fa fa-angle-down divider pm_trigger" ng-dropdown></a>
                <span class="pm_dropdown">
                    <a href="">{{ 'SHOW_UNREAD' | translate }}</a>
                    <a href="">{{ 'SHOW_READ' | translate }}</a>
                </span>
            </span>
            <paginator page="page" total-items="messageCount()" items-per-page="CONSTANTS.MESSAGES_PER_PAGE" change="selectPage" />
        </div>
        <label>
            <input type="checkbox" name="selectAll" ng-checked="allSelectedCheckbox" ng-click="toggleAllSelected()" pt-tooltip="{{ 'SELECT_ALL_MESSAGES' | translate }}">
        </label>
        <span class="pm_buttons">
            <a href="" class="fa fa-eye" pt-tooltip="{{ 'MARK_AS_READ' | translate }}" ng-click="setMessagesReadStatus(true)" ng-class="{ disabled: numberSelectedMessages === 0 }"></a>
            <a href="" class="fa fa-angle-down divider pm_trigger" ng-dropdown ng-class="{ disabled: numberSelectedMessages === 0 }"></a>
            <span class="pm_dropdown">
                <a href="" ng-click="setMessagesReadStatus(false)">
                    <i class="fa fa-eye"></i> {{ 'MARK_AS_UNREAD' | translate }}
                </a>
            </span>
        </span>
        <span class="pm_buttons">
            <a href="" class="fa fa-trash-o" ng-click="moveMessagesTo('trash')" pt-tooltip="{{ 'MOVE_TO_TRASH' | translate }}" ng-class="{ disabled: numberSelectedMessages === 0 }"></a>
            <a href="" class="fa fa-angle-down divider pm_trigger" ng-dropdown ng-class="{ disabled: numberSelectedMessages === 0 }"></a>
            <span class="pm_dropdown">
                <a href="" ng-click="moveMessagesTo('archive')">
                    <i class="fa fa-archive"></i> {{ 'MOVE_TO_ARCHIVE' | translate }}
                </a>
                <a href="" ng-click="moveMessagesTo('spam')">
                    <i class="fa fa-ban"></i> {{ 'MARK_AS_SPAM' | translate }}
                </a>
                <a href="" ng-click="moveMessagesTo('delete')">
                    <i class="fa fa-times-circle"></i> {{ 'DELETE' | translate }}
                </a>
            </span>
        </span>
        <span class="pm_buttons">
            <a href="" class="pm_trigger open-label" ng-dropdown ng-class="{ disabled: numberSelectedMessages === 0 }" pt-tooltip="{{ 'LABELS' | translate }}">
                <i class="fa fa-tag"></i>
                <i class="fa fa-angle-down"></i>
            </a>
            <span class="pm_dropdown wide">
                <dropdown-labels labels="labels" messages="selectedMessages()" save="saveLabels" />
            </span>
        </span>
    </div>
    <div class="mobileMain">
        <span class="pm_checkbox">
            <input type="checkbox">
        </span>
        <span class="pm_buttons">
            <a href="" class="fa fa-eye-slash hidden-xs" pt-tooltip="{{ 'MARK_AS_UNREAD' | translate }}" ng-click="setMessagesReadStatus(false)" ng-class="{ disabled: numberSelectedMessages === 0 }"></a>
            <a href="" class="fa fa-eye divider" pt-tooltip="{{ 'MARK_AS_READ' | translate }}" ng-click="setMessagesReadStatus(true)" ng-class="{ disabled: numberSelectedMessages === 0 }"></a>
        </span>
        <span class="pm_buttons">
            <a href="" class="fa fa-trash-o" ng-click="moveMessagesTo('trash')" ng-class="{ disabled: numberSelectedMessages === 0 }"></a>
            <a href="" class="fa fa-archive divider hidden-xs" ng-click="moveMessagesTo('archive')" ng-class="{ disabled: numberSelectedMessages === 0 }"></a>
            <a href="" class="fa fa-ban divider hidden-xs" ng-click="moveMessagesTo('spam')" ng-class="{ disabled: numberSelectedMessages === 0 }"></a>
        </span>
        <span class="pm_buttons">
            <a href="" class="pm_trigger open-label" ng-dropdown>
                <i class="fa fa-tag"></i>
                <i class="fa fa-angle-down"></i>
            </a>
            <span class="pm_dropdown">
                <dropdown-labels labels="labels" messages="selectedMessages()" save="saveLabels" />
            </span>
        </span>
    </div>
    <div class="mobileSecondary">
        <span class="pm_buttons">
            <a href="" class="pm_trigger" ng-dropdown>
                <strong>More</strong> <i class="fa fa-angle-down"></i>
            </a>
            <span class="pm_dropdown">
                <a href="">Submenu 1</a>
                <a href="">Submenu 2</a>
                <a href="">Submenu 3</a>
            </span>
        </span>
        <paginator page="page" total-items="messageCount()" items-per-page="CONSTANTS.MESSAGES_PER_PAGE" change="selectPage" />
    </div>
</nav>
