<div id="pm_wizard" ng-show="tourActive === true" tabindex="0" ng-keydown="tourHotkeys($event)">
    <a href="#" ng-click="tourEnd()" class="close">
        <i class="fa fa-times"></i>
        {{ 'Close tutorial' | translate }}
    </a>

    <div class="step" ng-show="tourStep === 1">
        <h1 class="badge tada">01</h1>
        <h2 class="title fadeIn" translate>Welcome to your new encrypted email account</h2>
        <div class="body fadeIn">
            <p translate>This short tutorial will show you the main features of your new ProtonMail account. For more information, you can also check out the Welcome email we have sent you. If you ever want to view this tutorial again, you can access it by clicking your username in the upper right corner.</p>
        </div>
    </div>

    <div class="step" ng-show="tourStep === 2">
        <h1 class="badge tada">02</h1>
        <h2 class="title fadeIn" translate>Personalize your layout</h2>
        <div class="body fadeIn">
            <p translate>ProtonMail allows you to fully customize your inbox experience. By clicking <strong>(1)</strong> you can quickly switch between two possible layouts. You can set a default layout, set your composer style, adjust button layouts, and even switch themes under <em>Settings</em> --> <em>Appearance</em> <strong>(2)</strong></p>
        </div>
    </div>

    <div class="step" ng-show="tourStep === 3">
        <h1 class="badge tada">03</h1>
        <h2 class="title fadeIn" translate>Manage your email with labels</h2>
        <div class="body fadeIn">
            <p translate>Labels are a powerful tool to manage your inbox. You can add and remove labels from selected emails by clicking the Label button <strong>(1)</strong>. You can also add, delete, and edit labels by clicking on <em>Label settings</em> <strong>(2)</strong>.</p>
        </div>
    </div>

    <div class="step" ng-show="tourStep === 4">
        <h1 class="badge tada">04</h1>
        <h2 class="title fadeIn" translate>Help and support</h2>
        <div class="body fadeIn">
            <p translate>If you have questions or need help, please visit <a href='https://protonmail.com/support' target='_blank'>our support page</a> to find troubleshooting guides and contact our support team. If you find a bug in ProtonMail, please let us know! You can send us a bug report by clicking <em>Report bugs</em> <strong>(1)</strong></p>
        </div>
    </div>

    <div class="navigation">
        <a href="#" class="next pm_button primary" ng-click="tourNext()" ng-show="tourStep < 4" translate translate-context="Action">Next tip</a>
        <a href="#" class="next pm_button primary" ng-click="tourEnd()" ng-show="tourStep === 4" translate translate-context="Action">Finish</a>
        <ul class="pagination">
            <li ng-class="{ 'active': tourStep === 1 }">
                <a href="#" ng-click="tourGo(1)"></a>
            </li>
            <li ng-class="{ 'active': tourStep === 2 }">
                <a href="#" ng-click="tourGo(2)"></a>
            </li>
            <li ng-class="{ 'active': tourStep === 3 }">
                <a href="#" ng-click="tourGo(3)"></a>
            </li>
            <li ng-class="{ 'active': tourStep === 4 }">
                <a href="#" ng-click="tourGo(4)"></a>
            </li>
        </ul>
    </div>
</div>
