<div id="pm_wizard" ng-show="tourActive === true" tabindex="0" ng-keydown="tourHotkeys($event)">
    <a href="#" ng-click="tourEnd()" class="close">
        <i class="fa fa-times"></i>
        {{ 'CLOSE_THIS_WIZARD' | translate }}
    </a>

    <div class="step" ng-show="tourStep === 1">
        <h1 class="badge tada">01</h1>
        <h2 class="title fadeIn">{{ 'WELCOME_STEP_1_TITLE' | translate }}</h2>
        <div class="body fadeIn">
            <p>{{ 'WELCOME_STEP_1_MESSAGE' | translate }}</p>
        </div>
    </div>

    <div class="step" ng-show="tourStep === 2">
        <h1 class="badge tada">02</h1>
        <h2 class="title fadeIn">{{ 'WELCOME_STEP_2_TITLE' | translate }}</h2>
        <div class="body fadeIn">
            <p>{{ 'WELCOME_STEP_2_MESSAGE' | translate }}</p>
        </div>
    </div>

    <div class="step" ng-show="tourStep === 3">
        <h1 class="badge tada">03</h1>
        <h2 class="title fadeIn">{{ 'WELCOME_STEP_3_TITLE' | translate }}</h2>
        <div class="body fadeIn">
            <p>{{ 'WELCOME_STEP_3_MESSAGE' | translate }}</p>
        </div>
    </div>

    <div class="step" ng-show="tourStep === 4">
        <h1 class="badge tada">04</h1>
        <h2 class="title fadeIn">{{ 'WELCOME_STEP_4_TITLE' | translate }}</h2>
        <div class="body fadeIn">
            <p>{{ 'WELCOME_STEP_4_MESSAGE' | translate }}</p>
        </div>
    </div>

    <div class="navigation">
        <a href="#" class="next pm_button primary" ng-click="tourNext()" ng-show="tourStep < 4">{{ 'OKAY_NEXT_TIP' | translate }}</a>
        <a href="#" class="next pm_button primary" ng-click="tourEnd()" ng-show="tourStep === 4">{{ 'FINISH' | translate }}</a>
        <ul class="pagination">
            <li ng-class="{ 'active': tourStep === 1 }">
                <a href="#" ng-click="tourGo(1)"></a>
            </li>
            <li ng-class="{ 'active': tourStep === 2 }">
                <a href="#" ng-click="tourGo(2)"></a>
            </li>
            <li ng-class="{ 'active': tourStep === 3 }">
                <a href="#" ng-click="tourGo(3)"></a>
            </li>
            <li ng-class="{ 'active': tourStep === 4 }">
                <a href="#" ng-click="tourGo(4)"></a>
            </li>
        </ul>
    </div>
</div>
