<div id="pm_wizard" ng-show="tourActive===true">

    <a ng-click="tourEnd()" class="close">
        <i class="fa fa-times"></i> 
        {{ 'CLOSE_THIS_WIZARD' | translate }}
    </a>

    <div class="step" ng-show="step1">
        <h1 class="badge animated tada">01</h1>
        <h2 class="title animated fadeIn">Change Layout</h2>
        <div class="body animated fadeIn">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

    <div class="step" ng-show="step2">
        <h1 class="badge animated tada">02</h1>
        <h2 class="title animated fadeIn">Manage Labels</h2>
        <div class="body animated fadeIn">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

    <div class="step" ng-show="step3">
        <h1 class="badge animated tada">03</h1>
        <h2 class="title animated fadeIn">Help &amp; Support</h2>
        <div class="body animated fadeIn">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

    <div class="navigation">
        <a href="#" class="next pm_button primary">
            {{ 'OKAY_NEXT_TIP' | translate }}
        </a>
        <ul class="pagination">
            <li class="active">
                <a href="#" ng-click="step1 = true; step2 = false; step3 = false;"></a>
            </li>
            <li>
                <a href="#" ng-click="step1 = false; step2 = true; step3 = false;"></a>
            </li>
            <li>
                <a href="#" ng-click="step1 = false; step2 = false; step3 = true;"></a>
            </li>
        </ul>
    </div>

</div>