.contactSelectorForm-container:not(.contactSelectorForm-limit-reached) .contactSelectorForm-warning-message,
.contactSelectorForm-no-recipients .contactSelectorForm-labels { display: none }

.contactSelectorForm-table-wrapper {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}
.contactSelectorForm-labels {
    max-height: 70px;
}


