.contactPlaceholder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $message-placeholder-color;
}

.contactPlaceholder-icon { font-size: 3rem }
.contactPlaceholder-message { font-size: 1.4em }
