.contactNoResult-container {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
	color: $message-placeholder-color;

	.contactNoResult-icon {
		font-size: 3rem;
		color: inherit;
	}

	.contactNoResult-title {
 		font-size: 2rem;
		color: inherit;
		font-weight: 400;
		display: none;
	}

	.contactNoResult-icon,
	.contactNoResult-title { margin-bottom: 10px }

	.contactNoResult-text-block {
		display: block;
		margin-bottom: 1rem;
		margin-top: .5rem;
		color: inherit;
	}

}

.contacts-empty .contactNoResult-title-empty { display: block }
.contacts-no-result .contactNoResult-title-no-result { display: block }

.appConfigBody-is-mobile .contactNoResult { min-height: 80vh }
