.contactArrowsSort-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    border: 0;
    background: transparent;
    width: 1em;
    height: 37px;
    pointer-events: none;
}

[class*="contactArrowsSort-icon"] {
    position: relative;
    color: $dark !important;
    opacity: .4;
}
.contactArrowsSort-icon-asc { top: 6px; }
.contactArrowsSort-icon-desc { top: -6px; }

.contactArrowsSort-container[order="asc"] .contactArrowsSort-icon-asc,
.contactArrowsSort-container[order="desc"] .contactArrowsSort-icon-desc {
    opacity: 1;
}

/* too small for mobile */
body.appConfigBody-is-mobile .contactArrowsSort-container { display: none }
