.contactError-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: $exp;
    color: $white;
    border: none;
    border-radius: $border-radius;
    padding: .5rem
}

[class*="contactError-item-"] {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .7rem .7rem .7rem 2.2rem;
}

[class*="contactError-item-"]::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: FontAwesome;
    width: 2.2em;
    font-size: 1.1em;
    content: "\f071"
}

[class*="contactError-item-"] h2 {
    font-size: 1em;
}

[class*="contactError-item-"] p {
    margin: 0;
}

[class*="contactError-item-"] a {
    color: $white;
    text-decoration: underline;
}

.contactError-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem !important;
}

.contactError-item-verification {
    display: flex;
    flex-direction: row;

}

[class*="contactError-action-"] {
    width: auto;
    margin-left: auto;
}

.contactError-action-reactivateKeys {
    margin-left: 0;
}

[class*="contactError-action-"]:not(:focus),
[class*="contactError-action-"]:not(:hover) {
    background: $white
}

[class*="contactError-action-"]:focus,
[class*="contactError-action-"]:hover {
    background: $exp;
    color: $white;
    border-color: currentColor;
}
