.contactPhotoRow-container {
    display: flex;
    position: relative;
}

.contactPhotoRow-image {
    display: block;
    max-width: 128px;
    cursor: pointer;
}

.contactPhotoRow-image,
.contactPhotoRow-edit-button,
.contactPhotoRow-load-button,
.contactPhotoRow-clear-button {
    margin-right: 10px;
}

.contactPhotoRow-icon {
    position: absolute;
    color: $danger;
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    vertical-align: middle;
    left: 0;
}

.contactPhotoRow-hide-clear-button .contactPhotoRow-clear-button { display: none }
.contactPhotoRow-container:not(.contactPhotoRow-image-blocked) .contactPhotoRow-load-button { display: none }
.contactPhotoRow-container:not(.contactPhotoRow-image-blocked) .contactPhotoRow-icon { display: none }
