.contactPhotoRow-container {
    display: flex;
}

.contactPhotoRow-image {
    cursor: pointer;
    max-height: 65px;
    max-width: 65px;
}

.contactPhotoRow-image,
.contactPhotoRow-edit-button {
    margin-right: 10px;
}

.contactPhotoRow-hide-clear-button .contactPhotoRow-clear-button { display: none }
