.contactsToolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $contactsToolbar;
    padding-right: 10px;
    border-bottom: 1px solid $border;
}

.contactsToolbar-selectAll {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.contactsToolbar-right {
    flex: 1;
    text-align: right;
}

.contactsToolbar-container > button,
.contactsToolbar-right > button { margin-right: 4px }

.contactsToolbar-contactGroup {
    padding: 0;
    height: 35px;
    z-index: 200;
}

.contactsToolbar-contactGroup,
.contactsToolbar-contactGroup a {
    overflow: visible !important;
}
.contactsToolbar-contactGroup a {
    background: transparent;
}
