.contactViewItem-container, .contactViewItem-container * { box-sizing: border-box }

$mapFields: (
    tel: phone,
    fn: user,
    adr: home,
    org: address-card,
    note: sticky-note,
    photo: photo,
    url: anchor,
    gender: genderless,
    nickname: user-o,
    role: user-circle-o,
    email: envelope
);

@each $field, $icon in $mapFields {
  .contactViewItem-container:not([data-field="#{$field}"]) .fa-#{$icon},
  .contactViewItem-container[data-field="#{$field}"] .fa-tag { display: none }
}

.contactViewItem-container:not([data-field="anniversary"]):not([data-field="bday"]) .fa-birthday-cake,
.contactViewItem-container[data-field="anniversary"] .fa-tag,
.contactViewItem-container[data-field="bday"] .fa-tag { display: none }


.contactViewItem-container a[href] {
    max-width: 70%;
    color: $primary;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

.contactViewItem-container a:focus,
.contactViewItem-container a:hover,
.contactViewItem-container [class*="-btn"]:focus,
.contactViewItem-container [class*="-btn"]:hover {
    color: darken($primary, 10);
}

.contactViewItem-container a:focus,
.contactViewItem-container a:hover {
    text-decoration: underline
}

.contactViewItem-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal
}

[class*="contactViewItem-value"] {
    flex: 1 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    align-items: baseline;
}

.contactViewItem-value-email {
    display: flex;
    /*justify-content: space-between;*/
    width: 50%;
    cursor: pointer;
}

.contactViewItem-label-group {
    flex-direction: row;
    padding: 0;
    margin-left: .5rem;
    width: auto;
    min-width: auto
}

.contactViewItem-label-group[data-overflow="true"] .contactGroupsOverview-ellipsis {
    order: 0;
}

.contactViewItem-actions-dropdownGroup {
    .pm_trigger { color: #555; }
    .toolbarDesktop-select-folder {
        border-radius: 2px;
    }
}

[data-field="note"] .contactViewItem-value-txt {font-style: italic;}

[class*="contactViewItem-btn"] {
    background: transparent;
    border: 0;
    padding: .5rem;
    line-height: 1;
    height: auto
}

.contactViewItem-value-img {
     max-width: 128px;
     max-height: 128px;
     align-self: baseline;
     flex: none;
}

.contactViewItem-container .contactItem-btn-settings {
    cursor: pointer;
    min-width: 1.8rem
}

.contactViewItem-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contactViewItem-actions-dropdownGroup .dropdownGroups-item + .dropdownGroups-item {
    margin-top: 1rem;
}
