@import '~@proton/styles/scss/lib';

.password-strength-indicator {
	--strength-color: var(--signal-danger);
	--bar-color: var(--border-weak);

	transition: opacity 150ms ease;

	&--vulnerable &-bars span:nth-child(1),

	&--weak &-bars span:nth-child(1),
	&--weak &-bars span:nth-child(2),

	&--strong &-bars span:nth-child(1),
	&--strong &-bars span:nth-child(2),
	&--strong &-bars span:nth-child(3) {
			--bar-color: var(--strength-color);
	}

	&--weak {
			--strength-color: var(--signal-warning);
	}

	&--strong {
			--strength-color: var(--signal-success);
	}

	&-bars {
			span {
					background-color: var(--bar-color);
					transition: background-color 150ms ease;
					block-size: rem(2);
			}

			span:nth-child(2) {
					transition-duration: 300ms;
			}

			span:nth-child(3) {
					transition-duration: 450ms;
			}
	}

	&-accent {
			--bar-color: var(--strength-color);
	}

	&-value {
			color: var(--strength-color);
	}
}
