@import '~@proton/styles/scss/lib';

.anime-fade-in,
.anime-fade-in > * {
	animation: anime-fade-in var(--anime-duration, 0.25s) easing(ease-out-sine) var(--anime-delay, 0.1s) both;
}

.anime-fade-out,
.anime-fade-out > * {
	animation: anime-fade-out var(--anime-duration, 0.25s) easing(ease-out-sine) var(--anime-delay, 0.1s) both;
}

@keyframes anime-fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: var(--anime-opacity, 1);
	}
}

@keyframes anime-fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.anime-reveal {
	transition: max-block-size 0.25s ease-in-out;
	max-block-size: var(--anime-max-height, rem(180));
	min-block-size: 0;
	overflow: hidden;

	&--hidden {
		max-block-size: 0;
	}
}
