a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.button {
	padding-block: 0.5rem;
	padding-inline: 0.75rem;

	&.button-small {
		padding-block: 0.375rem;
		padding-inline: 0.5rem;
	}
}

.button-solid-norm,
.button-solid-weak {
	align-items: center;
	display: flex;
	justify-content: center;
	block-size: 2.25rem;

	&.button-for-icon {
		inline-size: 2.25rem;
	}

	&.button-fluid {
		block-size: unset;
	}

	&.button-small {
		block-size: 2rem;

		&.button-for-icon {
			inline-size: 2rem;
		}
	}

	&.button-xs {
		block-size: 1.5rem;

		&.button-for-icon {
			inline-size: 1.5rem;
			padding: 0.25em;
		}
	}
}

.button-for-icon {
	padding: 0.5rem;

	&.button-small {
		padding: 0.375rem;
	}
}

// Pill outline buttons
.button.button-outline-norm.button-pill {
	--button-default-text-color: var(--interaction-norm-major-1);
	--button-hover-text-color: var(--interaction-norm-major-2);
	--button-active-text-color: var(--interaction-norm-major-3);
}
