@import '~@proton/styles/scss/lib/config';

.dropdown {
	background-color: var(--background-weak);
	border: 1px solid var(--border-norm);

	.dropdown-content {
		background-color: var(--background-weak);
	}

	.dropdown-content::before,
	.dropdown-content::after {
		background-color: var(--background-weak);
		block-size: 0.5rem;
	}

	.dropdown-item--is-selected,
	.dropdown-item--is-selected:active,
	.dropdown-item--is-selected:focus,
	.dropdown-item--is-selected:hover {
		background-color: var(--field-norm);
		color: var(--text-norm);
	}
}
