@import '~@proton/styles/scss/lib/config';

.dropdown {
	background-color: var(--background-weak);
	border: 1px solid var(--border-weak);

	.dropdown-content {
		background-color: var(--background-weak);
	}

	.dropdown-content::before,
	.dropdown-content::after {
		background-color: var(--background-weak);
	}
}

.dropdown,
#pass-sidebar {
	.sidebar-item-selected,
	.sidebar-item-selected:active,
	.sidebar-item-selected:focus,
	.sidebar-item-selected:hover {
		background-color: var(--sidebar-item-selected-background-color);
	}
}
