@import '~@proton/styles/scss/lib/config';

:root {
	--border-radius-xl: 0.88rem;
}

// Force the default font-size to the standard 16px value
// for all pass extension components in order to avoid
// inconsistencies when user overrides browser settings
html {
	font-size: 16px;
}

// Pill outline buttons
.button.button-outline-norm.button-pill {
	--button-default-text-color: var(--interaction-norm-major-1);
	--button-hover-text-color: var(--interaction-norm-major-2);
	--button-active-text-color: var(--interaction-norm-major-3);
}

pre {
	// override default monospaced font applied to pre tag
	font-family: var(--optional-font-family, 'Inter', #{$fallback-fonts});
	margin: 0;
}
