@import '~@proton/styles/scss/proton-pass';

@import 'animation';
@import 'button';
@import 'fields';
@import 'lobby';
@import 'scroll';
@import 'skeletons';
@import 'text';
@import 'password';
@import 'utils';
@import 'table';

:root {
	--pass-sidebar-size: 22.5em;
	--border-radius-xl: 0.88rem;
	--upsell-modal-background-color: #1b1340;
	--upsell-modal-button-color: #6d4aff;
	--upsell-modal-badge-color: #2c9f78;
	--upsell-modal-badge-background-color: #eef8f5;
}

$endpoints: 'extension', 'web', 'desktop';

@each $endpoint in $endpoints {
	$base: '.pass-#{$endpoint}';

	#{$base} {
		#{$base}\:hidden {
			display: none;
		}

		@each $sub in $endpoints {
			@if $sub != $endpoint {
				.pass-#{$sub}\:only {
					display: none;
				}
			}
		}
	}
}

.ratio-2\/1 {
	aspect-ratio: 2/1;
}
