@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/meet/meet-breakpoints' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints;
im.$media-expressions: $media-expressions;

.anonymous-modal {
	background-color: #0006 !important;

	.create-account-button {
		background: linear-gradient(126.18deg in oklch, #cbcbff 37.29%, #9696f9 70%, #8e75f7 100%);

		&:hover,
		&:focus {
			background: linear-gradient(126.18deg, #cbcbff -6.94%, #9696f9 6.61%, #8e75f7 85.09%);
			color: var(--text-invert);
		}
	}

	.rejoin-meeting-button {
		text-decoration: none;
		color: var(--interaction-norm);
	}

	.modal-two-dialog-container,
	.modal-two-dialog {
		inline-size: 90%;
		box-shadow: none !important;
		box-shadow: 0 0 44px 0 #0003;

		@include im.media('>medium') {
			inline-size: 24.5rem !important;
			block-size: fit-content !important;
		}
	}
}
