@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/meet/meet-breakpoints' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints;
im.$media-expressions: $media-expressions;

.stacked-field {
	&#{&} {
		--stacked-field-border-radius: var(--border-radius-xxl);
		--stacked-field-background: var(--background-card);
		--field-focus-background-color: var(--background-card);
		--border-norm: var(--border-card);

		padding-block: var(--space-4);
		padding-inline: var(--space-6);
	}

	.field-two-assist {
		display: none;
	}

	&:focus-within::after {
		box-shadow: 0 0 0 0.065rem var(--interaction-norm) !important;
	}
}

.copy-button {
	background-color: var(--interaction-weak-minor-2);
	color: var(--interaction-norm);

	&:hover,
	&:focus {
		background-color: var(--interaction-weak-minor-1);
		color: var(--interaction-norm);
	}

	&:active {
		color: var(--interaction-norm);
	}
}

.continue-button {
	&:hover,
	&:focus {
		color: var(--text-invert) !important;
	}
}

.meeting-id-field {
	&:focus-within::after {
		box-shadow: none !important;
		border: none !important;
	}
}

.pre-join-details-name-input-field {
	border-radius: 1rem;

	@include im.media('>small') {
		border-radius: initial;
	}
}

.pre-join-details-container {
	justify-content: initial;
	align-items: initial;

	@include im.media('>medium') {
		justify-content: center;
		align-items: center;
	}

	@include im.media('>small') {
		justify-content: initial;
		align-items: initial;
	}
}

.title {
	font-size: 1.75rem;
	line-height: 2.25rem;
}
