<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{ 'PAYMENT' | translate }}</h4>
    </div>
    <div class="modal-body pm_form">
        <div class="pm_grid">
            <div class="col-1-2">
                <table class="pm_table">
                    <thead>
                        <tr>
                            <th>{{ 'DESCRIPTION' | translate }}</th>
                            <th class="text-right">{{ 'PRICE' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="element in ctrl.cart">
                            <td>{{ element.title }} <span ng-show="element.number > 1">x {{ element.number }}</span></td>
                            <td class="text-right">{{ element.price | currency: ctrl.currency }}</td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    {{ 'TOTAL' | translate }} <span ng-show="ctrl.billing === 'monthly'">{{ 'PER_MONTH' | translate }}</span><span ng-show="ctrl.billing === 'yearly'">{{ 'PER_YEAR' | translate }}</span>
                                </strong>
                            </td>
                            <td class="text-right">
                                <strong>{{ ctrl.total() | currency: ctrl.currency }}</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-1-2">
                <table class="pm_table plain">
                    <tbody>
                        <tr>
                            <td>Card Number</td>
                            <td>**** **** **** 1234</td>
                        </tr>
                        <tr>
                            <td>Holder</td>
                            <td>Keven Bayrak</td>
                        </tr>
                        <tr>
                            <td>Valid Until</td>
                            <td>07/16</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a href="#">
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <p>Your credit card will be automatically charged on a {{ ctrl.total }} basis. By clicking submit, you agree to our <a href="" target="_blank">Terms and Conditions</a>.</p>

    </div>
</div>
<div class="modal-footer text-right">
    <button type="button" class="pm_button" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</button>
    <button type="button" class="pm_button primary" ng-click="ctrl.submit()">{{ 'SUBMIT' | translate }}</button>
</div>
