<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{ 'PAYMENT' | translate }}</h4>
    </div>
    <div class="modal-body pm_form">
        <div class="pm_grid">
            <div class="col-1-2">
                <table class="pm_table">
                    <thead>
                        <tr>
                            <th>{{ 'DESCRIPTION' | translate }}</th>
                            <th class="text-right">{{ 'PRICE' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="element in ctrl.cart">
                            <td>{{ element.title }} <span ng-show="element.number > 1">x {{ element.number }}</span></td>
                            <td class="text-right">{{ element.price | currency: ctrl.currency }}</td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    {{ 'TOTAL' | translate }} <span ng-show="ctrl.billing === 1">{{ 'PER_MONTH' | translate }}</span><span ng-show="ctrl.billing === 12">{{ 'PER_YEAR' | translate }}</span>
                                </strong>
                            </td>
                            <td class="text-right">
                                <strong>{{ ctrl.total() | currency: ctrl.currency }}</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-1-2">
                <div class="input-icon margin">
                    <i class="fa fa-user"></i>
                    <input type="text" ng-model="ctrl.fullname" placeholder="{{ 'FULLNAME' | translate }}" />
                </div>
                <div class="input-icon margin">
                    <i class="fa {{ ctrl.cardTypeIcon }}"></i>
                    <input type="text" maxlength="20" autocomplete="off" ng-model="ctrl.number" ng-model-options="{updateOn: 'blur'}" ng-change="" placeholder="{{ 'CARD_NUMBER' | translate }}" required />
                </div>
                <div class="pm_grid margin">
                    <div class="col-1-3">
                        <div class="input-icon">
                            <i class="fa fa-calendar-o"></i>
                            <input type="text" maxlength="2" autocomplete="off" ng-model="ctrl.month" ng-model-options="{updateOn: 'blur'}" placeholder="MM" required pt-tooltip="{{ 'MONTH' | translate }}" />
                        </div>
                    </div>
                    <div class="col-1-3">
                        <div class="input-icon">
                            <i class="fa fa-calendar-o"></i>
                            <input type="text" maxlength="2" autocomplete="off" ng-model="ctrl.year" ng-model-options="{updateOn: 'blur'}" placeholder="YY" required pt-tooltip="{{ 'YEAR' | translate }}" />
                        </div>
                    </div>
                    <div class="col-1-3">
                        <div class="input-icon">
                            <i class="fa fa-lock"></i>
                            <input type="text" maxlength="4" autocomplete="off" ng-model="ctrl.cvc" ng-model-options="{updateOn: 'blur'}" placeholder="CVC" required pt-tooltip="Card Validation Code" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p>Your credit card will be automatically charged on a {{ ctrl.total }} basis. By clicking submit, you agree to our <a href="" target="_blank">Terms and Conditions</a>.</p>

    </div>
</div>
<div class="modal-footer text-right">
    <button type="button" class="pm_button" ng-click="ctrl.cancel()" ng-disabled="ctrl.process">{{ 'CANCEL' | translate }}</button>
    <button type="button" class="pm_button primary" ng-click="ctrl.submit()" ng-disabled="ctrl.process">{{ 'SUBMIT' | translate }}</button>
</div>
