<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{ 'PAYMENT' | translate }}</h4>
    </div>
    <div class="modal-body pm_form">
        <div class="pm_grid">
            <div class="col-1-1">
                <p class="alert alert-info">You’re upgrading to the {{ ctrl.config.Cart.Next.Plan | capitalize }} plan. Once we successfully process payment, we’ll immediately upgrade your account. Thanks for choosing to become a paying customer!</p>
            </div>
        </div>
        <div class="pm_grid">
            <div class="col-1-2">
                <table class="pm_table">
                    <thead>
                        <tr>
                            <th>{{ 'DESCRIPTION' | translate }}</th>
                            <th>{{ 'QUANTITY' | translate }}</th>
                            <th>{{ 'PRICE' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ 'STORAGE' | translate }}</td>
                            <td class="text-center">{{ ctrl.config.Cart.Next.MaxSpace / ctrl.base / ctrl.base / ctrl.base }} GB</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{ 'DOMAINS' | translate }}</td>
                            <td class="text-center">{{ ctrl.config.Cart.Next.MaxDomains }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{ 'ADDRESSES' | translate }}</td>
                            <td class="text-center">{{ ctrl.config.Cart.Next.MaxAddresses }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{ 'USERS' | translate }}</td>
                            <td class="text-center">{{ ctrl.config.Cart.Next.MaxMembers }}</td>
                            <td></td>
                        </tr>
                        <tr ng-show="ctrl.coupon">
                            <td>{{ 'COUPON' | translate }}</td>
                            <td class="text-center">1</td>
                            <td>-{{ ctrl.coupon / 100 | number: 2 | currency: ctrl.config.Subscription.Currency }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <strong>{{ 'TOTAL' | translate }}</strong> <small ng-show="ctrl.config.Subscription.BillingCycle === 1">{{ 'PER_MONTH' | translate }}</small><small ng-show="ctrl.config.Subscription.BillingCycle === 12">{{ 'PER_YEAR' | translate }}</small>
                            </td>
                            <td>
                                <strong>{{ ctrl.total() | number: 2 | currency: ctrl.config.Subscription.Currency }}</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-1-2">
                <div class="input-icon margin" ng-show="ctrl.config.Cart.Next.Plan === 'business'">
                    <i class="fa fa-briefcase"></i>
                    <input type="text" ng-model="ctrl.config.Organization.DisplayName" placeholder="{{ 'ORGANIZATION_NAME' | translate }}" />
                </div>
                <!-- <div class="input-icon margin" ng-show="ctrl.create === true">
                    <i class="fa fa-life-ring"></i>
                    <input type="password" ng-model="ctrl.recovery" placeholder="{{ 'ORGANIZATION_RECOVERY_PASSWORD' | translate }}" />
                </div> -->
                <div class="input-icon margin">
                    <i class="fa fa-user"></i>
                    <input type="text" ng-model="ctrl.fullname" ng-change="ctrl.change = true" ng-model-options="{updateOn: 'blur'}" placeholder="{{ 'FULLNAME' | translate }}" />
                </div>
                <div class="input-icon margin">
                    <i class="fa {{ ctrl.cardTypeIcon }}"></i>
                    <input type="text" maxlength="20" autocomplete="off" ng-model="ctrl.number" ng-change="ctrl.change = true" ng-model-options="{updateOn: 'blur'}" placeholder="{{ 'CARD_NUMBER' | translate }}" required />
                </div>
                <div class="pm_grid margin">
                    <div class="col-1-3">
                        <div class="input-icon">
                            <i class="fa fa-calendar-o"></i>
                            <input type="text" maxlength="2" autocomplete="off" ng-model="ctrl.month" ng-change="ctrl.change = true" ng-model-options="{updateOn: 'blur'}" placeholder="MM" pt-tooltip="{{ 'MONTH' | translate }}" required />
                        </div>
                    </div>
                    <div class="col-1-3">
                        <div class="input-icon">
                            <i class="fa fa-calendar-o"></i>
                            <input type="text" maxlength="4" autocomplete="off" ng-model="ctrl.year" ng-change="ctrl.change = true" ng-model-options="{updateOn: 'blur'}" placeholder="YY" pt-tooltip="{{ 'YEAR' | translate }}" required />
                        </div>
                    </div>
                    <div class="col-1-3">
                        <div class="input-icon">
                            <i class="fa fa-lock"></i>
                            <input type="text" maxlength="4" autocomplete="off" ng-model="ctrl.cvc" ng-change="ctrl.change = true" ng-model-options="{updateOn: 'blur'}" placeholder="CVC" pt-tooltip="Card Validation Code" required />
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
                <div class="pm_grid">
                    <div class="col-2-3">
                        <div class="input-icon">
                            <i class="fa fa-tag"></i>
                            <input type="text" ng-model="ctrl.config.Coupon" placeholder="{{ 'COUPON' | translate }}" />
                        </div>
                    </div>
                    <div class="col-1-3">
                        <button class="pm_button primary" ng-click="ctrl.apply()">{{ 'APPLY' | translate }}</button>
                    </div>
                </div>
                <p>Your credit card will be automatically charged on a {{ ctrl.total() | number: 2 | currency: ctrl.config.Subscription.Currency }} basis. By clicking submit, you agree to our <a href="" target="_blank">Terms and Conditions</a>.</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer text-right">
    <button type="button" class="pm_button" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</button>
    <button type="button" class="pm_button primary" ng-click="ctrl.submit()">{{ 'SUBMIT' | translate }}</button>
</div>
