<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{ 'PAYMENT' | translate }}</h4>
    </div>
    <div class="modal-body pm_form">
        <div class="pm_grid">
            <div class="col-1-2">
                <table class="pm_table">
                    <thead>
                        <tr>
                            <th>{{ 'DESCRIPTION' | translate }}</th>
                            <th>{{ 'QUANTITY' | translate }}</th>
                            <th class="text-right">{{ 'PRICE' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="plan in ctrl.plans | filter: {Type: 1}">
                            <td colspan="2">{{ plan.Title }}</td>
                            <td class="text-right">
                                <strong>{{ plan.Amount / 100 | currency: plan.Currency }}</strong>
                            </td>
                        </tr>
                        <tr ng-repeat="plan in ctrl.plans | filter: {Type: 0}">
                            <td>{{ plan.Title }}</td>
                            <td class="text-center">{{ plan.quantity }}</td>
                            <td class="text-right">
                                <strong>{{ plan.quantity * plan.Amount / 100 | currency: plan.Currency }}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <strong>{{ 'TOTAL' | translate }}</strong> <small ng-show="ctrl.valid.Cycle === 1">{{ 'PER_MONTH' | translate }}</small><small ng-show="ctrl.valid.Cycle === 12">{{ 'PER_YEAR' | translate }}</small>
                            </td>
                            <td class="text-right">
                                <strong>{{ ctrl.valid.Amount / 100 | currency: ctrl.valid.Currency }}</strong>
                            </td>
                        </tr>
                        <tr ng-show="ctrl.valid.Proration !== 0">
                            <td colspan="2">{{ 'PRORATION' | translate }}</td>
                            <td class="text-right text-green"><strong>{{ ctrl.valid.Proration / 100 | currency: ctrl.valid.Currency }}</strong></td>
                        </tr>
                        <tr ng-show="ctrl.valid.CouponDiscount !== 0">
                            <td colspan="2">{{ 'COUPON_APPLIED' | translate }}</td>
                            <td class="text-right text-green"><strong>{{ ctrl.valid.CouponDiscount / 100 | currency: ctrl.valid.Currency }}</strong></td>
                        </tr>
                        <tr ng-show="ctrl.valid.Credit !== 0">
                            <td colspan="2">{{ 'CREDIT_APPLIED' | translate }}</td>
                            <td class="text-right text-green"><strong>{{ ctrl.valid.Credit / 100 | currency: ctrl.valid.Currency }}</strong></td>
                        </tr>
                        <tr ng-show="ctrl.valid.Proration !== 0 || ctrl.valid.CouponDiscount !== 0 || ctrl.valid.Credit !== 0">
                            <td colspan="2"><strong>{{ 'AMOUNT_DUE' | translate }}</strong></td>
                            <td class="text-right"><strong>{{ ctrl.valid.AmountDue / 100 | currency: ctrl.valid.Currency }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-1-2" ng-hide="ctrl.valid.AmountDue === 0">
                <!-- <div class="input-icon margin">
                    <i class="fa fa-briefcase"></i>
                    <input type="text" ng-model="ctrl.organizationName" placeholder="{{ 'ORGANIZATION_NAME' | translate }}" />
                </div> -->
                <div class="input-icon margin">
                    <i class="fa fa-user"></i>
                    <input type="text" ng-model="ctrl.fullname" ng-change="ctrl.cardChange = true" ng-model-options="{updateOn: 'blur'}" placeholder="{{ 'FULLNAME' | translate }}" pt-tooltip="{{ 'FULLNAME' | translate }}" />
                </div>
                <div class="pm_grid margin">
                    <div class="col-2-3">
                        <span class="pm_select" pt-tooltip="{{ 'COUNTRY' | translate }}">
                            <select ng-model="ctrl.country" ng-change="ctrl.cardChange = true" ng-options="country.label for country in ctrl.countries | orderBy: 'priority'"></select>
                            <i class="fa fa-angle-down"></i>
                        </span>
                    </div>
                    <div class="col-1-3">
                        <div class="input-icon">
                            <i class="fa fa-location-arrow"></i>
                            <input type="text" minlength="3" maxlength="9" autocomplete="off" ng-model="ctrl.zip" ng-change="ctrl.cardChange = true" ng-model-options="{updateOn: 'blur'}" placeholder="{{ 'ZIP' | translate }}" pt-tooltip="{{ 'ZIP_CODE' | translate }}" required />
                        </div>
                    </div>
                </div>
                <div class="input-icon margin">
                    <i class="fa {{ ctrl.cardTypeIcon }}"></i>
                    <input type="text" maxlength="20" autocomplete="off" ng-model="ctrl.number" ng-change="ctrl.cardChange = true" ng-model-options="{updateOn: 'blur'}" placeholder="{{ 'CARD_NUMBER' | translate }}" pt-tooltip="{{ 'CARD_NUMBER' | translate }}" required />
                </div>
                <div class="pm_grid margin">
                    <div class="col-1-3">
                        <div class="input-icon">
                            <i class="fa fa-calendar-o"></i>
                            <input type="text" maxlength="2" autocomplete="off" ng-model="ctrl.month" ng-change="ctrl.cardChange = true" ng-model-options="{updateOn: 'blur'}" placeholder="MM" pt-tooltip="{{ 'MONTH' | translate }}" required />
                        </div>
                    </div>
                    <div class="col-1-3">
                        <div class="input-icon">
                            <i class="fa fa-calendar-o"></i>
                            <input type="text" maxlength="4" autocomplete="off" ng-model="ctrl.year" ng-change="ctrl.cardChange = true" ng-model-options="{updateOn: 'blur'}" placeholder="YY" pt-tooltip="{{ 'YEAR' | translate }}" required />
                        </div>
                    </div>
                    <div class="col-1-3">
                        <div class="input-icon">
                            <i class="fa fa-lock"></i>
                            <input type="text" maxlength="4" autocomplete="off" ng-model="ctrl.cvc" ng-change="ctrl.cardChange = true" ng-model-options="{updateOn: 'blur'}" placeholder="CVC" pt-tooltip="{{ 'CARD_VALIDATION_CODE' | translate }}" required />
                        </div>
                    </div>
                </div>
                <p ng-show="ctrl.displayCoupon === false">
                    <a href="#" ng-click="ctrl.displayCoupon = true">{{ 'ADD_COUPON'}}</a>
                </p>
                <div class="pm_grid" ng-show="ctrl.displayCoupon === true">
                    <div class="col-2-3">
                        <div class="input-icon">
                            <i class="fa fa-tag"></i>
                            <input type="text" ng-model="ctrl.coupon" placeholder="{{ 'COUPON' | translate }}" />
                        </div>
                    </div>
                    <div class="col-1-3">
                        <button type="button" class="pm_button primary" ng-click="ctrl.apply()">{{ 'APPLY' | translate }}</button>
                    </div>
                </div>
                <p>By clicking submit, you agree to our <a href="https://protonmail.com/terms-and-conditions" target="_blank">Terms and Conditions</a>.</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer text-right">
    <button type="button" class="pm_button" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</button>
    <button type="button" class="pm_button primary" ng-click="ctrl.submit()">{{ 'SUBMIT' | translate }}</button>
</div>
