<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{ 'PAYMENT' | translate }}</h4>
    </div>
    <div class="modal-body text-center">
        <p>&nbsp;</p>
        <p class="alert alert-info">You’re upgrading to the <strong>{{ ctrl.plans[0].Name | capitalize }} plan</strong>. Once we successfully process payment, we’ll immediately upgrade your account. Thanks for choosing to become a paying customer!</p>
        <p>&nbsp;</p>
        <p>Your account is being updated, this may take up to 30 seconds.</p>
        <p>&nbsp;</p>
        <loader-tag></loader-tag>
    </div>
</div>
