<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" translate translate-context="Title">Payment</h4>
    </div>
    <div class="modal-body text-center">
        <p>&nbsp;</p>
        <p class="alert alert-info" translate translate-context="Info">You're upgrading your account. Once we successfully process payment, we'll immediately upgrade your account. Thanks for choosing to become a paying customer!</p>
        <p>&nbsp;</p>
        <p translate translate-context="Info">Your account is being updated, this may take up to 30 seconds.</p>
        <p>&nbsp;</p>
        <loader-tag></loader-tag>
    </div>
</div>
