@import '~@proton/styles/scss/lib';

.storage-split-popper {
	&-in-first {
		animation: anime-storage-split-popper-in-first 0.2s easing(ease-out-quart) both;

		@keyframes anime-storage-split-popper-in-first {
			from {
				scale: 0.9;
				opacity: 0;
			}

			to {
				scale: 1.001; // To avoid text jittering
				opacity: 1;
			}
		}
	}

	&-in {
		animation: anime-storage-split-popper-in 0.15s easing(ease-in-quad) both;

		@keyframes anime-storage-split-popper-in {
			from {
				opacity: 0;
			}

			to {
				opacity: 1;
			}
		}
	}

	&-out {
		animation: anime-storage-split-popper-out 0.15s easing(ease-out-quad) both;

		@keyframes anime-storage-split-popper-out {
			from {
				opacity: 1;
			}

			to {
				opacity: 0;
			}
		}
	}

	&-out-last {
		animation: anime-storage-split-popper-out-last 0.35s easing(ease-in-expo) both;

		@keyframes anime-storage-split-popper-out-last {
			from {
				scale: 1.001; // To avoid text jittering
				opacity: 1;
			}

			to {
				scale: 0.9;
				opacity: 0;
			}
		}
	}
}
