@import '~@proton/styles/scss/config';

.container-plans-signup {
	max-inline-size: rem(1000);
	inline-size: 100%;

	@include respond-to($breakpoint-medium) {
		--label-width: 45%;
	}

	span[aria-describedby] {
		position: relative;
		z-index: 5;
	}
}

.signup-title {
	display: flex;
	inline-size: 100%;
	font-weight: bold;
	font-size: rem(22);

	&::before,
	&::after {
		content: '';
		flex: 1;
		align-self: center;
		border-block-end: 1px solid var(--border-norm);
		margin-block-start: 0.25em;
	}

	&::before {
		margin-inline-end: 1em;
	}

	&::after {
		margin-inline-start: 1em;
	}
}

.selected-plan {
	min-inline-size: 285px !important;
}

.plan-back-button,
.plan-help-button {
	@include respond-to($breakpoint-small) {
		order: -1;
		flex-basis: auto;
	}
}
