.ui-prominent {
    --primary: #8a6eff;

    --signal-danger: #f5385a;

    --signal-warning: #ff9900;

    --signal-success: #1ea885;

    --signal-info: #239ece;

    --interaction-norm: #6d4aff;

    --interaction-weak: #4c34b2;

    --text-norm: white;
    --text-weak: #b3a3f5;
    --text-hint: #8067e4;
    --text-disabled: #5940bf;
    --text-invert: #1b1340;

    --field-norm: #9282d4;
    --field-hover: #7c5cff;
    --field-disabled: #38277a;

    --focus-outline: #6d4aff;
    --focus-ring: rgb(109 74 255 / 0.3);

    --border-norm: #413085;
    --border-weak: #3c2b80;

    --background-norm: #1b1340;
    --background-weak: #271c57;
    --background-strong: #38277a;

    --interaction-default: transparent;
    --interaction-default-hover: rgb(74 54 143 / 0.3);
    --interaction-default-active: rgb(74 57 143 / 0.5);

    --shadow-primary-color: 109 74 255;
    --shadow-norm-opacity: 0.32;
    --shadow-raised-opacity: 0.35;
    --shadow-lifted-opacity: 0.4;

    --backdrop-norm: rgb(0 0 0 / 0.32);

    /* Optional colors */

    --optional-scrollbar-thumb-color: #413085;

    --optional-link-norm: var(--interaction-norm-major-1);
    --optional-link-hover: var(--interaction-norm-major-2);
    --optional-link-active: var(--interaction-norm-major-3);

    --optional-mini-calendar-today-color: white;

    --optional-logo-text-proton-color: white;
    --optional-logo-text-product-color: white;
}
