.hoverable-row {
	cursor: pointer;

	&:hover {
		background-color: var(--interaction-weak);
	}
}

.datagrid-container {
	display: grid;
	column-gap: 1rem;

	// grid-template-columns: NEEDS TO BE SET DYNAMICALLY
}

.datagrid-row {
	display: grid;
	grid-column: 1 / -1; // row covers all grid columns
	grid-template-columns: subgrid;

	&#{&}::after {
		border-radius: var(--border-radius-lg);
	}
}

.datagrid-cell {
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
}
