<form class="searchForm-container" name="searchForm" novalidate>
    <div class="search-form-fieldset">
        <button class="searchForm-action-button-default">
            <i class="fa fa-search"></i>
        </button>
        <input ng-model="query" class="search-form-fieldset-input searchInput searchInput-noClearSearch placeholder-white no-outline" type="search" autocomplete="off">
        <button type="reset" class="searchForm-action-button-clear">
            <i class="fa fa-times"></i>
        </button>
    </div>
</form>
