$header-height: 52;

@import '~@proton/pass/styles/common';
@import '~@proton/styles/scss/lib/config';

.app-root {
	transform: translateZ(0); // to be rendered by GPU
}

:not(input, textarea),
:not(input, textarea)::after,
:not(input, textarea)::before {
	user-select: none;
}

.is-electron-windows {
	.logo-container {
		display: none;
	}
}

.is-electron-mac {
	.logo-container > * {
		display: none;
	}

	.header {
		-webkit-app-region: drag;

		button,
		input,
		select,
		textarea,
		ol,
		ul {
			-webkit-app-region: no-drag;
		}
	}
}
