$header-height: 52;

@import '~@proton/pass/styles/common';
@import '~@proton/styles/scss/lib/config';

.app-root {
	transform: translateZ(0); // to be rendered by GPU
}

:not(input, textarea),
:not(input, textarea)::after,
:not(input, textarea)::before {
	user-select: none;
}

.is-electron-windows {
	.logo-container {
		display: none;
	}
}

.is-electron-mac {
	.logo-container > * {
		display: none;
	}

	.header {
		-webkit-app-region: drag;
	}

	/** -webkit-app-region doesn't respect element positioning,
	  * so any element rendered on top of a .header is still unclickable
	  * regardless of z-index. To mitigate we're explicitly listing
	  * common interactive elements after a -webkit-app-region: drag rule
	  * to make them work.
	  * 
	  * Looks like this isn't getting fixed upstream, see
	  * https://github.com/electron/electron/issues/7605
	  */
	button,
	input,
	select,
	textarea,
	ol,
	ul,
	a {
		-webkit-app-region: no-drag;
	}
}
