<div class="pm_buttons layout chooseLayoutBtns-container" ng-class="{
    'chooseLayoutBtns-container-rows': (user.ViewLayout === 1)
}">
    <a
        href="#"
        class="chooseLayoutBtns-btn-column"
        pt-tooltip-translate="Change layout"
        pt-tooltip-translate-context="Action"
        data-action="columns">
        <img src="/assets/img/columnview.svg" />
    </a>
    <a
        href="#"
        class="chooseLayoutBtns-btn-rows"
        pt-tooltip-translate="Change layout"
        pt-tooltip-translate-context="Action"
        data-action="rows">
        <img src="/assets/img/rowview.svg" />
    </a>
</div>
