<header id="pm_header-mobile" class="pm_opensans">
    <btn-display-mobile-sidebar class="logoMobile"></btn-display-mobile-sidebar>
    <span class="location">{{ path }}</span>
    <search-form></search-form>
    <btn-advanced-search class="searchBtn"></btn-advanced-search>
    <a
        href="#"
        class="compose"
        data-action-compose
        data-action-compose-type="new">
        <i class="fa fa-pencil"></i>
    </a>

    <!-- <a href="#" class="searchBtn" ng-click="toggleAdvancedSearch();">
        <i class="fa fa-search"></i>
    </a> -->
</header>
