<div class="pm_grid flex flex-mobileShrink absorbing no-margin slider">
    <div class="col- absorbe">
        <div class="slider">
            <div ng-if="options.minPadding" class="slider-min-padding"></div>
            <div ng-if="options.maxPadding" class="slider-max-padding"></div>
        </div>
    </div>
    <div class="col-">
        <div class="pm_buttons sliderButtons">
            <button type="button" ng-click="minus()">
                <i class="fa fa-chevron-left"></i>
            </button>
            <button type="button" ng-click="plus()">
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
    </div>
</div>
