.load-indicator {
    position: relative;
    margin-left: .5em;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    overflow: hidden;
}

.load-indicator-medium .load-indicator-overlay { margin-top: attr(data-load); }

.load-indicator-overlay {
    top: 0;
    left: 0;
    margin: 0;
    height: 60em;
    border-radius: 0;
    background: linear-gradient(to bottom, rgba(56, 181, 18, .7) 0%, rgba(239, 112, 38, 1) 31%, rgba(208, 33, 39, 1) 100%);
}