@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/rem' as *;

.today-icon {
	font-weight: var(--font-weight-bold);
	border: 1px solid currentcolor;
	border-radius: var(--border-radius-sm);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: rem(8);
	inline-size: rem(16);
	block-size: rem(16);
	line-height: 1;
}
