.composerInputMeta-container {
    position: relative;
    max-height: 2.5em;
    overflow: hidden;
}


.composerInputMeta-overlay {
    display: flex;
    position: absolute;
    z-index: 2;
    background: white;
    height: 100%;
    left: 0;
}

.composerInputMeta-overlay-fakefield {
    padding: .4em .85em;
    max-height: 2.5em;
    margin-right: 2.6rem;
    background: #fcfdff;
}

.composerInputMeta-overlay-list {

    /*max-width: calc(100% - 1.5em);*/

    .svg-ellipsis-clipper {
        position: absolute;
        background: linear-gradient(to right, rgba(255, 255, 255 ,0), white 20%, white 80%);
        height: 100%;
        width: 26px;
        right: 35px;
        z-index: -10;
    }
}
.composerInputMeta-trigger-button {
    z-index: 2;
    padding-left: .5rem;
    padding-right: .5rem;
}

.composerInputMeta-overlay-button {
    z-index: 2;
}



.composerInputMeta-overlay-button {
    outline: 0;
}

.composer-toggle-ccbcc .composerInputMeta-overlay-button svg,
.composer-toggle-ccbcc .composerInputMeta-trigger-button svg {
    transform: rotate(180deg);
}

.composerInputMeta-overlay-hidden .composerInputMeta-overlay {
    visibility: hidden;
    pointer-events: none
}
.composerInputMeta-container:not(.composerInputMeta-overlay-hidden) .encryptionIcon-loader { display: none }

.composerInputMeta-container.composerInputMeta-overlay-hidden {
    max-height: 100%;
    overflow: inherit;
}

.composerInputMeta-label {
    cursor: pointer;
    white-space: nowrap;
}
.composerInputMeta-label:hover {
    color: $primary;
    text-decoration: underline;
}

.composerInputMeta-overlay-list .composer-input-recipient:last-child .composer-recipient-delim {
    display: none;
}

.composerInputMeta-overlay-list .autocompleteEmailsItem-icon {
    display: inline-block;
}

.encryptionIcon-loader {
    min-width: 19px;
    height: 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
