.selected-plan-list {
    li {
        background: url("#{$path-images}sprite-for-css-only.svg#css-check") no-repeat;
        background-size: 1em;
        background-position: left center;
        padding-left: 2em;
    }

    &.selected-plan-list--negative li {
        background: url("#{$path-images}sprite-for-css-only.svg#css-minus") no-repeat;
        background-position: left 0.25em;
    }
}
