.labelsState-item-icon {
    margin: 0 .5rem;
    line-height: 32px;
    float: left;
}
.labelsState-item-name {
    line-height: 1.3;
}
.labelsState-toggle-label { margin-right: .5rem }
.settingsLabels-container .help-dnd { text-align: right }
.appConfigBody-is-mobile .settingsLabels-container .help-dnd { text-align: left }
