.labelModal-container {
    .pm_button.primary { padding: 0 1rem }
}
.labelModal-list,
.labelModal-list * { box-sizing: border-box }

.labelModal-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.labelModal-errors {
    display: block !important;
    overflow: hidden;
    margin: .8em 0;
    opacity: 0;
    [ng-message] { margin: 0; padding: 0 }
}

.labelModal-errors.ng-inactive { margin-bottom: 1.6em }

.labelModal-form.ng-invalid.ng-dirty .labelModal-errors {
    opacity: 1;
}

.labelModal-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    min-width: 2rem;
    border-radius: 50%;
    padding: 0;
    margin: 0 .35rem .35rem 0;
    overflow: hidden;
}

.labelModal-item .fa {
    opacity: 0;
    color: $white;
    display: inline-block;
    transition: opacity .1s linear;
}

.labelModal-item:hover .fa { opacity: .25 }

.labelModal-item-mask {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 2;
    background: currentColor;
    border: 2px solid $white;
    pointer-events: none;
    transition: border .1s ease-out;
}

.labelModal-input-color {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    cursor: pointer;
}

.labelModal-input-color:checked + .labelModal-item-mask .fa { opacity: 1 }

.labelModal-input-color:focus + .labelModal-item-mask,
.labelModal-input-color:checked + .labelModal-item-mask {
    border:3px solid rgba(0, 0, 0, .1);
}
