@import '~@proton/styles/scss/lib';

.subscription-container {
	background-color: var(--background-lowered);

	.subscriptions-list-header {
		background-color: var(--background-lowered);
	}

	.subscription-card {
		background-color: var(--background-elevated);
		transition: box-shadow 0.2s easing(ease);

		.subscription-card-image {
			inline-size: 2.25rem;
		}

		.subscription-card-dropdown {
			margin-inline-start: auto;
		}

		&:hover {
			box-shadow: var(--shadow-raised);
		}
	}
}
