<ul class="contactItem-container as-sortable-disabled">
    <li class="contactItem-row">
        <div class="contactItem-sortable-wrapper">
            <label class="contactItem-label">
                <input class="contactItem-label-input" type="text" value="" readonly="readonly">
                <i class="fa itemIcon fa-thumb-tack"></i>
            </label>

            <div class="contactItem-aside">
                <div class="contactItem-inputs">
                    <toggle class="small" data-on="ON" data-off="OFF" data-action="toggleKeyPinning" data-status="keyPinningEnabled"></toggle>
                </div>
                <div class="contactItem-actions">

                </div>
            </div>
        </div>
    </li>
</ul>
