<div class="contact-pgp-container">
    <p class="alert alert-info pgp-external-only pgp-inline-only" translate translate-context="Info">
        PGP/Inline is only compatible with Plain Text format.
        Please note that ProtonMail always signs PGP/Inline messages.
    </p>
    <p class="alert alert-info pgp-external-only pgp-mime-only" translate translate-context="Info">
        PGP/MIME automatically sends the message using the current composer mode.
        Please note that ProtonMail always signs PGP/MIME messages.
    </p>
    <contact-item
        ng-class="{ 'contact-disabled': internalKeys.RecipientType === 2 && (model.Encrypt[0].value || model.Sign[0].value) }"
        data-form="contactForm"
        data-model="model"
        data-datas="model.MIMEType"
        data-type="MIMEType"></contact-item>
<div ng-if="internalKeys.RecipientType === 2" class="encryption-title">
    <h5 class="main-title" translate translate-context="Subtitle advanced settings">Configure External PGP (optional)</h5>

</div>
<div ng-if="internalKeys.RecipientType === 1" class="encryption-title">
    <h5 class="main-title" translate translate-context="Subtitle advanced settings">Address Verification with Trusted Keys (optional)</h5>
</div>
    <p class="alert alert-danger pgp-missing-primary enabled-address-only item-has-keys pgp-internal-only" translate-context="Danger" translate>
        Address Verification with Trusted Keys is enabled for this address.
        To be able to send to this address, first trust public keys that can be used for sending.
    </p>
    <p class="disabled-address alert alert-danger" translate-context="Danger" translate>
        This address is disabled. To be able to send to this address, the owner must first enable the address.
    </p>
    <p class="alert alert-info pgp-internal-only">
        <span translate translate-context="Info">
            To use Address Verification, you must enable Trusted Keys and trust one or more available public keys, including the primary key for this address. This prevents the encryption keys from being faked.
        </span>
        <a href="https://protonmail.com/support/knowledge-base/address-verification/"
           target="_blank"
           class="link"
           translate-context="Link"
           translate>
            Learn more
        </a>
    </p>
    <p class="alert alert-info pgp-external-only pgp-not-signed">
        <span translate translate-context="Info">
            Only change these settings if you are using PGP with non-ProtonMail recipients.
        </span>
        <a href="https://protonmail.com/support/knowledge-base/how-to-use-pgp/"
           target="_blank"
           class="link"
           translate-context="Link"
           translate>
            Learn more
        </a>
    </p>
    <p class="alert alert-danger expired-key-message">
        <span translate translate-context="Info">
            All uploaded keys are expired or revoked! Encryption is automatically disabled.
        </span>
        <a href="https://protonmail.com/support/knowledge-base/how-to-use-pgp/"
           target="_blank"
           class="link"
           translate-context="Link"
           translate>
            Learn more
        </a>
    </p>
    <contact-item
        class="pgp-external-only encrypt-toggle"
        data-form="form"
        data-model="model"
        data-datas="model.Encrypt"
        data-type="Encrypt"
        pt-tooltip-translate="Please upload a valid encryption key first before enabling encryption"></contact-item>
    <contact-item
        ng-class="{ 'contact-disabled': (model.Encrypt[0].value) }"
        class="pgp-external-only"
        data-form="contactForm"
        data-model="model"
        data-datas="model.Sign"
        data-type="Sign"></contact-item>
    <contact-item
        class="pgp-external-only"
        data-form="contactForm"
        data-model="model"
        data-datas="model.Scheme"
        data-type="Scheme"></contact-item>
    <contact-public-keys
        data-form="form"
        data-model="model"
        data-datas="model.Key"
        data-email="{{ email }}"
        data-type="Key"
        data-internal-keys="internalKeys"></contact-public-keys>
</div>
