<ul
    class="contactItem-container"
    data-is-disabled="!UI.sortableState"
    data-as-sortable="itemContactDragControlListeners"
    data-ng-model="UI.items">

    <li
        class="contactItem-row"
        ng-if="!item.hide"
        ng-repeat="item in UI.items"
        as-sortable-item>

        <div class="contactItem-sortable-wrapper ng-message-wrapper" as-sortable-item-handle>
            <label class="contactItem-label">
                <input
                    type="text"
                    placeholder="{{ UI.placeholder }}"
                    class="form-control"
                    ng-model="item.label"
                    ng-class="{ 'contactItem-label-editable' : UI.allowCustom, 'contactItem-label-selectable': UI.selectable }"
                    ng-change="setLabel(item)"
                    ng-readonly="!UI.allowCustom"
                    ng-required="UI.required"
                    ng-focus="onFocus(item)"
                    ng-blur="onBlur(item)">

                <i class="fa itemIcon" ng-class="UI.iconClass"></i>
                <i class="fa fa-chevron-down" ng-mousedown="toggleSelector($event, item)"></i>

                <ul class="contactItem-selectType" ng-show="item.displaySelector && UI.labels.length > 1">
                    <li ng-repeat="label in  UI.labels" ng-class="{ selected: item.label.toUpperCase() === label.toUpperCase() }">
                        <a ng-mousedown="setLabel(item, label)">{{ label }}</a>
                    </li>
                </ul>

            </label>

            <div class="contactItem-aside">
                <div class="contactItem-inputs">

                    <input
                        ng-if="UI.mode === 'singleLine'"
                        type="{{ ::UI.inputType }}"
                        name="{{ ::UI.inputName+$index }}"
                        data-valid-email
                        placeholder="{{ UI.placeholder }}"
                        class="form-control contactItem-field"
                        ng-class="{ 'contactItem-input-with-icon': UI.inputType === 'email' }"
                        ng-model="item.value"
                        ng-change="change()">

                    <textarea
                        ng-if="UI.mode === 'multiLine'"
                        placeholder="{{ UI.placeholder }}"
                        class="form-control contactItem-field"
                        ng-model="item.value"
                        ng-change="change()"></textarea>

                    <contact-address-input
                        ng-if="UI.mode === 'address'"
                        data-focused="config.isFocusedAddress"
                        data-value="item.value"
                        data-form="form"></contact-address-input>

                </div>
                <div class="contactItem-actions">
                    <copy
                        ng-if="UI.mode === 'address' && !config.isFocusedAddress"
                        data-value="getAddressValue(item)"
                        pt-tooltip-translate="Copy address"
                        pt-tooltip-translate-context="Action"></copy>

                    <button
                        ng-if="UI.inputType === 'email'"
                        type="button"
                        class="contactItem-compose fa fa-send-o"
                        data-action="composeTo"
                        data-email="{{ item.value }}"
                        pt-tooltip-translate="Compose to"
                        pt-tooltip-translate-context="Action"></button>

                    <button
                        ng-if="!UI.unique && visibleItems().length > 1"
                        type="button"
                        class="contactItem-delete"
                        data-action="remove"
                        data-index="{{ $index }}"
                        pt-tooltip-translate="Remove Entry"
                        pt-tooltip-translate-context="Action"></button>

                    <button
                        ng-if="!UI.unique && visibleItems().length"
                        type="button"
                        class="contactItem-add"
                        data-action="add"
                        pt-tooltip-translate="Add Entry"
                        pt-tooltip-translate-context="Action"></button>
                </div>

                <div class="contactItem-validation" ng-messages="form[UI.inputName+$index].$error" role="alert">
                    <div class="ng-messages-errors">
                        <p ng-message="email" class="text-red"  translate-context="Error" translate>Invalid email</p>
                    </div>
                </div>
            </div>
        </div> <!-- as-sortable-item-handle -->
    </li>

    <div class="contactItem-footer">
        <button
            ng-if="UI.items.length > 1 && UI.sortable"
            type="button"
            data-action="toggleSortable"
            class="contactItem-toggle-sort">
            <div class="contactItem-toggle-sort-enable" translate translate-context="Action">Change order</div>
            <div class="contactItem-toggle-sort-save" translate translate-context="Action">Save order</div>
        </button>
    </div>
</ul>
