<div>
    <p class="block-info-standard-success" ng-if="allTrusted">
        <icon data-name="on" data-fill="global-success"></icon>
        <span
            translate-context="Empty table message"
            translate>All available keys are trusted</span>
    </p>

    <table class="pm-simple-table noborder border-collapse" ng-if="!allTrusted">
        <thead>
            <tr>
                <th scope="col" class="invalid-key-column w3"></th>
                <th
                    scope="col"
                    class="w40"
                    translate-context="Table Header"
                    translate>Fingerprint</th>
                <th scope="col" class="w15" ng-if="enableDelete">
                    <icon
                        data-name="info"
                        pt-tooltip-translate="The primary key is used to encrypt outgoing messages."
                        pt-tooltip-translate-context="Tooltip">
                    </icon>
                    <span translate-context="Table Header" translate>Primary</span>
                </th>
                <th scope="col" class="w15" ng-if="!enableDelete">
                    <icon
                        data-name="info"
                        pt-tooltip-translate="It is allowed to encrypt with this key"
                        pt-tooltip-translate-context="Tooltip">
                    </icon>
                    <span translate-context="Table Header" translate>Encryption</span>
                </th>
                <th
                    scope="col"
                    class="created w10"
                    translate-context="Table Header"
                    translate>Created</th>
                <th
                    scope="col"
                    class="expires w10"
                    ng-if="enableDelete"
                    translate-context="Table Header"
                    translate>Expires</th>
                <th
                    scope="col"
                    class="bits"
                    translate-context="Table Header"
                    translate>Type</th>
                <th
                    scope="col"
                    class="actions w10"
                    translate-context="Table Header"
                    translate>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items track by item.fingerprint" ng-if="!item.hide">
                <td class="invalid-key-column contactPublicKeysTable-invalid-key p0 w3">
                    <icon
                        data-name="attention"
                        data-fill="global-warning"
                        ng-if="item.invalidMessage"
                        pt-tooltip="{{ ::item.invalidMessage }}"></icon>
                </td>
                <td class="w40">
                    <span class="publickey-info">
                        <code pt-tooltip="{{ ::item.fingerprint }}" class="ellipsis">{{ ::item.fingerprint }}</code>
                    </span>
                </td>
                <td class="aligncenter w15">
                    <button
                        class="pm-button pm-button--small"
                        type="button"
                        data-action="makePrimary"
                        data-index="{{ $index }}"
                        ng-if="!item.verificationOnly && $index > 0 && !item.isExpired && enableDelete"
                        translate-context="Button"
                        translate-comment="Make sure the string is short"
                        translate>Set Primary</button>
                    <icon
                        data-name="on"
                        ng-if="!item.verificationOnly && !item.isExpired && (!enableDelete || $index === 0)"></icon>
                </td>
                <td class="created w10">{{ ::item.created }}</td>
                <td class="expires w10" ng-if="enableDelete">{{ ::item.expires }}</td>
                <td class="bits">{{ ::item.algType }}</td>
                <td class="actions w10">
                    <button
                        type="button"
                        class="pm-button--link no-pointer-events-children p0-5 contactPublicKeysTable-btn-action"
                        data-index="{{ $index }}"
                        data-action="{{ enableDelete ? 'download' : 'downloadUntrusted' }}"
                        pt-tooltip-translate="Download"
                        pt-tooltip-translate-context="Tooltip">
                            <icon data-name="download" data-fill="currentColor"></icon>
                        </button>
                    <button
                        ng-if="enableDelete"
                        type="button"
                        class="pm-button--link no-pointer-events-children p0-5 contactPublicKeysTable-btn-action"
                        data-action="remove"
                        data-index="{{ $index }}"
                        pt-tooltip-translate="Remove"
                        pt-tooltip-translate-context="Tooltip">
                            <icon data-name="trash" data-fill="currentColor"></icon>
                        </button>
                    <button
                        ng-if="enableTrust"
                        type="button"
                        class="pm-button--link no-pointer-events-children p0-5 contactPublicKeysTable-btn-action"
                        data-action="moveToTrusted"
                        data-index="{{ $index }}"
                        pt-tooltip-translate="Trust"
                        pt-tooltip-translate-context="Tooltip">
                            <icon data-name="on" data-fill="currentColor"></icon>
                        </button>
                </td>
            </tr>
    </table>

</div>
