<div class="contactItem-row">
    <div class="contactItem-sortable-wrapper">
        <label class="contactItem-label">
            <input type="text" placeholder="Public keys" class="form-control" ng-value="value" readonly>
            <i class="itemIcon fa fa-key"></i>
        </label>
        <div class="contactItem-aside">
            <div class="contactItem-input">
                <button class="pm_button"
                        data-action="add">Upload Key</button>
            </div>
        </div>
    </div>
</div>
