<div style="position: relative;">
    <a dropdown>
        <i style="margin-top: 10px; margin-left: 5px; color: #9397cd; cursor: pointer;" class="fa fa-caret-down"></i>
    </a>
    <div class="pm_dropdown noPadding right wide contact-email-dropdown">
        <button class="message-action-compose-to"
                data-action="compose-to"
                type="button">
            <div>
                <i class="fa fa-envelope-o" style="margin-left: 20px;"></i>
                <span translate translate-context="Action">Compose to</span>
            </div>
        </button>
        <button class="message-action-add-contact"
                data-action="add-contact"
                type="button">
            <div>
                <i class="fa fa-gears" style="margin-left: 20px;"></i>
                <span translate translate-context="Action">Advanced settings</span>
            </div>
        </button>
    </div>
</div>
