@use 'sass:map';
@use '~@proton/styles/scss/lib/config' as *;

.searchfield-disabled-input-button {
	position: absolute;
	inline-size: 100%;
	block-size: 100%;
	z-index: map.get($z-indexes, 'up');
	cursor: default;
}

.search-spotlight {
	max-inline-size: 30em;
}
