<h1 class="text-center"><span class="fa fa-2x faded fa-inbox"></span>Decrypt Mailbox</h1>
  <fieldset class="pure-form">
    <div id="pwcalert" class="alert alert-danger" style="display:none">
      <p>We are unable to decrypt your mailbox, most likely, you entered the wrong decryption password. Please try again.</p>
      <p><a href="/pages/faq#faq1" target="_blank">Related FAQ</a></p>
    </div><!--/#pwcalert-->
    <input type="password" id="MailboxPassword" name="MailboxPassword" placeholder="Mailbox Password" value="">
    <a href="/support/login-form" class="pull-left login-support" target="_blank">Can't login?</a>
    <button type="button" id="enck" class="pure-button pull-right">Decrypt Mailbox</button>
  </fieldset>
