:root,
.ui-standard {
    --primary: #8a6eff;
    --primary-contrast: #191927;

    --signal-danger: #cc2d4f;
    --signal-warning: #e65200;
    --signal-success: #007b58;
    --signal-info: #00afe6;

    --text-norm: #333333;
    --text-weak: #666666;
    --text-hint: #999999;
    --text-disabled: #adadad;
    --text-invert: #ebebeb;

    --field-norm: #ffffff;
    --field-disabled: #d0d3da;

    --border-norm: #bdbdbd;
    --border-weak: #d7d7d7;

    --background-norm: #f6f5f8;
    --background-weak: #ffffff;
    --background-strong: #eae7f0;
    --background-invert: #302d45;
    --background-interactive: #8a6eff;

    --interaction-norm: #8a6eff;
    --interaction-norm-minor-1: #e2dbff;

    --interaction-weak: #f2efff;
    --interaction-weak-major-1: #a792ff;
    --interaction-weak-major-2: #6243e6;

    --interaction-default: transparent;
    --interaction-default-hover: rgb(194 194 194 / 0.2);
    --interaction-default-active: rgb(194 194 194 / 0.4);

    --shadow-norm-opacity: 0.16;
    --shadow-lifted-opacity: 0.2;

    --backdrop-norm: rgb(0 0 0 / 0.15);

    --optional-field-placeholder-color: var(--text-weak);

    --focus-outline: var(--interaction-norm-major-2);
    --focus-ring: var(--interaction-norm-minor-1);

    --search-field-focus-background: #ffffff;
}
