@import '~design-system/_sass/reusable-components/design-system-config';

$pm-primary: $pv-green;
$pm-primary-dark: $pv-green-dark;
$pm-primary-light: $pv-green-light;
$color-links: $pm-primary;

@import '~react-components/styles/index';
@import '~design-system/_sass/pv-styles/pv-indicator';

@import './containers/RedeemContainer.scss';
