@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/em' as *;
@use '~@proton/styles/scss/lib/rem' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints-product;
im.$media-expressions: $media-expressions;
@use '~@proton/styles/scss/specifics/arizona' as *;

$booking-breakpoint: em(750, 16);

body:has(.booking-main-container) {
	// to check if has to be connected to taxonomy or same page for all cases
	background: radial-gradient(199.62% 141.42% at 0% 100%, #efebff 0%, #eff6ff 20%, #f9fafb 50%);

	--booking-color-title: #372580;
	--booking-no-booking-container-border-color: #e2dbff;
	--booking-day-highlighted-border-color: #e5e7eb;
	--booking-day-highlighted-background-color: #f3f4f6;
	--booking-day-highlighted-hover-border-color: #d1d5db;
	--text-norm: #4b5563;
	--border-radius-3xl: #{rem(24)};
	--border-radius-4xl: #{rem(36)};
	--signal-success: #14b8a6;
}

.booking {
	&-main-container {
		block-size: 100%;
	}

	&-wrapper {
		&#{&} {
			@include im.media('>=#{$booking-breakpoint}') {
				flex-direction: row;
			}
		}
	}

	&-details-header {
		inline-size: rem(360);
		position: sticky;
		inset-block-start: var(--space-12);
		border-radius: var(--border-radius-3xl);

		@include im.media('<=#{$booking-breakpoint}') {
			inline-size: 100%;
			position: static;
		}
	}

	&-color-title {
		&#{&} {
			color: var(--booking-color-title);
		}
	}

	&-heading-number {
		inline-size: 2rem; // explicit 32px size to avoid layout shifts for some numbers
	}

	&-buttons {
		&#{&} {
			border: 1px solid #efebff;
			color: var(--booking-color-title);

			--padding-block: #{rem(11)};
			--padding-inline: #{rem(11)};

			&:hover,
			&:focus,
			&[aria-expanded='true'] {
				border: 1px solid #e2dbff;
				background: #f7f5ff;
			}

			&:active {
				border: 1px solid #c5b7ff;
				background: #f7f5ff;
			}
		}
	}

	&-button-minicalendar {
		&#{&} {
			@include im.media('>medium') {
				min-inline-size: rem(260);
			}
		}

		@include im.media('<=#{em(400, 16)}') {
			&-icon {
				display: none;
			}
		}
	}

	&-mini-calendar .minicalendar-weekdays .text-strong {
		font-weight: normal;
	}

	&-time-slot-grid .booking-time-slot-grid-list {
		animation: slotReveal 0.8s cubic-bezier(0.16, 1, 0.3, 1) both;

		@keyframes slotReveal {
			0% {
				opacity: 0;
				transform: translateY(12px);
			}

			100% {
				opacity: 1;
				transform: translateY(0);
			}
		}

		&[data-index='0'] {
			animation-delay: 0s;
		}

		&[data-index='1'] {
			animation-delay: 0.05s;
		}

		&[data-index='2'] {
			animation-delay: 0.1s;
		}

		&[data-index='3'] {
			animation-delay: 0.15s;
		}

		&[data-index='4'] {
			animation-delay: 0.2s;
		}

		&[data-index='5'] {
			animation-delay: 0.25s;
		}

		&[data-index='6'] {
			animation-delay: 0.3s;
		}
	}

	&-button-slot-outline {
		--button-default-border-color: #e2dbff;

		border-radius: var(--border-radius-lg);
		color: var(--booking-color-title);
		padding-block: rem(8);

		&:hover,
		&:focus {
			border: 1px solid #e2dbff;
			background: #f7f5ff;
			color: #372580;
		}

		&:active {
			border: 1px solid #c5b7ff;
			background: #f7f5ff;
		}

		&[aria-pressed='true'] {
			border: 1px solid #c5b7ff;
			background: #f7f5ff;
			color: #372580;
		}

		&[disabled] {
			&#{&} {
				border: 1px solid #efebff;
				background: #f9fafb;
				color: #4a2dc5;
			}
		}
	}

	&-no-booking-container {
		&#{&} {
			border-color: var(--booking-no-booking-container-border-color);
		}
	}

	&-modal-slot {
		border-radius: var(--border-radius-3xl);

		&-title {
			&#{&} {
				font-size: rem(30);
				font-weight: normal;
				margin-block-start: rem(-4);
			}
		}

		.field-two-label-container {
			margin-block-end: rem(8);
			font-weight: normal;
			color: #4b5563;
		}
	}

	&-button-confirm-booking {
		&-container {
			&#{&} {
				flex-grow: 2.6;
			}
		}

		&-inner {
			transition: inset-inline-start 0.2s ease-in-out;
			inset-inline-start: 0;
		}

		&[aria-busy='true'] &-inner {
			inset-inline-start: -0.8em;
		}
	}

	&-success {
		&-container {
			border-radius: var(--border-radius-4xl);
		}

		&-item-icon {
			background-color: #f3f4f6;
		}

		&-app-name {
			color: #6b7280;
		}

		&-item-data,
		&-powered-by {
			color: var(--text-norm);
		}

		&-grid {
			display: grid;
			grid-template-columns: repeat(2, minmax(0, 1fr));
			@include im.media('<=#{$booking-breakpoint}') {
				grid-template-columns: repeat(1, minmax(0, 1fr));
			}

			* {
				min-inline-size: 0;
			}
		}
	}

	&-icon-success-checkmark {
		animation: checkmarkAnimation 0.8s cubic-bezier(0.38, 1.71, 0.64, 1) both;
		animation-delay: 0.5s;
		transform-origin: center;

		@keyframes checkmarkAnimation {
			0% {
				opacity: 0;
				transform: scale(0);
			}

			100% {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
}

.no-match {
	block-size: 100vh;
}
