@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/include-media' as im;

im.$breakpoints: $breakpoints-product;
im.$media-expressions: $media-expressions;

.springSaleHeader {
	font-size: 4rem;
	color: #372580;
	line-height: 1;
	letter-spacing: -3%;
}

html:is(
		[lang^='de'],
		[lang^='it'],
		[lang^='cs'],
		[lang^='nl'],
		[lang^='ja'],
		[lang^='ko'],
		[lang^='pl'],
		[lang^='ru'],
		[lang^='tr']
	)
	.springSaleHeader {
	font-size: 3rem;
}

.springSaleButterfly {
	block-size: 6rem;
	transform: scaleX(-1);
}

.springSaleFeatures {
	padding: 0;
	list-style-type: none;
	color: #372580;

	li:not(:last-child) {
		border-block-end: 1px solid rgb(55 37 128 / 0.28);
	}
}

.springSalePrice {
	font-size: 2.5rem;
	line-height: 1;
}

.springSaleDiscount {
	display: inline-block;
	background-color: #ff4c81;
	color: white;
}

.springSaleText {
	color: #372580;
}

.springSaleCTA {
	background-color: #6d4aff;
}

[class*='offer-spring-sale-2026-'] {
	.offer-disable-button {
		color: #372580;
	}

	&.offer-modal--one-deal {
		&#{&} {
			.scroll-outer-vertical .scroll-inner,
			.scroll-outer-vertical .scroll-child {
				overflow: overlay;
			}
		}
	}
}

.modal-two:has([class*='offer-spring-sale-2026-']) {
	padding-block: 1rem;
	padding-inline: 3.5rem;
	@include im.media('<=small') {
		padding-inline: 1rem;
	}
}
