<div class="pm_table addressKeysView-container" ng-class="displayMode">
    <table class="bordered absorbing">
        <thead>
            <tr>
                <th data-display-mode="address" class="key-size absorbing-column-half" translate-context="Title" translate-comment="table heading" translate>Email</th>
                <th data-display-mode="user" class="key-size absorbing-column-half" translate-context="Title" translate-comment="table heading" translate>User</th>
                <th class="finger-print absorbing-column-half" translate-context="Title" translate-comment="table heading" translate>Fingerprint</th>
                <th translate-context="Title" translate-comment="table heading" translate>Key size</th>
                <th class="actions text-center" translate-context="Title" translate-comment="table heading" translate>Download</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="address in addresses | orderBy: 'order' track by address.addressID">
                <td>
                    <span class="addressKeysView-toggle">
                        <toggle-expand data-model="address"></toggle-expand>
                    </span>
                    <span class="addressKeysView-email ellipsis" title="{{ address.email }}"><strong>{{ address.email }}</strong></span>
                </td>
                <td>
                    <code>{{ address.fingerprint }}</code>
                </td>
                <td>
                    {{ address.bitSize }} Bit <i class="fa fa-info-circle cursor-pointer" pt-tooltip-translate-context="address key bit size tooltip" pt-tooltip-translate="The ability to change key strength will be coming in a future ProtonMail release"></i>
                </td>
                <td class="text-center">
                    <button data-display-mode="address" class="pm_button link" ng-click="download(address.publicKey, address.email, 'public')" translate-context="Action" translate>Public key</button>
                    <span data-display-mode="user" translate translate-context="Action">None</span>
                </td>
            </tr>
            <tr class="hasTable" ng-repeat-end ng-show="address.toggle === true && address.keys.length > 0">
                <td colspan="5">
                    <div class="pm_table">
                        <table class="margin-top">
                            <thead>
                                <tr>
                                    <th class="finger-print absorbing-column-half" translate-context="Title" translate-comment="table heading" translate>Fingerprint</th>
                                    <th class="key-size" translate-context="Title" translate-comment="table heading" translate>Key size</th>
                                    <th class="status" translate-context="Title" translate-comment="table heading" translate>Status</th>
                                    <th class="actions text-center" translate-context="Title" translate-comment="table heading" translate>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="key in address.keys">
                                    <td>
                                        <code>{{ key.fingerprint }}</code>
                                    </td>
                                    <td>
                                        {{ key.bitSize }} Bit
                                    </td>
                                    <td>
                                        <span class="pm_badge primary" ng-show="$first" translate translate-comment="key state badge">Primary</span>
                                        <span class="pm_badge success" ng-show="key.decrypted" translate translate-comment="key state badge">Active</span>
                                        <span class="pm_badge error" ng-hide="key.decrypted" translate translate-comment="key state badge">Inactive</span>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="pm_button link" ng-hide="key.decrypted || isSubUser" ng-click="reactivate(key)" translate-context="Action" translate>Reactivate</button>
                                        <span ng-show="key.decrypted || isSubUser" translate translate-context="Action">None</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
