<div class="pm_modal {{ctrl.class}} small" role="dialog" style="display: block;">
    <form class="modal-dialog" name="addressForm" ng-submit="ctrl.submit()" novalidate>
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" translate translate-context="Title">Select an address</h4>
            </div>
            <div class="modal-body pm_form">
                <p class="alert alert-info">{{ ::ctrl.info }}</p>
                <span class="pm_select">
                    <select ng-model="ctrl.model.address" ng-options="address[ctrl.label] for address in ctrl.model.addresses track by address[ctrl.addressID]"></select>
                    <i class="fa fa-angle-down"></i>
                </span>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button type="button" class="pm_button pull-left" ng-click="ctrl.cancel()" translate translate-context="Action">Cancel</button>
            <button class="pm_button primary" translate translate-context="Action">Next</button>
        </div>
    </form>
    <div class="modal-overlay"></div>
</div>
