<section class="pm_opensans sidebar sidebarApp-container settingsMenu-container" >
    <sidebar-mobile-header class="settingsMenu-about-app"></sidebar-mobile-header>
    <div class="sidebarApp-wrapper">
        <button class="sidebar-btn-back sidebarApp-link" type="button">
            <i class="sidebarApp-icon fa fa-arrow-left"></i>
            <span translate-context="Back button in the contact sidebar" translate>Back to mail</span>
        </button>
        <ul class="menu sidebarApp-menu">
            <navigation-settings
                class="sidebarApp-item"
                data-key="{{::state}}"
                ng-repeat="state in listStates track by $id(state)"></navigation-settings>
            <li class="sidebarApp-item settingsMenu-item-donate"><donate-btn></donate-btn></li>
        </ul>
    </div>

    <div class="footer">
        <app-version class="version"></app-version>
    </div>
</section>
