$calendar-aside-width                : 6rem !default;
$calendar-hour-height                : 4.8rem !default;
$calendar-grid-border                : 1px solid var(--border-norm);
$calendar-gridcell-margin            : 1rem !default;
$calendar-gridcell-gutter            : .3rem !default;
