@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/rem' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints-product;
im.$media-expressions: $media-expressions;
@use './config' as calendarconfig;

.calendar-daygrid {
	min-block-size: rem(410);

	@include im.media('print') {
		min-block-size: rem(700);
	}

	&-weeknumber {
		border-block-end: calendarconfig.$calendar-grid-border;
		border-inline-end: calendarconfig.$calendar-grid-border;
		background-color: var(--background-weak);

		&-width {
			inline-size: rem(25);
		}
	}

	&-row,
	&-days {
		border-block-end: calendarconfig.$calendar-grid-border;
	}

	&-day {
		@include im.media('screen') {
			&[aria-current='true'] {
				font-weight: var(--font-weight-bold);
				color: var(--primary);
			}
		}
	}

	&-columns {
		position: absolute;
		inset: 0;
	}

	&-column:not(:last-child) {
		border-inline-end: calendarconfig.$calendar-grid-border;
	}
}
