/*
  Appearance factorization
*/

.calendar-dayeventcell,
.calendar-eventcell {
	--opacity: 1;

	font-size: rem(12);
	line-height: rem(14);

	&-title {
		padding-block: em(2);
	}
}

.calendar-dayeventcell-inner,
.calendar-eventcell {
	border: solid var(--color-alt);
	border-block-start-width: 1px;
	border-block-end-width: 1px;
	border-inline-start-width: 5px;
	border-inline-end-width: 1px;
	padding-block: em(2);
	padding-inline: em(3);
	border-radius: var(--border-radius-sm);
	background-color: var(--color-main);
	color: var(--foreground);
	cursor: pointer;
	opacity: var(--opacity);
	transition:
		all 0.1s ease-out,
		opacity 0.5s ease-out,
		background-color 0.15s ease-in-out;
	animation: loadingEvent 1s easing(ease-in-quint) infinite alternate;

	& > * {
		transition: opacity 0.1s ease-out;
	}

	&.isHidden {
		z-index: 4;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}

	&.isLoaded {
		animation: none;
	}

	&.isDeclined,
	&.isCancelled {
		border-color: var(--color-alt);
		background-color: var(--background-norm);
		color: inherit;
		text-decoration: line-through;
	}

	&.isUnanswered {
		border-color: var(--color-alpha);
		border-inline-start-color: var(--color-alt);
		background-color: var(--background-norm);
		background-image: linear-gradient(
			105deg,
			transparent 38%,
			var(--color-alpha) 42%,
			var(--color-alpha) 48%,
			transparent 52%,
			transparent 88%,
			var(--color-alpha) 92%,
			var(--color-alpha) 100%
		);
		background-size: 5.18px 19.32px;
		color: currentcolor;
	}

	&.isPast {
		border-color: rgb(0 0 0 / 0.1);
		border-inline-start-color: var(--color-alt);
		background: var(--background-strong);
		color: inherit;

		&:not(.isSelected) > * {
			opacity: 0.5;
		}
	}

	&.isSelected {
		z-index: 6;
		border-color: rgb(0 0 0 / 0.4);
		box-shadow: var(--shadow-norm);

		&.isPast,
		&.isDeclined,
		&.isCancelled,
		&.isUnanswered {
			border-inline-start-color: var(--color-alt);
		}
	}
}

@keyframes loadingEvent {
	from {
		opacity: var(--opacity);
	}

	to {
		opacity: calc(var(--opacity) - 0.4);
	}
}

/*
  Full day event
*/

.calendar-dayeventcell {
	padding-inline-end: $calendar-gridcell-margin;
	padding-block-start: $calendar-gridcell-gutter;
	white-space: nowrap;

	&-inner {
		position: relative;
		min-block-size: 100%;
		padding-block: 0;
		padding-inline: 0.5em;

		&.isNotAllDay {
			border: none;

			&.isPast,
			&:not(.isUnanswered) {
				background: none;
				color: inherit;
			}

			&:hover,
			&:focus {
				background-color: var(--interaction-default-hover);
			}

			&:active {
				background-color: var(--interaction-default-active);
			}
		}
	}

	&.isOutsideStart &-inner {
		padding-inline-start: 0;
	}

	&.isOutsideEnd,
	&.isOutsideEnd &-inner {
		padding-inline-end: 0;
	}

	&-circle {
		color: var(--background-strong);
	}

	&-inner.isLoaded &-circle {
		color: var(--color-main);
	}

	&-lock-icon {
		transform: translateY(-0.125em); // Magic number to visually align it -_-v
	}

	&-time {
		margin-inline-end: 0.25em;
	}

	&-title {
		font-weight: var(--font-weight-semibold);
	}
}

/*
  Part day event
*/

.calendar-eventcell {
	position: absolute;
	z-index: 5;

	&-title {
		/* stylelint-disable-next-line */
		display: -webkit-box;
		/* stylelint-disable-next-line */
		-webkit-box-orient: vertical;
		overflow: hidden;
		-webkit-line-clamp: max(calc(var(--line-number) - 1), 1);
		font-weight: var(--font-weight-semibold);
		word-break: break-word;
	}

	// in this case, we remove 2 lines ellipsis for a simple ellipsis
	// because it's creating bad truncation of content in some cases
	&--title-small-fit &-title {
		display: block;
		/* stylelint-disable-next-line */
		-webkit-box-orient: unset;
		/* stylelint-disable-next-line */
		-webkit-line-clamp: unset;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	@include media('<=small') {
		&-title,
		&-timestring {
			font-size: rem(12);
		}
	}

	/*
	 * Adaptations for small sizes, meaning below 30 minutes events
	 */
	$line-height: calc(var(--line-height) * 1px - 2px); // 2px for borders

	&:is(#{&}--sm, #{&}--xs, #{&}--2xs) {
		padding-block: 0;
		line-height: $line-height;
	}

	&:is(#{&}--sm, #{&}--xs, #{&}--2xs) &-lock-icon {
		inline-size: min(#{$line-height}, #{rem(16)});
		block-size: min(#{$line-height}, #{rem(16)});
	}

	&--sm &-title {
		padding-block-start: 0;
		font-size: rem(13);
	}

	&--xs &-title {
		padding-block-start: 0;
		font-size: rem(12);
	}

	&--2xs &-title {
		padding-block-start: 0;
		font-size: rem(9.6); // design value
	}
}
