@use 'sass:map';
@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/em' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints-product;
im.$media-expressions: $media-expressions;

@use '~@proton/styles/scss/components/notification' as *;

.calendar-loader-container {
	@extend %notifications-container;

	position: absolute;
	z-index: map.get($z-indexes, 'up');
	inset-block-start: em(160);
	inset-block-end: unset;
	inset-inline-start: 50%;

	@include im.media('>small') {
		inset-block-start: em(140);
	}

	.notification {
		--top-custom: 0;
	}
}
