.calendar-fullday-row {
	border-block-end: $calendar-grid-border;
	padding-block-end: $calendar-gridcell-gutter;
}

.calendar-first-row-heading {
	border-block-end: $calendar-grid-border;
}

.address-item {
	background: var(--background-weak);
	border-radius: 5px;

	button {
		display: block;
	}
}

@include media('<=small') {
	// we show abbreviated version only on week/month view
	.is-week-view,
	.is-month-view {
		.calendar-grid-heading-day-fullname {
			border: 0;
			clip: rect(0 0 0 0);
			block-size: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			inline-size: 1px;
		}
	}

	// thus hide the abbrievated version on day view
	.is-day-view {
		.calendar-grid-heading-day-shortname {
			display: none;
		}
	}
}
