<div id="pm_settings">
    <div class="settings">
        <div class="row">
            <div class="setting pm_form full">
                <header-block class="settingsLabels-header-pmMe">
                    <h2 class="settingsLabels-title-pmMe">PM.ME</h2>
                </header-block>
                <div ng-if="!hasPmMe">
                    <p class="alert" translate-context="Info" translate>ProtonMail now supports @pm.me email addresses (short for ProtonMail me or Private Message me).</p>
                    <p class="alert alert-info" translate-context="Info" translate>Click on the button below to add the {{name}}@pm.me address to your account.</p>
                    <pm-me-btn class="pm_button primary"></pm-me-btn>
                </div>
                <div ng-if="hasPmMe">
                    <p ng-show="hasPaidMail" class="alert" translate-context="Info" translate>You can now also receive and send messages from your @pm.me address (short for ProtonMail me or Private Message me).</p>
                    <p ng-hide="hasPaidMail" class="alert" translate-context="Info" translate>You can now also receive messages at your @pm.me address (short for ProtonMail me or Private Message me). Upgrade to a paid accout to also send emails from your @pm.me address.</p>
                    <p class="alert alert-success" translate-context="Info" translate>{{name}}@pm.me is activated on your account.</p>
                </div>
                <p class="alert alert-warning" translate-context="Info" translate>This feature is still in testing phase and you could experience some issues with it</p>
            </div>
        </div>
    </div>
</div>
