.banxa {
	&-iframe-container {
		position: fixed;
		inset-block-start: 0;
		inset-inline-start: 0;
		inline-size: 100vw;
		block-size: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #2c2c2eaa;
	}

	&-close-button {
		position: absolute;
		inset-block-start: 2rem;
		inset-inline-end: 2rem;
		z-index: 100;
	}

	&-iframe {
		block-size: 100%;
		max-block-size: 66rem;
		inline-size: 100%;
		max-inline-size: 45rem;

		border-radius: 20px;

		-ms-overflow-style: none !important;
		scrollbar-width: none !important;
		&::-webkit-scrollbar {
			display: none !important;
		}
	}
}
