.logo {
	&-text-proton {
		fill: var(--logo-text-proton-color);
	}

	&-text-product {
		fill: var(--logo-text-product-color);
	}

	&-mark-border {
		// stroke: var(--border-norm);
		stroke: #706d6b;
		stroke-opacity: 0.2;
	}

	&-mark-background {
		fill: white;
	}
}
