<div class="headerSecuredMobile-container flex flex-row w100">
    <btn-display-mobile-sidebar class="headerSecuredMobile-toggleSidebar"></btn-display-mobile-sidebar>
    <navigation-black-friday></navigation-black-friday>
    <search-form></search-form>
    <button
        class="headerSecuredMobile-compose pm-button-blue flex"
        data-action-compose
        data-action-compose-type="new">
            <icon data-name="compose" data-size="25" fill="white" class="mauto"></icon>
            <span class="sr-only" translate-context="Action" translate>Compose</span>
    </button>
</div>
