<header class="pm_opensans headerNoAuth-container">
    <ul class="headerNoAuth-list">
        <li class="headerNoAuth-item-back">
            <a
                class="headerNoAuth-item-noAuth"
                href="https://protonmail.com"
                target="_self">
                <span
                    translate
                    translate-context="Action">Back to protonmail.com</span>
            </a>
            <a
                class="headerNoAuth-item-noAuth-eo pm_button"
                href="https://protonmail.com"
                target="_self" hidden>
                <span
                    translate
                    translate-context="Action">About ProtonMail</span>
            </a>
            <a
                class="headerNoAuth-item-auth"
                ui-sref="login"
                ui-sref-opts="{reload: true, notify: true}"
                translate-title="Login"
                translate-title-context="Action">
                <span
                    translate
                    translate-context="Action">Back to login</span>
            </a>
        </li>
        <li class="headerNoAuth-item-report">
            <new-bug-report
                class="headerNoAuth-item-report-button"></new-bug-report>
        </li>
        <li class="navigationReport" hidden>
            <a class="navigation-link pm_trigger" dropdown href="#" id="tour-support">
                <span class="navigation-icons">
                    <i class="fa fa-life-ring"></i>
                    <i class="fa fa-angle-down"></i>
                </span>
                <span class="navigation-title" translate translate-context="Action">Help</span>
            </a>
            <span class="pm_dropdown navigationReport-dropdown wide right">
                <a href="https://protonmail.com/support" target="_blank" class="navigationReport-help">
                    <i class="fa fa-question-circle"></i>
                    <span translate translate-context="Action">I have a question</span>
                </a>
                <new-bug-report class="navigationReport-help" id="reportBugBtn"></new-bug-report>
            </span>
        </li>

        <li class="headerNoAuth-item-noAuth headerNoAuth-signup">
            <link-website
                data-key="forFree"
                class="headerNoAuth-item-signup-button pm_button primary"
                class="loginForm-link-signup"
                data-link="signup"></link-website>
        </li>
        <li class="headerNoAuth-item-auth">
            <a
            class="headerNoAuth-item-logout-button pm_button primary"
                ui-sref="login"
                ui-sref-opts="{reload: true, notify: true}"
                translate
                translate-context="Action">Log out</a>
        </li>
    </ul>
</header>
