<header class="pm_opensans headerNoAuth-container">
    <ul class="headerNoAuth-list">
        <li class="headerNoAuth-item-back">
            <a
                class="headerNoAuth-item-back-button__noAuth"
                href="https://protonmail.com"
                target="_self">
                <span
                    translate
                    translate-context="Action">Back to protonmail.com</span>
            </a>
            <a
                class="headerNoAuth-item-back-btn__Auth"  href="/login" translate-title="Login" translate-title-context="Action">
                <span
                    translate
                    translate-context="Action">Back to login</span>
            </a>
        </li>
        <li class="headerNoAuth-item-report">
            <new-bug-report
                class="headerNoAuth-item-report-button"></new-bug-report>
        </li>
        <li class="headerNoAuth-item-signup__noAuth">
            <link-website
                data-key="forFree"
                class="headerNoAuth-item-signup-button pm_button primary"
                class="loginForm-link-signup"
                data-link="signup"></link-website>
        </li>
        <li class="headerNoAuth-item-logout__Auth">
            <a
            class="headerNoAuth-item-logout-button pm_button primary"
                ui-sref="login"
                translate
                translate-context="Action">Log out</a>
        </li>
    </ul>
</header>
