.ui-teal {
	.pass-onboarding--icon {
		--onboarding-icon-fill: #0ee48c;
		--onboarding-icon-contrast: white;
	}
}

.ui-violet {
	.pass-onboarding--icon {
		--onboarding-icon-fill: #6742f5;
		--onboarding-icon-contrast: white;
	}
}
