@import '~@proton/styles/scss/lib';

.booking-sidebar {
	&-duration-button[aria-pressed='true'] {
		border-color: color-mix(in srgb, var(--interaction-norm-active) 50%, transparent);
		color: var(--interaction-norm-active);
		background-color: color-mix(in srgb, var(--interaction-norm-active) 15%, transparent);
	}

	&-calendar-select {
		&#{&} {
			&--disabled {
				color: var(--text-weak);
				padding-inline-end: var(--space-4);
			}
		}
	}
}
