@use '~@proton/styles/scss/lib/config' as *;

.booking-sidebar {
	&-calendar-select {
		&#{&} {
			&--disabled {
				color: var(--text-weak);
				padding-inline-end: var(--space-4);
			}
		}
	}

	&-form-icon-row {
		.label,
		.label > span {
			display: flex;
		}

		.label svg {
			margin-block-start: var(--space-0_5);
		}
	}
}
