<div id="pm_settings" class="keysView-container">
    <div class="settings pm_form">
        <div class="row">
            <header-block class="settingsKeys-header-key">
                <h2
                    class="settingsKeys-title-key"
                    translate
                    translate-context="Title">Email encryption keys</h2>
            </header-block>

            <p class="alert alert-info" translate-comment="Inline OpenPGP means NOT pgp/mime, so the body and attachments are encrypted separately" translate-context="Info" translate>Download your PGP Keys for use with other PGP compatible services. Only incoming messages in inline OpenPGP format are currently supported.</p>
            <p>
                <reactivate-keys-btn data-mode="address"></reactivate-keys-btn>
            </p>
            <address-keys-view
                data-display-mode="address"
                data-is-sub-user="isSubUser"
                data-addresses="addressKeys"></address-keys-view>
        </div>
        <div class="row">
            <header-block class="settingsKeys-header-key">
                <h2
                    class="settingsKeys-title-key"
                    translate
                    translate-context="Title">Contact encryption keys</h2>
            </header-block>
            <p>
                <reactivate-keys-btn data-mode="contact"></reactivate-keys-btn>
            </p>
            <address-keys-view
                data-display-mode="user"
                data-is-sub-user="isSubUser"
                data-addresses="userKeys"></address-keys-view>
        </div>
    </div>
</div>
