<div id="pm_settings" class="keysView-container">
    <div class="settings pm_form">
        <div class="row">
            <header-block class="settingsKeys-header-key">
                <h2
                    class="settingsKeys-title-key"
                    translate
                    translate-context="Title">Email encryption keys</h2>
            </header-block>

            <address-keys-view
                data-display-mode="address"
                data-is-sub-user="isSubUser"
                data-addresses="addressKeys"></address-keys-view>
        </div>
        <div class="row">
            <header-block class="settingsKeys-header-key">
                <h2
                    class="settingsKeys-title-key"
                    translate
                    translate-context="Title">Contact encryption keys</h2>
            </header-block>
            <address-keys-view
                data-display-mode="user"
                data-is-sub-user="isSubUser"
                data-addresses="userKeys"></address-keys-view>
        </div>
    </div>
</div>
