<div class="messageView-contaniner mb2 mt2">
    <header id="conversationHeader" class="flex flex-nowrap conversationHeader-header relative pb1">
        <h1 class="cut flex-item-fluid mb0">{{message.Subject}}</h1>
        <div
            class="inline-flex flex-item-noshrink flex-items-center flex-justify-end conversationHeader-about">

            <button
                class="pm-button-blue"
                type="button"
                ng-click="reply()">
                <icon data-name="reply" class="mauto" data-fill="currentColor"></icon>
                <span class="mauto" translate-context="Action" translate>Reply securely</span>
        </div>
    </header>

    <div id="pm_thread" class="no-outline bg-white p1 bordered-container color-global-grey">

        <div class="summary-left bg-global-light p1 bordered-container">
            <div class="meta">

                <div class="contact message-contact">

                    <div class="from message-contact-from mr0-5">
                        <span translate translate-context="Message sender label" translate>From</span>: <b class="ml0-5">{{ message.Sender.Name }}</b> &lt;{{ message.Sender.Address }}&gt;
                    </div>
                    <ul class="recipients-details unstyled mt0">
                        <li ng-if="message.ToList.length > 0">
                            <span translate-comment="message metadata" translate translate-context="Title">To</span>:
                            <span class="ml0-5" ng-repeat="email in message.ToList track by $id(email)">
                                <b>{{ email.Name }}</b> &lt;{{ email.Address }}&gt;
                            </span>
                        </li>
                        <li ng-if="message.CCList.length > 0">
                            <span translate-comment="message metadata" translate translate-context="Title">CC</span>:
                            <span class="ml0-5" ng-repeat="email in message.CCList track by $id(email)">
                                <b>{{ email.Name }}</b> &lt;{{ email.Address }}&gt;
                            </span>
                        </li>
                    </ul>
                    <message-extra></message-extra>
                </div>
            </div>
        </div>

        <div id="outsideMessage">
            <div id="message-body" data-embedded-img-loader data-inject-message-media>
                <div
                    class="bodyDecrypted email p1"
                    ng-class="{'plain': message.isPlainText() }"
                    render-message-body
                    ng-if="body"
                    toggle-blockquote
                    scroll="false"></div>
            </div>
        </div>
        <list-attachments data-model="message" ng-if="message"></list-attachments>
    </div>

    <div id="eo_footer" class="mt100"></div>
</div>
