<form method="post" id="pm_login" name="unlockForm" class="pm_panel pm_panel-outsideunlock alt pm_form" novalidate ng-keypress="keypress($event)" role="form" autocomplete="on" ng-submit="unlock()" ng-if="tokenError !== true">

    <img src="assets/img/proton-logo.svg" alt="Proton" class="logo" />

    <h4 class="text-center">
        <span class="fa fa-envelope title-icon"></span>
        <span translate-context="Title" translate>Decrypt message</span>
    </h4>

    <p></p>

    <div class="alert alert-danger" id="error521" ng-if="error">{{ error.message }}</div>

    <label for="MessagePassword" class="sr-only" translate-context="Label" translate>Message password</label>
    <password
        class="margin unlock-input-password"
        data-id="MessagePassword"
        data-name="MessagePassword"
        data-autofocus="true"
        data-form="unlockForm"
        data-value="params.MessagePassword"
        placeholder-translate-context="Tooltip"
        placeholder-translate="Message password"></password>

    <p></p>

    <div class="loginForm-actions">
        <div class="loginForm-actions-column">

            <button type="submit" class="loginForm-actions-main pm_button primary primary-white pull-right disabled-if-network-activity" translate-context="Action" translate>Decrypt</button>
            <a href="https://protonmail.com/support" target="_blank" class="login-support link pull-left" translate-context="Action" translate-comment="link to support portal" translate>Need help?</a>
        </div>
    </div>

</form>

<form method="post" id="pm_login" class="pm_panel alt pm_form error" ng-if="tokenError === true">
    <h1 class="text-center" translate-context="Title" translate>Error</h1>
    <p translate-context="Error" translate>Sorry, this message does not exist or has already expired</p>
</form>
