<form
    method="post"
    id="pm_loginUnlock"
    name="unlockForm"
    class="pm_panel pm_form alt loginFormUnlock-container pm_panel-login__inner bordered-container mauto"
    novalidate
    role="form"
    ng-submit="unlock()"
    ng-keypress="keypress($event)"
    ng-if="tokenError !== true"
    autocomplete="off">


    <div class="mb2 aligncenter">
        <img src="assets/img/logo.svg" height="20" width="148" alt="ProtonMail" />
    </div>

    <h1 class="aligncenter h4 uppercase flex">
        <span translate-context="Title" translate>Decrypt message</span>
    </h1>

    <div class="block-info-standard-error" id="error521" ng-if="error">{{ error.message }}</div>


    <label for="password" class="pb0-5 bl" translate-context="Label" translate>Message password</label>
    <password
        class="mb1 focus unlock-input-password"
        data-id="MessagePassword"
        data-name="MessagePassword"
        data-autofocus="true"
        data-value="params.MessagePassword"
        data-form="unlockForm"
        placeholder-translate-context="Placeholder"
        placeholder-translate="Message password"></password>

    <div class="loginForm-actions">
        <div class="loginForm-actions-column">
            <button
                id="unlock_btn"
                class="loginForm-actions-main pm-button--large mb1 w100 aligncenter pm-button-blue disabled-if-network-activity"
                type="submit"
                translate-context="Action"
                translate>Decrypt</button>


            <div class="alignleft mt2 mb1 text-notransform loginForm-actions-help">
                <span translate translate-context="Trouble logging in? Get help or try older version.">Trouble logging in? Get</span>
                <button
                    class="loginForm-btn-help alignbaseline color-white underline"
                    ng-click="askForHelp()"
                    type="button"
                    translate-comment="Action"
                    translate-context="Trouble logging in? Get help or try older version."
                    translate>help</button>

                <span translate translate-context="Trouble logging in? Get help or try older version.">or try</span>

                <a
                    class="loginForm-btn-oldversion white-link"
                    href="https://old.protonmail.com/login"
                    target="_self"
                    translate-comment="Action"
                    translate-context="Trouble logging in? Get help or try older version."
                    translate>older version</a>.
            </div>

        </div>
    </div>
</form>


<div class="w50 mauto"  ng-if="tokenError === true">
    <h1 class="aligncenter mb1" translate-context="Title" translate>Error</h1>
    <div class="shadow-container p2 bg-white">
        <div
            class="block-info-standard-error"
            translate-context="Error"
            translate>Sorry, this message does not exist or has already expired</div>
    </div>
</div>
