<div id="outsideMessageWrap">
    <div class="message-head">
        <a ng-click="reply()" class="pm_button primary pull-right">
            <i class="fa fa-reply"></i>
            <span class="visible-md-inline-block visible-lg-inline-block" translate-context="Action" translate>Reply securely</span>
        </a>
        <h1 class="no-margin-bottom">
            <span class="attachment" ng-show="message.Attachments.length > 0">
                <i class="fa fa-paperclip"></i>
            </span>
            <span ng-bind="message.Subject"></span>
        </h1>
    </div>
    <div class="message-metadata">
        <ul class="infos">
            <li>
                <strong class="container-to" translate-comment="message metadata" translate translate-context="Title">From:</strong>
                <span class="container-to-content">
                    <b>{{ message.Sender.Name }}</b> &lt;{{ message.Sender.Address }}&gt;
                    <span
                    class="fa fa-check-circle verified"
                    pt-tooltip-translate-context="Tooltip"
                    pt-tooltip-translate="ProtonMail Verified"></span>
                </span>

            </li>
            <li ng-if="message.ToList.length > 0">
                <strong class="container-to" translate-comment="message metadata" translate translate-context="Title">To:</strong>
                <span class="container-to-content">
                    <span ng-repeat="email in message.ToList">
                        <b>{{ email.Name }}</b> &lt;{{ email.Address }}&gt;
                    </span>
                </span>
            </li>
            <li ng-if="message.CCList.length > 0">
                <strong class="container-to" translate-comment="message metadata" translate translate-context="Title">CC:</strong>
                <span class="container-to-content">
                    <span ng-repeat="email in message.CCList">
                        <b>{{ email.Name }}</b> &lt;{{ email.Address }}&gt;
                    </span>
                </span>
            </li>
            <li>
                <strong class="container-to" translate-comment="message metadata" translate translate-context="Title">Date:</strong>
                <span class="container-to-content">
                    <b>{{ message.Time | localReadableTime }}</b>
                </span>

            </li>
        </ul>
        <message-extra></message-extra>
    </div>
    <div id="outsideMessage">
        <div id="message-body" data-embedded-img-loader data-inject-message-media>
            <div
                class="bodyDecrypted email"
                ng-class="{'plain': message.isPlainText() }"
                render-message-body
                ng-if="body"
                toggle-blockquote
                scroll="false"></div>
        </div>
    </div>
    <list-attachments data-model="message" ng-if="message"></list-attachments>
    <div id="eo_footer"></div>
</div>
