<div id="outsideMessageWrap" ng-if="message">
    <div class="message-head">
        <h1>
            <span class="attachment" ng-show="message.Attachments.length > 0">
                <i class="fa fa-paperclip"></i>
            </span>
            {{ message.Subject }}
        </h1>
        <div class="pull-right">
            <span ng-bind-html="ago"></span>
        </div>
        <ul class="infos">
            <li>
                <strong class="container-to" translate-context="Title" translate>From:</strong>
                <span class="container-to-content">
                    <b>{{ message.Recipient }}</b>
                </span>
            </li>
            <li>
                <strong class="container-to" translate-context="Title" translate>To:</strong>
                <span class="container-to-content">
                    <b>{{message.Sender.Name}}</b> <em>&lt;{{ message.Sender.Address }}&gt;</em>
                </span>
            </li>
        </ul>
    </div>
    <composer-outside></composer-outside>
    <p class="alert alert-danger clearfix" role="alert" ng-if="message.failedDecryption">
        <strong translate-context="Error" translate>Decryption error</strong><br />
        <span translate-context="Error" translate>Decryption of this message's encryption content failed.</span>
    </p>
    <list-attachments data-model="message"></list-attachments>
    <footer class="text-right">

        <button
            class="pm_button pull-left disabled-if-network-activity"
            ng-click="cancel()"
            translate-context="Action"
            translate>Cancel</button>

        <button
            class="pm_button needsclick disabled-if-network-activity"
            data-action-compose="::message"
            data-action-compose-type="addFile"
            pt-tooltip-translate-context="Tooltip"
            pt-tooltip-translate="Attachments"><i class="fa fa-paperclip"></i>
        </button>
        <button class="pm_button primary disabled-if-network-activity" ng-click="send()" translate-context="Action" translate>Send</button>
    </footer>
</div>
