<section class="resetLoginPassword-container pm_panel pm_panel-login alt pm_form loginForm-container mauto">
    <div ng-if="resetState === states.RECOVERY" class="pm_panel-login__inner bordered-container">

        <p class="block-info-standard color-white" translate-context="Info" translate>We will send a reset code to your <a class="bold" href="https://protonmail.com/support/knowledge-base/set-forgot-password-options/" target="_blank" title="This is the optional email you used when first creating an account. This is the same as your notification email that is used for sending alerts about new messages.">recovery email</a> to reset your password.</p>

        <form
            method="post"
            autocomplete="off"
            name="resetForm"
            role="form"
            novalidate
            ng-submit="resetForm.$valid && confirmResetLostPassword(resetForm)">

            <h3 class="aligncenter h4 uppercase flex" translate-context="Info" translate>Reset Password</h3>

            <label
                for="username"
                class="sr-only"
                translate-context="Action"
                translate>ProtonMail username to reset</label>
            <input
                id="username"
                autofocus=""
                name="username"
                type="text"
                class="mb1 pm-field w100 loginForm-input-username"
                placeholder-translate-context="Action"
                placeholder-translate="ProtonMail username to reset"
                ng-model="params.username"
                required>

            <div
                class="error-zone password-messages"
                ng-messages="resetForm.username.$error"
                ng-show="resetForm.$submitted || resetForm.username.$dirty">
                <p ng-message="required" class="m0 color-global-warning" translate-context="Error" translate>Username required</p>
            </div>

            <label for="recoveryEmail" class="sr-only" translate-context="Reset password" translate>Recovery email</label>
            <input
                id="recoveryEmail"
                name="recoveryEmail"
                type="email"
                class="mb1 pm-field w100 loginForm-input-username"
                placeholder-translate-context="Reset password"
                placeholder-translate="Recovery email"
                ng-model="params.recoveryEmail"
                required>

            <div
                class="error-zone password-messages"
                ng-messages="resetForm.recoveryEmail.$error"
                ng-show="resetForm.$submitted || resetForm.recoveryEmail.$dirty">
                <p ng-message="email" class="m0 color-global-warning" translate-context="Error" translate>Invalid recovery email</p>
            </div>

            <div class="loginForm-actions mt1">
                <div class="loginForm-actions-column">
                    <button
                        class="loginForm-actions-main pm-button-blue pm-button--large w100 disabled-if-network-activity"
                        type="submit"
                        translate-comment="button to reset login password"
                        translate-context="Action"
                        translate>Reset Password</button>
                </div>
                <ul class="loginForm-actions-row loginForm-actions-forgot-reset unstyled  mt1">
                    <li>
                        <link-website
                            class="pm-button--link white-link"
                            data-link="username"></link-website>
                    </li>

                    <li>
                        <button
                            type="button"
                            ng-click="goToCode()"
                            class="pm-button--link white-link"
                            translate
                            translate-context="Action"
                            translate-comment="Make sure this string is short please">Have a reset code?</button>
                    </li>
                </ul>
            </div>
        </form>
    </div>

    <div ng-if="resetState === states.CODE"  class="pm_panel-login__inner bordered-container">
        <p class="block-info-standard color-white" mt0 translate-context="Info" translate>We've sent a reset code to your <strong>recovery email</strong>, valid for one hour or until you request a new code. Enter it below to continue.</p>

        <form
            method="post"
            autocomplete="off"
            ng-submit="tokenForm.$valid && validateToken(tokenForm)"
            name="tokenForm"
            class="mb2"
            novalidate>
            <h3 class="aligncenter margin" translate-context="Title" translate>Reset Password</h3>

            <p class="color-white" translate-context="Error" translate>IMPORTANT: Do not close or navigate away from this page. You will need to enter the reset code into the field below once you receive it.</p>

            <div ng-if="showTokenUsername">
                <label translate-context="Title" translate>Username:</label>
                <input
                    autofocus=""
                    name="username"
                    type="text"
                    class="mb1 pm-field w100"
                    placeholder-translate-context="Action"
                    placeholder-translate="ProtonMail username to reset"
                    ng-model="params.username"
                    required>

                <div ng-messages="tokenForm.username.$error" ng-show="tokenForm.$submitted || tokenForm.username.$dirty" class="error-zone password-messages">
                    <p ng-message="required" class="m0 color-global-warning" translate-context="Error" translate>Username required</p>
                </div>
            </div>

            <label for="resetToken" translate-context="Title" translate>Reset code:</label>
            <input
                type="text"
                ng-model="params.resetToken"
                id="resetToken"
                class="mb1 pm-field w100"
                name="resetToken"
                placeholder-translate-context="Action"
                placeholder-translate="Reset code"
                required>

            <div ng-messages="tokenForm.resetToken.$error" ng-show="tokenForm.$submitted || tokenForm.resetToken.$dirty" class="error-zone password-messages">
                <p ng-message="required" class="m0 color-global-warning" translate-context="Error" translate>Reset code is required</p>
            </div>

            <div class="loginForm-actions mt1">
                <div class="loginForm-actions-column">
                    <button
                        type="submit"
                        class="loginForm-actions-main pm-button-blue pm-button--large w100 disabled-if-network-activity"
                        translate-comment="button to reset password"
                        translate-context="Action"
                        translate>Reset Password</button>
                </div>
            </div>
        </form>
    </div>

    <div ng-if="resetState === states.CHECKING"  class="pm_panel-login__inner bordered-container">
        <div class="aligncenter">
            <img src="assets/img/logo.svg" height="20" width="148" alt="ProtonMail">

            <div class="creating-loader-container mt2">
                <atom-loader data-loader-theme="primary"></atom-loader>
            </div>
            <p><span translate-context="Action" translate>Verifying reset code</span>...</p>
        </div>
    </div>

    <div ng-if="resetState === states.DANGER"  class="pm_panel-login__inner bordered-container">
        <form
            method="post"
            autocomplete="off"
            ng-submit="confirmReset()"
            name="dangerForm"
            class="mb2">

            <h1 class="aligncenter" translate-context="Title" translate>Warning</h1>

            <p translate-context="Info" translate-comment="reset warning 1/3" translate>Resetting your password will also reset your encryption keys, so you will be unable to read your existing messages. <a href="https://protonmail.com/support/knowledge-base/updating-your-login-password/" target="_blank">Learn More</a>.</p>

            <p class="block-info-standard-warning color-white" translate-comment="reset warning 2/3" translate-context="Info" translate>ALL YOUR DATA WILL BE LOST!</p>

            <label for="danger" class="label-block labelFix">
                <span translate-context="To continue, type DANGER below:" translate-comment="reset warning 3/3" translate>To continue, type</span>
                <kbd class="color-global-grey">{{dangerWord}}</kbd>
                <span translate-context="To continue, type DANGER below:" translate-comment="reset warning 3/3" translate>below:</span>
            </label>

            <p>
                <input
                    type="text"
                    id="danger"
                    class="mb1 pm-field w100"
                    ng-model="params.danger"
                    data-danger-word="dangerWord"
                    data-danger />
            </p>

            <div class="block-info-standard-warning color-white" ng-if="passwordMode === 1">
                <ul class="unstyled m0 p0">
                    <li translate-context="reset password" translate>If you remember your old password later, you can recover your existing messages. <a href="https://protonmail.com/support/knowledge-base/restoring-encrypted-mailbox/" target="_blank">Learn More</a>.</li>
                </ul>
            </div>
            <div class="block-info-standard-warning color-white" ng-if="passwordMode === 2">
                <ul class="unstyled m0 p0">
                    <li translate-context="reset password" translate>Resetting either Login or Mailbox password will switch you to <a href="https://protonmail.com/support/knowledge-base/single-password/" target="_blank">Single Password Mode</a>.</li>
                    <li translate-context="reset password" translate>Resetting either Login or Mailbox password will make old messages unreadable.</li>
                    <li translate-context="reset password" translate>If you are resetting the Login password only, old messages can be recovered later if you know your existing Mailbox Password. <a href="https://protonmail.com/support/knowledge-base/restoring-encrypted-mailbox/" target="_blank">Learn More</a>.</li>
                </ul>
            </div>
            <div class="loginForm-actions mt1">
                <div class="loginForm-actions-row flex flex-spacebetween">
                    <a ui-sref="login" class="pm-button--info" translate-context="Action" translate-comment="cancel reset process" translate>Cancel</a>
                    <button
                        type="submit"
                        ng-disabled="dangerForm.$invalid"
                        class="pm-button--error"
                        title="Reset My Password"
                        translate-context="Action"
                        translate>Reset</button>
                </div>
            </div>
        </form>
    </div>

    <div ng-if="resetState === states.PASSWORD"  class="pm_panel-login__inner bordered-container">
        <form
            method="post"
            ng-submit="passwordForm.$valid && resetPassword(passwordForm)"
            name="passwordForm"
            class="mb2"
            novalidate>
            <h3 class="aligncenter margin" translate-context="Title" translate>Reset Password</h3>
            <p class="block-info-standard-info bold" translate-context="Info" translate>Keep this password safe--it cannot be recovered.</p>

            <div>
                <label for="password" translate-context="Title" translate>New password:</label>
                <password
                    data-id="password"
                    data-name="password"
                    data-form="passwordForm"
                    data-value="params.password"
                    placeholder-translate-context="Reset your password"
                    placeholder-translate="Choose a new password"></password>
            </div>
            <div class="mt1">
                <label for="passwordc" class="sr-only" translate-context="Reset your login" translate>Confirm new password</label>
                <password
                    data-id="passwordc"
                    data-name="passwordc"
                    data-form="passwordForm"
                    data-value="params.passwordConfirm"
                    placeholder-translate-context="Reset your login"
                    placeholder-translate="Confirm new password"
                    compare="params.password"></password>
            </div>
            <div class="block-info-standard-warning color-white mt2 mb2">
                <ul class="unstyled m0 p0">
                    <li translate-context="Reset your login" translate>Do NOT forget this password. If you forget it, you will not be able to login or decrypt your messages.</li>
                    <li translate-context="Reset your login" translate class="mt1">Save your password somewhere safe. Click on <i class="fa fa-eye"></i> icon to confirm that you have typed your password correctly.</li>
                </ul>
            </div>

            <div class="loginForm-actions mt1">
                <div class="loginForm-actions-row">
                    <button
                        type="submit"
                        class="loginForm-actions-main pm-button--large pm-button--error w100  disabled-if-network-activity"
                        translate-comment="button to reset password"
                        translate-context="Action"
                        translate>Reset password</button>
                </div>
            </div>
        </form>
    </div>

    <div ng-if="resetState === states.GENERATE"  class="">

        <div class="aligncenter">
            <h2 class="aligncenter" ng-if="!signupError" translate translate-context="Title">Generating keys...</h2>

            <p class="color-white" translate-context="Info" translate>This can take a few seconds or a few minutes depending on your device.</p>

            <div class="creating-loader-container mt2 mb2">
                <atom-loader data-loader-theme="primary"></atom-loader>
            </div>
        </div>
    </div>

    <div class="pm_panel-login__inner bordered-container" ng-if="resetState === states.INSTALL" id="setUpProcess">
        <div class="aligncenter mb1">
            <div class="creating-loader-container">
                <atom-loader data-loader-theme="primary" data-height=80></atom-loader>
            </div>
        </div>

        <h2 class="aligncenter" translate-context="Title" translate>Resetting your password</h2>

        <div class="mb2">
            <ol id="creationList" class="creationList unstyled">
                <li class="done">
                    <icon data-name="check-circle" data-fill="global-success"></icon>
                    <span translate-context="Title" translate>Generating keys</span>
                </li>
                <li ng-class="{ 'opacity-50': !resetAccount }">
                    <icon
                        data-name="check-circle"
                        data-fill="currentColor"
                        ng-class="{ 'color-global-success': resetAccount }"></icon>
                    <span translate-context="Title" translate>Resetting your password</span>
                </li>
                <li ng-class="{ 'opacity-50': !logUserIn }">
                    <icon
                        data-name="check-circle"
                        data-fill="currentColor"
                        ng-class="{ 'color-global-success': logUserIn }"></icon>
                    <span translate-context="Title" translate>Logging in to your account</span>
                </li>
                <li ng-class="{ 'opacity-50': !redirectLogin }">
                    <icon
                        data-name="check-circle"
                        data-fill="currentColor"
                        ng-class="{ 'color-global-success': redirectLogin }"></icon>
                    <span translate-context="Title" translate>Redirecting</span>
                </li>
            </ol>
        </div>
    </div>
</section>
