<div id="pm_settings">
    <div ng-class="{
        'noLog': doLogging === 0,
        'activeLog': doLogging === 1,
        'activeLogAdvanced': doLogging === 2}" class="settings securityContainer" >
        <div class="row pm_grid">
            <section class="pm_form col-1-2">
                <header-block class="settingsSecurity-header-2fa">
                    <h2
                        class="settingsSecurity-title-2fa"
                        translate
                        translate-comment="two factor page heading"
                        translate-context="Title">Two-Factor Authentication</h2>
                </header-block>

                <button class="pm_button" ng-show="twoFactor === 1" ng-click="disableTwoFactor()" translate-context="Action" translate>Disable Two-Factor Authentication</button>
                <button class="pm_button" ng-show="twoFactor === 0" ng-click="enableTwoFactor()" translate-context="Action" translate>Enable Two-Factor Authentication</button>
                <a href="https://protonmail.com/support/knowledge-base/two-factor-authentication/" target="_blank" class="pm_button link" translate translate-context="Link">Learn more</a>
            </section>

            <section class="pm_form col-1-2">
                <header-block class="settingsSecurity-header-session">
                    <h2
                        class="settingsSecurity-title-session"
                        translate
                        translate-comment="other sessions page heading"
                        translate-context="Title">Session Management</h2>
                </header-block>
                <p>
                    <button type="button" class="pm_button" ng-click="revokeOthers()" translate-context="Action" translate>Revoke all other sessions</button>
                    <a href="https://protonmail.com/support/knowledge-base/log-out-all-other-sessions/" target="_blank" class="pm_button link" translate translate-context="Link">Learn more</a>
                </p>
                <div class="pm_table activeSessions-table">
                    <table class="bordered">
                        <tbody>
                            <tr ng-repeat="session in activeSessions track by $id(session)">
                                <td>
                                    <strong>{{ ::session.client }}</strong>
                                    <br />
                                    <code>{{ ::session.username }}</code>
                                    <time pt-tooltip="{{ ::session.CreateTime * 1000 | date : 'medium' }}">{{ ::session.createTime }}</time>
                                </td>
                                <td class="text-right">
                                    <span ng-if="session.isCurrentSession" class="pm_badge primary" translate-context="Badge in the active sessions table" translate>Current session</span>
                                    <button ng-if="session.Revocable && !session.isCurrentSession" ng-click="revoke(session.UID)" type="button" class="pm_button link" translate-context="Action in the active sessions table" translate>Revoke</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="help" translate-context="Info about active sessions" translate>Unless you explicitly logout or change your password, sessions can last for up to 6 months. Sessions expire after 2 weeks of inactivity.</p>
            </section>
        </div>
        <div class="row">
            <section class="setting pm_form full">
                <form method="post">
                    <header-block class="settingsSecurity-header-logs">
                        <h2
                            class="settingsSecurity-title-logs"
                            translate
                             translate-comment="logs page heading"
                            translate-context="Title">Authentication Logs</h2>
                    </header-block>
                        <div class="pull-right securtiyLogActions onlyActive">
                            <button class="pm_button pull-left" ng-click="clearLogs()" translate-context="Action" translate>Wipe</button>
                            <button class="pm_button pull-left" ng-click="downloadLogs()" translate-context="Action" translate>Download</button>
                            <span ng-show="(logCount > logItemsPerPage)">
                                <paginator-scope data-type="logs" page="currentLogPage" total-items="logCount" items-per-page="logItemsPerPage" change="loadLogs" />
                            </span>
                        </div>
                        <div class="pm_buttons pull-left margin-bottom">
                            <a class="noLogBtn" ng-click="setLogging(0)">{{ disabledText }}</a>
                            <a class="activeLogBtn" ng-click="setLogging(1)" translate-context="Action" translate>Basic</a>
                            <a class="activeLogAdvancedBtn" ng-click="setLogging(2)" translate-context="Action" translate>Advanced</a>
                        </div>
                        <a class="securityLogRefresh pm_button onlyActive" ng-click="initLogs()">
                            <i class="fa fa-rotate-right"></i>
                        </a>
                        <div class="clear">
                            <p class="noLog alert alert-info" translate translate-context="Info">You can enable authentication logging to see when your account is accessed, and from which IP. We will record the IP address that accesses the account and the time, as well as failed attempts.</p>
                            <p class="onlyActive alert alert-info" translate translate-context="Info">Logs include authentication attempts for all Proton services that use your ProtonMail credentials.</p>
                        </div>
                        <div class="clear onlyActive">
                            <p class="alert alert-info onlyActive" ng-show="logs.length < 1" translate-context="Info" translate>No logs yet</p>
                            <p class="alert alert-info onlyActive" ng-show="!haveLogs"><i class="fa fa-spin fa-spinner"></i>
                                <span translate-context="Info" translate>Fetching logs...</span>
                            </p>
                            <div class="pm_table">
                                <table id="accessLog" class="bordered" ng-init="initLogs()" ng-show="logs.length>0">
                                    <thead>
                                        <tr>
                                            <th style="width:10rem" translate-context="Title" translate>Event</th>
                                            <th style="width:10rem" ng-show="doLogging == 2" class="text-right">IP</th>
                                            <th style="width:14rem" class="text-right" translate-context="Title" translate>Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="log in logs | limitTo: logItemsPerPage: (currentLogPage - 1) * logItemsPerPage" ng-class="{ 'danger': (log.Event == 0) }">
                                            <td scope="row">
                                                <span ng-show="{{ log.Event === 0 }}"><i class="fa fa-times-circle text-red"></i>
                                                    <span translate-context="Info" translate-comment="authentication log record" translate translate-context="auth log entry">Login failure (password)</span>
                                                </span>
                                                <span ng-show="{{ log.Event === 1 }}"><i class="fa fa-check"></i>
                                                    <span translate translate-context="auth log entry">Login success</span>
                                                </span>
                                                <span ng-show="{{ log.Event === 2 }}"><i class="fa fa-check"></i>
                                                    <span translate translate-context="auth log entry">Logout</span>
                                                </span>
                                                <span ng-show="{{ log.Event === 3 }}"><i class="fa fa-times-circle text-red"></i>
                                                    <span translate translate-context="auth log entry">Login failure (two-factor)</span>
                                                </span>
                                            </td>
                                            <td ng-show="doLogging == 2" class="text-right">
                                                <kbd ng-show="log.IP!==''">{{ ::log.IP }}</kbd>
                                                <kbd ng-show="log.IP===''">--</kbd>
                                            </td>
                                            <td class="text-right">{{ log.Time * 1000 | date : 'medium' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!--/.pm_table-->
                        </div>
                </form>
            </section>
        </div>
        <encryption-view></encryption-view>
    </div><!--/.settings-->
</div><!--/#pm_settings-->
