<div id="pm_settings">
    <div class="settings settingsSignatures-container">
        <restore-administrator-panel ng-if="keyStatus === 2"></restore-administrator-panel>

        <div class="row" id="settingsAddresses">
            <section class="setting full pm_form">
                <header-block class="settingsSignatures-header-identities">
                    <h2
                        class="settingsSignatures-title-signatures"
                        translate
                        translate-context="Title">Identities</h2>
                </header-block>
                <p class="alert alert-info" ng-show="isFree" translate>Add additional email addresses to your account such as username2@protonmail.com. To enable this feature, <a ui-sref="secured.dashboard({scroll: true})">upgrade to ProtonMail Plus</a>.</p>
                <label class="settingsSignatures-label-active" ng-hide="isFree">
                    <div class="settingsSignatures-label-aside">
                        <section class="settingsSignatures-header-aside" ng-show="isAdmin">
                            <span translate translate-context="info link to Addresses/Users in Signatures page">New Addresses can be added on</span>
                            <a ui-sref="secured.members({ action: 'scroll' })" class="text-purple">Addresses/Users</a>
                        </section>
                        <section class="help-dnd" ng-if="activeAddresses.length > 1" translate-context="Help" translate>You can drag and drop active addresses to order them. The top address is the default address.</section>
                    </div>
                </label>
                <div class="activeAddresses-container">
                    <ul
                        class="pm_sort-container"
                        data-as-sortable="aliasDragControlListeners"
                        data-is-disabled="activeAddresses.length === 1"
                        ng-class="{ 'as-sortable-disabled': activeAddresses.length === 1 }"
                        data-ng-model="activeAddresses">

                        <li
                            class="pm_sort-item"
                            ng-repeat="address in activeAddresses | orderBy: 'Order' track by address.ID"
                            data-as-sortable-item
                            ng-class="{'highlight': address.Type === 1, 'unsortable': true}">
                            <div class="pm_sort-item-content" as-sortable-item-handle="">
                                <div class="activeAddresses-email">
                                    <span class="ellipsis">{{ address.Email }}</span>
                                </div>
                                <div class="activeAddresses-badge">
                                    <span class="pm_badge success" translate>Enabled</span>
                                    <span class="pm_badge primary" ng-show="$first" translate>Default</span>
                                </div>
                                <div>
                                    <address-btn-actions
                                        data-model="address"
                                        data-action="remove"
                                        ng-if="address.Type === 3 && isAdmin && !isSubUser"
                                        class="pm_button link text-red"></address-btn-actions>

                                    <address-btn-actions
                                        data-model="address"
                                        data-action="disable"
                                        ng-if="(address.Type === 2 || address.Type === 3) && isAdmin && !isSubUser"
                                        class="pm_button link"></address-btn-actions>

                                    <address-btn-actions
                                        data-model="address"
                                        data-action="makeDefault"
                                        ng-if="address.Order > 1"
                                        class="pm_button link"></address-btn-actions>

                                    <address-btn-actions
                                        data-model="address"
                                        data-action="editSignature"
                                        class="pm_button link"></address-btn-actions>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="inactiveAddresses-container" ng-if="disabledAddresses.length">
                    <ul class="pm_sort-container">
                        <li
                            class="pm_sort-item"
                            ng-repeat="address in disabledAddresses | orderBy: getDomain track by address.ID"
                            ng-class="{'highlight': address.Type === 1}">
                            <div class="pm_sort-item-content">
                                <div class="activeAddresses-email"><span class="ellipsis">{{ address.Email }}</span></div>
                                <div class="activeAddresses-badge">
                                    <span class="pm_badge error" ng-show="address.Status === 0"  translate translate-comment="address state badge">Disabled</span>
                                    <span class="pm_badge warning" ng-show="address.HasKeys === 0"  translate translate-comment="address state badge">Missing keys</span>
                                    <span class="pm_badge warning" ng-show="address.DomainID === null"  translate translate-comment="address state badge">Orphan</span>
                                </div>
                                <div>
                                    <address-btn-actions
                                        data-model="address"
                                        data-action="generate"
                                        ng-if="user.Private === 1 && address.HasKeys === 0 && address.Status === 1"
                                        class="pm_button link"></address-btn-actions>

                                    <address-btn-actions
                                        data-model="address"
                                        data-action="remove"
                                        ng-if="address.Status === 0 && address.Type === 3 && ((isAdmin && !isSubUser) || isFree)"
                                        class="pm_button link text-red"></address-btn-actions>

                                    <address-btn-actions
                                        data-model="address"
                                        data-action="enable"
                                        ng-if="address.Status === 0 && (address.Type === 2 || address.Type === 3) && isAdmin && !isSubUser"
                                        class="pm_button link"></address-btn-actions>

                                    <address-btn-actions
                                        data-model="address"
                                        data-action="disable"
                                        ng-if="address.Status === 1 && (address.Type === 2 || address.Type === 3) && isAdmin && !isSubUser"
                                        class="pm_button link"></address-btn-actions>

                                    <address-btn-actions
                                        data-model="address"
                                        data-action="editSignature"
                                        class="pm_button link"></address-btn-actions>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
