<form
    method="post"
    id="pm_login"
    name="unlockForm"
    class="pm_panel pm_form alt"
    ng-class="{ loadingUnlock: domoArigato }"
    novalidate
    role="form"
    autocomplete="on"
    ng-submit="unlock($event)">
    <div class="unlock-panel">

        <img src="/assets/img/logo.png" height="20" alt="ProtonMail" class="logo" />

        <h4 class="text-center">
            <span class="fa fa-inbox title-icon"></span> <span translate translate-context="Title">Decrypt Mailbox</span>
        </h4>

        <p class="text-center">{{ creds.Username }}</p>

        <div class="alert alert-danger" id="error521" ng-if="error">{{ error.message }}</div>

        <password
            class="margin focus unlock-input-password"
            data-id="password"
            data-name="mailbox-password"
            data-value="mailboxPassword"
            data-form="unlockForm"
            data-autofocus="true"
            placeholder-translate-context="Placeholder"
            placeholder-translate="Mailbox password"></password>

        <div class="loginForm-actions">
            <div class="loginForm-actions-column">
                <button
                    id="unlock_btn"
                    class="loginForm-actions-main pm_button primary pull-right disabled-if-network-activity"
                    type="submit"
                    translate-context="Action"
                    translate>Unlock</button>
                <button
                    type="button"
                    ng-click="reset()"
                    class="login-support pm_button link pull-left unlock-btn-forgot"
                    translate-context="Action"
                    translate
                    translate-comment="link to reset mailbox">Forgot password?</button>
            </div>
        </div>

    </div>

    <div class="loadingUnlock-loader-container">
        <atom-loader data-translation-key="decrypting"></atom-loader>
    </div>
</form>
