@import '~@proton/styles/scss/config';

.password-page {
	background: linear-gradient(40deg, rgb(250 82 142 / 0.63) 0.6%, rgb(138 110 255 / 0.63) 55%);
	backdrop-filter: blur(8px);
}

.password-page--icon-container {
	background: var(--interaction-norm-minor-1);
}
