<div class="pm_buttons advancedFilterElement-container" ng-class="{
    'advancedFilterElement-state-drafts': ('secured.drafts.**' | includedByState),
    'advancedFilterElement-state-all-drafts': ('secured.allDrafts.**' | includedByState),
    'advancedFilterElement-state-spam': ('secured.spam.**' | includedByState),
    'advancedFilterElement-state-trash': ('secured.trash.**' | includedByState)
}">
    <a class="pm_trigger advancedFilterElement-btn-dropdown" dropdown>
        <small translate-context="Action" translate>More</small>
        <i class="fa fa-angle-down"></i>
    </a>
    <div class="pm_dropdown widest noPadding advancedFilterElement-content">
        <button
            class="advancedFilterElement-btn-drafts"
            data-action="empty"
            data-action-arg="drafts">
            <div>
                <i class="fa fa-times-circle-o"></i>
                <span translate translate-context="Action">Empty drafts</span>
            </div>
        </button>
        <button
            class="advancedFilterElement-btn-all-drafts"
            data-action="empty"
            data-action-arg="allDrafts">
            <div>
                <i class="fa fa-times-circle-o"></i>
                <span translate translate-context="Action">Empty drafts</span>
            </div>
        </button>
        <button
            class="advancedFilterElement-btn-spam"
            data-action="empty"
            data-action-arg="spam">
            <div>
                <i class="fa fa-times-circle-o"></i>
                <span translate translate-context="Action">Empty spam</span>
            </div>
        </button>
        <button
            class="advancedFilterElement-btn-trash"
            data-action="empty"
            data-action-arg="trash">
            <div>
                <i class="fa fa-times-circle-o"></i>
                <span translate translate-context="Action">Empty trash</span>
            </div>
        </button>
        <button
            class="advancedFilterElement-btn-folder"
            data-action="empty"
            data-action-arg="folder">
            <div>
                <i class="fa fa-times-circle-o"></i>
                <span translate translate-context="Action">Empty folder</span>
            </div>
        </button>
        <button
            class="advancedFilterElement-btn-label"
            data-action="empty"
            data-action-arg="label">
            <div>
                <i class="fa fa-times-circle-o"></i>
                <span translate translate-context="Action">Empty label</span>
            </div>
        </button>
        <button
            class="advancedFilterElement-btn-small-to-large"
            data-action="orderBy"
            data-action-arg="size">
            <div>
                <i class="fa fa-sort-amount-asc"></i>
                <span translate translate-context="Action">Size: Small to large</span>
            </div>
        </button>
        <button
            class="advancedFilterElement-btn-large-to-small"
            data-action="orderBy"
            data-action-arg="-size">
            <div>
                <i class="fa fa-sort-amount-desc"></i>
                <span translate translate-context="Action">Size: Large to small</span>
            </div>
        </button>
        <button
            class="advancedFilterElement-btn-new-to-old"
            data-action="orderBy"
            data-action-arg="-date">
            <div>
                <i class="fa fa-clock-o"></i>
                <span translate translate-context="Action">Date: New to old</span>
            </div>
        </button>
        <button
            class="advancedFilterElement-btn-old-to-new"
            data-action="orderBy"
            data-action-arg="date">
            <div>
                <i class="fa fa-history"></i>
                <span translate translate-context="Action">Date: Old to new</span>
            </div>
        </button>
        <button
            class="advancedFilterElement-btn-show-all"
            data-action="clearFilter">
            <div>
                <i class="fa fa-list"></i>
                <span translate translate-context="Action">Show all</span>
            </div>
        </button>
        <button
            class="advancedFilterElement-btn-unread"
            data-action="filterBy"
            data-action-arg="unread">
            <div>
                <i class="fa fa-eye-slash"></i>
                <span translate translate-context="Action">Show unread</span>
            </div>
        </button>
        <button
            class="advancedFilterElement-btn-read"
            data-action="filterBy"
            data-action-arg="read">
            <div>
                <i class="fa fa-eye"></i>
                <span translate translate-context="Action">Show read</span>
            </div>
        </button>
        <moved-button class="advancedFilterElement-btn-moved" ng-if="
            ('secured.drafts.**' | includedByState) ||
            ('secured.allDrafts.**' | includedByState) ||
            ('secured.sent.**' | includedByState) ||
            ('secured.allSent.**' | includedByState)
        "></moved-button>
    </div>
</div>
