<div class="countElementsSelected-container flex w100">

    <div class="mlauto mrauto mauto pt2" ng-if="('secured.label.**' | includedByState) && !numberElementChecked">

        <h3 class="bold">{{::selectedLabelName}}</h3>

        <p class="mt0 pt0" ng-bind-html="::selectedLabelTotal"></p>

        <img
            ng-src="/assets/selected-label-{{selectedLabelTotalRaw > 1 ? 'many' : 'single'}}.svg"
            class="countElementsSelected-image"
            alt="Email selected">
    </div>

    <div
        class="pm-flex-content-vertical-center"
        ng-if="!('secured.label.**' | includedByState) || numberElementChecked">

        <h3 class="bold">{{::selectedLabelName}}</h3>
        <p class="mt0 pt0" ng-bind-html="selectedLabelTotalTxt(numberElementChecked)"></p>

        <img
            ng-src="/assets/selected-conversation-{{numberElementChecked > 1 ? 'many' : 'single'}}.svg"
            class="countElementsSelected-image"
            alt="Conversation selected">

        <div>
            <button
                class="pm-button countElementsSelected-btn-unselect conversationPlaceholder-btn-unselect no-pointer-events-children"
                data-click-action="unselect"
                ng-if="numberElementChecked > 0">
                    <span ng-if="numberElementChecked === 1" translate translate-context="Action">Deselect</span>
                    <span ng-if="numberElementChecked > 1" translate translate-context="Action">Deselect all</span>
                </button>
        </div>

    </div>
</div>
