<div class="countElementsSelected-container pm-flex-content-vertical-center">
    <span class="flex mlauto mrauto p0-25 rounded50 bg-global-grey">
        <icon data-name="on" data-size="16" data-fill="white" class="mauto"></icon>
    </span>
    <number-element-selected
        class="countElementsSelected-title"
        data-number="numberElementChecked"></number-element-selected>
    <div>
        <button
            class="pm-button
            countElementsSelected-btn-unselect conversationPlaceholder-btn-unselect"
            ng-show="numberElementChecked > 0"
            translate
            translate-context="Action">Deselect all</button>
    </div>
</div>
