<div class="elements-selector pl0-5" ng-class="{disabled: !conversations.length}" >
    <label class="elements-selector-check pm-select-all ml1">
        <custom-checkbox
            class="elements-selector-label"
            ng-class="{disabled: !conversations.length}"
            for="selectAll"
            pt-tooltip-translate="Select messages"
            pt-tooltip-translate-context="Action"
            data-custom-id="selectAll"
            data-custom-name="selectAll"
            data-custom-class="elements-selector-checkbox element-selector-input"
            data-custom-ng-checked="checkedSelectorState() && conversations.length"
            data-custom-ng-click="$event.stopPropagation()"
            data-custom-value="all"
            data-custom-pt-select-elements
            data-custom-ng-disabled="!conversations.length"></custom-checkbox>
    </label>

    <dropdown-container class="elementsSelector-dropdown">
        <dropdown-button class="pl0-5 pr0-5">
            <icon data-name="caret" data-size="12" class="no-pointer-events toolbar-icon mtauto mbauto"></icon>
        </dropdown-button>

        <dropdown-content>
            <ul class="unstyled mt0-5 mb0-5 element-selector-set-scope"></ul>
        </dropdown-content>
    </dropdown-container>
</div>
