<div class="elements-selector" ng-class="{disabled: !conversations.length}" >
    <div class="elements-selector-check">
        <label class="elements-selector-label">
            <custom-checkbox
                class="elements-selector-label"
                ng-class="{disabled: !conversations.length}"
                for="selectAll"
                pt-tooltip-translate="Select messages"
                pt-tooltip-translate-context="Action"
                data-custom-id="selectAll"
                data-custom-name="selectAll"
                data-custom-class="elements-selector-checkbox element-selector-input"
                data-custom-ng-checked="checkedSelectorState() && conversations.length"
                data-custom-ng-click="$event.stopPropagation()"
                data-custom-value="all"
                data-custom-pt-select-elements
                data-custom-ng-disabled="!conversations.length"></custom-checkbox>
        </label>
    </div>
    <a class="inheritPadding pm_trigger elements-selector-trigger-dropdown" dropdown ng-class="{disabled: !conversations.length}"  ng-if="!idDefined() || viewLayout === 0">
        <i class="elements-selector-trigger-dropdown-fa-angle-down fa fa-angle-down"></i>
    </a>
    <span class="element-selector-set-scope pm_dropdown"></span>
</div>
