<div class="pm-group-buttons moveElement-container">
    <button
        type="button"
        class="pm-group-button flex pl1 pr1 toolbar-btn-trash moveElement-btn-trash"
        pt-tooltip-translate="Move to trash"
        data-action="trash"
        pt-tooltip-translate-context="Action">
        <icon data-name="trash" data-size="16" class="mauto no-pointer-events"></icon>
        <span class="sr-only" translate-context="Action" translate>Move to trash</span>
    </button>
    <button
        type="button"
        class="pm-group-button flex pl1 pr1 toolbar-btn-inbox moveElement-btn-inbox"
        pt-tooltip-translate="Move to inbox"
        data-action="inbox"
        pt-tooltip-translate-context="Action">
        <icon data-name="inbox" data-size="16" class="mauto no-pointer-events"></icon>
        <span class="sr-only" translate-context="Action" translate>Move to inbox</span>
    </button>
    <button
        type="button"
        class="pm-group-button flex pl1 pr1 toolbar-btn-archive moveElement-btn-archive"
        pt-tooltip-translate="Move to archive"
        data-action="archive"
        pt-tooltip-translate-context="Action">
        <icon data-name="archive" data-size="16" class="mauto no-pointer-events"></icon>
        <span class="sr-only" translate-context="Action" translate>Move to archive</span>
    </button>
    <button
        type="button"
        class="pm-group-button flex pl1 pr1 toolbar-btn-spam moveElement-btn-spam"
        pt-tooltip-translate="Move to spam"
        data-action="spam"
        pt-tooltip-translate-context="Action">
        <icon data-name="spam" data-size="16" class="mauto no-pointer-events"></icon>
        <span class="sr-only" translate-context="Action" translate>Move to spam</span>
    </button>
    <button
        type="button"
        class="pm-group-button flex pl1 pr1 toolbar-btn-delete moveElement-btn-delete"
        pt-tooltip-translate="Delete"
        data-action="delete"
        pt-tooltip-translate-context="Action">
        <icon data-name="delete" data-size="16" class="mauto no-pointer-events"></icon>
        <span class="sr-only" translate-context="Action" translate>Delete</span>
    </button>
</div>
