<div class="pm_buttons moveElement-container">
    <button
        type="button"
        class="pm_buttons-child fa fa-trash-o toolbar-btn-trash moveElement-btn-trash"
        pt-tooltip-translate="Move to trash"
        data-action="trash"
        pt-tooltip-translate-context="Action">
        <span class="sr-only" translate-context="Action" translate>Move to trash</span>
    </button>
    <button
        type="button"
        class="pm_buttons-child fa fa-inbox toolbar-btn-inbox moveElement-btn-inbox"
        pt-tooltip-translate="Move to inbox"
        data-action="inbox"
        pt-tooltip-translate-context="Action">
        <span class="sr-only" translate-context="Action" translate>Move to inbox</span>
    </button>
    <button
        type="button"
        class="pm_buttons-child fa fa-archive toolbar-btn-archive moveElement-btn-archive"
        pt-tooltip-translate="Move to archive"
        data-action="archive"
        pt-tooltip-translate-context="Action">
        <span class="sr-only" translate-context="Action" translate>Move to archive</span>
    </button>
    <button
        type="button"
        class="pm_buttons-child fa fa-ban toolbar-btn-spam moveElement-btn-spam"
        pt-tooltip-translate="Move to spam"
        data-action="spam"
        pt-tooltip-translate-context="Action">
        <span class="sr-only" translate-context="Action" translate>Move to spam</span>
    </button>
    <button
        type="button"
        class="pm_buttons-child fa fa-times-circle-o toolbar-btn-delete moveElement-btn-delete"
        pt-tooltip-translate="Delete"
        data-action="delete"
        pt-tooltip-translate-context="Action">
        <span class="sr-only" translate-context="Action" translate>Delete</span>
    </button>
</div>
