<div class="navElements-container pm_buttons">
    <button
        class="navElements-btn-next p1"
        data-dest="next"
        pt-tooltip-translate="Previous"
        pt-tooltip-translate-context="Action">
        <icon data-name="caret" data-size="16" class="mauto rotateZ-90"></icon>
        <span class="sr-only" translate-context="Action toolbar" translate>Previous</span>
    </button>
    <button
        class="navElements-btn-previous p1"
        data-dest="previous"
        pt-tooltip-translate="Next"
        pt-tooltip-translate-context="Action">
        <icon data-name="caret" data-size="16" class="mauto rotateZ-270"></icon>
        <span class="sr-only" translate-context="Action toolbar" translate>Next</span>
    </button>
</div>
