<div class="navElements-container pm_buttons">
    <button
        class="navElements-btn-next pm_button"
        data-dest="next"
        pt-tooltip-translate="Previous"
        pt-tooltip-translate-context="Action">
        <i class="fa fa-chevron-left"></i>
    </button>
    <button
        class="navElements-btn-previous pm_button"
        data-dest="previous"
        pt-tooltip-translate="Next"
        pt-tooltip-translate-context="Action">
        <i class="fa fa-chevron-right"></i>
    </button>
</div>
