<button
    class="starbutton relative"
    type="button"
    ng-class="isStarred() ? 'starbutton--is-starred' : ''">
    <icon
        pt-tooltip-translate="Star"
        pt-tooltip-translate-context="Toggle Star message/conversation"
        data-name="star"
        data-no-fill="true"
        class="starbutton-icon-star"></icon>
    <icon
        pt-tooltip-translate="Unstar"
        pt-tooltip-translate-context="Toggle Star message/conversation"
        data-name="starfull"
        data-no-fill="true"
        class="starbutton-icon-starred"></icon>
</button>
