<label class="selectBoxElement-container needsclick relative">

    <input
        type="checkbox"
        class="item-checkbox selectBoxElement-input needsclick cursor-pointer m0"
        ng-checked="conversations[$index].Selected"
        data-index="{{ $index }}"
        aria-label="{{ ::conversation.Subject | unescape }}">

    <span
        class="item-icon flex-item-noshrink rounded50 bg-white inline-flex selectBoxElement-about no-pointer-events-children needsclick">
        <span class="mauto item-abbr selectBoxElement-initiak no-events-children">{{ ::conversation | initials}}</span>
        <span class="item-icon-fakecheck mauto selectBoxElement-checkbox ">
          <icon
            data-name="on"
            data-fill="white"
            class="mr0-5 mauto item-icon-fakecheck-icon selectBoxElement-icon"></icon>
        </span>
    </span>

</label>
