@import '~@proton/styles/scss/lib';

.drive-signup-plan-card {
	--plan-card-border-width: 3px;
	--plan-card-border-radius: calc(var(--border-radius-lg) + var(--plan-card-border-width));
	--plan-card-highlight-gradient: conic-gradient(
		from 180deg at 50% 50%,
		#e04fd0 19deg,
		#ffc977 65deg,
		#6a4de6 136deg,
		#6a4de6 228deg,
		#ff62c0 275deg,
		#6a4de6 315deg,
		rgba(255 47 172 / 0.8) 341deg
	);

	z-index: 1;
	margin-block-start: rem(36);

	&-label {
		animation: fadeIn 0.3s easing(ease-out-quad);
		position: absolute;
		inset-block-start: rem(-36);
		inset-inline-start: 0;
		block-size: rem(36);
		inline-size: 100%;
		border-radius: var(--plan-card-border-radius) var(--plan-card-border-radius) 0 0;
	}

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		inset: 0;
		pointer-events: none;
		border-radius: var(--border-radius-lg);
		border: 1px solid var(--border-norm);
		background: var(--background-norm);
	}

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		pointer-events: none;
		border-radius: 0 0 var(--plan-card-border-radius) var(--plan-card-border-radius);
		z-index: -2;
	}

	&-highlighted {
		&::before {
			inset: var(--plan-card-border-width);
			border: none;
		}

		&::after {
			animation: fadeIn 0.3s easing(ease-out-quad);
			animation-fill-mode: both;
			background: var(--plan-card-highlight-gradient);
		}
	}

	&-highlighted--default {
		&::after {
			background: linear-gradient(var(--primary), var(--primary));
		}
	}

	&-highlighted &-label {
		background: linear-gradient(0deg, #6d4aff 0%, #583ad3 100%);
		color: var(--primary-contrast);
	}
}
