<div class="pm_buttons">
    <a class="pm_trigger" dropdown class="pm_checkbox" ng-if="!idDefined() || user.ViewLayout === 0">
        <input
            type="checkbox"
            name="selectAll"
            ng-checked="checkedSelectorState"
            ng-click="$event.stopPropagation()"
            value="value"
            data-pt-select-all-elements
            class="element-selector-input"
            ng-disabled="!conversations.length"
            pt-tooltip-translate="Select messages"
            pt-tooltip-translate-context="Action">
        <i class="fa fa-angle-down"></i>
    </a>
    <span class="element-selector-set-scope pm_dropdown">
        <button data-scope="all">
            <span translate-context="Action">All</span>
        </button>
        <button data-scope="unread">
            <i class="fa fa-eye-slash"></i>
            <span translate translate-context="Action">Unread</span>
        </button>
        <button data-scope="read">
            <i class="fa fa-eye"></i>
            <span translate translate-context="Action">Read</span>
        </button>
        <button data-scope="starred">
            <i class="fa fa-star"></i>
            <span translate translate-context="Action">Starred</span>
        </button>
        <button data-scope="unstarred">
            <i class="fa fa-star-o"></i>
            <span translate translate-context="Action">Un-stared</span>
        </button>
    </span>
</div>
