<div class="progressLoader-container pm_button">

    <div class="progressLoader-attachment">
        <i class="progressLoader-icon" ng-class="(model.packet.Inline === 1) ? 'fa fa-image embedded' : 'fa fa-paperclip'"></i>
        <span class="progressLoader-name">{{ ::model.packet.filename }}</span>
    </div>

    <progression-btn
        data-action="close"
        class="progressLoader-btn-close"></progression-btn>

    <progression-btn
        data-action="remove"
        class="progressLoader-btn-remove hidden"></progression-btn>
</div>
