<span
    class="pm_buttons readUnread-container"
    data-ng-class="{ disabled: numberElementSelected === 0, 'readUnread-container-ur': messageButtons === 1 }">
    <a
        href="#"
        class="fa fa-eye readUnread-btn-read"
        data-action="read"
        pt-tooltip-translate="Mark as read"
        pt-tooltip-translate-context="Action"></a>

    <a
        href="#"
        class="fa fa-eye-slash readUnread-btn-unread"
        data-action="unread"
        pt-tooltip-translate="Mark as unread"
        pt-tooltip-translate-context="Action"></a>
</span>
