@keyframes photos-card-loading {
	/**
	 * Animating `opacity` is intended, as animating background-color
     * will cause Chrome to trigger paint.
	 *
	 * See https://web.dev/animations-guide/#triggers
	 */

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.old-photos .photos-card {
	user-select: none;
	background-color: var(--background-weak);

	&:hover {
		background-color: var(--background-weak);
	}

	&--loading {
		&::before {
			inline-size: 100%;
			block-size: 100%;
			content: '';
			display: block;
			opacity: 0;
			background-color: var(--background-strong);
			animation: photos-card-loading alternate 1s ease-in-out infinite both;
			animation-delay: inherit;
		}
	}

	&--hide-checkbox {
		& > .checkbox-container {
			display: none;
		}

		&:hover > .checkbox-container,
		&:focus-within > .checkbox-container {
			display: block;
		}
	}

	&--selected {
		border: 1px var(--interaction-norm) solid;

		&:hover {
			border: 1px var(--interaction-norm) solid;
		}

		&::after {
			inline-size: 100%;
			block-size: 100%;
			position: absolute;
			inset-block-start: 0;
			content: '';
			display: block;
			opacity: 0.3;
			background-color: var(--interaction-norm);
		}
	}
}

.old-photos .photos-card-thumbnail {
	pointer-events: none;
	object-fit: cover;

	&--empty {
		background-color: var(--background-weak);
	}
}

.old-photos .photos-card-video-info {
	padding-block-start: 100%;
	background: linear-gradient(180deg, rgb(0 0 0 / 0) 86.82%, rgb(0 0 0 / 0.4) 100%);
	color: white;
}

.old-photos .photos-card-share-icon {
	background-color: rgb(112 109 107 / 0.8);
	inline-size: 20px;
	block-size: 20px;
}
