@keyframes photos-card-loading {
	from {
		background-color: var(--background-weak);
	}

	to {
		background-color: var(--background-strong);
	}
}

.photos-card:empty {
	inline-size: 100%;
	block-size: 100%;
	content: '';
	background-color: var(--background-weak);
	animation: photos-card-loading alternate 1s ease-in-out infinite;
}

.photos-card--thumbnail {
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
}
