<div class="pm_modal {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <form class="modal-content" ng-submit="submit()">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'ADD_A_NEW_USER' | translate }}</h4>
            </div>
            <div class="modal-body">
                <div class="pm_grid pm_form">
                    <div class="col-1-8">
                        <input type="radio" name="addUser">
                    </div>
                    <div class="col-7-8">
                        <label class="larger">{{ 'SELECT_AN_EXISTING_ADDRESS' | translate }}:</label>
                        
                        <span class="pm_buttons">
                            <a href="#" class="wide pm_trigger" ng-dropdown>
                                address@example.com <i class="fa fa-angle-down"></i>
                            </a>
                            <span class="pm_dropdown wider">
                                <a href="#">
                                    address@example.com
                                </a>
                                <a href="#">
                                    address@aol.com
                                </a>
                            </span>
                        </span>

                    </div>
                </div>
                <div class="pm_grid pm_form">
                    <div class="col-1-8">
                        <input type="radio" name="addUser">
                    </div>
                    <div class="col-7-8">
                        <label class="larger">{{ 'SELECT_A_NEW_ADDRESS' | translate }}:</label>

                        <div class="pm_grid">
                            <div class="col-1-3">
                                <span id="addressName">
                                    <input type="text" placeholder="Address name">
                                </span>
                            </div>
                            <div class="col-1-3">
                                <span class="pm_buttons">
                                    <a href="#" class="wide pm_trigger" ng-dropdown>
                                        @example.com <i class="fa fa-angle-down"></i>
                                    </a>
                                    <span class="pm_dropdown wider">
                                        <a href="#">
                                            @example.com
                                        </a>
                                        <a href="#">
                                            @aol.com
                                        </a>
                                    </span>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>

                <p><strong>How come the address I want is not available?</strong></p>
                <p>You can only add addresses from domains which have already been added and verified under the <a href="#">Custom Domains</a> tab. You also cannot use addresses which are already associated with another user account.</p>
                <p><a href="#" class="pm_button link"><i class="fa fa-arrow-right"></i> WHAT ARE USERS?</a></p>

            </div>
        </form>
        <div class="modal-footer text-right">
            <button type="button" class="pm_button" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</button>
            <button type="button" class="pm_button primary"  ng-click="ctrl.next()">{{ 'NEXT' | translate }}</button>
        </div>
    </div>
</div>
