<div class="pm_modal {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <form class="modal-content" ng-submit="submit()">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'ADD_A_NEW_USER' | translate }}</h4>
            </div>
            <div class="modal-body" id="newUser">

                <div class="pm_form newUser">
                    <label class="larger">
                    <input type="radio" name="addUser">
                    {{ 'SELECT_AN_EXISTING_ADDRESS' | translate }}:</label>
                    <div class="pm_grid">
                        <div class="col-1-3">
                            <span class="pm_select">
                                <select>
                                    <option>
                                        herp@example.com
                                    </option>
                                    <option>
                                        derp@example.ch
                                    </option>
                                    <option>
                                        burp@example.me
                                    </option>
                                    <option>
                                        herp@example.xyz
                                    </option>
                                </select>
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </div>
                        <div class="col-1-3"></div>
                    </div>
                </div><!--/.newUser-->

                <div class="pm_form newUser">
                    <label class="larger">
                    <input type="radio" name="addUser">
                    {{ 'SELECT_A_NEW_ADDRESS' | translate }}:</label>
                    <div class="pm_grid">
                        <div class="col-1-3">
                            <span id="addressName">
                                <input type="text" placeholder="Address name">
                            </span>
                        </div>
                        <div class="col-1-3">
                            <span class="pm_select">
                                <select>
                                    <option>
                                        @example.com
                                    </option>
                                    <option>
                                        @example.ch
                                    </option>
                                    <option>
                                        @example.me
                                    </option>
                                    <option>
                                        @example.xyz
                                    </option>
                                </select>
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </div>
                    </div>
                </div><!--/.newUser-->

                <p><strong>How come the address I want is not available?</strong></p>
                <p>You can only add addresses from domains which have already been added and verified under the <a target="_blank" ui-sref="secured.domains">Custom Domains</a> tab. You also cannot use addresses which are already associated with another user account.</p>
                <p><a target="_blank" href="https://protonmail.com/support/knowledge-base/adding-new-users-to-your-domain" class="pm_button link"><i class="fa fa-arrow-right"></i> WHAT ARE USERS?</a></p>

            </div>
        </form>
        <div class="modal-footer text-right">
            <button type="button" class="pm_button" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</button>
            <button type="button" class="pm_button primary" ng-click="ctrl.next()">{{ 'NEXT' | translate }}</button>
        </div>
    </div>
</div>
