<div class="modal-content pm_form">
    <div class="modal-header">
        <h4 class="modal-title">{{ 'ADD_USER' | translate }}</h4>
    </div>
    <div class="modal-body">
        <div class="pm_grid">
            <div class="col-1-3">
                <label>{{ 'NAME' | translate }}</label>
            </div>
            <div class="col-2-3">
                <input autofocus type="text" ng-model="ctrl.name" placeholder="ex: Thomas Anderson">
            </div>
        </div>
        <div class="pm_grid">
            <div class="col-1-3">
                <label>{{ 'LOGIN_PASSWORD' | translate }}</label>
            </div>
            <div class="col-2-3">
                <input type="text" ng-model="ctrl.loginPassword" class="margin" placeholder="{{ 'LOGIN_PASSWORD' | translate }}">
                <input type="text" ng-model="ctrl.confirmPassword" placeholder="{{ 'CONFIRM_LOGIN_PASSWORD' | translate }}">
            </div>
        </div>
        <div class="pm_grid">
            <div class="col-1-3">
                <label>{{ 'USER_STORAGE' | translate }}</label>
            </div>
            <div class="col-2-3">
                <input type="text" ng-model="ctrl.quota" class="inline" placeholder="Storage as MB (Mega Byte)">
                <span class="pm_select inline mini">
                    <select ng-model="ctrl.unit" ng-options="unit.label for unit in ctrl.units"></select>
                    <i class="fa fa-angle-down"></i>
                </span>
                <p class="alert alert-info">
                    Your Organization has <strong>{{ (ctrl.organization.MaxSpace - ctrl.organization.UsedSpace) | humanSize }} left</strong>.
                </p>
            </div>
        </div>
        <div class="pm_grid">
            <div class="col-1-3">
                <label>{{ 'PRIVATE_USER' | translate }}</label>
            </div>
            <div class="col-2-3">
                <label>
                    <input type="checkbox" ng-model="ctrl.private" /> {{ 'MAKE_USER_PRIVATE' | translate }}
                </label>
                <p class="alert alert-info">{{ 'ORG_ADMINS_CANT_ACCESS_MESSAGE' | translate }}</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer text-right">
    <button type="button" class="pm_button" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</button>
    <button type="button" class="pm_button primary" ng-click="ctrl.next()">{{ 'NEXT' | translate }}</button>
</div>
