<div class="pm_modal {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <form class="modal-content" ng-submit="submit()">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'ADD_A_NEW_USER' | translate }}</h4>
            </div>
            <div class="modal-body">
                <div class="pm_form">
                    <label class="larger">Create a Login Password</label>
                    <div class="pm_grid">
                        <div class="col-1-3">
                            <label>Login Password</label>
                        </div>
                        <div class="col-1-2">
                            <input type="text" class="margin" placeholder="Choose a Login password">
                            <input type="text" class="margin" placeholder="Confirm a Login password">
                        </div>
                    </div>
                </div>
                <div class="pm_form">
                    <label class="larger">Create a MailBox Password</label>
                    <div class="pm_grid">
                        <div class="col-1-3">
                            <label>Mailbox Password</label>
                        </div>
                        <div class="col-1-2">
                            <input type="text" class="margin" placeholder="Choose a Mailbox password">
                            <input type="text" class="margin" placeholder="Confirm a Mailbox password">
                        </div>
                    </div>
                </div>
                <div class="pm_form">
                    <label class="larger">Set User Storage</label>
                    <div class="pm_grid">
                        <div class="col-1-3">
                            <label>Storage Amount</label>
                        </div>
                        <div class="col-1-2">
                            <input type="text" class="margin" placeholder="Storage as MB (Mega Byte)">
                            <p><i class="fa fa-info-circle"></i> Your Organization has <strong>6481 MB left</strong>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-footer text-right">
            <button type="button" class="pm_button" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</button>
            <button type="submit" class="pm_button primary" ng-click="ctrl.next()">{{ 'SUBMIT' | translate }}</button>
        </div>
        </form>
    </div>
</div>