@import '~@proton/styles/scss/config';

$amount-size: 36;

.offer {
	&-modal {
		&.modal-two-dialog--large {
			// only increasing size for large case = when 3 plans
			--size: #{em(992)}; // to define - header image is 992px wide
		}

		&.offer-modal--one-deal {
			--size: #{em(820)}; // half image & content

			&.offer-modal--noimg {
				--size: #{em(420)}; // no left or top image
			}

			.modal-two-content {
				margin-block-end: 0;
				@include respond-to($breakpoint-small, 'min') {
					display: flex;
					inline-size: 100%;
				}
			}

			// kill scroll only for desktop
			@include respond-to($breakpoint-small, 'min') {
				.scroll-outer-vertical .scroll-inner,
				.scroll-child {
					overflow: hidden;
					display: flex;
					block-size: 100%;
					inline-size: 100%;
				}

				.offer-main-wrapper {
					inline-size: calc(100% + 4rem);
				}

				.offer-main-content-container {
					overflow-y: auto;
				}
			}
		}

		.scroll-inner {
			overflow: overlay; // trick for Chrome Mac layout rendering for scrollbar
		}
	}

	// for some promotions
	&-proton-logo {
		@include respond-to($breakpoint-small) {
			inline-size: em(30); // just to avoid having images going to another next line on mobile
		}
	}
	@include respond-to($breakpoint-small) {
		&-proton-logo {
			inline-size: em(30); // just to avoid having images going to another next line on mobile
		}
	}

	// top banner offer
	// need to compensate modal paddings
	&-modal &-main-wrapper {
		margin-inline: -2rem;
		margin-block-start: -0.5em;
		@include respond-to($breakpoint-small) {
			margin-inline: 0;
		}
	}

	&-modal:not(.offer-modal--one-deal) {
		@include respond-to($breakpoint-small, 'min') {
			.offer-close-button {
				color: white; // always above a banner, so hardcoded to white
			}
		}

		.offer-main-content {
			margin-inline: 2rem;
			@include respond-to($breakpoint-small) {
				margin-inline: 0;
			}
		}
	}

	// side banner offer
	&-side-image-container,
	&-side-image {
		min-inline-size: 400px;

		@include respond-to(1100) {
			min-inline-size: 300px;
		}
		@include respond-to(900) {
			min-inline-size: 250px;
		}
	}

	&-main-wrapper--left-banner &-wrapper {
		flex-direction: column;
		align-items: center;

		.offer-plan-container:not(:first-child) {
			margin-inline-start: 0;
		}
	}

	// contents of offers
	&-countdown {
		&-number {
			font-variant: tabular-nums;
			min-inline-size: 2em;
		}
	}

	&-plan-container {
		flex: 1;
		max-inline-size: 26em;

		&:not(:first-child) {
			margin-inline-start: 1em;
			@include respond-to($breakpoint-small) {
				margin-inline-start: 0;
			}
		}
		@include respond-to($breakpoint-small) {
			max-inline-size: none;

			&--mostPopular {
				// most popular first on mobile
				order: -1;
			}
		}
	}

	&-plan {
		padding-inline: em(24);
		@include respond-to(850) {
			padding-inline: em(18);
		}
		@include respond-to($breakpoint-small) {
			padding-inline: em(24);
		}

		&.is-focused {
			border-color: var(--field-focus);
			box-shadow: 0 0 0 #{$fields-focus-ring-size} var(--field-highlight);
		}
	}

	&-percentage {
		inset-inline-start: 50%;
		transform: translateX(-50%) translateY(-50%);

		[dir='rtl'] & {
			transform: translateX(50%) translateY(-50%);
		}

		white-space: nowrap;
		border-radius: 1em;
		z-index: 1;
	}

	&-most-popular {
		min-block-size: 1.5em;

		// no need to keep space for 1 plan case
		.offer-modal--one-deal &:empty {
			display: none;
		}

		// hidden when empty on mobile
		@include respond-to($breakpoint-small) {
			&:empty {
				display: none;
			}
		}
	}

	&-plan-namePeriod {
		.offer-modal:not(.offer-modal--one-deal) & {
			@include respond-to(850) {
				min-block-size: 6em; // proton unlimited on 2 lines
				@include respond-to($breakpoint-small) {
					min-block-size: 0;
				}
			}
		}
	}

	&-monthly-price {
		display: block;

		.amount,
		.currency {
			font-size: em($amount-size);
			font-weight: var(--font-weight-bold);
			@include respond-to(1020) {
				font-size: em(28);
			}
		}

		.suffix {
			margin-inline-start: 0.5em;
			color: var(--text-weak);
			display: inline-block;

			.offer-modal:not(.offer-modal--one-deal) & {
				@include respond-to(900) {
					min-inline-size: 100%;
					position: relative;
					inset-block-start: -0.5em;
				}
				@include respond-to($breakpoint-small) {
					min-inline-size: 0;
					position: static;
				}
			}
		}
	}

	&-regular-price {
		inset-block-start: -0.2em; // magic number to be a bit closer to real price and not CTA
	}

	&-features:empty {
		display: none;
	}
}
