@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/rem' as *;

.file-card {
	border-radius: rem(12);

	&-dismiss-button {
		position: absolute;
		inset-block-start: #{rem(-6)};
		inset-inline-end: #{rem(-6)};
		z-index: 10;
		background: var(--background-norm);
		border: 1px solid var(--border-weak);
		border-radius: 50%;
		box-shadow: var(--shadow-norm);
		opacity: 0;
		visibility: hidden;
		transition:
			opacity 0.2s ease,
			visibility 0.2s ease;
		inline-size: #{rem(24)};
		block-size: #{rem(24)};
		padding: #{rem(3)};
	}

	&:hover {
		cursor: pointer;

		.file-card-dismiss-button {
			opacity: 1;
			visibility: visible;
		}
	}

	p {
		margin: 0;
	}
}
