.main-area:has(section > .groups-management) {
	display: flex;
}

.container-section-sticky:has(section > .groups-management) {
	display: flex;
	flex-direction: column;
}

section:has(> .groups-management) {
	flex-grow: 1;
}
