.settingsMenu-container .donateBtn-container {
    background: transparent;
    cursor: pointer;
    border: 0;
    text-align: left
}

.settingsMenu-container .donateBtn-container div {
    display: inherit;
    align-items: center;
}

.settingsMenu-is-member, .settingsMenu-is-subuser {
    .navigationSettings-is-members,
    .navigationSettings-is-dashboard,
    .navigationSettings-is-domains,
    .navigationSettings-is-payments,
    .settingsMenu-item-donate { display: none }
}

.settingsMenu-container .sidebarApp-menu .sidebarApp-item { position: relative }
.settingsMenu-container .sidebarApp-menu .sidebarApp-item:after {
    pointer-events: none;
    background: red;
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    width: 20px;
    height: 100%;
    /* check _theme reset */
    background: linear-gradient(to right, rgba($sidebar-background, 0) 0%, $sidebar-background 12px);
}

.settingsMenu-container .sidebarApp-menu .sidebarApp-item.active:after {
    /* check _theme reset */
    background: linear-gradient(to right, rgba($sidebar-active,0) 0%, $sidebar-active 12px)
}

body:not(.appConfigBody-is-mobile) .settingsMenu-about-app { display: none }
