@import '../styles/reset';

:host {
	@include reset;

	position: absolute !important;
	inline-size: 100% !important;
	border: 0 !important;
	z-index: unset !important;
	inset: unset !important;
	inset-block-start: 0 !important;
	inset-inline-start: 0 !important;
	block-size: 0 !important;
}

iframe {
	position: absolute;
	inline-size: var(--frame-width) !important;
	block-size: var(--frame-height) !important;
	inset-block-start: var(--frame-top) !important;
	inset-inline: var(--frame-left) var(--frame-right) !important;
	z-index: var(--frame-zindex) !important;
	background: #191927 !important; // FIXME: support themes
	box-shadow: 0 2px 10px rgb(0 0 0 / 0.3) !important; // FIXME: support themes
	border-radius: 12px !important;
	border: none !important;
	display: none;
	margin: 0 !important;

	&.visible {
		display: block;
		transition: block-size 0.15s ease-in-out 0.05s;
		animation: var(--frame-animation) 0.25s ease-in-out 0.05s both !important;
	}

	&.fixed {
		position: fixed !important;
		z-index: 999999 !important;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
		max-block-size: 0;
	}

	to {
		opacity: 1;
		max-block-size: var(--frame-height);
	}
}

@keyframes slidein {
	from {
		transform: translateX(380px);
	}

	to {
		transform: translateX(0);
	}
}
