.meet-side-bar {
	border-radius: 1.5rem;
	box-shadow: 0 0.5rem 2.5rem 0 #00000029;

	.close-button {
		z-index: +3;
	}
}

.side-bar-header-wrapper {
	border-start-start-radius: 1.5rem;
	border-start-end-radius: 1.5rem;
	border-end-start-radius: 0;
	border-end-end-radius: 0;
}
