RewriteEngine On

# Redirect to https if not coming from https && not forwarded from https && not curl nor any health check user-agent
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
RewriteCond %{HTTP_USER_AGENT} !(^kube-probe|^GoogleHC|^curl)
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteOptions AllowNoSlash
DirectorySlash Off

# Ignore any requests to the assets folder, to avoid the index.html fallback and return 404 there
RewriteRule ^assets/ - [L]

RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule (.*) $1/index.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) /index.html [L]

ErrorDocument 404 /assets/404.html

<Files index.html>
    RewriteCond %{HTTP_HOST} join.protonvpn.com
    RewriteRule (.*)/index.html $1/index.convert.html [L]
</Files>

<Files ~ "(\.html|version.json)">
    FileETag None
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</Files>

<Files ~ "\.(ttf|otf|eot|woff|woff2)$">
    # Take out the subdomain part (proton.me) of for example
    # Origin: https://account-api.proton.me
    # Host: account.proton.me
    SetEnvIf Origin "^[^.]+\.(.*)$" origin=$0 origin_domain=$1
    SetEnvIf Host "^[^.]+\.(.*)$" server_name_domain=$1
    # Compare the subdomain variables
    SetEnvIfExpr "reqenv('origin_domain') == reqenv('server_name_domain')" match=true
    Header set Access-Control-Allow-Origin "%{origin}e" env=match
</Files>

<IfModule mod_deflate.c>
  AddOutputFilter INCLUDES;DEFLATE svg
</IfModule>
