@use 'sass:map';
@use '~@proton/styles/scss/lib/config' as *;

.table-row {
	&--dragging {
		position: relative;
		z-index: map.get($z-indexes, 'modals');
		color: var(--text-norm);
		background: var(--background-norm);
		border-radius: var(--border-radius-lg) !important;
		box-shadow: var(--shadow-lifted);
	}
}
