// Configuration
@import 'config/';

// Initialisation
@import 'base/';

// Layout
@import 'layout/';

// Components
@import 'components/';

// Helpers
@import 'helpers/';

// Theme color overrides
// REMOVE THIS AS SOON AS POSSIBLE!
:root,
.ui-standard,
.ui-prominent {
	--primary: #4da358 !important;
	--primary-contrast: white !important;

	--interaction-norm: #4da358 !important;
	--interaction-norm-hover: #3e8447 !important;
	--interaction-norm-active: #2e7037 !important;
	--interaction-norm-contrast: white !important;
}
