<!DOCTYPE html>
<html lang="en">
<head>
    <%- include head.ejs %>
</head>
<body>
    <div class="app-root"></div>
    <div class="app-root-loader"></div>
    <noscript class="app-noscript">
        <%= appName %> requires Javascript. Enable Javascript and reload this page to continue.
    </noscript>
</body>
</html>
