$calendar-aside-width: 60px !default;
$calendar-hour-height: 48px !default;
$border: #dadce0 1px solid !default;

.calendar-time-fullday {
    border-bottom: $border;
}

.dayLine {
    &:after {
        content: '';
        border-left: $border;
        position: absolute;
        height: 100%;
        margin-left: -1px;
        pointer-events: none;
    }
}

.hourLine {
    height: $calendar-hour-height;

    &:after {
        content: '';
        border-bottom: $border;
        position: absolute;
        width: calc(100% - #{$calendar-aside-width});
        margin-top: -1px;
        pointer-events: none;
    }
}

.nowHourLine {
    pointer-events: none;
    z-index: 3;
    position: absolute;
    border-bottom: red 2px solid;
    left: 0;
    right: 0;
}

.calendar-aside {
    width: $calendar-aside-width;
}

.timeBlock {
    height: $calendar-hour-height;
    text-align: right;
    padding-right: 8px;
}

.timeText {
    display: block;
    position: relative;
    top: -8px;
    font-size: 10px;
}

.gridcell {
    position: relative;
    height: 100%;
    margin-right: 24px;

    &:before {
        content: '';
        border-left: $border;
        position: absolute;
        height: 100%;
        margin-left: -1px;
        pointer-events: none;
    }
}

