.pass-spotlight-gradient {
	--spotlight-gradient-overlay: rgb(from var(--interaction-norm-contrast) r g b / 0.5);

	@at-root .pass-light & {
		--spotlight-gradient-overlay: transparent;
	}

	--spotlight-gradient-layers:
		linear-gradient(0deg, var(--spotlight-gradient-overlay), var(--spotlight-gradient-overlay)),
		radial-gradient(51.04% 51.04% at 85.42% 18.75%, #9251eb 0%, #5b53ed 100%),
		linear-gradient(0deg, var(--interaction-weak), var(--interaction-weak));

	box-shadow: 0 0 14px 0 rgb(255 255 255 / 0.1) inset;
	border: 1px solid rgb(255 255 255 / 0.1);
	background: var(--spotlight-gradient-layers);

	&--safari-ext {
		// Safari extension workaround for a graphics context regression
		// introduced in 18.4 with gradients & borders [FB17409034]
		border: 0 !important;
	}

	&--image {
		background: var(--spotlight-gradient-image, ''), var(--spotlight-gradient-layers);
		background-size: contain;
	}

	&--text {
		color: white;
	}

	&--button {
		background-color: white;

		--button-default-text-color: black;
		--button-hover-text-color: black;
		--button-hover-background-color: rgb(255 255 255 / 0.5);
	}

	&--close-icon {
		color: white !important;

		&-dark {
			color: #22222f !important;
		}
	}

	&--with-arrow {
		--arrow-color: #47327c;
		--arrow-width: 6px;
		--arrow-offset: 0px;

		&::after,
		&::before {
			content: '';
			position: absolute;
			inset-block-start: calc(-5px - var(--arrow-offset) / 1.5);
			inset-inline-end: calc(15px - var(--arrow-offset));
			inline-size: 0;
			block-size: 0;
			border-inline-start: calc(var(--arrow-width) + var(--arrow-offset)) solid transparent;
			border-inline-end: calc(var(--arrow-width) + var(--arrow-offset)) solid transparent;
			border-block-end: calc(var(--arrow-width) + var(--arrow-offset)) solid var(--arrow-color);
			box-shadow: 0 0 14px 0 rgb(255 255 255 / 0.1) inset;
			@at-root .pass-light & {
				--arrow-color: #845aed;
			}
		}

		&::before {
			--arrow-offset: 2px;
			--arrow-color: #433f84;
			@at-root .pass-light & {
				--arrow-color: #6c65ef;
			}

			z-index: -1;
		}
	}
}
