<div id="pm_settings">
    <div class="settings">
        <div class="row">
            <div class="setting pm_form full">
                <header-block class="settingsLabels-header-bridge">
                    <h2 class="settingsLabels-title-bridge" translate-context="Title" translate>IMAP/SMTP</h2>
                </header-block>
                <bridge-free-panel ng-if="isFree"></bridge-free-panel>
                <bridge-paid-panel ng-if="!isFree"></bridge-paid-panel>
            </div>
        </div>
    </div>
</div>
