.pd-file-preview {
    @extend .color-white;
    @extend .bg-global-grey;
    @extend .flex-item-fluid-auto;
    @extend .flex-column;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 78;
    display: flex;
}

.pd-file-preview-container {
    @extend .relative;
    @extend .flex-column;
    @extend .flex-item-fluid-auto;
    @extend .scroll-if-needed;
    display: flex;
}

.pd-file-preview-filename {
    max-width: calc(50% - 5em);
}

.pd-file-preview-text {
    @extend .bg-white;
    @extend .color-black;
    @extend .p2;
    @extend .center;
    @extend .flex-item-fluid-auto;
    @extend .w100;
    @extend .mt0;
    @extend .mb0;
    word-break: break-word;
    white-space: pre-wrap;
    max-width: 800px;
}

.pd-file-preview-image {
    @extend .absolute;
    max-width: none;
}
