/*
 * signup specific styles
 */
@import '~@proton/styles/scss/lib';

.eo-layout {
	// nice mountains image has left :'-(
	&-bg {
		background-color: var(--background-norm);

		@include media('>xsmall') {
			background: linear-gradient(68.66deg, #e8e2ff 1.3%, #f7f5ff 50%);
		}
	}

	// main content
	transition: max-inline-size 0.15s easing(ease-in);
	border-radius: var(--border-radius-lg);

	&-header {
		padding-inline: em(48);
		padding-block: 0.5em 0;
	}

	&-title {
		font-size: 2em;
		font-weight: normal;
	}

	&-main-content {
		padding-inline: em(48);
		padding-block: em(24);
		@include media('<=small') {
			padding-inline: em(20);
		}
		@include media('<=xsmall') {
			padding-inline: 2px;
			padding-block: 0;
		}
	}

	&-container-challenge {
		min-block-size: rem(100);
	}

	@include media('<=xsmall') {
		.message-attachmentList-item-container {
			max-inline-size: 100%;
		}

		.composer-attachment-list-wrapper {
			flex-wrap: nowrap;
		}
	}
}

.eo-layout-container {
	@include media('<=small') {
		.payment-left,
		.payment-right {
			inline-size: 100%;
			padding-inline: 0;
		}
	}
}
