/*
 * signup specific styles
 */
@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/em' as *;
@use '~@proton/styles/scss/lib/rem' as *;
@use '~@proton/styles/scss/lib/easing' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints-product;
im.$media-expressions: $media-expressions;

.eo-layout {
	// main content
	transition: max-inline-size 0.15s easing(ease-in);
	border-radius: var(--border-radius-lg);

	// nice mountains image has left :'-(
	&-bg {
		background-color: var(--background-norm);

		@include im.media('>xsmall') {
			background: linear-gradient(68.66deg, #e8e2ff 1.3%, #f7f5ff 50%);
		}
	}

	&-header {
		padding-inline: em(48);
		padding-block: 0.5em 0;
	}

	&-title {
		font-size: 2em;
		font-weight: normal;
	}

	&-main-content {
		padding-inline: em(48);
		padding-block: em(24);
		@include im.media('<=small') {
			padding-inline: em(20);
		}
		@include im.media('<=xsmall') {
			padding-inline: 2px;
			padding-block: 0;
		}
	}

	&-container-challenge {
		min-block-size: rem(100);
	}

	@include im.media('<=xsmall') {
		.message-attachmentList-item-container {
			max-inline-size: 100%;
		}

		.composer-attachment-list-wrapper {
			flex-wrap: nowrap;
		}
	}
}

.eo-layout-container {
	@include im.media('<=small') {
		.payment-left,
		.payment-right {
			inline-size: 100%;
			padding-inline: 0;
		}
	}
}
