[Desktop Entry]
Name=Proton Pass
GenericName=Password Manager
Comment=Open-source and secure identity manager.
Exec=start-proton-pass %U
Icon=me.proton.Pass
Terminal=false
Type=Application
Categories=Utility;Security;
Keywords=password;manager;vault;credentials;security;encryption;2fa;totp;login;proton;
StartupWMClass=Proton Pass
StartupNotify=true
