@import '~@proton/pass/styles/common';
@import '~@proton/pass/styles/extension';

body {
	background: transparent;
}

.item-icon {
	background-color: var(--field-norm);
	padding: em(4);
	border-radius: var(--border-radius-md);
}
