$padding-inline-start-link: rem(14) !default;
$padding-inline-end-link: rem(7) !default;
$padding-block-link: rem(7) !default;

.navigation > .navigation-list,
.navigation > div > .navigation-list {
	&:first-child {
		padding-block-start: em(2); // make some space on the top for keyboard focus outline
	}

	&:last-child {
		padding-block-end: em(20); // make some space between the end of the list and the storage indicator
	}
}

.navigation-link,
.navigation-link-header-group {
	padding-block: $padding-block-link;
	padding-inline: $padding-inline-start-link $padding-inline-end-link;
	text-decoration: none;
	display: block;

	h3 {
		font-size: inherit;
	}
}

// specificity...
.navigation-link-header-group {
	&#{&}:not(#{&}--expandable) {
		padding-inline: calc($padding-inline-start-link + 0.8em) $padding-inline-end-link;
		color: var(--text-weak);
	}
}

// get spacing right and add line in accounts sidebar
.navigation-list:not(:first-child)
	> .navigation-link-header-group:first-child:not(.navigation-link-header-group--expandable) {
	position: relative;
	padding-block-start: $padding-block-link * 2;
	margin-block-start: $padding-block-link;

	&::before {
		content: '';
		position: absolute;
		inline-size: 100%;
		block-size: 1px;
		background-color: var(--border-norm);
		inset-inline: 0;
		inset-block-start: 0;
	}
}

.navigation-link-header-group--expandable {
	padding-block: 0; // no padding for this case, it's in the element to avoid shift
}

.navigation-icon {
	color: var(--text-weak);

	&-empty {
		inline-size: rem(23);
	}
}

.navigation-refresh {
	display: none;
}

.navigation-link {
	@extend .interactive;

	position: relative;
	border-radius: var(--border-radius-md);
	border: 1px solid transparent;

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:focus {
		border-color: transparent;
		box-shadow: none;
	}

	&:focus-visible {
		background-color: unset;
		border-color: var(--field-focus);
		box-shadow: 0 0 0 #{$fields-focus-ring-size} var(--field-highlight);
	}

	&--collapsible {
		padding-block: rem(5.5);
	}
}

// special case for calendar, label has checkbox inside
label.navigation-link {
	&:focus {
		background-color: unset;
		border-color: transparent;
		box-shadow: none;
	}

	&:focus-within {
		background-color: unset;
		border-color: var(--field-focus);
		box-shadow: 0 0 0 #{$fields-focus-ring-size} var(--field-highlight);
	}
}

.navigation-link-child {
	padding-inline-start: calc(#{rem(10)} + #{$padding-inline-start-link});
}

[aria-current='page'].navigation-link {
	background-color: var(--navigation-current-item-background-color);
	color: var(--navigation-current-item-text-color);
	font-weight: var(--font-weight-bold);

	.navigation-link {
		color: var(--text-norm);
	}

	&:hover .navigation-icon:not(.navigation-icon--expand),
	.navigation-icon {
		color: inherit;
	}

	.navigation-refresh {
		display: inline-flex;
	}
}

// labels/folders sections
.navigation-link-header-group-link {
	@extend .interactive;

	border: 1px solid transparent;
	border-radius: var(--border-radius-md);
	color: var(--text-weak);
	padding-block: $padding-block-link;
	padding-inline: $padding-inline-start-link $padding-inline-end-link;

	@supports selector(:focus-visible) {
		// had to do this because of Safari
		outline: unset;
	}

	&:hover {
		color: var(--text-norm);
	}

	&:focus-visible {
		background-color: unset;
		border-color: var(--field-focus);
		box-shadow: 0 0 0 #{$fields-focus-ring-size} var(--field-highlight);
	}

	&[aria-expanded='true'],
	&:focus-within {
		background: var(--interaction-default);
		color: var(--text-weak);

		&:hover {
			background: var(--interaction-default-hover);
			color: var(--text-norm);
		}
	}

	&[aria-expanded='false']:focus-within:not(:hover) {
		color: var(--text-weak);
	}

	.navigation-icon--expand {
		color: var(--text-weak);
	}
}

.navigation-link-header-group-control {
	@extend .interactive;

	padding: 0.5em;
	border: 1px solid transparent;
	border-radius: var(--border-radius-md);
	color: var(--text-weak);

	.navigation-icon--expand {
		color: var(--text-weak);
	}

	&:hover {
		color: var(--text-norm);

		.navigation-icon {
			color: inherit;
		}
	}

	&:focus-visible {
		background-color: unset;
		border-color: var(--field-focus);
		box-shadow: 0 0 0 #{$fields-focus-ring-size} var(--field-highlight);
	}
}

.navigation-link--expand:focus,
.navigation-link--expand:hover,
// .navigation-link-header-group-link:focus,
.navigation-link-header-group-link:hover {
	.navigation-icon--expand {
		color: inherit;
	}
}

/* items counters */
.navigation-counter-item {
	padding-inline: 0.5em;
	border-radius: var(--border-radius-sm);
	background: var(--navigation-item-count-background-color);
	font-size: em(11);
	font-variant: tabular-nums;
	line-height: em(20, 11);
	min-inline-size: em(20, 11);
	text-align: center;
	color: var(--navigation-item-count-text-color);
	transition: 0.15s easing(ease-out-quint);

	&--transparent {
		background: transparent;
		color: inherit;
	}

	&--weak {
		background: transparent;
		color: var(--text-weak);

		// To avoid shift when hovering and displaying options
		min-inline-size: em(28, 11);

		.active & {
			color: currentcolor;
		}
	}

	&:empty {
		display: none; // removes a bug on Webkit
	}
}

/* Sub folders */
.navigation-item {
	&-dropdown-opened {
		& .hide-on-hover {
			display: none;
		}

		& .opacity-on-hover {
			opacity: 1;

			&-no-width {
				inline-size: auto;
			}
		}
	}

	[data-level='1'] {
		padding-inline-start: 0.6em;
	}

	[data-level='2'] {
		padding-inline-start: 1.2em;
	}
}

/* Sub-navigation */
.navigation-sublist {
	margin-inline-start: $padding-inline-start-link;
	overflow: hidden;
	opacity: 1;
	transition: visibility 0s ease, transform 0.5s ease, opacity 0.5s ease, max-block-size 0.5s ease;
	transform-origin: top center;
	transform: scale(1, 1);
	max-block-size: 44em;
	visibility: visible;
	transition-delay: 0s;

	&[aria-hidden='true'] {
		display: block;
		opacity: 0;
		max-block-size: 0;
		visibility: hidden;
		transform: scale(1, 0);
		transition-duration: 0s, 0.25s, 0.25s, 0.25s;
		transition-delay: 0.5s, 0s, 0s, 0s;
	}
}

.navigation-subitem {
	margin-inline-start: rem(7);
}

.navigation-sublink {
	@extend .interactive;

	border-inline-start: 2px solid var(--border-norm);
	display: block;
	padding-block: rem(7.5);
	padding-inline: rem(15) rem(10);
	text-decoration: none;

	&[aria-current='true'] {
		background-color: var(--navigation-current-item-background-color);
		color: var(--navigation-current-item-text-color);
		border-inline-start: 2px solid var(--navigation-current-item-marker-color);
		font-weight: var(--font-weight-bold);
	}
}
