.toolbar {
	--padding-toolbar-button: #{em(8, $base-font-size)};
	--padding-toolbar-button-dropdown: #{em(8, $base-font-size)};

	position: relative;
	z-index: 1;
	block-size: rem($toolbar-height);
	border-block-end: 1px solid var(--toolbar-border-bottom-color);
	background-color: var(--toolbar-background-color);
	color: var(--toolbar-text-color);

	&-button {
		@extend .interactive;

		padding-inline: var(--padding-toolbar-button);
		border-radius: var(--border-radius-md);
		display: flex; // alignment fix on Chrome
		margin-inline: 0.25em;

		// to avoid double margin on side by side buttons
		& + & {
			margin-inline-start: 0;
		}

		&--dropdown {
			padding-inline: var(--padding-toolbar-button-dropdown);

			// just to make it closer to checkbox
			&-more-selections {
				margin-inline-start: em(2);
				--padding-toolbar-button-dropdown: #{em(6, $base-font-size)};
			}
		}
	}

	&-separator {
		inline-size: 1px;
		background: var(--toolbar-separator-color);
	}

	button[aria-disabled='true'],
	.toolbar-button[aria-disabled='true'] {
		opacity: 0.5;
		pointer-events: none;
	}

	&-inner {
		margin-block: em(5.5); // trick to get square button icons
	}

	// new select
	.select {
		@extend .interactive;

		border: unset;
		background-color: unset;
		color: currentColor;
		block-size: auto;
		margin-inline: 0.25em;
		border-radius: var(--border-radius-md);
	}

	// select all
	.select-all {
		.checkbox-fakecheck {
			margin-inline-end: 0;
		}
	}

	// adaptations for compact mode
	.is-compact & {
		@include respond-to($breakpoint-small, 'min') {
			.select-all-container {
				margin-inline-start: em(12);
				padding-inline-start: 0;
			}
		}
	}

	@include respond-to($breakpoint-small) {
		border-radius: 0;
	}
}
