@use '~@proton/styles/scss/lib/em' as *;
@use '~@proton/styles/scss/lib/rem' as *;

.composer-assistant {
	// will need to taxonomise, left as exception ATM

	position: relative;
	block-size: 95%;
	padding-inline: 1em;
	padding-block: 0;

	&-special-color {
		--special-color: #d132ea;

		color: var(--special-color);
	}

	&-container {
		inset-inline: 0;
		padding-inline: 2em;
		background: var(--background-norm);
		z-index: 2;

		&--expanded {
			inset-block: 0 0.5em;
			margin-block-start: 0;
			padding-block-start: 1em;

			.composer-assistant-refine-popover {
				inset-block: 3.5em auto;
			}
		}
	}

	&-input {
		color: var(--text-hint);
		display: flex;
		min-block-size: 0;
		&#{&} {
			font-family: var(--setting-font-family, var(--optional-font-family, system-ui, sans-serif));
		}

		&[rows='2'] {
			block-size: rem(46);
		}

		&[rows='3'] {
			block-size: rem(66);
		}

		&[rows='4'] {
			block-size: rem(86);
		}

		&[rows='5'] {
			block-size: rem(106);
		}

		&:focus {
			color: inherit;
		}
	}

	&-hint {
		min-block-size: 2.2em; // magic value to avoid jumps, because pause button is taller than some others
		margin-block-start: 1px;

		&:empty {
			min-block-size: 0;
		}
	}

	&-right-icons-container {
		min-block-size: 2em;
		max-block-size: 2em;
	}

	&-refine-button {
		font-size: em(12);
		block-size: em(28, 12);
	}

	&-refine-popover {
		inset-inline: 2em 1.8em;
		inset-block-start: 100%;
		margin-block-end: 0.8em;
		z-index: 2;
		max-inline-size: rem(500); // just to avoid it taking full width when composer is maximized

		&:has(.composer-assistant-refine-content:empty) {
			display: none;
		}
	}

	&-refine-content {
		max-block-size: 4.2em;
	}

	&-progress {
		block-size: 1px;
		border-radius: 0;
		color: var(--special-color);

		&::-webkit-progress-value {
			background: var(--special-color);
		}

		&::-moz-progress-bar {
			background: var(--special-color);
		}

		&--error {
			color: var(--signal-danger);

			&::-webkit-progress-value {
				background: var(--signal-danger);
			}

			&::-moz-progress-bar {
				background: var(--signal-danger);
			}
		}
	}
}
