<form class="composerExpiration-container" name="expirationForm">
    <header class="composerExpiration-header">
        <h3 translate translate-context="Title">Expiration time</h3>
        <a href="https://protonmail.com/support/knowledge-base/expiration/" target="_blank">
            <i class="fa fa-info-circle"></i>
        </a>
    </header>
    <p translate translate-context="Info">This message will expire in</p>
    <div class="pm_form alert text-center composerExpiration-fields-container">
        <div class="composerExpiration-field-weeks">
            <div class="pm_select">
                <select
                    name="weeks"
                    id="weeks"
                    class="composer-options-select-week"
                    ng-model="model.weeks"
                    ng-options="option.label for option in options.week track by option.label"></select>
                <i class="fa fa-angle-down"></i>
            </div>
            <label translate translate-n="model.weeks.value" translate-plural="Weeks" translate-context="Delay" for="weeks">Week</label>
        </div>

        <div class="composerExpiration-field-days">
            <div class="pm_select">
                <select
                    name="days"
                    id="days"
                    class="composer-options-select-day"
                    ng-model="model.days"
                    ng-options="option.label for option in options.day track by option.label"></select>
                <i class="fa fa-angle-down"></i>
            </div>
            <label translate translate-n="model.days.value" translate-plural="Days" translate-context="Delay" for="days">Day</label>
        </div>

        <div class="composerExpiration-field-hours">
            <div class="pm_select">
                <select
                    name="hours"
                    id="hours"
                    class="composer-options-select-hour"
                    ng-model="model.hours"
                    ng-options="option.label for option in options.hour track by option.label"></select>
                <i class="fa fa-angle-down"></i>
            </div>
            <label translate translate-n="model.hours.value" translate-plural="Hours" translate-context="Delay" for="hours">Hour</label>
        </div>
    </div>
    <p class="alert alert-warning" translate-context="Warning" translate>If you are sending this message to a non ProtonMail user, please be sure to set a password for your message.</p>

    <footer class="text-right">
        <button
            type="button"
            class="pm_button pull-left mobileFull composer-options-btn-cancel composerExpiration-btn-cancel"
            translate
            translate-context="Action">Cancel</button>
        <button
            class="pm_button primary mobileFull composer-options-btn-submit composerExpiration-btn-submit"
            translate
            translate-context="Action">Set</button>
    </footer>
</form>
