<div class="pm_modal small {{ctrl.class}}" role="dialog" style="display: block;">
    <form method="post" class="modal-dialog" ng-submit="activationModalForm.$valid && ctrl.submit()" name="activationModalForm" novalidate>
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ ctrl.title }}</h4>
            </div>
            <div class="modal-body pm_form">
                <div class="alert alert-info" ng-show="ctrl.message.length" ng-bind-html="ctrl.message"></div>
                <p>{{ ctrl.prompt }}</p>
                <div class="margin">
                    <password
                        data-autofocus="true"
                        data-value="ctrl.inputCode"
                        data-id="inputCode"
                        placeholder-translate-context="Placeholder"
                        placeholder-translate="Password"
                        data-name="inputCode"
                        data-form="activationModalForm"></password>
                </div>
                <div class="{{ ctrl.alertClass }}" ng-show="ctrl.alert.length">{{ ctrl.alert }}</div>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button type="button" class="pm_button pull-left" ng-click="ctrl.cancel()" translate translate-context="Action">Cancel</button>
            <button type="button" class="pm_button" ng-click="ctrl.reset()" ng-show="ctrl.showReset" translate translate-context="Action">Reset Keys</button>
            <button type="submit" class="pm_button primary" translate translate-context="Action">Submit</button>
        </div>
    </form>
    <div class="modal-overlay"></div>
</div>
