<div class="pm_modal small {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <form method="post" ng-submit="cardForm.$valid && ctrl.submit()" novalidate="" name="cardForm">
            <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" translate translate-context="Title">Payment details</h4>
                </div>
                <div class="modal-body pm_form">
                    <p class="alert alert-info">{{ ctrl.text }}</p>
                    <card-view ng-if="ctrl.mode === 'edition'" card="ctrl.card" form="cardForm"></card-view>
                    <card-panel ng-if="ctrl.mode === 'display'" ng-click="ctrl.edit()" card="ctrl.panel"><card-panel>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="pm_button modal-footer-button disabled-if-network-activity" ng-click="ctrl.cancel()" translate translate-context="Action">Cancel</button>
                <button type="submit" class="pm_button primary modal-footer-button disabled-if-network-activity" ng-disabled="ctrl.mode === 'display'" translate translate-context="Action">Submit</button>
            </div>
        </form>
    </div>
    <div class="modal-overlay"></div>
</div>
