<dialog ng-class="ctrl.class">

    <header class="pm-modalHeader">
        <button
            type="button"
            class="pm-modalClose"
            ng-click="ctrl.cancel()"
            ng-if="!ctrl.hideClose"
            title-translate="Close"
            title-translate-context="Action">×</button>
        <h1
            ng-if="ctrl.title"
            id="modalTitle"
            class="pm-modalTitle">
                {{ ::ctrl.title }}
                <icon ng-if="ctrl.icon" data-name="{{ ::ctrl.icon }}"></icon>
            </h1>
    </header>

    <form
        name="confirmForm"
        ng-submit="ctrl.confirm()"
        novalidate
        class="pm-modalContent">

        <div class="pm-modalContentInner">
            <div class="block-info mb1 {{::ctrl.classNameMessage}}" ng-bind-html="::ctrl.message"></div>

            <a
                href="{{ ::ctrl.learnMore }}"
                ng-if="ctrl.learnMore"
                target="_blank"
                translate-context="Link"
                translate>Learn more</a>
        </div>

        <footer class="pm-modalFooter flex flex-spacebetween">
            <button
                class="pm-button-blueborder disabled-if-network-activity"
                id="cancelModalBtn"
                type="button"
                ng-click="ctrl.cancel('btn')">{{ ::ctrl.cancelText }}</button>

            <button
                class="{{::ctrl.confirmClass}} disabled-if-network-activity"
                tabindex="1"
                id="confirmModalBtn"
                autofocus>{{ ::ctrl.confirmText }}</button>
        </footer>
    </form>
</dialog>
