<div class="pm_modal small {{ctrl.class}}" role="dialog" style="display: block;">
    <form name="confirmForm" class="modal-dialog" ng-submit="ctrl.confirm()" novalidate>
        <button type="button" ng-if="hideClose" ng-click="ctrl.cancel()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header" ng-show="ctrl.title">
                <h4 class="modal-title">
                    <i ng-if="ctrl.icon" class="{{ ::ctrl.icon }}"></i>
                    {{ ctrl.title }}
                </h4>
            </div>
            <div class="modal-body">
                <div class="no-margin-bottom {{::ctrl.classNameMessage}}" ng-bind-html="::ctrl.message"></div>
                <a href="{{ ::ctrl.learnMore }}" ng-if="ctrl.learnMore" target="_blank" class="pm_button link" translate-context="Link" translate>Learn more</a>
            </div>
        </div>
        <div class="modal-footer">
            <button id="cancelModalBtn" type="button" class="pm_button" ng-click="ctrl.cancel()">{{ ::ctrl.cancelText }}</button>
            <button id="confirmModalBtn" autofocus class="pm_button primary pull-right">{{ ::ctrl.confirmText }}</button>
        </div>
    </form>
    <div class="modal-overlay"></div>
</div>
