<dialog
    class="donateModal-container donateModal-type-{{::ctrl.typeOfModal}}"
    ng-class="{
        'donateModal-mode-cash': ctrl.method.value === 'cash',
        'donateModal-mode-paypal': ctrl.method.value === 'paypal',
        'donateModal-mode-bitcoin': ctrl.method.value === 'bitcoin'
    }">

    <header class="pm-modalHeader">
        <button
            type="button"
            class="pm-modalClose"
            ng-click="ctrl.cancel()"
            title-translate="Close"
            title-translate-context="Action">
            <icon data-name="close" class="pm-modalClose-icon"></icon>
            <span class="sr-only" translate translate-context="Action">Close</span>
        </button>

        <h1 id="modalTitle" class="pm-modalTitle">
            <span
                class="donateModal-title-donate"
                translate
                translate-context="Title">Donate</span>
            <span
                class="donateModal-title-topUp"
                translate
                translate-context="Title">Add credits</span>
        </h1>

        <p class="block-info-standard" translate-context="Info" translate>Donations are added as credit to your ProtonMail account and can be used to purchase account upgrades.</p>

    </header>

    <div class="pm-modalContent">

        <div class="pm-modalContentInner">
            <donation
                data-type="{{ ::ctrl.typeOfModal }}"
                data-processing="ctrl.process"
                data-method="ctrl.method"></donation>
        </div>

        <footer class="pm-modalFooter flex flex-spacebetween">
            <button
                class="pm-button-blueborder donateModal-btn-cancel"
                type="button"
                ng-click="ctrl.cancel()"
                translate-context="Action"
                translate>Cancel</button>

            <button
                class="pm-button-blueborder donateModal-btn-close"
                type="button"
                ng-click="ctrl.cancel()"
                translate-context="Action"
                translate>Close</button>

            <button
                class="pm-button-blue disabled-if-network-activity  donateModal-btn-donation"
                data-donation-external-submit
                ng-disabled="ctrl.process === true">
                    <span
                        class="donateModal-action-donate"
                        translate-context="Action"
                        translate>Donate</span>
                    <span
                        class="donateModal-action-topUp"
                        translate-context="Action"
                        translate>top Up</span>
                </button>
        </footer>


    </div>
</dialog>
