<div class="pm_modal small {{ctrl.class}}" role="dialog" style="display: block;">
    <form method="post" class="modal-dialog" ng-submit="generateOrganizationForm.$valid && ctrl.submit()" name="generateOrganizationForm" novalidate>
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" translate translate-context="Title">Change Organization Keys</h4>
            </div>
            <div class="modal-body pm_form">
                <label for="newRecoveryPassword" translate-context="Title" translate>Key recovery password</label>
                <password data-id="newRecoveryPassword" data-name="newRecoveryPassword" data-value="ctrl.newRecoveryPassword" form="generateOrganizationForm"></password>
                <label for="confirmRecoveryPassword" translate-context="Title" translate>Confirm recovery Password</label>
                <password data-id="confirmRecoveryPassword" data-name="confirmRecoveryPassword" data-value="ctrl.confirmRecoveryPassword" form="generateOrganizationForm" compare="ctrl.newRecoveryPassword"></password>
                <p class="alert alert-warning" ng-show="ctrl.otherAdmins" translate translate-context="Info">Other administrators exist in your organization. You must communicate the new key recovery password to them in order for them to reactivate their full administrator privileges.</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="pm_button modal-footer-button disabled-if-network-activity" ng-click="ctrl.cancel()" translate translate-context="Action">Cancel</button>
            <button type="submit" class="pm_button primary modal-footer-button disabled-if-network-activity" translate translate-context="Action">Generate Keys</button>
        </div>
    </form>
    <div class="modal-overlay"></div>
</div>
