<div class="pm_modal small very-important {{ctrl.class}}" role="dialog" style="display: block;">
    <form method="post" class="modal-dialog" ng-submit="ctrl.submit()" name="humanVerificationForm" novalidate>
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title-translate="Close"
            title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" translate translate-context="Title">Human verification</h4>
            </div>
            <div class="modal-body pm_form">
                <p class="alert alert-info" translate translate-context="Info">For security reasons, please verify that
                    you are not a robot.</p>
                <div ng-if="::ctrl.methods.length > 1">
                    <label ng-if="ctrl.methods.includes('captcha')">
                        <custom-radio data-custom-ng-model="ctrl.tokenType" data-custom-value="captcha"></custom-radio>
                        <span translate translate-context="Label">Captcha</span>
                    </label>
                    <hr />
                </div>
                <captcha ng-if="ctrl.tokenType === 'captcha'" data-token="{{ ::ctrl.token }}"></captcha>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="pm_button modal-footer-button" ng-click="ctrl.cancel()" translate
                translate-context="Action">Cancel</button>
            <button type="submit" ng-disabled="!ctrl.tokens[ctrl.tokenType]"
                class="pm_button primary modal-footer-button" translate translate-context="Action">Submit</button>
        </div>
    </form>
    <div class="modal-overlay"></div>
</div>
