<div class="pm_modal small {{ctrl.class}}" role="dialog" style="display: block;">
    <form method="post" class="modal-dialog" ng-submit="ctrl.submit()">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" translate translate-context="Title">Reactivate key pair</h4>
            </div>
            <div class="modal-body pm_form">
                <p translate-context="Title" translate>Enter your login password:</p>
                <input
                    type="password"
                    ng-model="ctrl.loginPassword"
                    placeholder-translate-context="Placeholder"
                    placeholder-translate="Login password" />
                <p translate-context="Title" translate>Enter the key password:</p>
                <input
                    type="password"
                    ng-model="ctrl.keyPassword"
                    placeholder-translate-context="Placeholder"
                    placeholder-translate="Key password" />
            </div>
        </div>
        <div class="modal-footer text-right">
            <button class="pm_button pull-left" ng-click="ctrl.cancel()" translate translate-context="Action">Cancel</button>
            <button type="button" class="pm_button primary" ng-click="ctrl.submit()" translate translate-context="Action">Submit</button>
        </div>
    </form>
    <div class="modal-overlay"></div>
</div>
