<div class="pm_modal small {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" translate translate-context="Title">Name / Signature</h4>
            </div>
            <div class="modal-body pm_form">
                <p class="alert alert-info"><strong>{{ ctrl.address.Email }}</strong></p>
                <display-name-signature data-model="ctrl.model"></display-name-signature>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button class="pm_button pull-left" ng-click="ctrl.cancel()" translate translate-context="Action">Cancel</button>
            <button tabindex="1" type="button" class="pm_button primary" ng-click="ctrl.confirm()" translate translate-context="Action">Confirm</button>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
