<div class="pm_modal trust-public-key {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title-translate-context="Action" class="fa fa-times close ng-scope" title="Close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" translate translate-context="Title">Trust Public Key (Address Verification)</h4>
            </div>

            <div class="modal-body pm_form">
                <p>
                    <span
                        translate
                        translate-context="Modal message">Clicking "Trust Key" will associate this public key with this sender and emails from this address will be automatically cryptographically verified.</span>
                    <a
                        href="https://protonmail.com/support/knowledge-base/address-verification/"
                        target="_blank"
                        class="pm_button link"
                        translate-context="Action"
                        translate>Learn more</a>
                </p>
                <h5>
                    <span
                        translate
                        translate-context="Header">Public Key Information:</span>
                    <span class="header-email-address">{{ ::ctrl.addresses[0].adr }}</span>
                </h5>
                <trust-public-key-info
                    data-key-info="ctrl.keyInfo"></trust-public-key-info>
                <h5
                    translate
                    translate-context="Title"
                    ng-if="!ctrl.isInternal">Associated addresses:</h5>
                <trust-public-key-table
                    ng-if="!ctrl.isInternal"
                    data-addresses="ctrl.addresses"></trust-public-key-table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="pm_button modal-footer-button" ng-click="ctrl.cancel()" translate translate-context="Action">Cancel</button>
            <button type="button" class="pm_button primary modal-footer-button" ng-click="ctrl.submit()">
                <span translate translate translate-context="Action">Trust Key</span>
            </button>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
