.waiting-room-tab-list,
.waiting-room-tab-footer {
	border-end-start-radius: 2.5rem;
	border-end-end-radius: 2.5rem;
}

.waiting-room-tab-list {
	padding-block-end: 5rem;
}

.waiting-room-tab-footer {
	background: linear-gradient(180deg, rgb(40 36 62 / 0) 0%, #28243e 100%);
	backdrop-filter: blur(5px);
}
