@import '~design-system/_sass/reusable-components/_design-system-config.scss';

.condition-token {
    border-radius: 1em;
    border: 1px solid $pm-global-border;
    padding: 0.2rem 0.4rem 0.1rem 0.6rem;
    align-items: center;
    font-size: 1.25rem;
    color: $pm-global-altgrey;
    background: rgba(
        $color: (
            $pm-global-altgrey,
        ),
        $alpha: 0.1
    );

    & > span {
        max-width: 10em;
    }
}

.isDarkMode .condition-token {
    background: $pm-global-light;
}
