@import '~@proton/styles/scss/config';

.modal-two-backdrop {
	position: fixed;
	inset: 0;
	z-index: 666;
	display: flex;
	padding: 2em;
	overflow: hidden;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	background: var(--backdrop-norm);
	animation: 0.1s ease-out forwards;
	animation-name: anime-modal-two-backdrop-in;

	@include respond-to($breakpoint-tiny) {
		padding: 1em;
	}

	&--out {
		animation-name: anime-modal-two-backdrop-out;

		.modal-two {
			animation-name: anime-modal-two-out;
		}
	}

	&--fullscreen-on-mobile {
		@include respond-to($breakpoint-tiny) {
			padding: 0;
			align-items: stretch;
			background: none;
		}
	}

	@keyframes anime-modal-two-backdrop-in {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	@keyframes anime-modal-two-backdrop-out {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}
	}
}

.modal-two {
	--size: #{rem(480)}; // medium
	--margin: #{rem(48)};

	@include respond-to($breakpoint-tiny) {
		--margin: #{rem(24)};
	}

	position: relative;
	display: flex;
	max-inline-size: var(--size);
	overflow: hidden;
	padding: 0;
	margin: auto;
	transform-origin: center top;
	flex: 0 1 auto;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	border-radius: var(--border-radius-large);
	box-shadow: var(--shadow-lifted);
	background: var(--background-norm);
	color: var(--text-norm);
	animation: 0.25s easing(easeOutCubic) both;
	animation-name: anime-modal-two-in;

	&--small {
		--size: #{rem(392)};
		--margin: #{rem(24)};
	}

	&--large {
		--size: #{rem(600)};
	}

	&--full {
		--size: 100%;
		inline-size: var(--size);
	}

	&-backdrop--fullscreen-on-mobile & {
		@include respond-to($breakpoint-tiny) {
			flex: 1 0 100%;
			border-radius: 0;
		}
	}

	@keyframes anime-modal-two-in {
		0% {
			transform: scale(0.9);
		}

		100% {
			transform: scale(1);
		}
	}

	@keyframes anime-modal-two-out {
		0% {
			transform: scale(1);
		}

		100% {
			transform: scale(0.9);
		}
	}
}
