@use 'sass:map';
@import '~@proton/styles/scss/lib';

.modal-two {
	position: fixed;
	inset: 0;
	z-index: map.get($z-indexes, 'modals');
	display: flex;
	padding: 3.5em;
	overflow: hidden;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	animation: 0.1s ease-out forwards;
	animation-name: anime-modal-two-in;

	// these avoids some weird sizes on edge cases like changing screens
	max-inline-size: 100vw;
	max-block-size: 100vh;

	@include media('<=small') {
		padding: 2em;
	}

	@include media('<=xsmall') {
		padding: 1em;
	}

	&--out {
		animation-name: anime-modal-two-out;
	}

	&--out &-dialog {
		animation-name: anime-modal-two-dialog-out;
	}

	&--fullscreen-on-mobile {
		@include media('<=xsmall') {
			padding: 0;
			align-items: stretch;
			background: none;
		}

		@include media('print') {
			position: absolute;
			inset-block-end: unset;
			padding: em(10);
		}
	}

	&--fullscreen-on-mobile &-dialog {
		@include media('<=xsmall') {
			flex: 1 0 100%;
			border-radius: 0;
		}
	}

	&--fullscreen {
		padding: 0;
		align-items: stretch;
		background: none;
	}

	&--fullscreen &-dialog {
		flex: 1 0 100%;
		border-radius: 0;
		max-inline-size: unset;
	}

	&--is-behind-backdrop {
		z-index: map.get($z-indexes, 'modals') - 1;
	}

	&--backdrop-blur {
		backdrop-filter: blur(0.5rem);
	}

	@keyframes anime-modal-two-in {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	@keyframes anime-modal-two-out {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}
	}

	&-header-title h1 {
		font-weight: var(--font-weight-bold);
	}

	&-dialog {
		--size: #{rem(480)}; // medium
		--margin: #{rem(32)};

		position: relative;
		z-index: 1;
		display: flex;
		max-inline-size: var(--size);
		inline-size: 100%;
		overflow: hidden;
		padding: 0;
		margin: auto;
		transform-origin: center top;
		border-radius: var(--border-radius-lg);
		box-shadow: var(--shadow-lifted);
		background: var(--modal-background-color);
		color: var(--modal-text-color);
		animation: 0.25s easing(ease-out-cubic) both;
		animation-name: anime-modal-two-dialog-in;

		@include media('<=small') {
			--margin: #{rem(24)};
		}

		@include media('<=xsmall') {
			--margin: #{rem(16)};
		}

		&-container {
			flex-grow: 1;
			max-inline-size: 100%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: stretch;
		}

		&--small {
			--size: #{rem(392)};
			--margin: #{rem(24)};
		}

		&--large {
			--size: #{rem(600)};
		}

		&--xlarge {
			--size: #{rem(800)};
		}

		&--full {
			--size: 100%;

			inline-size: var(--size);
		}

		@keyframes anime-modal-two-dialog-in {
			0% {
				transform: scale(0.9);
			}

			100% {
				transform: scale(1);
			}
		}

		@keyframes anime-modal-two-dialog-out {
			0% {
				transform: scale(1);
			}

			100% {
				transform: scale(0.9);
			}
		}
	}
}
