:root {
	--bgcolor-item-column-list: #ffdc00;
	--bgcolor-unread-item-column-list: #ffdc00;
	--bgcolor-view-column-detail: #ffdc00;
	--bgcolor-main-area: white;
	--bgcolor-context-bar: #ffdc00;
	--bgcolor-subheader: #ffdc00;
	--bgcolor-toolbar: #ffdc00;
	--color-main-area: black;
	--bgcolor-disabled-checkboxes-radios: black;
	--bgcolor-item-column-active: black;
	--bordercolor-input: black;
	--bgcolor-muted: black;
	--bgcolor-input: black;
	--bgcolor-highlight: #ffdc00;
	--color-input: black;
	--dropdown-box-shadow: black;
	--bgcolor-meter-bar: black;
}
