<form
    method="post"
    id="pm_login"
    name="loginForm"
    class="pm_panel pm_panel-login alt pm_form loginForm-container mauto"
    novalidate role="form"
    autocomplete="on">
    <div class="pm_panel-login__inner bordered-container">

    <div class="mb2 aligncenter">
        <img src="assets/img/logo.svg" height="20" width="148" alt="ProtonMail" />
    </div>

    <h1 class="aligncenter h4 uppercase flex">
        <icon data-name="account" data-fill="white" class="mr0-5 mtauto mbauto mlauto"></icon>
        <span class="mrauto mtauto mbauto" translate-context="Title" translate>User login</span>
    </h1>

    <div class="alert alert-danger" id="error521" ng-if="error">{{ error.message }}</div>

    <label for="username" class="sr-only" translate-context="Label" translate>User login</label>
    <input
        autofocus
        autocapitalize="off"
        autocorrect="off"
        type="text"
        ng-model="username"
        id="username"
        name="username"
        placeholder-translate-context="login form placeholder"
        placeholder-translate="Username"
        class="mb1 pm-field w100 loginForm-input-username"
        required="" />

    <label for="password" class="sr-only" translate-context="Label" translate>Password</label>
    <password
        class="mb1 loginForm-input-password"
        data-id="password"
        data-name="password"
        data-value="password"
        data-form="loginForm"
        placeholder-translate-context="login form placeholder"
        placeholder-translate="Password"></password>

    <div class="loginForm-actions">
        <div class="loginForm-actions-column">

            <button
                id="login_btn"
                type="submit"
                ng-disabled="loading"
                class="loginForm-actions-main pm_button pm-button-blue pm-button--large w100 loginForm-btn-submit disabled-if-network-activity"
                translate-context="Action"
                translate>Login</button>

            <div class="alignleft mt2 mb1 text-notransform loginForm-actions-help">
                <span translate translate-context="Trouble logging in? Get help or try older version.">Trouble logging in? Get</span>
                <button
                    class="loginForm-btn-help alignbaseline color-white underline"
                    data-action="help"
                    type="button"
                    translate-comment="Action"
                    translate-context="Trouble logging in? Get help or try older version."
                    translate>help</button>

                <span translate translate-context="Trouble logging in? Get help or try older version.">or try</span>

                <a
                    class="loginForm-btn-oldversion white-link"
                    href="https://old.protonmail.com/login"
                    target="_self"
                    translate-comment="Action"
                    translate-context="Trouble logging in? Get help or try older version."
                    translate>older version</a>.
            </div>

            <div class="loginForm-actions-new-container">
                <div class="loginForm-actions-new-title text-notransform h4 mt1" translate-context="title" translate>New to ProtonMail?</div>

                <div class="loginForm-actions-create-container mt1 mb1">
                    <link-website
                        class="loginForm-link-signup-button loginForm-actions-right inbl w100 mb1 pm-button--large aligncenter pm-button-blue color-white"
                        data-link="signup"></link-website>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="pm_panel-bottom text-notransform"><span translate translate-context="Want to test the latest features? Log in on BETA">Want to test the latest features? Log in on</span> <a href="https://beta.protonmail.com/" class="white-link" translate translate-context="Want to test the latest features? Log in on BETA">BETA</a>.</div>
</form>

