<form
    method="post"
    id="pm_loginTwoFactor"
    name="twoFactorForm"
    class="pm_panel alt pm_panel-twofactors pm_form loginFormTwoFa-container"
    novalidate
    role="form"
    autocomplete="off">

    <img src="assets/img/logo.png" height="20" alt="ProtonMail" class="logo" />

    <h4 class="text-center margin-bottom">
        <i class="fa fa-user title-icon"></i> <span translate-context="Title" translate>Two-Factor Authentication</span>
    </h4>

    <div class="margin">
        <label for="twoFactorCode" translate translate-context="Label">Two-factor passcode</label>
        <two-fa-field
            ng-model="twoFactorCode"
            autofocus
            id="twoFactorCode"
            name="twoFactorCode"
            placeholder-translate-context="Placeholder"
            placeholder-translate="Two-factor passcode"></two-fa-field>
    </div>

    <div class="loginForm-actions">
        <div class="loginForm-actions-column">
            <button
                id="login_btn_2fa"
                type="submit"
                class="loginForm-actions-main pm_button primary primary-white pull-right disabled-if-network-activity"
                ng-disabled="twoFactorForm.$invalid || loading"
                translate-context="Action"
                translate>Login</button>
            <a
                class="pm_button link pull-left"
                data-action="help"
                translate-context="Action"
                translate-comment="link for login help"
                translate>Need help?</a>
        </div>
    </div>
</form>
