// redefine specific sass vars here if needed
@import '~design-system/_sass/reusable-components/design-system-config';

$pm-primary: $pv-green;
$pm-primary-dark: $pv-green-dark;
$pm-primary-light: $pv-green-light;
$color-links: $pm-primary;

// include components that are shared across all Proton Products
@import '~react-components/styles/index';

// stuff for responsive
@import '~design-system/_sass/reusable-components/design-system-responsive';
@import '~design-system/_sass/design-system-website/responsive';

// others
@import '~design-system/_sass/reusable-components/design-system-print';
@import '~design-system/_sass/reusable-components/design-system-viewport-fix';
@import '~design-system/_sass/reusable-components/design-system-reduced-motion';
