<dialog>

    <header class="pm-modalHeader">
        <button
            type="button"
            class="pm-modalClose"
            ng-click="ctrl.cancel()"
            title-translate="Close"
            title-translate-context="Action">×</button>
        <h1
            id="modalTitle"
            class="pm-modalTitle">{{ ::ctrl.formTitle }}</h1>
    </header>

    <form
        method="post"
        class="pm-modalContent"
        ng-submit="addFileModal.$valid && ctrl.submit()"
        name="addFileModal"
        data-squire-prevent-close
        novalidate>

        <div class="pm-modalContentInner">
            <add-file
                image="ctrl.image"
                form="addFileModal"></add-file>
        </div>

        <footer class="pm-modalFooter flex flex-spacebetween">
            <button
                class="pm-button-blueborder disabled-if-network-activity"
                ng-click="ctrl.cancel()"
                translate-context="Action"
                translate>Cancel</button>

            <button
                type="button"
                class="pm-button--info addFile-file-button"
                ng-if="::ctrl.canAddFile"
                ng-click="ctrl.addFile()">{{ ::ctrl.addFileTitle }}</button>
            <button
                type="submit"
                class="pm-button-blue addFile-insert-button"
                ng-disabled="addFileModal.$valid === false"
                ng-click="ctrl.insert()">{{ ::ctrl.actionTitle }}</button>
        </footer>
    </form>
</dialog>
