<div class="pm_modal important small {{ctrl.class}}" role="dialog">
    <form
        method="post"
        class="modal-dialog"
        ng-submit="addLinkModal.$valid && ctrl.submit()"
        name="addLinkModal"
        data-squire-prevent-close
        novalidate>
        <button
            type="button"
            ng-click="ctrl.cancel()"
            aria-hidden="true"
            title-translate="Close"
            title-translate-context="Action"
            class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ ::ctrl.formTitle }}</h4>
            </div>
            <div class="modal-body pm_form pm_grid">
                <add-link
                    link="ctrl.link"
                    form="addLinkModal"></add-link>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button
                type="button"
                class="pm_button pull-left addLink-cancel-button"
                ng-click="ctrl.cancel()"
                translate
                translate-context="Action">Cancel
            </button>
            <button
                ng-if="::ctrl.isUpdate"
                type="button"
                class="pm_button addLink-remove-button"
                ng-click="ctrl.delete()">{{ ::ctrl.deleteTitle }}
            </button>
            <button
                type="submit"
                class="pm_button primary addLink-insert-button"
                ng-disabled="addLinkModal.$valid === false"
                ng-click="ctrl.submit()">{{ ::ctrl.actionTitle }}
            </button>
        </div>
    </form>
    <div class="modal-overlay"></div>
</div>

