@import '~@proton/styles/scss/lib';

.categories-tabs {
	background-color: var(--toolbar-background-color);
	container-type: inline-size;

	.tab-container {
		border-width: rem(3);

		// The top border is needed to reserve the space but should be transparent when the tab is active
		&.active {
			border-block-start: rem(3) solid transparent;
		}

		&.neighbor {
			position: relative;
			border-color: transparent;

			&::after {
				content: '';
				position: absolute;
				inset: rem(-3);
				border: rem(1) dashed var(--border-weak);
				border-radius: inherit;
				pointer-events: none;
			}
		}

		// Used to avoid jumping when the label get the semibold weight
		.tag-label::before {
			display: block;
			content: attr(title);
			speak: never;
			font-weight: 600;
			block-size: 0;
			overflow: hidden;
			visibility: hidden;
		}

		.tag-count {
			border-radius: rem(6);
		}
	}

	// Icons only view (xsmall)
	@container (max-width: 450px) {
		.tab-container {
			.tag-label,
			.tag-count {
				display: none;
			}

			padding-block: rem(12);
			padding-inline: rem(8);
			gap: 0;
		}
	}

	// Only the selected category extended (xsmall to medium)
	@container (min-width: 450px) and (max-width: 910px) {
		.tab-container {
			.tag-label,
			.tag-count {
				display: none;
			}

			.tag-label-text {
				font-size: rem(12);
			}

			padding-block: rem(12);
			padding-inline: rem(8);
			gap: rem(6);

			// Show label only for active tab
			&[aria-selected='true'] {
				.tag-label,
				.tag-count {
					display: block;
				}
			}
		}
	}

	// Fully extended view (medium to large)
	@container (min-width: 910px) {
		.tab-container {
			.tag-label,
			.tag-count {
				display: block;
			}

			.tag-label-text {
				font-size: rem(12);
			}

			padding-block: rem(12);
			padding-inline: rem(16);
			gap: rem(6);
		}
	}

	// Large screen fully extended view (large)
	@container (min-width: 1100px) {
		.tab-container {
			.tag-label-text {
				font-size: rem(13);
			}

			padding-block: rem(12);
			padding-inline: rem(24);
			gap: rem(8);
		}
	}
}
