@use '~@proton/styles/scss/pass/pass-lib' as *;
@use '~@proton/styles/scss/lib/easing' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints-product;
im.$media-expressions: $media-expressions;

.pass-password-strength {
	--fieldset-cluster-icon-color: var(--strength-color);

	color: var(--strength-color);

	&--vulnerable {
		--strength-color: var(--signal-danger);
	}

	&--weak {
		--strength-color: var(--signal-warning);
	}

	&--strong {
		--strength-color: var(--signal-success);
	}

	&--inline {
		max-inline-size: 1.25rem;
		transition: max-inline-size 0.15s easing(ease-in);

		@include im.media('>medium') {
			max-inline-size: unset;
			pointer-events: none;
		}
	}

	.field-two-label {
		color: var(--strength-color);
	}
}
