@import '~@proton/styles/scss/config';

.contactGroupDropdown {
	.dropdown-content {
		@include media('<=small') {
			display: flex;
			flex-flow: column nowrap;
		}
	}

	&-list-container {
		@include media('<=small') {
			min-block-size: 5em;
		}

		@include media('>small') {
			max-inline-size: 20em;
			max-block-size: 15em;
		}
	}
}
