@import '~design-system/scss/config/';

.contact-modal-email-primary {
	+ .contact-modal-email-row > :first-child {
		margin-bottom: 0.5em;
		.contact-modal-field::after {
			content: '';
			position: absolute;
			bottom: 0.25em;
			left: 0;
			right: 0;
			border-bottom: 1px solid var(--bordercolor-input, $pm-global-border);
		}
	}
}
