/* to relativize */
.relative {
	position: relative;
}

/* to absolute */
.absolute {
	position: absolute;
	z-index: 1;
}

/* to centered absolute */
.centered-absolute {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centered-absolute-horizontal {
	left: 50%;
	transform: translate(-50%, 0%);
}

.covered-absolute {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* to top right */
.top-right {
	top: 0;
	right: 0;
}
.top-left {
	top: 0;
	left: 0;
}

.bottom {
	bottom: 0;
}

@if $rtl-option==true {
	[dir='rtl'] {
		.top-right {
			left: 0;
			right: auto;
		}
	}
}

.right-icon,
.right-text,
.left-icon {
	top: 0;
	height: #{rem($default-height-fields)}; // height of field
	align-content: center;
}

.right-icon {
	right: 0.5em;
}
.right-text {
	right: 1em;

	&-inner {
		padding-bottom: rem(2);
	}
}

.left-icon {
	left: 0.5em;
}

.fixed {
	position: fixed;
}

.sticky {
	&-top,
	&-bottom {
		position: sticky;
		z-index: 1;
	}

	&-top {
		top: 0;
	}

	&-bottom {
		bottom: 0;
	}
}

.z10 {
	z-index: 10; // Factorize later
}
.z667 {
	z-index: 667; // Factorize this!
}
