@use 'sass:math';

.wauto {
	inline-size: auto;
	min-inline-size: 0;
}

.hauto {
	block-size: auto;
}

.h0 {
	block-size: 0;
}

.h100 {
	block-size: 100%;
}

.h100v {
	block-size: 100vh;
}

.min-h23r {
	min-block-size: rem(23);
}

// .w50 { width: 50%; }

/* prettier-ignore */
@each $width in (0, 1, 2, 3, 5, 10, 15, 18, 20, 25, 30, math.div(100,3), 35, 40, 45, 49, 50, 55, 60, math.div(100,3) * 2, 70, 75, 80, 90, 95, 100) {
	.w#{floor($width)} {
		inline-size: #{$width * 1%};
	}
}

// .w500p { inline-size: 500px; }
@each $width in (10, 40, 50, 70, 80, 90, 150, 200, 250, 300, 500) {
	.w#{$width}p {
		inline-size: #{$width}px;
	}
}

// .w500r { inline-size: 500rem; }
// seems
// @each $width in (33) {
// 	.w#{$width}r {
// 		inline-size: #{$width}rem;
// 	}
// }

// .w16e { width: 16em; }
@each $width in (2, 3, 4, 5, 6, 8, 10, 11, 13, 14, 15, 16, 20, 24) {
	.w#{$width}e {
		inline-size: #{$width}em;
	}
}

// .max-w50 { max-inline-size: 50%; }
@each $max-width in (50, 60, 80, 100) {
	.max-w#{$max-width} {
		max-inline-size: #{$max-width * 1%};
	}
}

// .max-w500p { max-inline-size: 500px; }
@each $max-width in (100, 270, 650) {
	.max-w#{$max-width}p {
		max-inline-size: #{$max-width}px;
	}
}

// .max-w500ch { max-inline-size: 500ch; }
@each $max-width in (70) {
	.max-w#{$max-width}ch {
		max-inline-size: #{$max-width}ch;
	}
}

// .max-w50e { max-inline-size: 50em; }
@each $max-width in (5, 7, 8, 13, 15, 18, 30, 37, 40, 43, 46, 50, 52, 57, 60, 69) {
	.max-w#{$max-width}e {
		max-inline-size: #{$max-width}em;
	}
}

// .mw48r { max-inline-size: 48rem; }
@each $max-width in (30, 52) {
	.mw#{$max-width}r {
		max-inline-size: #{$max-width}rem;
	}
}

// .min-w50e { min-inline-size: 50em; }
@each $min-width in (1.4, 2, 3, 5, 7, 14, 35) {
	// inspect to convert to string
	$fragment-class: str-replace(inspect($min-width), '.', '-');

	.min-w#{$fragment-class}e {
		min-inline-size: #{$min-width}em;
	}
}

// .min-h50e { min-block-size: 50em; }
@each $min-height in (5, 10, 16) {
	.min-h#{$min-height}e {
		min-block-size: #{$min-height}em;
	}
}

// set up to use inline style with custom props
// to avoid having logical props in JS, postCSS can't process them
// Specificity issue with composer and others -_-v
.w-custom {
	&#{&} {
		inline-size: var(--width-custom);
	}
}

.min-w-custom {
	&#{&} {
		min-inline-size: var(--min-width-custom);
	}
}

.max-w-custom {
	&#{&} {
		max-inline-size: var(--max-width-custom);
	}
}

.h-custom {
	&#{&} {
		block-size: var(--height-custom);
	}
}

.min-h-custom {
	&#{&} {
		min-block-size: var(--min-height-custom);
	}
}

.max-h-custom {
	&#{&} {
		max-block-size: var(--max-height-custom);
	}
}
