<form class="autocompleteContacts-container ng-message-wrapper" novalidate>

    <div class="autocompleteContacts-field autocomplete-container">
        <input
            id="autocomplete"
            name="autocomplete"
            autofocus
            autocomplete="off"
            spellcheck="false"
            autocapitalize="off"
            class="autocompleteContacts-input">
    </div>

    <ul class="autocompleteContacts-autocomplete"></ul>

    <div
        role="alert"
        class="text-red labelNameInput-errors">
        <p ng-if="email.doesNotExist" translate-context="Error" translate>No email address found.</p>
    </div>
</form>
