<li
    class="contactViewItem-container"
    data-field="{{::info.key}}">

    <i class="fa fa-phone contactViewDetail-icon" aria-hidden="true"></i>
    <i class="fa fa-envelope contactViewDetail-icon" aria-hidden="true"></i>
    <i class="fa fa-user contactViewDetail-icon" aria-hidden="true"></i>
    <i class="fa fa-home contactViewDetail-icon" aria-hidden="true"></i>
    <i class="fa fa-address-card contactViewDetail-icon" aria-hidden="true"></i>
    <i class="fa fa-sticky-note contactViewDetail-icon" aria-hidden="true"></i>
    <i class="fa fa-photo contactViewDetail-icon" aria-hidden="true"></i>
    <i class="fa fa-birthday-cake contactViewDetail-icon" aria-hidden="true"></i>
    <i class="fa fa-anchor contactViewDetail-icon" aria-hidden="true"></i>
    <i class="fa fa-genderless contactViewDetail-icon" aria-hidden="true"></i>
    <i class="fa fa-user-o contactViewDetail-icon" aria-hidden="true"></i>
    <i class="fa fa-user-circle-o contactViewDetail-icon" aria-hidden="true"></i>
    <i class="fa fa-tag contactViewDetail-icon" aria-hidden="true"></i>

    <span class="contactViewDetail-type">{{ ::info.key | contactViewType:info.type }}</span>
    <a
        ng-if="info.key === 'email'"
        pt-tooltip-translate="Compose a new message to this email"
        pt-tooltip-translate-context="Tooltip"
        href="mailto:{{info.value}}"
        class="contactViewItem-value-email">{{::info.value}}</a>

    <a
        ng-if="info.key === 'tel'"
        href="tel:{{info.value}}"
        class="contactViewItem-value-tel">{{::info.value}}</a>

    <a
        ng-if="info.key === 'url'"
        rel="noreferrer nofollow noopener"
        href="{{::info.value | formatURL}}"
        target="_blank"
        class="contactViewItem-value-url">{{::info.value | formatURL}}</a>
    <span
        ng-if="info.key !== 'adr' && info.key !== 'email' && info.key !== 'tel' && info.key !== 'photo' && info.key !== 'url'"
        class="contactViewItem-value-txt">{{::info.value}}</span>

    <img
        class="contactViewItem-value-img"
        ng-if="info.key === 'photo'"
        ng-src="{{::info.value}}"
        alt="avatar">

    <address
        ng-if="info.key === 'adr'"
        class="contactViewItem-value-adr">
        <ul class="contactViewItem-list">
            <li
                class="contactViewItem-item"
                ng-repeat="detail in ::formatAddress(info.value) track by $index">{{::detail}}</li>
        </ul>
    </address>

    <advanced-settings-btn
        class="contactItem-btn-settings"
        ng-if="info.key === 'email' && !isOwnAddress(info.value)"
        data-contact="contact"
        data-mode="mode"
        data-model="info"></advanced-settings-btn>
</li>
