<section class="contactEncrypted-container">
    <section class="contactDetails-fields-container">
        <legend class="contactDetails-fields-ico">
            <svg viewBox="0 0 374.8 337.1" pt-tooltip-translate="Encrypted data with verified digital signature">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-lock-signed"></use>
            </svg>
        </legend>
        <div>
            <div ng-if="state.isFree" class="contactDetails-fields-locked" >
                <div class="contactDetails-fields-locked-notice">
                    <p><a class="pm_button primary" ui-sref="secured.dashboard({ scroll: true })" translate translate-context="Action">Upgrade now</a></p>
                    <p translate translate-context="Info">This feature is only available for paid users.</p>
                </div>
            </div>

            <contact-error></contact-error>

            <contact-item
                data-contact="contact"
                data-form="contactForm"
                data-model="model"
                data-type="Tels"></contact-item>
            <contact-item
                data-contact="contact"
                data-form="contactForm"
                data-model="model"
                data-type="Adrs"></contact-item>
            <contact-item
                data-contact="contact"
                data-form="contactForm"
                data-model="model"
                data-type="Personals"></contact-item>
            <button type="button" class="contactDetails-toggle-custom-fields"></button>
            <contact-item
                data-contact="contact"
                class="contactDetails-custom-fields"
                data-form="contactForm"
                data-model="model"
                data-type="Customs"></contact-item>
            <contact-item
                data-contact="contact"
                data-form="contactForm"
                data-model="model"
                data-type="Notes"></contact-item>
            <contact-item
                data-contact="contact"
                data-form="contactForm"
                data-model="model"
                data-type="Photos"></contact-item>
        </div>
    </section>
</section>
