<form
    class="contactSelectorForm-container"
    name="selectorForm"
    novalidate>

    <div class="pm-modalContentInner">

        <div class="contactSelectorForm-search-row mb1">
            <label>
                <span
                    class="sr-only"
                    translate-context="Label"
                    translate>Search for emails</span>
                <input
                    type="search"
                    id="searchInput"
                    ng-model="searchValue"
                    class="pm-field w100"
                    placeholder-translate-context="Placeholder"
                    placeholder-translate="Search for emails">
            </label>
        </div>

        <p class="contactSelectorForm-warning-message block-info-warning">
            <icon data-name="attention"></icon>
            <span translate-context="Error" translate>You have reached the max recipients (25) per message</span>
        </p>

        <div class="contactSelectorForm-table-wrapper">
            <table class="pm-simple-table noborder border-collapse">
                <thead>
                    <tr>
                        <th scope="col" class="w5">
                            <label>
                                <custom-checkbox
                                    data-custom-ng-model="checkAll"
                                    data-custom-ng-disabled="disableCheckAll"
                                    data-custom-ng-change="onSelectAll()"></custom-checkbox>
                            </label>
                        </th>
                        <th scope="col" translate-context="Header" translate>Name</th>
                        <th scope="col" translate-context="Header" translate>Email</th>
                    </tr>
                </thead>

                <tbody data-vs-repeat="{scrollParent: '.contactSelectorForm-table-wrapper'}">
                    <tr ng-repeat="email in ctrl.list | filter: { Email: searchValue } track by $id(email)">
                        <td>
                            <label>
                                <custom-checkbox
                                    data-custom-ng-model="email.selected"
                                    data-custom-ng-change="onCheck()"></custom-checkbox>
                            </label>
                        </td>
                        <td>
                            <span class="contactSelectorForm-name">{{ ::email.Name }}</span></td>
                        <td>
                            <span class="contactSelectorForm-email ellipsis">{{ ::email.Email }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ul class="contactSelectorForm-labels bordered-container p1 unstyled scroll-if-needed">
            <li
                class="contactSelectorForm-label inline-flex mw100 flex-nowrap bg-global-light mr0-5 rounded mb0-5 bordered-container"
                ng-repeat="email in ctrl.others track by $id(email)"
                title="{{ ::email.Email }}">
                <span class="ellipsis contactSelectorForm-label-text pl0-5 pr0-5 pt0-25 pb0-25">{{ ::(email.Name || email.Email) }}</span>
                <button
                    type="button"
                    class="contactSelectorForm-remove-label-btn flex-item-noshrink pl0-5 pr0-5"
                    title-translate="Remove"
                    title-translate-context="Action"
                    data-list="others"
                    data-index="{{ $index }}">
                    <icon
                        data-name="off"
                        class="flex-item-noshrink mtauto mbauto"></icon>
                </button>
            </li>

            <li
                class="contactSelectorForm-label inline-flex mw100 flex-nowrap bg-global-light mr0-5 rounded mb0-5 bordered-container"
                ng-repeat="email in ctrl.list | filter: { selected: true } track by $id(email)"
                title="{{ ::email.Email }}">
                <span class="ellipsis contactSelectorForm-label-text pl0-5 pr0-5 pt0-25 pb0-25">{{ ::(email.Name || email.Email) }}</span>
                <button
                    type="button"
                    class="contactSelectorForm-remove-label-btn flex-item-noshrink pl0-5 pr0-5"
                    title-translate="Remove"
                    title-translate-context="Action"
                    data-list="list"
                    data-index="{{ $index }}">
                    <icon
                        data-name="off"
                        class="flex-item-noshrink mtauto mbauto"></icon>
                </button>
            </li>
        </ul>

    </div>

    <footer class="pm-modalFooter flex flex-spacebetween">
        <button
            class="pm-button-blueborder disabled-if-network-activity"
            type="reset"
            translate-context="Action"
            translate>Cancel</button>

        <button
            class="pm-button-blue disabled-if-network-activity"
            translate-context="Action"
            translate>Add</button>
    </footer>
</form>
