<div class="contactNoResult-container">
    <i class="fa contactNoResult-icon fa-address-book-o"></i>
    <h3 class="contactNoResult-title contactNoResult-title-empty" translate-context="Info" translate>You have no contacts</h3>
    <h3 class="contactNoResult-title contactNoResult-title-no-result" translate-context="Info" translate>No contact found</h3>
    <div class="contactNoResult-text-block">
        <span translate-context="You can Add contact or Import contacts" translate>You can</span>
        <button class="pm_button primary" data-action="add" translate-context="Action" translate-comment="Add contact button in no result placeholder" translate>Add contact</button>
        <span translate-context="You can Add contact or Import contacts" translate>or</span>
        <button class="pm_button contactNoResult-import" data-action="import" translate-context="Action" translate-comment="Import contacts button in no result placeholder" translate>Import contacts</button>
    </div>
</div>
