<div class="contactEncryptToggle-container">
    <label for="contactEncryptToggle" class="contactEncryptToggle-label">
        <span translate-context="Label for contact Encrypt toggle" translate>Encrypt</span>
        <i
            class="fa fa-warning contactEncryptToggle-warning-icon"
            pt-tooltip-translate-context="Tooltip"
            pt-tooltip-translate="Please upload a valid encryption key first before enabling encryption"></i>
    </label>
    <toggle
        class="small"
        data-id="contactEncryptToggle"
        data-name="advancedSetting"
        data-type="updateEncrypt"
        data-status="value"
        data-on="ON"
        data-off="OFF"></toggle>
</div>
