<div class="pm_modal small important {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.close()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" translate-context="Contact modal title" translate>Contact details</h4>
            </div>
            <div class="modal-body">
                <contact-display data-vcard="ctrl.vcard" data-modal="true"></contact-display>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button
                class="pm_button primary"
                tabindex="1"
                ng-click="ctrl.close()"
                translate-context="Action"
                translate>Close</button>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
