<div class="pm_modal small important" role="dialog" style="display: block;">
    <form name="beforeForm" class="modal-dialog" novalidate>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" translate-context="Title for contact modal" translate>PGP Encryption</h4>
            </div>
            <div class="modal-body pm_form">
                <div class="alert no-margin-bottom" translate-context="Message for encryption contact modal" translate>
                    The email <strong>{{ ::ctrl.email }}</strong> has PGP keys set. Do you want to enable PGP encryption for this contact?
                </div>
                <label class="remember-choice">
                    <custom-checkbox data-custom-ng-model="ctrl.applyToAll"></custom-checkbox>
                    <span translate-context="Remember encryption choice encrypt" translate>Remember my choice</span>
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="pm_button modal-footer-button" ng-click="ctrl.no()" translate-context="Action to not set PGP encryption on import contact" translate>No</button>
            <button type="button" class="pm_button primary modal-footer-button" ng-click="ctrl.yes()" translate-context="Action to not set PGP encryption on import contact" translate>Yes</button>
        </div>
    </form>
    <div class="modal-overlay"></div>
</div>
