<dialog class="contactSelectorModal-container">
    <header class="pm-modalHeader">
        <button
            type="button"
            class="pm-modalClose"
            ng-click="ctrl.cancel()"
            title-translate="Close"
            title-translate-context="Action">
            <icon data-name="close" class="pm-modalClose-icon"></icon>
            <span class="sr-only" translate translate-context="Action">Close</span>
        </button>
        <h1
            id="modalTitle"
            class="pm-modalTitle"
            translate-context="Title"
            translate>Add multiple recipients</h1>
    </header>

    <contact-selector-form class="pm-modalContent"></contact-selector-form>
</dialog>
