<div class="contactMimetypeSelector-container">
    <label for="contactMimetypeSelector" class="pm-label">
        <span translate-context="Label for contact MIMEType selector" translate>Format</span>
        <icon
            data-name="info"
            pt-tooltip-translate-context="Info for contact MIMEType selector"
            pt-tooltip-translate="Automatic indicates that the format in the composer is used to send to this user. Plain Text indicates that the message will always be converted to plain text on send."></icon>
    </label>
    <span class="pm-field-container">
        <select
            id="contactMimetypeSelector"
            class="pm-field w100"
            ng-model="mimetype"
            ng-options="option.label for option in options track by option.value"
            ng-change="onChange()"></select>
    </span>
</div>
