<section class="contactClear-container">
    <section class="contactDetails-fields-container">
        <legend class="contactDetails-fields-ico">
            <i
                class="fa fa-check contactEncrypted-signed-icon"
                pt-tooltip-translate-context="Title"
                pt-tooltip-translate="Digital signature verified"></i>
        </legend>
        <contact-error></contact-error>
        <contact-item
            data-contact="contact"
            data-form="contactForm"
            data-model="model"
            data-type="Name"></contact-item>
        <contact-item
            data-contact="contact"
            data-form="contactForm"
            data-model="model"
            data-type="Emails"></contact-item>
    </section>
</section>
