<div class="pm_modal small {{ctrl.class}}" role="dialog" style="display: block;">
    <form name="beforeForm" class="modal-dialog" ng-submit="ctrl.save()" novalidate>
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" translate-context="Title for contact modal" translate>Save Changes?</h4>
            </div>
            <div class="modal-body">
                <div class="alert no-margin-bottom" translate-context="Message for contact modal" translate>There are unsaved changes to the contact you are editing. Do you want to save changes?</div>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button type="button" class="pm_button" ng-click="ctrl.discard()" translate-context="Action to not save contact details and switch to the new page" translate>Discard</button>
            <button autofocus class="pm_button primary" translate-context="Action to save contact details and switch to the new page" translate>Save</button>
        </div>
    </form>
    <div class="modal-overlay"></div>
</div>
