<div class="pm_modal small very-important {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button
            type="button"
            ng-click="ctrl.close()"
            aria-hidden="true"
            title-translate="Close"
            title-translate-context="Action"
            class="fa fa-times close"></button>
        <div class="modal-content contactLoaderModal-container">
            <div class="modal-header">
                <h4 class="modal-title">{{ ::ctrl.title }}</h4>
            </div>
            <div class="modal-body">
                <p class="alert alert-info contactLoaderModal-info">{{ ::ctrl.info }}</p>
                <loader-tag></loader-tag>
                <progress-bar id="contactsProgressBar"></progress-bar>
                <label class="contactLoaderModal-label"></label>
                <div class="contactLoaderModal-success"></div>
                <div class="contactLoaderModal-error"></div>
            </div>
            <div class="modal-footer text-right">
                <button class="pm_button" ng-click="ctrl.close()" translate-context="Action" translate>Close</button>
            </div>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
