<div class="contactEncryptToggle-container flex flex-nowrap onmobile-flex-column mb1">
    <label
        for="contactEncryptToggle"
        class="pm-label"
        translate-context="Label for contact Encrypt toggle"
        translate>Encrypt</span>
    </label>

    <span
        class="block-info-standard-warning contactEncryptToggle-warning-icon"
        translate-context
        translate>Please upload a valid encryption key first before enabling encryption</span>

    <span class="pm-field-container">
        <toggle
            data-id="contactEncryptToggle"
            data-name="advancedSetting"
            data-type="updateEncrypt"
            data-status="value"
            data-on="ON"
            data-off="OFF"></toggle>
    </span>
</div>
