<dialog class="contact-encryption-modal pm-modal--wider">

    <header class="pm-modalHeader">
        <button
            type="button"
            class="pm-modalClose"
            ng-click="ctrl.cancel()"
            title-translate="Close"
            title-translate-context="Action">
            <icon data-name="close" class="pm-modalClose-icon"></icon>
            <span class="sr-only" translate translate-context="Action">Close</span>
        </button>
        <h1
            id="modalTitle"
            class="pm-modalTitle">{{::ctrl.title}}</h1>
    </header>

    <div class="pm-modalContent">
        <form
            class="pm-modalContentInner"
            name="contactForm"
            novalidate>
            <contact-pgp
                data-form="ctrl.form"
                data-model="ctrl.model"
                data-email="{{ ::ctrl.email }}"
                data-internal-keys="ctrl.internalKeys"></contact-pgp>
        </form>
    </div>

    <footer class="pm-modalFooter flex flex-spacebetween">
        <button
            class="pm-button-blueborder"
            type="button"
            ng-click="ctrl.cancel()"
            translate-context="Action"
            translate>Cancel</button>
        <button
            class="pm-button-blue disabled-if-network-activity"
            ng-click="ctrl.submit()"
            ng-disabled="ctrl.internalKeys.RecipientType !== 1 && !ctrl.model.Key[0].value && ctrl.model.Encrypt[0].value">
                <span
                    ng-if="ctrl.directSave"
                    translate-context="Action"
                    translate>Save</span>
                <span
                    ng-if="!ctrl.directSave"
                    translate-context="Action"
                    translate>Done</span>
        </button>
    </footer>
</dialog>
