<div class="contactSchemeSelector-container">
    <label for="contactSchemeSelector" class="contactSchemeSelector-label">
        <span translate-context="Label for contact Scheme selector" translate>Cryptographic scheme</span>
        <a href="https://protonmail.com/support/knowledge-base/pgp-mime-pgp-inline/" target="_blank">
            <i class="fa fa-info-circle text-purple" pt-tooltip-translate-context="Info for contact Scheme selector" pt-tooltip-translate="Select the PGP scheme to be used when signing or encrypting to an user. Note that PGP/Inline forces plain text messages."></i>
        </a>
    </label>
    <span class="pm_select">
        <select id="contactSchemeSelector" ng-model="scheme" ng-options="option.label for option in options track by option.value" ng-change="onChange()"></select>
        <i class="fa fa-angle-down"></i>
    </span>
</div>
