<div class="pm_modal small important {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.onClickClose()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" translate-context="Contact modal title" translate>Contact details</h4>
            </div>
            <div class="modal-body">
                <contact-display data-vcard="ctrl.vcard" data-modal="true"></contact-display>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button class="pm_button pull-left" ng-if="ctrl.onClickMerge" ng-click="ctrl.onClickMerge()" tabindex="2" name="merge" translate-context="Action" translate>Merge</button>
            <button class="pm_button primary" ng-click="ctrl.onClickClose()" translate-context="Action" tabindex="1" translate>Close</button>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
