<div class="pm_modal {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" ng-bind=ctrl.title></h4>
            </div>
            <div class="modal-body">
                <form class="contactDetails-container" name="contactForm" novalidate>
                    <contact-pgp
                        data-form="ctrl.form"
                        data-model="ctrl.model"
                        data-email="{{ ctrl.email }}"
                        data-internal-keys="ctrl.internalKeys"></contact-pgp>
                </form>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button class="pm_button pull-left" ng-click="ctrl.cancel()" translate-context="Action" translate>Cancel</button>
            <button class="pm_button primary"
                    tabindex="1"
                    ng-click="ctrl.save()"
                    ng-disabled="ctrl.internalKeys.RecipientType !== 1 && !ctrl.model.Key[0].value && ctrl.model.Encrypt[0].value"
                    translate-context="Action"
                    translate>Save</button>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
