<form class="contactPhotoForm-container pm_form" name="contactPhotoForm" ng-submit="submit()" novalidate>
    <div class="pm_grid">
        <div class="col-1-3">
            <label for="contactPhotoModal-uri" translate-context="Label" translate>Add image URL</label>
        </div>
        <div class="col-2-3">
            <input type="url" id="contactPhotoModal-uri" ng-model="ctrl.uri" placeholder-translate="Image URL">
        </div>
    </div>
    <div class="pm_grid">
        <div class="col-1-3">
            <label for="contactPhotoModal-upload" translate-context="Label" translate>Upload picture</label>
        </div>
        <div class="col-2-3">
            <label for="contactPhotoModal-upload" class="contactPhotoModal-input-label" translate-context="Action" translate>Upload picture</label>
            <input type="file" accept="image/*" class="contactPhotoModal-input-file" id="contactPhotoModal-upload">
        </div>
    </div>
</form>
