<div class="pm_modal {{ctrl.class}}" role="dialog">

    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" ng-if="!ctrl.contact.ID" translate-context="Contact modal title" translate>Add contact</h4>
                <h4 class="modal-title" ng-if="ctrl.contact.ID" translate-context="Contact modal title" translate>Edit contact</h4>
            </div>

            <div class="modal-body">
                <contact-details data-contact="ctrl.contact" data-modal="true"></contact-details>
            </div>
        </div>
        <div class="modal-footer">
            <button
                class="pm_button modal-footer-button disabled-if-network-activity"
                ng-click="ctrl.cancel()"
                translate-context="Action"
                translate>Cancel</button>

            <button
                class="pm_button primary modal-footer-button disabled-if-network-activity"
                tabindex="1"
                ng-click="ctrl.submit()"
                translate-context="Action"
                translate>Save</button>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
