<div class="contactEncryptToggle-container pm-field-container">
    <label for="contactEncryptToggle" class="pm-label">
        <span translate-context="Label for contact Encrypt toggle" translate>Encrypt</span>
        <icon
            data-name="attention"
            class="ontactEncryptToggle-warning-icon"
            pt-tooltip-translate-context="Tooltip"
            pt-tooltip-translate="Please upload a valid encryption key first before enabling encryption"></icon>
    </label>
    <toggle
        data-id="contactEncryptToggle"
        data-name="advancedSetting"
        data-type="updateEncrypt"
        data-status="value"
        data-on="ON"
        data-off="OFF"></toggle>
</div>
