<div class="contactDisplay">
    <div class="contactDisplay-item-group" ng-repeat="property in ::properties track by property.field">
        <div class="contactDisplay-item" data-field="{{ ::property.field }}" ng-repeat="value in ::property.items">
            <div class="contactDisplay-item-label"><i class="fa" ng-class="::value.icon"></i>{{ ::value.label }}</div>
            <div class="contactDisplay-item-value" data-key="{{ ::value.key }}" data-group="{{ ::value.group }}">{{ ::value.value }}</div>
        </div>
    </div>
</div>
