<button class="manageContactGroupLink-container">
    <div>
        <i class="fa fa-cog manageContactGroupLink-icon"></i>
        <i
            data-if="create"
            class="fa fa-plus manageContactGroupLink-icon"></i>
        <span
            class="manageContactGroupLink-label"
            translate-context="Action"
            translate>Contact Groups</span>
        <span
            data-if="create"
            class="manageContactGroupLink-label"
            translate-context="Action"
            translate>Add contact group</span>
    </div>
</button>
