<dialog class="removeContactListModal-container">


    <header class="pm-modalHeader">
        <button
            type="button"
            class="pm-modalClose"
            ng-click="ctrl.cancel()"
            title-translate="Close"
            title-translate-context="Action">×</button>
        <h1
            id="modalTitle"
            class="pm-modalTitle"
            translate-context="Title"
            translate>Do you want to remove contact(s) ?</h1>
        <p translate-context="Info" translate>These emails are also in your contacts. Remove them from your contacts?</p>
    </header>

    <form
        name="selectorForm"
        novalidate
        ng-submit="ctrl.submit($event)"
        class="pm-modalContent">

        <div class="pm-modalContentInner">
            <table class="pm-simple-table noborder border-collapse">
                <thead>
                    <tr>
                        <th scope="col" class="w5">
                            <label>
                                <custom-checkbox
                                    data-custom-ng-model="ctrl.checkAll"
                                    data-custom-ng-change="ctrl.onSelectAll()"></custom-checkbox>
                            </label>
                        </th>
                        <th scope="col" translate-context="Header" translate>Name</th>
                        <th scope="col" translate-context="Header" translate>Type</th>
                        <th scope="col" translate-context="Header" translate>Email</th>
                    </tr>
                </thead>
                <tbody data-vs-repeat="{scrollParent: '.pm-modalContentInner'}">
                    <tr ng-repeat="contact in ctrl.list track by contact.ID">
                        <td class="w5">
                            <label>
                                <custom-checkbox data-custom-ng-model="contact.selected"></custom-checkbox>
                            </label>
                        </td>
                        <td>
                            <span class="contactSelectorForm-name">{{ ::contact.Name }}</span></td>
                        <td>
                            <span class="contactSelectorForm-name">{{ ::contact.Type.toString() }}</span></td>
                        <td>
                            <span class="contactSelectorForm-email">{{ ::contact.Email }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <footer class="pm-modalFooter flex flex-spacebetween">
            <button
                class="pm-button-blueborder  disabled-if-network-activity"
                type="reset"
                ng-click="ctrl.cancel()"
                translate
                translate-context="Action">Cancel</button>
            <button
                class="pm-button-blue disabled-if-network-activity"
                translate
                translate-context="Action">Ok</button>
        </footer>
    </form>

</dialog>
