@use 'sass:math';
/*
 * Items
 * For conversations and contacts lists
 */

.items-column-list {
	inline-size: var(--width-conversation-column, calc(100vw * #{math.div($conversations-column-width, 100%)}));
	min-inline-size: 320px; // Subjective value
	max-inline-size: calc(100% - 400px); // Subjective value
}

// trick to have proper direction on react virtual lists
.ReactVirtualized__Grid,
.ReactVirtualized__List {
	direction: inherit !important;
}

.items-column-list-inner,
.ReactVirtualized__Grid__innerScrollContainer {
	border-inline-end: 1px solid var(--border-weak);
	min-block-size: 100%;
}

.items-column-list-inner--border-none {
	// fix for Contact and ReactVirtualized__Grid
	border: 0;
}

.items-column-list--mobile {
	inline-size: 100%;
}

.items-column-list,
.items-column-list--mobile,
.view-column-detail {
	block-size: 100%;
}

.view-column-detail,
// because it's sticky on top
.message-conversation-summary {
	background-color: var(--email-message-view-background-color);
}

$item-container-height: rem(66) !default;
$item-container-padding-block: em(11) !default;

$item-container-padding-inline-start: em(9) !default;
$item-container-padding-inline-end: em(12) !default;
$item-container-padding-inline: $item-container-padding-inline-start $item-container-padding-inline-end;

$item-container-margin-inline: em(12) !default;

$item-container-height-compact-mode: rem(56) !default;
$item-container-row-height-compact-mode: rem(36) !default;

$item-container-row-padding-block: em(6) !default; // design wants 44px

.item-container,
.item-container-row {
	@extend %appearing-container;
	position: relative;
	padding-block: $item-container-padding-block; // design wants ~66 height
	padding-inline: $item-container-padding-inline;
	border-block-end: 1px solid var(--border-weak);
	scroll-margin-block-start: $item-container-height;

	// no transition, otherwhise there's a flash on page loading
	// because of theme file loading after applying default theme colors

	&::after,
	&-wrapper::after {
		content: '';
		position: absolute;
		inset: 0;
		inset-inline-start: -$item-container-margin-inline;
		inset-block-end: 1px;
		z-index: 1;
		pointer-events: none;
		transition: 0.15s easing(easeOutQuart);
		border-inline-start: 5px solid transparent;
	}

	&:focus {
		outline: none;
	}

	&.read,
	&-wrapper.read {
		background-color: var(--email-item-read-background-color);
		color: var(--email-item-read-text-color);

		.item-icon,
		.item-icon-compact:hover {
			background-color: var(--email-item-read-icon-background-color);
			color: var(--email-item-read-icon-text-color);
		}
	}

	&.unread {
		background-color: var(--email-item-unread-background-color);
		color: var(--email-item-unread-text-color);

		.item-senders,
		.item-senddate-col,
		.item-senddate-row,
		.item-weight,
		.item-subject {
			font-weight: var(--font-weight-bold);
		}

		.item-icon,
		.item-icon-compact:hover {
			background-color: var(--email-item-unread-icon-background-color);
			color: var(--email-item-unread-icon-text-color);
		}
	}

	&-wrapper:hover::after {
		box-shadow: var(--shadow-norm);
	}

	&:focus::after,
	&.item-is-focused::after {
		border-inline-start-color: var(--email-item-focus-marker-color);
	}

	&.item-is-selected,
	// alias for Angular
	&.item-container.active {
		&#{&} {
			background-color: var(--email-item-selected-background-color);
			color: var(--email-item-selected-text-color);

			&:focus::after,
			&.item-is-focused::after {
				border-inline-start-color: var(--email-item-selected-focus-marker-color);
			}

			.item-icon,
			.item-icon-compact:hover {
				background-color: var(--email-item-selected-icon-background-color);
				color: var(--email-item-selected-icon-text-color);
			}

			.item-firstline {
				color: var(--email-item-selected-text-color);
			}

			.item-titlesender {
				border-block-end-color: transparent;
			}
		}
	}

	// Styling for contact items inside contact dropdown
	&.item-contact {
		background-color: var(--email-item-unread-background-color);
		color: var(--email-item-unread-text-color);

		.item-icon,
		.item-icon-compact:hover {
			background-color: var(--email-item-unread-icon-background-color);
			color: var(--email-item-unread-icon-text-color);
		}
	}

	// Encrypted search shows a preview of the body in the item,
	// which therefore has to be bigger
	&.es-three-rows {
		height: rem(76);
	}
}

.item-container {
	border-block-end: 0;
	padding-block-end: 0; // design wants ~66 height
	margin-inline: $item-container-margin-inline;
	border-radius: var(--border-radius-lg);
	@include respond-to($breakpoint-small) {
		margin-inline: em(2);
	}
}

.item-container-row {
	padding-block: $item-container-row-padding-block;

	// fix pseudo element for row layout
	.item-checkbox {
		&::after {
			inset-block: -#{$item-container-padding-block};
		}
	}

	.item-weight {
		min-inline-size: 5em;
		@include respond-to(1200) {
			display: none;
		}
	}

	.item-senders {
		inline-size: rem(200);
		color: var(--text-norm);
		@include respond-to($breakpoint-medium-landscape) {
			inline-size: rem(128);
		}
	}
}

.item-checkbox-label {
	.item-checkbox {
		// this is a crazy fix for Firefox - for having ::after stuff working on it for mail conversations
		// to have increased area around checkbox for clicking
		/* autoprefixer: ignore next */
		/* stylelint-disable-next-line */
		-moz-appearance: initial;
	}

	// fix for Firefox multi-selection issue
	& > .item-checkbox {
		inline-size: 100%;
		block-size: 100%;
		z-index: 1;
	}
}

.item-firstline,
.item-secondline {
	block-size: em(20);
	line-height: calc(20 * 1.5 / 21);
}
.item-firstline {
	color: var(--text-norm);
	&-infos {
		transform: translateY(-0.5ex);
	}
}
.item-secondline:empty {
	min-block-size: 1.5em;
}

.item-hover-action-buttons {
	inset-inline-start: rem(6); // magic number to get perfect hover :D
}

/* Comfortable view */

.is-comfortable {
	// should apply this background only for comfortable view, NOT on mobile or Row mode
	.item-container {
		&.read,
		&-wrapper.read {
			@include respond-to($breakpoint-small, 'min') {
				background-color: var(--email-item-read-comfort-background-color);
			}
		}

		// just a 12 margin only for first element, not on mobile
		&-wrapper:first-child {
			@include respond-to($breakpoint-small, 'min') {
				margin-block-start: em(12);
			}
		}

		&-row {
			padding-inline-start: em(21);
		}
	}
}

/* Compact view */
.item-icon-compact {
	inline-size: rem($conversation-icon-size);
	block-size: rem($conversation-icon-size);
	border-radius: 50%;
	font-size: rem(12);
	transition: background-color 0.25s ease-out;
	margin-block-start: em(-5); // to align with first line

	&::after {
		content: '';
		position: absolute;
		inset-inline: -#{em(12)};
		inset-block-start: calc(-1 * (#{$item-container-height-compact-mode} - #{rem($conversation-icon-size)}) / 2);
		block-size: $item-container-height-compact-mode;
	}

	.checkbox-fakecheck {
		margin: auto;
		background: var(--background-norm);
	}
}

.list-compact {
	.item-container,
	.item-container-row {
		// block-size: $item-container-height-compact-mode;
		// scroll-margin-block-start: $item-container-height-compact-mode;
		padding-block: em(8); // put this in a var
		padding-inline: em(6) em(12);
		margin-inline: 0;
		border-radius: 0;
		@include respond-to($breakpoint-small) {
			padding-inline-start: em(12);
		}

		.item-container-inner {
			padding-block: em(0);
			padding-inline: em(12);
		}
	}

	.item-container {
		border-block-end: 1px solid var(--border-weak);

		// center hover action vertically, did this to keep more space available for content
		&:hover,
		&:focus-within {
			.item-hover-action-buttons {
				margin-block-start: -1.5em;
			}
		}
	}

	.item-container-row {
		block-size: $item-container-row-height-compact-mode;
		scroll-margin-block-start: $item-container-row-height-compact-mode;
		padding-block: 0;
		.item-icon-compact {
			// margin-block-start: 0;
			margin-block: auto;
			&::after {
				block-size: $item-container-row-height-compact-mode;
			}
		}
	}

	.item-firstline,
	.item-secondline {
		margin: 0;
	}
	.item-firstline-infos {
		transform: none;
	}
}

.item-is-loading {
	background-color: var(--background-norm);
	pointer-events: none;

	.item-checkbox-label::before,
	.item-icon-compact::before,
	.item-senders::before,
	.item-senddate-col::before,
	.item-senddate-row::before,
	.item-weight::before,
	.item-star,
	.item-subject::before {
		@extend %placeholder-loading;
	}

	.item-checkbox-label,
	.item-icon-compact {
		position: relative;
		margin-block: auto;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			z-index: 1;
			border-radius: var(--border-radius-md);
			background-color: currentColor;
			opacity: 0;
		}

		.item-icon,
		.checkbox-fakecheck {
			opacity: 0;
		}
	}
	.item-checkbox-label {
		margin-block-start: 0;
	}

	.item-senders,
	.item-senddate-col,
	.item-senddate-row,
	.item-weight,
	.item-subject {
		&::before {
			@extend %item-loading-pseudo;
		}
	}

	.item-senders {
		&::before {
			inline-size: 35%;
		}
	}

	.item-senddate-col {
		min-inline-size: 6em;

		&::before {
			inline-size: 100%;
		}
	}

	.item-senddate-row {
		&::before {
			inline-size: 70%;
		}
	}

	.item-weight {
		min-inline-size: 4em;

		&::before {
			inline-size: 100%;
		}
	}

	.item-subject {
		&::before {
			inline-size: 60%;
		}
	}
}

.item-checkbox {
	// for allowing hovering larger than fake circle
	&::after {
		content: '';
		position: absolute;
		inset-block: calc(-1 * ((#{$item-container-height} - #{rem($conversation-icon-size)}) / 2));
		inset-inline-start: em(-12);
		inline-size: calc(#{rem($conversation-icon-size)} + #{$item-container-padding-inline-start} + #{rem(5)});
		// icon size + padding container + tiny margin for comfort
	}

	// hidden fake check by default
	& + .item-icon > .item-icon-fakecheck {
		display: none;
	}

	&:focus + .item-icon {
		border-color: var(--interaction-norm);
	}

	// hover state of checkbox
	&:hover + .item-icon,
	& + .item-icon:hover {
		& > .item-abbr {
			display: none;
		}

		& > .item-icon-fakecheck {
			display: flex;
			transform: scale(1);
		}
	}

	// checked state
	&:checked + .item-icon {
		background-color: var(--interaction-norm);

		& > .item-abbr {
			display: none;
		}

		& > .item-icon-fakecheck {
			display: flex;
			animation: anime-conversation-icon-in easing(easeOutQuint) 0.15s;
		}

		@keyframes anime-conversation-icon-in {
			0% {
				transform: scale(0);
			}

			100% {
				transform: scale(1);
			}
		}

		.item-icon-fakecheck-icon {
			fill: var(--interaction-norm-contrast);
		}
	}
}
