.offer-monthly-price-container {
	display: flex;
	flex-direction: column;
}

.offer-cta {
	--color-promo: #fbbf24;
}

.offer-modal .offer-wrapper {
	flex-direction: row;
}

/* Spring Sale 2026 styles - ensuring they apply in Lumo */
.offer-modal[class*='offer-spring-sale-2026-'] {
	background:
		url(@proton/components/containers/offers/components/springSale2026/background.webp),
		linear-gradient(180deg, #e5f0fa 37.76%, #badef9 148.62%);
	background-size: cover;
	max-inline-size: 31rem;
	padding-inline: 1rem;
	padding-block-start: 1.5rem;

	.scroll-child {
		overflow-y: scroll;
	}

	.offer-close-button {
		background: #fffc;
		border-radius: 50%;
	}

	.modal-close-icon {
		fill: black;
	}

	.springSaleDiscount {
		display: inline-block;
		background-color: #ff4c81;
		color: white;
	}
}
