@import '~@proton/styles/scss/lib';

body {
	overflow-y: auto;
}

.pass-signup {
	--pass-signup-bg: #1d1738;

	scroll-behavior: smooth;

	.signup-bg-gradient {
		background: var(--pass-signup-bg);
	}

	.signup-layout-gap {
		gap: var(--space-4);

		@include media('>medium') {
			gap: 6rem;
		}

		@include media('>large') {
			gap: 10rem;
		}
	}

	&-promotion-bg {
		background:
			linear-gradient(78deg, var(--promotion-background-start, rgba(109, 74, 255, 0.15)) 0%, var(--promotion-background-end, rgba(70, 26, 255, 0.04)) 100%),
			var(--promotion-background-end);
	}

	&-card-glass {
		background: rgba(248, 250, 252, 0.10);
		box-shadow: 0px -133px 37px 0px rgba(55, 37, 128, 0.00), 0px -85px 34px 0px rgba(55, 37, 128, 0.01), 0px -48px 29px 0px rgba(55, 37, 128, 0.05), 0px -21px 21px 0px rgba(55, 37, 128, 0.09), 0px -5px 12px 0px rgba(55, 37, 128, 0.10);
		backdrop-filter: blur(8px);

		/* Provided svg has whitespaces that can't be cropped because of the shadow effect.
		 * This css, applies a negative margin to each star sibling, so it match the design. */
		.star + .star {
			margin-left: -2rem;
		}
	}

	.pass-plan-card-grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 2rem 0;

		@include media('>small') {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media('>large') {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&-button-border {
		border: 2px solid var(--text-norm);
		transition: all 0.2s linear;

		&:hover {
			border: 2px solid var(--text-norm);
			box-shadow: 0 0 8px 0 var(--text-norm);
		}
	}

	.bg-invert {
		background-color: var(--background-invert);
	}

	.border-gradient {
		border: 3px solid #8a6eff;

		@supports (background: conic-gradient(white, black)) {
			border: 3px solid transparent;
			background: linear-gradient(var(--pass-signup-bg), var(--pass-signup-bg)) padding-box,
			conic-gradient(from 0deg at 50% 50%,
					#8a6eff 0deg,
					#8a6eff 45deg,
					#C486CB 90deg,
					#C486CB 135deg,
					#FFC977 180deg,
					#FFC977 225deg,
					#F6C592 270deg,
					#8a6eff 315deg,
					#8a6eff 360deg
			) border-box;
		}
	}

	.divider-gradient {
		opacity: 0.2;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 24.06%, #FFF 50.09%, rgba(255, 255, 255, 0.00) 75.94%);
	}

	.banner-gradient-bg {
		max-width: 80%;
		background: linear-gradient(30deg, #F6C592 50%, #D397BE 90%), #191927;
	}

	.text-40 {
		font-size: 40px;
	}

	.text-md {
		font-size: 14px;
	}
}

/* Overrides */
.input, .input:hover {
	--field-background-color: transparent!important;
	--field-focus-background-color: transparent!important;
	--field-hover-background-color: transparent!important;
}

.button-outline-norm {
	background-color: transparent;
}
