.headerBlock-container {

    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid $border;
    padding: 0 0 .3em;
    margin: 0 0 1rem;
    font-size: 20px;
    font-weight: 200;

    &[data-level="2"] { border: 0 }

    [class*="title"] {
        font-weight: 200;
        font-size: 20px;
    }

    [class*="details"] {
        font-size: .8rem;
        font-weight: 400;
        color: $default-color;
    }

    [class*="link"] { color: $primary }
}


.appConfigBody-is-mobile .headerBlock-container { flex-direction: column }
