.DocumentEditorToolbar {
	border: 0.5px solid var(--border-weak);
	box-shadow: 0 4px 10px 0 rgb(0 0 0 / 0.06);

	> button,
	> button:hover,
	> button:focus,
	> button[aria-expanded='true']:not([aria-controls]) {
		color: var(--text-norm);
	}

	.suggestion-mode & > button {
		--bg: 75 185 157;

		&:hover {
			background-color: rgba(var(--bg) / 0.15);
		}

		&.active {
			background-color: rgba(var(--bg) / 0.35);
		}
	}
}
