<div class="amountRows-container">
    <label class="amountRows-label-monthly">
        <input
            class="select-cycle amountRows-input-monthly"
            type="radio"
            value="1">
        <span class="cycle" translate>Pay monthly</span>
        <span class="monthly-price"></span>
    </label>
    <label class="amountRows-label-annually">
        <input
            class="select-cycle amountRows-input-annually"
            type="radio"
            value="12">
        <span class="cycle" translate>Pay annually</span>
        <span class="annually-price"></span>
    </label>
</div>
