<div class="freeColumn-container">
    <header class="freeColumn-header">
        <h1>Free</h1>
        <total-plan data-plan="free"></total-plan>
    </header>
    <div class="freeColumn-user" translate>1 User</div>
    <div class="freeColumn-space" translate>500 MB Storage</div>
    <div class="freeColumn-address">
        <span translate>1 Address</span>
        <i class="fa fa-info-circle" pt-tooltip-translate="Add additional addresses to your account like <u>username2@protonmail.com</u>" pt-tooltip-translate-context="Info" pt-html="true"></i>
    </div>
    <div class="freeColumn-domain disabled">
        <s translate>0 Custom Domains</s>
        <i class="fa fa-info-circle"pt-tooltip-translate="Allows you to host emails for your own domain(s) at ProtonMail, e.g. <u>john@smith.com</u>" pt-tooltip-translate-context="Info" pt-html="true"></i>
    </div>
    <div class="freeColumn-sending" translate>150 Messages per day</div>
    <div class="freeColumn-labels" translate>3 Folders / 3 Labels</div>
    <div class="freeColumn-support" translate>Limited Support</div>
    <div class="freeColumn-filters disabled" translate><s>Custom Filters</s></div>
    <div class="freeColumn-autoresponder disabled" translate><s>Autoresponder</s></div>
    <div class="freeColumn-members disabled" translate><s>Multi-User Support</s></div>
    <div class="freeColumn-vpn">
        <addon-row data-addon="vpn" data-plan="free"></addon-row>
        <a class="text-purple" href="https://protonvpn.com" target="_blank"><i class="fa fa-info-circle" ></i></a>
    </div>
    <total-rows data-plan="free"></total-rows>
    <div class="freeColumn-free" translate>FREE</div>
    <footer class="freeColumn-footer">
        <select-plan data-plan="free"></select-plan>
        <add-vpn data-plan="free"></add-vpn>
    </footer>
</div>
