<div class="freeColumn-container">
    <header class="freeColumn-header">
        <div class="isCurrent" translate>Current Plan</div>
        <h1>Free</h1>
    </header>
    <div class="freeColumn-user" translate>1 User</div>
    <div class="freeColumn-space" translate>500 MB Storage</div>
    <div class="freeColumn-address">
        <span translate>1 Address</span>
        <i class="fa fa-info-circle" pt-tooltip-translate="Add additional addresses to your account like <u>username2@protonmail.com</u>" pt-tooltip-translate-context="Info" pt-html="true"></i>
    </div>
    <div class="freeColumn-domain disabled">
        <s translate>Custom Domains</s>
        <i class="fa fa-info-circle"pt-tooltip-translate="Allows you to host emails for your own domain(s) at ProtonMail, e.g. <u>john.smith@example.com</u>" pt-tooltip-translate-context="Info" pt-html="true"></i>
    </div>
    <div class="freeColumn-sending" translate>150 Messages per day</div>
    <div class="freeColumn-labels" translate>3 Folders / 3 Labels</div>
    <div class="freeColumn-support" translate>Limited Support</div>
    <div class="freeColumn-filters disabled"><s translate>Custom Filters</s></div>
    <div class="freeColumn-autoresponder disabled"><s translate>Autoresponder</s></div>
    <div class="freeColumn-catch-all disabled"><s translate>Catch-all email</s></div>
    <div class="freeColumn-members disabled"><s translate>Multi-User Support</s></div>
    <div class="freeColumn-vpn">
        <addon-row data-addon="vpn" data-plan="free"></addon-row>
    </div>
    <total-rows data-plan="free"></total-rows>
    <div class="freeColumn-free" translate>FREE</div>
    <footer class="freeColumn-footer">
        <select-plan data-plan="free"></select-plan>
        <add-vpn data-plan="free"></add-vpn>
    </footer>
</div>
