<div class="freePlan-container">
    <select class="select-vpn">
        <option value="vpnfree" translate-context="VPN plan name" translate>VPN Free</option>
        <option value="vpnbasic" translate-context="VPN plan name" translate>VPN Basic</option>
        <option value="vpnplus" translate-context="VPN plan name" translate>VPN Plus</option>
    </select>
    <span class="free" translate-context="Price display for the FREE plan" translate>Free</span>
    <amount-rows data-plan="free"></amount-rows>
    <select-plan data-plan="free"></select-plan>
</div>
