<div class="plusColumn-container">
    <header class="plusColumn-header">
        <div class="isCurrent" translate-context="Dashboard plan title" translate>Current Plan</div>
        <h1>Plus</h1>
        <plan-price data-plan="plus"></plan-price>
    </header>
    <div class="plusColumn-user" translate-context="Dashboard plan information" translate>1 User</div>
    <div class="plusColumn-space">
        <addon-row data-addon="space" data-plan="plus"></addon-row>
    </div>
    <div class="plusColumn-address">
        <addon-row data-addon="address" data-plan="plus"></addon-row>
        <i class="fa fa-info-circle" pt-tooltip-translate="Add additional addresses to your account like <u>username2@protonmail.com</u>" pt-tooltip-translate-context="Dashboard plan detail" pt-html="true"></i>
    </div>
    <div class="plusColumn-domain">
        <addon-row data-addon="domain" data-plan="plus"></addon-row>
        <i class="fa fa-info-circle" pt-tooltip-translate="Allows you to host emails for your own domain(s) at ProtonMail, e.g. <u>john.smith@example.com</u>" pt-tooltip-translate-context="Dashboard plan detail" pt-html="true"></i>
    </div>
    <div class="plusColumn-sending" translate-context="Dashboard plan information" translate>1000 Messages per day</div>
    <div class="plusColumn-labels" translate-context="Dashboard plan information" translate>200 Folders / 200 Labels</div>
    <div class="plusColumn-support" translate-context="Dashboard plan information" translate>Support</div>
    <div class="plusColumn-filters" translate-context="Dashboard plan information" translate>Custom Filters</div>
    <div class="plusColumn-autoresponder" translate-context="Dashboard plan information" translate>Autoresponder</div>
    <div class="plusColumn-catch-all disabled"><s translate-context="Dashboard plan information" translate>Catch-all email</s></div>
    <div class="plusColumn-members disabled"><s translate-context="Dashboard plan information" translate>Multi-User Support</s></div>
    <vpn-row data-plan="plus" class="plusColumn-vpn"></vpn-row>
    <total-rows data-plan="plus"></total-rows>
    <footer class="plusColumn-footer">
        <select-plan data-plan="plus"></select-plan>
    </footer>
</div>
