<div class="professionalColumn-container">
    <header class="professionalColumn-header">
        <div class="isCurrent" translate>Current Plan</div>
        <h1>Professional</h1>
        <plan-price data-plan="professional"></plan-price>
    </header>
    <div class="professionalColumn-user">
        <addon-row data-addon="member" data-plan="professional"></addon-row>
    </div>
    <div class="professionalColumn-space">
        <span class="professionalColumn-space-value" translate>5 GB Storage / User</span>
        <i class="fa fa-info-circle" pt-tooltip-translate="Click INFO to view total storage for your plan" pt-tooltip-translate-context="Info"></i>
        <button type="button" class="professionalColumn-customize pm_button link" translate>Info</button>
    </div>
    <div class="professionalColumn-address">
        <span class="professionalColumn-address-value" translate>5 Addresses / User</span>
        <i class="fa fa-info-circle" pt-tooltip-translate="Click INFO to view total number of addresses for your plan" pt-tooltip-translate-context="Info"></i>
        <button type="button" class="professionalColumn-customize pm_button link" translate>Info</button>
    </div>
    <div class="professionalColumn-domain">
        <addon-row data-addon="domain" data-plan="professional"></addon-row>
        <i class="fa fa-info-circle"pt-tooltip-translate="Allows you to host emails for your own domain(s) at ProtonMail, e.g. <u>john.smith@example.com</u>" pt-tooltip-translate-context="Info" pt-html="true"></i>
    </div>
    <div class="professionalColumn-sending">
        <span translate>Unlimited sending</span> <i class="fa fa-info-circle" pt-tooltip-translate="ProtonMail cannot be used for mass emailing or spamming. Legitimate emails are unlimited."></i>
    </div>
    <div class="professionalColumn-labels" translate>Unlimited Folders / Labels</div>
    <div class="professionalColumn-support" translate>Priority Support</div>
    <div class="professionalColumn-filters" translate>Custom Filters</div>
    <div class="professionalColumn-autoresponder" translate>Autoresponder</div>
    <div class="professionalColumn-catch-all" translate>Catch-all email</div>
    <div class="professionalColumn-members" translate>Multi-User Support</div>
    <div class="professionalColumn-vpn">
        <addon-row data-addon="vpn" data-plan="professional"></addon-row>
        <i class="fa fa-info-circle" pt-tooltip-translate="Provides ProtonVPN connections which can be assigned to users. Number of connections depends on the VPN plan selected."></i>
    </div>
    <total-rows data-plan="professional"></total-rows>
    <footer class="professionalColumn-footer">
        <select-plan data-plan="professional"></select-plan>
        <add-vpn data-plan="professional"></add-vpn>
    </footer>
</div>
