.drive-signup-pricing-card {
	&-inner,
	&-top {
		border-radius: var(--border-radius-xl);
		transition: all 0.3s ease;
	}

	&-top {
		display: grid;
		grid-template-rows: 0fr;
		opacity: 0;
		animation: couponExpandGrid 0.3s ease forwards;

		&-content {
			overflow: hidden;
		}

		.fade-in {
			animation-delay: 0.2s;
			animation-fill-mode: both;
		}
	}

	&:has(.drive-signup-pricing-card-top) &-inner {
		z-index: 2;
		border-radius: var(--border-radius-sm) var(--border-radius-sm) var(--border-radius-xl) var(--border-radius-xl);
	}

	&:has(.drive-signup-pricing-card-top) &-top {
		z-index: 1;
		border-radius: var(--border-radius-xl) var(--border-radius-xl) var(--border-radius-sm) var(--border-radius-sm);
	}
}

@keyframes couponExpandGrid {
	to {
		opacity: 1;
		grid-template-rows: 1fr;
	}
}
