<div class="autoresponderViewContainer" id="pm_settings">
    <div class="settings autoresponderView">
        <div class="row">
            <header-block class="autoresponderHeader">
                <h2
                    class="settingsVpn-title-resources"
                    translate
                    translate-context="Title">Automatic Replies</h2>
            </header-block>
            <p ng-if="isFree" class="alert alert-info" translate translate-context="Translate">Automatic replies is a paid feature. Please <a ui-sref="secured.dashboard({scroll: true})">upgrade</a> to a paid account to use this feature.</p>
            <autoresponder data-mock="{{ ::isFree }}"></autoresponder>
        </div>
    </div>
</div>
