@import '~@proton/styles/scss/lib';

.pass-modal-two--sidebar,
.pass-modal-two--sidebar-content {
	&.modal-two {
		inline-size: var(--popup-width, 100%);
		block-size: var(--popup-height, 100%);
		padding: 0;
		align-content: flex-end;
		flex-wrap: wrap;
	}

	.modal-two-dialog {
		animation-name: anime-modal-two-sidebar-dialog-in;
		border-radius: 0;
		block-size: var(--popup-height, 100%);
	}

	&.modal-two--out .modal-two-dialog {
		animation-name: anime-modal-two-sidebar-dialog-out;
	}
}

// generic sidebar modal
.pass-modal-two--sidebar .modal-two-dialog {
	--size: 55%;
}

// content sidebar modal - should reach up to the
// items list component when opened
.pass-modal-two--sidebar-content .modal-two-dialog {
	--size: 59.67%;
}

#pass-web {
	.pass-modal-two--sidebar-content .modal-two-dialog {
		@include media('<xsmall') {
			--size: 100%;
		}

		@include media('>small') {
			--size: calc(((100% - var(--pass-sidebar-size)) * 0.596));
		}
	}

	.pass-modal-two--sidebar .modal-two-dialog {
		@include media('<xsmall') {
			--size: 90%;
		}

		@include media('>small') {
			--size: calc(((100% - var(--pass-sidebar-size)) * 0.55));
		}
	}
}

@keyframes anime-modal-two-sidebar-dialog-in {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes anime-modal-two-sidebar-dialog-out {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(100%);
	}
}
