@use 'sass:math';
@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/rem' as *;

.circle-button {
	--circle-button-size: 3.5rem;

	inline-size: var(--circle-button-size);
	block-size: var(--circle-button-size);
	background-color: var(--circle-button-bg, var(--interaction-weak-minor-1)) !important;

	&:hover,
	&:focus-visible {
		background-color: var(--circle-button-bg, var(--interaction-weak-minor-1)) !important;
		outline: none !important;
	}
}

.circle-button-active {
	--circle-button-bg: var(--interaction-norm);

	color: var(--text-invert) !important;

	&:hover,
	&:focus-visible {
		--circle-button-bg: var(--interaction-norm-minor-1);
	}
}

.circle-button-default {
	--circle-button-bg: var(--interaction-weak-minor-1);

	&:hover,
	&:focus-visible {
		--circle-button-bg: var(--interaction-weak-minor-2);
	}
}

.circle-button-danger {
	--circle-button-bg: var(--signal-danger-major-3);

	&:hover,
	&:focus-visible {
		--circle-button-bg: var(--signal-danger);
	}
}

.circle-button-transparent {
	--circle-button-bg: var(--circle-button-transparent);
	--border-color: var(--circle-button-transparent);

	&:hover,
	&:focus-visible {
		--circle-button-bg: color-mix(in srgb, var(--background-invert), transparent 76%) !important;
	}
}

.circle-button-highlight {
	--circle-button-bg: var(--interaction-weak);

	&:hover,
	&:focus-visible {
		--circle-button-bg: var(--interaction-weak-minor-2);
	}
}

.indicator-warning {
	background: var(--signal-warning-major-1);
	color: var(--text-norm);
}

.indicator-default {
	background: var(--interaction-weak);
	color: var(--text-norm);
}

.indicator-success {
	background: var(--signal-success);
	color: var(--text-invert);
}

.indicator-danger {
	background: var(--signal-danger-major-3);
	color: var(--text-norm);
}
