@use 'sass:math';
@import '~@proton/styles/scss/lib';

.circle-button {
	inline-size: rem(56);
	block-size: rem(56);
	background-color: var(--circle-button-bg, var(--interaction-weak-minor-1)) !important;

	&:hover {
		background-color: var(--circle-button-bg, var(--interaction-weak-minor-1)) !important;
	}
}

.circle-button-active {
	--circle-button-bg: var(--interaction-norm);

	color: var(--text-invert) !important;

	&:hover {
		--circle-button-bg: var(--interaction-norm-major-1);
	}
}

.circle-button-default {
	--circle-button-bg: var(--interaction-weak-minor-1);

	&:hover {
		--circle-button-bg: var(--interaction-weak);
	}
}

.circle-button-danger {
	--circle-button-bg: var(--signal-danger-major-3);

	&:hover {
		--circle-button-bg: var(--signal-danger);
	}
}

.circle-button-transparent {
	--circle-button-bg: transparent;

	&:hover {
		--circle-button-bg: color-mix(in srgb, var(--background-invert), transparent 76%) !important;
	}
}

.indicator-warning {
	background: var(--signal-warning-major-1);
	color: var(--text-norm);
}

.indicator-default {
	background: var(--interaction-weak);
	color: var(--text-norm);
}

.indicator-success {
	background: var(--signal-success);
	color: var(--text-invert);
}

.indicator-danger {
	background: var(--signal-danger-major-3);
	color: var(--text-norm);
}
