.invoiceSection-container, .invoiceSection-container * { box-sizing: border-box }

.invoiceSection-title::after {
    content: ' (' attr(data-total) ')';
    font-style: italic;
    font-size: .8em;
    font-weight: normal;
}

.invoiceSection-nav {
    display: flex;
}

.invoiceSection-nav-right {
    margin-left: auto;
}

.invoiceSection-pagination.invoiceSection-pagination {
    margin-left: 1em !important;
}

.invoiceSection-nav-right .pm_button {
    height: auto;
}

.invoiceSection-nav-right > :last-of-type {
    border-right: 1px solid $border;
}
.invoiceSection-pagination > :last-child {
    border-left: 0;
}
.invoiceSection-pagination .pm_dropdown a {
    border-left: 0!important;
    border-right: 0!important;
    border-top: 0!important;
}
