.table-of-contents {
	--docs-mobile-toc-top: calc(var(--docs-editor-toolbar-height) + 2rem);
	--docs-toc-header-padding-top: 2rem;
	--docs-toc-transition-duration: 0.2s;

	inline-size: 100%;
	block-size: 100%;

	.toc-header-title {
		transition:
			transform var(--docs-toc-transition-duration) ease-in-out,
			opacity var(--docs-toc-transition-duration) ease-in-out;
	}

	.toc-list {
		transition:
			transform var(--docs-toc-transition-duration) ease-in-out,
			opacity var(--docs-toc-transition-duration) ease-in-out;
	}

	.toc-list-container {
		transition:
			opacity var(--docs-toc-transition-duration) ease-in-out,
			block-size 0s linear var(--docs-toc-transition-duration),
			padding 0s linear var(--docs-toc-transition-duration);
	}

	.toc-header {
		padding-block-start: 0;
		position: fixed;
		inset-block-start: var(--docs-mobile-toc-top);
		inset-inline-start: 0;
		pointer-events: auto;
	}

	&.is-expanded {
		inline-size: 100%;
		block-size: 100%;
		min-block-size: 0;
		overflow: hidden;

		.toc-list-container {
			flex: 1 1 0;
			min-block-size: 0;
			padding-block-start: var(--docs-mobile-toc-top);
			transition:
				opacity var(--docs-toc-transition-duration) ease-in-out,
				block-size 0s linear 0s,
				padding 0s linear 0s;
		}

		.toc-list {
			transform: none;
			opacity: 1;
		}

		.toc-header-title {
			transform: none;
			opacity: 1;
			max-inline-size: unset;
		}
	}

	&:not(.is-expanded) {
		position: relative;
		inline-size: auto;
		block-size: auto;

		.toc-header-title {
			transform: translateX(calc(-100% - 64px));
			opacity: 0;
			max-inline-size: 0;
		}

		.toc-list {
			transform: translateX(calc(-100% - 20px));
			opacity: 0;
		}

		.toc-list-container {
			position: absolute;
			inset-block-start: 0;
			inset-inline-start: 0;
			inline-size: 100%;
			block-size: 0;
			padding: 0;
			opacity: 0;
			overflow: hidden;
		}
	}

	@media (width >= 816px) {
		.toc-header {
			position: relative;
			inset-block-start: auto;
			inset-inline-start: auto;
			padding-block-start: var(--docs-toc-header-padding-top);
		}

		.toc-list {
			transition: transform var(--docs-toc-transition-duration) ease-in-out;
		}

		.toc-list-container {
			transition: none;
		}

		&.is-expanded {
			overflow: hidden;

			.toc-list-container {
				padding-block-start: 0;
			}
		}

		&:not(.is-expanded) {
			position: relative;
			inline-size: 100%;
			block-size: auto;

			.toc-header-title {
				max-inline-size: unset;
			}

			.toc-list {
				opacity: 1;
			}

			.toc-list-container {
				position: absolute;
				inset-block-start: 0;
				inset-inline-start: 0;
				inline-size: 100%;
				block-size: 0;
				padding: 0;
				opacity: 1;
				overflow: hidden;
			}
		}
	}
}

@media print {
	.table-of-contents {
		display: none !important;
	}
}
