@import '~@proton/styles/scss/lib';

.user-dropdown {
	&-button {
		@include media('<=small') {
			flex-direction: row-reverse;
			inline-size: 100%;
			padding: var(--space-2);
			border: 1px solid var(--border-weak);
			border-radius: var(--border-radius-lg);
			transition: none;
		}

		.user-initials {
			background-color: var(--interaction-default);
			transition:
				0.15s easing(ease-out-quint),
				background-position 0s;
		}

		&:hover,
		&:focus {
			.user-initials {
				background-color: var(--interaction-default-hover);
			}
		}

		&:active,
		&.is-active,
		&[aria-expanded='true'] {
			.user-initials {
				background-color: var(--interaction-default-active);
			}
		}

		&::after {
			border-radius: var(--border-radius-lg);

			@include media('>=small') {
				border-radius: var(--border-radius-md);
			}

			@include media('>=large') {
				inset: -$focus-ring-size;
			}
		}
	}

	&-text {
		&#{&} {
			// Specificity -_-v
			max-inline-size: rem(200);
			text-align: start;

			@include media('>medium') {
				text-align: end;
			}

			@include media('>=small', '<=large') {
				display: none;
			}
		}
	}
}
