:root,
.ui-standard {
	--primary: #4630A6;
	--primary-contrast: white;

	--signal-danger: #DC3251;

	--signal-warning: #FF9900;

	--signal-success: #168368;

	--signal-info: #1D4ED8;

	--interaction-norm: #4630A6;

	--interaction-weak: #D1D1D1;

	--text-norm: #000000;
	--text-weak: #4D4D4D;
	--text-hint: #666666;
	--text-disabled: #767676;
	--text-invert: #1C1B24;

	--field-norm: #4D4D4D;
	--field-hover: #333333;
	--field-disabled: #B8B8B8;
	--field-focus: #4630A6;
	--field-highlight: rgb(70 48 166 / 0.2);

	--border-norm: #A8A8A8;
	--border-weak: #C2C2C2;

	--background-norm: #FFFFFF;
	--background-weak: #F5F5F5;
	--background-strong: #E6E6E6;

	--interaction-default: transparent;
	--interaction-default-hover: rgb(194 194 194 / 0.3);
	--interaction-default-active: rgb(194 194 194 / 0.6);

	--shadow-norm-opacity: 0.1;
	--shadow-lifted-opacity: 0.16;

	--backdrop-norm: rgb(0 0 0 / 0.32);

	/* Optional colors */

	--optional-scrollbar-thumb-color: #C2C2C2;
	--optional-scrollbar-thumb-hover-color: #A8A8A8;

	--optional-email-item-read-background-color: var(--background-weak);
	--optional-email-item-read-text-color: var(--text-norm);

	--optional-logo-text-proton-color: #1B1340;
	--optional-logo-text-product-color: #6D4AFF;
}
