.filter-modal-container [data-info]:not(:first-of-type)::before {
  content: attr(data-info);
  margin: auto;
  margin-right: 1rem;
}

.filterModal-item-label + .filterModal-item-label { margin-top: .5rem; }
.filter-modal-container .squireToolbar-action-mode { display: none }
