.messageView-contaniner {
    @include flexColumn();
}

.message-container.sent:not(.draft) .message-summary {
    @extend .is-outbound

}
.message-container:not(.sent):not(.draft) .message-summary {
    @extend .is-inbound
}

.message-container.draft {
    border-color: $pm-global-muted;
    .mailboxitem-folder { display: none }
}

@keyframes nodeInserted {
    from { opacity: 0.99; }
    to { opacity: 1; }
}

.clipboardInput {
    position: absolute;
    height: 0;
    font-size: 0;
    border: 0;
    padding: 0;
}

.details .contact .message-address-action-button {
    padding-left: 6px;
}

.foldersMessage-container {
    margin-left: .5em;
    &:empty {
        margin-left: 0;
    }
}


.recipients-summary-label + .recipients-summary-label::before {
    content: ', ';
}

#conversation-view {
    header {

        -webkit-backface-visibility: hidden; /* fix safari issue on containsMessage not diplayed properly */

        /*
        Supercalifragilisticexpialidocious h1
        avoid child shrink which is accomplished here by min-content
        */
        min-height: -moz-min-content;
        min-height: -webkit-min-content;
        min-height: min-content;

        h1 {
          font-size: 2.4rem;
          font-weight: 400;
        border-left: 1px solid transparent;

        }
    }
    .message {

        &.unread .message-header {
            background: $white
        }

        .recipients-details .messageContacts-email { margin-left: .5em; }

        &:not(.open) {
            .message-frame,
            .recipients-details-bccGroup,
            .message-contact-sender,
            .recipients-details-ccGroup {
                display: none !important;
            }

            .summary { overflow: hidden }
        }

        &:not(.details) {
            .time-readable,
            .recipients-details,
            .toggleDetails-label-hide { display: none !important }
        }

        &.details {
            .recipients-summary,
            .toggleDetails-label-show { display: none !important }
        }

        &:not(.hasSender) .message-contact {display: none}

        .summary,
        .details {
            float: left;
            width: 100%;
            clear: both;
        }
        .message-contact-sender { color: $primary }
        &.marked {
            .summary, .details {
                box-shadow: inset 5px 0 0 $primary;
            }
        }
        &.open {
            & > .message-header {
                padding-bottom: 0;
            }
            & > .message-expand-wrapper > .message-header {
                padding-top: 0;
            }
            .summary {
                .meta {
                    .contact {
                        strong {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        &.details.open {
            .summary {
                height: 50px;
                .meta {

                    .history {
                        float: left;
                        margin: 0 .5rem 0 0;
                        display: inline-block;
                        height: 40px;
                        line-height: 40px;
                    }
                    .contact {
                        div.from {
                            text-align: left;
                        }
                        em {
                            display:-webkit-flex;
                            display: flex;
                            position: absolute;
                            bottom:5px;
                            line-height: 20px;
                            height: 1rem;

                            a {
                                line-height: 20px;
                                padding: 0px 3px;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
        &.unread:not(.open) .summary {
            background: $white;
            .meta .contact strong {
                font-weight: 700;
            }
            .labels,
            .location.folders,
            .summary-right {
                background: $white !important;
            }
        }
        .summary {
            display: flex;
            background: $tertiary;
            border-radius: $border-radius;
            padding: 0 10px;
            text-align: right;
            font-size: .9em;
            cursor: pointer;
            position: relative;
            span i.fa {
                margin-left: .5rem;
            }
            span .signature-status i.fa {
                margin: 0;
            }
            .signature-status {
                color: $primary;
                .fa-warning::before {
                    background: radial-gradient(circle at 50% 55%, white, white 35%, transparent 36%, transparent);
                }
                .no-keys {
                    color: orange;
                }
                .invalid-sig {
                    color: indianred;
                }
            }
            .summary-left {
                display: flex;
                flex: 1;
                overflow: hidden;

                .meta {
                    display: flex;
                    flex: 1;
                    overflow: hidden;
                    .history {
                        display: block;
                        flex-shrink: 0;
                        padding-right: 0.25em;
                        line-height: 40px;
                    }
                }
                .location.sent {
                    flex: initial;
                }
                .location.sent {
                    padding-left: 6px;

                    .fa-folder {
                        display: none;
                    }
                }
            }
            .summary-right {
                flex: initial;
                background: $tertiary;
                display: inline-block;
                z-index:2;
            }
            .message-attachments {
                margin-left: .45rem;
            }
            .labels,
            .location.folders,
            .message-attachments {
                display: inline-block;
                position: relative;
                z-index: 2;
                background: $tertiary;
            }
            .location.folders .pm_tag {
                display: none;
            }
            .meta {
                white-space: nowrap; /* single line for long from */
                .contact {
                    display: flex;
                    align-items: baseline;
                    min-width: 0; // to allow the contact box to shrink
                    strong {
                        font-weight: normal;
                    }
                    span {
                        color: $default-color-medium;
                    }
                }
            }
            .location {
                .loc {
                    color: rgba(0,0,0,.5);
                    margin-left: .25rem;
                }
            }

            .encryptionStatus {
                padding-left: 0.25em;

                .fa {
                    color: $default-color-medium;
                    display: inline-block;
                    text-align: right;
                    width: 1rem;
                    font-size: 16px;
                    margin-left: -3px;
                    margin-right: 4px;
                    &.pgp {
                        color: $pgp;
                    }
                }
                a {
                    text-decoration: none;
                }
                svg {
                    // Make click events trigger on the parent <a> so that it doesn't toggle the message
                    pointer-events: none;
                }
                .signed-lock {
                    fill: $default-color-medium;
                    display: inline-block;
                    height: 15px;
                    margin-left: 2px;
                    margin-right: -1px;
                    margin-bottom: -1px;
                    // correct for the checkmark so that the lock is on the same place as the fa-lock

                    &.valid-sig {
                        // darken the checkmark for more contrast
                        color: $pgp; // signed with pgp but not encrypted with pgp

                        &.internal {
                            color: darken($primary, 10);
                        }

                        &.pgp {
                            color: darken($pgp, 10);
                        }
                    }

                    &.internal {
                        fill: $primary;
                    }

                    &.pgp {
                        fill: $pgp;
                    }

                    &.invalid-sig {
                        color: indianred;
                    }

                    &.no-keys {
                        color: orange;
                    }
                }
            }

            .from-value {
                display: inline-block;
                overflow-y: hidden;
                overflow-x: hidden;
                text-overflow: ellipsis;
                vertical-align: middle;
                text-align: left;
                padding-left: 0.25em; // width of a space
            }
        }
        .details {
            border-bottom: 1px solid $border;
            background: $tertiary;
            padding: 0 10px 10px;
            clear: both;
            .pull-right .pm_buttons {
                margin: 0 0 0 4px;
            }
            .pm_buttons {
                a {
                    background: $white;
                    border-right: 0;
                    border-radius: 0;
                }
                .pm_buttons:first-of-type a,
                & > .dropdown-actions-nowrap-reply {
                    border-radius: 2px 0 0 2px;
                }
                .pm_buttons:last-of-type a,
                & > .dropdown-actions-nowrap-more {
                    border-radius: 0 2px 2px 0;
                    border-right: 1px solid $border;
                }
            }
            .recipients-summary {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                strong {
                    display: inline-block;
                    color: $default-color-medium;
                    font-weight: normal;
                    display: inline-block;
                }
                .from {
                    width: 3rem;
                    color: $default-color-medium;
                }
            }
            .action-row {
                padding: 10px 0;
                clear: both;
                float: left;
                width: 100%;
            }
        }
        .frame {
            padding: 1em;
            overflow-x: auto;
            box-sizing: content-box; // to avoid problems in some emails

            .email {
                position: relative;
                .pm_button.more {
                    line-height: 1rem;
                    height: 1rem;
                    background: $tertiary;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    display: block;
                }
                blockquote.protonmail_quote {
                    position: relative
                }
            }
        }

        .bodyDecrypted {
            will-change: transform;
            animation: nodeInserted;
            animation-duration: 0.001s;
        }
    }
}

.message.unread:not(.draft) {
    .message-header {
        background: $white
    }

    .message-header.message-summary::before {
        background-color: $white;
    }

    .message-header.message-summary::before {
        background-color: $white;

    }
}

.bodyDecrypted {
    /* Forbidden property on almost ALL clients IE add a space :) */
    [style*="position:absolute"],
    [style*="position: absolute"] {
        position: relative !important;
    }

    table {
        table-layout: auto
    }
}

.bodyDecrypted.plain {
    white-space: pre-wrap;
    font-family: monospace;
}

.bodyDecrypted pre code {
    white-space: pre-wrap;
    background-color: transparent;
}

.message:not(.message-is-replied):not(.message-is-repliedall):not(.message-is-forwarded) [data-if-is],
.message.message-is-replied [data-if-is]:not([data-if-is="replied"]),
.message.message-is-repliedall [data-if-is]:not([data-if-is="repliedall"]),
.message.message-is-forwarded [data-if-is]:not([data-if-is="forwarded"]) {
    display: none !important;
}

.message.marked {
    border-color: $pm-blue;
    border-width: 2px;

    .message-summary.message-summary.message-summary::before {
        top: -2px;
        border-top-color: $pm-blue;
        border-top-width: 2px;
    }
}

.message.marked.sent {
    .message-summary.message-summary::before {
        border-right-width: 2px;
        border-right-color: $pm-blue;
        right: -2px;
    }
}
.message.marked:not(.sent) {
    .message-summary.message-summary::before {
        left: -2px;
        border-left-width: 2px;
        border-left-color: $pm-blue;
    }
}

#conversation-view:empty,
.message.message-mode-plain .displayContentBtn-container { display: none }

.protonmail_signature_block-empty { /* https://github.com/ProtonMail/Angular/issues/4813 */
    opacity: 0;
    height: 0;
    overflow: hidden;
}

// Replicated in squireEditor.js
// Handle outlook https://github.com/ProtonMail/Angular/issues/6711
p.MsoNormal, li.MsoNormal, div.MsoNormal {
    margin: 0;
}

// MOBILE
body.appConfigBody-is-mobile {
    #conversation-view .message .from {
            display: none;
    }
}
@media (max-width: 1350px) {
    #conversation-view {
        .message {
            .summary {
                height: 60px;
                position: relative;
                .summary-right {
                    position: initial;
                    line-height: 25px;
                    min-width: 175px;
                }
                .summary-left {
                    line-height: 35px;
                    .meta .history {
                        line-height: 35px;
                    }
                }
                .location {
                    &.folders {
                        position: absolute;
                        left: 20px;
                        bottom: 5px;
                        z-index: 5;
                        .pm_tag {
                            display: inline-block;
                            margin: 0;
                        }
                    }
                    &.sent {
                        display: none;
                    }
                }
                .labels {
                    position: absolute;
                    right: 23px;
                    bottom: 5px;
                    z-index: 5;
                }
            }
            & > div.details {
                & > .recipients-summary {
                    position: relative;
                    top: -27px;
                    max-width: 85%;
                }
                .contact {
                    em {
                        display: block;
                        padding-bottom: .5rem;
                    }
                }
            }
            &.details {
                .summary {
                    margin-bottom: 0;
                    .meta {
                        position: static;
                        left: initial;
                        top: initial;
                        .contact {
                            strong {
                                position: absolute;
                                left: 10px;
                                top: 5px;
                            }
                            em {
                                position: absolute;
                                left: 10px;
                                bottom: 10px;
                                color: $default-color-medium;
                            }
                        }
                    }
                }
                &.open .summary {
                    .meta {
                        margin-top: 5px;
                        .contact {
                            strong {
                                position: static;
                            }
                        }
                    }
                }
            }
            &.sent,
            &.draft {
                .details {
                    .recipients-summary {
                        padding-left: 12px;
                    }
                }
            }
        }
    }
    .message .details .action-row .pm_buttons a  { padding: 0 8px }
}

.message-summary-labels-list {
    max-width: 100%;

    .labelsMessage-label {
        margin-top: 0;
        margin-right: .25em;
    }

    .labelsMessage-label:not(:first-of-type) {
      max-width: .5rem;
      padding-right: 0;
      overflow: hidden;
      border-left-width: 0 !important;
      border-radius: 0 3px 3px 0;
    }

    .labelsMessage-label:not(:first-of-type):hover {
      border-left-width: 2px !important;
      border-radius: 3px;
      max-width: 8rem;
      line-height: 14px;
      padding: 0 .4rem;
    }
}

.ua-safari .message-body-container a {
    margin-left: 1px
}

/*
    If the link is around an image by default its height = font-size + line-heigt ratio. Often < img height.
    If pointer-events: none; on the image the link won't be extended by the browser to be around the whole image when we click.
 */
.message-body-container a *:not(img) {
    pointer-events: none;
}

.proton-message-blockquote-toggle ~ * {display: none !important}
.print .proton-message-blockquote-toggle {
    display: none;
    ~ * {
        display: block !important
    }
}

.print .protonmail_quote {
    /* 72 DPI will let us margin 2 blockquote */
    min-width:595px;
}
#conversation-view .message.message-undisclosed .recipients-summary { display: block !important }



.message-attachmentIcon .file-outer-icon:not(.single) {
    fill: lighten($pm-global-altgrey, 40%)
}
.message-attachmentIcon .file-outer-icon.is-embedded {
    fill: $pm-blue
}


.message-attachmentIcon .file-inner-icon {
    position: absolute;
    right: 15%;
    top: 65%;
    transform: translateY(-50%);
    fill: $black
}
