.trust-public-key {

    .fingerprint {
        width: 50%
    }

    input:not(.ng-invalid):not(:focus):not(.empty) {
        border: 0;
        -webkit-appearance: none;
        background: none;
        box-shadow: none;
        padding: 0;
        color: #555;

        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px white inset;
            -webkit-text-fill-color: #555;
        }
    }
}
