.unsubscribePanel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
    border-top: 1px solid $border;
    background: darken($tertiary, 4);
    color: $secondary;
    font-size: .9em;
}


.unsubscribePanel-notice::before {
    content: "\f1ea";
    font-family: FontAwesome;
}

.unsubscribePanel-notice-text { font-weight: bold }
.unsubscribePanel-notice-link { color: inherit }
.unsubscribePanel-notice-link:hover { text-decoration: none }
.unsubscribePanel-button { background: $white }
