<div class="pm_modal {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" translate translate-context="Title">Create address</h4>
            </div>
            <div class="modal-body pm_form">
                <div ng-if="ctrl.keyPhase > 3">
                    <label>Choose the member who will own this address:</label>
                    <div class="pm_grid">
                        <div class="col-1-2">
                            <span class="pm_select">
                                <select ng-model="ctrl.member" ng-options="member.Name for member in ctrl.members"></select>
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </div>
                        <div class="col-1-2" ng-show="ctrl.keyPhase > 3">
                            <button ng-click="ctrl.addMember()" class="pm_button" translate-context="Action" translate-comment="button" translate>Add Member</button>
                        </div>
                    </div>
                </div>
                <div ng-show="ctrl.member.Private === 0 || ctrl.member.Self">
                    <label>Choose key strength:</label>
                    <div class="pm_grid">
                        <div class="col-1-2">
                            <label class="checkbox">
                                <input type="radio" ng-model="ctrl.size" value="2048" />
                                <strong translate translate-context="Title" translate-comment="form option heading">High security</strong> (2048-bit)
                            </label>
                        </div>
                        <div class="col-1-2">
                            <label class="checkbox">
                                <input type="radio" ng-model="ctrl.size" value="4096" ng-disabled="ctrl.process === true" />
                                <strong translate translate-context="Title" translate-comment="form option heading">Highest security</strong> (4096-bit)
                            </label>
                        </div>
                    </div>
                </div>
                <label>Enter address:</label>
                <div class="pm_grid">
                    <div class="col-1-2">
                        <input autofocus type="text" ng-model="ctrl.address" placeholder-translate="Address" />
                    </div>
                    <div class="col-1-3" ng-show="ctrl.domains.length === 1">
                        <label>@{{ ctrl.domain.DomainName }}</label>
                    </div>
                    <div class="col-1-3" ng-show="ctrl.domains.length > 1">
                        <span class="pm_select">
                            <select ng-model="ctrl.domain" ng-options="'@'+domain.DomainName for domain in ctrl.domains"></select>
                            <i class="fa fa-angle-down"></i>
                        </span>
                    </div>
                </div>
                <div ng-show="ctrl.member.Private === 0 || ctrl.member.Self">
                    <div class="pm_grid alert alert-warning">
                        <div class="col-1-1" translate>
                        Clicking <strong>Save</strong> will generate encryption keys and may freeze ProtonMail for several minutes depending on your device and key strength selection.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button type="button" class="pm_button" ng-click="ctrl.cancel()" ng-disabled="networkActivity.loading()" translate translate-context="Action">Cancel</button>
            <button type="button" class="pm_button primary" ng-click="ctrl.submit()" ng-disabled="networkActivity.loading()" translate translate-context="Action">Save</button>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
