<div class="pm_modal pm_fadeIn {{this.class}}" role="dialog" id="advancedSearchModal">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h3>{{ 'ADVANCED_SEARCH' | translate }}</h3>
            </div>
            <div class="modal-body pm_form">

                <div class="row">
                    <span class="col narrow">
                        <label for="search_keywords">{{ 'KEYWORDS' | translate }}</label>
                    </span><!--/.col-->
                    <span class="col full last">
                        <input id="search_keywords" type="text" placeholder="{{ 'KEYWORDS' | translate }}" ng-model="ctrl.keywords" />                    
                    </span>
                </div>

                <div class="row">
                    <span class="col narrow">
                        <label for="search_folder">{{ 'FOLDER' | translate }}</label>                        
                    </span><!--/.col-->
                    <span class="col wide">
                        <select id="search_folder">
                            <optgroup label="Default">
                                <option value="-1" selected="selected">{{ 'ALL' | translate }}</option>
                            </optgroup>
                            <optgroup label="Folders">
                                <option ng-repeat="(key, value) in ctrl.folders" value="{{value}}">{{key}}</option>
                            </optgroup>
                        </select>
                    </span><!--/.col-->
                   <span class="col narrow">
                        <label for="search_label">{{ 'LABEL' | translate }}</label>
                    </span><!--/.col-->
                    <span class="col wide last">
                        <select id="search_label" class="form-control">
                            <optgroup label="Default">
                                <option value="0">{{ 'ALL_MESSAGES' | translate }}</option>
                            </optgroup>
                            <optgroup label="{{ 'LABELS' | translate }}">
                                <option value="{{label.ID}}" ng-repeat="label in ctrl.labels">{{label.Name}}</option>
                            </optgroup>
                        </select>
                    </span><!--/.col-->                    
                </div><!--/.row-->

                <div class="row">
                    <span class="col narrow">
                        <label for="search_sender">{{ 'SENDER' | translate }}</label>
                    </span><!--/.col-->
                    <span class="col wide">
                        <input type="text" id="search_sender" ng-model="ctrl.from" placeholder="{{ 'FROM' | translate }}" />
                    </span><!--/.col-->
                    <span class="col narrow">
                        <label for="search_recipient">{{ 'RECIPIENT' | translate }}</label>
                    </span><!--/.col-->
                    <span class="col wide last">
                        <input type="text" id="search_recipient" ng-model="ctrl.to" placeholder="{{ 'TO' | translate }}" />
                    </span><!--/.col-->
                </div><!--/.row-->

                <div class="row">
                    <span class="col narrow">
                        <label for="search_start">{{ 'START_DATE' | translate }}</label>
                    </span><!--/.col-->
                    <span class="col wide date">
                        <input type="text" placeholder="dd/mm/yy" pikaday="ctrl.start" id="search_start" on-select="setMin()" />
                        <em class="fa fa-calendar`"></em>
                    </span><!--/.col-->
                    <span class="col narrow">
                        <label for="search_end">{{ 'END_DATE' | translate }}</label>
                    </span><!--/.col-->
                    <span class="col wide last date">
                        <input type="text" placeholder="dd/mm/yy" pikaday="ctrl.end" id="search_end" on-select="setMax()" />
                        <em class="fa fa-calendar"></em>
                    </span><!--/.col-->                    
                </div><!--/.row-->

                <div class="row">
                    <span class="col narrow">
                        <label>{{ 'ATTACHMENTS' | translate }}</label>
                    </span><!--/.col-->
                    <span class="col wide">
                        <div class="radio">
                            <label for="attachments_all">
                                <input id="attachments_all" type="radio" ng-model="ctrl.attachments" value="2" /> {{ 'ALL' | translate }}
                            </label>
                            <label for="attachments_yes">
                                <input id="attachments_yes" type="radio" ng-model="ctrl.attachments" value="1" /> {{ 'YES' | translate }}
                            </label>
                            <label for="attachments_no">
                                <input id="attachments_no" type="radio" ng-model="ctrl.attachments" value="0" /> {{ 'NO' | translate }}
                            </label>
                        </div>
                    </span><!--/.col-->
                    <span class="col narrow">
                        <label>{{ 'IS_STARRED' | translate }}</label>
                    </span><!--/.col-->
                    <span class="col wide last">
                        <div class="radio">
                            <label for="starred_all">
                                <input id="starred_all" type="radio" ng-model="ctrl.starred" value="2" /> {{ 'ALL' | translate }}
                            </label>
                            <label for="starred_yes">
                                <input id="starred_yes" type="radio" ng-model="ctrl.starred" value="1" /> {{ 'YES' | translate }}
                            </label>
                            <label for="starred_no">
                                <input id="starred_no" type="radio" ng-model="ctrl.starred" value="0" /> {{ 'NO' | translate }}
                            </label>
                        </div>
                    </span><!--/.col-->
                </div><!--/.row-->

            </div>
            <div class="modal-footer text-right">
                <a href class="pm_button" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</a>
                <a href class="pm_button primary" ng-click="ctrl.search()">{{ 'SEARCH' | translate }}</a>
            </div>
        </div>
    </div>
    <div class="modal-overlay" ng-click="ctrl.cancel()"></div>  
</div>