<div class="pm_modal {{ctrl.class}}" role="dialog" style="display: block;" id="bugModal">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{ 'ADD_NEW_ALIAS' | translate }}</h3>
            </div>
            <div class="modal-body pm_form">

    <pre>
        {{ ctrl.goodUsername }}
        {{ ctrl.badUsername }}
        {{ ctrl.checkingUsername }}
    </pre>
                <label>{{ 'CHOOSE_ALIAS' | translate }}</label>
                <div class="usernameWrap">
                    <p class="help">This will be a new address you can send and recieve emails with.</p>
                    <div class="clearfix">
                        <input
                        type="text"
                        ng-model="ctrl.alias.local"
                        name="Username"
                        autofocus
                        placeholder="{{ 'ALIAS' | translate }}"
                        required
                        class="inline"
                        ng-change="ctrl.checkAvailability(true)"
                        ng-model-options="{ debounce: 1000 }"
                        ng-class="{
                            'success':goodUsername,
                            'error':badUsername
                        }">
                        <em class="usernameDomain">@</em>
                        <span class="pm_select inline bigger">
                            <select class="selectDomain" ng-model="ctrl.alias.domain" ng-options="domain.label for domain in ctrl.domains"></select>
                            <i class="fa fa-angle-down"></i>
                        </span>
                        <em class="fa fa-spin fa-spinner" ng-show="ctrl.checkingUsername"></em>
                    </div>
                    <div ng-show="ctrl.goodUsername">
                        <p class="alert alert-success"><i class="fa fa-check"></i> Email available!</p>
                    </div>
                    <div ng-show="ctrl.badUsername">
                        <p class="alert alert-danger"><i class="fa fa-times"></i> Email already taken.</p>
                    </div>
                </div>

                <p class="alert">
                    Aliases can never be deleted (only disabled). This means that once you create an alias it will always count towards your alias limit. <a href="https://protonmail.com/support/knowledge-base/aliases-within-protonmail/" target="_blank">Learn more about aliases here.</a>
                </p>
            </div>
        </div>
        <div class="modal-footer text-right">
            <a class="pm_button pull-left" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</a>
            <button ng-class="{disabled: networkActivity.loading()}" type="button" ng-click="ctrl.add()" class="pm_button primary">{{ 'SUBMIT' | translate }}</button>
        </div>
    </div>
    <div class="modal-overlay" ng-click="ctrl.cancel()"></div>
</div>
