<div class="pm_modal {{ctrl.class}}" role="dialog" style="display: block;" id="bugModal">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{ 'ADD_NEW_ALIAS' | translate }}</h3>
            </div>
            <div class="modal-body pm_form">

                <pre>
                    {{ ctrl.domains }}
                </pre>

                <div class="usernameWrap">
                    <p class="help">This will be your email address. Select the drop down to choose your domain.</p>
                    <strong ng-show="readOnlyUsername" ng-bind="alias.local"></strong>
                    <input ng-hide="readOnlyUsername" type="text" ng-model="alias.local" name="Username" autofocus placeholder="{{ 'CHOOSE_USERNAME' | translate }}" required
                    id="Username" class="dead" ng-change="checkAvailability(true)" ng-model-options="{ debounce: 1000 }"
                    ng-class="{
                        'success':goodUsername,
                        'error':badUsername
                    }">
                    <em class="usernameDomain">@</em>
                    <span class="pm_select inline bigger">
                        <select class="selectDomain" ng-model="alias.domain" ng-options="domain.label for domain in ctrl.domains"></select>
                        <i class="fa fa-angle-down"></i>
                    </span>
                    <em class="fa fa-spin fa-spinner" ng-show="checkingUsername"></em>
                </div>

            </div>
        </div>
        <div class="modal-footer text-right">
            <a class="pm_button pull-left" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</a>
            <button ng-class="{disabled: networkActivity.loading()}" type="button" ng-click="ctrl.add()" class="pm_button primary">{{ 'SUBMIT' | translate }}</button>
        </div>
    </div>
    <div class="modal-overlay" ng-click="ctrl.cancel()"></div>
</div>
