<div class="pm_modal {{ctrl.class}}" role="dialog" style="display: block;" id="bugModal">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{ 'REPORT_BUG' | translate }}</h3>
            </div>
            <div class="modal-body pm_form">

                <p class="alert alert-info text-center">
                    <strong>{{ 'HAVE_A_QUESTION?' | translate }}</strong> {{ 'VISIT_KB_MESSAGE' | translate }}.
                </p>

                <div class="row">
                    <span class="col narrow">
                        <label class="control-label" for="bug_os">
                        {{ 'OPERATING_SYSTEM' | translate }}
                        </label>
                    </span><!--/.col-->
                    <span class="col wide">
                        <select
                        ng-model="ctrl.form.OS"
                        tabindex="1"
                        name="bug_os"
                        id="bug_os"
                        class="margin">
                            <option disabled value="">- {{ 'CHOOSE' | translate }} -</option>
                            <option value="osx">{{ 'MAC_OSX' | translate }}</option>
                            <option value="ios">{{ 'IOS' | translate }}</option>
                            <option value="android">{{ 'ANDROID' | translate }}</option>
                            <option value="windows">{{ 'WINDOWS' | translate }}</option>
                            <option value="linux">{{ 'LINUX' | translate }}</option>
                            <option value="other">{{ 'OTHER' | translate}}</option>
                        </select>
                    </span><!--/.col-->
                    <span class="col narrow">
                        <label class="control-label" for="bug_os_version">
                        {{ 'OS_VERSION' | translate }}
                        </label>
                    </span><!--/.col-->
                    <span class="col wide last">
                        <input
                        tabindex="2"
                        class="margin"
                        placeholder="{{ 'OS_VERSION' | translate }}"
                        type="text"
                        id="bug_os_version"
                        ng-model="ctrl.form.OSVersion"/>
                    </span><!--/.col-->
                </div><!--/.row-->

                <div class="row">
                    <span class="col narrow">
                        <label class="control-label" for="bug_browser">
                        {{ 'BROWSER' | translate }}
                        </label>
                    </span><!--/.col-->
                    <span class="col wide">
                        <input
                        tabindex="3"
                        class="margin"
                        type="text"
                        name="bug_browser"
                        id="bug_browser"
                        placeholder="Browser"
                        ng-model="ctrl.form.Browser">
                    </span><!--/.col-->
                    <span class="col narrow">
                        <label class="control-label" for="bug_browser_version">
                        {{ 'BROWSER_VERSION' | translate }}
                        </label>
                    </span><!--/.col-->
                    <span class="col wide last">
                        <input
                        tabindex="4"
                        class="margin"
                        type="text"
                        name="bug_browser_version"
                        id="bug_browser_version"
                        placeholder="Browser"
                        ng-model="ctrl.form.BrowserVersion">
                    </span><!--/.col-->
                </div><!--/.row-->

                <div class="row">
                    <span class="col narrow">
                        <label for="bug_email">{{ 'EMAIL_ADDRESS' | translate }}</label>
                    </span><!--/.col-->
                    <span class="col full last">
                        <input
                        type="text"
                        class="margin"
                        name="bug_email"
                        id="bug_email"
                        placeholder="Please make sure to give us a way to contact you"
                        ng-model="ctrl.form.Email">
                    </span><!--/.col-->
                </div><!--/.row-->
                <div class="row">
                    <span class="col narrow">
                        <label class="control-label" for="bug_description">{{' WHAT_HAPPENED?' | translate }}</label>
                    </span><!--/.col-->
                    <span class="col full last">
                        <textarea
                        ng-model="ctrl.form.Description"
                        class="margin"
                        name="bug_description"
                        rows="6"
                        id="bug_description"
                        placeholder="Please describe the problem and include any error messages">
                        </textarea>

                        <label class="control-label" for="bug_description">
                            {{' ATTACH_SCREENSHOT' | translate }}
                        </label>

                        <toggle status="ctrl.form.attachScreenshot" on="{{ 'YES' | translate }}" off="{{ 'NO' | translate }}"></toggle>

                        <p class="alert alert-info" ng-if="ctrl.form.attachScreenshot">{{ 'SCREENSHOT_IMGUR_MESSAGE' | translate }}</p>
                        <p>{{ 'BUG_REPORT_DISCLAIMER' | translate }}</p>
                        <p class="alert alert-info text-center">{{ 'SECURITY_CONTACT_MESSAGE' | translate }}</p>
                    </span><!--/.col-->
                </div><!--/.row-->

            </div>
        </div>
        <div class="modal-footer text-right">
            <a class="pm_button pull-left" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</a>
            <button ng-class="{disabled: networkActivity.loading()}" type="button" ng-click="ctrl.submit()" class="pm_button primary">{{ 'SUBMIT' | translate }}</button>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
