<div class="pm_modal small {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <form method="post" ng-submit="ctrl.submit()" novalidate="" name="cardForm">
            <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'PAYMENT_DETAILS' | translate }}</h4>
                </div>
                <div class="modal-body pm_form">
                    <p>{{ ctrl.text }}</p>
                    <div class="pm_grid">
                        <div class="col-1-1">
                            <div class="margin">
                                <input type="text" ng-model="ctrl.fullname" ng-change="ctrl.cardChange = true" ng-model-options="{updateOn: 'blur'}" placeholder="{{ 'NAME_ON_CARD' | translate }}" />
                            </div>
                            <div class="pm_grid margin">
                                <div class="col-2-3">
                                    <span class="pm_select">
                                        <select ng-model="ctrl.country" ng-change="ctrl.cardChange = true" ng-options="country.label for country in ctrl.countries | orderBy: 'priority'"></select>
                                        <i class="fa fa-angle-down"></i>
                                    </span>
                                </div>
                                <div class="col-1-3">
                                    <input type="text" minlength="3" maxlength="9" autocomplete="off" ng-model="ctrl.zip" ng-change="ctrl.cardChange = true" ng-model-options="{updateOn: 'blur'}" placeholder="{{ 'ZIP_CODE' | translate }}" required />
                                </div>
                            </div>
                            <div class="input-icon margin">
                                <card-icon number="ctrl.number"></card-icon>
                                <input type="text" maxlength="20" autocomplete="off" ng-model="ctrl.number" ng-change="ctrl.cardChange = true" ng-model-options="{updateOn: 'blur'}" placeholder="{{ 'CARD_NUMBER' | translate }}" required />
                            </div>
                            <div class="pm_grid margin">
                                <div class="col-1-3">
                                    <div class="input-icon">
                                        <i class="fa fa-calendar"></i>
                                        <input type="text" maxlength="2" autocomplete="off" ng-model="ctrl.month" ng-change="ctrl.cardChange = true" ng-model-options="{updateOn: 'blur'}" placeholder="MM" pt-tooltip="{{ 'MONTH' | translate }}" required />
                                    </div>
                                </div>
                                <div class="col-1-3">
                                    <div class="input-icon">
                                        <i class="fa fa-calendar"></i>
                                        <input type="text" maxlength="4" autocomplete="off" ng-model="ctrl.year" ng-change="ctrl.cardChange = true" ng-model-options="{updateOn: 'blur'}" placeholder="YY" pt-tooltip="{{ 'YEAR' | translate }}" required />
                                    </div>
                                </div>
                                <div class="col-1-3">
                                    <div class="input-icon">
                                        <i class="fa fa-lock"></i>
                                        <input type="text" maxlength="4" autocomplete="off" ng-model="ctrl.cvc" ng-change="ctrl.cardChange = true" ng-model-options="{updateOn: 'blur'}" placeholder="CVC" pt-tooltip="Card Validation Code" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="pm_button" ng-click="ctrl.cancel()" ng-disabled="ctrl.process === true">{{ 'CANCEL' | translate }}</button>
                <button type="submit" class="pm_button primary pull-right" ng-disabled="ctrl.process  === true || ctrl.cardChange === false">{{ 'SUBMIT' | translate }}</button>
            </div>
        </form>
    </div>
    <div class="modal-overlay"></div>
</div>
