<div class="pm_modal pm_fadeIn {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="ctrl.title">
                <h4 class="modal-title">{{ctrl.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="alert no-margin-bottom" ng-bind-html="ctrl.message"></div>
            </div>
            <div class="modal-footer text-right">
                <a href class="pm_button" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</a>
                <button tabindex="1" type="button" class="pm_button primary" ng-click="ctrl.confirm()">{{ 'CONFIRM' | translate }}</button>
            </div>
        </div>
    </div>
    <div class="modal-overlay" ng-click="ctrl.cancel()"></div>
</div>