<div class="pm_modal {{this.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <form method="post" name="contactForm" novalidate ng-submit="ctrl.save()">
            <div class="modal-content pm_form alt">
                <div class="modal-header" ng-show="ctrl.title">
                    <h3 class="modal-title">{{ctrl.title}}</h3>
                </div>
                <div class="modal-body">
                    <div class="clearfix">
                        <span class="col left">
                            <label class="control-label" for="contactName">{{ 'NAME' | translate }}*</label>
                        </span>
                        <span class="col wide right">
                            <input type="text" id="contactName" name="contactName" class="form-control" ng-model="ctrl.name" placeholder="{{ 'CONTACT_NAME' | translate }}" required />
                        </span>
                    </div>
                    <div class="clearfix">
                        <span class="col left">
                            <label class="control-label" for="contactEmail">{{ 'EMAIL' | translate }}*</label>
                        </span>
                        <span class="col wide right">
                            <input type="email" id="contactEmail" name="contactEmail" class="form-control" ng-model="ctrl.email" placeholder="{{ 'CONTACT_EMAIL' | translate }}" required />
                        </span>
                    </div>
                    <!-- <div class="clearfix">
                        <span class="col left">
                            <label class="control-label" for="contactPhone">{{ 'PHONE' | translate }}</label>
                        </span>
                        <span class="col wide right">
                            <input tabindex="3" type="text" id="contactPhone" name="contactPhone" class="form-control" ng-model="ctrl.phone" placeholder="{{ 'CONTACT_PHONE_NUMBER' | translate }}" />
                        </span>
                    </div>
                    <div class="clearfix">
                        <span class="col left">
                            <label class="control-label" for="contactNote">{{ 'NOTE' | translate }}</label>
                        </span>
                        <span class="col wide right">
                            <textarea tabindex="4" id="contactNote" name="contactNote" class="form-control" ng-model="ctrl.note" placeholder="{{ 'NOTES_ABOUT_CONTACT' | translate }}" />
                        </span>
                    </div> -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="pm_button" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</button>
                <button type="submit" class="pm_button primary pull-right" ng-disabled="contactForm.$invalid" ng-class="{disabled: networkActivity.loading()}">
                    <span ng-hide="networkActivity.loading()">{{ 'SAVE' | translate }}</span>
                    <span ng-show="networkActivity.loading()">{{ 'SAVING' | translate }}</span>
                </button>
            </div>
        </form>
    </div>
    <div class="modal-overlay" ng-click="ctrl.cancel()"></div>
</div>
