<div class="pm_modal {{this.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title="{{ 'Close' | translate }}" class="fa fa-times close"></button>
        <form method="post" name="contactForm" novalidate ng-submit="ctrl.save()">
            <div class="modal-content pm_form alt">
                <div class="modal-header" ng-show="ctrl.title">
                    <h3 class="modal-title">{{ ctrl.title }}</h3>
                </div>
                <div class="modal-body">
                    <div class="clearfix">
                        <span class="col left">
                            <label class="control-label" for="contactName" translate>Name</label>
                        </span>
                        <span class="col wide right">
                            <input type="text" id="contactName" name="contactName" class="form-control" ng-model="ctrl.name" placeholder="{{ 'Contact name' | translate }}" required />
                        </span>
                    </div>
                    <div class="clearfix">
                        <span class="col left">
                            <label class="control-label" for="contactEmail" translate>Email</label>
                        </span>
                        <span class="col wide right">
                            <input type="email" id="contactEmail" name="contactEmail" class="form-control" ng-model="ctrl.email" placeholder="{{ 'Contact email' | translate }}" required />
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="pm_button" ng-click="ctrl.cancel()" translate>Cancel</button>
                <button type="submit" class="pm_button primary pull-right" ng-disabled="contactForm.$invalid || networkActivity.loading()" translate>Save</button>
            </div>
        </form>
    </div>
    <div class="modal-overlay"></div>
</div>
