<div class="pm_modal {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'DELETE_ACCOUNT' | translate }}</h4>
            </div>
            <div class="modal-body">
                <p>
                    <strong>Are you sure you want to delete your account?</strong>
                </p>
                <p>Before proceeding, please be sure to review the <a href="">Terms of Service</a> regarding account deletion.</p>
                <p>
                    <strong>Enter your user password to confirm:</strong>
                </p>
                <div class="pm_grid pm_form">
                    <div class="col-1-3">{{ 'USER_PASSWORD' | translate }}</div>
                    <div class="col-1-3">
                        <input type="text" placeholder="{{ 'PASSWORD' | translate }}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button class="pm_button" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</button>
            <button tabindex="1" type="button" class="pm_button text-red" ng-click="ctrl.confirm()">{{ 'DELETE' | translate }}</button>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
