<div class="pm_modal {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.close()" aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">DMARC</h4>
            </div>
            <div class="modal-body">
                <p>For improved protection against spam, you can add the following DMARC record. This typically be done in the control panel of your domain name registrar. <a href="">{{ 'LEARN_HOW' | translate }}</a></p>
                <p>Please use the following DMARC record:</p>
                <!-- <pre>{{ dmarc }}</pre> -->
<pre>
v=DMARC1; p=none; 
rua=mailto:dmarc_agg@auth.returnpath.net; 
ruf=mailto:dmarc_afrf@auth.returnpath.net; 
rf=afrf; pct=100
</pre>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button class="pm_button primary" ng-click="ctrl.close()">{{ 'CLOSE' | translate }}</button>
        </div>
    </div>
    <div class="modal-overlay" ng-click="ctrl.close()"></div>
</div>
