<div class="pm_modal {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header" ng-show="ctrl.title">
                <h4 class="modal-title">{{ 'ADD_A_CUSTOM_DOMAIN' | translate }}</h4>
            </div>
            <div class="modal-body">
                <div class="radio">
                    <input type="radio" /> Add a domain that you own to your ProtonMail account.
                </div>
                <div class="radio">
                    <input type="radio" /> Buy a custom domain to use with ProtonMail.
                    <p>This allow you to have a custom email address like username@mywebsite.com as your ProtonMail email address.</p>
                </div>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button type="button" class="pm_button" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</button>
            <button type="button" class="pm_button primary" ng-click="ctrl.next()">{{ 'NEXT' | translate }}</button>
        </div>
    </div>
    <div class="modal-overlay" ng-click="ctrl.cancel()"></div>
</div>
