<div class="pm_modal small {{ctrl.class}}" role="dialog" style="display: block;">
    <form class="modal-dialog" novalidate ng-submit="donateForm.$valid && ctrl.donate()" name="donateForm">
        <button type="button" ng-click="ctrl.close()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" translate translate-context="Title">Donate</h4>
            </div>
            <div class="modal-body pm_form">
                <p translate>Donate to ProtonMail</p>
                <div class="pm_grid margin">
                    <div class="col-1-4">
                        <button type="button" class="pm_button fullwidth" ng-class="{ success: ctrl.amount === 5 }" ng-click="ctrl.selectAmount(5)">5</button>
                    </div>
                    <div class="col-1-4">
                        <button type="button" class="pm_button fullwidth" ng-class="{ success: ctrl.amount === 10 }" ng-click="ctrl.selectAmount(10)">10</button>
                    </div>
                    <div class="col-1-4">
                        <button type="button" class="pm_button fullwidth" ng-class="{ success: ctrl.amount === 25 }" ng-click="ctrl.selectAmount(25)">25</button>
                    </div>
                    <div class="col-1-4">
                        <button type="button" class="pm_button fullwidth" ng-class="{ success: ctrl.amount === 50 }" ng-click="ctrl.selectAmount(50)">50</button>
                    </div>
                </div>
                <div class="pm_grid margin">
                    <div class="col-1-4">
                        <button type="button" class="pm_button fullwidth" ng-class="{success: ctrl.amount === 100}" ng-click="ctrl.selectAmount(100)">100</button>
                    </div>
                    <div class="col-1-4">
                        <button type="button" class="pm_button fullwidth" ng-class="{success: ctrl.amount === 250}" ng-click="ctrl.selectAmount(250)">250</button>
                    </div>
                    <div class="col-1-4">
                        <input type="number" min="2" max="99999999" name="otherAmount" ng-model="ctrl.otherAmount" ng-focus="ctrl.onFocusOtherAmount()" placeholder-translate="Other" />
                    </div>
                    <div class="col-1-4">
                        <span class="pm_select">
                            <select ng-model="ctrl.currency" ng-options="currency.label for currency in ctrl.currencies"></select>
                            <i class="fa fa-angle-down"></i>
                        </span>
                    </div>
                </div>
                <div ng-messages="donateForm.otherAmount.$error">
                    <p ng-message="number" class="alert alert-danger" translate-context="Error" translate>Invalid number</p>
                    <p ng-message="min" class="alert alert-danger" translate-context="Error" translate>Due to credit card processing fees, we cannot accept donations smaller than 2.</p>
                </div>
                <div ng-if="ctrl.methods.length > 0">
                    <label for="paymentMethod" class="margin" translate-context="Title">Select payment method:</label>
                    <span class="pm_select">
                        <select id="paymentMethod" ng-model="ctrl.method" ng-options="ctrl.label(method) for method in ctrl.methods"></select>
                        <i class="fa fa-angle-down"></i>
                    </span>
                </div>
                <div ng-if="ctrl.methods.length === 0">
                    <card-view card="ctrl.card" form="donateForm"></card-view>
                </div>
                <p class="alert alert-info"><span translate translate-context="Info">It's also possible to donate with</span> <a href="https://protonmail.com/donate" target="_blank" translate translate-context="Link">PayPal or Bitcoin</a>.</p>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button type="submit" ng-disabled="ctrl.process === true" class="pm_button primary" translate translate-context="Action">Donate</button>
        </div>
    </form>
    <div class="modal-overlay"></div>
</div>
