<div class="pm_modal small {{ctrl.class}}" role="dialog" style="display: block;">
    <form class="modal-dialog" novalidate ng-submit="ctrl.donate()" name="donateForm">
        <button type="button" ng-click="ctrl.close()" aria-hidden="true" title-translate="Close" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" translate translate-context="Title">Donate</h4>
            </div>
            <div class="modal-body pm_form">
                <p ng-bind="ctrl.text"></p>
                <div class="pm_grid margin">
                    <div class="col-2-3">
                        <input type="text" ng-model="ctrl.amount" placeholder-translate="Amount" required />
                    </div>
                    <div class="col-1-3">
                        <span class="pm_select">
                            <select ng-model="ctrl.currency" ng-options="currency.label for currency in ctrl.currencies"></select>
                            <i class="fa fa-angle-down"></i>
                        </span>
                    </div>
                </div>
                <div ng-show="ctrl.methods.length > 0">
                    <label for="paymentMethod" class="margin" translate-context="Title">Select payment method:</label>
                    <span class="pm_select">
                        <select id="paymentMethod" ng-model="ctrl.method" ng-options="ctrl.label(method) for method in ctrl.methods"></select>
                        <i class="fa fa-angle-down"></i>
                    </span>
                </div>
                <div ng-hide="ctrl.methods.length > 0">
                    <div class="margin">
                        <input type="text" autofocus ng-model="ctrl.fullname" placeholder-translate="Name on card" required />
                    </div>
                    <div class="pm_grid margin">
                        <div class="col-2-3">
                            <span class="pm_select">
                                <select ng-model="ctrl.country" ng-options="country.label for country in ctrl.countries | orderBy: 'priority'"></select>
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </div>
                        <div class="col-1-3">
                            <input type="text" minlength="3" maxlength="9" ng-model="ctrl.zip"  placeholder-translate="ZIP code" required />
                        </div>
                    </div>
                    <div class="margin input-icon">
                        <card-icon number="ctrl.number"></card-icon>
                        <input type="text" ng-model="ctrl.number" placeholder-translate="Card number" maxlength="20" required />
                    </div>
                    <div class="pm_grid margin">
                        <div class="col-1-3">
                            <div class="input-icon">
                                <i class="fa fa-calendar"></i>
                                <input type="text" ng-model="ctrl.month" placeholder-translate="MM" pt-tooltip-translate="Month" maxlength="2" required />
                            </div>
                        </div>
                        <div class="col-1-3">
                            <div class="input-icon">
                                <i class="fa fa-calendar"></i>
                                <input type="text" ng-model="ctrl.year" placeholder-translate="YY" pt-tooltip-translate="Year" maxlength="4" required />
                            </div>
                        </div>
                        <div class="col-1-3">
                            <div class="input-icon">
                                <i class="fa fa-lock"></i>
                                <input type="text" ng-model="ctrl.cvc" placeholder-translate="CVC" pt-tooltip-translate="Card validation code" maxlength="4" required />
                            </div>
                        </div>
                    </div>
                </div>
                <p class="alert alert-info" translate translate-context="Info">It's also possible to donate with <a href='https://protonmail.com/donate' target='_blank'>PayPal or Bitcoin</a>.</p>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button type="submit" ng-disabled="ctrl.process === true" class="pm_button primary" translate translate-context="Action">Donate</button>
        </div>
    </form>
    <div class="modal-overlay"></div>
</div>
