
<div class="pm_modal {{ctrl.class}}" role="dialog" id="filter-modal">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Custom Filter</h3>
            </div>
            <div class="modal-body pm_form">
                <div class="pm_grid">
                    <div class="col-1-8">
                        <label for="filterName" translate translate-context="Title">Name</label>
                    </div>
                    <div class="col-7-8">
                        <input type="text" id="filterName" ng-model="ctrl.filter.Name" />
                    </div>
                </div>
                <div ng-hide="ctrl.simple" class="pm_grid">
                    <div class="col-1-4">
                        <label for="filterScript" translate translate-context="Title">Sieve Script</label>
                    </div>
                    <div class="col-3-4">
                        <textarea id="filterScript" ng-model="ctrl.filter.Sieve" placeholder="Sieve Script"></textarea>
                    </div>
                </div>
                <p translate translate-context="Info" class="alert alert-info">Custom filters work on all new emails, including incoming emails as well as sent emails</p>
                <div ng-show="ctrl.simple">
                    <legend translate-context="Title" translate translate-context="Title">Conditions</legend>
                    <div ng-repeat="condition in ctrl.filter.Simple.Conditions">
                        <p class="bold text-center" ng-hide="$index === 0">
                            <span translate ng-show="ctrl.filter.Simple.Operator.value === 'all'">and</span>
                            <span translate ng-show="ctrl.filter.Simple.Operator.value === 'any'">or</span>
                        </p>
                        <div class="alert" style="position: relative;">
                            <button type="button" title="Remove" ng-hide="ctrl.filter.Simple.Conditions.length === 1" ng-click="ctrl.removeCondition(condition)" class="pm_button" style="position: absolute; right: 15px; top: 15px;">
                                <i class="fa fa-trash"></i>
                            </button>
                            <span class="bold if" translate>If</span>
                            <span class="pm_select inline">
                                <select ng-model="condition.Type" ng-options="type.label for type in ctrl.types"></select>
                                <i class="fa fa-angle-down"></i>
                            </span>
                            <span ng-show="condition.Type.value === 'attachments'">
                                    <label for="with_{{$id}}">
                                        <input type="radio" ng-model="condition.Comparator.value" value="contains" id="with_{{$id}}" /> <span translate translate-context="Title">With Attachments</span>
                                    </label>
                                    <label for="without_{{$id}}">
                                        <input type="radio" ng-model="condition.Comparator.value" value="!contains" id="without_{{$id}}" /> <span translate translate-context="Title">Without Attachments</span>
                                    </label>
                            </span>
                            <span class="pm_select inline" ng-show="condition.Type.value === 'subject' || condition.Type.value === 'sender' || condition.Type.value === 'recipient'">
                                <select ng-model="condition.Comparator" ng-options="comparator.label for comparator in ctrl.comparators"></select>
                                <i class="fa fa-angle-down"></i>
                            </span>
                            <span ng-show="condition.Type.value === 'subject' || condition.Type.value === 'sender' || condition.Type.value === 'recipient'">
                                <span ng-show="condition.Values.length > 0">
                                    <span ng-repeat="value in condition.Values">
                                        <span class="pm_badge default none">
                                            {{ value }} <a href="#" ng-click="condition.Values.splice($index, 1)"><i class="fa fa-times"></i></a>
                                        </span>
                                        <span class="or">or</span>
                                    </span>
                                </span>
                            </span>
                            <form id="filter-add-condition" ng-show="condition.Type.value === 'subject' || condition.Type.value === 'sender' || condition.Type.value === 'recipient'" ng-submit="ctrl.addValue(condition)">
                                <input type="text" ng-model="condition.value" placeholder-translate="Text or pattern" ng-blur="ctrl.addValue(condition)" id="filter-pattern" />
                                <button class="pm_button primary" type="submit">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <p>
                        <a href="#" class="pm_button link" ng-click="ctrl.addCondition()" translate translate-context="Action">Add Condition</a>
                    </p>
                    <p class="bold" ng-show="ctrl.displaySeparator()">If <span class="pm_select inline"><select ng-model="ctrl.filter.Simple.Operator" ng-options="operator.label for operator in ctrl.operators"></select><i class="fa fa-angle-down"></i></span> of the conditions above apply, do the following actions.</p>
                    <legend translate-context="Title" translate translate-context="Title">Actions</legend>
                    <label for="labels">
                        <input type="checkbox" ng-model="ctrl.hasLabels" id="labels" /> <span>Apply Labels</span>
                    </label>
                    <div class="alert pm_grid" ng-show="ctrl.hasLabels">
                        <div class="col-1-4" ng-repeat="label in ctrl.filter.Simple.Actions.Labels track by label.ID | orderBy: 'Order'">
                            <label for="label_{{$id}}">
                                <input type="checkbox" id="label_{{$id}}" ng-model="label.Selected" /> <i class="fa fa-tag" ng-style="{color: label.Color}"></i> {{ label.Name }}
                            </label>
                        </div>
                    </div>
                    <label for="move">
                        <input type="checkbox" ng-model="ctrl.hasMove" id="move" /> <span>Move To</span>
                    </label>
                    <div class="alert pm_grid" ng-show="ctrl.hasMove">
                        <div class="col-1-4">
                            <label for="archive">
                                <input type="radio" id="archive" ng-model="ctrl.filter.Simple.Actions.Move" ng-value="'6'" /> <span translate translate-context="Label">Archive</span>
                            </label>
                        </div>
                        <div class="col-1-4">
                            <label for="spam">
                                <input type="radio" id="spam" ng-model="ctrl.filter.Simple.Actions.Move" ng-value="'4'" /> <span translate translate-context="Label">Spam</span>
                            </label>
                        </div>
                        <div class="col-1-4">
                            <label for="trash">
                                <input type="radio" id="trash" ng-model="ctrl.filter.Simple.Actions.Move" ng-value="'3'" /> <span translate translate-context="Label">Trash</span>
                            </label>
                        </div>
                        <div class="col-1-4">
                            <label for="inbox">
                                <input type="radio" id="inbox" ng-model="ctrl.filter.Simple.Actions.Move" ng-value="'0'" /> <span translate translate-context="Label">Inbox</span>
                            </label>
                        </div>
                    </div>
                    <label for="mark">
                        <input type="checkbox" ng-model="ctrl.hasMark" id="mark" /> <span>Mark As</span>
                    </label>
                    <div class="alert pm_grid" ng-show="ctrl.hasMark">
                        <div class="col-1-4">
                            <label for="read">
                                <input type="checkbox" id="read" ng-model="ctrl.filter.Simple.Actions.Mark.Read" /> <span translate translate-context="Label">Read</span>
                            </label>
                        </div>
                        <div class="col-1-4">
                            <label for="starred">
                                <input type="checkbox" id="starred" ng-model="ctrl.filter.Simple.Actions.Mark.Starred" /> <span translate translate-context="Label">Starred</span>
                            </label>
                        </div>
                        <div class="col-1-4">&nbsp;</div>
                        <div class="col-1-4">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="pm_button" ng-click="ctrl.cancel()" ng-disabled="networkActivity.loading()" translate translate-context="Action">Cancel</button>
            <button type="button" ng-click="ctrl.save()" class="pm_button primary pull-right" ng-disabled="networkActivity.loading() || ctrl.valid() === false" translate translate-context="Action">Save</button>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
