<div class="pm_modal small {{ctrl.class}}" role="dialog">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" ng-show="ctrl.filter.Location === 0" translate translate-context="Title">Add to Whitelist</h3>
                <h3 class="modal-title" ng-show="ctrl.filter.Location === 4" translate translate-context="Title">Add to Blacklist</h3>
            </div>
            <div class="modal-body pm_form">
                <input type="text" ng-model="ctrl.filter.Email" id="emailAddress" placeholder-translate="Email Address"/>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="pm_button" ng-click="ctrl.cancel()" ng-disabled="networkActivity.loading()" translate translate-context="Action">Cancel</button>
            <button type="button" ng-click="ctrl.create()" class="pm_button primary pull-right" ng-disabled="networkActivity.loading()" translate translate-context="Action">Save</button>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
