<div class="pm_modal important {{ctrl.class}}" role="dialog" style="display: block;">
    <form method="post" class="modal-dialog" ng-submit="ctrl.submit()" novalidate="">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ ctrl.title }}</h4>
            </div>
            <div class="modal-body pm_form" ng-hide="ctrl.process === true">
                <p ng-show="ctrl.message">{{ ctrl.message }}</p>
                <div class="pm_grid">
                    <div class="col-1-2">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="ctrl.size" />  Use 4096-bit keys (Default: 2048-bit)
                        </label>
                    </div>
                    <div class="col-1-2"></div>
                </div>
                <p class="alert alert-info" ng-show="ctrl.size === true">Selecting this option may crash or freeze your browser, it is only recommended for high performance computers. Not recommended for tablet and mobile devices</p>
                <table class="pm_table">
                    <thead>
                        <tr>
                            <th>{{ 'ADDRESS' | translate }}</th>
                            <th style="width: 10rem" class="text-right">{{ 'STATUS' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="address in ctrl.addresses | orderBy: 'Send'">
                            <td>{{ address.Email }}</td>
                            <td class="text-right">
                                <span ng-show="address.state === 0" class="pm_badge">{{ 'QUEUED' | translate }}</span>
                                <span ng-show="address.state === 1" class="pm_badge"><i class="fa fa-spinner fa-spin"></i> {{ 'GENERATING' | translate }}</span>
                                <span ng-show="address.state === 2" class="pm_badge success">{{ 'DONE' | translate }}</span>
                                <span ng-show="address.state === 3" class="pm_badge success">{{ 'SAVED' | translate }}</span>
                                <span ng-show="address.state === 4" class="pm_badge error">{{ 'ERROR' | translate }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-show="ctrl.process === true">
                <p>&nbsp;</p>
                <p>We are now generating encryption keys for your account, this may take several minutes and temporarily freeze your browser.</p>
                <p>&nbsp;</p>
                <loader-tag></loader-tag>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button class="pm_button pull-left" ng-click="ctrl.cancel()">
                {{ 'CANCEL' | translate }}
            </button>
            <button type="submit" class="pm_button primary">
                {{ 'GENERATE_KEYS' | translate }}
            </button>
        </div>
    </form>
    <div class="modal-overlay" ng-click="ctrl.cancel()"></div>
</div>
