<div class="pm_modal very-important {{ctrl.class}}" role="dialog" style="display: block;">
    <form method="post" class="modal-dialog" ng-submit="ctrl.submit()" name="humanVerificationForm" novalidate>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" translate translate-context="Title">Human verification</h4>
            </div>
            <div class="modal-body pm_form">
                <p class="alert alert-info"></p>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button type="submit" class="pm_button primary" translate translate-context="Action">Submit</button>
        </div>
    </form>
    <div class="modal-overlay"></div>
</div>
