<div class="pm_modal {{ctrl.class}}" role="dialog" style="display: block;">
    <form class="modal-dialog" ng-submit="ctrl.submit()" novalidate>
        <button type="button" ng-click="ctrl.cancel()" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" translate-context="Title" translate>Bla Bla Bla</h3>
            </div>
            <div class="modal-body pm_form">
                <div class="pm_grid">
                    <div class="col-1-2">
                        <p class="alert alert-info">Bla Bla Bla</p>
                    </div>
                    <div class="col-1-2">
                        <span class="pm_select">
                            <select ng-model="ctrl.currency" ng-options="currency.label for currency in ctrl.currencies"></select>
                            <i class="fa fa-angle-down"></i>
                        </span>
                        <span class="pm_select" ng-if="ctrl.methods.length">
                            <select ng-model="ctrl.method" ng-options="ctrl.label(method) for method in ctrl.methods"></select>
                            <i class="fa fa-angle-down"></i>
                        </span>
                        <card-view ng-if="!ctrl.methods.length" card="ctrl.card"></card-view>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="pm_button" ng-click="ctrl.cancel()" translate translate-context="Action">Cancel</button>
            <button type="submit" class="pm_button primary pull-right" ng-disabled="networkActivity.loading()" translate translate-context="Action">Submit</button>
        </div>
    </form>
    <div class="modal-overlay"></div>
</div>
