<div id="lifetime" class="pm_modal {{ctrl.class}}" role="dialog" style="display: block;">
    <form class="modal-dialog" ng-submit="ctrl.submit()" novalidate>
        <button type="button" ng-click="ctrl.cancel()" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-body pm_form">
                <div class="pm_grid no-margin flex flex-row pm-flex-content">
                    <div class="col-1-2 sideText pm-flex-content-vertical-center">
                        <h3><i>Black</i> Friday</h3>
                        <p>Get your <strong>lifetime</strong> ProtonMail encrypted email <br />for {{ ctrl.amount | currency: ctrl.currency.value }}</p>
                    </div>
                    <div class="col-1-2 sideForm">
                        <div class="sideForm-content">
                            <h2 translate translate-context="Title">Order now!</h2>
                            <div class="pm_grid margin flex flex-row pm-flex-content grid-divider">
                                <div class="col-1-2 pm-flex-content-vertical-center">
                                    <span translate translate-context="Title">Amount</span>
                                </div>
                                <div class="col-1-2 pm-flex-content-row">
                                    <span class="pm-flex-content-vertical-center">
                                        <strong class="price_tag">{{ ::ctrl.amount }}</strong>
                                    </span>
                                    <span class="pm_select pm-flex-content-vertical-center">
                                        <select ng-model="ctrl.currency" ng-options="currency.label for currency in ctrl.currencies"></select>
                                        <i class="fa fa-angle-down"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="pm_grid margin flex flex-row pm-flex-content">
                                <div class="col-1-2 pm-flex-content-vertical-center">
                                    <label for="paymentMethod" translate translate-context="Title" translate-comment="form label">Payment method</label>
                                </div>
                                <div class="col-1-2 pm-flex-content-vertical-center">
                                    <span class="pm_select">
                                        <select id="paymentMethod" ng-model="ctrl.method" ng-options="method.label for method in ctrl.methods"></select>
                                        <i class="fa fa-angle-down"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- payment methods --->
                        <div class="sideForm-content paymentMethods">
                            <card-view ng-if="ctrl.method.type === 'new_card'" card="ctrl.card"></card-view>
                            <paypal-view ng-if="ctrl.method.type === 'paypal'" amount="ctrl.amount" currency="ctrl.currency.value" paypal="ctrl.paypalObject"></paypal-view>
                        </div>
                        <div class="sideForm-footer">
                            <button type="button" class="pm_button" ng-click="ctrl.cancel()" translate translate-context="Action">Cancel</button>
                            <button type="submit" class="pm_button primary pull-right" ng-disabled="networkActivity.loading()" translate translate-context="Action">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-overlay"></div>
</div>
