<div class="pm_modal small very-important {{ctrl.class}}" role="dialog" style="display: block;">
    <form method="post" class="modal-dialog" ng-submit="ctrl.submit()">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'LOGIN_PASSWORD_REQ' | translate }}</h4>
            </div>
            <div class="modal-body pm_form">
                <p>{{ 'ENTER_YOUR_LOGIN_PASSWORD' | translate }}:</p>
                <input type="password" autofocus ng-model="ctrl.loginPassword" id="loginPassword" placeholder="{{ 'LOGIN_PASSWORD' | translate }}" />
            </div>
        </div>
        <div class="modal-footer text-right">
            <button type="button" class="pm_button pull-left" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</button>
            <button type="submit" class="pm_button primary">{{ 'SUBMIT' | translate }}</button>
        </div>
    </form>
    <div class="modal-overlay"></div>
</div>
