<div class="pm_modal {{this.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog modal-sm">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title="{{ 'Close' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{ 'LOGIN_HELP' | translate }}</h3>
            </div>
            <div class="modal-body text-center">
                <p>
                    <a class="pm_button primary" ui-sref="support.reset-password" ng-click="ctrl.cancel()">
                        {{'RESET_PASSWORD' | translate }}
                    </a>
                </p>
                <p>
                    <a href="https://protonmail.com/username" target="_self" class="pm_button primary">
                        {{ 'FORGOT_USERNAME?' | translate }}
                    </a>
                </p>
                <p>
                    <a href="https://protonmail.com/support/knowledge-base/common-login-problems/" target="_self" class="pm_button primary">
                        Common Login Problems
                    </a>
                </p>
                <p>
                    <a href="https://protonmail.com/support" target="_self" class="pm_button primary">
                        Email our Support Team
                    </a>
                </p>
            </div>
        </div>
        <div class="modal-footer text-right">
            <a class="pm_button" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</a>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
