<div class="pm_modal {{ctrl.class}} monetize" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.close()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" translate translate-context="Title">Help us protect online privacy</h4>
            </div>
            <div class="modal-body">
                <form novalidate ng-submit="ctrl.donate()" class="pm_form">
                    <p translate translate-context="Info">ProtonMail is open source software that protects your privacy and doesn't have ads. Your support is essential for keeping the service running.</p>
                    <h4 translate translate-context="Title">Donate to ProtonMail</h4>
                    <div class="margin">
                        <button type="button" class="pm_button" style="margin-right: 10px;" ng-repeat="amount in ctrl.amounts" ng-click="ctrl.amount = amount.value" ng-class="{'success': amount.value === ctrl.amount}">{{ amount.label | currency: ctrl.currency.value }}</button>
                    </div>
                    <div class="margin">
                        <div class="pm_grid">
                            <div class="col-1-3">
                                <input type="text" placeholder-translate="Other amount" ng-model="ctrl.amount" />
                            </div>
                            <div class="col-1-3">
                                <span class="pm_select">
                                    <select ng-model="ctrl.currency" ng-options="currency.label for currency in ctrl.currencies"></select>
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </div>
                            <div class="col-1-3">
                                <button class="pm_button primary" type="submit" translate translate-context="Action">Donate</button>
                            </div>
                        </div>
                    </div>
                    <div class="upsell">
                        <h3 translate translate-context="Title">Support ProtonMail by upgrading to a paid account</h3>
                        <h4>5&euro; <span translate>Month</span> / 48&euro; <span translate>Year</span></h4>
                        <ul>
                            <li  translate-comment="feature for upgrading from a free account to a paid account" translate>Support for custom domains and aliases</li>
                            <li  translate-comment="feature for upgrading from a free account to a paid account" translate>5GB storage (instead of 500MB)</li>
                            <li  translate-comment="feature for upgrading from a free account to a paid account" translate>Higher message sending limits</li>
                            <li  translate-comment="feature for upgrading from a free account to a paid account" translate>Priority customer support</li>
                        </ul>
                        <button type="button" class="pm_button primary" ng-click="ctrl.upgrade()" translate translate-context="Action">Upgrade</button>
                        <a href="#" ng-click="ctrl.upgrade()">
                            <img src="/assets/img/onboarding-upselling-background.jpg" alt-translate="Upgrade your account" />
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button class="pm_button" ng-click="ctrl.close()" translate translate-context="Action">Close</button>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
