<div class="pm_modal {{this.class}}" role="dialog" style="display: block;">
    <form method="post" class="modal-dialog" ng-submit="ctrl.submit()">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Organization Recovery Password</h3>
            </div>
            <div class="modal-body text-center">
                <p>Please enter your organization recovery password:</p>
                <input type="password" placeholder="" ng-model="ctrl.password" />
            </div>
        </div>
        <div class="modal-footer text-right">
            <button class="pm_button pull-left" ng-click="ctrl.cancel()">Cancal</button>
            <button tabindex="1" type="button" class="pm_button primary" ng-click="ctrl.submit()">Submit</button>
        </div>
    </form>
    <div class="modal-overlay"></div>
</div>
