<div class="pm_modal small {{ctrl.class}}" role="dialog" style="display: block;">
    <form class="modal-dialog" novalidate ng-submit="ctrl.submit()" name="payForm">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'PAY_INVOICE' | translate }} {{ ctrl.invoice.ID }}</h4>
            </div>
            <div class="modal-body pm_form">
                <table class="pm_table">
                    <tbody>
                        <tr>
                            <th>{{ 'AMOUNT' | translate }}</th>
                            <td>{{ ctrl.amount / 100 | currency: ctrl.currency }}</td>
                        </tr>
                        <tr ng-show="ctrl.credit !== 0">
                            <th>{{ 'CREDIT' | translate }}</th>
                            <td>{{ ctrl.credit / 100 | currency: ctrl.currency }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'AMOUNT_DUE' | translate }}</th>
                            <td>{{ ctrl.amountDue / 100 | currency: ctrl.currency }}</td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="ctrl.amountDue > 0">
                    <div class="margin pm_grid" ng-show="ctrl.currency === 'USD'">
                        <div class="col-1-2">
                            <label>
                                <input type="radio" ng-model="ctrl.choice" value="card" name="choices"> {{ 'CREDIT_CARD' | translate }}
                            </label>
                        </div>
                        <div class="col-1-2">
                            <label>
                                <input type="radio" ng-model="ctrl.choice" value="paypal" name="choices" ng-change="ctrl.initPaypal()"> {{ 'PAYPAL' | translate }}
                            </label>
                        </div>
                    </div>
                    <div ng-show="ctrl.choice === 'card'">
                        <label for="paymentMethod" class="margin">Select your payment method</label>
                        <span class="pm_select">
                            <select id="paymentMethod" ng-model="ctrl.method" ng-options="ctrl.label(method) for method in ctrl.methods"></select>
                            <i class="fa fa-angle-down"></i>
                        </span>
                    </div>
                    <div ng-show="ctrl.choice === 'paypal'">
                        <p ng-show="!ctrl.approvalURL">
                            <i class="fa fa-spin fa-spinner"></i> {{ 'LOADING' | translate }}...
                        </p>
                        <p class="alert alert-info">You will need to login to your PayPal account to complete this transaction. We will open a new tab with PayPal for you. If you use any pop-up blockers, please disable them to continue.</p>
                        <div class="text-center">
                            <a href="#" ng-show="ctrl.approvalURL" ng-click="ctrl.openPaypalTab()">
                                <img src="/assets/img/settings/paypal.png" alt="Paypal button" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="pm_button" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</button>
            <button type="submit" class="pm_button primary pull-right" ng-hide="ctrl.choice === 'paypal'">{{ 'SUBMIT' | translate }}</button>
        </div>
    </form>
    <div class="modal-overlay"></div>
</div>
