<div class="pm_modal pm_fadeIn {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <form class="modal-content">
            <div class="modal-header" ng-show="ctrl.title">
                <h4 class="modal-title">{{ 'PAYMENT' | translate }}</h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer text-right">
                <button type="button" class="pm_button" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</button>
                <button type="button" class="pm_button primary" ng-click="ctrl.submit()">{{ 'SUBMIT' | translate }}</button>
            </div>
        </form>
    </div>
    <div class="modal-overlay" ng-click="ctrl.cancel()"></div>
</div>
