<div class="pm_modal pm_fadeIn {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <form class="modal-content" ng-submit="submit()">
            <div class="modal-header" ng-show="ctrl.title">
                <h4 class="modal-title">{{ 'PAYMENT' | translate }}</h4>
            </div>
            <div class="modal-body">
                <table>
                    <thead>
                        <tr>
                            <th>{{ 'DESCRIPTION' | translate }}</th>
                            <th>{{ 'PRICE' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Panda</td>
                            <td>1000 EUR</td>
                        </tr>
                    </tbody>
                </table>

                <div class="">
                    <i class="fa fa-user"></i><input type="text" ng-model="ctrl.fullname" placeholder="{{ 'FULLNAME' | translate }}" />
                </div>
                <div class="">
                    <i class="fa fa-credit-card"></i><input type="text" maxlength="20" autocomplete="off" ng-model="ctrl.number" placeholder="{{ 'CARD_NUMBER' | translate }}" required />
                </div>
                <div class="">
                    <i class="fa fa-calendar-o"></i><input type="text" maxlength="2" autocomplete="off" ng-model="ctrl.month" placeholder="MM" required /><input type="text" maxlength="2" autocomplete="off" ng-model="ctrl.year" placeholder="YY" required />
                </div>
                <div class="">
                    <a href="" pt-tooltip="Card Validation Code"><i class="fa fa-lock"></i></a><input type="text" maxlength="4" autocomplete="off" ng-model="ctrl.cvc" placeholder="CVC" required />
                </div>

                <p>Your credit card will be automatically charged on a {{ ctrl.total }} basis. By clicking submit, you agree to our <a href="" target="_blank">Terms and Conditions</a>.</p>

            </div>
            <div class="modal-footer text-right">
                <button type="button" class="pm_button" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</button>
                <button type="submit" class="pm_button primary">{{ 'SUBMIT' | translate }}</button>
            </div>
        </form>
        <!-- <div class="modal-content">
            <h2>Thank you for your subscription.</h2>
            <p>Your new features are now available</p>
        </div> -->
    </div>
    <div class="modal-overlay" ng-click="ctrl.cancel()"></div>
</div>
