<div class="pm_modal {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'MANAGE_STORAGE' | translate }}</h4>
            </div>
            <div class="modal-body">
                <strong>Jason Derulo</strong>
                <p>Jason Joel Desrouleaux alias Jason ou Jason Derulo né le 21 septembre 1989 à Miami aux États-unis est un auteur-compositeur-interprète, danseur, chorégraphe, acteur et producteur exécutif.</p>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button class="pm_button" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</button>
            <button tabindex="1" type="button" class="pm_button primary" ng-click="ctrl.confirm()">{{ 'APPLY' | translate }}</button>
        </div>
    </div>
    <div class="modal-overlay" ng-click="ctrl.cancel()"></div>
</div>
