<div class="pm_modal {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title="{{ 'Close' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'CONTACT_US' | translate }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ 'ENTERPRISE_UPSELL' | translate }}</p>
                <p><strong>contact@protonmail.ch</strong></p>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button class="pm_button" ng-click="ctrl.cancel()">{{ 'CLOSE' | translate }}</button>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
