<div class="pm_modal {{this.class}}" role="dialog" style="display: block;" id="welcomeModal">
    <form class="modal-dialog modal-sm" method="post" ng-submit="ctrl.next()" novalidate>
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title="{{ 'Close' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">{{ 'WELCOME_MODAL_TITLE' | translate }}</h3>
            </div>
            <div class="modal-body">
                <p class="text-center">{{ 'WELCOME_MODAL_INTRO' | translate }}</p><br />
                <section class="pm_form">
                    <div class="pm_grid">
                        <div class="col-1-2">
                            <label for="displayName">{{ 'CHOOSE_A_DISPLAY_NAME' | translate }}<br /><em>*{{ 'OPTIONAL' | translate }}</em></label>Optional
                        </div>
                        <div class="col-1-2">
                            <input id="displayName" type="text" name="displayName" ng-model="ctrl.displayName" placeholder="{{ 'DISPLAY_NAME' | translate }}" />
                            <p class="help-block"><small>{{ 'DISPLAY_NAME_INFO' | translate }}</small></p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button type="submit" class="pm_button primary">{{ 'NEXT' | translate }}</a>
        </div>
    </form>
    <div class="modal-overlay"></div>
</div>
