<div id="attachmentArea" class="listAttachments-container">
    <header>
        <span class="title">
            <strong class="listAttachments-title-size">{{ model.attachmentsSize() | humanSize }}</strong>
            <span ng-if="model.Attachments.length - model.NumEmbedded > 0" class="listAttachments-title-files">
                <i class="fa fa-paperclip"></i> {{ model.Attachments.length -  model.NumEmbedded }} <span translate translate-n="model.Attachments.length - model.NumEmbedded" translate-plural="files attached">file attached</span>
            </span>
            <span ng-if="model.NumEmbedded > 0" class="listAttachments-title-embedded">
                <i class="fa fa-image embedded"></i> {{ model.NumEmbedded }} <span translate-n="model.NumEmbedded" translate-plural="embedded images">embedded image</span>
            </span>

            <span ng-if="model.Attachments.length - model.NumEmbedded > 1" class="listAttachments-title-download">
                <btn-download-attachments
                    data-model="model"
                    class="listAttachments-btn-downloadAll"></btn-download-attachments>
            </span>
        </span>
    </header>

    <section class="listAttachments-list">
        <div
            class="listAttachments-att pm_button"
            ng-repeat="attachment in model.Attachments track by $id(attachment)">
            <a
                data-attachment-id="{{::attachment.ID}}"
                class=" listAttachments-item"
                ng-class="{ 'dead': attachment.decrypting, 'remove': ('eo.reply' | includedByState) }"
                data-download-text="{{ 'Download' | translate }}"
                title="{{ ::attachment.Name }} ({{ ::attachment.Size | humanSize }})">
                <em></em>
                <icon-attachment class="listAttachments-icon"></icon-attachment>
                <i class="fa fa-cog fa-spin listAttachments-icon-loader"></i>
                <i class="fa fa-download listAttachments-icon-download"></i>
                <strong class="name">{{ ::attachment.Name }}</strong>
                <span class="size">{{ ::attachment.Size | humanSize }}</span>
            </a>
            <button data-attachment-id="{{::attachment.ID}}" class="listAttachments-btn-action-remove removeButton">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </section>
</div>
