<div class="bitcoinView-container">

    <figure class="bitcoinView-content" ng-if="isBitcoin">

        <bitcoin-qrcode class="bitcoinView-qrcode"></bitcoin-qrcode>

        <figcaption class="bitcoinView-legend">
            <bitcoin-details class="bitcoinView-address"></bitcoin-details>
        </figcaption>
    </figure>


    <p
        class="alert alert-danger bitcoinView-error"
        ng-if="isBitcoinError">
        <span translate translate-context="bitcoin error request">Error connecting to the Bitcoin API.</span>
        <button
            type="button"
            translate
            translate-context="Try to reload bitcoin qrcode"
            class="bitcoinView-btn-reload">Try again.</button>
    </p>
    <p
        class="alert alert-danger bitcoinView-error"
        ng-if="hasValidationsError">
        <span translate translate-context="Bitcoin validation error">Amount below minimum. ({{ ::validator.amountMin / 100 }} {{::currency}})</span>
    </p>

    <div class="bitcoinView-about alert alert-info">
        <p
            class="bitcoinView-message"
            translate
            translate-context="Bitcoin notice">After making your Bitcoin payment, please follow <a href="https://protonmail.com/support/knowledge-base/paying-with-bitcoin" target="_blank">the instructions here</a> to upgrade</p>
    </div>
    <div class="bitcoinView-about-invoice alert alert-info">
        <p
            class="bitcoinView-message"
            translate-context="Bitcoin notice"
            translate>Bitcoin transactions can take some time to be confirmed (up to 24 hours). Once confirmed, we will add credits to your account. After transaction confirmation, you can pay your invoice with the credits.</p>
    </div>

</div>
