<form
    name="donationForm"
    class="pm_form donationForm-container"
    ng-class="{
        'donationForm-method-card': model.method.value === 'use.card',
        'donationForm-method-payal': model.method.value === 'paypal',
        'donationForm-method-newcard': model.method.value === 'card',
        'donationForm-method-cash': model.method.value === 'cash'
    }"
    data-form-is-invalid
    novalidate>

    <p class="block-info-standard donationForm-info" translate-context="Info" translate>Your payment details are protected with TLS encryption and Swiss Privacy laws</p>


    <div class="flex flex-nowrap onmobile-flex-column mb1">
        <label
            for="otherAmount"
            class="w33 pt0-5 "
            translate
            translate-context="Title">Amount</label>

        <div class="donateModal-choose-amount w40 flex flex-items-end">
            <div class="flex flex-spacebetween w100">
                <button
                    class="pm-button pm-button--for-icon donationForm-btn-amount w20"
                    ng-class="{ 'is-active': model.amount === 5 }"
                    type="button"
                    data-amount="5">5</button>
                <button
                    class="pm-button pm-button--for-icon donationForm-btn-amount w20"
                    ng-class="{ 'is-active': model.amount === 10 }"
                    type="button"
                    data-amount="10">10</button>
                <button
                    class="pm-button pm-button--for-icon donationForm-btn-amount w20"
                    ng-class="{ 'is-active': model.amount === 50 }"
                    type="button"
                    data-amount="50">50</button>
                <button
                    class="pm-button pm-button--for-icon donationForm-btn-amount w20"
                    ng-class="{ 'is-active': model.amount === 100 }"
                    type="button"
                    data-amount="100">100</button>
            </div>

            <div class="flex flex-spacebetween w100 mt0-5">
                <input
                   type="number"
                   min="2"
                   max="999999"
                   class="pm-field mr0-5 flex-item-fluid"
                   id="otherAmount"
                   name="otherAmount"
                   ng-model="model.otherAmount"
                   ng-focus="onFocusOtherAmount()"
                   placeholder-translate-context="Other amount to donate"
                   placeholder-translate="Other">

                <select
                   class="donateModal-select-currency mlauto pm-field w40"
                   ng-model="model.currency"
                   ng-options="currency.label for currency in currencies"></select>
            </div>

            <div
                class="error-zone w100"
                ng-messages="donationForm.$error"
                ng-show="donationForm.otherAmount.$dirty || donationForm.$submitted">
                <p
                    ng-message="number"
                    class="m0 color-global-warning"
                    translate-context="Error"
                    translate>Invalid number</p>
                <p
                    ng-message="min"
                    class="m0 color-global-warning"
                    translate-context="Error"
                    translate>Due to credit card processing fees, we cannot accept donations smaller than 2.</p>
                <p
                    ng-message="max"
                    class="m0 color-global-warning"
                    translate-context="Error"
                    translate>Thank you for your willingness to donate. The maximum we can accept in single donations is 999 999 at this moment. Thank you</p>
            </div>
        </div>

   </div>


    <div class="donationForm-paymentMethod flex flex-nowrap onmobile-flex-column mb2 ">
        <label
            for="paymentMethod"
            class="pt0-5 w33"
            translate-context="Title"
            translate>Select payment method:</label>
        <select
            id="paymentMethod"
            class="pm-field w40"
            ng-model="model.method"
            ng-options="method.label for method in methods"></select>
    </div>
    <p
        ng-if="model.method.value === 'cash'"
        class="donationForm-about-cash block-info-standard-warning"
        translate-context="Info"
        translate>To pay via Cash, please email us at <strong>contact@protonmail.com</strong> for instructions.</p>

    <card-view
        ng-if="model.method.value === 'card'"
        class="donationForm-cardView w70 mauto"
        data-card="model.card"
        data-form="donationForm"></card-view>

    <paypal-view
        ng-if="model.method.value === 'paypal' && !donationForm.otherAmount.$error.max"
        data-type="{{::type}}"
        data-amount="getAmount()"
        data-currency="model.currency.value"
        data-callback="paypalCallback"></paypal-view>

    <bitcoin-view
        ng-if="model.method.value === 'bitcoin'"
        class="donateModal-bitcoin"
        data-type="{{::type}}"
        data-currency="model.currency.value"
        data-amount="getAmount()"></bitcoin-view>

    <footer class="aligncenter spacing-top donationForm-footer">
        <button
            class="pm-button-blue pm-button--large donationForm-btn-submit disabled-if-network-activity"
            translate
            translate-context="Action">complete setup</button>
    </footer>
</form>
