<ul class="featuresList-container">
    <li class="featuresList-autoresponder">
        <button class="featuresList-button" type="button" data-route="secured.autoresponder">
            <div class="featuresList-button-wrapper">
                <img class="featuresList-logo" src="assets/img/autoresponder.svg" />
                <span class="featuresList-text" translate-context="Action" translate>Add auto-reply</span>
            </div>
        </button>
    </li>
    <li class="featuresList-domains">
        <button class="featuresList-button" type="button" data-route="secured.domains">
            <div class="featuresList-button-wrapper">
                <img class="featuresList-logo" src="assets/img/custom-domains.svg" />
                <span class="featuresList-text" translate-context="Action" translate>Add your domain</span>
            </div>
        </button>
    </li>
    <li class="featuresList-filters">
        <button class="featuresList-button" type="button" data-route="secured.filters">
            <div class="featuresList-button-wrapper">
                <img class="featuresList-logo" src="assets/img/custom-filters.svg" />
                <span class="featuresList-text" translate-context="Action" translate>Add filters</span>
            </div>
        </button>
    </li>
    <li class="featuresList-members">
        <button class="featuresList-button" type="button" data-route="secured.members">
            <div class="featuresList-button-wrapper">
                <img class="featuresList-logo" src="assets/img/members.svg" />
                <span class="featuresList-text" translate-context="Action" translate>Add new users</span>
            </div>
        </button>
    </li>
    <li class="featuresList-vpn">
        <button class="featuresList-button" type="button" data-route="secured.vpn">
            <div class="featuresList-button-wrapper">
                <img class="featuresList-logo" src="assets/img/vpn.svg" />
                <span class="featuresList-text" translate-context="Action" translate>Activate ProtonVPN</span>
            </div>
        </button>
    </li>
    <li class="featuresList-contacts">
        <button class="featuresList-button" type="button" data-route="secured.contacts">
            <div class="featuresList-button-wrapper">
                <img class="featuresList-logo" src="assets/img/agenda.svg" />
                <span class="featuresList-text" translate-context="Action" translate>Encrypted contacts</span>
            </div>
        </button>
    </li>
</ul>
