<div class="giftCodeInput-container">
    <i class="giftCodeInput-icon fa fa-gift"></i>
    <input
        type="text"
        id="giftCodeInput"
        class="giftCodeInput-input"
        name="giftCodeInput"
        ng-model="code"
        placeholder="AAAA-BBBB-CCCC-DDDD"
        autocomplete="off"
        gift-code-validator
        required>
    <div ng-messages="form.giftCodeInput.$error" class="giftCodeInput-errors">
        <p ng-message="required" class="giftCodeInput-errors" translate-context="Error" translate>Field required</p>
        <p ng-message="giftCode" class="giftCodeInput-errors" translate-context="Error" translate>Invalid gift code</p>
    </div>
</div>
