<div class="giftCodeInput-container pm-field-container">
    <input
        type="text"
        id="giftCodeInput"
        class="giftCodeInput-input pm-field"
        name="giftCodeInput"
        ng-model="code"
        placeholder="AAAA-BBBB-CCCC-DDDD"
        autocomplete="off"
        data-gift-code-validator
        required>

    <div
        class="error-zone"
        ng-messages="form.giftCodeInput.$error"
        ng-show="form.giftCodeInput.$dirty || form.$submitted">
        <p
            class="m0 color-global-warning"
            ng-message="required"
            translate-context="Error"
            translate>Field required</p>
        <p
            class="m0 color-global-warning"
            ng-message="giftCode"
            translate-context="Error"
            translate>Invalid gift code</p>
    </div>
</div>
