.pass-onboarding-button {
	--gradient-start: 100% 800%;
	--gradient-end: 20% 280%;
	--onboarding-padding-color-1: var(--background-strong);
	--onboarding-padding-color-2: var(--background-strong);
	--onboarding-border-color-1: #9834ff;
	--onboarding-border-color-2: #fcd38d;

	& &--gradient {
		color: var(--text-norm);
		border-radius: var(--border-radius-md);
		padding: 1px;
		border: 1px solid transparent;
		background:
			linear-gradient(to right, var(--onboarding-padding-color-1), var(--onboarding-padding-color-2)) padding-box,
			linear-gradient(87.72deg, var(--onboarding-border-color-1) 0.25%, var(--onboarding-border-color-2) 100%)
				border-box;

		&:hover {
			--gradient-start: 100% 600%;
			--gradient-end: 20% 350%;
		}

		> button {
			border-radius: var(--border-radius-md);
		}
	}

	& &--active {
		--onboarding-padding-color-1: #f6c59233;
		--onboarding-padding-color-2: #a779ff33;
		--onboarding-border-color-1: #9a34ff71;
		--onboarding-border-color-2: #fcd38d76;
	}
}
