@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/em' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints-product;
im.$media-expressions: $media-expressions;

.price--large {
	.amount,
	.currency {
		font-size: em(48);
		line-height: 1.2; // font only takes the place for characters ^^
	}

	.suffix {
		color: var(--text-weak);
	}
}

// need to adapt fonts for subscription modal... not enough place
.subscription-modal {
	.price--large {
		.amount,
		.currency {
			@include im.media('<=#{em(1050, 16)}') {
				font-size: em(36); // not enough space
			}
			@include im.media('<=medium') {
				font-size: em(48);
			}
			@include im.media('<=#{em(800, 16)}') {
				font-size: em(36); // not enough space
			}
			@include im.media('<=small') {
				font-size: em(48);
			}
			@include im.media('<=xsmall') {
				font-size: em(36); // not enough space
			}
		}
	}
}
