.squireToolbar-container {
    display: flex;
    height: $composerRowHeight;
    line-height: $composerRowHeight;
    min-height: $composerRowHeight; /* mobile devices */
    border: 1px solid $border;
    background-color: $read;
    border-width: 0 0 1px 0
}
.squireToolbar-container,
.squireToolbar-container * { box-sizing: border-box }

.squireToolbar-container.b .squireToolbar-action-bold,
.squireToolbar-container.i .squireToolbar-action-italic,
.squireToolbar-container.u .squireToolbar-action-underline,
.squireToolbar-container.ul.li .squireToolbar-action-ulist,
.squireToolbar-container.ol.li .squireToolbar-action-olist,
.squireToolbar-container.align-left .squireToolbar-action-aleft,
.squireToolbar-container.align-center .squireToolbar-action-acenter,
.squireToolbar-container.align-right .squireToolbar-action-aright { background: rgba(0, 0, 0, .1) }

[class*="squireToolbar-action-"] {
    border: 0;
    background: transparent;
    width: 40px;
}

[class*="squireToolbar-action-"] + .squireToolbar-separator {border-left: 1px solid $border}

.squire-popover {
  position: absolute;
  z-index: 5;
  padding: 1rem;
  background: $white;
  border: 1px solid $border;
  white-space: nowrap;
  right: 10px !important;
  margin-top: 10px;
  text-align: right;
  display: block;
  input {
        line-height: $inputHeight;
        border: 1px solid #e1e1ef;
        box-sizing: border-box;
        color: $text;
        width: 100%;
        font-size: 1em;
        border-radius: 2px;
        position: relative;
        resize: none;
        margin-bottom: 10px;
        padding: 0 1rem;
  }
  button {
      text-decoration: none;
      padding: 0 10px;
      height: 35px;
      line-height: 35px;
      border: 1px solid $border;
      border-radius: 2px;
      box-sizing: border-box;
      display: inline-block;
      cursor: pointer;
      font-size: 1em;
      transition: background-color .25s linear, border-color .25s linear;
        background-color: $primary;
        border-color: $primary;
        color: $white;
        margin: 0;
  }
}
