.wallet-select {
	&.bordered {
		outline: 1px solid var(--interaction-weak-major-1);

		&:hover:not(.disabled) {
			z-index: 1;
			outline: 2px solid var(--interaction-weak-major-1);
		}
	}

	&:hover:not(.disabled) {
		z-index: 1;
		outline: 1px solid var(--interaction-weak-major-1);
	}

	&:focus-within {
		z-index: 1;
		outline: 2px solid var(--interaction-norm-contrast);
	}

	*:focus-visible {
		outline: none;
	}

	.field-two-label-container {
		font-size: 14px;
		color: var(--text-weak);
	}

	::placeholder {
		color: var(--text-hint);
		font-size: 16px;
	}

	.field-two-input-container {
		color: var(--text-norm);
		font-size: 16px;
	}

	&.disabled * {
		cursor: default;
		color: var(--text-hint);
	}
}

.wallet-select-dropdown-button {
	.field-two-input-container {
		button {
			// container is already outlined
			outline: none !important;
		}
	}
}

.wallet-select-dropdown {
	.dropdown-search {
		background-color: var(--background-weak);

		.field {
			background-color: var(--background-weak);
			border: 1px solid var(--border-weak);

			&:hover {
				border: 2px solid var(--border-weak);
			}

			&:focus-within {
				outline: 2px solid var(--interaction-norm-contrast);
			}
		}
	}
}
