<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{ 'PAYMENT_INFORMATION' | translate }}</h4>
    </div>
    <div class="modal-body pm_form">
        <div class="pm_grid">
            <div class="col-1-2">
                <p>Free online tool to unminify (unpack, deobfuscate) JavaScript, CSS and HTML code, making it readable and pretty.</p>
            </div>
            <div class="col-1-2">
                <div class="pm_grid">
                    <div>
                        <i class="fa fa-user"></i>
                        <span ng-bind="ctrl.fullname"></span>
                    </div>
                    <div>
                        <i class="fa fa-credit-card"></i>
                        <span ng-bind="ctrl.number"></span>
                    </div>
                    <div class="pm_grid margin">
                        <div class="col-1-4">
                            <i class="fa fa-calendar-o"></i>
                            <span ng-bind="ctrl.month"></span>
                        </div>
                        <div class="col-1-4">
                            <i class="fa fa-calendar-o"></i>
                            <span ng-bind="ctrl.year"></span>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer text-right">
    <button type="button" class="pm_button" ng-click="ctrl.cancel()">{{ 'CLOSE' | translate }}</button>
</div>
