@use 'sass:math';
@import '~@proton/styles/scss/lib';

$size-dot: rem(12) !default;

.notification-dot {
	inline-size: $size-dot;
	block-size: $size-dot;

	&--top-right {
		margin-inline-end: -#{math.div($size-dot, 2)};
		margin-block-start: -#{math.div($size-dot, 2)};
	}
}
