<div class="pm_modal {{ctrl.class}} domains" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.close()" aria-hidden="true" title-translate="Close" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <ng-include src="'templates/modals/domain/menu.tpl.html'"></ng-include>
                <h4 class="modal-title">3. <span translate translate-context="Title">Addresses</span> (<em translate >Required</em>)</h4>
            </div>
            <div class="modal-body pm_form">
                <p translate >To send and receive email with this domain, please add all addresses</p>
                <div class="pm_grid" ng-show="ctrl.members.length > 1">
                    <div class="col-12">
                        <label>Choose the member who will own this address:</label>
                        <span class="pm_select">
                            <select ng-model="ctrl.member" ng-options="member.NickName for member in ctrl.members"></select>
                            <i class="fa fa-angle-down"></i>
                        </span>
                    </div>
                </div>
                <form method="post" ng-submit="ctrl.add()">
                    <p>Add addresses for <strong>{{ ctrl.domain.DomainName }}</strong>:</p>
                    <div class="pm_grid margin">
                        <div class="col-1-3">
                            <input autofocus type="text" ng-model="ctrl.address" placeholder-translate="Address" />
                        </div>
                        <div class="col-2-3">
                            <input value="@{{ ctrl.domain.DomainName }}" type="text" readonly class="noBorder">
                        </div>
                    </div>
                    <button type="submit" class="pm_button primary" translate-context="Action" translate-comment="button" translate>Add</button>
                </form>

                <div ng-show="ctrl.domain.Addresses.length > 0">
                    <p><strong translate translate-context="Title" translate-comment="added addesses table label / heading">Added addresses</strong></p>
                    <table class="pm_table pm_form bordered">
                        <thead>
                            <tr>
                                <th translate translate-context="Title" translate-comment="table heading">Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="address in ctrl.domain.Addresses" ng-class="{'disabled': address.Status === 0}">
                                <td>{{ address.Email }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="modal-footer clearfix">
            <button type="button" class="pm_button primary pull-right" ng-click="ctrl.next()" ng-show="ctrl.domain.State > 0" translate translate-context="Action">Next</button>
            <button type="button" class="pm_button" ng-click="ctrl.close()"  translate translate-context="Action">Close</button>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
