<div class="pm_modal {{ctrl.class}} domains" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <ng-include src="'templates/modals/domain/menu.tpl.html'"></ng-include>
                <h4 class="modal-title">3. {{ 'ADDRESSES' | translate }} <em>({{ 'REQUIRED' | translate }})</em></h4>
            </div>
            <div class="modal-body pm_form">
                <p>To send and receive email with <strong>{{ ctrl.domain.DomainName }}</strong>, please add all addresses:</p>
                <div class="pm_grid" ng-show="ctrl.members.length > 1">
                    <div class="col-12">
                        <label>Choose the member who will own this address:</label>
                        <span class="pm_select">
                            <select ng-model="ctrl.member" ng-options="member.NickName for member in ctrl.members"></select>
                            <i class="fa fa-angle-down"></i>
                        </span>
                    </div>
                </div>
                <form class="pm_grid" method="post" ng-submit="ctrl.add()">
                    <div class="col-1-3">
                        <label>Add addresses for <strong>{{ ctrl.domain.DomainName }}</strong>:</label>
                        <input autofocus type="text" ng-model="ctrl.address" placeholder="Address" />
                    </div>
                    <div class="col-1-3">
                        <label>&nbsp;</label>
                        <input value="@{{ ctrl.domain.DomainName }}" type="text" readonly class="noBorder">
                    </div>
                    <div class="col-1-3">
                        <label>&nbsp;</label>
                        <button type="submit" class="pm_button primary">{{ 'ADD' | translate }}</button>
                    </div>
                </form>

                <div ng-show="ctrl.domain.Addresses.length > 0">
                    <p><strong>{{ 'ADDED_ADDRESSES' | translate }}</strong></p>
                    <table class="pm_table pm_form bordered">
                        <thead>
                            <tr>
                                <th>{{ 'ADDRESS' | translate }}</th>
                                <th>{{ 'STATUS' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="address in ctrl.domain.Addresses" ng-class="{'disabled': address.Status === 0 || address.Status === 2}">
                                <td>
                                    <strong ng-show="address.Status === 1">{{ address.Email }}</strong>
                                    <span ng-show="address.Status === 0 || address.Status === 2">{{ address.Email }}</span>
                                </td>
                                <td>
                                    <span class="pm_badge error" ng-show="address.Status === 0">{{ 'DISABLED' | translate }}</span>
                                    <span class="pm_badge success" ng-show="address.Status === 1">{{ 'ENABLED' | translate }}</span>
                                    <span class="pm_badge error" ng-show="address.Status === 2">{{ 'DISABLED' | translate }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="modal-footer text-right">
            <button class="pm_button pull-left" ng-click="ctrl.cancel()">{{ 'CANCEL' | translate }}</button>
            <button type="button" class="pm_button primary" ng-click="ctrl.next()">{{ 'NEXT' | translate }}</button>
        </div>
    </div>
    <div class="modal-overlay" ng-click="ctrl.cancel()"></div>
</div>
