<div class="pm_modal {{ctrl.class}} domains" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.close()" aria-hidden="true" title-translate="Close" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <ng-include src="'templates/modals/domain/menu.tpl.html'"></ng-include>
                <span ng-show="ctrl.domain.DkimState === 0" class="pull-right pm_badge error" translate>Not set</span>
                <span ng-show="ctrl.domain.DkimState === 1 || ctrl.domain.DkimState === 2 || ctrl.domain.DkimState === 3" class="pull-right pm_badge error" translate  translate-comment="dkim status badge">Not set properly</span>
                <span ng-show="ctrl.domain.DkimState === 4" class="pull-right pm_badge success" translate  translate-comment="dkim status badge">On</span>
                <span ng-show="ctrl.domain.DkimState === 5" class="pull-right pm_badge success" translate  translate-comment="dkim status badge">Off</span>
                <h4 class="modal-title">6. <span translate translate-content="Title">DKIM</span> <em translate>Recommended</em></h4>
            </div>
            <div class="modal-body pm_form">
                <p translate >ProtonMail supports DKIM signing for custom domains! To use DKIM authentication, please add the following TXT record into your DNS for this domain. This can typically be done in the control panel of your domain name registrar.</p>
                <p translate >Please add the follow TXT record. Note, DNS records can take several hours to update.</p>
                <p><a target='_blank' href='https://protonmail.com/support/knowledge-base/anti-spoofing/' translate translate-context="Action">Learn more</a></p>
                <table class="pm_table record" ng-if="!mobileMode">
                    <tr>
                        <th style="width:3rem" translate translate-context="Title">Type</th>
                        <th style="width:12.5rem" translate translate-context="Title">Host name</th>
                        <th translate translate-context="Title">Value / Data / Points to</th>
                    </tr>
                    <tr>
                        <td><code>TXT</code></td>
                        <td><code>protonmail._domainkey</code></td>
                        <td><code>{{ ctrl.domain.DkimPublicKey }}</code></td>
                    </tr>
                </table>

                <div ng-if="mobileMode">
                    <p>
                        <strong translate >Type</strong>:<br>
                        <code>MX</code>
                    </p>
                    <p>
                        <strong translate >Host name</strong>:<br>
                        <code>protonmail._domainkey</code>
                    </p>
                    <p>
                        <strong translate >Value / Data / Points to</strong>:<br>
                        <code>{{ ctrl.domain.DkimPublicKey }}</code>
                    </p>
                </div>

                <p class="alert alert-info" translate  translate-context="Info">Keep this record in your DNS for as long as you want to use DKIM. You can change its Value to <code>off</code> to disable DKIM</p>
            </div>
        </div>
        <div class="modal-footer clearfix">
            <button class="pm_button primary pull-right" ng-click="ctrl.next()" translate translate-context="Action">Next</button>
            <button class="pm_button" ng-click="ctrl.close()" translate translate-context="Action">Close</button>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
