<div class="pm_modal {{ctrl.class}} domains" role="dialog" style="display: block;">
    <form method="post" class="modal-dialog" ng-submit="ctrl.submit()">
        <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title="{{ 'Close' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <ng-include src="'templates/modals/domain/menu.tpl.html'"></ng-include>
                <span ng-show="ctrl.domain.DomainName" class="pull-right pm_badge success">{{ 'SET!' | translate }}</span>
                <h4 class="modal-title">1. {{ 'DOMAIN' | translate }}</h4>
            </div>
            <div class="modal-body pm_form">
                <p>{{ 'DOMAIN_INFO_1' | translate }} <a target="_blank" href="https://protonmail.com/support/knowledge-base/custom-domains/">{{ 'LEARN_MORE' | translate }}</a></p>
                <input ng-hide="ctrl.domain" type="text" autofocus ng-model="ctrl.name" placeholder="{{ 'DOMAIN_NAME' | translate }}" />
                <textarea rows="1" ng-show="ctrl.domain" readonly ng-bind="::ctrl.domain.DomainName"></textarea>
            </div>
        </div>
        <div class="modal-footer clearfix">
            <button type="button" class="pm_button" ng-disabled="networkActivity.loading()" ng-click="ctrl.cancel()">{{ 'CLOSE' | translate }}</button>
            <button type="submit" class="pm_button primary pull-right" ng-hide="ctrl.domain.DomainName" ng-disabled="networkActivity.loading()">{{ 'NEXT' | translate }}</button>
            <button type="button" class="pm_button primary pull-right" ng-show="ctrl.domain.DomainName" ng-click="ctrl.next()">{{ 'NEXT' | translate }}</button>
        </div>
    </form>
    <div class="modal-overlay"></div>
</div>
