<div class="pm_modal {{ctrl.class}} domains" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.close()" aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <ng-include src="'templates/modals/domain/menu.tpl.html'"></ng-include>
                <span ng-show="ctrl.domain.MxState === 0" class="pull-right pm_badge error">{{ 'NOT_SET' | translate }}</span>
                <span ng-show="ctrl.domain.MxState === 1 || ctrl.domain.MxState === 2" class="pull-right pm_badge error">{{ 'NOT_SET_PROPERLY' | translate }}</span>
                <span ng-show="ctrl.domain.MxState === 3" class="pull-right pm_badge success">{{ 'GOOD!' | translate }}</span>
                <h4 class="modal-title">4. {{ 'MX_RECORD' | translate }} <em>({{ 'REQUIRED' | translate }})</em></h4>
            </div>
            <div class="modal-body pm_form">
                <p>Before you can receive emails for your custom domain addresses at ProtonMail, you need to add the following MX record to the DNS of <strong>{{ ctrl.domain.DomainName }}</strong>. This can typically be done in the control panel of your domain name registrar. <a target="_blank" href="https://protonmail.com/support/knowledge-base/dns-records/">{{ 'LEARN_MORE' | translate }}</a></p>

                <p>Please add the following MX record. Note, DNS records can take several hours to update.</p>
                <table class="pm_table record desktopOnly">
                    <tr>
                        <th style="width:3rem">{{ 'TYPE' | translate }}</th>
                        <th style="width:6.5rem">{{ 'HOST_NAME' | translate }}</th>
                        <th>{{ 'VALUE_DATA_POINTS_TO' | translate }}</th>
                        <th style="width:4rem">{{ 'PRIORITY' | translate }}</th>
                    </tr>
                    <tr>
                        <td><code>MX</code></td>
                        <td><code>@</code></td>
                        <td><code>mail.protonmail.ch</code></td>
                        <td><code>10</code></td>
                    </tr>
                </table>

                <div class="mobileOnly">
                    <p>
                        <strong>{{ 'TYPE' | translate }}</strong>:<br>
                        <code>MX</code>
                    </p>
                    <p>
                        <strong>{{ 'HOST_NAME' | translate }}</strong>:<br>
                        <code>@</code>
                    </p>
                    <p>
                        <strong>{{ 'VALUE_DATA_POINTS_TO' | translate }}</strong>:<br>
                        <code>mail.protonmail.ch</code>
                    </p>
                    <p>
                        <strong>{{ 'PRIORITY' | translate }}</strong>:<br>
                        <code>10</code>
                    </p>
                </div>

                <p class="alert alert-info">Delete any other MX records or make sure ProtonMail's Priority is the lowest number.</p>

                <p class="alert alert-info">If <strong>{{ ctrl.domain.DomainName }}</strong> is actively receiving emails, create all used email addresses in Step 3 before changing MX record to ensure a smooth transition.</p>

            </div>

        </div>
        <div class="modal-footer clearfix">
            <button class="pm_button primary pull-right" ng-click="ctrl.next()">{{ 'NEXT' | translate }}</button>
            <button class="pm_button" ng-click="ctrl.close()">{{ 'CLOSE' | translate }}</button>
            <div class="clear"></div>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
