<div class="pm_modal {{ctrl.class}} domains" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.close()" aria-hidden="true" title="{{ 'Close' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <ng-include src="'templates/modals/domain/menu.tpl.html'"></ng-include>
                <span ng-show="ctrl.domain.SpfState === 0" class="pull-right pm_badge error">{{ 'NOT_SET' | translate }}</span>
                <span ng-show="ctrl.domain.SpfState === 1 || ctrl.domain.SpfState === 2" class="pull-right pm_badge error">{{ 'NOT_SET_PROPERLY' | translate }}</span>
                <span ng-show="ctrl.domain.SpfState === 3" class="pull-right pm_badge success">{{ 'GOOD!' | translate }}</span>
                <h4 class="modal-title">5. {{ 'SPF' | translate }} <em>({{ 'RECOMMENDED' | translate }})</em></h4>
            </div>
            <div class="modal-body pm_form">
                <div translate="SPF_INFO_1"></div>
                <div translate="SPF_INFO_2"></div>
                <p><a target='_blank' href='https://protonmail.com/support/knowledge-base/anti-spoofing/'>{{ 'LEARN_MORE' | translate }}</a></p>
                <table class="pm_table record desktopOnly">
                    <tr>
                        <th style="width:3rem">{{ 'TYPE' | translate }}</th>
                        <th style="width:6.5rem">{{ 'HOST_NAME' | translate }}</th>
                        <th>{{ 'VALUE_DATA_POINTS_TO' | translate }}</th>
                    </tr>
                    <tr>
                        <td><code>TXT</code></td>
                        <td><code>@</code></td>
                        <td><code>v=spf1 include:_spf.protonmail.ch mx ~all</code></td>
                    </tr>
                </table>

                <div class="mobileOnly">
                    <p>
                        <strong>{{ 'TYPE' | translate }}</strong>:<br>
                        <code>TXT</code>
                    </p>
                    <p>
                        <strong>{{ 'HOST_NAME' | translate }}</strong>:<br>
                        <code>@</code>
                    </p>
                    <p>
                        <strong>{{ 'VALUE_DATA_POINTS_TO' | translate }}</strong>:<br>
                        <code>v=spf1 include:_spf.protonmail.ch mx ~all</code>
                    </p>
                </div>
                <p class="alert alert-info">{{ 'SPF_INFO_3' | translate }}</p>
            </div>
        </div>
        <div class="modal-footer clearfix">
            <button class="pm_button primary pull-right" ng-click="ctrl.next()">{{ 'NEXT' | translate }}</button>
            <button class="pm_button" ng-click="ctrl.close()">{{ 'CLOSE' | translate }}</button>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
