<div class="pm_modal {{ctrl.class}} domains" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.close()" aria-hidden="true" title="{{ 'Close' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <ng-include src="'templates/modals/domain/menu.tpl.html'"></ng-include>
                <span ng-show="ctrl.domain.VerifyState === 0" class="pull-right pm_badge error" translate>Not set</span>
                <span ng-show="ctrl.domain.VerifyState === 1" class="pull-right pm_badge error" translate>Not set properly</span>
                <span ng-show="ctrl.domain.VerifyState === 2" class="pull-right pm_badge success" translate>Good</span>
                <h4 class="modal-title">2. {{ 'Verify' | translate }} <em translate>Required</em></h4>
            </div>
            <div class="modal-body pm_form">
                <div>
                    <p translate>For security reasons, we need to verify that you are the owner of your domain. Please add the following code into your DNS. <strong>Do not remove it even after successful verification</strong>. This can typically be done in the control panel of your domain name registrar.</p>
                    <p translate>Please add the following TXT record:</p>
                    <p><a target='_blank' href='https://protonmail.com/support/knowledge-base/dns-records/' translate>Learn more</a></p>
                    <table class="pm_table record desktopOnly">
                        <tr>
                            <th style="width:3rem" translate>Type</th>
                            <th style="width:6.5rem" translate>Host name</th>
                            <th translate>Value / Data / Points to</th>
                        </tr>
                        <tr>
                            <td><code>TXT</code></td>
                            <td><code>@</code></td>
                            <td><code>{{ ctrl.domain.VerifyCode }}</code></td>
                        </tr>
                    </table>

                    <div class="mobileOnly">
                        <p>
                            <strong translate>Type</strong>:<br>
                            <code>TXT</code>
                        </p>
                        <p>
                            <strong translate>Host name</strong>:<br>
                            <code>@</code>
                        </p>
                        <p>
                            <strong translate>Value / Data / Points to</strong>:<br>
                            <code>{{ ctrl.domain.VerifyCode }}</code>
                        </p>
                    </div>

                    <p class="alert alert-info" translate>It can take up to a day for DNS changes to update.</p>
                </div>
            </div>
        </div>
        <div class="modal-footer clearfix">
            <button ng-show="ctrl.domain.VerifyState === 0 || ctrl.domain.VerifyState === 1" class="pm_button primary pull-right" ng-click="ctrl.submit()" translate>Verify</button>
            <button ng-show="ctrl.domain.State > 0" class="pm_button primary pull-right" ng-click="ctrl.next()" translate>Next</button>
            <button class="pm_button" ng-click="ctrl.close()" translate>Close</button>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
