<div class="pm_modal {{ctrl.class}} domains" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.close()" aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <ng-include src="'templates/modals/domain/menu.tpl.html'"></ng-include>
                <span ng-show="ctrl.domain.VerifyState === 0" class="pull-right pm_badge error">{{ 'NOT_SET' | translate }}</span>
                <span ng-show="ctrl.domain.VerifyState === 1" class="pull-right pm_badge error">{{ 'NOT_SET_PROPERLY' | translate }}</span>
                <span ng-show="ctrl.domain.VerifyState === 2" class="pull-right pm_badge success">{{ 'GOOD!' | translate }}</span>
                <h4 class="modal-title">2. {{ 'VERIFY' | translate }} <em>({{ 'REQUIRED' | translate }})</em></h4>
            </div>
            <div class="modal-body pm_form">
                <div>
                    <p>For security reasons, we need to verify that you are the owner of <strong>{{ ctrl.domain.DomainName }}</strong>. Please add the following code into the DNS for <strong>{{ ctrl.domain.DomainName }}</strong>. <strong>Do not remove it even after successful verification</strong>. This can typically be done in the control panel of your domain name registrar. <a target="_blank" href="https://protonmail.com/support/knowledge-base/dns-records/">{{ 'LEARN_MORE' | translate }}</a></p>
                    <p>Please add the following TXT record:</p>
                    <table class="pm_table record desktopOnly">
                        <tr>
                            <th style="width:3rem">{{ 'TYPE' | translate }}</th>
                            <th style="width:6.5rem">{{ 'HOST_NAME' | translate }}</th>
                            <th>{{ 'VALUE_DATA_POINTS_TO' | translate }}</th>
                        </tr>
                        <tr>
                            <td><code>TXT</code></td>
                            <td><code>@</code></td>
                            <td><code>{{ ctrl.domain.VerifyCode }}</code></td>
                        </tr>
                    </table>

                    <div class="mobileOnly">
                        <p>
                            <strong>{{ 'TYPE' | translate }}</strong>:<br>
                            <code>TXT</code>
                        </p>
                        <p>
                            <strong>{{ 'HOST_NAME' | translate }}</strong>:<br>
                            <code>@</code>
                        </p>
                        <p>
                            <strong>{{ 'VALUE_DATA_POINTS_TO' | translate }}</strong>:<br>
                            <code>{{ ctrl.domain.VerifyCode }}</code>
                        </p>
                    </div>

                    <p class="alert alert-info">{{ 'DNS_PROPAGATE_MESSAGE' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer clearfix">
            <button ng-show="ctrl.domain.VerifyState === 0 || ctrl.domain.VerifyState === 1" class="pm_button primary pull-right" ng-click="ctrl.submit()">{{ 'VERIFY' | translate }}</button>
            <button ng-show="ctrl.domain.State > 0" class="pm_button primary pull-right" ng-click="ctrl.next()">{{ 'NEXT' | translate }}</button>
            <button class="pm_button" ng-click="ctrl.close()">{{ 'CLOSE' | translate }}</button>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
