<div class="pm_modal {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.close()" aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <ng-include src="'templates/modals/domain/menu.tpl.html'"></ng-include>
                <h4 class="modal-title">2. {{ 'VERIFY' | translate }}</h4>
            </div>
            <div class="modal-body pm_form">
                <div ng-show="ctrl.domain.VerifyState === 2">
                    <p class="alert alert-success">
                        <i class="fa fa-check-circle-o"></i>
                        <strong>{{ ctrl.domain.DomainName }}</strong> is verified!
                    </p>
                </div>

                <div ng-show="ctrl.domain.VerifyState === 0 || ctrl.domain.VerifyState === 1">
                    <p>For security reasons, we need to verify that you are the owner of <strong>{{ ctrl.domain.DomainName }}</strong>. Please add the following <kbd>TXT</kbd> record into the DNS for <strong>{{ ctrl.domain.DomainName }}</strong>. This can typically be done in the control panel of your domain name registrar. <a target="_blank" href="https://protonmail.com/support/knowledge-base/verify-your-domain">{{ 'LEARN_MORE' | translate }}</a></p>
                    <textarea ng-bind="ctrl.domain.VerifyCode" readonly></textarea>
                    <p class="alert alert-info">Note, it can take up to an hour after updating your DNS record before verification succeeds.</p>
                </div>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button class="pm_button pull-left" ng-click="ctrl.close()">{{ 'CANCEL' | translate }}</button>
            <button ng-show="ctrl.domain.VerifyState===0 || ctrl.domain.VerifyState===1" class="pm_button primary" ng-click="ctrl.submit()">{{ 'VERIFY' | translate }}</button>
            <button ng-show="ctrl.domain.VerifyState===2" class="pm_button primary" ng-click="ctrl.next()">{{ 'NEXT' | translate }}</button>
        </div>
    </div>
    <div class="modal-overlay" ng-click="ctrl.close()"></div>
</div>
