.recovery-score-accent {
	--recovery-score-accent-bg-default: var(--signal-danger-minor-1);
	--recovery-score-accent-bg-hover: color-mix(
		in srgb,
		var(--recovery-score-accent-bg-default) 80%,
		var(--recovery-score-accent-color)
	);
	--recovery-score-accent-bg-active: color-mix(
		in srgb,
		var(--recovery-score-accent-bg-default) 65%,
		var(--recovery-score-accent-color)
	);
	--recovery-score-accent-text-default: color-mix(in srgb, var(--text-norm) 88%, var(--recovery-score-accent-color));
	--recovery-score-accent-text-hover: var(--recovery-score-accent-text-default);
	--recovery-score-accent-text-active: var(--recovery-score-accent-text-default);
}

.recovery-score-accent-color-danger {
	--recovery-score-accent-color: var(--signal-danger);
	--recovery-score-accent-bg-default: color-mix(in srgb, var(--background-norm) 58%, var(--signal-danger));
	--recovery-score-accent-bg-hover: color-mix(in srgb, var(--background-norm) 35%, var(--signal-danger));
	--recovery-score-accent-bg-active: color-mix(in srgb, var(--background-norm) 75%, var(--signal-danger));
	--recovery-score-accent-text-default: color-mix(in srgb, var(--text-norm) 90%, var(--signal-danger));
}

.recovery-score-accent-color-warning {
	--recovery-score-accent-color: var(--signal-warning);
	--recovery-score-accent-bg-default: color-mix(in srgb, var(--background-norm) 50%, var(--signal-warning));
	--recovery-score-accent-bg-hover: color-mix(in srgb, var(--background-norm) 10%, var(--signal-warning));
	--recovery-score-accent-bg-active: color-mix(in srgb, var(--background-norm) 75%, var(--signal-warning));
	--recovery-score-accent-text-default: color-mix(in srgb, var(--text-norm) 90%, var(--signal-warning));
}

.recovery-score-accent-color-info {
	--recovery-score-accent-color: var(--signal-info);
	--recovery-score-accent-bg-default: color-mix(in srgb, var(--background-norm) 58%, var(--signal-info));
	--recovery-score-accent-bg-hover: color-mix(in srgb, var(--background-norm) 70%, var(--signal-info));
	--recovery-score-accent-bg-active: color-mix(in srgb, var(--background-norm) 70%, var(--signal-info));
	--recovery-score-accent-text-default: color-mix(in srgb, var(--text-norm) 92%, var(--signal-info));
}

.recovery-score-accent-color-success {
	--recovery-score-accent-color: var(--signal-success);
	--recovery-score-accent-bg-default: color-mix(in srgb, var(--background-norm) 58%, var(--signal-success));
	--recovery-score-accent-bg-hover: color-mix(in srgb, var(--background-norm) 70%, var(--signal-success));
	--recovery-score-accent-bg-active: color-mix(in srgb, var(--background-norm) 70%, var(--signal-success));
	--recovery-score-accent-text-default: color-mix(in srgb, var(--text-norm) 90%, var(--signal-success));
}

[data-theme-mode='dark'] {
	.recovery-score-accent-color-danger {
		--recovery-score-accent-bg-default: color-mix(in srgb, var(--background-norm) 50%, var(--signal-danger));
		--recovery-score-accent-bg-hover: color-mix(in srgb, var(--background-norm) 78%, var(--signal-danger));
		--recovery-score-accent-bg-active: color-mix(in srgb, var(--background-norm) 74%, var(--signal-danger));
		--recovery-score-accent-text-default: color-mix(in srgb, var(--text-norm) 85%, var(--signal-danger-major-2));
	}

	.recovery-score-accent-color-warning {
		--recovery-score-accent-bg-default: color-mix(in srgb, var(--background-norm) 50%, var(--signal-warning));
		--recovery-score-accent-bg-hover: color-mix(in srgb, var(--background-norm) 78%, var(--signal-warning));
		--recovery-score-accent-bg-active: color-mix(in srgb, var(--background-norm) 74%, var(--signal-warning));
		--recovery-score-accent-text-default: color-mix(in srgb, var(--text-norm) 85%, var(--signal-warning-major-2));
	}

	.recovery-score-accent-color-info {
		--recovery-score-accent-bg-default: color-mix(in srgb, var(--background-norm) 50%, var(--signal-info));
		--recovery-score-accent-bg-hover: color-mix(in srgb, var(--background-norm) 80%, var(--signal-info));
		--recovery-score-accent-bg-active: color-mix(in srgb, var(--background-norm) 76%, var(--signal-info));
		--recovery-score-accent-text-default: color-mix(in srgb, var(--text-norm) 88%, var(--signal-info-major-2));
	}

	.recovery-score-accent-color-success {
		--recovery-score-accent-bg-default: color-mix(in srgb, var(--background-norm) 50%, var(--signal-success));
		--recovery-score-accent-bg-hover: color-mix(in srgb, var(--background-norm) 80%, var(--signal-success));
		--recovery-score-accent-bg-active: color-mix(in srgb, var(--background-norm) 76%, var(--signal-success));
		--recovery-score-accent-text-default: color-mix(in srgb, var(--text-norm) 88%, var(--signal-success-major-2));
	}
}

.recovery-score-banner-button {
	--button-default-background-color: var(--recovery-score-accent-bg-default);
	--button-hover-background-color: var(--recovery-score-accent-bg-hover);
	--button-active-background-color: var(--recovery-score-accent-bg-active);
	--button-default-text-color: var(--recovery-score-accent-text-default);
	--button-hover-text-color: var(--recovery-score-accent-text-hover);
	--button-active-text-color: var(--recovery-score-accent-text-active);
}

.recovery-score-banner-shield-button {
	--recovery-score-banner-shield-button-shadow-color: color-mix(
		in srgb,
		transparent 75%,
		var(--recovery-score-accent-color)
	);

	outline: none;
	transition: filter 0.25s ease-in-out;
	filter: drop-shadow(0 0 0 var(--recovery-score-banner-shield-button-shadow-color))
		drop-shadow(0 0 0 var(--recovery-score-banner-shield-button-shadow-color)) brightness(1);

	&:hover,
	&:focus-visible {
		filter: drop-shadow(1px 1px 8px var(--recovery-score-banner-shield-button-shadow-color))
			drop-shadow(0 0 2px var(--recovery-score-banner-shield-button-shadow-color)) brightness(1.05);
	}
}

.recovery-score-modal-pill {
	background-color: var(--recovery-score-accent-bg-default);
	color: var(--recovery-score-accent-text-default);
}
