@use 'sass:map';
@use '~@proton/styles/scss/lib/config' as *;

.drawer-app-header {
	&-dropdownItem {
		inset-block-start: 100%;
		background-color: var(--background-norm);
		z-index: map.get($z-indexes, 'floating-frames');
		border-end-end-radius: var(--border-radius-xl);
		border-end-start-radius: var(--border-radius-xl);
	}
}

// Need to shift slightly the button to the left and to lower the padding
.drawer-header-button {
	padding-inline: 0.25em;
	margin-inline-start: -0.25em;
}
