<div class="tosubscribeOverview-container">

    <header class="tosubscribeOverview-head">
        <h2 class="tosubscribeOverview-title-plan">Plan</h2>
        <h2 class="tosubscribeOverview-title-price">Price</h2>
    </header>

    <ul class="tosubscribeOverview-list" data-valid-cycle-master="{{::ctrl.valid.Cycle}}">
        <li
            class="tosubscribeOverview-item"
            ng-repeat="plan in ctrl.plans | filter: {Type: 1}"
            data-cycle="{{ ::plan.Cycle}}"
            data-plan="{{ ::plan.Name}}">

            <header class="tosubscribeOverview-item-header">
                <h3 class="tosubscribeOverview-item-title">{{ ::plan.Title }}</h3>
                <strong class="tosubscribeOverview-price-monthly">{{ plan.Amount / 100 | currency: plan.Currency }}</strong>
                <strong class="tosubscribeOverview-price-yearly">{{ plan.Amount / 100 / 12 | fixed: 2 | currency: plan.Currency }}/mo</strong>
            </header>

            <ul class="tosubscribeOverview-list-about" ng-if="plan.Name.indexOf('vpn') === -1">
                <li class="tosubscribeOverview-about-space">
                    {{ ::ctrl.count('MaxSpace') | humanSize }}
                    <span class="tosubscribeOverview-about-type" translate>Storage</span>
                    <strong ng-if="ctrl.price('space')" class="tosubscribeOverview-price">{{ ::ctrl.price('space') / 100 / 12 | fixed: 2 | currency: plan.Currency  }}
                        <span
                            class="tosubscribeOverview-price-scope"
                            translate-context="Price per month"
                            translate>/mo</span>
                    </strong>
                </li>
                <li class="tosubscribeOverview-about-domains">
                    {{ ::ctrl.count('MaxDomains') }}
                    <span class="tosubscribeOverview-about-type" translate translate-n="ctrl.count('MaxDomains')" translate-plural="Custom domains">Custom domain</span>
                    <strong ng-if="ctrl.price('domain')" class="tosubscribeOverview-price">{{ ::ctrl.price('domain') / 100 / 12 | fixed: 2 | currency: plan.Currency }}
                        <span
                            class="tosubscribeOverview-price-scope"
                            translate-context="Price per month"
                            translate>/mo</span>
                    </strong>
                </li>

                <li class="tosubscribeOverview-about-members">
                    {{ ::ctrl.count('MaxMembers') }}
                    <span class="tosubscribeOverview-about-type" translate translate-n="ctrl.count('MaxMembers')" translate-plural="Custom members">Custom user</span>
                    <strong ng-if="ctrl.price('member')" class="tosubscribeOverview-price">{{ ::ctrl.price('member') / 100 / 12 | fixed: 2 | currency: plan.Currency }}
                        <span
                            class="tosubscribeOverview-price-scope"
                            translate-context="Price per month"
                            translate>/mo</span>
                    </strong>
                </li>

                <li class="tosubscribeOverview-about-addresses">
                    {{ ::ctrl.count('MaxAddresses') }}
                    <span class="tosubscribeOverview-about-type" translate translate translate-n="ctrl.count('MaxAddresses')" translate-plural="Addresses">Address</span>
                    <strong ng-if="ctrl.price('address')" class="tosubscribeOverview-price">{{ ::ctrl.price('address') / 100 / 12 | fixed: 2 | currency: plan.Currency }}
                        <span
                            class="tosubscribeOverview-price-scope"
                            translate-context="Price per month"
                            translate>/mo</span>
                    </strong>
                </li>
            </ul>
        </li>

        <li class="tosubscribeOverview-item tosubscribeOverview-total-monthly" data-valid-cycle="1:1">
            <strong class="tosubscribeOverview-item-valid-monthly" tranlate translate-context="Title">Total per month (incl. taxes)</strong>
            <strong>{{ ctrl.valid.Amount / 100 | currency: ctrl.valid.Currency }}</strong>
        </li>

        <li class="tosubscribeOverview-item tosubscribeOverview-total-monthly" data-valid-cycle="12:1">
            <strong class="tosubscribeOverview-item-valid-monthly" translate translate-context="Title">Total per month (incl. taxes)</strong>
            <strong>{{ ctrl.valid.Amount / 100 / 12 | fixed:2 | currency: ctrl.valid.Currency }}</strong>
        </li>

        <li class="tosubscribeOverview-item tosubscribeOverview-total-yearly" data-valid-cycle="12:12">
            <strong class="tosubscribeOverview-item-valid-yearly" translate translate-context="Title">Total per year (incl. taxes)</strong>
            <strong>{{ ctrl.valid.Amount / 100 | currency: ctrl.valid.Currency }}</strong>
        </li>

        <li class="tosubscribeOverview-item" ng-if="ctrl.valid.Proration !== 0">
            <span class="desc" translate translate-context="Title">Proration</span>
            <strong  class="text-green">{{ ctrl.valid.Proration / 100 | currency: ctrl.valid.Currency }}</strong>
        </li>

        <li class="tosubscribeOverview-item" ng-if="ctrl.valid.CouponDiscount !== 0">
            <span class="desc" translate translate-context="Title">Coupon</span>
            <strong>{{ ctrl.valid.CouponDiscount / 100 | currency: ctrl.valid.Currency }}</strong>
        </li>

        <li class="tosubscribeOverview-item" ng-if="ctrl.valid.Credit !== 0">
            <span class="desc" translate translate-context="Title">Credit</span>
            <strong class="text-green">{{ ctrl.valid.Credit / 100 | currency: ctrl.valid.Currency }}</strong>
        </li>

        <li class="tosubscribeOverview-item">
            <strong translate translate-context="Title">Amount due</strong>
            <strong>{{ ctrl.valid.AmountDue / 100 | currency: ctrl.valid.Currency }}</strong>
        </li>

    </ul>
</div>
