@use '~@proton/styles/scss/lib/rem' as *;

.pass-installation {
	&--dot {
		inline-size: rem(24);
		block-size: rem(24);
		font-size: rem(11);
		color: var(--background-invert);
		background: var(--primary);
	}

	&--connect-illustration {
		block-size: 160px !important;
	}

	&--white-separator {
		background-color: var(--text-weak);
	}
}
