@use '~@proton/styles/scss/pass/pass-lib' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints-product;
im.$media-expressions: $media-expressions;

.pass-welcome {
	&--onboarding-video {
		position: relative;
		padding-block-end: 48%;
		block-size: 0;
		inline-size: 100%;
		overflow: hidden;

		iframe {
			position: absolute;
			inset-block-start: 0;
			inset-inline-start: 0;
			inline-size: 100%;
			block-size: 100%;
		}
	}

	&--on-medium-default-grow {
		@include im.media('<medium') {
			flex: 1 1 auto !important;
		}
	}

	&--import-btn {
		outline: 1px solid var(--interaction-norm-major-2);
	}
}
