
// Tablet
@media screen and (max-width: 991px) {
	#header #navbar {
		position: fixed;
		right: 0;
		left: ($sidebar-width)*.5;
		top: 0;
	}
	.panel-medium,
	.panel-wide {
	    width: auto;
	}	
	#main {
		padding-top: 6rem;
	}
	body table.message-list tr td.recipient {
		width: 14rem;
	}
	table .size {
		display: none;
	}
	body #messageActionGroup .btn {
		padding: 0 3rem;
	}
	.message-toolbar > ul > li > a {
		padding: 0 10px;
	}
	#main {
		padding-left: ($sidebar-width)*.5;
		&.eo {
			padding: 0;
		}
		&.fixed {
			display: block;
			position: static;
		}
	}
	#main.fixed #content, 
	#main.fixed #message-content {
		display: block;
	}
	#dragOverlay {
		left: ($sidebar-width)*.5;
	}
	#sidebar {
		width: ($sidebar-width)*.5;
		.list-group-item {
			.btn {
				line-height: ($row-height*2);
				text-align: center;
				&.btn-composer {
					height: 6rem;
  					line-height: 6rem;
				}
			}
			.fa {
				margin-right: 0;
				font-size: 2rem;
			}
		}
	}
}