// Tablet
@media screen and (max-width: 991px) {
	@import "_app.scss";
	@import "_tablet-header.scss";
	@import "_tablet-login.scss";
	@import "_tablet-composer.scss";
	@import "_message-list.scss";
	@import "_tablet-eo.scss";
}
html.ua-mobile-ipad {
	table .size {
		display: none;
	}
	body #messageActionGroup .btn {
		padding: 0 3rem;
		line-height: 4rem; 
		height: 4rem;
	}
	.message-toolbar > ul > li > a {
		padding: 0 10px;
	}
	#main {
		&.eo {
			padding: 0;
		}
		&.fixed {
			display: block;
			position: static;
		}
	}
	#main.fixed #content, 
	#main.fixed #message-content {
		display: block;
	}
	#dragOverlay {
		left: ($sidebar-width)*.5;
	}
}