#composerFrame {
	z-index: 999999;
}
.activeComposer {
	#content,
	#main {
	    display: none !important;
	}
}
body .composer {
	&,
	&.maximized,
	&.normalized {
		top: 0 !important;
		left: 0;
		right: 0 !important;
		bottom: 0;
		width: 100% !important;
		z-index: 9999 !important;
		height: auto !important;
		box-shadow: none;
		z-index: auto;
		border-radius: 0;
		transition: none !important;
		overflow: hidden;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;		
		& > .composer-body {
            -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
        }
		.close-button .fa {
			color: #fff;
		}
		.composer-header {
			border-radius: 0;
			background: #222;
		}
	}
	&.minimized {
		top: auto !important;
		left: 2rem !important; //rem
		right: 2rem !important;
		bottom: 1rem;
		width: auto !important;
		z-index: inherit !important;
		height: auto !important;
		box-shadow: none;
		z-index: auto;
	}		
}