#content {
	inline-size: 59.67%;
	block-size: 100%;
	flex-shrink: 0;
	background-color: var(--background-norm);
	border-inline-start: 1px solid var(--border-norm);
	box-shadow: 0 0.5rem 1.5rem rgb(14 14 14 / 0.8);

	// When the Content is empty, hide it completely
	// let the sidebar take full-width.
	&:empty {
		display: none;
	}
}
