<form
    name="codeVerificatorForm"
    class="codeVerificator-container"
    novalidate>

    <div class="codeVerificator-contact-section flex">
        <div class="pm-field-container">
            <input
                class="codeVerificator-email-input pm-field"
                type="email"
                name="emailVerification"
                id="emailVerification"
                required
                ng-model="model.value"
                ng-if="method === 'email'"
                data-valid-email
                placeholder-translate-context="Placeholder"
                placeholder-translate="Email verification">
            <input
                class="codeVerificator-sms-input pm-field"
                type="tel"
                name="smsVerification"
                ng-if="method === 'sms'"
                required
                id="smsVerification"
                data-ng-intl-tel-input
                ng-model="model.value">
            <div
                class="error-zone"
                ng-messages="codeVerificatorForm.emailVerification.$error"
                ng-show="codeVerificatorForm.emailVerification.$dirty || codeVerificatorForm.$submitted">
                <p
                    class="m0 color-global-warning"
                    ng-message="required"
                    translate-context="Error"
                    translate>Email required</p>
                <p
                    class="m0 color-global-warning"
                    ng-message="email"
                    translate-context="Error"
                    translate>Invalid email</p>
            </div>

            <div
                class="error-zone"
                ng-messages="codeVerificatorForm.smsVerification.$error"
                ng-show="codeVerificatorForm.smsVerification.$dirty || codeVerificatorForm.$submitted">
                <p
                    class="m0 color-global-warning"
                    ng-message="required"
                    translate-context="Error"
                    translate>SMS number required</p>
                <p
                    class="m0 color-global-warning"
                    ng-message="ngIntlTelInput"
                    translate-context="Error"
                    translate>Invalid format (country and/or number)</p>
            </div>
        </div>

        <div class="w30">
            <button
                class="pm-button-blue codeVerificator-btn-send"
                translate-context="Action"
                translate>Send</button>
        </div>
    </div>

    <div class="codeVerificator-code-section mb2">
        <p class="block-info-success">
            <strong translate-context="Info" translate>Verification code sent</strong><br />
            <span class="codeVerificator-email-instruction" translate-context="Info" translate>Please check your email and enter the code below:</span>
            <span class="codeVerificator-sms-instruction" translate-context="Info" translate>Please check your mobile and enter the code below:</span>
        </p>

        <input
            type="text"
            name="codeValue"
            id="codeValue"
            class="pm-field"
            ng-model="code"
            placeholder-translate-context="Input for the code sent"
            placeholder-translate="Verification code">
    </div>

    <div class="flex flex-spacebetween">
        <button
            data-action="sendNewCode"
            type="button"
            class="pm-button codeVerificator-new-code-button no-pointer-events-children"
            translate-context="Action"
            translate>Send new code</button>

        <button
            data-action="resetCode"
            type="button"
            class="pm-button codeVerificator-reset-code-button no-pointer-events-children">
            <span
                class="codeVerificator-reset-button-email"
                translate-context="Action"
                translate>Change verification email</span>
            <span
                class="codeVerificator-reset-button-sms"
                translate-context="Action"
                translate>Change verification number</span>
        </button>
    </div>

</form>
