<span class="pm-field-container passwordComponent-container" data-current-mode="password">
    <span class="relative">
        <input
            type="password"
            class="password-input pm-field w100"
            ng-model="value"
            autocapitalize="off"
            autocorrect="off"
            autocomplete="off"
            required>

        <button
            type="button"
            data-mode="cleartext"
            class="password-revealer inline-flex  no-pointer-events-children"
            pt-tooltip-translate="Show password"
            pt-tooltip-translate-context="toggle password">
            <icon data-name="read">
            <span
                translate
                translate-context="toggle password"
                class="sr-only">Show password</span>
        </button>

        <button
            type="button"
            data-mode="password"
            class="password-revealer inline-flex  no-pointer-events-children"
            pt-tooltip-translate="Hide password"
            pt-tooltip-translate-context="toggle password">
            <icon data-name="unread">
            <span
                translate
                translate-context="toggle password"
                class="sr-only">Hide password</span>
        </button>

    </span>

    <div
        class="error-zone password-messages"
        ng-messages="message"
        ng-show="input.$dirty || form.$submitted">
        <p
            class="m0 color-global-warning"
            ng-message="required"
            translate-context="Error"
            translate>Field required</p>
        <p
            class="m0 color-global-warning"
            ng-message="compareTo"
            translate-context="Error"
            translate>Passwords do not match</p>
    </div>

</span>
