<div class="password-container">
    <input
        type="password"
        class="password-input"
        ng-model="value"
        autocapitalize="off"
        autocorrect="off"
        autocomplete="off"
        required
        data-toggle-password>

    <div class="password-messages" ng-messages="message">
        <p ng-message="required" class="text-red" translate-context="Error" translate>Field required</p>
        <p ng-message="compareTo" class="text-red" translate-context="Error" translate>Passwords do not match</p>
    </div>
</div>
