// This is temporary, we will need to use the theme colors and have better implementation

$badge-colors: (
	default: (
		bg: var(--iris-100),
		bg-dark: var(--iris-900),
		bg-hover: var(--iris-200),
		bg-dark-hover: var(--iris-700),
		text: var(--iris-700),
		text-dark: var(--iris-300),
		text-hover: var(--iris-900),
		text-dark-hover: var(--iris-200),
	),
	social: (
		bg: var(--sky-100),
		text: var(--sky-700),
		bg-dark: var(--sky-900),
		text-dark: var(--sky-300),
		bg-hover: var(--sky-200),
		text-hover: var(--sky-900),
		bg-dark-hover: var(--sky-700),
		text-dark-hover: var(--sky-200),
	),
	promotions: (
		bg: var(--teal-100),
		text: var(--teal-700),
		bg-dark: var(--teal-900),
		text-dark: var(--teal-300),
		bg-hover: var(--teal-200),
		text-hover: var(--teal-900),
		bg-dark-hover: var(--teal-700),
		text-dark-hover: var(--teal-200),
	),
	newsletters: (
		bg: var(--pink-100),
		text: var(--pink-700),
		bg-dark: var(--pink-900),
		text-dark: var(--pink-300),
		bg-hover: var(--pink-200),
		text-hover: var(--pink-900),
		bg-dark-hover: var(--pink-700),
		text-dark-hover: var(--pink-200),
	),
	transactions: (
		bg: var(--blue-100),
		text: var(--blue-700),
		bg-dark: var(--blue-900),
		text-dark: var(--blue-300),
		bg-hover: var(--blue-200),
		text-hover: var(--blue-900),
		bg-dark-hover: var(--blue-700),
		text-dark-hover: var(--blue-200),
	),
	updates: (
		bg: var(--purple-100),
		text: var(--purple-700),
		bg-dark: var(--purple-900),
		text-dark: var(--purple-300),
		bg-hover: var(--purple-200),
		text-hover: var(--purple-900),
		bg-dark-hover: var(--purple-700),
		text-dark-hover: var(--purple-200),
	),
	forums: (
		bg: var(--amber-100),
		text: var(--amber-700),
		bg-dark: var(--amber-900),
		text-dark: var(--amber-300),
		bg-hover: var(--amber-200),
		text-hover: var(--amber-900),
		bg-dark-hover: var(--amber-700),
		text-dark-hover: var(--amber-200),
	),
);

.category-badge {
	@each $name, $colors in $badge-colors {
		&--#{$name} {
			background-color: map-get($colors, bg);
			color: map-get($colors, text);

			&-dark {
				background-color: map-get($colors, bg-dark);
				color: map-get($colors, text-dark);

				&:hover {
					background-color: map-get($colors, bg-dark-hover);
					color: map-get($colors, text-dark-hover);
				}
			}

			&:hover {
				background-color: map-get($colors, bg-hover);
				color: map-get($colors, text-hover);
			}
		}
	}
}
