.vintage-clock {
	display: grid;
	gap: 0.5rem 0.25rem;
	grid-template-columns: 1fr 1fr auto 1fr 1fr;
}

.vintage-clock-unit-coarse {
	grid-column: 1 / span 2;
}

.vintage-clock-unit-fine {
	grid-column: 4 / span 2;
}
