<ng-include src="'templates/partials/header-no-auth.tpl.html'"></ng-include>

<div id="robotLoader" ng-show="domoArigato">
	<p class="text-center">Decrypting Mailbox</p>
</div>

<div class="row" ng-hide="domoArigato">
    <div ui-view="panel"></div>
</div>
    
    <!-- <p class="text-center white"><a href="https://blog.protonmail.ch/category/release-notes/" class="underline" target="_blank">v{{ app_version }} - {{ date_version }}</a></p> -->

<!-- <ng-include src="'templates/partials/form.bug.tpl.html'"></ng-include> -->
