<ng-include src="'templates/partials/header-no-auth.tpl.html'"></ng-include>

<div id="robotLoader" ng-show="domoArigato">
    <img src="assets/img/loader.gif" class="fa fa-spin">
</div>

<div class="row" ng-hide="domoArigato">
    <div ui-view="panel"></div>
</div>
    
<div id="pm_footer">
    <p>
    &copy; 2015 ProtonMail.ch - Made globally, hosted in Switzerland. v<a href="https://blog.protonmail.ch/category/release-notes/" target="_blank">{{ app_version }}</a></p>
</div>

<ng-include src="'templates/modals/bug.tpl.html'"></ng-include>
