<div class="pm_modal small {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <form method="post" ng-submit="VPNNameForm.$valid && ctrl.submit()" novalidate="" name="VPNNameForm" autocomplete="off">
            <button type="button" ng-click="ctrl.cancel()" aria-hidden="true" title-translate="Close" title-translate-context="Action" class="fa fa-times close"></button>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" translate translate-context="Title">Change OpenVPN Login</h4>
                </div>
                <div class="modal-body pm_form">
                    <label for="VPNName" translate-context="Label" translate>Enter new OpenVPN login</label>
                    <div class="alert alert-info margin-top margin-bottom">
                        <p translate-context="Info" translate>Valid characters are A-Z, a-z, 0-9, . (full stop), _ (underscore) and - (hyphen). The login must start and end with an alphanumeric character.</p>
                    </div>
                    <input type="text" id="VPNName" ng-model="ctrl.VPNName" required />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="pm_button" ng-click="ctrl.cancel()" translate translate-context="Action">Cancel</button>
                <button type="submit" class="pm_button primary pull-right disabled-if-network-activity" translate-context="Action" translate>Submit</button>
            </div>
        </form>
    </div>
    <div class="modal-overlay"></div>
</div>
