<ul class="vpn-ressourcesSection-clients-list">
    <li class="vpn-ressourcesSection-clients-item">
        <a class="vpn-ressourcesSection-clients-item-container plateform-windows" href="https://protonvpn.com/download/" target="_blank">
            <i class="vpn-ressourcesSection-clients-item-icon fa fa-windows"></i>
            <div class="vpn-ressourcesSection-clients-item-text">
                <strong>Windows</strong>
            </div>
            <div
                class="vpn-ressourcesSection-clients-item-download"
                translate-context="Action"
                translate>Download</div>
        </a>
    </li>
    <li class="vpn-ressourcesSection-clients-item">
        <a class="vpn-ressourcesSection-clients-item-container plateform-apple" href="https://protonvpn.com/support/mac-vpn-setup/" target="_blank">
            <i class="vpn-ressourcesSection-clients-item-icon fa fa-apple"></i>
            <div class="vpn-ressourcesSection-clients-item-text"><strong>Mac</strong></strong></div>
            <div
                class="vpn-ressourcesSection-clients-item-download"
                translate-context="Action"
                translate>Download</div>
        </a>
    </li>
    <li class="vpn-ressourcesSection-clients-item">
        <a class="vpn-ressourcesSection-clients-item-container plateform-linux" href="https://protonvpn.com/support/linux-vpn-setup/" target="_blank">
            <i class="vpn-ressourcesSection-clients-item-icon fa fa-linux"></i>
            <div class="vpn-ressourcesSection-clients-item-text"><strong>GNU/Linux</strong></div>
            <div
                class="vpn-ressourcesSection-clients-item-download"
                translate-context="Action"
                translate>Download</div>
        </a>
    </li>
    <li class="vpn-ressourcesSection-clients-item">
        <a class="vpn-ressourcesSection-clients-item-container plateform-ios" href="https://protonvpn.com/support/ios-vpn-setup/" target="_blank">
            <i class="vpn-ressourcesSection-clients-item-icon fa fa-apple"></i>
            <div class="vpn-ressourcesSection-clients-item-text"><strong>iOS</strong></div>
            <div
                class="vpn-ressourcesSection-clients-item-download"
                translate-context="Action"
                translate>Download</div>
        </a>
    </li>
    <li class="vpn-ressourcesSection-clients-item">
        <a class="vpn-ressourcesSection-clients-item-container plateform-android" href="https://play.google.com/store/apps/details?id=com.protonvpn.android" target="_blank">
            <i class="vpn-ressourcesSection-clients-item-icon fa fa-android"></i>
            <div class="vpn-ressourcesSection-clients-item-text"><strong>Android</strong></div>
            <div
                class="vpn-ressourcesSection-clients-item-download"
                translate-context="Action"
                translate>Download</div>
        </a>
    </li>
</ul>
