@use 'sass:map';
@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints-product;
im.$media-expressions: $media-expressions;

.transfer-manager-fixed-position {
	position: fixed;
	inset-block-end: 2rem;
	inline-size: var(--tm-width, 500px);
	max-inline-size: var(--tm-width, 500px);
	max-block-size: calc(100vh - 3rem);
	display: flex;
	flex-direction: column;
	z-index: map.get($z-indexes, 'transfer-manager');
	box-shadow: var(--shadow-lifted);
	border-radius: var(--border-radius-md);
	background: var(--background-norm);
	color: var(--text-norm);
	overflow: hidden;

	@include im.media('<=small') {
		inset-inline: 1rem;
		inline-size: 100vw;
		max-inline-size: 100vw;
		box-shadow: none;
		inset-inline-start: 0;
		inset-block-end: 0;
		border-radius: 0;
		border-start-end-radius: var(--border-radius-md);
		border-start-start-radius: var(--border-radius-md);
	}

	.tm-progress {
		background-color: var(--background-strong);

		&::-webkit-progress-bar {
			background-color: var(--background-strong);
		}
	}
}
