.signupPayForm-container:not(.signupPayForm-error) {
    .signupPayForm-msg-error,
    .signupPayForm-btn-retry { display: none }
}

// Hide the gift amount row when no gift code is entered
.signupPayForm-container:not(.signupPayForm-has-giftCode) {
    .signupPayForm-gift-amount-row {
        display: none;
    }
}

.signupPayForm-method-hidden .signupPayForm-paymentInfo {
    display: none;
}

.signupPayForm-method-paypal .signupPayForm-footer,
.signupPayForm-error .signupPayForm-btn-submit { display: none }


.signupPayForm-show-gift .giftCodeBtn-container { display: none }
.signupPayForm-container:not(.signupPayForm-show-gift) .signupPayForm-btn-apply,
.signupPayForm-container:not(.signupPayForm-show-gift) .giftCodeInput-container { display: none }
.signupPayForm-gift-applied .signupPayForm-gift-row { display: none }


.signupPayForm-container th {
    font-weight: normal;
    text-transform: lowercase;
}

.signupPayForm-container th:first-letter { text-transform: uppercase; }

.signupPayForm-btn-apply { align-self: flex-start; }
