.signupPayForm-container:not(.signupPayForm-error) {
    .signupPayForm-msg-error,
    .signupPayForm-btn-retry { display: none }
}

// Hide the gift amount row when no gift code is entered
.signupPayForm-container:not(.signupPayForm-has-giftCode) {
    .signupPayForm-gift-amount-row {
        display: none;
    }
}

.signupPayForm-container label {
    font-weight: bold;
}

.signupPayForm-method-hidden .signupPayForm-paymentInfo {
    display: none;
}

.signupPayForm-method-paypal .signupPayForm-footer,
.signupPayForm-error .signupPayForm-btn-submit { display: none }

.signupPayForm-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupPayForm-gift-col {
    display: flex;
}

.signupPayForm-container .giftCodeInput-container {
    flex: 1;
}

.signupPayForm-btn-apply {
    margin-left: 20px;
}

.signupPayForm-show-gift .giftCodeBtn-container { display: none }
.signupPayForm-container:not(.signupPayForm-show-gift) .signupPayForm-btn-apply,
.signupPayForm-container:not(.signupPayForm-show-gift) .giftCodeInput-container { display: none }
.signupPayForm-gift-applied .signupPayForm-gift-row { display: none }
.signupPayForm-container .giftCodeBtn-text { text-transform: uppercase }

