.blackFridayModal.pm_modal .modal-title {
    text-transform: uppercase;
    text-align: center;
}

.blackFridayModal.pm_modal .modal-dialog .modal-content .modal-body {
    box-shadow: none;
    padding: 0;
}

body.appConfigBody-is-mobile .blackFridayModal.pm_modal .modal-dialog .close {
    color: #fff;
}
