.blackFridayPaid-container {
    display: flex;
    flex-direction: column;
}

.blackFridayPaid-banner {
    margin: 20px auto
}

.blackFridayPaid-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.blackFridayPaid-actions > li {
    margin-bottom: 10px;
}
