.navigationBlackFriday-button  {
    animation: pusate 2s infinite alternate;
}

.navigationBlackFriday-button:hover .topnav-linkText {
    color: $primary;
}
.navigationBlackFriday-icon.navigationBlackFriday-icon {
    fill: currentColor;
}
