.navigationBlackFriday-button {
    background: transparent;
    border: none;
}

.navigationBlackFriday-icon,
.navigationBlackFriday-icon::after  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigationBlackFriday-icon { width: 100% }

.navigationBlackFriday-icon::after {
    content: url(assets('bf/icon-bf.svg'));
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    animation: pusate 2s infinite alternate;
}
