.google-button {
	background-color: #4285f4;
	position: relative;
	block-size: 3rem;

	&:disabled {
		background-color: var(--background-weak);
		color: #818181;
	}

	&:hover {
		background-color: #3265d2;
	}

	& > .google-logo {
		position: absolute;
	}
}
