@import '~@proton/styles/scss/config';

.proton-emoji-mart .emoji-mart {
	background-color: var(--background-norm);
	border: none;

	.emoji-mart-category-label span {
		background-color: var(--background-norm);
	}

	.emoji-mart-search input {
		background-color: var(--background-norm);
	}
}
