$inputform-default-spacing-text: 0.4rem !default;
$inputform-height-phone-prefix: 2.8rem !default;

.inputform {
	&-container {
		@extend .field-container;
	}

	&-label {
		padding-bottom: $inputform-default-spacing-text;
	}
	&-label-hint,
	&-assist {
		font-size: 1.2rem;
		color: var(--text-weak);
	}
	&-label-hint {
		padding-bottom: 0.1rem; // just to compensate the difference of text size
	}
	&-assist {
		min-height: 1.9em;
		padding-top: $inputform-default-spacing-text;
	}
	&-label-text {
		font-weight: 600;
	}

	&-suffix,
	&-prefix {
		color: var(--text-weak);
	}

	&-field {
		height: $default-height-fields-inputforms;
		padding: em(6) em(16); // design want 34px height (actually 35 to avoid .5px)
		border-radius: $global-border-radius;
		border: 1px solid var(--field-norm);
		background-color: var(--field-background-color, var(--background-norm));
		color: var(--field-text-color, var(--text-norm));
		outline: none;
		filter: none; // fixes Firefox autofill color
		transition: 0.15s easing(easeOutQuint), background-position 0s;

		&.error {
			border-color: var(--signal-danger);
		}

		&:hover,
		&.hover {
			border-color: var(--field-hover);
			background-color: var(
				--field-hover-background-color,
				var(--background-norm)
			);
			color: var(--field-hover-text-color, var(--text-norm));
		}

		&:focus,
		&.focus,
		&:focus-within {
			border-color: var(--interaction-norm);
			background-color: var(
				--field-focus-background-color,
				var(--background-norm)
			);
			color: var(--field-focus-text-color, var(--text-norm));
		}

		&:-moz-ui-invalid {
			// fixes some Firefox issues with HTML5 validation
			box-shadow: none;
		}

		&[type='search'] {
			background: url('#{$path-images}sprite-for-css-only.svg#css-search')
				6px 50% no-repeat;
			background-size: 1.6rem;
			padding-left: 2em;

			&::-webkit-search-cancel-button {
				display: none;
			}
		}

		select#{&} {
			background-size: 1.5rem;
			padding-right: 20px;
			text-overflow: ellipsis;
			overflow: hidden;
			cursor: pointer;

			&::-ms-expand {
				display: none;
			}

			& > optgroup {
				background-color: var(--background-weak);
			}
		}
	}

	& &-prefix-phone {
		height: $inputform-height-phone-prefix; // no variation for bigger - select of content needs to be "fixed"
	}

	// global error state on container
	&-container--invalid {
		.inputform {
			&-label-text,
			&-assist {
				color: var(--signal-danger);
				font-weight: 600;
			}

			&-field {
				border-color: var(--signal-danger);
			}
		}
	}

	// field icon container
	&-icon-container {
		@extend .inputform-field; // added focus-within inside on inputform-field for this fake-field :)
		padding: 0;

		.inputform-field {
			height: 100%;

			&,
			&:focus {
				border: 0;
				width: calc(100% - 1.5em);
				outline: 0;
			}

			&[type='tel'] {
				width: 100%;
				padding-left: 0.5em;
			}
		}

		&-empty {
			// for drive, to keep the same height
			min-height: calc(#{$default-height-fields-inputforms} + 2px);
		}

		&:focus-within {
			.inputform-field {
				background-color: transparent;
				box-shadow: none;
				outline: 0;
				border: 0;
			}
		}
	}

	// bigger inputs
	&-container--bigger {
		.right-icon,
		.inputform-field,
		.inputform-icon-container {
			height: $bigger-height-fields-inputforms;
		}
		.inputform-field {
			&[type='search'] {
				background-size: 2rem;
				padding-left: 2.2em;
			}
		}
		.inputform-icon-container {
			&-empty {
				// for drive, to keep the same height
				min-height: calc(#{$bigger-height-fields-inputforms} + 2px);
			}
			.inputform-field {
				height: 100%;
			}
		}
	}

	// disabled input
	&-container--disabled {
		&,
		& .inputform-field,
		& .inputform-label-hint,
		& .inputform-assist,
		& .inputform-prefix {
			color: var(--field-disabled-text-color, var(--text-disabled));
			cursor: auto;
		}
		& .inputform-label {
			cursor: auto;
		}
		& .inputform-field {
			&:hover,
			&.hover {
				border-color: var(--field-disabled);
				background-color: var(
					--field-disabled-background-color,
					var(--background-norm)
				);
			}
		}
	}
}
