/* label */
// $label-width defined in global vars
.label {
	padding-top: 0.5em;
	width: var(--label-width, $label-width);
	padding-right: 0.5em;
	max-width: 100%;
	flex-shrink: 0;

	&.pt0 {
		padding-top: 0;
	}

	&.auto {
		width: auto;
	}

	&--small {
		font-size: rem(12);
		line-height: 2;
	}
}

// case for forms labelled only with icons (calendar popover, etc.)
$label-icon-width: 2.4em !default;

.form--icon-labels .label {
	width: $label-icon-width;
}
