@font-face {
  font-family: 'Verdana';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./019a0ac5-4f3a-7007-9f3b-3d3639cbce82) format('truetype');
}
@font-face {
  font-family: 'Verdana';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(./019a0ac5-4f3a-7005-ad0e-bc6b9eee9c8c) format('truetype');
}
@font-face {
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./019a0ac5-4f3a-7004-ad83-48564a80f4a6) format('truetype');
}
@font-face {
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./019a0ac5-4f3a-7006-a987-fdd4ab1a24ad) format('truetype');
}
