.fees-selection-button {
	--button-hover-background-color: var(--interaction-weak);

	border: 0;
	border-radius: 0;
}

.fees-selection-modal {
	.modal-two-content {
		&#{&} {
			margin-block-end: 1rem;
			margin-inline: 0;
			padding-block-end: 0;
		}
	}
}
