<li class="mr1 ">
    <a
        data-attachment-id="{{::attachment.ID}}"
        class="message-attachment inline-flex flex-nowrap mw100 pm-button listAttachments-item relative no-pointer-events-children"
        ng-class="{ 'dead': attachment.decrypting, 'remove': ('eo.reply' | includedByState) }"
        data-download-text="{{ 'Download' | translate:'Action' }}"
        title="{{ ::attachment.Name }} ({{ ::attachment.Size | humanSize }})">

            <icon-attachment></icon-attachment>
            <i class="fa fa-cog fa-spin listAttachments-icon-loader"></i>
            <i class="fa fa-download listAttachments-icon-download listAttachments-signature-icon"></i>

            <div
                class="listAttachments-signature-warning"
                pt-tooltip-translate="Sender verification failed"
                pt-tooltip-translate-context="Attachment modifier tooltip">
                <span class="fa-stack fa-lg">
                    <i class="fa listAttachments-modifier-shadow fa-warning fa-stack-2x"></i>
                    <i class="fa fa-warning pt-fa-bg-white fa-stack-2x"></i>
                </span>
            </div>
            <div
                class="listAttachments-unencrypted-warning"
                pt-tooltip-translate="Unencrypted PGP/Inline attachment"
                pt-tooltip-translate-context="Attachment modifier tooltip">
                <span class="fa-stack fa-lg">
                    <i class="fa listAttachments-modifier-shadow fa-unlock fa-stack-2x"></i>
                    <i class="fa fa-unlock fa-stack-2x"></i>
                </span>
            </div>
            <div
                class="listAttachments-signature-ok"
                pt-tooltip-translate="Sender verification passed"
                pt-tooltip-translate-context="Attachment modifier tooltip">
                    <span class="fa-stack fa-lg">
                        <i class="fa listAttachments-modifier-shadow fa-circle fa-stack-2x"></i>
                        <i class="fa fa-check-circle pt-fa-bg-white fa-stack-2x"></i>
                    </span>
            </div>
            <span class="inbl ellipsis flex flex-column message-attachmentInfo">
                <span class="bl ellipsis mw100">{{ ::attachment.Name }}</span>
                <span class="bl message-attachmentSize">{{ ::attachment.Size | humanSize }}</span>
            </span>
    </a>
    <button data-attachment-id="{{::attachment.ID}}" class="listAttachments-btn-action-remove removeButton">
        <icon data-name="close"></icon>
    </button>
</li>
