<div class="bugModalView-container pm_form">

    <div class="block-info mb1">
        <icon data-name="info"></icon>
        <span translate translate-context="Info">Refreshing the page or <a href="https://protonmail.com/support/knowledge-base/how-to-clean-cache-and-cookies/" target="_blank">clearing your browser cache</a> will automatically resolve most issues.</span>
    </div>

    <div class="flex-autogrid onmobile-flex-column mb1">

        <div class="flex flex-nowrap onmobile-flex-column mb1 flex-autogrid-item">
            <label
                for="bug_os"
                class="pm-label"
                translate
                translate-context="Title">Operating system</label>

            <div class="pm-field-container">
                <input
                    placeholder-translate-context="Placeholder"
                    placeholder-translate="OS Name"
                    class="pm-field w100"
                    name="bug_os"
                    id="bug_os"
                    ng-model="model.OS">
            </div>
        </div>


        <div class="flex flex-nowrap onmobile-flex-column mb1 flex-autogrid-item ">
            <label
                for="bug_os_version"
                class="pm-label"
                translate
                translate-context="Title">OS version</label>

            <div class="pm-field-container">
                <input
                    class="pm-field w100"
                    placeholder-translate-context="Placeholder"
                    placeholder-translate="OS version"
                    id="bug_os_version"
                    name="bug_os_version"
                    ng-model="model.OSVersion">
            </div>
        </div>
    </div>

    <div class="flex-autogrid onmobile-flex-column mb1">

        <div class="flex flex-nowrap onmobile-flex-column mb1 flex-autogrid-item ">
            <label
                for="bug_browser"
                class="pm-label"
                translate
                translate-context="bug report modal label">Browser</label>

            <div class="pm-field-container">
                <input
                    class="pm-field w100"
                    placeholder-translate-context="Placeholder"
                    placeholder-translate="Browser"
                    id="bug_browser"
                    name="bug_browser"
                    ng-model="model.Browser">
            </div>
        </div>

        <div class="flex flex-nowrap onmobile-flex-column mb1 flex-autogrid-item ">
            <label
                for="bug_browser_version"
                class="pm-label"
                translate
                translate-context="bug report modal label">Browser version</label>

            <div class="pm-field-container">
                <input
                    class="pm-field w100"
                    placeholder-translate-context="bug report modal"
                    placeholder-translate="Browser"
                    id="bug_browser_version"
                    name="bug_browser_version"
                    ng-model="model.BrowserVersion">
            </div>
        </div>
    </div>

    <div class="flex flex-nowrap onmobile-flex-column mb1 ">
        <label
            for="bugEmail"
            class="pm-label"
            translate
            translate-context="bug report modal label">Email address</label>

        <div class="flex-item-fluid">
            <input
                type="email"
                required
                data-validator-typo-email
                class="pm-field w100"
                placeholder-translate-context="bug report modal"
                placeholder-translate="Please make sure to give us a way to contact you"
                id="bugEmail"
                name="bugEmail"
                ng-model="model.Email">

                <div
                    class="error-zone"
                    ng-messages="form.bugEmail.$error"
                    ng-show="form.bugEmail.$dirty || form.$submitted">
                    <p
                        class="m0 color-global-warning"
                        ng-message="required"
                        translate-context="Error"
                        translate>You must set an email</p>
                    <p
                        class="m0 color-global-warning"
                        ng-message="email"
                        translate-context="Error"
                        translate>Invalid email</p>
                    <p
                        class="color-global-attention"
                        hidden
                        ng-message-warning="typo-email"
                        translate-context="Error"
                        translate>Are you sure your email address is correct ?</p>
                </div>
        </div>
    </div>

    <div class="flex flex-nowrap onmobile-flex-column mb1 ">
        <label
            for="bug_description"
            class="pm-label"
            translate
            translate-context="bug report modal label">What happened?</label>

        <div class="flex-item-fluid">
            <textarea
                class="pm-field w100"
                placeholder-translate-context="bug report modal description"
                placeholder-translate="Please describe the problem and include any error messages"
                rows="6"
                required
                id="bug_description"
                name="bug_description"
                ng-model="model.Description"></textarea>

            <div
                class="error-zone"
                ng-messages="form.bug_description.$error"
                ng-show="form.bug_description.$dirty || form.$submitted">
                <p
                    class="m0 color-global-warning"
                    ng-message="required"
                    translate-context="Error"
                    translate>Add a description to help us improve ProtonMail</p>
            </div>
        </div>
    </div>

    <div class="flex mb1">

        <label translate translate-context="Title" translate-comment="but report form heading label" class="pm-label">Attach screenshot</label>

        <div class="flex-item-fluid">
            <label
                class="bugModalView-input-label"
                for="bugModalView-upload"
                translate-context="Action"
                translate>Add screenshots</label>

            <input
                type="file"
                multiple
                accept="image/*"
                class="bugModalView-input-file"
                id="bugModalView-upload">

            <a
                class="pm_button link bugModalView-upload-info"
                href="https://protonmail.com/support/knowledge-base/screenshot-reporting-bugs/"
                target="_blank"
                translate-context="Link"
                translate>Learn more</a>

            <div class="bugModalView-upload-success">
                <i class="fa fa-image"></i>
                <span class="bugModalView-upload-success-message" translate-context="Success message" translate>Screenshot(s) attached</span>
                <button class="pm_button bugModalView-clear-upload" type="button" translate-context="Action" translate>Clear</button>
            </div>
        </div>

    </div>

    <div class="block-info-standard-warning mb1" translate translate-context="Info">Bug reports are not end-to-end encrypted, please do not send any sensitive information.</div>

    <div class="block-info" translate translate-context="Info">Contact us at <a href='mailto:security@protonmail.com'>security@protonmail.com</a> for critical security issues.</div>
</div>
