<div class="pm_panel pm_form wrap supportMessage-container">
    <h1 class="text-center no-margin-bottom" translate-context="Info" translate>Problem loading your account</h1>
    <p class="alert alert-danger" translate-context="Info" translate>ProtonMail encountered a problem loading your account. Please refresh the page and try again later.</p>
    <p class="text-center">
        <button type="button" data-action="freshLogin" class="pm_button" translate-context="Link" translate>Login</button>
    </p>
</div>
