<dialog class="pm-modal--smaller">

    <header class="pm-modalHeader">
        <button
            type="button"
            class="pm-modalClose"
            ng-click="ctrl.cancel()"
            title-translate="Close"
            title-translate-context="Action">
            <icon data-name="close" class="pm-modalClose-icon"></icon>
            <span class="sr-only" translate translate-context="Action">Close</span>
        </button>
        <h1
            id="modalTitle"
            translate-context="Title"
            translate
            class="pm-modalTitle">Link confirmation</h1>
    </header>

    <div class="pm-modalContent">

        <div class="pm-modalContentInner">

            <div class="block-info-warning mb1">
                <div class="margin-bottom" translate-context="Info" translate>You are about to open another browser tab and visit:</div>
                <p
                    class="p0 m0 mw100 break linkWarningModal-link">{{ ::ctrl.link }}</p>
            </div>

            <div class="flex flex-spacebetween">
            </div>


            <div ng-if="ctrl.punyCodeLink && !ctrl.punyCodeLinkIE" class="block-info-warning mt1">
                <div class="margin-bottom" translate-context="Info" translate>This link may be a homograph attack. Please verify this is the link you wish to visit, or don't open it.</div>
                <a
                    href="https://protonmail.com/support/knowledge-base/homograph-attacks/"
                    title="What are homograph attacks?"
                    target="_blank">Learn more.</a>
            </div>

            <div
                ng-if="ctrl.punyCodeLinkIE"
                class="block-info-warning mt1">
                <div class="margin-bottom" translate-context="Info" translate>Internet Explorer and Edge browsers do not parse these links properly, so it is not possible to open them. If you are certain that the link is legitimate, please use a different browser to open it.</div>
            </div>

            <div class="flex flex-nowrap onmobile-flex-column mt1 pb1">
                <label class="inline-flex">
                    <custom-checkbox data-custom-ng-model="ctrl.preference"></custom-checkbox>
                    <span
                        class="mr0-5"
                        translate-context="Label"
                        translate>Do not ask again</span>
                </label>
            </div>
        </div>

        <footer class="pm-modalFooter flex flex-spacebetween">
            <button
                type="button"
                ng-click="ctrl.cancel()"
                class="pm-button-blueborder disabled-if-network-activity"
                translate-context="Action"
                translate>Cancel</button>
            <a
                target="_blank"
                ng-href="{{ctrl.link}}"
                ng-click="ctrl.continue()"
                autofocus
                rel="noreferrer nofollow noopener"
                class="pm-button-blue disabled-if-network-activity"
                translate-context="Action"
                translate>Continue</a>
        </footer>
    </div>
</dialog>
