@use 'sass:math';
@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/rem' as *;

$size-tracker: 1rem !default;

.number-of-elements {
	&-link {
		block-size: 1.3rem; // just a trick to avoid tooltip positionned on the bubble
	}

	&-icon-bubble {
		display: flex;
		justify-content: center;
		align-items: center;
		inline-size: $size-tracker;
		block-size: $size-tracker;

		// container is a bit higher than the usual icon size, this is why positionned from bottom
		inset-block-end: #{math.div($size-tracker, 2) + rem(1)}; // visual trick for better display
		inset-inline-start: 50%;
		font-variant: tabular-nums;

		&--9plus {
			letter-spacing: -0.1rem; // for 9+ case
		}
	}
}
