#sale {
    .modal-dialog,
    .modal-content{
        background: #0f1217;
        color:#FFF;
    }

    .pm_grid,
    .modal-body {
        box-shadow: none;
        padding: 0;
        input, .pm_select { background-color: #FFF;  }
    }

    .pm_grid:not(.no-margin) {
        margin: 0px 0 10px 0;
    }

    .modal-dialog {
        border:none;
        border-radius: 6px;
        overflow: hidden;
        position: relative;
        box-shadow: 10px 0px 30px rgba(0,0,0,0.2),
                    -10px 0px 41px rgba(0,0,0,0.2),
                    0px 10px 30px rgba(0,0,0,0.2);

        .close {
            top:15px;
            right:15px;
            background:#FFF;
            border-radius: 6px;
            color:#9397cd;
            padding:0;
            font-size: 1.3rem;
        }

    }

    .sideText {
        position: relative;
        padding: 20px 40px;
        min-height: 420px;

        &:after {
            content:'';
            position: absolute;
            z-index: 1;
            left:0px;
            top:0px;
            width: 100%;
            height: 100%;
            background: linear-gradient(15deg, rgba(0, 0, 0, .6) 40%, transparent 100%);
        }

        &:before {
            content:'';
            position: absolute;
            z-index: 0;
            left:0px;
            top:0px;
            width: 100%;
            height: 100%;
            background-image:url('/assets/img/sale/black_friday.jpeg');
            background-size: cover;
            background-position: center left;
        }

        & * {
            position: relative;
            z-index: 2;
        }

        h3{
            position: relative;
            margin: 50px 0px 30px;
            color:#FFF;
            font-size: 70px;
            line-height: 58px;
            letter-spacing: -2px;
            text-transform:  uppercase;
            font-weight: bold;


            &:before {
                content:"\221E";
                position: absolute;
                top: -60px;
                width: 100%;
                font-size: 120px;
                display: inline-block;
            }
        }

        p {
            line-height: 1.6rem;
            font-size: 1.1rem;
            u {
                text-decoration: none;
                border-bottom:2px solid #9397cd;
                font-weight: bold;
            }
            strong {
                color: #5fdefb;
            }
        }

    }

    .sideForm {
        position: relative;
        background: #FFF;
        color:#000;
        box-shadow: 0px 1px 12px rgba(0,0,0,.2);

        .sideForm-content {
            padding: 0px 2rem;

            &.paymentMethods {
                padding: 10px 2rem 30px;
                margin-top: 15px;
                background: rgba(0,0,0,0.03);
                border-top: 1px dashed rgba(0,0,0,0.05);

                .paypal-container { min-height: 190px }
            }

            h2 {
                margin: 20px 0px 0px;
                font-size: 1.6rem;
            }

            .grid-divider {
                padding: 10px 0px;
                margin-bottom: 10px;
                border-bottom: 1px dotted rgba(0,0,0,0.1);
            }

            .sideForm-content-detail {
                padding-bottom: 10px;
                border-bottom: 1px solid rgba(0,0,0,0.1);
            }

            .price_tag {
                font-size: 1.2rem;
            }
        }

        .sideForm-footer {
            padding: 1rem 2rem;
            background: #FFF;
            border-top:1px solid rgba(0,0,0,0.1);
        }
    }

    .sale-thanks {
        position: relative;
        min-height: 70vh;
        padding: 20px;

        & * {
            position: relative;
            z-index: 2;
        }

        .proton-logo {
            position: absolute;
            z-index: -1;
            top: -104vh;
            left: 0;
            width: 900vh;
            opacity: .08;
            transform: rotate(-12deg);
        }

        h1 {
            display: inline-block;
            margin: 20px auto;
            padding: 0px 0px 5px;
            color:#FFF;
            font-size: 2rem;
            border-bottom: 4px solid #9397cd;
        }

        p {
            max-width: 320px;
            margin: 0px auto;
            font-size: 1.1rem;
            strong {
                color: #5fdefb;
            }
        }

        &:after {
            content:'';
            position: absolute;
            z-index: 1;
            left:0px;
            top:0px;
            width: 100%;
            height: 100%;
            background: linear-gradient(15deg, rgba(0, 0, 0, .9) 25%, transparent 100%);
        }

        &:before {
            content:'';
            position: absolute;
            z-index: 0;
            left:0px;
            top:0px;
            width: 100%;
            height: 100%;
            background-image:url('/assets/img/sale/black_friday.jpeg');
            background-size: cover;
            background-position: center left;
        }

        .thanks-close {
            display: inline-block;
            margin: 30px auto;
            padding:20px 30px;
            border-radius: 60px;
            background: #FFF;
            color:#9397cd;
            font-size: 1.2rem;
            cursor: pointer;

            &:hover {
                background: #9397cd;
                color: #FFF;
            }
        }

    }

    .modal-overlay {
        background: rgba(0,0,0,0.6)
    }
}
