<div id="pm_settings">

    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>

    <div class="settings">

        <div class="row">

            <section class="setting pm_form">
                <legend>{{ 'DEFAULT_IDENTITY' | translate }}</legend>
                <form method="post" ng-submit="saveIdentity(displayNameForm)" name="displayNameForm" novalidate>
                    <div class="clearfix">
                        <div class="col left">
                            <label for="displayName">{{ 'DISPLAY_NAME' | translate }} <a href="https://protonmail.com/support/knowledge-base/display-name/" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                        </div>
                        <div class="col right">
                            <input id="displayName" type="text" name="displayName" ng-model="displayName" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">
                            <label for="signature">{{ 'SIGNATURE' | translate }}</label>
                        </div>
                        <div class="col right">
                            <squire id="signature" name="signature" class="form-control no-resize" ng-model="signature"></squire>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">&nbsp;</div>
                        <div class="col right">
                            <a ui-sref="secured.addresses" class="pm_button link pull-right">{{ 'OTHER_IDENTITIES' | translate }}</a>
                            <button class="pm_button primary" type="submit">{{ 'SAVE' | translate }}</button>
                        </div>
                    </div>
                </form>
            </section>

            <section class="setting pm_form pull-right">
                <legend>{{ 'NOTIFICATIONS' | translate }}</legend>
                <form method="post" name="notificationForm" ng-submit="saveNotification(notificationForm)" novalidate  >
                    <div class="clearfix">
                        <div class="col left">
                            <label for="noticeePassword">{{ 'CURRENT_LOGIN_PASSWORD' | translate }}</label>
                        </div>
                        <div class="col right">
                            <input type="password" autocomplete="off" placeholder="Current Login Password" required ng-model="noticeePassword" id="noticeePassword" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">
                            <label for="notificationEmail">{{ 'RECOVERY_EMAIL' | translate }}</label>
                        </div>
                        <div class="col right">
                            <input class="margin" type="email" id="notificationEmail" name="notificationEmail" placeholder="Notification/Recovery {{ 'EMAIL' | translate }}" ng-model="notificationEmail" />
                            <p class="help-block"><small><i class="fa fa-info-circle"></i> Also used to reset a forgotten password.</small></p>

                            <button class="pm_button primary" type="submit">{{ 'SAVE' | translate }}</button>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">
                        <div class="col left">
                            <label>{{ 'DAILY_EMAIL_NOTIFICATIONS' | translate }}</label>
                        </div>
                        <div class="col right">
                            <div class="radio">
                                <label ng-click="saveDailyNotifications()">
                                    <input type="radio" ng-model="dailyNotifications" name="dailyNotifications" value="1"> Enabled
                                </label>
                            </div>
                            <div class="radio">
                                <label ng-click="saveDailyNotifications()">
                                    <input type="radio" ng-model="dailyNotifications" name="dailyNotifications" value="0"> Disabled
                                </label>
                            </div>
                            <p>
                                <a
                                href="https://protonmail.com/blog/notification-emails/"
                                target="_blank"
                                class="pm_button link">
                                    {{ 'HOW_DOES_THIS_WORK?' | translate }}
                                </a>
                            </p>
                        </div>
                    </div>
                    <p ng-show="!!!tools.validEmail(notificationEmail) && notificationEmail.trim()!==''" class="text-danger">{{ 'INVALID_EMAIL' | translate }}.</p>
                </form>
            </section>

        </div><!--/.row-->

        <div class="row">

            <section class="setting pm_form">
                <legend>{{ 'LOGIN_PASSWORD' | translate }}</legend>
                <form method="post" ng-submit="saveLoginPassword(loginForm)" name="loginForm" novalidate>
                    <div class="clearfix">
                        <div class="col left">
                            <label for="oldLoginPassword">{{ 'CURRENT_LOGIN_PASSWORD' | translate }}</label>
                        </div>
                        <div class="col right">
                            <input type="password" id="oldLoginPassword" name="oldLoginPassword" ng-model="oldLoginPassword" placeholder="Current Login Password" required />
                            <div ng-messages="loginForm.oldLoginPassword.$error" class="text-red" ng-if="loginForm.oldLoginPassword.$touched">
                                <p ng-message="required">Current login password is empty</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">
                            <label for="newLoginPassword">{{ 'NEW_LOGIN_PASSWORD' | translate }}</label>
                        </div>
                        <div class="col right">
                            <input type="password" id="newLoginPassword" name="newLoginPassword" ng-model="newLoginPassword" placeholder="New Login Password" required />
                            <div ng-messages="loginForm.newLoginPassword.$error" class="text-red" ng-if="loginForm.newLoginPassword.$touched">
                                <p ng-message="required">New login password is empty</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">&nbsp;</div>
                        <div class="col right">
                            <input type="password" name="confirmLoginPassword" ng-model="confirmLoginPassword" placeholder="Confirm New Login Password" required class="margin" />
                            <div ng-messages="loginForm.confirmLoginPassword.$error" class="text-red" ng-if="loginForm.confirmLoginPassword.$touched">
                                <p ng-message="required">Confirm login password is empty</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">&nbsp;</div>
                        <div class="col right">
                            <button class="pm_button primary" ng-disabled="loginForm.$valid === false || networkActivity.loading()" type="submit">{{ 'SAVE' | translate }}</button>
                        </div>
                    </div>
                </form>
            </section>

            <section class="setting pm_form pull-right">
                <legend>{{ 'MAILBOX_PASSWORD' | translate }}</legend>
                <form method="post" ng-submit="saveMailboxPassword(mailboxForm)" name="mailboxForm" novalidate>
                    <div class="clearfix">
                        <div class="col left">
                            <label for="currentLoginPassword">{{ 'CURRENT_LOGIN_PASSWORD' | translate }}</label>
                        </div>
                        <div class="col right">
                            <input type="password" id="currentLoginPassword" name="currentLoginPassword" ng-model="currentLoginPassword" placeholder="Current Login Password" required="" />
                            <div ng-messages="mailboxForm.currentLoginPassword.$error" class="text-red" ng-if="mailboxForm.currentLoginPassword.$touched">
                                <p ng-message="required">Current login password is empty</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">
                            <label for="oldMailboxPassword">{{ 'CURRENT_MAILBOX_PASSWORD' | translate }}</label>
                        </div>
                        <div class="col right">
                            <input type="password" id="oldMailboxPassword" name="oldMailboxPassword" ng-model="oldMailboxPassword" placeholder="Current Mailbox Password" required="" />
                            <div ng-messages="mailboxForm.oldMailboxPassword.$error" class="text-red" ng-if="mailboxForm.oldMailboxPassword.$touched">
                                <p ng-message="required">Current mailbox password is empty</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">
                            <label for="newMailboxPassword">{{ 'NEW_MAILBOX_PASSWORD' | translate }}</label>
                        </div>
                        <div class="col right">
                            <input type="password" id="newMailboxPassword" name="newMailboxPassword" ng-model="newMailboxPassword" placeholder="New Mailbox Password" required="" />
                            <div ng-messages="mailboxForm.newMailboxPassword.$error" class="text-red" ng-if="mailboxForm.newMailboxPassword.$touched">
                                <p ng-message="required">New mailbox password is empty</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">&nbsp;</div>
                        <div class="col right">
                            <input type="password" id="confirmMailboxPassword" name="confirmMailboxPassword" ng-model="confirmMailboxPassword" placeholder="Confirm New Mailbox Password" class="margin" required="" />
                            <div ng-messages="mailboxForm.confirmMailboxPassword.$error" class="text-red" ng-if="mailboxForm.confirmMailboxPassword.$touched">
                                <p ng-message="required">Confirm mailbox password is empty</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">&nbsp;</div>
                        <div class="col right">
                            <button class="pm_button primary" ng-disabled="mailboxForm.$valid === false || networkActivity.loading()" type="submit">{{ 'SAVE' | translate }}</button>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">&nbsp;</div>
                        <div class="col right">
                            <p>
                                <a
                                href="https://protonmail.com/support/knowledge-base/resetting-mailbox-password/"
                                target="_blank pull-left"
                                class="pm_button link pull-left">
                                    {{ 'HOW_DOES_THIS_WORK?' | translate }}
                                </a>
                            </p>
                        </div>
                    </div>
                </form>
            </section>

        </div><!--/.row-->

        <div class="row">

            <section class="setting pm_form">
                <legend>{{ 'AUTOSAVE_CONTACT_LIST' | translate }}</legend>
                <div class="clearfix">
                    <div class="col left">
                        <label>{{ 'AUTOSAVE_CONTACTS' | translate }}</label>
                    </div>
                    <div class="col right">
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="autosaveContacts" value="1" ng-change="saveAutosaveContacts()" /> {{ 'ENABLED' | translate }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="autosaveContacts" value="0" ng-change="saveAutosaveContacts()" /> {{ 'DISABLED' | translate }}
                            </label>
                        </div>
                        <p>
                            <a
                            href="https://protonmail.com/support/knowledge-base/autosave-contact-list"
                            target="_blank"
                            class="pm_button link">
                                {{ 'HOW_DOES_THIS_WORK?' | translate }}
                            </a>
                        </p>
                    </div>
                </div>
            </section>

            <section class="setting pm_form pull-right">
                <legend>{{ 'EMAIL_IMAGES' | translate }}</legend>
                <form method="post" novalidate ng-submit="saveShowImages(showImages)" name="showImages"  >
                    <div class="clearfix">
                        <div class="col left">
                            <label class="control-label">{{ 'SHOW_IMAGES' | translate }}</label>
                        </div>
                        <div class="col right">
                            <div class="radio">
                                <label>
                                    <input ng-change="saveShowImages()" type="radio" ng-model="ShowImages" value="1" /> {{ 'AUTO' | translate }}
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input ng-change="saveShowImages()" type="radio" ng-model="ShowImages" value="0" /> {{ 'MANUAL' | translate }}
                                </label>
                            </div>
                            <p>
                                <a
                                target="_blank"
                                href="https://protonmail.com/support/knowledge-base/images-by-default/"
                                class="pm_button link">
                                    {{ 'HOW_DOES_THIS_WORK?' | translate }}
                                </a>
                            </p>
                        </div>
                    </div>
                </form>
            </section>

        </div><!--/.row-->


        <div class="row">
            <section class="setting pm_form">
                <legend>{{ 'DELETE_ACCOUNT' | translate }}</legend>
                <p ng-show="user.Subscribed === 1" class="alert alert-info"><i class="fa fa-info-circle"></i> You must unsubscribe before requesting deletion of your account.</p>
                <button ng-show="user.Subscribed === 0" class="pm_button error" ng-click="deleteAccount()">{{ 'DELETE_YOUR_ACCOUNT' | translate }}</button>
            </section>
        </div>
    </div>
</div>
