<div id="pm_settings">

    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>

    <div class="settings">

        <div class="row pm_grid">

            <section class="pm_form col-1-2">
                <legend>
                <span translate translate-comment="Account page heading">Default identity</span>

                <a ui-sref="secured.addresses" class="pm_button link pull-right" translate-context="Action" translate translate-comment="link to addresses page">Other identities</a>

                </legend>
                <div class="clearfix">
                    <div class="col-3-8">
                        <label for="displayName">
                            <span translate-context="Title" translate translate-comment="display name heading on account page">Display name</span>
                            <a href="https://protonmail.com/support/knowledge-base/display-name/" target="_blank" class="text-purple"><i class="fa fa-info-circle"></i></a>
                        </label>
                    </div>
                    <div class="col-5-8">
                        <input id="displayName" type="text" name="displayName" ng-model="displayName" />
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-3-8">
                        <label for="signature" translate-context="Title" translate translate-comment="Signature heading on account page">Signature</label>
                    </div>
                    <div class="col-5-8">
                        <squire id="signature" name="signature" class="form-control no-resize" ng-model="signature"></squire>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="col-3-8">
                        <label>ProtonMail Signature</label>
                    </div>
                    <div class="col-5-8">
                        <toggle ng-hide="user.PMSignature === 2" class="small pull-right" status="PMSignature" on="ON" off="OFF" change="statusPMSignature(PMSignature)"></toggle>
                        <p ng-bind-html="signatureContent"></p>
                        <p class="alert alert-info" ng-show="user.PMSignature === 2" translate translate-context="Info">
                            A <a ui-sref="secured.dashboard({scroll: true})">paid plan</a> is required to turn off the ProtonMail signature. Paid plan revenue allows us to continue supporting free accounts.
                        </p>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="col-3-8">&nbsp;</div>
                    <div class="col-5-8">
                        <button class="pm_button primary" ng-click="saveIdentity()" translate-context="Action" translate translate-comment="Save button for updating default identity on account page">Save</button>
                    </div>
                </div>
            </section>

            <section class="pm_form col-1-2">
                <legend  translate translate-comment="notifications heading on account page">Notifications</legend>
                <div class="clearfix">
                    <div class="col-3-8">
                        <label for="noticeePassword" translate-context="Title" translate translate-comment="form label for entering current login password">Current login password</label>
                    </div>
                    <div class="col-5-8">
                        <input type="password" autocomplete="off" placeholder-translate="Current login password" required ng-model="noticeePassword" id="noticeePassword" />
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-3-8">
                        <label for="notificationEmail" translate-context="Title" translate translate-comment="form label for setting recovery email">Recovery email</label>
                    </div>
                    <div class="col-5-8">
                        <input class="margin" type="email" autocomplete="off" id="notificationEmail" name="notificationEmail" placeholder-translate="Notification email" ng-model="notificationEmail" />
                        <p class="help-block"><small><i class="fa fa-info-circle"></i> <span translate-context="Info" translate>Also used to reset a forgotten password.</span></small></p>
                        <button class="pm_button primary" type="button" ng-click="saveNotification()" translate translate-context="Action" translate-comment="save button for saving notification email">Save</button>
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="clearfix">
                    <div class="col-3-8">
                        <label translate-context="Title" translate translate-comment="form heading for changing notification settings">Daily email notifications</label>
                    </div>
                    <div class="col-5-8">
                        <div class="col-1-2">
                            <label>
                                <input type="radio" ng-model="dailyNotifications" name="dailyNotifications" ng-value="1" ng-change="saveDailyNotifications()" /> <span translate-context="Action" translate translate-comment="notification settings option">Enabled</span>
                            </label>
                        </div>
                        <div class="col-1-2">
                            <label>
                                <input type="radio" ng-model="dailyNotifications" name="dailyNotifications" ng-value="0" ng-change="saveDailyNotifications()" /> <span translate-context="Action" translate translate-comment="notification settings option">Disabled</span>
                            </label>
                        </div>
                        <p>
                            <a href="https://protonmail.com/blog/notification-emails/" target="_blank" class="pm_button link" translation-comment="link to learn more about notification email settings" translate-context="Action" translate>How does this work?</a>
                        </p>
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="clearfix">
                    <div class="col-3-8">
                        <label translate-context="Title" translate translate-comment="form heading for changing desktop notifications">Desktop notifications</label>
                    </div>
                    <div class="col-5-8">
                        <p class="alert alert-info" ng-show="desktopNotificationsStatus === 'granted'">Desktop notifications are currently <strong>enabled</strong>.<br /><a href="#" ng-click="testDesktopNotification()">Test notification</a></p>
                        <p class="alert alert-info" ng-show="desktopNotificationsStatus === 'denied'">Desktop notifications are currently <strong>disabled</strong>. To enable them, you need to go to your browser settings.</p>
                        <p class="alert alert-info" ng-show="desktopNotificationsStatus === 'default'">To enable desktop notifications, <a href="#" ng-click="enableDesktopNotifications()">click here</a>.</p>
                        <p>
                            <a href="https://protonmail.com/support/knowledge-base/desktop-notifications/" target="_blank" class="pm_button link" translation-comment="link to learn more about desktop notifications" translate-context="Action" translate>What is this?</a>
                        </p>
                    </div>
                </div>
            </section>

        </div><!--/.row-->

        <div class="row pm_grid">

            <section class="pm_form col-1-2">
                <legend translate-context="Title" translate translate-comment="change login password heading">Login password</legend>
                <form method="post" ng-submit="saveLoginPassword(loginForm)" name="loginForm" novalidate>
                    <div class="clearfix">
                        <div class="col-3-8">
                            <label for="oldLoginPassword" translate-context="Title" translate translate-comment="current login password for heading for changing login password">Current password</label>
                        </div>
                        <div class="col-5-8">
                            <input type="password" id="oldLoginPassword" name="oldLoginPassword" ng-model="oldLoginPassword" placeholder-translate="Current password" required />
                            <div ng-messages="loginForm.oldLoginPassword.$error" class="text-red" ng-if="loginForm.oldLoginPassword.$touched">
                                <p ng-message="required" translate-context="Error" translate>Field required</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-3-8">
                            <label for="newLoginPassword" translate-context="Title" translate translate-comment="form heading for new login password">New password</label>
                        </div>
                        <div class="col-5-8">
                            <input type="password" id="newLoginPassword" name="newLoginPassword" ng-model="newLoginPassword" placeholder-translate="New password" required />
                            <div ng-messages="loginForm.newLoginPassword.$error" class="text-red" ng-if="loginForm.newLoginPassword.$touched">
                                <p ng-message="required" translate-context="Error" translate>Field required</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-3-8">
                            <label translate-context="Title" translate translate-comment="form label / heading for confirming new login password">Confirm new password</label>
                        </div>
                        <div class="col-5-8">
                            <input type="password" name="confirmLoginPassword" ng-model="confirmLoginPassword" placeholder-translate="Confirm new password" required class="margin" />
                            <div ng-messages="loginForm.confirmLoginPassword.$error" class="text-red" ng-if="loginForm.confirmLoginPassword.$touched">
                                <p ng-message="required" translate-context="Error" translate>Field required</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-3-8">&nbsp;</div>
                        <div class="col-5-8">
                            <button class="pm_button primary" ng-disabled="loginForm.$valid === false || networkActivity.loading()" type="submit" translate-context="Action" translate>Save</button>
                        </div>
                    </div>
                </form>
            </section>

            <section class="pm_form col-1-2">
                <legend translate-context="Title" translate translate-comment="form heading for changing mailbox password">Mailbox password</legend>
                <form method="post" ng-submit="saveMailboxPassword(mailboxForm)" name="mailboxForm" novalidate>
                    <div class="clearfix">
                        <div class="col-3-8">
                            <label for="currentLoginPassword" translate-context="Title" translate translate-comment="form heading for current login password">Current login password</label>
                        </div>
                        <div class="col-5-8">
                            <input type="password" id="currentLoginPassword" name="currentLoginPassword" ng-model="currentLoginPassword" placeholder-translate="Current login password" required="" />
                            <div ng-messages="mailboxForm.currentLoginPassword.$error" class="text-red" ng-if="mailboxForm.currentLoginPassword.$touched">
                                <p ng-message="required" translate-context="Error" translate>Field required</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-3-8">
                            <label for="oldMailboxPassword" translate-context="Title" translate translate-comment="form heading for current mailbox password">Current mailbox password</label>
                        </div>
                        <div class="col-5-8">
                            <input type="password" id="oldMailboxPassword" name="oldMailboxPassword" ng-model="oldMailboxPassword" placeholder-translate="Current mailbox password" required="" />
                            <div ng-messages="mailboxForm.oldMailboxPassword.$error" class="text-red" ng-if="mailboxForm.oldMailboxPassword.$touched">
                                <p ng-message="required" translate-context="Error" translate>Field required</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-3-8">
                            <label for="newMailboxPassword" translate-context="Title" translate>New mailbox password</label>
                        </div>
                        <div class="col-5-8">
                            <input type="password" id="newMailboxPassword" name="newMailboxPassword" ng-model="newMailboxPassword" placeholder-translate="New mailbox password" required="" />
                            <div ng-messages="mailboxForm.newMailboxPassword.$error" class="text-red" ng-if="mailboxForm.newMailboxPassword.$touched">
                                <p ng-message="required"  Error>Field required</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-3-8">
                            <label for="confirmMailboxPassword" Title translate>Confirm new mailbox Password</label>
                        </div>
                        <div class="col-5-8">
                            <input type="password" id="confirmMailboxPassword" name="confirmMailboxPassword" ng-model="confirmMailboxPassword" placeholder-translate="Confirm new mailbox Password" class="margin" required="" />
                            <div ng-messages="mailboxForm.confirmMailboxPassword.$error" class="text-red" ng-if="mailboxForm.confirmMailboxPassword.$touched">
                                <p ng-message="required"  Error>Field required</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-3-8">&nbsp;</div>
                        <div class="col-5-8">
                            <button class="pm_button primary" ng-disabled="mailboxForm.$valid === false || networkActivity.loading()" type="submit" translate translate-context="Action">Save</button>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-3-8">&nbsp;</div>
                        <div class="col-5-8">
                            <p>
                                <a href="https://protonmail.com/support/knowledge-base/resetting-mailbox-password/" target="_blank pull-left" class="pm_button link pull-left" translate-context="Action" translate-comment="link to learn more about changing your mailbox password" translate>How does this work?</a>
                            </p>
                        </div>
                    </div>
                </form>
            </section>

        </div><!--/.row-->

        <div class="row pm_grid">

            <section class="pm_form col-1-2">
                <legend translate-context="Title" translate-comment="Section heading" translate>Automatically save contacts</legend>
                <div class="clearfix">
                    <div class="col-3-8">
                        <label translate-context="Title" translate-comment="Settings/Account page form heading for enabling or disabling autosave contacts" translate>Automatically save contacts</label>
                    </div>
                    <div class="col-5-8">
                        <div class="col-1-2">
                            <label>
                                <input type="radio" ng-model="autosaveContacts" ng-value="1" ng-change="saveAutosaveContacts()" />
                                <span  translate translate-comment="form option">Enabled</span>
                            </label>
                        </div>
                        <div class="col-1-2">
                            <label>
                                <input type="radio" ng-model="autosaveContacts" ng-value="0" ng-change="saveAutosaveContacts()" />
                                <span  translate translate-comment="form option">Disabled</span>
                            </label>
                        </div>
                        <p>
                            <a href="https://protonmail.com/support/knowledge-base/autosave-contact-list" target="_blank" class="pm_button link">How does this work?</a>
                        </p>
                    </div>
                </div>
            </section>

            <section class="pm_form col-1-2">
                <legend translate-context="Title" translate>Email Content</legend>

                <div class="clearfix">
                    <div class="col-3-8">
                        <label class="control-label" translate-context="Title" translate>Load remote content</label>
                    </div>
                    <div class="col-5-8">
                        <div class="col-1-2">
                            <label>
                                <input ng-change="saveImages()" type="radio" ng-model="images" ng-value="1" /> <span translate-comment="form option" translate-context="Action" translate>Auto</span>
                            </label>
                        </div>
                        <div class="col-1-2">
                            <label>
                                <input ng-change="saveImages()" type="radio" ng-model="images" ng-value="0" /> <span translate-comment="form option" translate-context="Action" translate>Manual</span>
                            </label>
                        </div>
                        <p>
                            <a target="_blank" href="https://protonmail.com/support/knowledge-base/images-by-default/" class="pm_button link" translate-context="Action" translate translate-comment="link to learn more">How does this work?</a>
                        </p>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-3-8">
                        <label class="control-label" translate-context="Title" translate>Load embedded images</label>
                    </div>
                    <div class="col-5-8">
                        <div class="col-1-2">
                            <label>
                                <input ng-change="saveEmbedded()" type="radio" ng-model="embedded" ng-value="1" /> <span translate-comment="form option" translate-context="Action" translate>Auto</span>
                            </label>
                        </div>
                        <div class="col-1-2">
                            <label>
                                <input ng-change="saveEmbedded()" type="radio" ng-model="embedded" ng-value="0" /> <span translate-comment="form option" translate-context="Action" translate>Manual</span>
                            </label>
                        </div>
                    </div>
                </div>
            </section>

        </div><!--/.row-->


        <div class="row pm_grid">
            <section class="pm_form col-1-2">
                <legend translate-context="Title" translate>Delete Account</legend>
                <button class="pm_button error" ng-click="deleteAccount()" translate-context="Action" translate>Delete your account</button>
            </section>
            <section class="pm_form col-1-2">
                <legend translate-context="Title" translate>Keyboard Shortcuts</legend>
                <div class="pm_grid">
                    <div class="col-3-8">
                        <label translate-context="Title" translate>Keyboard Shortcuts</label>
                    </div>
                    <div class="col-5-8">
                        <div class="col-1-2">
                            <label>
                                <input type="radio" ng-change="saveHotkeys()" ng-model="hotkeys" ng-value="1"/> <span translate-context="Action" translate>Enabled<span>
                            </label>
                        </div>
                        <div class="col-1-2">
                            <label>
                                <input type="radio" ng-change="saveHotkeys()" ng-model="hotkeys" ng-value="0"/> <span translate-context="Action" translate>Disabled<span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="pm_grid">
                    <div class="col-3-8">&nbsp;</div>
                    <div class="col-5-8">
                        <button class="pm_button" ng-click="openHotkeyModal()" translate translate-context="Action">View Keyboard Shortcuts</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
