<div id="pm_settings">

    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>

    <div class="settings">

        <div class="row">

            <section class="setting pm_form">
                <legend translate-context="Default" translate>Default identity</legend>
                <form method="post" ng-submit="saveIdentity(displayNameForm)" name="displayNameForm" novalidate>
                    <div class="clearfix">
                        <div class="col left">
                            <label for="displayName" translate-context="Default" translate>Display name <a href="https://protonmail.com/support/knowledge-base/display-name/" target="_blank" class="text-purple"><i class="fa fa-info-circle"></i></a></label>
                        </div>
                        <div class="col right">
                            <input id="displayName" type="text" name="displayName" ng-model="displayName" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">
                            <label for="signature" translate-context="Default" translate>Signature</label>
                        </div>
                        <div class="col right">
                            <squire id="signature" name="signature" class="form-control no-resize" ng-model="signature"></squire>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">&nbsp;</div>
                        <div class="col right">
                            <a ui-sref="secured.addresses" class="pm_button link pull-right" translate-context="Default" translate>Others identities</a>
                            <button class="pm_button primary" type="submit" translate-context="Default" translate>Save</button>
                        </div>
                    </div>
                </form>
            </section>

            <section class="setting pm_form pull-right">
                <legend translate-context="Default" translate>Notifications</legend>
                <form method="post" name="notificationForm" ng-submit="saveNotification(notificationForm)" novalidate  >
                    <div class="clearfix">
                        <div class="col left">
                            <label for="noticeePassword" translate-context="Default" translate>Current login password</label>
                        </div>
                        <div class="col right">
                            <input type="password" autocomplete="off" placeholder="{{ 'Current login password' | translate }}" required ng-model="noticeePassword" id="noticeePassword" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">
                            <label for="notificationEmail" translate-context="Default" translate>Recovery email</label>
                        </div>
                        <div class="col right">
                            <input class="margin" type="email" id="notificationEmail" name="notificationEmail" placeholder="{{ 'Notification email' | translate }}" ng-model="notificationEmail" />
                            <p class="help-block"><small><i class="fa fa-info-circle"></i> <span translate-context="Default" translate>Also used to reset a forgotten password.</span></small></p>

                            <button class="pm_button primary" type="submit" translate-context="Default" translate>Save</button>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">
                        <div class="col left">
                            <label translate-context="Default" translate>Daily email notifications</label>
                        </div>
                        <div class="col right">
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="dailyNotifications" name="dailyNotifications" ng-value="1" ng-change="saveDailyNotifications()" /> <span translate-context="Default" translate>Enabled</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="dailyNotifications" name="dailyNotifications" ng-value="0" ng-change="saveDailyNotifications()" /> <span translate-context="Default" translate>Disabled</span>
                                </label>
                            </div>
                            <p>
                                <a href="https://protonmail.com/blog/notification-emails/" target="_blank" class="pm_button link" translate-context="Default" translate>How does this work?</a>
                            </p>
                        </div>
                    </div>
                    <p ng-show="!!!tools.validEmail(notificationEmail) && notificationEmail.trim()!==''" class="text-danger" translate-context="Error" translate>Invalid email.</p>
                </form>
            </section>

        </div><!--/.row-->

        <div class="row">

            <section class="setting pm_form">
                <legend translate-context="Default" translate>Login password</legend>
                <form method="post" ng-submit="saveLoginPassword(loginForm)" name="loginForm" novalidate>
                    <div class="clearfix">
                        <div class="col left">
                            <label for="oldLoginPassword" translate-context="Default" translate>Current password</label>
                        </div>
                        <div class="col right">
                            <input type="password" id="oldLoginPassword" name="oldLoginPassword" ng-model="oldLoginPassword" placeholder="{{ 'Current password' | translate }}" required />
                            <div ng-messages="loginForm.oldLoginPassword.$error" class="text-red" ng-if="loginForm.oldLoginPassword.$touched">
                                <p ng-message="required" translate-context="Default" translate>Field required</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">
                            <label for="newLoginPassword" translate-context="Default" translate>New password</label>
                        </div>
                        <div class="col right">
                            <input type="password" id="newLoginPassword" name="newLoginPassword" ng-model="newLoginPassword" placeholder="{{ 'New password' | translate }}" required />
                            <div ng-messages="loginForm.newLoginPassword.$error" class="text-red" ng-if="loginForm.newLoginPassword.$touched">
                                <p ng-message="required" translate-context="Default" translate>Field required</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">
                            <label translate-context="Default" translate>Confirm new password</label>
                        </div>
                        <div class="col right">
                            <input type="password" name="confirmLoginPassword" ng-model="confirmLoginPassword" placeholder="{{ 'Confirm new password' | translate }}" required class="margin" />
                            <div ng-messages="loginForm.confirmLoginPassword.$error" class="text-red" ng-if="loginForm.confirmLoginPassword.$touched">
                                <p ng-message="required" translate-context="Default" translate>Field required</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">&nbsp;</div>
                        <div class="col right">
                            <button class="pm_button primary" ng-disabled="loginForm.$valid === false || networkActivity.loading()" type="submit" translate-context="Default" translate>Save</button>
                        </div>
                    </div>
                </form>
            </section>

            <section class="setting pm_form pull-right">
                <legend translate-context="Default" translate>Mailbox password</legend>
                <form method="post" ng-submit="saveMailboxPassword(mailboxForm)" name="mailboxForm" novalidate>
                    <div class="clearfix">
                        <div class="col left">
                            <label for="currentLoginPassword" translate-context="Default" translate>Current login password</label>
                        </div>
                        <div class="col right">
                            <input type="password" id="currentLoginPassword" name="currentLoginPassword" ng-model="currentLoginPassword" placeholder="{{ 'Current login password' | translate }}" required="" />
                            <div ng-messages="mailboxForm.currentLoginPassword.$error" class="text-red" ng-if="mailboxForm.currentLoginPassword.$touched">
                                <p ng-message="required" translate-context="Default" translate>Field required</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">
                            <label for="oldMailboxPassword" translate-context="Default" translate>Current mailbox password</label>
                        </div>
                        <div class="col right">
                            <input type="password" id="oldMailboxPassword" name="oldMailboxPassword" ng-model="oldMailboxPassword" placeholder="{{ 'Current mailbox password' | translate }}" required="" />
                            <div ng-messages="mailboxForm.oldMailboxPassword.$error" class="text-red" ng-if="mailboxForm.oldMailboxPassword.$touched">
                                <p ng-message="required" translate-context="Default" translate>Field required</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">
                            <label for="newMailboxPassword" translate-context="Default" translate>New mailbox password</label>
                        </div>
                        <div class="col right">
                            <input type="password" id="newMailboxPassword" name="newMailboxPassword" ng-model="newMailboxPassword" placeholder="{{ 'New mailbox password' | translate }}" required="" />
                            <div ng-messages="mailboxForm.newMailboxPassword.$error" class="text-red" ng-if="mailboxForm.newMailboxPassword.$touched">
                                <p ng-message="required" translate-context="Default" translate>Field required</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">
                            <label for="confirmMailboxPassword" translate-context="Default" translate>Confirm new mailbox password</label>
                        </div>
                        <div class="col right">
                            <input type="password" id="confirmMailboxPassword" name="confirmMailboxPassword" ng-model="confirmMailboxPassword" placeholder="{{ 'Confirm new mailbox password' | translate }}" class="margin" required="" />
                            <div ng-messages="mailboxForm.confirmMailboxPassword.$error" class="text-red" ng-if="mailboxForm.confirmMailboxPassword.$touched">
                                <p ng-message="required" translate-context="Default" translate>Field required</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">&nbsp;</div>
                        <div class="col right">
                            <button class="pm_button primary" ng-disabled="mailboxForm.$valid === false || networkActivity.loading()" type="submit" translate-context="Default" translate>Save</button>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col left">&nbsp;</div>
                        <div class="col right">
                            <p>
                                <a href="https://protonmail.com/support/knowledge-base/resetting-mailbox-password/" target="_blank pull-left" class="pm_button link pull-left" translate-context="Default" translate>How does this work?</a>
                            </p>
                        </div>
                    </div>
                </form>
            </section>

        </div><!--/.row-->

        <div class="row">

            <section class="setting pm_form">
                <legend translate-context="Default" translate>Autosave contact list</legend>
                <div class="clearfix">
                    <div class="col left">
                        <label translate-context="Default" translate>Autosave contacts</label>
                    </div>
                    <div class="col right">
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="autosaveContacts" ng-value="1" ng-change="saveAutosaveContacts()" /> <span translate-context="Default" translate>Enabled</span>
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="autosaveContacts" ng-value="0" ng-change="saveAutosaveContacts()" /> <span translate-context="Default" translate>Disabled</span>
                            </label>
                        </div>
                        <p>
                            <a href="https://protonmail.com/support/knowledge-base/autosave-contact-list" target="_blank" class="pm_button link">How does this work?</a>
                        </p>
                    </div>
                </div>
            </section>

            <section class="setting pm_form pull-right">
                <legend translate-context="Default" translate>Email images</legend>
                <form method="post" novalidate ng-submit="saveShowImages(showImages)" name="showImages">
                    <div class="clearfix">
                        <div class="col left">
                            <label class="control-label" translate-context="Default" translate>Show images</label>
                        </div>
                        <div class="col right">
                            <div class="radio">
                                <label>
                                    <input ng-change="saveShowImages()" type="radio" ng-model="ShowImages" ng-value="1" /> <span translate-context="Default" translate>Auto</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input ng-change="saveShowImages()" type="radio" ng-model="ShowImages" ng-value="0" /> <span translate-context="Default" translate>Manual</span>
                                </label>
                            </div>
                            <p>
                                <a target="_blank" href="https://protonmail.com/support/knowledge-base/images-by-default/" class="pm_button link" translate-context="Default" translate>How does this work?</a>
                            </p>
                        </div>
                    </div>
                </form>
            </section>

        </div><!--/.row-->


        <div class="row">
            <section class="setting pm_form">
                <legend translate-context="Default" translate>Delete account</legend>
                <p ng-show="user.Subscribed === 1" class="alert alert-info"><i class="fa fa-info-circle"></i> <span translate-context="Default" translate>You must unsubscribe before requesting deletion of your account.</span></p>
                <button ng-show="user.Subscribed === 0" class="pm_button error" ng-click="deleteAccount()" translate-context="Default" translate>Delete your account</button>
            </section>
        </div>
    </div>
</div>
