<div id="pm_settings">
    <settings-menu></settings-menu>
    <div class="settings">
        <p class="alert alert-info" ng-if="mobileMode" translate-context="Info" translate-comment="responsiveness info" translate>This page is only available on larger resolution devices. If you are on a  phone, try landscape mode, or visit on a computer instead.</p>
        <div class="row" id="settingsAddresses">
            <section class="setting full pm_form">
                <legend>
                    <span class="pull-right small" ng-show="isAdmin">
                        {{ organization.UsedAddresses }} / {{ organization.MaxAddresses }} <span translate-comment="how many addresses are in use" translate>addresses used.</span> <a ui-sref="secured.dashboard({scroll: true})" translate-context="Action" translate-comment="link to dashboard page" translate>Upgrade your plan</a>
                    </span>
                    <span translate-context="Title" translate translate-comment="page heading">Addresses</span>
                </legend>
                <div class="margin" ng-show="isAdmin === true">
                    <button ng-hide="isSubUser" class="pm_button primary" ng-click="addAlias()" translate-context="Action" translate-comment="addresses page" translate>Add ProtonMail address</button>
                    <button ng-hide="isSubUser" class="pm_button" ng-click="addAddress(false,getSelf())" translate-context="Action" translate-comment="addresses page" translate>Add custom domain address</button>
                </div>
                <p class="alert alert-info" ng-show="isAdmin === true">
                    <span translate-context="Info" translate translate-comment="informs the user about permanance of custom addresses">Non-original <strong>@protonmail</strong> addresses can never be deleted (only disabled). This means that once you create an address it will always count towards your address limit. Custom domain addresses must be disabled before they can be deleted. Custom domain addresses can only be deleted if all messages associated with that address are deleted.</span> <a href="https://protonmail.com/support/knowledge-base/aliases-within-protonmail/" target="_blank" translate translate-context="Action">Learn more</a>.
                </p>
                <p class="alert alert-info" ng-show="isFree === true">Add additional email addresses to your account such as username2@protonmail.com. To enable this feature, <a ui-sref="secured.dashboard({scroll: true})">upgrade to ProtonMail Plus</a>.</p>
                <label>
                    <span class="help-block pull-right small"><small><i class="fa fa-info-circle"></i> <span translate-context="Info" translate>You can drag and drop addresses to order them.</span></small></span>
                    <strong translate-context="Title" translate-comment="heading for active addresses listing" translate>Active addresses</strong>
                </label>
                <div class="pm_sort">
                    <ul data-as-sortable="aliasDragControlListeners" data-ng-model="activeAddresses">
                        <li ng-repeat="address in activeAddresses | orderBy: 'Send'" as-sortable-item="" ng-class="{'highlight': address.Type === 1}">
                            <div as-sortable-item-handle="" class="pm_grid no-margin truncate">
                                <div class="col-1-3">
                                    <i class="fa fa-ellipsis-v"></i> {{ address.Email }}
                                </div>
                                <div class="col-1-3">
                                    <span class="pm_badge success" translate>Enabled</span>
                                    <span class="pm_badge primary" ng-show="$first" translate>Default</span>
                                </div>
                                <div class="col-1-3 text-right">
                                    <button class="pm_button link" ng-click="identity(address)" translate-context="Action" translate>Edit identity</button>
                                    <button class="pm_button link" ng-show="(address.Type === 2 || address.Type === 3) && isAdmin && !isSubUser" ng-click="disableAddress(address)" translate-context="Action" translate>Disable</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <label ng-show="disabledAddresses.length > 0">
                    <strong translate-context="Title" translate>Inactive addresses</strong>
                </label>
                <div class="pm_sort">
                    <ul>
                        <li ng-repeat="address in disabledAddresses | orderBy: getDomain" ng-class="{'highlight': address.Type === 1}">
                            <div class="pm_grid no-margin truncate">
                                <div class="col-1-3">{{ address.Email }}</div>
                                <div class="col-1-3">
                                    <span class="pm_badge error" ng-show="address.Status === 0"  translate translate-comment="address state badge">Disabled</span>
                                    <span class="pm_badge warning" ng-show="address.HasKeys === 0"  translate translate-comment="address state badge">Missing keys</span>
                                    <span class="pm_badge warning" ng-show="address.DomainID === null"  translate translate-comment="address state badge">Orphan</span>
                                </div>
                                <div class="col-1-3 text-right">
                                    <button type="button" class="pm_button link" ng-show="address.HasKeys === 0 && address.Status === 1" ng-click="generate(address)" translate-context="Action" translate>Generate missing keys</button>
                                    <button class="pm_button link" ng-click="identity(address)" translate-context="Action" translate>Edit Identity</button>
                                    <button type="button" class="pm_button link" ng-show="address.Status === 0 && (address.Type === 2 || address.Type === 3) && isAdmin && !isSubUser" ng-click="enableAddress(address)" translate-context="Action" translate>Enable</button>
                                    <button type="button" class="pm_button link" ng-show="address.Status === 1 && address.Type === 3 && isAdmin && !isSubUser" ng-click="disableAddress(address)" translate-context="Action" translate>Disable</button>
                                    <button type="button" class="pm_button link" ng-show="address.Status === 0 && address.Type === 3 && isAdmin && !isSubUser" ng-click="deleteAddress(address)" translate-context="Action" translate>Delete</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
