<div class="adminContent">
	<h1 class="text-center"><span class='faded fa-2x fa fa-tachometer'></span> Admin</h1>
	<hr>
	<div class="row">
		<div class="col-md-3">
			<form name="lookupForm" ng-submit="adminLookup(inputType(formData.userLookup))" novalidate>
				<input type='hidden'/>
				<label for="userlookup">User Lookup</label>
				<div class="input-group">
				  <input type="text" ng-model="formData.userLookup" required placeholder="Username or Notf. Email" id = "userlookup" class="form-control">
				  <span class="input-group-btn">
				    <button class="btn btn-default" ng-disabled="lookupForm.$invalid" type="submit"><span class="fa fa-search"></span> Lookup</button>
				  </span>
				</div><!-- /input-group -->
			</form>
		</div>
		<div class="col-md-3">
			<form name="deleteForm" ng-submit="adminDelete(inputType(formData.userDelete))">
				<input type='hidden'/>
				<label for="user_id_quick_delete">Delete User</label>
				<div class="input-group">
				  <input type="text" ng-model="formData.userDelete" required class="form-control"  placeholder="User">
				  <span class="input-group-btn">
				    <button class="btn btn-danger" ng-disabled="deleteForm.$invalid" type="submit"><span class="fa fa-trash-o"></span> Delete</button>
				  </span>
				</div><!-- /input-group -->
			</form>
		</div>
		<div class="col-md-2">
			<form role="form" method="POST">
				<input type='hidden'/>
				<label for="rpp">Results/Page</label>
				<div class="input-group">
				  <input type="number" id="rpp" name='rpp' value="1000" class="form-control">
				  <span class="input-group-btn">
				    <button class="btn btn-default" type="submit" name="submit_rpp"><span class="fa fa-refresh"></span> Update</button>
				  </span>
				</div><!-- /input-group -->
			</form>
		</div>
		<div id="reset-pw-div" class="col-md-4">
			<form name="resetForm" ng-submit="adminPwdReset(inputType(formData.userReset))">
				<input type='hidden'/>
				<label for="pmreset">Reset Login Pw:</label>
				<div class="input-group form-group">
					<input type="text" class="form-control" ng-model="formData.userReset" required id="pmreset" placeholder="User">
				  <span class="input-group-btn">
				    <button class="btn btn-default" type="submit" ng-disabled="resetForm.$invalid" name="reset-pw-submit"><span class="fa fa-retweet"></span> Reset</button>
				  </span>
				</div><!-- /input-group -->
				<div class="alert alert-info">
					<div class="input-group">
						<label class="input-group-addon" for="reset-pw-pw">New Password</label>
						<input type="text" class="form-control" name="reset-pw-pw" id="reset-pw-pw" value="7mnFfb8PhrGWtzj">
					</div>
				</div>
			</form>
		</div>
	</div><!--/.row-->


	<br>
	<!-- TODO TOTAL USERS -->
  <h1>Showing 0-1000 users of ???.</h1>
</div>
