<div class="adminContent">
  <h1 class="text-center"><span class='faded fa-2x fa fa-envelope-o'></span> Invite</h1>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <form name="lookupForm" ng-submit="inviteLookup(inputType(formData.inviteLookup))">
        <input type='hidden'/>
        <label for="name_or_email">User Lookup</label>
        <div class="input-group">
          <input type="text" ng-model="formData.inviteLookup" required id="name_or_email" name='name_or_email' value="User" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-disabled="lookupForm.$invalid" name="submit_rpp"><span class="fa fa-search"></span> Lookup</button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div>
    <div class="col-md-3">
      <form name="updateForm" ng-submit="inviteUpdateEmail(inputType(formData.userUpdated))">
        <input type='hidden'/>
        <label for="userlookup">Change Notf. Email</label><br>
        <div class="form-group">
          <input type="text" ng-model="formData.userUpdated" required placeholder="User" class="form-control">
        </div><!--/.form-group-->
        <div class="form-group">
          <input type="email" ng-model="formData.notification_email" required placeholder="New Notf. Email" class="form-control">
        </div><!--/.form-group-->
        <div class="form-group text-right">
          <button type="submit" ng-disabled="updateForm.$invalid" class="btn btn-default"><span class="fa fa-refresh"></span> Update</button>
        </div><!--/.form-group-->
      </form>
    </div>
    <div class="col-md-3">
      <form name="unsentForm" ng-submit="inviteUnsend(inputType(formData.userUnsend))">
        <input type='hidden'/>
        <label for="change_unsent_id">Change to Invite Unsent</label>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="formData.userUnsend" required placeholder="User">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"ng-disabled="unsentForm.$invalid"><span class="fa fa-refresh"></span> Update</button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div>
    <div id="reset-pw-div" class="col-md-3">
      <form name="inviteForm" ng-submit="inviteUser(inputType(formData.userInvite))">
        <input type='hidden'/>
        <label for="manual_email_or_username">Invite User:</label>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="formData.userInvite" requiredid="manual_email_or_username" placeholder="User">
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit"ng-disabled="inviteForm.$invalid"><span class="fa fa-plus"></span> Invite</button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div>
  </div><!--/.row-->


  <br>
  <h1>Showing 0-1000 users of 23038.</h1>
</div>
