<div class="adminContent">
  <h1 class="text-center"><span class='faded fa-2x fa fa-envelope-o'></span> Invite</h1>
  <hr>

  <div class="row">
    <div class="col-md-3">
      <form role="form" method="POST">
        <input type='hidden'/>
        <label for="name_or_email">User Lookup</label>
        <div class="input-group">
          <input type="text" id="name_or_email" name='name_or_email' value="User" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" name="submit_rpp"><span class="fa fa-search"></span> Lookup</button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div>  
    <div class="col-md-3">
      <form role="form" method="POST">
        <input type='hidden'/>
        <label for="userlookup">Change Notf. Email</label><br>
        <div class="form-group">
          <input type="text" name="update_invite_notification_email_id" placeholder="User" class="form-control">
        </div><!--/.form-group-->
        <div class="form-group">
          <input type="email" name="update_invite_notification_email" placeholder="New Notf. Email" class="form-control">
        </div><!--/.form-group-->
        <div class="form-group text-right">
          <button type="submit" class="btn btn-default"><span class="fa fa-refresh"></span> Update</button>
        </div><!--/.form-group-->
      </form>
    </div>
    <div class="col-md-3">
      <form role="form" method="POST">
        <input type='hidden'/>
        <label for="change_unsent_id">Change to Invite Unsent</label>
        <div class="input-group">
          <input type="text" class="form-control" name="change_unsent_id" placeholder="User">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="fa fa-refresh"></span> Update</button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div>
    <div id="reset-pw-div" class="col-md-3">
      <form role="form" method="POST"> 
        <input type='hidden'/>
        <label for="manual_email_or_username">Invite User:</label>
        <div class="input-group">
          <input type="text" class="form-control" name="manual_email_or_username" id="manual_email_or_username" placeholder="User">
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit"><span class="fa fa-plus"></span> Invite</button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div>
  </div><!--/.row-->


  <br>
  <h1>Showing 0-1000 users of 23038.</h1> 
</div>
