<div class="adminContent">
  <h1 class="text-center"><span class='faded fa-2x fa fa-list-alt'></span> Logs</h1>
  <hr>
  <p><kbd>/var/log/httpd/error_log</kbd></p>
  <pre>
[Sun Aug 17 11:47:31 2014] [error] [client 222.186.10.14] user  not found: /manager/html
[Sun Aug 17 11:47:31 2014] [error] [client 222.186.10.14] user admin not found: /manager/html
[Sun Aug 17 11:47:31 2014] [error] [client 222.186.10.14] user admin not found: /manager/html
[Sun Aug 17 11:47:31 2014] [error] [client 222.186.10.14] user admin not found: /manager/html
[Sun Aug 17 11:47:31 2014] [error] [client 222.186.10.14] user admin not found: /manager/html
[Sun Aug 17 11:47:32 2014] [error] [client 222.186.10.14] user admin not found: /manager/html
[Sun Aug 17 11:47:32 2014] [error] [client 222.186.10.14] user admin not found: /manager/html
[Sun Aug 17 11:47:32 2014] [error] [client 222.186.10.14] user admin not found: /manager/html
[Sun Aug 17 11:47:32 2014] [error] [client 222.186.10.14] user tomcat not found: /manager/html
[Sun Aug 17 11:47:32 2014] [error] [client 222.186.10.14] user tomcat not found: /manager/html
[Sun Aug 17 11:47:32 2014] [error] [client 222.186.10.14] user tomcat not found: /manager/html
[Sun Aug 17 11:47:32 2014] [error] [client 222.186.10.14] user tomcat not found: /manager/html
[Sun Aug 17 11:47:32 2014] [error] [client 222.186.10.14] user tomcat not found: /manager/html
[Sun Aug 17 11:47:33 2014] [error] [client 222.186.10.14] user tomcat not found: /manager/html
[Sun Aug 17 11:47:33 2014] [error] [client 222.186.10.14] user manager not found: /manager/html
[Sun Aug 17 11:47:33 2014] [error] [client 222.186.10.14] user manager not found: /manager/html
[Sun Aug 17 11:47:33 2014] [error] [client 222.186.10.14] user manager not found: /manager/html
[Sun Aug 17 11:47:33 2014] [error] [client 222.186.10.14] user manager not found: /manager/html
[Sun Aug 17 11:47:33 2014] [error] [client 222.186.10.14] user manager not found: /manager/html
[Sun Aug 17 11:47:33 2014] [error] [client 222.186.10.14] user manager not found: /manager/html
[Sun Aug 17 13:25:33 2014] [error] [client 54.237.208.224] user  not found: /
[Mon Aug 18 00:36:16 2014] [error] [client 89.163.171.250] user  not found: /
</pre>
<br>
</div>
