<div id="pm_settings">

    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>

    <div class="settings" pt-height>

        <div class="row">

            <section class="setting full pm_form">
                <p class="text-right"><a href="#" class="pm_button primary">{{ 'NEW_ALIAS' | translate }}</a></p>
                <legend>
                    {{ 'ALIASES' | translate }}
                </legend>
                <div class="clearfix">
                    <div>
                        <label>
                            <span class="help-block pull-right"><small><i class="fa fa-info-circle"></i> You can drag and drop aliases to order them.</small></span>
                            Active Aliases
                        </label>
                        <div class="pm_sort">
                            <ul data-as-sortable="aliasDragControlListeners" data-ng-model="aliases" ng-show="aliases.length > 1">
                                <li ng-repeat="alias in aliases" as-sortable-item="" ng-if="alias.Status === 1">
                                    <div as-sortable-item-handle="">
                                        <i class="fa fa-ellipsis-v"></i>
                                        <button class="pm_button pull-right link" ng-show="alias.Status === 0">Enable</button>
                                        <button class="pm_button pull-right link" ng-show="alias.Status === 1">Disable</button>
                                        <strong ng-show="alias.Status === 1">{{ alias.Email }}</strong>
                                        <span ng-show="alias.Status === 0">{{ alias.Email }}</span>
                                    </div>
                                </li>
                            </ul>
                            <ul data-ng-model="aliases" ng-show="aliases.length < 2">
                                <li ng-repeat="alias in aliases" ng-if="alias.Status === 1">
                                    <div>
                                        <button class="pm_button pull-right link" ng-show="alias.Status === 0">Enable</button>
                                        <button class="pm_button pull-right link" ng-show="alias.Status === 1">Disable</button>
                                        <strong ng-show="alias.Status === 1">{{ alias.Email }}</strong>
                                        <span ng-show="alias.Status === 0">{{ alias.Email }}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <p></p>

                        <label>Disabled Aliases</label>

                        <div class="pm_sort">
                            <ul>
                                <li ng-repeat="alias in aliases" ng-if="alias.Status === 0">
                                    <div>
                                        <button class="pm_button pull-right link" ng-show="alias.Status === 0">Enable</button>
                                        <button class="pm_button pull-right link" ng-show="alias.Status === 1">Disable</button>
                                        <strong ng-show="alias.Status === 1">{{ alias.Email }}</strong>
                                        <span ng-show="alias.Status === 0">{{ alias.Email }}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        
                        <p><a href="https://protonmail.com/support/knowledge-base/aliases-within-protonmail/" target="_blank" class="pull-left pm_button link">{{ 'WHAT_ARE_ALIASES?' | translate }}</a></p>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
