<div id="pm_settings">


    <p></p>

    <div class="settings" pt-height>

        <div class="row">

            <section class="setting pm_form full">
                <form>
                    <legend>{{ 'CHANGE_SUBSCRIPTION' | translate }}</legend>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco.</p>
                </form>
            </section>
        </div><!--/.row-->



        <div class="row">
            <section class="setting pm_form full">
                <form>
                    <legend>{{ 'MY_SUBSCRIPTION' | translate }}</legend>
                    <div class="well" id="cancelTables">
                        <table class="pm_table plain">
                            <tr>
                                <th style="width:6rem">{{ 'PLAN' | translate }}: </th>
                                <td><strong>{{ 'BUSINESS_PLAN' | translate }}</strong></td>
                                <td style="width:4rem" class="price text-right"><span>10 CHF</span></td>
                            </tr>
                            <tr>
                                <th>Addons: </th>
                                <td>
                                    <strong>10 GB + 1 GB Extra Storage</strong>
                                    <strong>1 + 1 GB Extra Domain</strong>
                                </td>
                                <td class='text-right'><span>1 CHF</span></td>
                            </tr>
                            <tr>
                                <th>{{ 'TOTAL_PRICE' | translate }}: </th>
                                <td colspan="2"><strong>13 CHF</strong></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th>{{ 'MIN_TERM' | translate }}: </th>
                                <td><strong>{{ 'BUSINESS_PLAN' | translate }}</strong></td>
                                <td class='text-right'>&nbsp;</td>
                            </tr>
                            <tr>
                                <th>{{ 'BILLING' | translate }}:</th>
                                <td><strong>monthly</strong></td>
                                <td class='text-right'>&nbsp;</td>
                            </tr>
                            <tr>
                                <th>{{ 'PAYMENT' | translate }}:</th>
                                <td><strong><i class="fa fa-credit-card"></i> {{ 'CREDIT_CARD' | translate }}</strong></td>
                                <td class='text-right'>
                                    <small>
                                        <a href="" ng-click="viewCard()" pt-tooltip="{{ 'SHOW_PAYMENT_INFORMATION' | translate }}">{{ 'VIEW' | translate }}</a> / 
                                        <a href="" ng-click="editCard()" pt-tooltip="{{ 'EDIT_PAYMENT_INFORMATION' | translate }}">{{ 'EDIT' | translate }}</a>
                                    </small>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </section>
        </div><!--/.row-->



        <div class="row">
            <section class="setting pm_form full" id="plans">
                <form novalidate ng-submit="saveTheme(themeForm)" name="themeForm" class="bottomRow" method="post">
                    <legend>{{ 'SUBSCRIPTION_OPTIONS' | translate }}</legend>
                    <header>
                        <a href="#" class="pm_button link pull-right">Learn how to manage your ProtonMail plan.</a>
                        <div class="group">
                            <label>Currency</label>
                            <div class="pm_buttons">
                                <a href="" ng-click="currency = 'EUR'" ng-class="{'active': currency === 'EUR'}">EUR</a>
                                <a href="" ng-click="currency = 'USD'" class="divider" ng-class="{'active': currency === 'USD'}">USD</a>
                                <a href="" ng-click="currency = 'CHF'" class="divider" ng-class="{'active': currency === 'CHF'}">CHF</a>
                            </div>
                        </div>
                        <div class="group">
                            <label>{{ 'BILLING' | translate }}</label>
                            <div class="pm_buttons">
                                <a href="" ng-click="billing = 1" ng-class="{'active': billing === 1}">
                                {{ 'MONTHLY' | translate }}
                                </a>
                                <a href="" ng-click="billing = 12" ng-class="{'active': billing === 12}" class="divider">
                                {{ 'YEARLY' | translate }}
                                </a>
                            </div>
                        </div>
                    </header>

                    <div class="plans">
                        <div class="plan" ng-class="{'selected': plan === 'basic'}" ng-if="false">
                            <header>{{ 'YOUR_CURRENT_PLAN' | translate }}</header>
                            <h3>
                                ProtonMail
                                <strong>Basic</strong>
                            </h3>
                            <div class="details">
                                <ul class="features">
                                    <li>
                                        <i class="fa fa-check"></i>
                                        <strong>1000 MB Storage</strong>
                                    </li>
                                </ul>
                                <table class="pm_table plain">
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="price">
                                <strong>Total:</strong> <span>{{ 'FREE' | translate }}</span>
                            </div>
                            <div class="action" ng-class="{'white': plan === 'basic'}">
                                <a href="#">
                                    <strong ng-show="plan === 'basic'">{{ 'BASIC_PLAN_SETTINGS' | translate }}</strong>
                                    <strong ng-show="plan !== 'basic'">{{ 'DOWNGRADE_TO_THIS_PLAN' | translate }}</strong>
                                </a>
                            </div>
                        </div>

                        <div class="plan" ng-class="{'selected': plan === 'plus'}">
                            <header>{{ 'YOUR_CURRENT_PLAN' | translate }}</header>
                            <h3>
                                ProtonMail
                                <strong>Plus</strong>
                            </h3>
                            <ul class="features">
                                <li>
                                    <i class="fa fa-check"></i>
                                    <i class="fa fa-times"></i>
                                    <strong>5,000 MB {{ 'STORAGE' | translate }}</strong>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <i class="fa fa-times"></i>
                                    <strong>1 {{ 'CUSTOM_DOMAIN' | translate }}</strong>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <i class="fa fa-times"></i>
                                    <strong>5 {{ 'ADDRESSES' | translate }}</strong>
                                </li>
                                <li class="disabled">
                                    <i class="fa fa-check"></i>
                                    <i class="fa fa-times"></i>
                                    <strong>{{ 'PRIORITY_CUSTOMER_SUPPORT' | translate }}</strong>
                                </li>
                            </ul>                            
                            <div class="details">
                                <legend>
                                    <strong>{{ 'ADDITIONAL_PACKAGES' | translate }}</strong>
                                    <em></em>
                                </legend>
                                <div class="feat" ng-repeat="element in plusAdditionals">
                                    <label>
                                        <input type="checkbox" ng-model="element.checked" />
                                        {{ element.number }} <small></small> {{ element.title }}
                                        <a href="" pt-tooltip=""><i class="fa fa-info-circle"></i></a>
                                    </label>
                                    <span class="cost">
                                        <strong>+ {{ element.price[billing] * element.quantity | number: 2 | currency: currency }}</strong>
                                    </span>
                                    <span class="pm_select">
                                        <select ng-model="element.select" ng-init="initQuantity(element)" ng-options="option.label for option in options" ng-change="changeQuantity(element)"></select>
                                        <i class="fa fa-angle-down"></i>
                                    </span>
                                </div>

                            </div>
                            <div class="price">
                                <strong>{{ 'TOTAL' | translate }}:</strong>
                                <span>
                                    {{ total('plus') | number: 2 | currency: currency }}
                                    <small ng-show="billing === 1">{{ 'PER_MONTH' | translate }}</small>
                                    <small ng-show="billing === 12">{{ 'PER_YEAR' | translate }}</small>
                                </span>
                            </div>
                            <div class="action">
                                <a href="#" ng-click="choose('plus')">
                                    <strong ng-show="plan === 'business'">{{ 'DOWNGRADE_TO_THIS_PLAN' | translate }}</strong>
                                    <strong ng-show="plan === 'plus'">{{ 'PLUS_PLAN_SETTINGS' | translate }}</strong>
                                    <strong ng-show="plan === 'basic'">{{ 'UPGRADE_TO_THIS_PLAN' | translate }}</strong>
                                </a>
                            </div>
                        </div>

                        <div class="plan middle" ng-class="{'selected': plan === 'business'}">
                            <header>{{ 'YOUR_CURRENT_PLAN' | translate }}</header>
                            <h3>
                                ProtonMail
                                <strong>Business</strong>
                            </h3>
                            <ul class="features">
                                <li>
                                    <i class="fa fa-check"></i>
                                    <i class="fa fa-times"></i>
                                    <strong>10,000 MB {{ 'STORAGE' | translate }}</strong>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <i class="fa fa-times"></i>
                                    <strong>1 {{ 'CUSTOM_DOMAIN' | translate }}</strong>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <i class="fa fa-times"></i>
                                    <strong>5 {{ 'ADDRESSES' | translate }}</strong>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <i class="fa fa-times"></i>
                                    <strong>2 {{ 'USER_MASTER_SUB' | translate }}</strong>
                                </li>
                            </ul>                            
                            <div class="details">
                                <legend>
                                    <strong>{{ 'ADDITIONAL_PACKAGES' | translate }}</strong>
                                    <em></em>
                                </legend>
                                <div class="feat" ng-repeat="element in plusAdditionals">
                                    <label>
                                        <input type="checkbox" ng-model="element.checked" />
                                        {{ element.number }} <small></small> {{ element.title }}
                                        <a href="" pt-tooltip=""><i class="fa fa-info-circle"></i></a>
                                    </label>
                                    <span class="cost">
                                        <strong>+ {{ element.price[billing] * element.quantity | number: 2 | currency: currency }}</strong>
                                    </span>
                                    <span class="pm_select">
                                        <select ng-model="element.select" ng-init="initQuantity(element)" ng-options="option.label for option in options" ng-change="changeQuantity(element)"></select>
                                        <i class="fa fa-angle-down"></i>
                                    </span>
                                </div>

                            </div>
                            <div class="price">
                                <strong>{{ 'TOTAL' | translate }}:</strong>
                                <span>
                                    {{ total('plus') | number: 2 | currency: currency }}
                                    <small ng-show="billing === 1">{{ 'PER_MONTH' | translate }}</small>
                                    <small ng-show="billing === 12">{{ 'PER_YEAR' | translate }}</small>
                                </span>
                            </div>
                            <div class="action">
                                <a href="#" ng-click="choose('plus')">
                                    <strong ng-show="plan === 'business'">{{ 'DOWNGRADE_TO_THIS_PLAN' | translate }}</strong>
                                    <strong ng-show="plan === 'plus'">{{ 'PLUS_PLAN_SETTINGS' | translate }}</strong>
                                    <strong ng-show="plan === 'basic'">{{ 'UPGRADE_TO_THIS_PLAN' | translate }}</strong>
                                </a>
                            </div>
                        </div>

                        <div class="plan" ng-class="{'selected': plan === 'enterprise'}">
                            <header>{{ 'YOUR_CURRENT_PLAN' | translate }}</header>
                            <h3>
                                ProtonMail
                                <strong>Enterprise</strong>
                            </h3>
                            <ul class="features">
                                <li>
                                    <i class="fa fa-check"></i>
                                    <i class="fa fa-times"></i>
                                    <strong>10000 MB {{ 'STORAGE' | translate }}</strong>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <i class="fa fa-times"></i>
                                    <strong>{{ 'DEDICATED_ACC_MGR' | translate }}</strong>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <i class="fa fa-times"></i>
                                    <strong>{{ 'DEDICATED_PRIORITY_SUP' | translate }}</strong>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <i class="fa fa-times"></i>
                                    <strong>{{ 'CUST_PKG' | translate }}</strong>
                                </li>
                            </ul>
                            <div class="details">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p>
                                    <a href="#"><i class="fa fa-phone"></i> +41 12 34 567 891</a>
                                    <br>
                                    <a href="#"><i class="fa fa-envelope"></i> sales@protonmail.com</a>
                                </p>
                                <p>Excepteur sint occaecat cupidatat non proident.</p>
                            </div>
                            <div class="price">
                                <strong>{{ 'TOTAL' | translate }}:</strong>
                                <span>{{ total('business') | number: 2 | currency: currency }}
                                    <small ng-show="billing === 1">{{ 'PER_MONTH' | translate }}</small>
                                    <small ng-show="billing === 12">{{ 'PER_YEAR' | translate }}</small>
                                </span>
                            </div>
                            <div class="action">
                                <a href="#" ng-click="choose('business')">
                                    <strong ng-show="plan === 'business'">{{ 'BUSINESS_PLAN_SETTINGS' | translate }}</strong>
                                    <strong ng-show="plan !== 'business'">{{ 'UPGRADE_TO_THIS_PLAN' | translate }}</strong>
                                </a>
                            </div>
                        </div>

                    </div>



                </form>
            </section>
        </div><!--/.row-->



    </div>

</div>
