<div id="pm_settings">


    <p></p>

    <div class="settings" pt-height>

        <div class="row">

            <section class="setting pm_form full">
                <form>
                    <legend>{{ 'CHANGE_SUBSCRIPTION' | translate }}</legend>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco.</p>
                </form>
            </section>
        </div><!--/.row-->



        <div class="row">
            <section class="setting pm_form full">
                <form>
                    <legend>{{ 'MY_SUBSCRIPTION' | translate }}</legend>
                    <div class="well" id="cancelTables">
                        <table class="pm_table plain">
                            <tr>
                                <th style="width:6rem">{{ 'PLAN' | translate }}: </th>
                                <td><strong>{{ 'BUSINESS_PLAN' | translate }}</strong></td>
                                <td style="width:4rem" class="price text-right"><span>10 CHF</span></td>
                            </tr>
                            <tr>
                                <th>Addons: </th>
                                <td>
                                    <strong>10 GB + 1 GB Extra Storage</strong>
                                    <strong>1 + 1 GB Extra Domain</strong>
                                </td>
                                <td class='text-right'><span>1 CHF</span></td>
                            </tr>
                            <tr>
                                <th>{{ 'TOTAL_PRICE' | translate }}: </th>
                                <td colspan="2"><strong>13 CHF</strong></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th>{{ 'MIN_TERM' | translate }}: </th>
                                <td><strong>{{ 'BUSINESS_PLAN' | translate }}</strong></td>
                                <td class='text-right'>&nbsp;</td>
                            </tr>
                            <tr>
                                <th>{{ 'BILLING' | translate }}:</th>
                                <td><strong>monthly</strong></td>
                                <td class='text-right'>&nbsp;</td>
                            </tr>
                            <tr>
                                <th>{{ 'PAYMENT' | translate }}:</th>
                                <td><strong><i class="fa fa-credit-card"></i> {{ 'CREDIT_CARD' | translate }}</strong></td>
                                <td class='text-right'>
                                    <small>
                                        <a ng-click="viewCard()" pt-tooltip="{{ 'SHOW_PAYMENT_INFORMATION' | translate }}">{{ 'VIEW' | translate }}</a> / 
                                        <a ng-click="editCard()" pt-tooltip="{{ 'EDIT_PAYMENT_INFORMATION' | translate }}">{{ 'EDIT' | translate }}</a>
                                    </small>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </section>
        </div><!--/.row-->



        <div class="row">
            <section class="setting pm_form full horizontal" id="plans">

                <form novalidate ng-submit="saveTheme(themeForm)" name="themeForm" class="bottomRow" method="post">

                    <div class="plans">

                        <div class="plan" ng-class="{'selected': plan === 'basic'}">
                            <div class="message"><strong>Derp herp burp furp kurt cobain:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                            <div class="col1">
                                <h3>ProtonMail Basic</h3>
                                <div class="price">Total: {{ 'FREE' | translate }}</div>
                                <div class="action" ng-class="{'white': plan === 'basic'}">
                                    <a href="#" class="pm_button primary">
                                        <strong ng-show="plan === 'basic'">{{ 'BASIC_PLAN_SETTINGS' | translate }}</strong>
                                        <strong ng-show="plan !== 'basic'">{{ 'DOWNGRADE_TO_THIS_PLAN' | translate }}</strong>
                                    </a>
                                </div>
                            </div><!--/.col1-->
                            <div class="col2">
                                <ul class="features">
                                    <li>
                                        <i class="fa fa-check"></i>
                                        <i class="fa fa-times"></i>
                                        <strong>5,000 MB {{ 'STORAGE' | translate }}</strong>
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>
                                        <i class="fa fa-times"></i>
                                        <strong>1 {{ 'CUSTOM_DOMAIN' | translate }}</strong>
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>
                                        <i class="fa fa-times"></i>
                                        <strong>5 {{ 'ADDRESSES' | translate }}</strong>
                                    </li>
                                    <li class="disabled">
                                        <i class="fa fa-check"></i>
                                        <i class="fa fa-times"></i>
                                        <strong>{{ 'PRIORITY_CUSTOMER_SUPPORT' | translate }}</strong>
                                    </li>
                                </ul>
                            </div><!--/.col2-->
                            <div class="col3">
                                <div class="details">
                                    <legend>
                                        <strong>{{ 'ADDITIONAL_PACKAGES' | translate }}</strong>
                                        <em></em>
                                    </legend>
                                    <div class="feat" ng-repeat="element in plusAdditionals">
                                        <label>
                                            <input type="checkbox" ng-model="element.checked" />
                                            {{ element.number }} <small></small> {{ element.title }}
                                            <a pt-tooltip=""><i class="fa fa-info-circle"></i></a>
                                        </label>
                                        <span class="cost">
                                            <strong>+ {{ element.price[billing] * element.quantity | number: 2 | currency: currency }}</strong>
                                        </span>
                                        <span class="pm_select">
                                            <select ng-model="element.select" ng-init="initQuantity(element)" ng-options="option.label for option in options" ng-change="changeQuantity(element)"></select>
                                            <i class="fa fa-angle-down"></i>
                                        </span>
                                    </div>
                                </div>
                            </div><!--/.col3-->
                        </div><!--/.plan-->

                        <div class="plan" ng-class="{'selected': plan === 'basic'}">
                            <div class="message"><strong>Derp herp burp furp kurt cobain:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                            <div class="col1">
                                <h3>ProtonMail Basic</h3>
                                <div class="price">Total: {{ 'FREE' | translate }}</div>
                                <div class="action" ng-class="{'white': plan === 'basic'}">
                                    <a href="#" class="pm_button primary">
                                        <strong ng-show="plan === 'basic'">{{ 'BASIC_PLAN_SETTINGS' | translate }}</strong>
                                        <strong ng-show="plan !== 'basic'">{{ 'DOWNGRADE_TO_THIS_PLAN' | translate }}</strong>
                                    </a>
                                </div>
                            </div><!--/.col1-->
                            <div class="col2">
                                <ul class="features">
                                    <li>
                                        <i class="fa fa-check"></i>
                                        <i class="fa fa-times"></i>
                                        <strong>5,000 MB {{ 'STORAGE' | translate }}</strong>
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>
                                        <i class="fa fa-times"></i>
                                        <strong>1 {{ 'CUSTOM_DOMAIN' | translate }}</strong>
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>
                                        <i class="fa fa-times"></i>
                                        <strong>5 {{ 'ADDRESSES' | translate }}</strong>
                                    </li>
                                    <li class="disabled">
                                        <i class="fa fa-check"></i>
                                        <i class="fa fa-times"></i>
                                        <strong>{{ 'PRIORITY_CUSTOMER_SUPPORT' | translate }}</strong>
                                    </li>
                                </ul>
                            </div><!--/.col2-->
                            <div class="col3">
                                <div class="details">
                                    <legend>
                                        <strong>{{ 'ADDITIONAL_PACKAGES' | translate }}</strong>
                                        <em></em>
                                    </legend>
                                    <div class="feat" ng-repeat="element in plusAdditionals">
                                        <label>
                                            <input type="checkbox" ng-model="element.checked" />
                                            {{ element.number }} <small></small> {{ element.title }}
                                            <a pt-tooltip=""><i class="fa fa-info-circle"></i></a>
                                        </label>
                                        <span class="cost">
                                            <strong>+ {{ element.price[billing] * element.quantity | number: 2 | currency: currency }}</strong>
                                        </span>
                                        <span class="pm_select">
                                            <select ng-model="element.select" ng-init="initQuantity(element)" ng-options="option.label for option in options" ng-change="changeQuantity(element)"></select>
                                            <i class="fa fa-angle-down"></i>
                                        </span>
                                    </div>
                                </div>
                            </div><!--/.col3-->
                        </div><!--/.plan-->

                        <div class="plan error" ng-class="{'selected': plan === 'basic'}">
                            <div class="message"><strong>Derp herp burp furp kurt cobain:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                            <div class="col1">
                                <h3>ProtonMail Basic</h3>
                                <div class="price">Total: {{ 'FREE' | translate }}</div>
                                <div class="action" ng-class="{'white': plan === 'basic'}">
                                    <a href="#" class="pm_button primary">
                                        <strong ng-show="plan === 'basic'">{{ 'BASIC_PLAN_SETTINGS' | translate }}</strong>
                                        <strong ng-show="plan !== 'basic'">{{ 'DOWNGRADE_TO_THIS_PLAN' | translate }}</strong>
                                    </a>
                                </div>
                            </div><!--/.col1-->
                            <div class="col2">
                                <ul class="features">
                                    <li>
                                        <i class="fa fa-check"></i>
                                        <i class="fa fa-times"></i>
                                        <strong>5,000 MB {{ 'STORAGE' | translate }}</strong>
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>
                                        <i class="fa fa-times"></i>
                                        <strong>1 {{ 'CUSTOM_DOMAIN' | translate }}</strong>
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>
                                        <i class="fa fa-times"></i>
                                        <strong>5 {{ 'ADDRESSES' | translate }}</strong>
                                    </li>
                                    <li class="disabled">
                                        <i class="fa fa-check"></i>
                                        <i class="fa fa-times"></i>
                                        <strong>{{ 'PRIORITY_CUSTOMER_SUPPORT' | translate }}</strong>
                                    </li>
                                </ul>
                            </div><!--/.col2-->
                            <div class="col3">
                                <div class="details">
                                    <legend>
                                        <strong>{{ 'ADDITIONAL_PACKAGES' | translate }}</strong>
                                        <em></em>
                                    </legend>
                                    <div class="feat" ng-repeat="element in businessAdditionals">
                                        <label>
                                            <input type="checkbox" ng-model="element.checked" />
                                            {{ element.number }} <small></small> {{ element.title }}
                                            <a pt-tooltip=""><i class="fa fa-info-circle"></i></a>
                                        </label>
                                        <span class="cost">
                                            <strong>+ {{ element.price[billing] * element.quantity | number: 2 | currency: currency }}</strong>
                                        </span>
                                        <span class="pm_select">
                                            <select ng-model="element.select" ng-init="initQuantity(element)" ng-options="option.label for option in options" ng-change="changeQuantity(element)"></select>
                                            <i class="fa fa-angle-down"></i>
                                        </span>
                                    </div>
                                </div>
                            </div><!--/.col3-->
                        </div><!--/.plan-->

                    </div>



                </form>
            </section>
        </div><!--/.row-->



    </div>

</div>
