<ng-include ng-if="!('secured.*.message' | includedByState)"
            src="'templates/partials/composeToolbar.tpl.html'"
            class="compose-toolbar">
</ng-include>

<form
  class="form-horizontal"
  name="composeForm"
  role="form"
  id="compose"
  ng-file-drop="selectFile($files)"
  ng-file-drag-over-class="file-drop">

  <div class="form-group form-group-compose"
       ng-class="{invalid: composeForm.recipient_list.$touched && composeForm.recipient_list.$invalid}">
    <label class="control-label col-xs-1"
           for="message-to">To</label>
    <div class="col-xs-11" field-focus>
      <input focus="true"
             field-focus
             type="text"
             required
             email-field
             ng-model="message.RecipientList"
             class="form-control"
             id="message-to"
             placeholder="example@protonmail.ch"
             name="recipient_list">
    </div>
    <div id="others">
      <a href="" ng-if="!shouldShowField('CC')" ng-click="toggleField('CC')">
        <span ng-switch="shouldShowField('CC')" ng-class="{active:!shouldShowField('CC')}">
          <span ng-switch-when="false">CC</span>
          <span ng-switch-default>CC</span>
        </span>
      </a>
      <a href="" ng-if="!shouldShowField('BCC')" ng-click="toggleField('BCC')">
        <span ng-switch="shouldShowField('BCC')" ng-class="{active:!shouldShowField('BCC')}">
          <span ng-switch-when="false">BCC</span>
          <span ng-switch-default>BCC</span>
        </span>
      </a>
    </div><!--/#others-->
  </div>

  <div class="form-group form-group-compose" ng-if="shouldShowField('CC')">
    <label class="control-label optional col-xs-1" for="message-cc">CC
      <i class="fa fa-times" ng-click="toggleField('CC')"></i>
    </label>
    <div class="col-xs-11" field-focus>
      <input field-focus
             type="text"
             email-field
             class="form-control"
             ng-model="message.CCList"
             id="message-cc"
             placeholder="example@protonmail.ch"
             name="cc_list">
    </div>
  </div>

  <div class="form-group form-group-compose" ng-if="shouldShowField('BCC')">
    <label class="control-label optional col-xs-1" for="message-bcc">BCC
      <i class="fa fa-times" ng-click="toggleField('BCC')"></i>
    </label>
    <div class="col-xs-11" field-focus>
      <input field-focus
             type="text"
             email-field
             class="form-control"
             ng-model="message.BCCList"
             id="message-bcc"
             placeholder="example@protonmail.ch"
             name="bcc_list">
    </div>
  </div>

  <div class="form-group form-group-compose"
       ng-class="{invalid: composeForm.subject.$touched && composeForm.subject.$invalid}">
    <div class="col-xs-12">
      <input field-focus
             type="text"
             required
             class="subject input-lg form-control"
             ng-model="message.MessageTitle"
             id="message-title"
             placeholder="Subject"
             name="subject">
    </div>
  </div>

  <ul ng-if="message.Attachments" class="attachments">
    <li ng-repeat="attachment in message.Attachments">
      <i class="fa fa-paperclip"></i>
      {{ attachment.FileName }}
      <a href="" ng-click="removeAttachment(attachment)"><i class="fa fa-times"></i></a>
    </li>
  </ul>

  <squire height="150px" ng-model="message.RawMessageBody" required></squire>
</form>
