<div class="panel panel-default panel-medium wrap">
    <div class="panel-heading">
        <h1 class="text-center no-margin-bottom">{{ 'NEW_PASSWORD' | translate }}</h1>
    </div>
    <div class="panel-body">
        <form novalidate ng-submit="confirmNewPassword(confirm)" name="confirm" method="post">
            <div class="form-group">
                <input autofocus tabindex="1" name="password" ng-model="params.password" type="password" class="form-control" placeholder="New Login Password" required="" />
                <div ng-show="confirm.$submitted || confirm.password.$touched">
                    <p ng-show="confirm.password.$error.required" class="text-danger">{{ 'PASSWORD_IS_REQUIRED' | translate }}.</p>
                </div>
            </div>
            <div class="form-group">
                <input tabindex="2" name="passwordc" ng-model="params.passwordc" type="password" class="form-control" placeholder="Confirm Password" required="" />
                <div ng-show="confirm.$submitted || confirm.passwordc.$touched">
                    <p ng-show="params.password !== params.passwordc" class="text-danger">{{ 'PASSWORDS_DONT_MATCH' | translate }}.</p>
                </div>
            </div>
            <button tabindex="3" type="submit" class="btn btn-primary btn-block">{{ 'SAVE' | translate }}</button>
        </form>
    </div>
</div>
