<div id="pm_settings">
    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>
    <div class="settings" pt-height>
        <div class="row" ng-hide="organization === null && subscription.Name === 'free'">
            <section class="pm_form">
                <div class="pm_grid">
                    <div class="col-1-2" ng-hide="organization === null">
                        <legend>{{ 'OVERVIEW' | translate }}</legend>
                        <div class="well">
                            <table class="pm_table plain">
                                <tr>
                                    <th>{{ 'USERNAME' | translate }}:</th>
                                    <td>
                                        <strong>{{ user.DisplayName }}</strong>
                                    </td>
                                    <td class="text-right actions"></td>
                                </tr>
                                <tr>
                                    <th>{{ 'CUSTOM_DOMAINS' | translate }}:</th>
                                    <td>
                                        <strong>{{ organization.UsedDomains }} {{ 'OF' | translate }} {{ organization.MaxDomains }} {{ 'USED' | translate }}</strong>
                                    </td>
                                    <td class="text-right actions">
                                        <a ui-sref="secured.domains">{{ 'MANAGE' | translate }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'ADDRESSES' | translate }}:</th>
                                    <td>
                                        <strong>{{ organization.UsedAddresses }} {{ 'OF' | translate }} {{ organization.MaxAddresses }} {{ 'USED' | translate }}</strong>
                                    </td>
                                    <td class="text-right actions">
                                        <a ui-sref="secured.addresses">{{ 'MANAGE' | translate }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'STORAGE' | translate }}:</th>
                                    <td>
                                        <strong>{{ organization.UsedSpace | humanSize }} {{ 'OF' | translate }} {{ organization.MaxSpace | humanSize }} {{ 'USED' | translate }}</strong>
                                    </td>
                                    <td class="text-right actions"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-1-2" ng-hide="subscription.Name === 'free'">
                        <legend>{{ 'MY_SUBSCRIPTION' | translate }}</legend>
                        <div class="well">
                            <table class="pm_table plain">
                                <tr ng-repeat="plan in subscription.Plans | filter: {Type: 1}">
                                    <th>{{ 'PLAN' | translate }}:</th>
                                    <td><strong>{{ plan.Title }}</strong></td>
                                    <td class="text-right actions">{{ plan.Amount / 100 | currency: plan.Currency }}</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td><strong>{{ 'STORAGE' | translate }}</strong></td>
                                    <td class="text-right actions">{{ price('1gb') / 100 | currency: subscription.Currency }}</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td><strong>{{ 'DOMAINS' | translate }}</strong></td>
                                    <td class="text-right actions">{{ price('1domain') / 100 | currency: subscription.Currency }}</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td><strong>{{ 'ADDRESSES' | translate }}</strong></td>
                                    <td class="text-right actions">{{ price('5address') / 100 | currency: subscription.Currency }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'TOTAL_PRICE' | translate }}:</th>
                                    <td>
                                        <strong ng-show="subscription.Cycle === 1">{{ 'MONTHLY' | translate }}</strong>
                                        <strong ng-show="subscription.Cycle === 12">{{ 'YEARLY' | translate }}</strong>
                                    </td>
                                    <td class="text-right actions">{{ subscription.Amount / 100 | currency: subscription.Currency }}</td>
                                </tr>
                                <tr ng-show="credit > 0">
                                    <th>{{ 'AVAILABLE_CREDIT' | translate }}:</th>
                                    <td></td>
                                    <td class="text-right actions">{{ credit | currency: currency }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'PAYMENT' | translate }}:</th>
                                    <td>
                                        <strong>{{ 'CREDIT_CARD' | translate }}</strong>
                                    </td>
                                    <td class="text-right actions">
                                        <a ui-sref="secured.methods" pt-tooltip="{{ 'PAYMENT_METHOD' | translate }}">{{ 'EDIT' | translate }}</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="row">
            <section class="setting pm_form full" id="plans">
                <legend>{{ 'PLANS' | translate }}</legend>
                <header>
                    <a href="https://protonmail.com/support/knowledge-base/paid-plans/" class="pm_button link pull-right">Learn About ProtonMail Plans</a>
                    <div class="group">
                        <label>{{ 'CURRENCY' | translate }}</label>
                        <div class="pm_buttons">
                            <a href="#" ng-click="changeCurrency('EUR')" ng-class="{'active': currentCurrency === 'EUR'}">EUR</a>
                            <a href="#" ng-click="changeCurrency('USD')" ng-class="{'active': currentCurrency === 'USD'}" class="divider">USD</a>
                            <a href="#" ng-click="changeCurrency('CHF')" ng-class="{'active': currentCurrency === 'CHF'}" class="divider">CHF</a>
                        </div>
                    </div>
                    <div class="group">
                        <label>{{ 'BILLING' | translate }}</label>
                        <div class="pm_buttons">
                            <a href="#" ng-click="changeCycle(1)" ng-class="{'active': currentCycle === 1}">{{ 'MONTHLY' | translate }}</a>
                            <a href="#" ng-click="changeCycle(12)" ng-class="{'active': currentCycle === 12}" class="divider">{{ 'YEARLY' | translate }} <strong class="text-green">{{ 'SAVE_~20%' | translate }}</strong></a>
                        </div>
                    </div>
                </header>
                <div class="pm_grid plans">
                    <div class="col-1-3" ng-repeat="plan in plans | filter: {Type: 1} | orderBy: 'Amount'" ng-show="plan.display === true">
                        <div class="plan" ng-class="{'active': plan.Name === subscription.Name}">
                            <header>{{ 'YOUR_CURRENT_PLAN' | translate }}</header>
                            <h3 class="text-center">
                                {{ plan.Title }}
                                <span class="text-purple">{{ plan.Amount / 100 / plan.Cycle | fixed: 2 | currency: plan.Currency }}</span>
                            </h3>
                            <ul class="features">
                                <li>
                                    <i class="fa fa-check"></i>
                                    <i class="fa fa-times"></i>
                                    <span class="pm_select" ng-show="plan.editable === true">
                                        <select ng-model="plan.Space" ng-options="option.label for option in spaceOptions"></select>
                                        <i class="fa fa-angle-down"></i>
                                    </span>
                                    <strong ng-show="plan.editable === false">{{ plan.MaxSpace | humanSize }}</strong> <strong>{{ 'STORAGE' | translate }}</strong>
                                    <span class="cost" ng-show="plan.Space.index * spaceAddon.Amount">
                                        <strong>+{{ plan.Space.index * spaceAddon.Amount / 100 / plan.Cycle | fixed: 2 | currency: plan.Currency }}</strong>
                                    </span>
                                </li>
                                <li ng-class="{disabled: plan.MaxDomains === 0}">
                                    <i class="fa fa-check"></i>
                                    <i class="fa fa-times"></i>
                                    <span class="pm_select" ng-show="plan.editable === true">
                                        <select ng-model="plan.Domain" ng-options="option.label for option in domainOptions"></select>
                                        <i class="fa fa-angle-down"></i>
                                    </span>
                                    <strong ng-show="plan.editable === false && plan.MaxDomains > 0">{{ plan.MaxDomains }}</strong> <strong>{{ 'CUSTOM_DOMAINS' | translate }}</strong>
                                    <span class="cost" ng-show="plan.Domain.index * domainAddon.Amount">
                                        <strong>+{{ plan.Domain.index * domainAddon.Amount / 100 / plan.Cycle | fixed: 2 | currency: plan.Currency }}</strong>
                                    </span>
                                </li>
                                <li ng-class="{disabled: plan.MaxAddresses === 0}">
                                    <i class="fa fa-check"></i>
                                    <i class="fa fa-times"></i>
                                    <span class="pm_select" ng-show="plan.editable === true">
                                        <select ng-model="plan.Address" ng-options="option.label for option in addressOptions"></select>
                                        <i class="fa fa-angle-down"></i>
                                    </span>
                                    <strong ng-show="plan.editable === false && plan.MaxAddresses > 0">{{ plan.MaxAddresses }}</strong> <strong>{{ 'ADDRESSES' | translate }}</strong>
                                    <span class="cost" ng-show="plan.Address.index * addressAddon.Amount">
                                        <strong>+{{ plan.Address.index * addressAddon.Amount / 100 / plan.Cycle | fixed: 2 | currency: plan.Currency }}</strong>
                                    </span>
                                </li>
                                <li ng-class="{disabled: plan.Name === 'free'}">
                                    <i class="fa fa-check"></i>
                                    <i class="fa fa-times"></i>
                                    <strong>{{ 'UNLIMITED_SENDING' | translate }}</strong>
                                </li>
                                <li ng-class="{disabled: plan.Name === 'free'}">
                                    <i class="fa fa-check"></i>
                                    <i class="fa fa-times"></i>
                                    <strong>{{ 'UNLIMITED_LABELS' | translate }}</strong>
                                </li>
                                <li ng-class="{disabled: plan.Name === 'free'}">
                                    <i class="fa fa-check"></i>
                                    <i class="fa fa-times"></i>
                                    <strong>{{ 'PRIORITY_SUPPORT' | translate }}</strong>
                                </li>
                            </ul>
                            <div class="price text-center">
                                <div>
                                    <strong>{{ 'TOTAL' | translate }}:</strong>
                                    <span class="text-purple" ng-show="plan.Amount === 0">{{ 'FREE' | translate }}</span>
                                    <span class="text-purple" ng-show="plan.Amount > 0">{{ total(plan) / 100 / plan.Cycle | fixed: 2 | currency: plan.Currency }} {{ 'PER_MONTH' | translate }}</span>
                                </div>
                                <div>
                                    &nbsp;<em ng-hide="plan.Name === 'free'">(Pay yearly and save 20%.)</em>
                                </div>
                                <div ng-show="plan.Cycle === 12">
                                    <small class="text-gray">{{ 'BILLED' | translate }} {{ total(plan) / 100 | currency: plan.Currency }} {{ 'PER_YEAR' | translate }}</small>
                                </div>
                            </div>
                            <div class="action">
                                <button type="button" ng-click="choose(plan)" class="pm_button primary large" ng-hide="plan.Name === subscription.Name">{{ 'CHOOSE_PLAN' | translate }}</button>
                                <button type="button" ng-click="choose(plan)" class="pm_button primary large" ng-show="plan.Name === subscription.Name && subscription.Name !== 'free'">{{ 'UPDATE_PLAN' | translate }}</button>
                                <button type="button" class="pm_button link dead" ng-show="plan.Name === subscription.Name && subscription.Name === 'free'">{{ 'YOUR_CURRENT_PLAN' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
