<div id="pm_settings">
    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>
    <div class="settings" pt-height>
        <div class="row">
            <section class="pm_form">
                <div class="pm_grid">
                    <div class="col-1-2">
                        <legend>{{ 'OVERVIEW' | translate }}</legend>
                        <div class="well">
                            <table class="pm_table plain">
                                <tr>
                                    <th>{{ 'USERNAME' | translate }}:</th>
                                    <td>
                                        <strong>{{ user.DisplayName }}</strong>
                                    </td>
                                    <td class="text-right actions"></td>
                                </tr>
                                <tr>
                                    <th>{{ 'DOMAINS' | translate }}:</th>
                                    <td>
                                        <strong ng-show="organization">{{ organization.UsedDomains }} {{ 'OF' | translate }} {{ organization.MaxDomains }}</strong>
                                        <strong ng-show="organization === null">0</strong>
                                    </td>
                                    <td class="text-right actions">
                                        <a ui-sref="secured.domains">{{ 'MANAGE' | translate }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'ADDRESSES' | translate }}:</th>
                                    <td>
                                        <strong ng-show="organization">{{ organization.UsedAddresses }} {{ 'OF' | translate }} {{ organization.MaxAddresses }}</strong>
                                        <strong ng-show="organization === null">1</strong>
                                    </td>
                                    <td class="text-right actions">
                                        <a ui-sref="secured.addresses">{{ 'MANAGE' | translate }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'STORAGE' | translate }}:</th>
                                    <td>
                                        <strong ng-show="organization">{{ organization.UsedSpace | humanSize }} {{ 'OF' | translate }} {{ organization.MaxSpace | humanSize }}</strong>
                                        <strong ng-show="organization === null">{{ user.UsedSpace | humanSize }} {{ 'OF' | translate }} {{ user.MaxSpace | humanSize }}</strong>
                                    </td>
                                    <td class="text-right actions"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-1-2" ng-hide="subscription.Name === 'free'">
                        <legend>{{ 'MY_SUBSCRIPTION' | translate }}</legend>
                        <div class="well">
                            <table class="pm_table plain">
                                <tr ng-repeat="plan in subscription.Plans | filter: {Type: 1}">
                                    <th style="width:7rem">{{ 'PLAN' | translate }}:</th>
                                    <td><strong>{{ plan.Title }}</strong></td>
                                    <td class="text-right actions">{{ plan.Amount / 100 | currency: plan.Currency }}</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td><strong>{{ 'STORAGE' | translate }}</strong></td>
                                    <td class="text-right actions">{{ price('1gb') / 100 | currency: subscription.Currency }}</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td><strong>{{ 'DOMAINS' | translate }}</strong></td>
                                    <td class="text-right actions">{{ price('1domain') / 100 | currency: subscription.Currency }}</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td><strong>{{ 'ADDRESSES' | translate }}</strong></td>
                                    <td class="text-right actions">{{ price('5address') / 100 | currency: subscription.Currency }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'TOTAL_PRICE' | translate }}:</th>
                                    <td>
                                        <strong ng-show="subscription.Cycle === 1">{{ 'MONTHLY' | translate }}</strong>
                                        <strong ng-show="subscription.Cycle === 12">{{ 'YEARLY' | translate }}</strong>
                                    </td>
                                    <td class="text-right actions">{{ subscription.Amount / 100 | currency: subscription.Currency }}</td>
                                </tr>
                                <tr ng-show="user.credit > 0">
                                    <th>{{ 'AVAILABLE_CREDIT' | translate }}:</th>
                                    <td></td>
                                    <td class="text-right actions">{{ user.credit / 100 | currency: subscription.Currency }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'PAYMENT' | translate }}:</th>
                                    <td>
                                        <strong>{{ 'CREDIT_CARD' | translate }}</strong>
                                    </td>
                                    <td class="text-right actions">
                                        <a ui-sref="secured.payments" pt-tooltip="{{ 'PAYMENT_METHOD' | translate }}">{{ 'EDIT' | translate }}</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-1-2 text-center" ng-show="subscription.Name === 'free'">
                        <img src="http://www.wwf.be/_media/panda_02_770723.jpg" alt="panda" style="width: 100%" />
                        <a ui-sref="https://protonmail.com/donate" target="_blank" class="pm_button primary">{{ 'DONATE' | translate }}</a>
                    </div>
                </div>
            </section>
        </div>

        <div class="row">
            <section class="setting pm_form full" id="plans">
                <legend>{{ 'PLANS_AND_PRICES ' | translate }}</legend>
                <header>
                    <a href="https://protonmail.com/support/knowledge-base/paid-plans/" target="_blank" class="pm_button link pull-right">Learn About ProtonMail Plans</a>
                    <div class="group">
                        <label class="pull-left">{{ 'CURRENCY' | translate }}</label>
                        <div class="pm_buttons pull-left">
                            <a href="#" ng-click="changeCurrency('EUR')" ng-class="{'active': configuration.currency === 'EUR'}">EUR</a>
                            <a href="#" ng-click="changeCurrency('USD')" ng-class="{'active': configuration.currency === 'USD'}" class="divider">USD</a>
                            <a href="#" ng-click="changeCurrency('CHF')" ng-class="{'active': configuration.currency === 'CHF'}" class="divider">CHF</a>
                        </div>
                    </div>
                </header>
                <div class="pm_grid no-margin plans">
                    <div ng-repeat="plan in plans | filter: {Type: 1, Cycle: configuration.cycle}: true | orderBy: 'Amount'">
                        <div
                        ng-show="plan.display === true">
                            <div
                            class="plan col-1-3"
                            ng-class="{
                                'free' : plan.Name === 'free',
                                'plus' : plan.Name === 'plus',
                                'visionary' : plan.Name === 'visionary',
                                'business' : plan.Name === 'business'
                            }">
                                <header ng-show="plan.Name === 'free'"></header>
                                <header ng-show="plan.Name === 'plus'"></header>
                                <header ng-show="plan.Name === 'visionary'">{{ 'BEST_VALUE' | translate }}</header>
                                <header ng-show="plan.Name === 'business'"></header>
                                <section>
                                    <h3>
                                        <img src="assets/img/logo.png" alt="ProtonMail" />
                                        <span>{{ plan.Title }}</span>
                                    </h3>
                                    <ul class="features">
                                        <li>
                                            <i class="fa fa-check"></i>
                                            <span class="pm_select inline" ng-show="plan.editable === true">
                                                <select ng-model="selects.plus.space" ng-options="option.label for option in spaceOptions"></select>
                                                <i class="fa fa-angle-down"></i>
                                            </span>
                                            <span ng-show="plan.editable === false">{{ plan.MaxSpace | humanSize }}</span>
                                            <span>{{ 'STORAGE' | translate }}</span>
                                            <strong class="cost pull-right" ng-show="selects.plus.space.index * addons[plan.Cycle].space.Amount && plan.editable === true">+{{ selects.plus.space.index * addons[plan.Cycle].space.Amount / 100 / plan.Cycle | fixed: 2 | currency: plan.Currency }}</strong>
                                        </li>
                                        <li ng-class="{disabled: plan.MaxDomains === 0}">
                                            <i class="fa fa-times" ng-show="plan.MaxDomains === 0"></i>
                                            <i class="fa fa-check" ng-show="plan.MaxDomains > 0"></i>
                                            <span class="pm_select inline" ng-show="plan.editable === true">
                                                <select ng-model="selects.plus.domain" ng-options="option.label for option in domainOptions"></select>
                                                <i class="fa fa-angle-down"></i>
                                            </span>
                                            <span ng-show="plan.editable === false && plan.MaxDomains > 0">{{ plan.MaxDomains }}</span>
                                            <span>{{ 'CUSTOM_DOMAINS' | translate }}</span>
                                            <strong class="cost pull-right" ng-show="selects.plus.domain.index * addons[plan.Cycle].domain.Amount && plan.editable === true">+{{ selects.plus.domain.index * addons[plan.Cycle].domain.Amount / 100 / plan.Cycle | fixed: 2 | currency: plan.Currency }}</strong>
                                        </li>
                                        <li>
                                            <i class="fa fa-check"></i>
                                            <span class="pm_select inline" ng-show="plan.editable === true">
                                                <select ng-model="selects.plus.address" ng-options="option.label for option in addressOptions"></select>
                                                <i class="fa fa-angle-down"></i>
                                            </span>
                                            <span ng-show="plan.editable === false && plan.MaxAddresses > 0">{{ plan.MaxAddresses }}</span>
                                            <span>{{ 'ADDRESSES' | translate }}</span>
                                            <strong class="cost pull-right" ng-show="selects.plus.address.index * addons[plan.Cycle].address.Amount && plan.editable === true">+{{ selects.plus.address.index * addons[plan.Cycle].address.Amount / 100 / plan.Cycle | fixed: 2 | currency: plan.Currency }}</strong>
                                        </li>
                                        <li>
                                            <i class="fa fa-check"></i>
                                            <span>{{ plan.sending }}</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-check"></i>
                                            <span>{{ plan.labels }}</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-check"></i>
                                            <span>{{ plan.support }}</span>
                                        </li>
                                    </ul>
                                </section>
                                <footer>
                                    <div class="cycle text-center" ng-show="plan.Name === 'free'">
                                        <strong>{{ 'FREE' | translate }}</strong>
                                    </div>
                                    <div class="cycle pm_grid monthly" ng-hide="plan.Name === 'free'">
                                        <div class="col-1-2">
                                            <label>
                                                <input type="radio" ng-model="configuration.cycle" ng-value="1" /> {{ 'PAY_MONTHLY' | translate }}
                                            </label>
                                        </div>
                                        <div class="col-1-2 text-right">
                                            <div>
                                                <strong>{{ total(plan, 1) / 100 | fixed: 2 | currency: plan.Currency }}</strong>
                                                <span>/{{ 'MONTH' | translate }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cycle pm_grid" ng-hide="plan.Name === 'free'">
                                        <span class="discount">
                                            <span>-20%</span>
                                        </span>
                                        <div class="col-1-2">
                                            <label>
                                                <input type="radio" ng-model="configuration.cycle" ng-value="12" /> {{ 'PAY_YEARLY' | translate }}
                                            </label>
                                        </div>
                                        <div class="col-1-2 text-right">
                                            <div>
                                                <strong>{{ total(plan, 12) / 100 / 12 | fixed: 2 | currency: plan.Currency }}</strong>
                                                <span>/{{ 'MONTH' | translate }}</span>
                                            </div>
                                            <div>
                                                <small>Billed as {{ total(plan, 12) / 100 | fixed: 2 | currency: plan.Currency }} per year</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="action">
                                        <button type="button" ng-click="choose(plan)" class="pm_button" ng-class="{
                                            primary: plan.Name !== subscription.Name,
                                            dead: plan.Name === subscription.Name && subscription.Name === 'free'
                                        }">{{ text(plan) }}</button>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>


        </div>
    </div>
</div>
