<div id="pm_settings">

    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>

    <div class="settings" ng-height>
        <div class="row">
            <section class="setting pm_form full">
                <legend>1 {{ 'CONFIGURE_DOMAINS' | translate }}</legend>
                <p>Custom Domains will allow you to send and receive mail for your domain through ProtonMail.</p>
                <p>{{ }} Domains are used. <a href="" ui-sref="secured.dasboard">{{ 'UPGRADE_YOUR_PLAN' | translate }}</a></p>
                <p>
                    <button type="button" class="pm_button primary" ng-click="addDomain()">{{ 'ADD_CUSTOM_DOMAIN' | translate }}</button>
                    <button type="button" class="pm_button primary" ng-click="buyDomain()">{{ 'BUY_A_NEW_DOMAIN' | translate }}</button>
                </p>
                <table class="pm_table">
                    <thead>
                        <tr>
                            <th>{{ 'DOMAIN' | translate }}</th>
                            <th>{{ 'STATUS' | translate }}</th>
                            <th>{{ 'VERIFICATION' | translate }}</th>
                            <th>SPF*</th>
                            <th>DKIM*</th>
                            <th>DMARC**</th>
                            <th class="text-right">{{ 'ACTION' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="domain in domains">
                            <td><strong>{{ domain.domain }}</strong></td>
                            <td>
                                <span ng-show="domain.status === true" class="text-green">
                                    <i class="fa fa-check"></i> {{ 'READY' | translate }}
                                </span>
                                <span ng-show="domain.status === false" class="text-red">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ERROR' | translate }}
                                </span>
                            </td>
                            <td>
                                <button class="pm_button" type="button" ng-click="verification(domain)">
                                    <strong ng-show="domain.verification === true" class="text-green">
                                        <i class="fa fa-check"></i> {{ 'VERIFIED' | translate }}
                                    </strong>
                                    <strong ng-show="domain.verification === false" class="text-light-gray">
                                        <i class="fa fa-times"></i> {{ 'NOT_VERIFIED' | translate }}
                                    </strong>
                                </button>
                            </td>
                            <td>
                                <button class="pm_button" type="button"  ng-click="spf(domain)">
                                    <strong ng-show="domain.spf === false">{{ 'ADD_SPF' | translate }}</strong>
                                    <strong ng-show="domain.spf === true" class="text-green">
                                        <i class="fa fa-check"></i> {{ 'ADDED' | translate }}
                                    </strong>
                                </button>
                            </td>
                            <td>
                                <button class="pm_button" type="button" ng-click="dkim(domain)">
                                    <strong ng-show="domain.dkim === false">{{ 'ADD_DKIM' | translate }}</strong>
                                    <strong ng-show="domain.dkim === true" class="text-green">
                                        <i class="fa fa-check"></i> {{ 'ADDED' | translate }}
                                    </strong>
                                </button>
                            </td>
                            <td>
                                <button class="pm_button" type="button" ng-click="dmarc(domain)">
                                    <strong ng-show="domain.dmarc === false">{{ 'ADD_DMARC' | translate }}</strong>
                                    <strong ng-show="domain.dmarc === true" class="text-green">
                                        <i class="fa fa-check"></i> {{ 'ADDED' | translate }}
                                    </strong>
                                </button>
                            </td>
                            <td class="text-right">
                                <button type="button" class="pm_button round" ng-click="deleteDomain(domain)" pt-tooltip="{{ 'DELETE' | translate }}">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-light-gray">
                    <i>*{{ 'RECOMMENDED' | translate }}</i><br />
                    <i>**{{ 'OPTIONAL' | translate }}</i>
                </p>
                <p>&nbsp;</p>
            </section>
            <section class="setting pm_form full">
                <legend>2 {{ 'CONFIGURE_ADDRESSES' | translate }}</legend>
                <p>{{ }} Addresses are used. <a href="" ui-sref="secured.dasboard">{{ 'UPGRADE_YOUR_PLAN' | translate }}</a></p>
                <div class="border-panel">
                    <div class="margin-bottom">
                        <button type="button" class="pm_button primary" ng-click="openDomainModal()">{{ 'ADD_ADDRESS' | translate }}</button>
                        <a href="" ui-sref="secured.users" class="pm_button primary">{{ 'ADD_USER' | translate }}</a>
                    </div>
                    <table class="pm_table">
                        <thead>
                            <tr>
                                <th>{{ 'ADDRESS' | translate }}</th>
                                <th>{{ 'USER' | translate }} <a href="" pt-tooltip="Emails for the address will be delivred to this user account"><i class="fa fa-info-circle"></i></a></th>
                                <th class="text-right">{{ 'ACTION' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <strong>{{ address.value }}</strong>@{{ domain }}
                                </td>
                                <td>
                                    <!-- <select ng-init="" ng-model="" ng-options=""></select> -->
                                </td>
                                <td class="text-right">
                                    <button type="button" class="pm_button round" ng-click="deleteAddress(address)" pt-tooltip="{{ 'DELETE' | translate }}">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>&nbsp;</p>
            </section>
            <section class="setting pm_form full">
                <legend>3 MX Record</legend>
                <p>Before you can receive emails for your domains at ProtonMail, you need to change the MX record of your domain to the following. <a href="">{{ 'LEARN_MORE' | translate }}</a></p>
                <p class="alert alert-info">
                    [ our MX Record ] qwe8q6we576125e812367812tye781y2eyt7812783127ey172ye712ye712737ey1278ye7812361782ey1278367182ye8y127361782ey7812yee127ye7y12ye71
                </p>
                <p><strong>{{ 'IMPORTANT' | translate }}</strong> The domain must be in the READY state and you should create all addresses in Step 2 before modifying your MX record.</p>
            </section>
        </div>
    </div>
</div>
