<div id="pm_settings">

    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>

    <div class="settings" pt-height>
        <div class="row" id="settingsDomains">
            <section class="setting pm_form full">
                <legend>
                    <span class="pull-right">{{ organization.UsedDomains }}/{{ organization.MaxDomains }} {{ 'DOMAINS_USED' | translate }}. <a ui-sref="secured.dashboard">{{ 'UPGRADE_YOUR_PLAN' | translate }}</a></span>
                    {{ 'DOMAINS' | translate }}
                </legend>
                <p>
                    <button type="button" class="pm_button primary" ng-click="addDomain()">{{ 'ADD_CUSTOM_DOMAIN' | translate }}</button>
                    <!-- <button type="button" class="pm_button primary" ng-click="buyDomain()">{{ 'BUY_A_NEW_DOMAIN' | translate }}</button> -->
                    <button type="button" class="pm_button pull-right" ng-click="refreshStatus()">
                        <i class="fa fa-refresh"></i> {{ 'REFRESH_DOMAIN_STATUS' | translate }}
                    </button>
                </p>
                <table class="pm_table bordered" ng-show="domains.length > 0">
                    <thead>
                        <tr>
                            <th class="domain">{{ 'DOMAIN' | translate }}</th>
                            <th class="status">{{ 'STATUS' | translate }}</th>
                            <th class="text-right action">{{ 'ACTIONS' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="domain in domains">
                            <td class="domain">
                                <strong>
                                    <i ng-show="domain.State === 1" class="fa fa-check text-green"></i>
                                    <i ng-show="domain.State === 0" class="fa fa-exclamation-triangle text-red"></i>
                                    {{ domain.DomainName }}
                                </strong>
                            </td>
                            <td class="status">
                                <button type="button" class="progress pm_button" ng-click="verification(domain)" ng-class="{'success': domain.VerifyState === 2, 'error': domain.VerifyState === 1}">Verify</button>
                                <!-- TODO: change logic to use address routes -->
                                <button type="button" class="progress pm_button" ng-click="addAddress(domain)" ng-class="{'success': domain.Addresses.length > 0}">
                                    <code>{{ domain.Addresses.length }}</code> Addresses
                                </button>
                                <button type="button" class="progress pm_button" ng-click="mx(domain)" ng-class="{'success': domain.MxState === 3, 'error': domain.MxState === 2 || domain.MxState === 1}">MX</button>
                                <button type="button" class="progress pm_button" ng-click="spf(domain)" ng-class="{'success': domain.SpfState === 3, 'error': domain.SpfState === 2 || domain.SpfState === 1}">SPF</button>
                                <button type="button" class="progress pm_button" ng-click="dkim(domain)" ng-class="{'success': domain.SpfState === 4, 'error': domain.SpfState === 3 || domain.SpfState === 2 || domain.SpfState === 1}">DKIM</button>
                                <button type="button" class="progress pm_button" ng-click="dmarc(domain)" ng-class="{'success': domain.DmarcState === 3, 'error': domain.DmarcState === 2 || domain.DmarcState === 1}">DMARC</button>
                            </td>
                            <td class="text-right">
                                <button type="button" class="remove pm_button round" ng-click="wizard(domain)" pt-tooltip="{{ 'SETUP' | translate }}">
                                    <i class="fa fa-cog"></i>
                                </button>
                                <button type="button" class="remove pm_button round" ng-click="deleteDomain(domain)" pt-tooltip="{{ 'DELETE' | translate }}">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="border-panel margin-bottom" ng-show="domains.length === 0">
                    <p>
                        <i class="fa fa-exclamation-triangle text-red"></i> <strong>{{ 'NO_CUSTOM_DOMAIN_FOUND' | translate }}</strong>
                    </p>
                    <p>Please add first a custom domain to configure addresses.</p>
                </div>
            </section>
            <p>&nbsp;</p>
            <section class="setting pm_form full">
                <legend>
                    <span class="pull-right">{{ organization.UsedAddresses }}/{{ organization.MaxAddresses }} {{ 'ADDRESSES_USED' | translate }}. <a ui-sref="secured.dashboard">{{ 'UPGRADE_YOUR_PLAN' | translate }}</a></span>
                    {{ 'ADDRESSES' | translate }}
                </legend>
                <div class="border-panel margin-bottom" ng-repeat="domain in domains" ng-show="domains.length > 0">
                    <p>
                        <button type="button" pt-tooltip="{{ 'TOGGLE' | translate }}" ng-show="domain.State === 1" class="pm_button round pull-right" ng-click="domain.expand = !!!domain.expand" ng-init="domain.expand = true">
                            <i class="fa" ng-class="{'fa-angle-up': domain.expand === true, 'fa-angle-down': domain.expand === false}"></i>
                        </button>
                        <i class="fa" ng-class="{'fa-check-circle-o text-green': domain.State === 1, 'fa-exclamation-triangle text-red': domain.State === 0}"></i> <strong>{{ domain.DomainName }}</strong>
                    </p>
                    <div ng-show="domain.expand === true && domain.State === 1">
                        <p>
                            <button type="button" class="pm_button primary" ng-click="addAddress(domain)">{{ 'ADD_ADDRESS' | translate }}</button>
                            <a ui-sref="secured.members" class="pm_button">{{ 'ADD_USER' | translate }}</a>
                        </p>
                        <table class="pm_table pm_form bordered" ng-show="domain.Addresses.length > 0">
                            <thead>
                                <tr>
                                    <th>{{ 'ADDRESS' | translate }}</th>
                                    <th>{{ 'USER' | translate }} <a pt-tooltip="Emails for the address will be delivred to this user account"><i class="fa fa-info-circle"></i></a></th>
                                    <th class="text-right">{{ 'ACTION' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="address in domain.Addresses">
                                    <td>
                                        <strong>{{ address.Email }}</strong>
                                    </td>
                                    <td>
                                        <span class="pm_select">
                                            <select ng-init="initMember(address)" ng-model="address.select" ng-options="member.NickName for member in members" ng-change="changeMember(address)"></select>
                                            <i class="fa fa-angle-down"></i>
                                        </span>
                                    </td>
                                    <td class="text-right">
                                        <button type="button" class="pm_button round" ng-click="deleteAddress(address, domain)" pt-tooltip="{{ 'DELETE' | translate }}">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="border-panel margin-bottom" ng-show="domains.length === 0">
                    <p>
                        <i class="fa fa-exclamation-triangle text-red"></i> <strong>{{ 'NO_CUSTOM_DOMAIN_FOUND' | translate }}</strong>
                    </p>
                    <p>Please add first a custom domain to configure addresses.</p>
                </div>
            </section>
            <p>&nbsp;</p>
            <section class="setting pm_form full">
                <legend>3 MX Record</legend>
                <p>Before you can receive emails for your domains at ProtonMail, you need to change the MX record of your domain to the following. <a>{{ 'LEARN_MORE' | translate }}</a></p>
                <p>
                    [ our MX Record ]<br>
                    <pre>mx1.derpDNSherp.burp</pre>
                </p>
                <p><strong>{{ 'IMPORTANT' | translate }}</strong>: <em>The domain must be in the READY state and you should create all addresses in Step 2 before modifying your MX record.</em></p>
            </section>
        </div>
    </div>
</div>
