<div id="pm_settings">

    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>

    <div class="settings" pt-height>
        <div class="row" id="settingsDomains">
            <section class="setting pm_form full">
                <legend>
                    <span class="pull-right">4/5 Domains used. <a href="" ui-sref="secured.dashboard">{{ 'UPGRADE_YOUR_PLAN' | translate }}</a></span>
                    {{ 'DOMAINS' | translate }}
                </legend>
                <!-- <p>{{ }} Domains are used. <a href="" ui-sref="secured.dashboard">{{ 'UPGRADE_YOUR_PLAN' | translate }}</a></p> -->
                <p>
                    <button type="button" class="pm_button primary" ng-click="addDomain()">{{ 'ADD_CUSTOM_DOMAIN' | translate }}</button>
                    <button type="button" class="pm_button primary" ng-click="buyDomain()">{{ 'BUY_A_NEW_DOMAIN' | translate }}</button>
                </p>
                <table class="pm_table bordered" ng-show="domains.length > 0">
                    <thead>
                        <tr>
                            <th class="domain">{{ 'DOMAIN' | translate }}</th>
                            <th class="verification">{{ 'TXT' | translate }}</th>
                            <th class="spf">SPF</th>
                            <th class="mx">{{ 'MX' | translate }}</th>
                            <th class="dkim">DKIM</th>
                            <th class="dmarc">DMARC</th>
                            <th class="text-right action">{{ 'ACTION' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="domain in domains">
                            <td class="domain">
                                <strong>
                                    <i ng-show="domain.State === 1" class="fa fa-check text-green"></i>
                                    <i ng-show="domain.State === 0" class="fa fa-exclamation-triangle text-red"></i>
                                    {{ domain.DomainName }}
                                </strong>
                            </td>
                            <td>
                                <span class="progress pm_button round" ng-click="verification(domain)" ng-class="{ 'dead': (domain.VerifyState === 2) }">
                                    <strong ng-show="domain.VerifyState === 0">
                                        <i class="fa fa-circle-o"></i>
                                    </strong>
                                    <strong ng-show="domain.VerifyState === 1" class="text-red">
                                        <i class="fa fa-times-circle"></i>
                                    </strong>
                                    <strong ng-show="domain.VerifyState === 2" class="text-green">
                                        <i class="fa fa-check-circle"></i>
                                    </strong>
                                </span>
                            </td>
                            <td>
                                <span class="progress pm_button round" ng-click="verification(domain)" ng-class="{ 'dead': (domain.SpfState === 3) }">
                                    <strong ng-show="domain.SpfState === 0">
                                        <i class="fa fa-circle-o"></i>
                                    </strong>
                                    <strong ng-show="domain.SpfState === 1" class="text-red">
                                        <i class="fa fa-times-circle"></i>
                                    </strong>
                                    <strong ng-show="domain.SpfState === 2" class="text-red">
                                        <i class="fa fa-times-circle"></i>
                                    </strong>
                                    <strong ng-show="domain.SpfState === 3" class="text-green">
                                        <i class="fa fa-check-circle"></i>
                                    </strong>
                                </span>
                            </td>
                            <td>
                                <span class="progress pm_button round" ng-click="mx(domain)">
                                    <strong ng-show="true">
                                        <i class="fa fa-circle-o"></i>
                                    </strong>
                                </span>
                            </td>
                            <td>
                                <span class="progress pm_button round" ng-class="{ 'dead': (domain.DkimState === 4) }">
                                    <strong ng-show="domain.DkimState === 0">
                                        <i class="fa fa-circle-o"></i>
                                    </strong>
                                    <strong ng-show="domain.DkimState === 1" class="text-red">
                                        <i class="fa fa-times-circle"></i>
                                    </strong>
                                    <strong ng-show="domain.DkimState === 2" class="text-red">
                                        <i class="fa fa-times-circle"></i>
                                    </strong>
                                    <strong ng-show="domain.DkimState === 3" class="text-red">
                                        <i class="fa fa-times-circle"></i>
                                    </strong>
                                    <strong ng-show="domain.DkimState === 4" class="text-green">
                                        <i class="fa fa-check-circle"></i>
                                    </strong>
                                </span>
                            </td>
                            <td>
                                <span class="progress pm_button round" ng-class="{ 'dead': (domain.DmarcState === 3) }">
                                    <strong ng-show="domain.DmarcState === 0">
                                        <i class="fa fa-circle-o"></i>
                                    </strong>
                                    <strong ng-show="domain.DmarcState === 1" class="text-red">
                                        <i class="fa fa-times-circle"></i>
                                    </strong>
                                    <strong ng-show="domain.DmarcState === 2" class="text-red">
                                        <i class="fa fa-times-circle"></i>
                                    </strong>
                                    <strong ng-show="domain.DmarcState === 3" class="text-green">
                                        <i class="fa fa-check-circle"></i>
                                    </strong>
                                </span>
                            </td>
                            <td class="text-right">
                                <button type="button" class="remove pm_button round" ng-click="deleteDomain(domain)" pt-tooltip="{{ 'DELETE' | translate }}">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <p>&nbsp;</p>
            <section class="setting pm_form full">
                <legend>
                    <span class="pull-right">{{ }} Addresses are used. <a href="" ui-sref="secured.dashboard">{{ 'UPGRADE_YOUR_PLAN' | translate }}</a></span>
                    {{ 'ADDRESSES' | translate }}
                </legend>
                <div class="border-panel margin-bottom" ng-repeat="domain in domains">
                    <p>
                        <button type="button" pt-tooltip="{{ 'TOGGLE' | translate }}" ng-show="domain.State === 1" class="pm_button round pull-right" ng-click="domain.expand = !!!domain.expand" ng-init="domain.expand = true">
                            <i class="fa" ng-class="{'fa-angle-up': domain.expand === true, 'fa-angle-down': domain.expand === false}"></i>
                        </button>
                        <i class="fa" ng-class="{'fa-check-circle-o text-green': domain.State === 1, 'fa-exclamation-triangle text-red': domain.State === 0}"></i> <strong>{{ domain.DomainName }}</strong>
                    </p>
                    <div ng-show="domain.expand === true && domain.State === 1">
                        <p>
                            <button type="button" class="pm_button primary" ng-click="addAddress(domain)">{{ 'ADD_ADDRESS' | translate }}</button>
                            <a href="" ui-sref="secured.users" class="pm_button">{{ 'ADD_USER' | translate }}</a>
                        </p>
                        <table class="pm_table pm_form bordered">
                            <thead>
                                <tr>
                                    <th>{{ 'ADDRESS' | translate }}</th>
                                    <th>{{ 'USER' | translate }} <a href="" pt-tooltip="Emails for the address will be delivred to this user account"><i class="fa fa-info-circle"></i></a></th>
                                    <th class="text-right">{{ 'ACTION' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="address in addresses">
                                    <td>
                                        <strong>{{ address.Email }}</strong>
                                    </td>
                                    <td>
                                        <span class="pm_select">
                                            <select ng-init="initMember(address)" ng-model="address.select" ng-options="member.UserName for member in members" ng-change="changeMember(address)"></select>
                                            <i class="fa fa-angle-down"></i>
                                        </span>
                                    </td>
                                    <td class="text-right">
                                        <button type="button" class="pm_button round" ng-click="deleteAddress(address)" pt-tooltip="{{ 'DELETE' | translate }}">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="border-panel margin-bottom" ng-show="domains.length === 0">
                    <p>
                        <i class="fa fa-exclamation-triangle text-red"></i> <strong>{{ 'NO_CUSTOM_DOMAIN_FOUND' | translate }}</strong>
                    </p>
                    <p>Please add first a custom domain to configure addresses.</p>
                </div>
                <p>&nbsp;</p>
            </section>
            <p>&nbsp;</p>
            <section class="setting pm_form full">
                <legend>3 MX Record</legend>
                <p>Before you can receive emails for your domains at ProtonMail, you need to change the MX record of your domain to the following. <a href="">{{ 'LEARN_MORE' | translate }}</a></p>
                <p>
                    [ our MX Record ]<br>
                    <pre>mx1.derpDNSherp.burp</pre>
                </p>
                <p><strong>{{ 'IMPORTANT' | translate }}</strong>: <em>The domain must be in the READY state and you should create all addresses in Step 2 before modifying your MX record.</em></p>
            </section>
        </div>
    </div>
</div>
