<div id="pm_settings">
    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>
    <div class="settings">
        <div class="row">
            <div class="setting pm_form full" ng-show="organization.PlanName === 'visionary'">
                <legend translate-context="Title" translate>Custom Filters</legend>
                <p translate translate-context="Info" class="alert alert-info">Add a custom filter to perform actions such as automatically labeling or archiving messages.</p>
                <div class="margin">
                    <button class="pm_button primary" translate translate-context="Action" ng-click="addCustomFilter()">Add Filter</button>
                    <button class="pm_button" translate translate-context="Action" ng-click="clearCustomFilters()">Clear All</button>
                </div>
                <p class="alert alert-info" ng-show="isFree" translate translate-context="Info">Free ProtonMail accounts are limited to 1 custom filter. Please <a ui-sref="secured.dashboard({scroll: true})">upgrade</a> to get unlimited filters.</p>
                <p class="alert alert-info" ng-show="customFilters.length === 0" translate translate-context="Info">You have no custom filters.</p>
                <div ng-show="customFilters.length > 0">
                    <div class="pm_sort">
                        <ul data-as-sortable="filterDragControlListeners" data-ng-model="customFilters">
                            <li ng-repeat="filter in customFilters | orderBy: 'Priority'" as-sortable-item="">
                                <div as-sortable-item-handle="" class="pm_grid">
                                    <div class="col-1-2 truncate">
                                        <i class="fa fa-ellipsis-v"></i> {{ filter.Name }}
                                    </div>
                                    <div class="col-1-4">
                                        <toggle status="filter.Status" on="ON" off="OFF" change="statusCustomFilter(filter)"></toggle>
                                    </div>
                                    <div class="col-1-4 text-right">
                                        <button class="pm_button link" ng-click="editCustomFilter(filter)">Edit</button>
                                        <button class="pm_button link" ng-click="deleteCustomFilter(filter)">Delete</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="setting pm_form full">
                <legend translate translate-context="Title">Spam Filters</legend>
                <p class="alert alert-info"><span translate translate-context="Info">Sender specific spam rules can be applied here. Whitelist addresses always go to Inbox while Blacklist addresses always go to Spam. Marking a message as spam adds the address to the Blacklist. Marking a message as not spam adds the address to the Whitelist.</span> <a href="https://protonmail.com/support/knowledge-base/spam-filtering/" target="_blank" translate translate-context="Link">Learn More</a></p>
                <div class="pm_grid">
                    <div class="col-1-1">
                        <input type="search" class="search" ng-model="searchSpamFilter" placeholder-translate="Search Whitelist and Blacklist" />
                    </div>
                </div>
                <div class="pm_grid">
                    <div class="col-1-2">
                        <div class="pm_grid margin">
                            <div class="col-1-2">
                                <legend translate translate-text="Title" class="no-border no-margin">Whitelist</legend>
                            </div>
                            <div class="col-1-2 text-right">
                                <button class="pm_button primary" translate translate-context="Action" ng-click="addSpamFilter(0)">Add Filter</button>
                            </div>
                        </div>
                        <p class="alert alert-info" ng-show="empty(0)" translate translate-context="Info">No emails in Whitelist, click Add Filter to add addresses to the Whitelist.</p>
                        <div class="pm_table" ng-hide="empty(0)">
                            <table class="bordered limited">
                                <tbody>
                                    <tr ng-repeat="filter in spamFilters | filter: {Location: 0} | filter: searchSpamFilter track by filter.ID">
                                        <td ng-bind="filter.Email"></td>
                                        <td class="text-right">
                                            <button class="pm_button link" ng-click="switchSpamFilter(filter, 4)" pt-tooltip-translate="Switch">
                                                <i class="fa fa-arrows-h"></i>
                                            </button>
                                            <button class="pm_button link" ng-click="deleteSpamFilter(filter)" pt-tooltip-translate="Delete">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-1-2">
                        <div class="pm_grid margin">
                            <div class="col-1-2">
                                <legend translate translate-text="Title" class="no-border no-margin">Blacklist</legend>
                            </div>
                            <div class="col-1-2 text-right">
                                <button class="pm_button primary" translate translate-context="Action" ng-click="addSpamFilter(4)">Add Filter</button>
                            </div>
                        </div>
                        <p class="alert alert-info" ng-show="empty(4)" translate translate-context="Info">No emails in Blacklist, click Add Filter to add addresses to the Blacklist.</p>
                        <div class="pm_table" ng-hide="empty(4)">
                            <table class="bordered limited">
                                <tbody>
                                    <tr ng-repeat="filter in spamFilters | filter: {Location: 4} | filter: searchSpamFilter track by filter.ID">
                                        <td ng-bind="filter.Email"></td>
                                        <td class="text-right">
                                            <button class="pm_button link" ng-click="switchSpamFilter(filter, 0)" pt-tooltip-translate="Switch">
                                                <i class="fa fa-arrows-h"></i>
                                            </button>
                                            <button class="pm_button link" ng-click="deleteSpamFilter(filter)" pt-tooltip-translate="Delete">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
