<div id="pm_settings">

    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>

    <div class="settings">

        <div class="row">

            <p class="alert alert-info" ng-if="mobileMode" translate>This page is only available on larger resolution devices. If you are on a  phone, try landscape mode, or visit on a computer instead.</p>

            <div class="setting pm_form full desktopOnly">

                <legend translate-context="Title" translate-comment="defaults page heading" translate>Incomming Defaults</legend>

                <div class="pull-right">
                    <button type="button" class="pm_button" ng-click="deleteSelectedDefaults()" ng-disabled="networkActivity.loading() || defaultsSelected().length === 0" translate>Delete Selected</button>
                </div>

                <div class="pull-left">
                    <button type="button" class="pm_button" ng-click="clearDefaults()" ng-disabled="networkActivity.loading()" translate>Delete All</button>
                    <button type="button" class="pm_button" ng-click="refreshDefaults()" ng-disabled="networkActivity.loading()">
                        <i class="fa fa-rotate-right"></i>
                    </button>
                </div>

                <div class="row" id="settingsIncomingDefaults">

                    <p class="alert alert-info" ng-show="defaults.length < 1" translate>No incomming default rules yet</p>

                    <table ng-if="defaults.length > 0" class="pm_table">
                        <thead>
                            <tr>
                                <th class="hidden-xs checkbox"></th>
                                <th class="email" translate>Email</th>
                                <th class="date" translate>Date</th>
                                <th class="rule" translate>Incoming Mail Default Folder</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="default in defaults track by default.ID">
                                <td class="text-center hidden-xs checkbox">
                                    <label for="">
                                        <input type="checkbox" ng-model="default.selected" ng-click="onSelectDefault($event, default)" />
                                    </label>
                                </td>
                                <td class="email">
                                    <span ng-bind="default.Email"></span>
                                </td>
                                <td class="date">
                                    <span ng-bind="(default.Time * 1000 | date : 'medium' )"></span>
                                </td>
                                <td class="rule pm_grid">
                                    <div class="col-1-2">
                                        <label for="">Move to </label>
                                    </div>
                                    <div class="col-1-2">
                                        <span class="pm_select">
                                            <select ng-model="default.destination" ng-options="location.label for location in locations" ng-init="initSelect(default)" ng-change="changeLocation(default)"></select>
                                            <i class="fa fa-angle-down"></i>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div><!--/.setting-->

        </div><!--/.row-->

    </div><!--/.settings-->

</div>
