<div id="pm_settings">

    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>

    <div class="settings">

        <div class="row">

            <p class="alert alert-info" ng-if="mobileMode">This page is only available on larger resolution devices. If you are on a  phone, try landscape mode, or visit on a computer instead.</p>

            <div class="setting pm_form full desktopOnly">

                <legend translate-context="Title" translate-comment="defaults page heading" translate>Incomming Defaults</legend>

                <button class="pm_button pull-right danger pull-right" ng-click="clearDefaults()" ng-disabled="networkActivity.loading()">
                    <i class="fa fa-times-circle-o"></i> Delete All
                </button>
                <div class="pm_buttons pull-left">
                    <a ng-click="deleteSelectedDefaults()" ng-disabled="networkActivity.loading() || defaultsSelected().length === 0">
                        <i class="fa fa-trash-o"></i> Delete Selected
                    </a>
                </div>
                <a class="pm_button pull-left" ng-click="refreshDefaults()" id="refreshDefaults" ng-disabled="networkActivity.loading()">
                    <i class="fa fa-rotate-right"></i>
                </a>

                <div class="row" id="settingsIncomingDefaults">

                    <p class="alert alert-info" ng-show="IncomingDefaults.length < 1"  translate>No incomming default rules yet</p>

                    <table ng-if="IncomingDefaults.length > 0" class="pm_table">
                        <thead>
                            <tr>
                                <th class="hidden-xs checkbox"></th>
                                <th class="email">Email</th>
                                <th class="rule text-right">Default Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="default in IncomingDefaults track by default.ID">
                                <td class="text-center hidden-xs checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="default.selected" ng-click="onSelectDefault($event, default)" />
                                    </label>
                                </td>
                                <td class="email">
                                    <span title="{{ default.Email }}">{{ default.Email }}</span>
                                </td>
                                <td class="rule text-right">
                                    <label>Move to </label>
                                    <!-- TODO: need to make the default value be selected. also need to save on change -->
                                     <span class="pm_select">
                                        <select ng-model="default.Location" ng-options="location.id as location.name for location in Locations"></select>
                                        <i class="fa fa-angle-down"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div><!--/.setting-->

        </div><!--/.row-->

    </div><!--/.settings-->

</div>
