<div id="pm_settings">
    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>
    <div class="settings" pt-height>
        <span class="pm_buttons">
            <a href="" class="pm_trigger" ng-dropdown>
                <strong>2015</strong><i class="fa fa-angle-down"></i>
            </a>
            <span class="pm_dropdown">
                <a href="">2015</a>
                <a href="">2014</a>
                <a href="">2013</a>
            </span>
        </span>
        <p>&nbsp;</p>
        <table class="pm_table hidden-xs" id="invoicesTable">
            <thead>
                <tr>
                    <th class="date">{{ 'DATE' | translate }}</th>
                    <th class="event">{{ 'EVENT' | translate }}</th>
                    <th class="actions">{{ 'INVOICE' | translate }}</th>
                    <th class="price">{{ 'PRICE' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="invoice in invoices track by $index">
                    <td class="date">
                        {{ invoice.Date * 1000 | date : 'medium' }}
                    </td>
                    <td>
                        {{ invoice.Event }}
                    </td>
                    <td class="actions">
                        <a class="pm_button round" ng-click="downloadInvoice(invoice)" pt-tooltip="{{ 'DOWNLOAD_INVOICE' | translate }}">
                            <i class="fa fa-file-text"></i>
                        </a>
                    </td>
                    <td class="price">
                        {{ ::invoice.Price }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
