<div id="pm_settings">
    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>
    <div class="settings pm_form" pt-height>
        <p class="alert alert-info" ng-show="isSafari">Safari doesn't support downloading of keys. We are working on a fix for this.</p>
        <p class="alert alert-info">Download your PGP Keys for use with other PGP compatible services. Only incoming messages in inline OpenPGP format are currently supported.</p>
        <p>&nbsp;</p>
        <legend>{{ 'ADDRESSES' | translate }}</legend>
        <!-- <button type="button" class="pm_button error" ng-click="lock()">Lock</button> -->
        <div ng-repeat="address in addresses | orderBy: 'Send'" class="keyAddresses">
            <header>
                <div class="margin">
                    <button class="pm_button pull-right" ng-click="generate(address)" ng-hide="isNonPrivate === true" ng-disabled="address.Keys > 10">
                        <i class="fa fa-key"></i>
                        {{ 'GENERATE_NEW_KEY_PAIR' | translate }}
                    </button>
                    <strong>{{ address.Email }}</strong>
                    <span class="pm_badge success" ng-show="address.Status === 1">Enabled</span>
                    <span class="pm_badge error" ng-hide="address.Status === 1">Disabled</span>
                </div>
            </header>
            <table class="pm_table thick bordered" ng-show="address.Keys.length > 0">
                <thead>
                    <tr>
                        <th>{{ 'STATUS' | translate }}</th>
                        <th>{{ 'FINGERPRINT' | translate }} <a href="#" pt-tooltip="TODO"><i class="fa fa-info-circle"></i></a></th>
                        <th>{{ 'KEY_SIZE' | translate }} <a href="#" pt-tooltip="TODO"><i class="fa fa-info-circle"></i></a></th>
                        <th>{{ 'KEY_DOWNLOAD' | translate }}</th>
                        <th class="text-right">{{ 'ACTIONS' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="key in address.Keys">
                        <td>
                            <span class="pm_badge primary" ng-show="$first">{{ 'PRIMARY' | translate }}</span>
                            <span class="pm_badge success" ng-show="key.decrypted === true">{{ 'ENABLED' | translate }}</span>
                            <span class="pm_badge error" ng-hide="key.decrypted === true">{{ 'DISABLED' | translate }}</span>
                        </td>
                        <td>
                            <code title="{{ key.created | date }}">{{ key.fingerprint }}</code>
                        </td>
                        <td>{{ key.bitSize }} {{ 'BIT' | translate }}</td>
                        <td>
                            <button class="pm_button link" ng-click="download(key.PublicKey, address.Email, 'public')" ng-hide="isSafari"><i class="fa fa-key"></i> {{ 'PUBLIC_KEY' | translate }}</button>
                            <button class="pm_button link" ng-click="download(key.PrivateKey, address.Email, 'private')" ng-hide="isSafari"><i class="fa fa-key"></i> {{ 'PRIVATE_KEY' | translate }}</button>
                        </td>
                        <td class="text-right">
                            <button class="pm_button link" ng-click="primary(address, key)" ng-hide="$first || isNonPrivate || key.decrypted === false"><i class="fa fa-arrow-up"></i> {{ 'MAKE_PRIMARY' | translate }}</button>
                            <button class="pm_button link" ng-click="reactivate(address, key)" ng-show="key.decrypted === false"><i class="fa fa-refresh"></i> {{ 'REACTIVATE' | translate }}</button>
                            <button class="pm_button link" ng-click="delete(address, key)" ng-hide="address.Keys.length === 1 || isNonPrivate"><i class="fa fa-trash-o"></i> {{ 'DELETE' | translate }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
        </div>
    </div>
</div>
