<div id="pm_settings">
    <div class="settings pm_form">
        <div class="row">
            <header-block class="settingsKeys-header-key">
                <h2
                    class="settingsKeys-title-key"
                    translate
                    translate-context="Title">Keys</h2>
            </header-block>

            <p class="alert alert-info" translate-context="Info" translate>Download your PGP Keys for use with other PGP compatible services. Only incoming messages in inline OpenPGP format are currently supported.</p>
            <address-keys-view></address-keys-view>
        </div>
    </div>
</div>
