<ng-include src="'templates/partials/header.tpl.html'" id="header"></ng-include>

<div id="content">
    <div class="container-fluid">
        <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="createLabel()"><i class="fa fa-plus"></i> {{ 'ADD_LABEL' | translate }}</button>
        </div>
        <ul class="list-group" data-as-sortable="labelsDragControlListeners" data-ng-model="labels" id="labelContainer">
            <li class="list-group-item" ng-repeat="label in labels" as-sortable-item="">
                <div as-sortable-item-handle="">
                    <i class="fa fa-sort"></i> 
                    <span class="label label-pm" ng-style="{ 'background-color': label.Color }">{{ label.Name }}</span>
                    <div class="pull-right">
                        <toggle-switch 
                        ng-click="toggleDisplayLabel(label)"
                        ng-model="label.Display" 
                        on-label="{{ 'SHOW' | translate }}" 
                        off-label="Hide"
                        reverse="true">
                        </toggle-switch>
                        <button type="button" class="btn btn-default btn-sm" pt-tooltip="Edit Label" ng-click="editLabel(label)">
                            <i class="fa fa-edit"></i> <span class="hidden-xs hidden-sm">{{ 'EDIT' | translate }}</span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm" pt-tooltip="Delete Label" ng-click="deleteLabel(label)">
                            <i class="fa fa-trash-o"></i> <span class="hidden-xs hidden-sm">{{ 'DELETE' | translate }}</span>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>