<div class="container-fluid">
    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>
    <div class="form-group">
        <button class="btn btn-primary" ng-click="createLabel()"><i class="fa fa-plus"></i> Add Label</button>
        <button type="button" class="btn btn-default btn-sm" pt-tooltip="Delete Label" ng-click="saveLabelOrder()">
            <i class="fa fa-trash-o"></i> <span class="hidden-xs hidden-sm">Save Order</span>
        </button>
    </div>
    <table class="table table-middle table-hover table-pm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Side Menu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-as-sortable="labelsDragControlListeners" data-ng-model="labels">
            <tr ng-repeat="label in labels" as-sortable-item="">
                <td as-sortable-item-handle="">
                    <span  class="label label-pm" style="background-color: {{ label.LabelColor }}"><i class="fa fa-tag"></i> {{ label.LabelName }}</span>
                </td>
                <td>
                    <toggle-switch ng-model="!!!label.Display" ng-click="toggleDisplayLabel(label)" on-label="Show" off-label="Hide"></toggle-switch>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm" pt-tooltip="Edit Label" ng-click="editLabel(label)">
                        <i class="fa fa-edit"></i> <span class="hidden-xs hidden-sm">Edit</span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" pt-tooltip="Delete Label" ng-click="deleteLabel(label)">
                        <i class="fa fa-trash-o"></i> <span class="hidden-xs hidden-sm">Delete</span>
                    </button>
                </td>
            </tr>
        </tbody>

    </table>
</div>
