<p class="text-center white">
    <a href="https://protonmail.ch/invite" target="_self" class="underline">{{ 'SIGN_UP_FOR_PROTONMAIL' | translate }}</a>
</p>
<div class="panel panel-default wrap panel-dark panel-medium" id="loginPanel">
    <div class="panel-heading logoWrap">
        <a href="/"><img src="/assets/img/protonmail.svg" alt="ProtonMail" class="logo" /></a>
    </div>
    <div class="panel-body">
        <form id="sign_in_form" name="sign_in" novalidate ng-keypress="keypress($event)" role="form" autocomplete="off">
            <h3 class="text-center margin-bottom">
                <span class="fa fa-user title-icon"></span>
                {{ 'USER_LOGIN' | translate }}
            </h3>
            <div class="alert alert-danger" id="error521" ng-if="error">{{ error.message }}</div>
            <div class="form-group">
                <input 
                autocomplete="off" 
                type="text" 
                ng-model="username" 
                class="form-control dark" 
                tabindex="1" 
                name="Username" 
                placeholder="Username" 
                required="" 
                autofocus="" 
                value="" />
            </div>
            <div class="form-group">
                <input 
                maxlength="{{ maxPW }}" 
                autocomplete="off" 
                type="password" 
                ng-model="password" 
                class="form-control dark password" 
                tabindex="2" 
                name="Password" 
                required="" 
                placeholder="Password" 
                value="" />
            </div>
            <div class="fluid-container">
                <div class="row">
                    <div class="col-xs-6">
                        <a class="btn" ui-sref="support.reset-password">{{'RESET_PASSWORD' | translate }}</a>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-primary" ng-class="{disabled: networkActivity.loading()}" id="login_btn" tabindex="3" ng-click="tryLogin()">
                            <span>{{ 'LOGIN' | translate }}</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <a href="https://protonmail.ch/username" target="_self" class="btn">{{ 'FORGOT_USERNAME?' | translate }}</a>
                    </div>
                </div>
            </div>
            <input type="hidden" id="hashed_pw" name="hashed_pw" />
        </form>
    </div>
</div>
