<form method="post"
id="pm_login"
class="pm_panel alt pm_form"
novalidate
ng-keypress="keypress($event)"
role="form"
autocomplete="on"
ng-submit="login()"
>

    <img src="assets/img/logo.png" height="20" alt="ProtonMail" class="logo" />

    <h4 class="text-center margin-bottom">
        <span class="fa fa-user title-icon"></span>
        {{ 'USER_LOGIN' | translate }}
    </h4>

    <div class="alert alert-danger" id="error521" ng-if="error">{{ error.message }}</div>

    <input
    autocomplete="on"
    autocapitalize="off"
    autocorrect="off"
    type="text"
    ng-model="username"
    tabindex="1"
    id="username"
    name="Username"
    placeholder="USERNAME"
    class="margin"
    required="" />

    <input
    maxlength="{{ ::maxPW }}"
    autocomplete="on"
    autocapitalize="off"
    autocorrect="off"
    type="password"
    ng-model="password"
    tabindex="2"
    id="password"
    name="Password"
    class="margin"
    required=""
    placeholder="PASSWORD" />

    <div class="clearfix">
        <a class="pm_button link pull-left" ng-click="getLoginHelp()">{{'NEED_HELP?' | translate }}</a>
        <a class="pm_button primary pull-right" ng-click="login()" ng-class="{disabled: networkActivity.loading()}">{{ 'LOGIN' | translate }}</a>
    </div>

    <div class="clearfix">
        <a href="pm_button link" src="v2.protonmail.com">{{ 'ACCESS_TO_V2' | translate }}</a>
    </div>

    <input type="hidden" id="hashed_pw" name="hashed_pw" />

</form>
