<div id="pm_settings">

    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>

    <div class="settings" pt-height>
        <div class="row">
            <section class="setting pm_form full">
                <legend>{{ 'ORGANIZATION' | translate }}</legend>
                <div class="pm_grid">
	            	<div class="col-1-2">
		            	<form method="post" name="form_organization" ng-submit="saveOrganizationName()" novalidate="">
	            			<div class="col left">
	            				<label for="orgName">{{ 'ORGANIZATION_NAME'| translate }}</label>
	            			</div>
	            			<div class="col right">
	            				<div class="clearfix">
		            				<input id="orgName" name="name" type="text" class="margin" ng-model="organization.DisplayName" placeholder="{{ 'ORGANIZATION_NAME' | translate }}" ng-minlength="0" ng-maxlength="100" required="" />
	            				</div>
			            		<p class="text-right clearfix">
				            		<button class="pm_button primary" type="submit">{{ 'SAVE'| translate }}</button>
			            		</p>
	            			</div>
	            		</form>
	            	</div>
	            	<div class="col-1-2">
	                    <table class="pm_table plain" id="usersTable">
	                        <tbody>
	                        	<tr>
		                            <th width="7rem">{{ 'NUMBER_OF_USER'| translate }}: </th>
		                            <td>
		                                <strong>{{ organization.UsedMembers }} {{ 'OF' | translate }} {{ organization.MaxMembers }} {{ 'USED' | translate }}</strong>
		                            </td>
		                            <td class="text-right">
		                            	<span>
		                                    <a ui-sref="secured.dashboard">{{ 'UPGRADE'| translate }}</a>
		                                </span>
		                            </td>
		                        </tr>
		                        <tr>
		                            <th>{{ 'ORGANIZATION_STORAGE'| translate }}:</th>
		                            <td>
		                                <strong>{{ organization.MaxSpace | humanSize }}</strong>
		                            </td>
		                            <td class="text-right">
		                                <span>
		                                    <a ui-sref="secured.dashboard">{{ 'UPGRADE'| translate }}</a>
		                                </span>
		                            </td>
		                        </tr>
		                    </tbody>
	                    </table>
	                    <p>
		                    <small><i class="fa fa-info-circle text-purple"></i> ProtonMail business accounts can create subaccounts which are used by other members of your organization.</small>
	                    </p>
	            	</div>
	            </div>
            </section>
        </div>

        <div class="row">
            <section class="setting pm_form full">
                <legend>{{ 'USERS' | translate }}</legend>
                <p ng-hide="checkDomains()" class="alert alert-info">Please add and verify a domain before adding addresses.</p>
                <p ng-show="checkDomains()">
                    <button type="button" class="pm_button primary" ng-click="openUserModal()">{{ 'ADD_USER'| translate }}</button>
                    <a ui-sref="secured.domains" class="pm_button">{{ 'ADD_USER' | translate }}</a>
                </p>
                <table class="pm_table hidden-xs" id="userTable">
		            <thead>
		                <tr>
		                    <th class="username">{{ 'USERNAME'| translate }}</th>
		                    <th class="role">{{ 'ROLE'| translate }}</th>
		                    <th class="storage">{{ 'STORAGE'| translate }}</th>
		                    <th class="addresses">{{ 'ADDRESSES'| translate }}</th>
		                    <th class="actions">{{ 'ACTIONS'| translate }}</th>
		                </tr>
		            </thead>
		            <tbody>
						<tr ng-repeat="member in members">
		                    <td class="username">
		                        <span ng-bind="member.NickName"></span>
		                    </td>
		                    <td class="role">
                                <span ng-show="member.Role">{{ 'MASTER' | translate }}</span>
		                    	<span class="pm_select" ng-hide="member.Role === 2">
									<select ng-model="member.selectRole" ng-init="initRole(member)" ng-options="role.label for role in roles" ng-change="changeRole(member)"></select>
			                        <i class="fa fa-angle-down"></i>
			                    </span>
		                    </td>
		                    <td class="storage">{{ member.UsedSpace | humanSize }} {{ 'OF' | translate }} {{ member.MaxSpace | humanSize }} {{ 'USED' | translate }} <a href="#" ng-click="manageStorage(member)" class="fa fa-edit pm_button link"></a></td>
		                    <td class="addresses">
                                <div ng-repeat="address in member.Addresses | orderBy: 'Send'" ng-hide="address.Status === 0">
                                    {{ address.Email }} <small ng-show="address.Send === 1"><strong>(DEFAULT)</strong></small>
                                    <a ng-click="unlinkAddress(member, address)" ng-hide="address.Send === 1" pt-tooltip="{{ 'UNLINK_ADDRESS' | translate }}"><i class="fa fa-chain-broken pm_button link"></i></a>
                                </div>
                                <a ui-sref="secured.domains" class="pm_button">{{ 'ADD_ADDRESS' | translate }}</button>
                            </td>
		                    <td class="actions">
			                    <div ng-hide="member.Private === 1">
			                    	<button type="button" class="pm_button link" ng-click="managePasswords(member)" pt-tooltip="{{ 'MANAGE_PASSWORDS'| translate }}">
                                        <i class="fa fa-cog"></i> {{ 'MANAGE_PASSWORD' | translate }}
                                    </button>
                                </div>
			                    <div ng-hide="member.Private === 1">
			                    	<button type="button" class="pm_button link" ng-click="generateKeys(member)" pt-tooltip="{{ 'GENERATE_KEYS'| translate }}">
                                        <i class="fa fa-key"></i> {{ 'GENERATE_KEYS' | translate }}
                                    </button>
                                </div>
			                    <div ng-hide="member.Private === 1">
			                    	<button type="button" class="pm_button link" ng-click="enterMailbox(member)" pt-tooltip="{{ 'ENTER_MAILBOX'| translate }}">
                                        <i class="fa fa-inbox"></i> {{ 'ENTER_MAILBOX' | translate }}
                                    </button>
                                </div>
                                <div>
                                    <button type="button" class="pm_button link" ng-click="remove(member)">
                                        <i class="fa fa-trash-o"></i> {{ 'REMOVE_USER' | translate }}
                                    </button>
                                </div>
							</td>
		                </tr>
		            </tbody>
		        </table>
            </section>
        </div>
    </div>
</div>
