<div id="pm_settings">

    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>

    <div class="settings">
        <div class="row">
            <section class="setting pm_form full">
                <legend translate>Organization</legend>
                <div class="pm_grid">
	            	<div class="col-1-2">
		            	<form method="post" name="form_organization" ng-submit="saveOrganizationName()" novalidate="">
	            			<div class="col left">
	            				<label for="orgName" translate>Organization name</label>
	            			</div>
	            			<div class="col right">
	            				<div class="clearfix">
		            				<input id="orgName" name="name" type="text" class="margin" ng-model="organization.DisplayName" placeholder="{{ 'Organization name' | translate }}" ng-minlength="0" ng-maxlength="100" required="" />
	            				</div>
			            		<p class="text-right clearfix">
				            		<button class="pm_button primary" type="submit" translate>Save</button>
			            		</p>
	            			</div>
	            		</form>
	            	</div>
	            	<div class="col-1-2">
	                    <table class="pm_table plain" id="usersTable">
	                        <tbody>
	                        	<tr>
		                            <th width="7rem" translate>Number of users:</th>
		                            <td>
		                                <strong>{{ organization.UsedMembers }} {{ 'of' | translate }} {{ organization.MaxMembers }} {{ 'Used' | translate }}</strong>
		                            </td>
		                            <td class="text-right">
		                            	<span>
		                                    <a ui-sref="secured.dashboard" translate>Upgrade</a>
		                                </span>
		                            </td>
		                        </tr>
		                        <tr>
		                            <th translate>Organization storage:</th>
		                            <td>
		                                <strong>{{ organization.MaxSpace | humanSize }}</strong>
		                            </td>
		                            <td class="text-right">
		                                <span>
		                                    <a ui-sref="secured.dashboard" translate>Upgrade</a>
		                                </span>
		                            </td>
		                        </tr>
		                    </tbody>
	                    </table>
	                    <p>
		                    <small><i class="fa fa-info-circle text-purple"></i> {{ 'ProtonMail business accounts can create subaccounts which are used by other members of your organization.' | translate }}</small>
	                    </p>
	            	</div>
	            </div>
            </section>
        </div>

        <div class="row">
            <section class="setting pm_form full">
                <legend translate>Users</legend>
                <p ng-show="checkDomains()">
                    <button type="button" class="pm_button primary" ng-click="openUserModal()" translate>Add user</button>
                    <a ui-sref="secured.domains" class="pm_button" translate>Add user</a>
                </p>
                <table class="pm_table hidden-xs" id="userTable">
		            <thead>
		                <tr>
		                    <th class="username" translate>Username</th>
		                    <th class="role" translate>Role</th>
		                    <th class="storage" translate>Storage</th>
		                    <th class="addresses" translate>Addresses</th>
		                    <th class="actions" translate>Actions</th>
		                </tr>
		            </thead>
		            <tbody>
						<tr ng-repeat="member in members">
		                    <td class="username">
		                        <span ng-bind="member.NickName"></span>
		                    </td>
		                    <td class="role">
                                <span ng-show="member.Role" translate>Master</span>
		                    	<span class="pm_select" ng-hide="member.Role === 2">
									<select ng-model="member.selectRole" ng-init="initRole(member)" ng-options="role.label for role in roles" ng-change="changeRole(member)"></select>
			                        <i class="fa fa-angle-down"></i>
			                    </span>
		                    </td>
		                    <td class="storage">
                                <a href="#" ng-click="manageStorage(member)" class="fa fa-edit pm_button link pull-right"></a>
                                {{ member.UsedSpace | humanSize }} {{ 'of' | translate }} {{ member.MaxSpace | humanSize }} {{ 'Used' | translate }}
                            </td>
		                    <td class="addresses">
                                <div ng-repeat="address in member.Addresses | orderBy: 'Send'" ng-hide="address.Status === 0">
                                    {{ address.Email }} <small ng-show="address.Send === 1"><strong translate>Default</strong></small>
                                    <a ng-click="unlinkAddress(member, address)" ng-hide="address.Send === 1" pt-tooltip="{{ 'Unlink address' | translate }}"><i class="fa fa-chain-broken pm_button link"></i></a>
                                </div>
                                <a ui-sref="secured.domains" class="pm_button" ng-show="checkDomains()" translate>Add address</button>
                            </td>
		                    <td class="actions">
			                    <div ng-hide="member.Private === 1">
			                    	<button type="button" class="pm_button link" ng-click="managePasswords(member)" pt-tooltip="{{ 'Manage passwords'| translate }}">
                                        <i class="fa fa-cog"></i> {{ 'Manage password' | translate }}
                                    </button>
                                </div>
			                    <div ng-hide="member.Private === 1">
			                    	<button type="button" class="pm_button link" ng-click="generateKeys(member)" pt-tooltip="{{ 'Generate keys'| translate }}">
                                        <i class="fa fa-key"></i> {{ 'Generate keys' | translate }}
                                    </button>
                                </div>
			                    <div ng-hide="member.Private === 1">
			                    	<button type="button" class="pm_button link" ng-click="enterMailbox(member)" pt-tooltip="{{ 'Enter mailbox'| translate }}">
                                        <i class="fa fa-inbox"></i> {{ 'Enter mailbox' | translate }}
                                    </button>
                                </div>
                                <div>
                                    <button type="button" class="pm_button link" ng-click="remove(member)">
                                        <i class="fa fa-trash-o"></i> {{ 'Remove user' | translate }}
                                    </button>
                                </div>
							</td>
		                </tr>
		            </tbody>
		        </table>
            </section>
        </div>
    </div>
</div>
