<ng-include src="'templates/partials/messageListToolbar.tpl.html'" class="message-list-toolbar"></ng-include>
<table class="table message-list table-hover" ng-class="{empty: messages.length == 0}">
  <tbody id="message">
    <tr ng-repeat="message in messages"
        ng-click="navigateToMessage($event, message)"
        ng-class="{ unread: !message.IsRead, selected: selected, starred: message.Tag == 'starred' }"
        >
      
      <td class="actions">
        <input type="checkbox" ng-model="message.selected" />
        <span
            class="fa {{ message.IsEncrypted ? 'fa-lock' : 'fa-unlock-alt' }}"
            pt-tooltip="{{ message.IsEncrypted ? 'Encrypted' : 'Not encrypted' }}"></span>

        <a href="#" ng-click="message.toggleStar()">
          <span class="fa {{ (message.Tag == 'starred') ? 'fa-star' : 'fa-star-o' }}"></span>
        </a>
      </td>

      <td class="recipient" ng-switch="('secured.sent' | isState) || ('secured.drafts' | isState)">
        <span ng-switch-when="true"><span class="to">To&thinsp;: </span>{{ message.RecipientList }}</span>
        <span ng-switch-default>{{ message.Sender }}</span>
      </td>

      <td class="subject">
        {{ message.MessageTitle }}
      </td>

      <td class="size">
        <i  class="fa fa-paperclip" 
            ng-class="{active: message.AttachmentIDList != ''}"
            pt-tooltip="{{ message.numberOfAttachments() + ' attachment(s)' }}"></i>
        {{ message.TotalSize | humanSize }}
      </td>

      <td class="when">
        {{ message.readableTime() }}
      </td>
    </tr>
  </tbody>
</table>
