<div class="container" ng-init="initPrint()">
    <h2>{{message.MessageTitle}}</h2>

    <p>From: <strong>{{message.Sender}}</strong></p>
    <p>To: <strong>{{message.RecipientList}}</strong></p>
    <p ng-if="message.CCList">{{message.CCList}}</p>
    <p>Date: {{message.readableTime()}}</p>

    <hr />

    <div id="message-body">
        <iframe src="" ng-show="message.clearTextBody() != ''" sandbox="allow-same-origin allow-popups"></iframe>
    </div>

    <hr />

    <div id="message-attachments" ng-show="message.AttachmentIDList.length > 0">
        <div class="attachment" ng-repeat="attachment in message.AttachmentIDList">
            {{attachment.FileName}} - {{attachment.MIMEType}} - {{attachment.FileSize | humanSize}}
        </div>
    </div>
</div>

