<ng-include src="'templates/partials/messageViewToolbar.tpl.html'" class="message-view-toolbar"></ng-include>
<div class="row visible-xs-block" id="messageActionsMobile">
    <div id="mobReply" class="col-xs-4"><a href class="btn btn-link"><i class="fa fa-reply"></i> Reply</a></div>
    <div id="mobReplyAll" class="col-xs-4"><a href class="btn btn-link"><i class="fa fa-reply-all"></i> Reply All</a></div>
    <div id="mobForward" class="col-xs-4"><a href class="btn btn-link"><i class="fa fa-mail-forward"></i> Forward</a></div>
</div>
<pre id="headerCode" ng-show="showHeaders">{{ message.Header }}</pre>
<div class="message-head" ng-class="{ unread:!message.IsRead, starred: message.Tag == 'starred' }">
    <div class="pull-right">
        <span btf-markdown="message.longReadableTime() | contrast:'('"></span>
    </div>
    <h1>
        <a href class="star" ng-click="message.toggleStar()"><i class="fa {{ (message.Tag == 'starred') ? 'fa-star' : 'fa-star-o' }}"></i></a>
        <a href class="padlock"><i class="fa" ng-class="{'fa-lock text-purple': message.IsEncrypted == '1', 'fa-unlock-alt text-muted': message.IsEncrypted == '0'}"></i></a>
        {{ message.MessageTitle }}
      </h1>
    <ul class="infos">
        <li><strong>From</strong>
            <span btf-markdown="message.Sender | contrast:'<'"></span>
        </li>
        <li><strong>To</strong>
            <span btf-markdown="message.RecipientList | contrast:'<'"></span>
        </li>
        <li ng-if="message.CCList"><strong>CC</strong>
            <span btf-markdown="message.CCList | contrast:'<'"></span>
        </li>
        <li ng-if="message.BCCList"><strong>BCC</strong>
            <span btf-markdown="message.BCCList | contrast:'<'"></span>
        </li>
    </ul>
</div>
<!--/.message-head-->
<ul ng-if="message.AttachmentIDList.length" class="attachments">
    <li ng-repeat="attachment in message.AttachmentIDList">
        <i class="fa fa-paperclip"></i>
        <a href="" ng-click="downloadAttachment(attachment)">{{ attachment.FileName }}</a>
    </li>
</ul>
<div id="message-body">
    <iframe src="" ng-show="message.clearTextBody() != ''"></iframe>
    <div class="alert alert-danger clearfix" role="alert" ng-if="message.clearTextBody() == '' && message.failedDecryption">
        <span class="pull-left fa fa-exclamation-triangle"></span>
        <strong>Decryption error</strong>
        <br> Decryption of this message's encryption content failed.
    </div>
</div>
