<div class="print" ng-hide="loading">
    <p>
        <span>
            <h1 style="padding: 1rem 0;">{{ message.Subject }}</h1>
        </span>
    </p>

    <hr>

    <p>
        <span style="width:14rem" width="14rem">
            <span ng-show="message.Type === 2 || message.Type === 3"  translate-comment="printed message info" translate>Received:</span>
            <span ng-show="message.Type === 0 || message.Type === 1"  translate-comment="printed message info" translate>Sent:</span>
        </span>
        <span>
            <i class="fa fa-reply" ng-show="message.IsReplied === 1"></i>
            <i class="fa fa-reply-all" ng-show="message.IsRepliedAll === 1"></i>
            <i class="fa fa-mail-forward" ng-show="message.IsForwarded === 1"></i>
            <i class="fa fa-paperclip" ng-show="message.NumAttachments > 0"></i>
            <i class="fa fa-lock"></i>
            <b>{{ message.Time | localReadableTime }}</b>
        </span>
    </p>

    <p>
        <span translate-comment="printed message info"  translate translate-context="Title">From</span>:
        <b>{{ message.Sender.Name }} {{ message.Sender.Address }}</b>
    </p>

    <p ng-if="message.ToList.length > 0">
        <span translate-comment="printed message info"  translate translate-context="Title">To</span>:
        <b ng-repeat="email in ::message.ToList">{{ email.Name }} {{ email.Address }}<i ng-hide="$last">, </i></b>
    </p>

    <p ng-if="message.CCList.length > 0">
        <span translate-comment="printed message info"  translate translate-context="Title">CC</span>:
        <b ng-repeat="email in ::message.CCList">{{ email.Name }} {{ email.Address }}<i ng-hide="$last">, </i></b>
    </p>

    <p ng-if="message.BCCList.length > 0">
        <span translate-comment="printed message info" translate translate-context="Title">BCC</span>:
        <b ng-repeat="email in ::message.BCCList">{{ email.Name }} {{ email.Address }}<i ng-hide="$last">, </i></b>
    </p>

    <hr>

    <div style="padding: 1rem;" class="bodyDecrypted" ng-bind-html="content"></div>
</div>
