<ng-include ng-if="!('secured.*.message' | includedByState)" src="'templates/partials/messageListToolbar.tpl.html'" class="hidden-xs message-list-toolbar"></ng-include>
<table ng-if="!('secured.*.message' | includedByState)" class="table message-list table-hover hidden-xs" ng-class="{empty: messages.length == 0}">
  <tbody id="message">
    <tr ng-repeat="message in messages"
        ng-init="$last ? truncateSubjects() : null"
        ng-click="navigateToMessage($event, message)"
        ng-class="{ unread: !message.IsRead, selected: selected, starred: message.Tag == 'starred', encrypted: message.IsEncrypted == '1' }"
        >

      <td class="actions">
        <input type="checkbox" ng-model="message.selected" />
        <span class="fa"
            ng-class="{'fa-lock text-purple': !!(message.IsEncrypted == '1' || ('**.drafts.**' | includedByState)), 'fa-unlock-alt': !!!(message.IsEncrypted == '1' || ('**.drafts.**' | includedByState))}"
            pt-tooltip="{{ (message.IsEncrypted == '1' || '**.drafts.**' | includedByState) ? 'Encrypted' : 'Not encrypted' }}"></span>

        <a href ng-click="toggleStar(message)" ng-if="!('**.drafts.**' | includedByState)">
          <span class="fa {{ (message.Tag == 'starred') ? 'fa-star' : 'fa-star-o' }}"></span>
        </a>
      </td>

      <td class="recipient" ng-switch="('secured.sent' | isState) || ('secured.drafts' | isState)">
        <span ng-switch-when="true"><span class="to">To&thinsp;: </span>{{ message.RecipientList | username }}</span>
        <span ng-switch-default>{{ message.Sender | username }}</span>
      </td>

      <td class="subject">
        <h4>{{ message.MessageTitle }}</h4>
      </td>

      <td class="size">
        <i  class="fa fa-paperclip"
            ng-class="{active: message.AttachmentIDList.length}"></i>
        {{ message.TotalSize | humanSize }}
      </td>

      <td class="when">
        {{ message.readableTime() }}
      </td>
    </tr>
  </tbody>
</table>

<table ng-if="!('secured.*.message' | includedByState)" class="visible-xs-block table message-list table-hover mobile" ng-class="{empty: messages.length == 0}">
  <tbody id="message">
    <tr ng-repeat="message in messages"
        ng-click="navigateToMessage($event, message)"
        ng-class="{ unread: !message.IsRead, selected: selected, starred: message.Tag == 'starred' }"
        >
      <td class="subject">
        <h4>
          <span
          class="fa {{ message.IsEncrypted == '1' ? 'fa-lock' : 'fa-unlock-alt' }}"
          pt-tooltip="{{ message.IsEncrypted == '1' ? 'Encrypted' : 'Not encrypted' }}">
          </span>{{ message.MessageTitle }}
        </h4>
        <div class="recipient" ng-switch="('secured.sent' | isState) || ('secured.drafts' | isState)">
          <span ng-switch-when="true"><span class="to">To&thinsp;: </span>{{ message.RecipientList }}</span>
          <span class="pull-right">{{ message.readableTime() }}</span>
          <span ng-switch-default>{{ message.Sender }}</span>
        </div>
      </td>

    </tr>
  </tbody>
</table>

<ui-view></ui-view>
