<ng-include src="'templates/partials/header.tpl.html'" id="header"></ng-include>

<ng-include ng-if="('secured.*.message' | includedByState)" src="'templates/partials/messageViewToolbar.tpl.html'" id="messageViewToolbar" class="message-view-toolbar"></ng-include>
<ng-include ng-if="('secured.*.message' | includedByState)" src="'templates/partials/messageHead.tpl.html'" id="messageHead" class="message-head" ng-class="{ unread:!message.IsRead, starred: message.Starred === 1 }"></ng-include>

<div class="row visible-xs-block" id="messageActionsMobile">
    <div class="col-xs-4" ng-click="reply(message)"><a href class="btn btn-link" title="{{ 'REPLY' | translate }}"><i class="fa fa-reply"></i> {{ 'REPLY' | translate }}</a></div>
    <div class="col-xs-4" ng-click="replyAll(message)"><a href class="btn btn-link" title="{{ 'REPLY_ALL' | translate }}"><i class="fa fa-reply-all"></i> {{ 'REPLY_ALL' | translate }}</a></div>
    <div class="col-xs-4" ng-click="forward(message)"><a href class="btn btn-link" title="{{ 'FORWARD' | translate }}"><i class="fa fa-mail-forward"></i> {{ 'FORWARD' | translate }}</a></div>
</div>

<div id="message-content">

    <div class="message-metadata">
        <div class="pull-right">
            <span ng-bind-html="ago"></span>
        </div>
        <ul class="infos">
            <li>
                <strong>{{ 'FROM' | translate }}</strong>
                {{ ::message.SenderName }} &lt;{{ ::message.SenderAddress }}&gt; <a href="" class="email" ng-click="sendMessageTo({Address: message.SenderAddress, Name: message.SenderName})" pt-tooltip="{{ 'COMPOSE_TO' | translate }}"><i class="fa fa-envelope-o"></i></a>
                <span class="fa fa-check-circle verified" pt-placement="right" pt-tooltip="ProtonMail Verified" ng-if="message.IsEncrypted==CONSTANTS.ENC_INTERNAL||message.IsEncrypted==CONSTANTS.ENC_OUT_ENC_REPLY"></span>
                <span class="fa fa-check-circle verified" pt-placement="right" pt-tooltip="DKIM is Valid" ng-if="tools.is_valid_dkim(message.Header)"></span>
            </li>
            <li>
                <strong>{{ 'TO' | translate }}</strong>
                <ul class="list-inline inline" ng-if="message.ToList.length">
                    <li ng-repeat="email in ::message.ToList">
                        {{ email | contact }} <a href="" class="email" ng-click="sendMessageTo(email)" pt-tooltip="{{ 'COMPOSE_TO' | translate }}"><i class="fa fa-envelope-o"></i></a>
                    </li>
                </ul>
            </li>
            <li ng-if="::message.CCList.length > 0">
                <strong>{{ 'CC' | translate }}</strong>
                <ul class="list-inline inline">
                    <li ng-repeat="email in ::message.CCList">
                        {{ email | contact }} <a href="" class="email" ng-click="sendMessageTo(email)" pt-tooltip="{{ 'COMPOSE_TO' | translate }}"><i class="fa fa-envelope-o"></i></a>
                    </li>
                </ul>
            </li>
            <li ng-if="::message.BCCList.length > 0 && 'secured.sent.**' | includedByState">
                <strong>{{ 'BCC' | translate }}</strong>
                <ul class="list-inline inline">
                    <li ng-repeat="email in ::message.BCCList">
                        {{ email | contact }} <a href="" class="email" ng-click="sendMessageTo(email)" pt-tooltip="{{ 'COMPOSE_TO' | translate }}"><i class="fa fa-envelope-o"></i></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!--/.message-head-->
    <div ng-show="message.containsImage === true" class="alert alert-warning" ng-show="!!message.imagesHidden" id="showImages">
        <a href="" ng-click="toggleImages()">
            <span ng-show="!!message.imagesHidden">{{ 'SHOW_IMAGES' | translate }}</span>
            <!-- <span ng-hide="!!message.imagesHidden">{{ 'HIDE_IMAGES' | translate }}</span> -->
        </a>
    </div>

    <div id="message-body">
        <div class="alert alert-danger clearfix" role="alert" ng-if="::message.failedDecryption">
            <span class="pull-left fa fa-exclamation-triangle"></span>
            <strong>Decryption error</strong>
            <br> Decryption of this message's content failed.
        </div>
        <div class="email" ng-class="{'plain': isPlain}" ng-init="message.viewMode = 'html';displayContent();" ng-show="message.viewMode === 'html'" ng-bind-html="content"></div>
        <pre class="email" ng-show="message.viewMode === 'plain'" ng-bind="message.plainText()"></pre>
    </div>

</div>

<div ng-if="::message.Attachments.length > 0" id="attachmentArea">
    <span class="alert alert-info" id="safariWarning" ng-show="safariWarning" ng-click="openSafariWarning()">
        <strong>Need help</strong> downloading attachments?
    </span>
    <span class="attachmentTitle">
        <strong>
            {{ 'ATTACHMENTS' | translate }}
        </strong>
        ({{message.Attachments.length}}
        <span ng-hide="::message.Attachments.length === 1">
            {{ 'FILES' | translate }}
        </span>
        <span ng-show="::message.Attachments.length === 1">
            {{ 'FILE' | translate }}
        </span>,
        {{ message.sizeAttachments() | humanSize }})
    </span>
    <div id="attachmentWrap">
        <a
        ng-repeat="attachment in message.Attachments"
        class="btn btn-grid"
        ng-init="attachment.decrypted = false"
        ng-class="{ 'disabled': attachment.decrypting }"
        id="attachment-{{$index}}"
        data-download-text="{{ 'DOWNLOAD' | translate }}"
        ng-click="decryptAttachment(attachment, $event)">
            <i class="fa" ng-class="{
                'fa-paperclip': (!!!attachment.decrypting && !!!attachment.decrypted),
                'fa-cog fa-spin': attachment.decrypting,
                'fa-download': attachment.decrypted
            }"></i>
            <strong>{{ attachment.Name }}</strong> ({{attachment.Size | humanSize}})
        </a>
    </div>
</div>
