<div id="outsideMessageWrap">
    <div ng-if="true" id="expirationMessage">
        {{ 'EXPIRING_IN' | translate }}
        <strong time="{{ message.ExpirationTime }}" interval="1000" filter="delay">
            <i class="fa fa-spin fa-circle-o-notch"></i>
        </strong>.
    </div>
    <div class="message-head">
        <a ng-click="reply()" class="pm_button pull-right">
            <i class="fa fa-reply"></i>
            <span class="visible-md-inline-block visible-lg-inline-block">
                {{ 'REPLY_SECURELY' | translate }}
            </span>
        </a>
        <h1 class="no-margin-bottom">
            <span class="attachement" ng-show="message.Attachments.length > 0">
                <i class="fa fa-paperclip"></i>
            </span>
            <span ng-bind-html="message.Subject"></span>
        </h1>
    </div>
    <div class="message-metadata">
        <ul class="infos">
            <li>
                <strong>{{ 'FROM' | translate }}</strong>
                <b>{{ message.Sender.Name }}</b> &lt;{{ message.Sender.Address }}&gt;
                <span class="fa fa-check-circle verified" pt-tooltip="ProtonMail Verified"></span>
            </li>
            <li ng-if="message.ToList.length > 0">
                <strong>{{ 'TO' | translate }}</strong>
                <span ng-repeat="email in message.ToList">
                    <b>{{ email.Name }}</b> &lt;{{ email.Address }}&gt;
                </span>
            </li>
            <li ng-if="message.CCList.length > 0">
                <strong>{{ 'CC' | translate }}</strong>
                <span ng-repeat="email in message.CCList">
                    <b>{{ email.Name }}</b> &lt;{{ email.Address }}&gt;
                </span>
            </li>
        </ul>
        <p class="display-image text-center pm_button" ng-show="!!message.imagesHidden" id="showImages">
            <a href="#" ng-click="toggleImages()">
                <i class="fa fa-photo"></i> {{ 'SHOW_IMAGES' | translate }}
            </a>
        </p>
    </div>
    <div id="outsideMessage">
        <div id="message-body">
            <div class="email" ng-bind-html="message.Body | purify" transform-links hide-first-blockquote></div>
        </div>
    </div><!--/#outsideMessage-->
    <ng-include src="'templates/partials/attachments.tpl.html'"></ng-include>
    <div id="eo_footer"></div>
</div>
