<div id="outsideMessageWrap">
    <div class="message-head" ng-class="{ unread:!message.IsRead, starred: message.Starred === 1 }">
        <h1>
            <span class="attachement" ng-show="message.Attachments.length > 0">
                <i class="fa fa-paperclip"></i>
            </span>
            {{ message.Subject }}
        </h1>
        <div class="pull-right">
            <span ng-bind-html="ago"></span>
        </div>
        <ul class="infos">
            <li>
                <strong>{{ 'FROM' | translate }}:</strong>
                <b>{{ message.Recipient }}</b>
            </li>
            <li>
                <strong>{{ 'TO' | translate }}:</strong>

                <b>{{message.Sender.Name}}</b> <em>&lt;{{message.Sender.Address}}&gt;</em>
            </li>
        </ul>
    </div>
    <div id="message-body">
        <squire ng-model="message.Body"></squire>
        <pre class="email" ng-show="message.viewMode === 'plain'" ng-bind="message.plainText()"></pre>
        <div class="alert alert-danger clearfix" role="alert" ng-if="message.failedDecryption">
            <span class="pull-left fa fa-exclamation-triangle"></span>
            <strong>{{ 'DECRYPTION_ERROR' | translate }}</strong>
            <br> {{ 'DECRYPTION_ERROR_INFO' | translate }}
        </div>
    </div>

    <ng-include src="'templates/partials/attachments.tpl.html'"></ng-include>

    <footer class="text-right">
        <button class="pm_button pull-left" ng-disabled="networkActivity.loading()" ng-click="cancel()" translate>Cancel</button>
        <button class="pm_button" ng-disabled="networkActivity.loading()" ng-click="selectFile()" pt-tooltip="{{ 'ATTACHMENTS' | translate }}"><i class="fa fa-paperclip"></i></button>
        <button class="pm_button primary" ng-disabled="networkActivity.loading()" ng-click="send()" translate>Send</button>
    </footer>

    <input type="file" id="inputFile" multiple />
</div>
