<div id="outsideMessageWrap">
    <div class="message-head" ng-class="{ unread:!message.IsRead, starred: message.Starred === 1 }">
        <div class="pull-right">
            <span ng-bind-html="ago"></span>
        </div>
        <h1>
            <span class="attachement" ng-show="message.Attachments.length > 0">
                <i class="fa fa-paperclip"></i>
            </span>
            {{ message.Subject }}
            <span class="label label-pm" style="background-color: {{ getLabel(id).Color }}" ng-repeat="id in message.LabelIDs">
                {{ getLabel(id).Name }} <a href="" ng-click="detachLabel(id)"><i class="fa fa-times"></i></a>
            </span>
          </h1>
        <ul class="infos">
            <li>
                <strong>{{ 'FROM' | translate }}:</strong>
                {{ message.Recipient }}
            </li>
            <li>
                <strong>{{ 'TO' | translate }}:</strong>
                <b>{{message.SenderName}}</b> &lt;{{message.SenderAddress}}&gt;
            </li>
        </ul>
    </div>
    <div id="message-body">
        <squire ng-model="message.Body"></squire>
        <!-- <div class="email" ng-class="{'plain': isPlain}" ng-init="message.viewMode = 'html';displayContent();" ng-show="message.viewMode === 'html'" ng-bind-html="content"></div> -->
        <pre class="email" ng-show="message.viewMode === 'plain'" ng-bind="message.plainText()"></pre>
        <div class="alert alert-danger clearfix" role="alert" ng-if="message.failedDecryption">
            <span class="pull-left fa fa-exclamation-triangle"></span>
            <strong>Decryption error</strong>
            <br> Decryption of this message's encryption content failed.
        </div>
    </div>

    <div class="panel panel-default" ng-if="message.Attachments.length" id="attachmentArea">
        <div class="panel-heading">
            <strong>{{ 'ATTACHMENTS' | translate }}</strong> ({{message.Attachments.length}} <span ng-hide="message.Attachments.length === 1">{{ 'FILES' | translate }}</span><span ng-show="message.Attachments.length === 1">{{ 'FILE' | translate }}</span>, {{ message.sizeAttachments() | humanSize }})
        </div>
        <div class="panel-body">
            <ul class="list-group no-margin-bottom">
                <li href="" ng-repeat="attachment in message.Attachments" class="list-group-item">
                    <a href="" class="pull-right" ng-click="removeAttachment(attachment)" title="Remove attachment">
                        <i class="fa fa-times"></i>
                    </a>
                    <i class="fa fa-lock"></i>
                    <strong>{{ attachment.Name }}</strong> ({{attachment.Size | humanSize}})
                </li>
            </ul>
        </div>
    </div>

    <div class="well text-right">
        <button class="btn btn-default btn-sm pull-left" ng-disabled="networkActivity.loading()" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
        <button class="btn btn-default btn-sm" ng-disabled="networkActivity.loading()" ng-click="selectFile()" pt-tooltip="{{ 'ATTACHMENTS' | translate }}"><i class="fa fa-paperclip"></i></button>
        <button class="btn btn-sm btn-primary" ng-disabled="networkActivity.loading()" ng-click="send()">{{ 'REPLY' | translate }}</button>
    </div>

    <input type="file" id="inputFile" />
</div>
