<div class="panel panel-default panel-medium">
    <div class="panel-body" ng-if="tokenError === false">
        <h1 class="text-center">{{ 'MESSAGE_PASSWORD' | translate }}</h1>
        <form ng-submit="unlock()" novalidate method="post">
            <fieldset class="pure-form">
                <div class="form-group">
                    <input class="form-control" autofocus autocomplete="off" autocapitalize="off" autocorrect="off" type="password" ng-enter="unlock()" name="MessagePassword" ng-model="params.MessagePassword" placeholder="{{ 'MESSAGE_PASSWORD' | translate }}" />
                </div>
                <button type="submit" class="btn btn-primary pull-right" ng-class="{disabled: networkActivity.loading()}">
                    <i class="fa fa-circle-o-notch fa-spin" ng-show="networkActivity.loading()"></i>
                    <span>{{ 'DECRYPT_MESSAGE' | translate }}</span>
                </button>
            </fieldset>
        </form>
    </div>
    <div class="panel-body" ng-if="tokenError === true">
        <h1 class="text-center">Error</h1>
        <p>Sorry, this message does not exist or has already expired.</p>
    </div>
</div>
