<div id="outsideMessageWrap">
    <div ng-if="true" id="expirationMessage">
        <span  translate>Expiring in</span>
        <strong
            time-refreshed="{{ message.ExpirationTime }}"
            time-filter="delay"
            time-interval="1000">
            <i class="fa fa-spin fa-circle-o-notch"></i>
        </strong>.
    </div>
    <div class="message-head">
        <a ng-click="reply()" class="pm_button pull-right">
            <i class="fa fa-reply"></i>
            <span class="visible-md-inline-block visible-lg-inline-block" translate-context="Action" translate>Reply securely</span>
        </a>
        <h1 class="no-margin-bottom">
            <span class="attachment" ng-show="message.Attachments.length > 0">
                <i class="fa fa-paperclip"></i>
            </span>
            <span ng-bind-html="message.Subject"></span>
        </h1>
    </div>
    <div class="message-metadata">
        <ul class="infos">
            <li>
                <strong translate-comment="message metadata" translate translate-context="Title">From</strong>
                <b>{{ message.Sender.Name }}</b> &lt;{{ message.Sender.Address }}&gt;
                <span class="fa fa-check-circle verified" pt-tooltip-translate="ProtonMail Verified"></span>
            </li>
            <li ng-if="message.ToList.length > 0">
                <strong translate-comment="message metadata" translate translate-context="Title">To</strong>
                <span ng-repeat="email in message.ToList">
                    <b>{{ email.Name }}</b> &lt;{{ email.Address }}&gt;
                </span>
            </li>
            <li ng-if="message.CCList.length > 0">
                <strong translate-comment="message metadata" translate translate-context="Title">CC</strong>
                <span ng-repeat="email in message.CCList">
                    <b>{{ email.Name }}</b> &lt;{{ email.Address }}&gt;
                </span>
            </li>
        </ul>
        <p class="display-image text-center pm_button" ng-show="!!message.imagesHidden" id="showImages">
            <a href="#" ng-click="toggleImages()">
                <i class="fa fa-photo"></i> <span translate-context="Action" translate translate-comment="show images in an email button">Load remote content</span>
            </a>
        </p>
    </div>
    <div id="outsideMessage">
        <div id="message-body" data-embedded-img-loader>
            <div class="email bodyDecrypted" ng-bind-html="message.decryptedBody" toggle-blockquote mail-to scroll="false"></div>
        </div>
    </div>
    <ng-include src="'templates/partials/attachments.tpl.html'"></ng-include>
    <div id="eo_footer"></div>
</div>
