<div id="pm_settings">
    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>
    <div class="settings">
        <div class="row">
            <section class="setting full pm_form">
                <legend>{{ 'PAYMENT_METHODS' | translate }}</legend>
                <div class="margin">
                    <button type="button" class="pm_button primary" ng-click="add()">{{ 'ADD_CREDIT_CARD' | translate }}</button>
                </div>
                <p class="alert alert-info" ng-show="methods.length === 0"><i class="fa fa-arrow-up"></i> {{ 'NO_METHODS' | translate }}</p>
                <table class="pm_table" ng-show="methods.length > 0">
                    <thead>
                        <tr>
                            <th>{{ 'NUMBER' | translate }}</th>
                            <th>{{ 'EXPIRATION' | translate }}</th>
                            <th>{{ 'TYPE' | translate }}</th>
                            <th>{{ 'ACTIONS' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="method in methods">
                            <td>**** **** **** {{ method.Details.Last4 }}</td>
                            <td>{{ method.Details.ExpMonth }}/{{ method.Details.ExpYear }}</td>
                            <td>
                                <span class="pm_badge">{{ method.Type }}</span>
                                <span ng-show="$first" class="pm_badge">{{ 'DEFAULT' | translate }}</span>
                            </td>
                            <td>
                                <button type="button" class="pm_button link" ng-hide="$first === true" ng-click="default(method)">{{ 'MAKE_DEFAULT' | translate }}</button>
                                <button type="button" class="pm_button link" ng-click="edit(method)">{{ 'EDIT' | translate }}</button>
                                <button type="button" class="pm_button link" ng-click="delete(method)">{{ 'DELETE' | translate }}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section class="setting full pm_form">
                <legend>{{ 'INVOICES' | translate }}</legend>
                <p class="alert alert-info" ng-show="invoices.length === 0">{{ 'NO_INVOICES' | translate }}</p>
                <table class="pm_table" ng-show="invoices.length > 0">
                    <thead>
                        <tr>
                            <th>{{ 'INVOICE' | translate }}</th>
                            <th>{{ 'TYPE' | translate }}</th>
                            <th>{{ 'STATUS' | translate }}</th>
                            <th>{{ 'CREATE_TIME' | translate }}</th>
                            <th class="text-right">{{ 'ACTIONS' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="invoice in invoices">
                            <td>
                                <span class="bold">{{ invoice.ID }}</span>
                                <span ng-show="invoice.State === 0">({{ invoice.AmountDue / 100 | currency: invoice.Currency }})</span>
                                <span ng-show="invoice.State === 1">({{ invoice.AmountCharged / 100 | currency: invoice.Currency }})</span>
                            </td>
                            <td>
                                <span class="pm_badge" ng-show="invoice.Type === 0">{{ 'OTHER' | translate }}</span>
                                <span class="pm_badge" ng-show="invoice.Type === 1">{{ 'SUBSCRIPTION' | translate }}</span>
                                <span class="pm_badge" ng-show="invoice.Type === 2">{{ 'CANCELLATION' | translate }}</span>
                                <span class="pm_badge" ng-show="invoice.Type === 3">{{ 'CREDIT' | translate }}</span>
                                <span class="pm_badge" ng-show="invoice.Type === 4">{{ 'DONATION' | translate }}</span>
                            </td>
                            <td>
                                <span class="pm_badge error" ng-show="invoice.State === 0">{{ 'UNPAID' | translate }}</span>
                                <span class="pm_badge success" ng-show="invoice.State === 1">{{ 'PAID' | translate }}</span>
                                <span class="pm_badge" ng-show="invoice.State === 2">{{ 'VOID' | translate }}</span>
                                <span class="pm_badge" ng-show="invoice.State === 3">{{ 'BILLED' | translate }}</span>
                            </td>
                            <td>{{ invoice.CreateTime | readableTime }}</td>
                            <td class="text-right">
                                <button class="pm_button link" ng-click="pay(invoice)" ng-show="invoice.State === 0">{{ 'PAY' | translate }}</button>
                                <button class="pm_button link" ng-click="download(invoice)">{{ 'DOWNLOAD' | translate }}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>
