<div ng-hide="inputResetToken">
    <p class="alert alert-info wrap" translate-context="Info" translate>We will send a code to your <abbr title="This is the optional email you used when first creating an account. This is the same as your Notification Email that is used for sending alerts about new messages.'>Recovery email</abbr> to reset your <abbr title='Your Login Password is the first password you enter to enter our secure system. The Mailbox password is your second password and is used to decrypt your messages.">Login Password</abbr>.</p>
    <form method="post" name="reset" novalidate ng-submit="resetLostPassword(reset)" class="pm_form pm_panel">
        <h3 class="text-center margin" translate-context="Info" translate>Reset login password</h3>
        <div ng-show="reset.$submitted || reset.username.$touched">
            <p ng-show="reset.username.$error.required" class="alert alert-danger" translate-context="Error" translate>Username is required.</p>
        </div>
        <div ng-show="reset.$submitted || reset.recoveryEmail.$touched">
            <p ng-show="!!!tools.validEmail(params.recoveryEmail)" class="alert alert-danger" translate-context="Error" translate>Invalid email.</p>
        </div>
        <div class="margin">
            <input tabindex="1" id="username" autofocus="" name="username" type="text" class="form-control" placeholder="{{ 'Username' | translate }}" ng-model="params.username" required="" />
        </div>
        <div class="margin">
            <input tabindex="2" id="recoveryEmail" name="recoveryEmail" type="email" class="form-control" placeholder="{{ 'Recovery email' | translate }}" ng-model="params.recoveryEmail" required="" validator="!!!tools.validEmail(params.recoveryEmail)" />
        </div>
        <button tabindex="3" class="pm_button primary pull-right" type="submit" ng-class="{disabled: networkActivity.loading()}" translate-comment="button to reset login password" translate-context="Action" translate>Reset login password</button>
    </form>
</div>

<div ng-show="inputResetToken && !newLoginInput">
    <p class="alert alert-info wrap" translate-context="Info" translate>We've sent a Verification Token to your Recovery Email. Please enter it below:</p>
    <form method="post" ng-submit="resetLoginPass(loginTokenForm)" name="loginTokenForm" class="pm_form pm_panel">
        <h3 class="text-center margin" translate-context="Title" translate>Reset login password</h3>
        <div class="margin">
            <label for="resetLoginCode" translate-context="Title" translate>Verification code</label>
            <input type="text" ng-model="params.resetLoginCode" id="resetLoginCode" class="form-control">
        </div>
        <button type="submit" class="pm_button primary pull-right" translate-comment="button to reset login password" translate-context="Action" translate>Reset login password</button>
    </form>
</div>

<div ng-show="newLoginInput">
    <p>&nbsp;</p>
    <form method="post" ng-submit="confirmNewPassword(finishLPWReset)" name="finishLPWReset" class="pm_form pm_panel">
        <h3 class="text-center margin" translate-context="Title" translate>Reset login password</h3>
        <div ng-show="finishLPWReset.$submitted || finishLPWReset.password.$touched">
            <p ng-show="finishLPWReset.password.$error.required" class="alert alert-danger" translate-context="Error" translate>Login password is required.</p>
        </div>
        <div ng-show="finishLPWReset.$submitted || finishLPWReset.passwordc.$touched">
            <p ng-show="params.loginPassword !== params.loginPasswordConfirm" class="alert alert-danger"  translate-context="Error" translate>Passwords don't match.</p>
        </div>
        <div class="form-group margin">
            <input id="password" name="password" ng-model="params.loginPassword" tabindex="1" type="password" class="form-control"  placeholder="{{ 'Password' | translate }}" autofocus="" required="" />
        </div>
        <div class="form-group margin">
            <input id="passwordc" name="passwordc" ng-model="params.loginPasswordConfirm" tabindex="2" type="password" class="form-control"  placeholder="{{ 'Confirm password' | translate }}" required="" ng-enter="finishLoginReset(finishLPWReset)" />
        </div>
        <button type="submit" class="pm_button primary pull-right" ng-class="{disabled: networkActivity.loading()}" translate-comment="button to reset login password" translate-context="Action" translate>Reset login password</button>
    </form>
</div>
