<div class="pm_panel pm_form alt">

    <form method="post" class="panel-body" ng-hide="(showForm || showEmailMessage || process.generatingKeys)" ng-submit="resetMailboxInit()">
        <h1 class="text-center" translate-context="Default" translate>Warning</h1>
        <p translate-context="Default" translate>If you forget your mailbox password, you can reset your account but...</p>
        <p class="alert alert-danger" translate-context="Default" translate>ALL OF YOUR DATA WILL BE LOST FOREVER!</p>
        <p translate-context="Default" translate>To continue, type '<kbd>DANGER</kbd>' below:</p>
        <p>
            <input type="text" class="form-control" ng-model="process.danger" placeholder="Enter the word 'DANGER' here.">
        </p>
        <a ui-sref="login.unlock" class="pm_button pull-left link" translate-context="Default" translate>Cancel</a>
        <button type="submit" ng-class="{ 'disabled': process.danger !== 'DANGER' }" class="pm_button pull-right primary" title="Reset my Mailbox">
            <span ng-if="user.NotificationEmail !== ''" translate-context="Default" translate>Reset</span>
            <span ng-if="user.NotificationEmail === ''" translate-context="Default" translate>Reset now</span>
        </button>
    </form>

    <div class="panel-body" ng-show="showEmailMessage && !process.generatingKeys">
        <h1 class="text-center" translate-context="Default" translate>Check your email</h1>
        <p class="alert alert-info" translate-context="Default" translate>We've sent a verification code to your <strong>Recovery email</strong>. Enter it below to continue.</p>
        <form method="post" ng-submit="verifyResetCode(resetCodeForm)" name="resetCodeForm">
            <div class="margin">
                <label class="text-left" for="resetMbCode" translate-context="Default" translate>Verification code</label>
                <input type="text" ng-model="account.resetMbCode" id="resetMbCode" />
            </div>
            <div class="margin text-right">
                <button type="submit" class="pm_button primary" translate-context="Default" translate>Reset mailbox</button>
            </div>
        </form>
    </div>

    <div class="panel-body" ng-show="showForm && !process.generatingKeys">

        <h1 class="text-center" translate-context="Default" translate>Reset mailbox</h1>
        <br>

        <form method="post" ng-submit="resetMailbox(resetMBPW)" name="resetMBPW" novalidate>
            <div class="margin">
                <input id="password" name="password" ng-model="account.mailboxPassword" tabindex="1" type="password" placeholder="{{ 'New mailbox password' | translate }}" autofocus="" required="" />
            </div>
            <div class="margin">
                <input id="passwordc" name="passwordc" ng-model="account.mailboxPasswordConfirm" tabindex="2" type="password" placeholder="{{ 'Confirm mailbox password' | translate }}" required="" />
            </div>
            <p class="text-center alert alert-danger" translate-context="Default" translate>Keep this password safe - it cannot be recovered.</p>
            <button type="submit" class="pm_button primary" title="Reset My Mailbox" ng-disabled="resetMBPW.$valid === false || networkActivity.loading()" translate-context="Action" translate>Finish</button>
        </form>

        <p></p>

        <a ui-sref="login.unlock" class="left" translate-context="Default" translate>Cancel</a>

    </div>

    <div class="panel panel-default wrap" ng-show="process.generatingKeys" id="signUpProcess">
        <div class="panel-heading">
            <h1 class="text-center" translate-context="Default" translate>Creating new mailbox</h1>
        </div>
        <div class="panel-body">
        <ol>
            <li ng-class="{ 'done': process.generatingKeys }">
                <i ng-hide="process.generatingKeys" class="fa fa-square-o"></i>
                <i ng-show="process.generatingKeys" class="fa fa-check-square"></i>
                <span translate-context="Default" translate>Generate new key pair</span>
            </li>
            <li ng-class="{ 'done': process.savingKeys }">
                <i ng-hide="process.savingKeys" class="fa fa-square-o"></i>
                <i ng-show="process.savingKeys" class="fa fa-check-square"></i>
                <span translate-context="Default" translate>Saving encrypted keys</span>
            </li>
            <li ng-class="{ 'done': process.redirecting }">
                <i ng-hide="process.redirecting" class="fa fa-square-o"></i>
                <i ng-show="process.redirecting" class="fa fa-check-square"></i>
                <span translate-context="Default" translate>Redirecting</span>
            </li>
        </ol>
        </div>
    </div>

</div>
