<div class="panel panel-default wrap">

    <div class="panel-body">
        <h1 class="text-center">Reset password</h1>

        <form name="reset" novalidate ng-submit="resetLostPassword(reset)">

            <div class="form-group">
                <label for="username">Username</label>
                <input tabindex="1" id="username" autofocus="" name="username" type="text" class="form-control" placeholder="Username" ng-model="params.username" required="" />
                <div ng-show="reset.$submitted || reset.username.$touched">
                    <p ng-show="reset.username.$error.required" class="text-danger">Username is required.</p>
                </div>
            </div>

            <div class="form-group">
                <label for="recoveryEmail">Recovery {{ 'EMAIL' | translate }}</label>
                <input tabindex="2" id="recoveryEmail" name="recoveryEmail" type="email" class="form-control" placeholder="Email" ng-model="params.recoveryEmail" required="" validator="!!!tools.validEmail(params.recoveryEmail)" />
                <div ng-show="reset.$submitted || reset.recoveryEmail.$touched">
                    <p ng-show="!!!tools.validEmail(params.recoveryEmail)" class="text-danger">Invalid {{ 'EMAIL' | translate }}.</p>
                </div>
            </div>

            <button tabindex="3" class="btn btn-danger btn-block" type="submit">Reset my password</button>

        </form>
    </div>

</div>



