<div class="panel-body">

    <h1 class="text-center">Reset password</h1>

    <form ng-submit="resetPassword()">

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required="" />
        </div>

        <div class="form-group">
            <input type="email" class="form-control" placeholder="Recovery Email" required="" />
        </div>

        <button class="btn btn-danger btn-block" type="submit">Reset my password</button>

    </form>

</div>



