<div class="container-fluid">
    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>

    <h1>Account Access Log</h1>

    <div class="clear" id="logHeader">
    <a href class="pull-right btn btn-default"><i class="fa fa-download"></i> Download Log</a>
    <pagination 
    ng-show="{logCount>logItemsPerPage}" 
    ng-change="loadLogs(page)" 
    total-items="logCount" 
    items-per-page="logItemsPerPage" 
    ng-model="currentLogPage" 
    class="pagination-sm" 
    boundary-links="false" 
    direction-links="false" ></pagination>
    </div>

<table class="table table-bordered table-striped" id="accessLog">
    <thead>
        <tr>
            <th>Event</th>
            <th>Time</th>
            <th>IP</th>
        </tr>
    </thead>
    <tbody ng-repeat="log in logs">
        <tr>
            <th scope="row">
                <span ng-show="{{ log.event == 0 }}" class="label label-danger">Login Failed</span>
                <span ng-show="{{ log.event == 1 }}" class="label label-success">Login Success</span>
                <span ng-show="{{ log.event == 2 }}" class="label label-default">Logout</span>
            </th>
            <td>{{log.time}}</td>
            <td>
                <code>{{log.ip}}</code>
            </td>
        </tr>
    </tbody>
</table>

</div>
