<ng-include src="'templates/partials/header.tpl.html'" id="header"></ng-include>

<div id="content">
    <div class="container-fluid">
        <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>

            <div class="btn-group pull-right">
                <a class="btn btn-default" ng-click="clearLogs()">
                    <i class="fa fa-times-circle"></i> {{ 'CLEAR_LOGS' | translate }}
                </a>
                <a
                target="_blank"
                href="{{ apiURL + '/logs/auth/csv' }}"
                class="btn btn-default">
                    <i class="fa fa-download"></i> {{ 'DOWNLOAD_LOGS' | translate }}
                </a>
            </div>

            <h1 class="securityTitle pull-left">{{ 'AUTHENTICATION_LOGS' | translate }}</h1>

            <a
            href
            class="btn btn-default btn-sm"
            ng-class="{ 'disabled': doLogging == 0 }"
            ng-click="initLogs()">
                <i class="fa fa-refresh"></i>
            </a>

            <toggle-switch ng-model="autosaveContacts" ng-click="saveAutosaveContacts()" on-label="{{ 'ENABLED' | translate }}" off-label="{{ 'DISABLED' | translate }}" class="selectMode"></toggle-switch>        

        <div id="logArea" ng-show="doLogging != 0">

            <table class="table table-bordered table-striped" id="accessLog" ng-init="initLogs()">
                <thead>
                    <tr>
                        <th width="6rem"></th>
                        <th>Event</th>
                        <th>Time</th>
                        <th ng-show="doLogging == 2">IP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="log in logs | filter:paginate" ng-class="{ 'danger': (log.Event == 0) }">
                        <th>
                            <div ng-show="{{ log.Event == 0 }}"><i class="fa fa-times-circle"></i></div>
                            <div ng-show="{{ log.Event == 1 }}"><i class="fa fa-check"></i></div>
                            <div ng-show="{{ log.Event == 2 }}"><i class="fa fa-check"></i></div>
                        </th>                        
                        <td>{{ log.Time * 1000 | date : 'medium' }}</td>
                        <th scope="row">
                            <span ng-show="{{ log.Event == 0 }}">Login Failed</span>
                            <span ng-show="{{ log.Event == 1 }}">Login Success</span>
                            <span ng-show="{{ log.Event == 2 }}">Logout</span>
                        </th>
                        <td ng-show="doLogging == 2">
                            <kbd ng-show="log.IP!==''">{{log.IP}}</kbd>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="well" id="logHeader">

                <pagination
                ng-show="(logCount > logItemsPerPage)"
                ng-change="loadLogs(page)"
                max-size="6"
                total-items="logCount"
                items-per-page="logItemsPerPage"
                ng-model="currentLogPage"
                class="pagination-sm"
                boundary-links="true"
                direction-links="false" ></pagination>
            </div>
        </div>

    </div>
</div>
