<div id="pm_settings">
    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>
    <div class="settings" pt-height>
        <div class="row">
            <section class="setting pm_form full">
                <form method="post">
                    <legend>{{ 'AUTHENTICATION_LOGS' | translate }}</legend>
                        <div class="pull-right" id="logActions" ng-hide="doLogging === 0">
                            <button class="pm_button pull-left" ng-click="clearLogs()">{{ 'WIPE' | translate }}</button>
                            <button class="pm_button pull-left" ng-click="downloadLogs()">{{ 'DOWNLOAD_LOGS' | translate }}</button>
                            <span ng-show="(logCount > logItemsPerPage)">
                                <paginator page="currentLogPage" total-items="logCount" items-per-page="logItemsPerPage" change="loadLogs" />
                            </span>
                        </div>
                        <div class="pm_buttons pull-left">
                            <a ng-class="{'active': doLogging === 0}" ng-click="setLogging(0)">
                                <strong>{{ disabledText }}</strong>
                            </a>
                            <a ng-class="{'active': doLogging === 1}" class="divider" ng-click="setLogging(1)">
                                <strong>{{ 'BASIC_LOGGING' | translate }}</strong>
                            </a>
                            <a ng-class="{'active': doLogging === 2}" class="divider" ng-click="setLogging(2)">
                                <strong>{{ 'ADVANCED_LOGGING' | translate }}</strong>
                            </a>
                        </div>
                        <a class="pm_button pull-left" id="logRefresh" ng-hide="doLogging === 0" ng-click="initLogs()">
                            <i class="fa fa-rotate-right"></i>
                        </a>
                        <div class="clear" ng-show="doLogging == 0">
                            <p>&nbsp;</p>
                            <p class="alert">
                                You can enable authentication logging to see who and when your account is accessed. We will record the IP address that accesses the account and the time, as well as failed attempts.
                            </p>
                        </div>
                        <div id="logArea" ng-show="doLogging != 0" class="clear">
                            <p class="alert alert-info" ng-show="logs.length<1">No logs yet.</p>
                            <table class="pm_table" id="accessLog" ng-init="initLogs()" ng-show="logs.length>0">
                                <thead>
                                    <tr>
                                        <th>{{ 'EVENT' | translate }}</th>
                                        <th style="width:12rem" class="text-right">{{ 'TIME' | translate }}</th>
                                        <th style="width:12rem" ng-show="doLogging == 2" class="text-right">IP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="log in logs | limitTo: logItemsPerPage: (currentLogPage - 1) * logItemsPerPage" ng-class="{ 'danger': (log.Event == 0) }">
                                        <td scope="row">
                                            <span ng-show="{{ log.Event == 0 }}"><i class="fa fa-times-circle text-red"></i> {{ 'LOGIN_FAILED' | translate }}</span>
                                            <span ng-show="{{ log.Event == 1 }}"><i class="fa fa-check"></i> {{ 'LOGIN_SUCCESS' | translate }}</span>
                                            <span ng-show="{{ log.Event == 2 }}"><i class="fa fa-check"></i> {{ 'LOG_OUT' | translate }}</span>
                                        </td>
                                        <td ng-show="doLogging == 2" class="text-right">
                                            <kbd ng-show="log.IP!==''">{{ ::log.IP }}</kbd>
                                            <kbd ng-show="log.IP===''">--</kbd>
                                        </td>
                                        <td class="text-right">{{ log.Time * 1000 | date : 'medium' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </form>
            </section>
    </div><!--/.settings-->
</div><!--/#pm_settings-->
