<div class="container-fluid">
    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>
    <div class="row">
        <div class="col-md-4">
            <div class="well well-sm">
                <fieldset>
                    <legend>Notifications</legend>
                    <form name="notificationForm" ng-submit="saveNotification(notificationForm)" novalidate>
                        <div class="form-group">
                            <label class="control-label">Daily New Email Notifications</label>
                            <div>
                                <toggle-switch
                                    ng-model="dailyNotifications"
                                    on-label="Enabled"
                                    off-label="Disabled"><toggle-switch>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': notificationForm.notificationEmail.$error.required}">
                            <label class="control-label" for="notificationEmail">Notification/Recovery Email</label>
                            <input type="email" id="notificationEmail" name="notificationEmail" class="form-control" placeholder="Notification/Recovery Email" ng-model="notificationEmail" required="" />
                            <div ng-show="notificationForm.$submitted || notificationForm.notificationEmail.$touched">
                                <p ng-show="!!!tools.validEmail(notificationEmail)" class="text-danger">Invalid email.</p>
                            </div>
                            <p class="help-block"><i class="fa fa-info-circle"></i> Also used to reset a forgotten password.</p>
                        </div>
                        <div class="clearfix">
                            <a href="" class="btn btn-link pull-left">How does this work?</a>
                            <button class="btn btn-sm btn-primary pull-right" type="submit" style="margin-left: 5px;">Save</button>
                            <!-- <button class="btn btn-sm btn-default pull-right" type="button">Delete</button> -->
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-sm">
                <fieldset>
                    <legend>Login Password</legend>
                    <form ng-submit="saveLoginPassword(loginForm)" name="loginForm" novalidate>
                        <div class="form-group" ng-class="{'has-error': loginForm.oldLoginPassword.$touched && loginForm.oldLoginPassword.$error.required}">
                            <label class="control-label" for="">Current Login Password</label>
                            <input type="password" id="oldLoginPassword" name="oldLoginPassword" ng-model="oldLoginPassword" class="form-control" placeholder="Current Login Password" required="" />
                        </div>
                        <div class="form-group" ng-class="{'has-error': loginForm.newLoginPassword.$touched && loginForm.newLoginPassword.$error.required}">
                            <label class="control-label" for="newLoginPassword">New Login Password</label>
                            <input type="password" id="newLoginPassword" name="newLoginPassword" ng-model="newLoginPassword" class="form-control" placeholder="New Login Password" required="" />
                        </div>
                        <div class="form-group" ng-class="{'has-error': loginForm.confirmLoginPassword.$touched && loginForm.confirmLoginPassword.$error.required}">
                            <label class="control-label" for="confirmLoginPassword">Confirm New Login Password</label>
                            <input type="password" id="confirmLoginPassword" name="confirmLoginPassword" ng-model="confirmLoginPassword" class="form-control" placeholder="Confirm New Login Password" required="" />
                            <div ng-show="loginForm.$submit || loginForm.confirmLoginPassword.$touched">
                                <p ng-show="newLoginPassword !== confirmLoginPassword" class="text-danger">Passwords don't match.</p>
                            </div>
                        </div>
                        <div class="clearfix">
                            <button class="btn btn-sm btn-primary pull-right" type="submit">Save</button>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-sm">
                <fieldset>
                    <legend>Mailbox Password</legend>
                    <form ng-submit="saveMailboxPassword(mailboxForm)" name="mailboxForm" novalidate>
                        <div class="form-group" ng-class="{'has-error': mailboxForm.oldMailboxPassword.$touched && mailboxForm.oldMailboxPassword.$error.required}">
                            <label class="control-label" for="oldMailboxPassword">Current Mailbox Password</label>
                            <input type="password" id="oldMailboxPassword" name="oldMailboxPassword" ng-model="oldMailboxPassword" class="form-control" placeholder="Current Mailbox Password" required="" />
                        </div>
                        <div class="form-group" ng-class="{'has-error': mailboxForm.newMailboxPassword.$touched && mailboxForm.newMailboxPassword.$error.required}">
                            <label class="control-label" for="newMailboxPassword">New Mailbox Password</label>
                            <input type="password" id="newMailboxPassword" name="newMailboxPassword" ng-model="newMailboxPassword" class="form-control" placeholder="New Mailbox Password" required="" />
                        </div>
                        <div class="form-group" ng-class="{'has-error': mailboxForm.confirmMailboxPassword.$touched && mailboxForm.confirmMailboxPassword.$error.required}">
                            <label class="control-label" for="confirmMailboxPassword">Confirm New Mailbox Password</label>
                            <input type="password" id="confirmMailboxPassword" name="confirmMailboxPassword" ng-model="confirmMailboxPassword" class="form-control" placeholder="Confirm New Mailbox Password" required="" />
                            <div ng-show="mailboxForm.$submit || mailboxForm.confirmMailboxPassword.$touched">
                                <p ng-show="newMailboxPassword !== confirmMailboxPassword" class="text-danger">Passwords don't match.</p>
                            </div>
                        </div>
                        <div class="clearfix">
                            <a href="" class="btn btn-link pull-left">How does this work?</a>
                            <button class="btn btn-sm btn-primary pull-right" type="submit">Save</button>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="well well-sm">
                <fieldset>
                    <legend>Display Name</legend>
                    <form ng-submit="saveDisplayName(displayNameForm)" name="displayNameForm" novalidate>
                        <div class="form-group" ng-class="{'has-error': displayNameForm.displayName.$error.required}">
                            <label class="control-label" for="displayName">Display Name</label>
                            <input id="displayName" type="text" class="form-control" name="displayName" ng-model="displayName" required="" />
                        </div>
                        <div class="clearfix">
                            <button class="btn btn-sm btn-primary pull-right" type="submit">Save</button>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-sm">
                <fieldset>
                    <legend>Signature</legend>
                    <form ng-submit="saveSignature(signatureForm)" name="signatureForm" novalidate>
                        <div class="form-group" ng-class="{'has-error': signatureForm.signature.$error.required}">
                            <label class="signature" for="signature">Signature</label>
                            <textarea id="signature" name="signature" class="form-control" ng-model="signature" required=""></textarea>
                        </div>
                        <div class="clearfix">
                            <button class="btn btn-sm btn-primary pull-right" type="submit">Save</button>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-sm">
                <fieldset>
                    <legend>Aliases</legend>
                    <form novalidate ng-submit="saveAliases(aliasesForm)" name="aliasesForm">
                        <div class="form-group">
                            <label class="control-label" for="">Sort Aliases</label>
                            <div id="aliases-container">
                                <ul class="list-group" data-as-sortable="dragControlListeners" data-ng-model="aliases">
                                    <li class="list-group-item" ng-repeat="alias in aliases" as-sortable-item="">
                                        <div as-sortable-item-handle="">
                                            <i class="fa fa-ellipsis-v text-muted vcenter"></i> {{alias.Email}} <span ng-show="$index == 0" class="label label-default">default</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <p class="help-block"><i class="fa fa-info-circle"></i> You can drag and drop aliases to order them.</p>
                        </div>
                        <div class="clearfix">
                            <a href="" class="pull-left btn btn-link">What are Aliases?</a>
                            <button class="pull-right btn btn-sm btn-primary pull-right" type="submit">Save</button>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>
