<div class="pm_panel wide" ng-show="filling">
    <div class="text-center header">
        <div>
            <img src="/assets/img/logo-dark.png" height="20" />
        </div>
        <h2>
            <i class="fa fa-user"></i>
            <span translate translate-context="Title">Create your account</span>
        </h2>
    </div>
    <form method="post" ng-submit="accountForm.$valid && checking(accountForm)" name="accountForm" role="form" novalidate class="pm_form">
        <div class="wrapper margin">
            <p class="alert alert-info" translate-context="Info" translate>Take back your privacy! Creating your secure email account takes less than 2 minutes.</p>
            <label class="titleLabel" for="Username">
                <em class="num">1</em>
                <span translate translate-context="Title">Username and domain</span>
            </label>
            <div class="usernameWrap">
                <p class="help" translate-context="Info" translate>This will be your new ProtonMail email address.</p>
                <strong ng-show="readOnlyUsername" ng-bind="account.Username"></strong>
                <input ng-hide="readOnlyUsername" type="text" ng-model="account.Username" name="Username" autofocus placeholder-translate="Choose username" required id="Username" class="dead" ng-change="checkAvailability(true)" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" ng-class="{'success':goodUsername,'error':badUsername}" />
                <em class="usernameDomain">@</em>
                <span class="pm_select inline bigger">
                    <select class="selectDomain" ng-model="account.domain" ng-options="domain.label for domain in domains"></select>
                    <i class="fa fa-angle-down"></i>
                </span>
                <em class="fa fa-spin fa-spinner" ng-show="checkingUsername"></em>
            </div>
            <p class="alert alert-danger" ng-show="badUsername" ng-bind="badUsernameMessage"></p>
            <p class="alert alert-success" ng-show="goodUsername" translate-context="Info" translate>Email available</p>

            <div ng-if="keyPhase < 3">
                <label class="titleLabel" for="password">
                    <em class="num">2</em>
                    <span translate translate-context="Title">Login password</span>
                </label>
                <p class="help" translate-context="Info" translate>This is used to login to our servers.</p>
                <input id="password" name="password" ng-model="$parent.account.loginPassword" type="password" class="form-control margin" placeholder-translate="Choose a login password" maxlength="{{ maxPW }}" required />
                <div ng-show="$parent.accountForm.$submitted || $parent.accountForm.password.$touched">
                    <p ng-show="$parent.accountForm.$submitted && $parent.accountForm.password.$error.required" class="alert alert-danger" translate-context="Error" translate>Login password is required.</p>
                </div>
                <input id="passwordc" name="passwordc" ng-model="$parent.account.loginPasswordConfirm" type="password" class="form-control" placeholder-translate="Confirm login password" required compare-to="$parent.account.loginPassword">
                <div ng-show="$parent.accountForm.$submitted || $parent.accountForm.passwordc.$touched">
                    <p ng-show="$parent.account.loginPassword !== $parent.account.loginPasswordConfirm" class="alert alert-danger" translate-context="Error" translate>Passwords do not match.</p>
                </div>

                <label class="titleLabel" for="MBpassword">
                    <em class="num">3</em>
                    <span translate translate-context="Title">Mailbox password</span>
                </label>
                <p class="help" translate-context="Info" translate>This is used to encrypt and decrypt
            your messages. Do not lose this password--we cannot recover it.</p>
                <input id="MBpassword" name="MBpassword" ng-model="$parent.account.mailboxPassword" type="password" class="form-control margin" placeholder-translate="Choose a mailbox password" required />
                <div ng-show="$parent.accountForm.$submitted || $parent.accountForm.MBpassword.$touched">
                    <p ng-show="$parent.accountForm.$submitted && $parent.accountForm.MBpassword.$error.required" class="alert alert-danger" translate-context="Error" translate>Mailbox password is required.</p>
                </div>
                <input id="MBpasswordc" name="MBpasswordc" ng-model="$parent.account.mailboxPasswordConfirm" type="password" class="form-control" ng-class="{disabled: networkActivity.loading()}" placeholder-translate="Confirm mailbox password" required compare-to="$parent.account.mailboxPassword">
                <div ng-show="$parent.accountForm.$submitted || $parent.accountForm.MBpasswordc.$touched">
                    <p ng-show="$parent.account.mailboxPassword !== $parent.account.mailboxPasswordConfirm" class="alert alert-danger" translate-context="Error" translate>Passwords do not match.</p>
                </div>
                <p class="alert alert-info" translate-context="Info" translate>If you lose your mailbox password, you will not be able to read your emails. We cannot recover this password for you.</p>
            </div>

            <div ng-if="keyPhase > 2">
                <label class="titleLabel" for="password">
                    <em class="num">2</em>
                    <span translate translate-context="Title">Password</span>
                </label>
                <p class="help" translate-context="Info" translate>This is used to encrypt and decrypt
            your messages. Do not lose this password, we cannot recover it.</p>
                <input id="password" name="password" ng-model="$parent.account.loginPassword" type="password" class="form-control margin" placeholder-translate="Choose a password" maxlength="{{ maxPW }}" required />
                <div ng-show="$parent.accountForm.$submitted || $parent.accountForm.password.$touched">
                    <p ng-show="$parent.accountForm.$submitted && $parent.accountForm.password.$error.required" class="alert alert-danger" translate-context="Error" translate>Password is required.</p>
                </div>
                <input id="passwordc" name="passwordc" ng-model="$parent.account.loginPasswordConfirm" type="password" class="form-control" placeholder-translate="Confirm password" required compare-to="$parent.account.loginPassword">
                <div ng-show="$parent.accountForm.$submitted || $parent.accountForm.passwordc.$touched">
                    <p ng-show="$parent.account.loginPassword !== $parent.account.loginPasswordConfirm" class="alert alert-danger" translate-context="Error" translate>Passwords do not match.</p>
                </div>
                <p class="alert alert-info" translate-context="Info" translate>If you lose your password, you will not be able to read your emails.</p>
            </div>

            <label class="titleLabel" for="notificationEmail">
                <em class="num" ng-if="keyPhase < 3">4</em>
                <em class="num" ng-if="keyPhase > 2">3</em>
                <span translate translate-context="Title">Recovery email</span>
                (<span translate>Optional</span>)
            </label>
            <p class="help" translate-context="Info" translate>This is used to recover your account if you get locked out or forget your password.</p>
            <input id="notificationEmail" name="notificationEmail" ng-model="account.notificationEmail" type="email" class="form-control" placeholder-translate="Recovery email" validator="notificationEmailValidation()" ng-required="false" />
            <div ng-show="accountForm.notificationEmail.$error.email">
                <p class="alert alert-danger" translate-context="Error" translate>Invalid recovery email.</p>
            </div>
        </div><!--/.wrapper-->
        <div class="text-center spacing-top">
            <p><span translate translate-context="Info">By clicking Create Account, you agree to abide by</span><br /> <a href="https://protonmail.com/terms-and-conditions" target="_blank" translate-context="Title" translate>ProtonMail's Terms and Conditions</a>.</p>
            <p><button type="submit" class="pm_button primary large" ng-disabled="networkActivity.loading()" translate-context="Action" translate>Create Account</button></p>
            <p><a ui-sref="login" translate-context="Action" translate translate-comment="link to login">Already have an account?</a></p>
        </div>
    </form>
</div>

<div class="pm_panel wide" ng-show="payment">
    <div class="text-center header">
        <div>
            <img src="/assets/img/logo-dark.png" height="20" />
        </div>
        <h2>
            <i class="fa fa-money"></i>
            <span translate translate-context="Title">Billing Information</span>
        </h2>
        <p class="uppercase" translate translate-context="Title">Thank you for your support!</p>
    </div>
    <hr />
    <div class="pm_grid">
        <div class="col-1-4 bold" translate translate-context="Title">Overview</div>
        <div class="col-3-4 pm_table">
            <table class="print">
                <tbody>
                    <tr>
                        <th translate translate-context="Title">Plan</th>
                        <td>
                            <strong ng-show="plan.Name === 'plus'" class="plus">ProtonMail PLUS</strong>
                            <strong ng-show="plan.Name === 'visionary'" class="visionary">ProtonMail VISIONARY</strong>
                        </td>
                    </tr>
                    <tr>
                        <th translate translate-context="Title">Billing</th>
                        <td>
                            <strong ng-show="plan.Cycle === 1" translate translate-context="Info">Monthly</strong>
                            <strong ng-show="plan.Cycle === 12" translate translate-context="Info">Annually</strong>
                        </td>
                    </tr>
                    <tr>
                        <th translate translate-context="Title">Price</th>
                        <td>
                            <strong ng-bind="plan.Amount / 100 | currency: plan.Currency"></strong> <i ng-show="plan.Cycle === 12">({{ plan.Amount / 100 / 12 | fixed: 2 | currency: plan.Currency }} / month)</i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>
                <a href="#" ng-click="showFeatures = !showFeatures">
                    <span translate-context="Action" translate>Show features</span> <i class="fa" ng-class="{'fa-angle-down': !showFeatures, 'fa-angle-up': showFeatures}"></i>
                </a>
            </p>
            <ul ng-show="showFeatures === true">
                <li ng-show="plan.Name === 'plus'" translate>5GB storage</li>
                <li ng-show="plan.Name === 'visionary'" translate>20GB storage</li>
                <li ng-show="plan.Name === 'plus'" translate>Send up to 1000 messages per day</li>
                <li ng-show="plan.Name === 'visionary'" translate>No sending limits</li>
                <li translate>Labels and Custom Filters</li>
                <li translate>Send encrypted messages to external recipients</li>
                <li translate>Use your own domain (ex: thomas@anderson.com)</li>
                <li ng-show="plan.Name === 'plus'" translate>Up to 5 email aliases</li>
                <li ng-show="plan.Name === 'visionary'" translate>Up to 50 email aliases</li>
                <li ng-show="plan.Name === 'visionary'" translate>Support for up to 5 domains</li>
                <li translate>Priority Customer Support</li>
                <li ng-show="plan.Name === 'visionary'" translate>Early access to new features</li>
                <li ng-show="plan.Name === 'visionary'" translate>Help pick new features through Visionary only polls</li>
            </ul>
        </div>
    </div>
    <form method="post" ng-submit="pay()" role="form" novalidate class="pm_form">
        <div class="pm_grid" ng-show="method === 'card'">
            <div class="col-1-4 bold" translate translate-context="Title">Credit Card</div>
            <div class="col-3-4">
                <card-view card="card"></card-view>
                <p ng-show="::paypalSupport"><a href="#" ng-click="choosePaypal()" translate translate-context="Link">Pay with PayPal</a></p>
            </div>
        </div>
        <div class="pm_grid" ng-show="method === 'paypal'">
            <div class="col-1-4 bold" translate translate-context="Title">Paypal</div>
            <div class="col-3-4">
                <p class="alert alert-info text-center" ng-show="approvalURL === false" translate>Loading...</p>
                <p ng-hide="approvalURL === false">
                    <a href="#" ng-click="openPaypalTab()">
                        <img src="/assets/img/settings/paypal.png" alt="Paypal button" />
                    </a>
                </p>
                <p><a href="#" ng-click="chooseCard()">Pay with credit card</a></p>
                <p class="alert alert-warning" ng-show="paypalNetworkError === true">
                    <span translate-context="Error" translate>Error connecting to PayPal.</span>
                    <a href="#" ng-click="initPaypal()">Click here</a> to try again.
                </p>
            </div>
        </div>
        <div ng-hide="method === 'paypal'">
            <div class="text-center">
                <p class="alert alert-info" ng-show="errorPay">Would you like to create a free ProtonMail account instead? <a href="#" ng-click="payment = false;humanityTest = true;">Yes</a> <a href="https://protonmail.com/signup">No</a></p>
                <p>
                    <button ng-hide="errorPay" class="pm_button primary large" type="submit" ng-disabled="networkActivity.loading()" translate translate-context="Action"><i class="fa fa-lock"></i> Submit</button>
                    <button ng-show="errorPay" class="pm_button primary large" type="submit" ng-disabled="networkActivity.loading()" translate translate-context="Action">Retry</button>
                </p>
                <p><button class="pm_button link" type="button" ng-click="errorPay = true" ng-disabled="networkActivity.loading()" translate translate-context="Action">Cancel</button></p>
            </div>
        </div>
    </form>
</div>

<div class="pm_panel wide" ng-if="humanityTest" ng-init="initHumanityTest()">
    <div ng-show="!preInvited" class="wrapper" id="verification-panel">
        <label class="titleLabel" for="password">
            <em class="num">5</em><span translate translate-context="Title" translate-comment="Antispam section of account creation">Are you human?</span>
        </label>
        <p class="help" translate-context="Info" translate>To fight spam, please verify you are human.</p>
        <p class="help" ng-show="verificator === 'email' || verificator === 'sms'" translate-context="Info" translate>We do not permanently save your email or phone number, it is deleted after verification.</p>
        <div ng-show="showCaptcha">
            <label class="titleLabel" ng-click="setIframeSrc()">
                <input type="radio" ng-model="verificator" value="recaptcha" />
                <span>reCAPTCHA</span>
            </label>
        </div>
        <div ng-show="showEmail">
            <label class="titleLabel" >
                <input type="radio" ng-model="verificator" value="email" />
                <span translate translate-context="Title">Email</span>
            </label>
        </div>
        <div ng-show="showSms">
            <span ng-show="!showCaptcha && !showEmail" class="pull-right">(<a href="#" ng-click="whySMS = !whySMS" translate>Why is this required?</a>)</span>
            <label class="titleLabel" >
                <input type="radio" ng-model="verificator" value="sms" />
                <span translate translate-context="Title">SMS</span>
            </label>
        </div>
        <div ng-show="showDonation">
            <label class="titleLabel">
                <input type="radio" ng-model="verificator" value="donation" />
                <span translate translate-context="Title">Donate</span>
            </label>
        </div>

        <div ng-show="whySMS" class="spacing-top spacing-bottom">
            <div class="alert alert-info" translate>
                <p>Too many ProtonMail accounts have been created from your connection.</p>
                <p>Thus, we are requesting additional verification to ensure you are human and not a spam bot.</p>
                <p>Because Tor is frequently abused by spammers, this check may be triggered because of the Tor exit node you are using.</p>
            </div>
        </div>

        <div ng-show="verificator === 'email'" class="pm_form spacing-top spacing-bottom">
            <div class="pm_grid" ng-show="signup.verificationSent !== true">
                <div class="col-2-3">
                    <input type="text" ng-model="account.emailVerification" placeholder-translate="Email verification" />
                </div>
                <div class="col-1-3">
                    <button type="button" class="pm_button primary" ng-click="sendVerificationCode()" translate translate-context="Action">Send</button>
                </div>
            </div>

            <div class="pm_grid" ng-show="signup.verificationSent === true">
                <p class="alert alert-success"><strong translate-context="Info" translate>Verification code sent</strong><br /><span translate-context="Info" translate>Please check your email and enter the code below:</span></p>
                <div class="margin" ng-show="signup.verificationSent === true">
                    <input class="bigger" type="text" ng-model="account.codeVerification" placeholder-translate="Verification code" />
                </div>
                <div class="col-1-2">
                    <button type="button" class="pm_button link" ng-click="signup.verificationSent = false" translate translate-context="Action">Send new code</button>
                </div>
            </div>
        </div>

        <div ng-if="verificator === 'sms'" id="smsVerification" class="pm_form spacing-top spacing-bottom">
            <div class="pm_grid" ng-show="signup.smsVerificationSent !== true">
                <div class="col-2-3">
                    <input type="text" phone class="phoneCountryCode" ng-model="account.smsVerification" />
                </div>
                <div class="col-1-3">
                    <button type="button" class="pm_button primary" ng-click="sendSmsVerificationCode()" ng-disabled="smsSending" translate-context="Action" translate>Send</button>
                </div>
            </div>
            <div class="pm_grid" ng-show="signup.smsVerificationSent === true">
                <p class="alert alert-success" translate>
                    <strong>Verification code sent</strong><br />
                    Please check <strong>{{ account.smsVerification }}</strong> and enter the code below:
                </p>
                <div class="col-1-2" ng-show="signup.smsVerificationSent === true">
                    <input type="text" ng-model="account.smsCodeVerification" placeholder-translate="Code verification" />
                </div>
                <div class="col-1-2">
                    <button type="button" class="pm_button link" ng-click="signup.smsVerificationSent = false" translate-context="Action" translate>Send new code</button>
                </div>
            </div>
        </div>

        <div ng-show="verificator === 'recaptcha'" id="recaptchaFrame" class="spacing-top">
            <span class="loading"  translate>Loading...</span>
            <iframe id="pm_captcha" sandbox="allow-scripts allow-same-origin"></iframe>
        </div>

        <div ng-show="verificator === 'donation'" class="pm_form spacing-top spacing-bottom">
            <p class="alert alert-info" translate-context="Info" translate>Donations are added as credit to your ProtonMail account and can be used to purchase account upgrades.</p>
            <label for="amount" translate translate-context="Title">Amount</label>
            <div class="pm_grid">
                <div class="col-1-4">
                    <button type="button" class="pm_button" style="width: 100%" ng-class="{ success: donationDetails.amount === 5 }" ng-click="selectAmount(5)">5</button>
                </div>
                <div class="col-1-4">
                    <button type="button" class="pm_button" style="width: 100%" ng-class="{ success: donationDetails.amount === 10 }" ng-click="selectAmount(10)">10</button>
                </div>
                <div class="col-1-4">
                    <button type="button" class="pm_button" style="width: 100%" ng-class="{ success: donationDetails.amount === 25 }" ng-click="selectAmount(25)">25</button>
                </div>
                <div class="col-1-4">
                    <button type="button" class="pm_button" style="width: 100%" ng-class="{ success: donationDetails.amount === 50 }" ng-click="selectAmount(50)">50</button>
                </div>
            </div>
            <div class="pm_grid">
                <div class="col-1-4">
                    <button type="button" class="pm_button" style="width: 100%" ng-class="{ success: donationDetails.amount === 100 }" ng-click="donationDetails.amount = 100">100</button>
                </div>
                <div class="col-1-2">
                    <input type="number" id="amount" ng-model="donationDetails.otherAmount" ng-change="onChangeOtherAmount()" placeholder-translate="Other" required />
                </div>
                <div class="col-1-4">
                    <span class="pm_select">
                        <select ng-model="donationDetails.currency" ng-options="currency.label for currency in donationCurrencies"></select>
                        <i class="fa fa-angle-down"></i>
                    </span>
                </div>
            </div>
            <card-view card="donationCard"></card-view>
        </div>

        <p class="text-center">
            <button ng-show="verificator === 'donation'" type="button" class="pm_button primary large" ng-click="donate()" ng-disabled="networkActivity.loading()" translate translate-context="Action">Complete setup</button>
            <button ng-hide="verificator === 'donation'" type="button" class="pm_button primary large" ng-click="createAccount()" ng-disabled="account.codeVerification === '' && account.captcha_token === false && account.smsCodeVerification === ''" translate translate-context="Action">Complete setup</button>
        </p>
    </div>
</div>

<div class="pm_panel wide" ng-show="genNewKeys">
    <div class="text-center header">
        <img src="/assets/img/decrypt1.gif" class="loader" style="margin: 0 auto 1rem auto" />
        <h2 class="text-center" ng-show="!signupError" translate translate-text="Title">Generating keys...</h2>
    </div>
    <p class="alert" translate-context="Info" translate>This can take a few seconds or a few minutes depending on your device.</p>
</div>

<div class="pm_panel wide" ng-show="creating" id="signUpProcess">
    <div class="text-center header">
        <img src="/assets/img/decrypt1.gif" class="loader" style="margin: 0 auto 1rem auto" ng-show="creating && !signupError" />
        <h2 class="text-center" ng-show="!signupError"  translate>Creating account</h2>
        <h2 class="text-center" ng-show="signupError" translate-context="Error" translate>Sign up failed</h2>
    </div>
    <p class="alert alert-danger" ng-show="signupError" translate-context="Error" translate>An error occured while trying to create your account. To see common problems and solutions <a target='_blank' href='https://protonmail.com/support/knowledge-base/common-sign-up-problems-and-solutions/'>click here</a>.</p>
    <div class="wrapper text-left">
        <ol id="creationList">
            <li class="done">
                <i class="show fa fa-check"></i>
                <span translate>Generating keys</span>
            </li>
            <li ng-class="{ 'done': createAccount }">
                <i ng-class="{ 'show': createAccount }" class="fa fa-check"></i>
                <span translate>Creating new account</span>
            </li>
            <li ng-class="{ 'done': logUserIn }">
                <i ng-class="{ 'show': logUserIn }" class="fa fa-check"></i>
                <span translate>Logging in to new account</span>
            </li>
            <li ng-class="{ 'done': setupAccount }">
                <i ng-class="{ 'show': setupAccount }" class="fa fa-check"></i>
                <span translate>Setting up new account</span>
            </li>
            <li ng-class="{ 'done': getUserInfo }">
                <i ng-class="{ 'show': getUserInfo }" class="fa fa-check"></i>
                <span translate>Done</span>
            </li>
            <li ng-class="{ 'done': finishCreation }">
                <i ng-class="{ 'show': finishCreation }" class="fa fa-check"></i>
                <span translate>Redirecting</span>
            </li>
        </ol>
    </div>
</div>
<div id="pm_footer" class="static">
    <p  translate>&copy; 2016 ProtonMail.com - Made globally, hosted in Switzerland.</p>
</div>
