<p>&nbsp;</p>
<div class="pm_panel wide" ng-hide="creating || genNewKeys || humanityTest">
    <div class="text-center header">
        <div>
            <img src="/assets/img/logo-dark.png" height="20" />
        </div>
        <h2>
            <i class="fa fa-user"></i>
            {{ 'CREATE_YOUR_ACCOUNT' | translate }}
        </h2>
    </div>
    <form method="post" ng-submit="saveContinue(step1)" name="step1" role="form" novalidate class="pm_form">
        <div class="wrapper margin">
            <p class="alert alert-info">Take back your privacy! Creating your free secure email account takes less than 2 minutes in most cases.</p>
            <label for="Username">
                <em class="num">1</em>
                {{ 'USERNAME_AND_DOMAIN' | translate }}
            </label>
            <div class="usernameWrap">
                <p class="help">This will be your email address. Select the drop down to choose your domain.</p>
                <strong ng-show="readOnlyUsername" ng-bind="account.Username"></strong>
                <input ng-hide="readOnlyUsername" type="text" ng-model="account.Username" name="Username" autofocus placeholder="{{ 'CHOOSE_USERNAME' | translate }}" required
                id="Username" class="dead" ng-change="checkAvailability(true)" ng-model-options="{ debounce: 1000 }"
                ng-class="{
                    'success':goodUsername,
                    'error':badUsername
                }">
                <em class="usernameDomain">@</em>
                <span class="pm_select inline bigger">
                    <select class="selectDomain" ng-model="account.domain" ng-options="domain.label for domain in domains"></select>
                    <i class="fa fa-angle-down"></i>
                </span>
                <em class="fa fa-spin fa-spinner" ng-show="checkingUsername"></em>
            </div>
            <div ng-show="goodUsername">
                <p class="alert alert-success"><i class="fa fa-check"></i> Email available!</p>
            </div>
            <div ng-show="badUsername">
                <p class="alert alert-danger"><i class="fa fa-times"></i> Email already taken.</p>
            </div>
            <label for="password">
                <em class="num">2</em>
                {{ 'LOGIN_PASSWORD' | translate }}
            </label>
            <p class="help">This is used to log you into our system.</p>
            <input id="password" name="password" ng-model="account.loginPassword" type="password" class="form-control margin" placeholder="{{ 'CHOOSE_A_LOGIN_PASSWORD' | translate }}" maxlength="{{ maxPW }}" required />
            <div ng-show="step1.$submitted || step1.password.$touched">
                <p ng-show="step1.$submitted && step1.password.$error.required" class="alert alert-danger">Login password is required.</p>
            </div>
            <input id="passwordc" name="passwordc" ng-model="account.loginPasswordConfirm" type="password" class="form-control" placeholder="{{ 'CONFIRM_LOGIN_PASSWORD' | translate }}" required validator="account.loginPassword !== account.loginPasswordConfirm" />
            <div ng-show="step1.$submitted || step1.passwordc.$touched">
                <p ng-show="account.loginPassword !== account.loginPasswordConfirm" class="alert alert-danger">{{ 'PASSWORDS_DONT_MATCH' | translate }}.</p>
            </div>
            <label for="password">
                <em class="num">3</em>
                {{ 'MAILBOX_PASSWORD' | translate }}
            </label>
            <p class="help">This is used to encrypt and decrypt your messages. This is private and only you know it.</p>
            <input id="MBpassword" name="MBpassword" ng-model="account.mailboxPassword" type="password" class="form-control margin" placeholder="{{ 'CHOOSE_A_MAILBOX_PASSWORD' | translate }}" required />
            <div ng-show="step1.$submitted || step1.MBpassword.$touched">
                <p ng-show="step1.$submitted && step1.MBpassword.$error.required" class="alert alert-danger">Mailbox password is required.</p>
            </div>
            <input id="MBpasswordc" name="MBpasswordc" ng-model="account.mailboxPasswordConfirm" type="password" class="form-control" ng-class="{disabled: networkActivity.loading()}" placeholder="{{ 'CONFIRM_MAILBOX_PASSWORD' | translate }}" required />
            <div ng-show="step1.$submitted || step1.MBpasswordc.$touched">
                <p ng-show="account.mailboxPassword !== account.mailboxPasswordConfirm" class="alert alert-danger">{{ 'PASSWORDS_DONT_MATCH' | translate }}.</p>
            </div>
            <p class="alert alert-info">If you lose your mailbox password, you won't be able to read your emails, we cannot recover this password for you.</p>
            <label for="notificationEmail">
                <em class="num">4</em>
                Recovery Email (Optional)
            </label>
            <p class="help">This is used to recover your account if you get locked out or forget your login password.</p>
            <input id="notificationEmail" name="notificationEmail" ng-model="account.notificationEmail" type="email" class="form-control" placeholder="{{ 'RECOVERY_EMAIL' | translate }}" validator="notificationEmailValidation()" ng-required="false" />
            <div ng-show="step1.notificationEmail.$error.email">
                <p class="alert alert-danger">{{ 'INVALID_EMAIL' | translate }}l.</p>
            </div>
            <p ng-if="preInvited">&nbsp;</p>
        </div><!--/.wrapper-->
        <!-- <div class="checkbox">
            <label for="optIn" class="optIn">
                <input id="optIn" name="optIn" ng-init="account.optIn = true" ng-model="account.optIn" type="checkbox" /> Keep me updated about new features such as mobile apps.
            </label>
        </div> -->
        <br>
        <button type="submit" class="pm_button primary large"
        ng-class="{ disabled: ( networkActivity.loading() || !step1.$valid ) } ">{{ 'CREATE_ACCOUNT' | translate }}</button>
        <p>&nbsp;</p>
        <p><a ui-sref="login">Already have an account?</a></p>
    </form>
</div>

<div class="pm_panel wide" ng-show="humanityTest && !creating">
    <div ng-show="!preInvited" class="wrapper">
        <label for="password">
            <em class="num">5</em>
            {{ 'PROOVE_YOUR_HUMANITY' | translate }}
        </label>
        <p class="help">To help fight spammers, please verify you are human. You can verify via email or solve a reCaptcha:</p>
        <div class="pm_grid">
            <div class="col-1-2">
                <label>
                    <input type="radio" ng-model="verificator" value="email" /> {{ 'BY_EMAIL' | translate }}
                </label>
            </div>
            <div class="col-1-2">
                <label>
                    <input type="radio" ng-model="verificator" value="recaptcha" /> reCAPTCHA
                </label>
            </div>
        </div>

        <div ng-show="verificator === 'email'" class="pm_form">
            <div class="pm_grid" ng-show="signup.verificationSent !== true">
                <div class="col-2-3">
                    <input type="text" ng-model="account.emailVerification" placeholder="{{ 'EMAIL_VERIFICATION' | translate }}" />
                </div>
                <div class="col-1-3">
                    <button type="button" class="pm_button primary" ng-click="sendVerificationCode()">
                        {{ 'SEND' | translate }}
                    </button>
                </div>
            </div>

            <div class="pm_grid" ng-show="signup.verificationSent === true">
                <p class="alert alert-success">
                    <strong>Verification Code Sent</strong><br />
                    Please check <strong>{{ account.emailVerification }}</strong> and enter the code below:
                </p>
                <div class="margin" ng-show="signup.verificationSent === true">
                    <input class="bigger" type="text" ng-model="account.codeVerification" placeholder="{{ 'CODE_VERIFICATION' | translate }}" />
                </div>
                <div class="col-1-2">
                    <button type="button" class="pm_button link" ng-click="signup.verificationSent = false">
                        {{ 'SEND_NEW_CODE' | translate }}
                    </button>
                </div>
            </div>
        </div>

        <div ng-if="verificator === 'recaptcha'">
            <iframe id="pm_captcha" src="https://secure.protonmail.com/recaptcha.html" sandbox="allow-scripts allow-same-origin" onload="captchaSendMessage()"></iframe>
        </div>

        <div class="text-center">
            <button type="button" class="pm_button primary large" ng-click="createAccount()" ng-disabled="account.codeVerification === '' && account.captcha_token === false">
                {{ 'COMPLETE_SETUP' | translate }}
            </button>
        </div>
    </div>
</div>

<div class="pm_panel wide" ng-show="genNewKeys">
    <div class="text-center header">
        <img src="/assets/img/decrypt1.gif" class="loader" style="margin: 0 auto 1rem auto" />
        <h2 class="text-center" ng-show="!signupError">Generating Keys...</h2>
    </div>
    <p class="alert">This can take a few seconds or a few minutes depending on your device.</p>
</div>

<div class="pm_panel wide" ng-show="creating" id="signUpProcess">
    <div class="text-center header">
        <img src="/assets/img/decrypt1.gif" class="loader" style="margin: 0 auto 1rem auto" ng-show="creating && !signupError" />
        <h2 class="text-center" ng-show="!signupError">Creating Account</h2>
        <h2 class="text-center" ng-show="signupError">Sign Up Failed</h2>
    </div>
    <p class="alert alert-danger" ng-show="signupError">An error occured while trying to create your account. To see common problems and solutions <a target="_blank" href="https://protonmail.com/support/knowledge-base/common-sign-up-problems-and-solutions/">click here</a>.</p>
    <div class="wrapper text-left">
        <ol id="creationList">
            <li class="done">
                <i class="show fa fa-check"></i>
                Encryption Keys
            </li>
            <li ng-class="{ 'done': createUser }">
                <i ng-class="{ 'show': createUser }" class="fa fa-check"></i>
                Creating New User
            </li>
            <li ng-class="{ 'done': logUserIn }">
                <i ng-class="{ 'show': logUserIn }" class="fa fa-check"></i>
                Verifying New Account
            </li>
            <li ng-class="{ 'done': decryptAccessToken }">
                <i ng-class="{ 'show': decryptAccessToken }" class="fa fa-check"></i>
                Verifying Encryption Keys
            </li>
            <li ng-class="{ 'done': mailboxLogin }">
                <i ng-class="{ 'show': mailboxLogin }" class="fa fa-check"></i>
                Loading New Account
            </li>
            <li ng-class="{ 'done': getUserInfo }">
                <i ng-class="{ 'show': getUserInfo }" class="fa fa-check"></i>
                Done!
            </li>
            <li ng-class="{ 'done': finishCreation }">
                <i ng-class="{ 'show': finishCreation }" class="fa fa-check"></i>
                Redirecting
            </li>
        </ol>
    </div>
</div>
<div id="pm_footer" class="static">
    <p>&copy; 2016 ProtonMail.com - Made globally, hosted in Switzerland.</p>
</div>
