<p>&nbsp;</p>
<div class="pm_panel wide" ng-hide="creating || genNewKeys || humanityTest">
    <div class="text-center header">
        <div>
            <img src="/assets/img/logo-dark.png" height="20" />
        </div>
        <h2>
            <i class="fa fa-user"></i>
            <span translate translate-context="Title">Create your account</span>
        </h2>
    </div>
    <form method="post" ng-submit="saveContinue(step1)" name="step1" role="form" novalidate class="pm_form">
        <div class="wrapper margin">
            <p class="alert alert-info" translate-context="Info" translate>Take back your privacy! Creating your free secure email account takes less than 2 minutes in most cases.</p>
            <label for="Username">
                <em class="num">1</em>
                <span translate translate-context="Title">Username and domain</span>
            </label>
            <div class="usernameWrap">
                <p class="help" translate-context="Info" translate>This will be your email address. Select the drop down to choose your domain.</p>
                <strong ng-show="readOnlyUsername" ng-bind="account.Username"></strong>
                <input ng-hide="readOnlyUsername" type="text" ng-model="account.Username" name="Username" autofocus placeholder-translate="Choose username" required id="Username" class="dead" ng-change="checkAvailability(true)" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" ng-class="{'success':goodUsername,'error':badUsername}" />
                <em class="usernameDomain">@</em>
                <span class="pm_select inline bigger">
                    <select class="selectDomain" ng-model="account.domain" ng-options="domain.label for domain in domains"></select>
                    <i class="fa fa-angle-down"></i>
                </span>
                <em class="fa fa-spin fa-spinner" ng-show="checkingUsername"></em>
            </div>
            <p class="alert alert-danger" ng-show="badUsername" translate-context="Error" translate>Email already taken</p>
            <p class="alert alert-success" ng-show="goodUsername"  translate>Email available</p>
            <label for="password">
                <em class="num">2</em>
                <span translate translate-context="Title">Login password</span>
            </label>
            <p class="help" translate-context="Info" translate>This is used to log you into your account.</p>
            <input id="password" name="password" ng-model="account.loginPassword" type="password" class="form-control margin" placeholder-translate="Choose a login password" maxlength="{{ maxPW }}" required />
            <div ng-show="step1.$submitted || step1.password.$touched">
                <p ng-show="step1.$submitted && step1.password.$error.required" class="alert alert-danger" translate-context="Error" translate>Login password is required.</p>
            </div>
            <input id="passwordc" name="passwordc" ng-model="account.loginPasswordConfirm" type="password" class="form-control" placeholder-translate="Confirm Login Password" required validator="account.loginPassword !== account.loginPasswordConfirm" />
            <div ng-show="step1.$submitted || step1.passwordc.$touched">
                <p ng-show="account.loginPassword !== account.loginPasswordConfirm" class="alert alert-danger" translate-context="Error" translate>Passwords don't match.</p>
            </div>
            <label for="password">
                <em class="num">3</em>
                <span translate translate-context="Title">Mailbox password</span>
            </label>
            <p class="help" translate-context="Info" translate>This is used to encrypt and decrypt
        your messages. Do not lose this password, we cannot recover it.</p>
            <input id="MBpassword" name="MBpassword" ng-model="account.mailboxPassword" type="password" class="form-control margin" placeholder-translate="Choose a mailbox password" required />
            <div ng-show="step1.$submitted || step1.MBpassword.$touched">
                <p ng-show="step1.$submitted && step1.MBpassword.$error.required" class="alert alert-danger" translate-context="Error" translate>Mailbox password is required.</p>
            </div>
            <input id="MBpasswordc" name="MBpasswordc" ng-model="account.mailboxPasswordConfirm" type="password" class="form-control" ng-class="{disabled: networkActivity.loading()}" placeholder-translate="Confirm Mailbox Password" required />
            <div ng-show="step1.$submitted || step1.MBpasswordc.$touched">
                <p ng-show="account.mailboxPassword !== account.mailboxPasswordConfirm" class="alert alert-danger" translate-context="Error" translate>Passwords don't match.</p>
            </div>
            <p class="alert alert-info" translate-context="Info" translate>If you lose your mailbox password, you won't be able to read your emails, we cannot recover this password for you.</p>
            <label for="notificationEmail">
                <em class="num">4</em>
                <span translate translate-context="Title">Recovery email</span>
                (<span translate>Optional</span>)
            </label>
            <p class="help" translate-context="Info" translate>This is used to recover your account if you get locked out or forget your login password.</p>
            <input id="notificationEmail" name="notificationEmail" ng-model="account.notificationEmail" type="email" class="form-control" placeholder-translate="Recovery email" validator="notificationEmailValidation()" ng-required="false" />
            <div ng-show="step1.notificationEmail.$error.email">
                <p class="alert alert-danger" translate-context="Error" translate>Invalid recovery email.</p>
            </div>
            <p ng-if="preInvited">&nbsp;</p>
        </div><!--/.wrapper-->
        <p><span translate translate-context="Info">By clicking Create Account, you agree to abide by</span> <a href="https://protonmail.com/terms-and-conditions" target="_blank" translate-context="Title" translate>ProtonMail's Terms and Conditions</a>.</p>
        <button type="submit" class="pm_button primary large" ng-class="{ disabled: ( networkActivity.loading() || !step1.$valid ) } " translate-context="Action" translate>Create Account</button>
        <p>&nbsp;</p>
        <p><a ui-sref="login" translate-context="Action" translate translate-comment="link to login">Already have an account?</a></p>
    </form>
</div>

<div class="pm_panel wide" ng-show="humanityTest && !creating">
    <div ng-show="!preInvited" class="wrapper">
        <label for="password">
            <em class="num">5</em><span translate translate-context="Title" translate-comment="Antispam section of account creation">Are you human?</span>
        </label>
        <p class="help">To help fight spammers, please verify you are human.</p>
        <div ng-show="showEmail">
            <label>
                <input type="radio" ng-model="verificator" value="email" />
                <span translate translate-context="Title">Email</span>
            </label>
        </div>
        <div ng-show="showCaptcha">
            <label ng-click="setIframeSrc()">
                <input type="radio" ng-model="verificator" value="recaptcha" />
                <span>reCAPTCHA</span>
            </label>
        </div>
        <div ng-show="showSms">
            <label>
                <input type="radio" ng-model="verificator" value="sms" />
                <span translate translate-context="Title">SMS</span>
            </label>
        </div>

        <div ng-show="verificator === 'email'" class="pm_form">
            <p>&nbsp;</p>
            <h3 translate-context="Title" translate>Email verification</h3>
            <div class="pm_grid" ng-show="signup.verificationSent !== true">
                <div class="col-2-3">
                    <input type="text" ng-model="account.emailVerification" placeholder-translate="Email verification" />
                </div>
                <div class="col-1-3">
                    <button type="button" class="pm_button primary" ng-click="sendVerificationCode()" translate translate-context="Action">Send</button>
                </div>
            </div>

            <div class="pm_grid" ng-show="signup.verificationSent === true">
                <p class="alert alert-success"><strong translate-context="Info" translate>Verification code sent</strong><br /><span translate-context="Info" translate>Please check your email and enter the code below:</span></p>
                <div class="margin" ng-show="signup.verificationSent === true">
                    <input class="bigger" type="text" ng-model="account.codeVerification" placeholder-translate="Verification code" />
                </div>
                <div class="col-1-2">
                    <button type="button" class="pm_button link" ng-click="signup.verificationSent = false" translate translate-context="Action">Send new code</button>
                </div>
            </div>
            <p>&nbsp;</p>
        </div>

        <div ng-if="verificator === 'sms'" id="smsVerification" class="pm_form">
            <p>&nbsp;</p>
            <h3 translate-context="Title" translate>SMS verification</h3>
            <div class="pm_grid" ng-show="signup.smsVerificationSent !== true">
                <div class="col-2-3">
                    <input type="text" phone class="phoneCountryCode" ng-model="account.smsVerification" />
                </div>
                <div class="col-1-3">
                    <button type="button" class="pm_button primary" ng-click="sendSmsVerificationCode()" ng-disabled="smsSending" translate-context="Action" translate>Send</button>
                </div>
            </div>
            <div class="pm_grid" ng-show="signup.smsVerificationSent === true">
                <p class="alert alert-success">
                    <strong>Verification code sent</strong><br />
                    Please check <strong>{{ account.smsVerification }}</strong> and enter the code below:
                </p>
                <div class="col-1-2" ng-show="signup.smsVerificationSent === true">
                    <input type="text" ng-model="account.smsCodeVerification" placeholder-translate="Code verification" />
                </div>
                <div class="col-1-2">
                    <button type="button" class="pm_button link" ng-click="signup.smsVerificationSent = false" translate-context="Action" translate>Send new code</button>
                </div>
            </div>
        </div>

        <div ng-show="verificator === 'recaptcha'" id="recaptchaFrame">
            <p>&nbsp;</p>
            <h3 translate-context="Title" translate>reCAPTCHA verification</h3>
            <span class="loading"  translate>Loading...</span>
            <iframe id="pm_captcha" sandbox="allow-scripts allow-same-origin"></iframe>
        </div>

        <div class="text-center">
            <button type="button" class="pm_button primary large" ng-click="createAccount()" ng-disabled="account.codeVerification === '' && account.captcha_token === false && account.smsCodeVerification === ''" translate translate-context="Action">Complete setup</button>
        </div>
    </div>
</div>

<div class="pm_panel wide" ng-show="genNewKeys">
    <div class="text-center header">
        <img src="/assets/img/decrypt1.gif" class="loader" style="margin: 0 auto 1rem auto" />
        <h2 class="text-center" ng-show="!signupError" translate translate-text="Title">Generating keys...</h2>
    </div>
    <p class="alert" translate-context="Info" translate>This can take a few seconds or a few minutes depending on your device.</p>
</div>

<div class="pm_panel wide" ng-show="creating" id="signUpProcess">
    <div class="text-center header">
        <img src="/assets/img/decrypt1.gif" class="loader" style="margin: 0 auto 1rem auto" ng-show="creating && !signupError" />
        <h2 class="text-center" ng-show="!signupError"  translate>Creating account</h2>
        <h2 class="text-center" ng-show="signupError" translate-context="Error" translate>Sign up failed</h2>
    </div>
    <p class="alert alert-danger" ng-show="signupError" translate-context="Error" translate>An error occured while trying to create your account. To see common problems and solutions <a target='_blank' href='https://protonmail.com/support/knowledge-base/common-sign-up-problems-and-solutions/'>click here</a>.</p>
    <div class="wrapper text-left">
        <ol id="creationList">
            <li class="done">
                <i class="show fa fa-check"></i>
                <span translate>Generating keys</span>
            </li>
            <li ng-class="{ 'done': createUser }">
                <i ng-class="{ 'show': createUser }" class="fa fa-check"></i>
                <span translate>Creating new user</span>
            </li>
            <li ng-class="{ 'done': logUserIn }">
                <i ng-class="{ 'show': logUserIn }" class="fa fa-check"></i>
                <span translate>Verifying new account</span>
            </li>
            <li ng-class="{ 'done': decryptAccessToken }">
                <i ng-class="{ 'show': decryptAccessToken }" class="fa fa-check"></i>
                <span translate>Verifying encryption keys</span>
            </li>
            <li ng-class="{ 'done': mailboxLogin }">
                <i ng-class="{ 'show': mailboxLogin }" class="fa fa-check"></i>
                <span translate>Loading new account</span>
            </li>
            <li ng-class="{ 'done': getUserInfo }">
                <i ng-class="{ 'show': getUserInfo }" class="fa fa-check"></i>
                <span translate>Done</span>
            </li>
            <li ng-class="{ 'done': finishCreation }">
                <i ng-class="{ 'show': finishCreation }" class="fa fa-check"></i>
                <span translate>Redirecting</span>
            </li>
        </ol>
    </div>
</div>
<div id="pm_footer" class="static">
    <p  translate>&copy; 2016 ProtonMail.com - Made globally, hosted in Switzerland.</p>
</div>
