<div class="container-fluid">

    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>

    <p class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        Custom themes from third-parties can potentially betray your privacy. Only use themes from trusted sources.
    </p>

    <p class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        We update our codebase constantly. Themes may be unstable or not work between updates.
    </p>

    <form novalidate ng-submit="saveTheme(themeForm)" name="themeForm">
        <div class="well well-sm">
            <div class="form-group" ng-class="{'has-error': themeForm.cssTheme.$touched && themeForm.cssTheme.$error.required}">
                <label for="cssTheme" class="control-label">CSS Theme Code</label>
                <textarea class="form-control" placeholder="Paste theme code here" id="cssTheme" name="cssTheme" ng-model="cssTheme" required maxlength="9000"></textarea>
                <p class="help-block">Themes are limited to 9000 characters or less.</p>
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-sm btn-default" ng-click="clearTheme()">Clear</button>
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
            </div>
        </div>
    </form>

</div>
