<ng-include src="'templates/partials/header.tpl.html'" id="header"></ng-include>
<div id="content">
    <div class="container-fluid">
        <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>
        <p class="alert alert-warning">
            Custom themes from third-parties can potentially betray your privacy. Only use themes from trusted sources.
        </p>
        <p class="alert alert-warning">
            We update our codebase constantly. Themes may be unstable or not work between updates.
        </p>
        <form novalidate ng-submit="saveTheme(themeForm)" name="themeForm">
            <div class="well well-sm">
                <div class="form-group" ng-class="{'has-error': themeForm.cssTheme.$touched && themeForm.cssTheme.$error.required}">
                    <label for="cssTheme" class="control-label">{{ 'CSS_THEME_CODE' | translate }}</label>
                    <textarea class="form-control no-resize" placeholder="{{ 'PASTE_THEME_CODE_HERE' | translate }}" id="cssTheme" name="cssTheme" ng-model="cssTheme" required maxlength="9000"></textarea>
                    <p class="help-block">{{ 'THEMES_ARE_LIMITED' | translate }}.</p>
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-sm btn-default" ng-click="clearTheme()">{{ 'CLEAR' | translate }}</button>
                    <button type="submit" class="btn btn-sm btn-primary">{{ 'SAVE' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>