<div class="panel-body">
<h1 class="text-center"><span class="fa fa-2x faded fa-inbox"></span>Decrypt Mailbox</h1>
<fieldset class="pure-form">
  <div id="pwcalert" class="alert alert-danger" ng-if="error">
    <p>{{ error.message }}</p>
    <p><a href="/pages/faq#faq1" target="_blank">Related FAQ</a></p>
  </div><!--/#pwcalert-->
  <div class="form-group">
    <input class="form-control" autofocus type="password" id="mailboxPassword" name="MailboxPassword" placeholder="Mailbox Password" value="">
  </div><!--/.form-group-->
  <a href="/support/login-form" class="pull-left login-support btn btn-default" target="_blank">Can't login?</a>
  <button data-loading-text="Decrypting..." type="button" id="enck" class="btn btn-primary pull-right" ng-click="decrypt()">Decrypt Mailbox</button>
</fieldset>
</div><!--/.panel-body-->