<div class="panel-body panel-thick">
<h1 class="text-center"><span class="fa fa-2x faded fa-inbox"></span>Decrypt Mailbox</h1>
<fieldset class="pure-form">
  <div id="pwcalert" class="alert alert-danger" ng-if="error">
    <p>{{ error.message }}</p>
    <p><a href="/pages/faq#faq1" target="_blank">Related FAQ</a></p>
  </div><!--/#pwcalert-->
  <div class="form-group">
  <input class="form-control" autofocus type="password" ng-keypress="keypress($event)" name="MailboxPassword" ng-model="mailboxPassword" placeholder="Mailbox Password" value="">
  </div><!--/.form-group-->
  <a href="/support/login-form" class="pull-left login-support btn btn-link" target="_blank">Need help?</a>
  <button type="button" id="enck" class="btn btn-default pull-right" ng-class="{disabled: networkActivity.loading()}" ng-click="tryDecrypt()">
    <span class="fa"></span>
    <span>Decrypt</span>
  </button>
</fieldset>
</div><!--/.panel-body-->
