<div class="panel panel-default wrap panel-dark panel-medium" id="unlockPanel">
    <div class="panel-heading logoWrap">
        <a href="/"><img src="/assets/img/protonmail.svg" alt="ProtonMail" class="logo" /></a>
    </div>
    <div class="panel-body">
        <h3 class="text-center">
            <span class="fa fa-inbox title-icon"></span>
            {{ 'DECRYPT_MAILBOX' | translate }}
        </h3>
        <p class="text-center">{{ user.Addresses[0].Email }}</p>
        <fieldset class="pure-form">
            <form novalidate role="form" autocomplete="on" ng-submit="tryDecrypt()">
                <div class="form-group">
                    <input autocomplete="on" autocapitalize="off" autocorrect="off" class="form-control dark password" autofocus type="password" ng-keypress="keypress($event)" name="Password" ng-model="mailboxPassword" placeholder="Mailbox Password" value="" />
                </div>
                <a ui-sref="reset" class="login-support btn">{{ 'FORGOT_PASSWORD?' | translate }}</a>
                <button type="submit" id="enck" class="btn btn-primary pull-right" ng-class="{disabled: networkActivity.loading()}">
                    <span>{{ 'UNLOCK' | translate }}</span>
                </button>
            </form>
        </fieldset>
    </div>
</div>
