<div id="pm_settings">

    <ng-include src="'templates/partials/menu.settings.tpl.html'"></ng-include>

    <div class="settings" pt-height>
        <div class="row">
            <section class="setting pm_form full">
                <legend>{{ 'ORGANIZATION' | translate }}</legend>
                <div class="pm_grid">
	            	<div class="col-1-2">
		            	<form name="form_organization" ng-submit="saveOrganizationName()" novalidate="">
	            			<div class="col left">
	            				<label for="orgName">{{ 'ORGANIZATION_NAME'| translate }}</label>
	            			</div>
	            			<div class="col right">
	            				<input id="orgName" name="name" type="text" class="margin" ng-model="organization.name" placeholder="{{ 'ORGANIZATION_NAME' | translate }}" ng-minlength="0" ng-maxlength="100" required="" />
                                <!-- <div ng-messages="form_organization.name.$error" ng-show="form_organization.name.$touched" role="alert">
                                    <div ng-message="required"><small>You did not enter a field</small></div>
                                    <div ng-message="minlength"><small>Your field is too short</small></div>
                                    <div ng-message="maxlength"><small>Your field is too long</small></div>
                                </div> -->
                                <button class="pm_button primary" type="submit">{{ 'SAVE'| translate }}</button>
	            			</div>
	            		</form>
	            	</div>
	            	<div class="col-1-2">
	                    <table class="pm_table plain" id="usersTable">
	                        <tbody>
	                        	<tr>
		                            <th width="7rem">{{ 'NUMBER_OF_USER'| translate }}: </th>
		                            <td>
		                                <strong>2 of 2 used</strong>
		                            </td>
		                            <td class="text-right">
		                            	<span>
		                                    <a href="" ui-sref="secured.dashboard">{{ 'UPGRADE'| translate }}</a>
		                                </span>
		                            </td>
		                        </tr>
		                        <tr>
		                            <th>{{ 'ORGANIZATION_STORAGE'| translate }}:</th>
		                            <td>
		                                <strong>10.000 MB</strong>
		                            </td>
		                            <td class="text-right">
		                                <span>
		                                    <a href="" ui-sref="secured.dashboard">{{ 'UPGRADE'| translate }}</a>
		                                </span>
		                            </td>
		                        </tr>
		                    </tbody>
	                    </table>
	                    <p>
		                    <small><i class="fa fa-info-circle text-purple"></i> ProtonMail business accounts can create subaccounts which are used by other members of your organization.</small>
	                    </p>
	            	</div>
	            </div>
            </section>
        </div>

        <div class="row">
            <section class="setting pm_form full">
                <legend>{{ 'USERS' | translate }}</legend>
                <p>
                    <button type="button" class="pm_button primary" ng-click="openUserModal()">{{ 'ADD_NEW_USER'| translate }}</button>
                </p>
                <table class="pm_table hidden-xs" id="userTable">
		            <thead>
		                <tr>
		                    <th class="username">{{ 'USERNAME'| translate }}</th>
		                    <th class="role">{{ 'ROLE'| translate }}</th>
		                    <th class="storage">{{ 'STORAGE'| translate }}</th>
		                    <th class="addresses">{{ 'ADDRESSES'| translate }}</th>
		                    <th class="actions">{{ 'ACTIONS'| translate }}</th>
		                </tr>
		            </thead>
		            <tbody>
						<tr ng-repeat="member in members">
		                    <td class="username">
		                        <span ng-bind="member.DisplayName" title="{{ member.UserName }}"></span>
		                    </td>
		                    <td class="role">
		                    	<span class="pm_select">
									<select ng-model="member.selectRole" ng-init="initRole(member)" ng-options="role.label for role in roles" ng-change="changeRole(member)"></select>
			                        <i class="fa fa-angle-down"></i>
			                    </span>
		                    </td>
		                    <td class="storage">{{ member.UsedSpace | bytes: 0 }}</td>
		                    <td class="addresses">
                                <div ng-repeat="address in addressesOf(member) | orderBy: 'Send'">
                                    {{ address.Email }} <small ng-show="address.Send === 0">(DEFAULT)</small>
                                </div>
                            </td>
		                    <td class="actions">
			                    <button type="button" class="pm_button round" ng-click="managePasswords(member)" pt-tooltip="{{ 'MANAGE_PASSWORDS'| translate }}">
                                    <i class="fa fa-cog"></i>
                                </button>
			                    <button type="button" class="pm_button round" ng-click="generateKeys(member)" pt-tooltip="{{ 'GENERATE_KEYS'| translate }}">
                                    <i class="fa fa-key"></i>
                                </button>
			                    <button type="button" class="pm_button round" ng-click="enterMailbox(member)" pt-tooltip="{{ 'ENTER_MAILBOX'| translate }}">
                                    <i class="fa fa-inbox"></i>
                                </button>
							</td>
		                </tr>
		            </tbody>
		        </table>
            </section>
        </div>
    </div>
</div>
