.customVpnModal-body.customVpnModal-from-free .vpnSlider-container,
.customVpnModal-body.customVpnModal-from-plus .vpnSlider-container { display: none }
.customVpnModal-body.customVpnModal-from-free .vpnTotal-container,
.customVpnModal-body.customVpnModal-from-plus .vpnTotal-container { display: none }
.customVpnModal-remove {
    border: 0;
    background: transparent;
    color: $primary;
    text-decoration: underline;
}