.settingsDashboard-plans-devise {
    display: flex;
    flex-direction: column;
}

.settingsDashboard-plans-devise-label {
    display: flex;
    align-items: center;
}

.settingsDashboard-plans-devise-label-link { margin-left: 5px }
.settingsDashboard-plans-devise-label > label { font-weight: bold }
