// dashbard plans

.settingsDashboard-plans-subheader {
    display: flex;
    margin-bottom: 1em;
}

.settingsDashboard-plans {
    display: flex;
    width: 100%;
    overflow: auto;
    padding-bottom: 2em;
    @import "dashboard-plan";
}

[class*='Column-container'] {
    flex: 1;
    min-width: 275px;
}

/* context */
.settingsDashboard-plans.showVpn {
    .totalRows-container[data-plan='free'] { display: flex }
    .freeColumn-free { display: none }
    [class*='Column-footer'] {
        height: inherit;
        .addVpn-button,
        .vpnIncluded { display: none }
    }
}
.settingsDashboard-plans:not(.showVpn) {
    .totalRows-container[data-plan='free'] { display: none }
    .freeColumn-free { display: flex }
}

.settingsDashboard-plans:not(.showVpn) .freeColumn-header .totalPlan { display: none }

.settingsDashboard-plans.free-active .freeColumn-container,
.settingsDashboard-plans.plus-active .plusColumn-container,
.settingsDashboard-plans.professional-active .professionalColumn-container,
.settingsDashboard-plans.visionary-active .visionaryColumn-container {
    border-width: 2px;
    border-color: $primary;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
