@import '../../components/dashboard/overviewSection';

.settingsDashboard-overview-section {
    display: flex;
    flex-direction: column;
    min-height: 0px
}
.settingsDashboard-overview-section-table-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid $border;
}

.settingsDashboard-btn-donation .donateBtn-icon { display: none }

.settingsDashboard-overview-section-table-container .overviewSection-container {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 15px 0 0 0;

    .overviewSection-tbody,
    .overviewSection-tbody-billing {
        display: flex;
        flex-direction: column;

        > tr {
            display: flex;
            flex-shrink: 0;
            padding: 0 10px;

            & > td,
            & > th {
                display: flex;
                align-items: center;
                padding: .5em;

            }

            & > th {
                width: 150px;
                text-align: left;
            }
        }
    }

    .overviewSection-storage {
        flex-direction: column;
        flex: 1;
    }

    .overviewSection-storage > * { width: 100% }
    .overviewSection-storage .storageBar { margin-top: 0 }

    .overviewSection-tbody-billing {
        flex: 1 0 auto;
        padding: 1em 0;
        background:url(assets('img/triangle-down.svg')) #F8F8F8 repeat-x 0px -2px;
        background-size: 8px;
    }

}
