.totalRows-container > label {
    display: flex;
    cursor: pointer;
}

.totalRows-container > label  [class*='-left'],
.totalRows-container > label  [class*='-right'] { display: flex }

.totalRows-container:not(.totalRows-has-2-years) .totalRows-label-2-year { display: none }

.totalRows-cycle {
    flex-grow: 1;
    min-width: 1px; /*IE*/
    white-space: nowrap;
    margin-left: 4px;
}

.totalRows-label-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    width: 100%;
}

.totalRows-wrapper {
    text-align: right;
}

.totalRows-monthly-price,
.totalRows-yearly-price,
.totalRows-2-years-price {
    font-size: 1.1rem;
    color: $primary
}

.totalRows-billed-price { opacity: .8 }

.totalRows-container .customRadio-container { width: auto }

.totalRows-label-yearly { position: relative }

.totalRows-discount {
    margin-left: 4px;
    padding: 1px 3px;
    font-weight: bold;
    font-size: .85em;
    color: $discount;
    border: 1px solid $discount;
    border-radius: $border-radius;

    &:hover {
        color: $white;
        background-color: $discount;
    }
}

.totalRows-2-years-billed-price {
    font-size: 75%;
}

body.appConfigBody-is-mobile {
    .totalRows-container > label {
        flex-direction: column;
        padding: .5em;
        overflow: hidden;
    }

    .totalRows-container > label  [class*='-left'] {
        align-items: center;
        align-self: flex-start;
    }

    .totalRows-container > label  [class*='-right'] {
         align-items: flex-start;
         text-align: left;
         padding-left: 75px;
    }

    .totalRows-container .customRadio-container { transform: scale(.8) }
}

// context
.plusColumn-container .vpnRow-has-vpn + .totalRows-container .totalRows-discount-without-vpn,
.professionalColumn-container .vpnRow-has-vpn + .totalRows-container .totalRows-discount-without-vpn { display: none }
.plusColumn-container .vpnRow-container:not(.vpnRow-has-vpn) + .totalRows-container .totalRows-discount-with-vpn,
.professionalColumn-container .vpnRow-container:not(.vpnRow-has-vpn) + .totalRows-container .totalRows-discount-with-vpn { display: none }
.freeColumn-container .totalRows-discount-with-vpn,
.visionaryColumn-container .totalRows-discount-with-vpn { display: none }
