.vpnSlider-vpnplus-selected .vpnSlider-vpnbasic-info { display: none }
.vpnSlider-vpnbasic-selected .vpnSlider-vpnplus-info { display: none }
.vpnSlider-vpnbasic-info,
.vpnSlider-vpnplus-info {
    font-style: italic;
}
.vpnSlider-container:not(.vpnSlider-vpnplus-selected) .slider {
    background-color: $light;
    border-radius: $border-radius;
    * {
        opacity: 0.9;
        pointer-events: none;
    }
    .noUi-value,
    .noUi-tooltip { display: none }
}
