/* fix bug on Chrome */
body {
  @extend .no-scroll;
}
/* === page === */
.aside {
  background: var(--main-bg-color, $pm-global-grey);
  width: $aside-bar-width;
  min-height: 100vh;
  color: $pm-global-light;
  flex-shrink: 0;
  position: relative;
  z-index: 5;
  padding-top: 1.7em;
}

.aside-link {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 7px;
  background: var(--bgcolor-aside-link, $pm-global-altgrey);

  &:focus, 
  &:hover, 
  &:active,
  &[aria-current="true"] {
    background: $white;
    color: $pm-blue;

    .aside-linkIcon {
      fill: $pm-blue;
    }

  }
}
.aside-linkIcon {
  width: 17px;
  height: 17px;
}

.togglemenu {
  margin-top: 1.8rem;
  padding-bottom: 1rem;
}

.content {
  background-image: -webkit-linear-gradient(top, var(--main-bg-color, $pm-global-grey), var(--secondary-bg-color, $pm-global-altgrey) ); 
  background-image: linear-gradient(to bottom, var(--main-bg-color, $pm-global-grey), var(--secondary-bg-color, $pm-global-altgrey) );
  /*display: grid;
  grid-template-areas:
      "header header"
      "sidebar content";
      grid-template-columns: 180px auto;
      grid-template-rows: 60px auto;
 */
}

.header {
  padding: 1rem 2rem 1rem 0;
  height: $header-height;
}
.sidebar {
  min-height: calc(100vh - #{$header-height});
  max-height: calc(100vh - #{$header-height});
  width: var(--width-sidebar, $width-sidebar);
  visibility: visible;
  transition: visibility 0s ease, transform 1s ease, width .6s ease , opacity 1s ease ;
  transition-delay: 0s;
  overflow: auto;
}

.logo-container {
  padding-left: 2rem;
  width: var(--width-sidebar, #{$width-sidebar});
}
.logo {
  width: 148px;
  height: 36px;
  margin-top: 5px;
}
.logo g {
  fill: var(--fillcolor-logo, $pm-global-light);
}
.logo .plan {
  fill: $plan-logo-color;
  font-size: 1rem;
}


.navigation__link {
  padding: .75rem 1rem .75rem 3rem;
  line-height: 1.3;
  color:  var(--color-nav-link, $pm-global-light);
  text-decoration: none;
  display: block;
}

@if $rtl-option == true {
  [dir="rtl"] {
    .navigation__link {
      padding: .75rem 3rem .75rem 1rem;
    }
  }
}

.has-scroll-inside-navigation > .spacebar-container::before {
  content: '';
  position: absolute;
  top: -2em;
  right: 0;
  left: 0;
  height: 2em;
  background: linear-gradient(to top, var(--main-bg-color, rgba(0, 0, 0, .4) ) 0, rgba($black, 0) 2em);
}

.navigation__link:focus,
.navigation__link:hover {
  background: rgba(255,255,255,.05);
  color:  var(--color-nav-link, $pm-global-light);
  text-decoration: none;
}

.animated-expandmore__button {
  color:  var(--color-nav-link, $pm-global-light);
  padding: 1rem 1rem 1rem 2rem;
  width: 100%;
  text-align: left;
}
@if $rtl-option == true {
  [dir="rtl"] {
    .animated-expandmore__button {
      padding: 1rem 2rem 1rem 1rem;
      text-align: right;
    }
  }
}
.animated-expandmore__button:focus,
.animated-expandmore__button:hover {
  background: rgba(255,255,255,.05);
}
[aria-expanded="true"].animated-expandmore__button,
.animated-expandmore__button:active,
[aria-current="page"].navigation__link {
  background: var(--main-bg-color, $pm-global-grey);
  color: var(--color-nav-active, $pm-blue);
  font-weight: bold;
}

/* This is the opened state */
.animated-expandmore__to_expand {
  display: block;
  overflow: hidden;
  opacity: 1;
  transition: visibility 0s ease, transform .5s ease, opacity .5s ease, max-height .5s ease ;
  transform-origin: top center;
  transform: scale(1,1);
  max-height: 38em;
  visibility: visible;
  transition-delay: 0s;
  margin: 0;
}
/* This is the hidden state */
[data-hidden=true].animated-expandmore__to_expand {
  display: block;
  opacity: 0;
  max-height: 0;
  visibility: hidden !important;
  transform: scale(1,0);
  transition-delay: .5s, 0s, 0s, 0s;
}


.main {
  border-radius: 4px 4px 0 0;
  margin-right: 20px;
  z-index: 1; // in case of drop shadow  
  box-shadow: var(--boxshadow-main, none);
}
@if $rtl-option == true {
  [dir="rtl"] {
    .main {
      margin-right: 0;
      margin-left: 20px;
    }
  }
}
.toolbar {
  min-height: $toolbar-height;
  background: var(--bgcolor-toolbar, $pm-global-altgrey);
  border-radius: 4px 4px 0 0;
  & svg {
    fill: var(--fillcolor-icons, $white);
  }
}
.main-area,
.main-area--withToolbar,
.main-full {
  background: $white;
  color: $pm-global-grey;
  height: calc(100vh - #{$header-height} );
  overflow: auto;
}
.main-area {
  border-radius: 4px 4px 0 0;
}
.main-area--withToolbar {
  height: calc(100vh - #{$header-height} - #{$toolbar-height} );  
}
.main-full {
  height: 100vh;
}
.main-area--withToolbar.no-scroll {
  overflow: hidden;
}

.subnav {
  width: var(--width-subnav, $subnav-width);
}
.subnav-inner {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 2em;
}
.subnav-link {
  @extend .nodecoration;
  @extend .color-global-grey;
}
[aria-current="true"].subnav-link {
  font-weight: bold;
}