/* fix bug on Chrome */
body {
  @extend .no-scroll;
}
/* === page === */
.aside {
  background: $pm-global-grey;
  width: $aside-bar-width;
  min-height: 100vh;
  color: $pm-global-light;
  flex-shrink: 0;
  position: relative;
  z-index: 5;
  padding-top: 1.7em;
}

.aside-link {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 7px;
  background: $pm-global-altgrey;

  &:focus, 
  &:hover, 
  &:active,
  &[aria-current="true"] {
    background: $white;
    color: $pm-blue;

    .aside-linkIcon {
      fill: $pm-blue;
    }

  }
}
.aside-linkIcon {
  width: 17px;
  height: 17px;
}

.togglemenu {
  margin-top: 1.8rem;
  padding-bottom: 1rem;
}

.content {
  background-image: -webkit-linear-gradient(top, $pm-global-grey, $pm-global-altgrey); 
  background-image: linear-gradient(to bottom, $pm-global-grey, $pm-global-altgrey);
  /*display: grid;
  grid-template-areas:
      "header header"
      "sidebar content";
      grid-template-columns: 180px auto;
      grid-template-rows: 60px auto;
 */
}

.header {
  padding: 1rem 2rem;
  height: $header-height;
}
.sidebar {
  min-height: calc(100vh - $header-height);
  max-height: calc(100vh - $header-height);
  width: $width-sidebar;
  visibility: visible;
  transition: visibility 0s ease, transform 1s ease, width .6s ease , opacity 1s ease ;
  transition-delay: 0s;
  overflow: auto;
}

.logo {
  width: 148px;
  height: 36px;
  margin-top: 5px;
}
.logo g {
  fill: $pm-global-light;
}
.logo .plan {
  fill: $plan-logo-color;
  font-size: 1rem;
}

.navigation__link {
  padding: .75rem 1rem .75rem 3rem;
  line-height: 1.3;
  color: $pm-global-light;
  text-decoration: none;
  display: block;
}

@if $rtl-option == true {
  [dir="rtl"] {
    .navigation__link {
      padding: .75rem 3rem .75rem 1rem;
    }
  }
}

.has-scroll-inside-navigation > .spacebar-container::before {
  content: '';
  position: absolute;
  top: -2em;
  right: 0;
  left: 0;
  height: 2em;
  background: linear-gradient(to top, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, 0) 2em);
}

.navigation__link:focus,
.navigation__link:hover {
  background: rgba(255,255,255,.05);
  color: $pm-global-light;
  text-decoration: none;
}

.animated-expandmore__button {
  color: $pm-global-light;
  padding: 1rem 1rem 1rem 2rem;
  width: 100%;
  text-align: left;
}
@if $rtl-option == true {
  [dir="rtl"] {
    .animated-expandmore__button {
      padding: 1rem 2rem 1rem 1rem;
      text-align: right;
    }
  }
}
.animated-expandmore__button:focus,
.animated-expandmore__button:hover {
  background: rgba(255,255,255,.05);
}
[aria-expanded="true"].animated-expandmore__button,
.animated-expandmore__button:active {
  background: $pm-global-grey;
  color: $pm-blue;
  font-weight: bold;
}
[aria-current="page"].navigation__link {
  color: $pm-blue;
  font-weight: bold;
}

/* This is the opened state */
.animated-expandmore__to_expand {
  display: block;
  overflow: hidden;
  opacity: 1;
  transition: visibility 0s ease, transform .5s ease, opacity .5s ease, max-height .5s ease ;
  transform-origin: top center;
  transform: scale(1,1);
  max-height: 38em;
  visibility: visible;
  transition-delay: 0s;
  margin: 0;
}
/* This is the hidden state */
[data-hidden=true].animated-expandmore__to_expand {
  display: block;
  opacity: 0;
  max-height: 0;
  visibility: hidden !important;
  transform: scale(1,0);
  transition-delay: .5s, 0s, 0s, 0s;
}


.main {
  border-radius: 4px 4px 0 0;
  margin-right: 20px;
}
@if $rtl-option == true {
  [dir="rtl"] {
    .main {
      margin-right: 0;
      margin-left: 20px;
    }
  }
}
.toolbar {
  min-height: $toolbar-height;
  background: $pm-global-altgrey;
  border-radius: 4px 4px 0 0;
}
.main-area,
.main-area--withToolbar,
.main-full {
  background: $white;
  color: $pm-global-grey;
  height: calc(100vh - #{$header-height} );
  overflow: auto;
}
.main-area {
  border-radius: 4px 4px 0 0;
}
.main-area--withToolbar {
  height: calc(100vh - #{$header-height} - #{$toolbar-height} );  
}
.main-full {
  height: 100vh;
}

.main-area-content {
  padding: 2em;
}

.subnav {
  width: $subnav-width;
  height: calc(100vh - #{$header-height} - #{$toolbar-height});
}
.subnav-inner {
  position: sticky;
  top: 0;
  padding: 2em;
}
.subnav-link {
  @extend .nodecoration;
  @extend .color-global-grey;
}
[aria-current="true"].subnav-link {
  font-weight: bold;
}



.is-whitemode {

  &.body {
    background: $pm-global-light;
    color: $pm-global-grey;
  }

  .aside {
    background: $pm-global-border;
  }
  .content {
    background: $pm-global-light;
  }
  .logo g,
  .aside-link .fill-global-light {
    fill: $pm-global-grey;
  }
  .aside-link,
  .togglemenu {
    background: $white;
  }
  .navigation__link,
  .togglemenu,
  .toogle-white,
  .progressBar-container > span {
    color: $pm-global-grey;
  }
  .toolbar {
    background: $pm-global-border;
  }

  .animated-expandmore__button {
    background: $pm-global-light;
    color: $pm-global-grey;
  }
  .animated-expandmore__button:focus,
  .animated-expandmore__button:hover {
    background: rgba(0,0,0,.05);
    color: $pm-global-grey;
  }

}

/* widths for tests or examples */
.icon-800p {
  display: inline-block;
  width: 800px;
  height: 800px;
}

.twitter-link > .icon-twitter {
  fill: $pm-blue;
}
.twitter-link:focus,
.twitter-link:hover,
.twitter-link:active {
  & > .icon-twitter {
    fill: $pm-blue-dark;
  }
}






/* prism */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
 code {
  display: inline-block;
  font-size: 1.1em;
  padding: .25em;
  border-radius: 5px;
  background: $pm-global-light;
  line-height: 1;
}

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, monospace;
	text-align: left;
	/*white-space: pre;*/
	word-spacing: normal;
  font-size: 1.6rem;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
  border-radius: 5px;
}

@if $rtl-option == true {
  [dir="rtl"] {
    code[class*="language-"],
    pre[class*="language-"] {
      text-align: right;
    }
  }
  [dir="ltr"] {
    code[class*="language-"],
    pre[class*="language-"] {
      text-align: left;
    }
  }
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;	
}

pre[class*="language-"].m0 {
  margin: 0;
}



:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: $pm-global-light;
  
}


/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
  font-size: .8em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #344559;
}

.token.punctuation {
	color: #4A4646;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number, 
.token.function, .token.class-name,
.token.constant {
	color: #905;
}


.token.selector,
.token.attr-name,
.token.string {
	color: #085300;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #803C24;
	background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #0227A9;
}


.token.regex,
.token.important {
	color: #e90;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}