/* color */
.square-color {
    width: 100px;
    height: 100px;
}



/* DOs/DONTs */
.icon-ko::after,
.icon-ok::after {
    content: '⚠';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 .5em 0 0;
    font-size: 2em;
    color: $pm-global-warning;
}
.icon-ok::after {
    content: '✔';
    color: $pm-global-success;
}
@if $rtl-option == true {
  [dir="rtl"] {
    .icon-ko::after,
    .icon-ok::after {
      left: 0;
      right: auto;
      padding: 0 0 0 .5em;
    }
  }
}


/* 404 */
.rotate-90 {
  transform: rotateZ(90deg);
  transform-origin: 50% 50%;
}


/* CSS icons, for reference */
[class*="sprite-css-"] {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.sprite-css-search {
  background-image: url("#{$path-images}sprite-for-css-only.svg#css-search");
}
.sprite-css-search-rtl {
  background-image: url("#{$path-images}sprite-for-css-only.svg#css-search-rtl");
}
.sprite-css-caret {
  background-image: url("#{$path-images}sprite-for-css-only.svg#css-caret");
}
.sprite-css-caret-close {
  background-image: url("#{$path-images}sprite-for-css-only.svg#css-caret-close");
}
.sprite-css-greater {
  background-image: url("#{$path-images}sprite-for-css-only.svg#css-greater");
}
.sprite-css-lesser {
  background-image: url("#{$path-images}sprite-for-css-only.svg#css-lesser");
}
.sprite-css-dash {
  background-image: url("#{$path-images}sprite-for-css-only.svg#css-dash");
}
.sprite-css-on {
  background-image: url("#{$path-images}sprite-for-css-only.svg#css-on");
}


/* Sass variables */
.highlight {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 666;
    animation: highlight 2s 3 linear; 
    background-color: $pm-global-warning;
  }
  
}
@keyframes highlight {
  0% { opacity: .8; }
  100% { opacity: 0; }
}


/* widths for tests or examples for icons */
.icon-800p {
  display: inline-block;
  width: 800px;
  height: 800px;
}

.twitter-link > .icon-twitter {
  fill: $pm-blue;
}
.twitter-link:focus,
.twitter-link:hover,
.twitter-link:active {
  & > .icon-twitter {
    fill: $pm-blue-dark;
  }
}
