/*
 * BIGGER than large breakpoint
 */

//@include respond-to(1800, 'min') {

  // it will be back, so left in comment :-]
  // :root {
  //   --body-fontsize: 1.6rem;
  // }
// }





/**
 * large breakpoint
 */
 @include respond-to($breakpoint-large, 'min') {

  :root {
    --width-sidebar: 25rem;
    --width-subnav: 25rem;
  }

  .container-section-sticky {
    max-width: 75vw;
  }
}
//  @include respond-to($breakpoint-large) {

//   /**
//    * global structure adaptation (page / skip links / header / main content / footer)
//    */

//   /**
//    * inside content (other styles for pages)
//    */


// }





/**
 * medium/tablet breakpoint
 */
//@include respond-to($breakpoint-medium) {

  /**
   * global structure adaptation (page / skip links / header / main content / footer)
   */


  /**
   * inside content (other styles for pages)
   */

//}




/**
 * small/mobile breakpoint
 */
@include respond-to($breakpoint-small) {

  /**
   * global structure adaptation (page / skip links / header / main content / footer)
   */
  .main {
    margin-right: 0;
    border-radius: 0;
  }
  .sidebar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 500;
    width: 100%;
    background-image: linear-gradient(to bottom, var(--main-bg-color, $pm-global-grey), var(--secondary-bg-color, $pm-global-altgrey) );
    transform-origin: 0 50%;
    transition: 0s visibility ease, .25s transform ease;
    transition-delay: 0s;
    max-width: 100%;
    width: 100%;
    max-height: none;
    padding-top: 1em;
  }
  .sidebar[data-expanded="false"] {
    transform: translateX(-100%);
    visibility: hidden;
    transition-delay: .25s, 0s;
  }
  .sidebar[aria-hidden="true"] {
    transform: translateX(0);
  }

  .hamburger {
	color: $white;
	flex-shrink: 0; // this has to stay
  }
  .topnav-container {
	  flex-shrink: 0;    // this has to stay
	  margin-left: auto; // case of mail display
  }

  /**
   * inside content (other styles for pages)
   */




}



/**
 * tiny/small mobile breakpoint
 */
// @include respond-to($breakpoint-tiny) {

//   /**
//    * global structure adaptation (page / skip links / header / main content / footer)
//    */

// }
