/*
 * BIGGER than large breakpoint
 */

@include respond-to(1800, 'min') { 

  :root {
    --body-fontsize: 1.6rem;
  }
  .container-section-sticky {
    max-width: 65em;
  }
}


@include respond-to($breakpoint-large, 'min') { 

  :root {
    --width-sidebar: 15vw;
    --width-subnav: 15vw;
  }
  .container-section-sticky {
    max-width: 55vw;
  }
}


/**
 * large breakpoint
 */
 @include respond-to($breakpoint-large) { 
   
  /**
   * global structure adaptation (page / skip links / header / main content / footer)
   */

  
  /**
   * inside content (other styles for pages)
   */
  
  
  .colortile { width: 50%; }

  /* color rules */
  .color-tab:nth-child(-n+3) {
    flex-basis: 33%;
  }

}




/**
 * large breakpoint
 */
 @include respond-to(1050) { 
  
  /**
   * inside content (other styles for pages)
   */
  .colortile { width: 100%; }

  .toggle-color-mode { display: none; }

}


/**
 * medium/tablet breakpoint
 */
@include respond-to($breakpoint-medium) { 
   
  /**
   * global structure adaptation (page / skip links / header / main content / footer)
   */

  .ontablet-list-1column {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
  
  /**
   * inside content (other styles for pages)
   */

  .color-tab:nth-child(-n+3),
  .color-tab {
    flex-basis: 100%;
  }

}




/**
 * small/mobile breakpoint
 */
@include respond-to($breakpoint-small) { 

  /**
   * global structure adaptation (page / skip links / header / main content / footer)
   */
  .main {
    margin-right: 10px;
  }
  .aside:not(.aside-noBurger) {
    padding-top: .25em;
  }
  
  /**
   * inside content (other styles for pages)
   */

  .sidebar[aria-hidden="true"] {
    transform: translateX(calc( var(--width-sidebar, #{$width-sidebar}) * (-1) ));
    width: 0;
    visibility: hidden;
    opacity: 0;
    transition-delay: 1s, 0s, 0s, 0s;
  }
  @if $rtl-option == true {
    [dir="rtl"] {
      .sidebar[aria-hidden="true"] {
        transform: translateX( var(--width-sidebar, #{$width-sidebar}) );
      }
    }
  }
  /* nesting visibility, see https://codepen.io/nico3333fr/pen/OaBOwa for explanation */
  .sidebar[aria-hidden="true"] .animated-expandmore__to_expand {
    visibility: hidden;
    transition-delay: 1s, 0s, 0s, 0s;
  }

}



/**
 * tiny/small mobile breakpoint
 */
@include respond-to($breakpoint-tiny) { 

  /**
   * global structure adaptation (page / skip links / header / main content / footer)
   */

}
