h1,
.h1 {
  display: block;
  @include flow-hr($size-h1);
  font-weight: normal;
}
h2,
.h2 {
  display: block;
  @include flow-hr($size-h2);
  font-weight: normal;
}
h3,
.h3 {
  display: block;
  @include flow-hr($size-h3);
  font-weight: normal;
}
h4,
.h4 {
  display: block;
  @include flow-hr($size-h4);
  font-weight: normal;
}
h5,
.h5 {
  display: block;
  @include flow-hr($size-h5);
  font-weight: normal;
}
h6,
.h6 {
  display: block;
  @include flow-hr($size-h6);
  font-weight: normal;
}

/* other useful classes */
.smaller {
  @include flow-other($size-smaller);
}
.small {
  @include flow-other($size-small);
}
.big {
  @include flow-other($size-big);
}
.bigger {
  @include flow-other($size-bigger);
}
.biggest {
  @include flow-other($size-biggest);
}
 