h1,
.h1 {
  display: block;
  @include rhythm($size-h1);
  font-weight: normal;
}
h2,
.h2 {
  display: block;
  @include rhythm($size-h2);
  font-weight: normal;
}
h3,
.h3 {
  display: block;
  @include rhythm($size-h3);
  font-weight: normal;
}
h4,
.h4 {
  display: block;
  @include rhythm($size-h4);
  font-weight: normal;
}
h5,
.h5 {
  display: block;
  @include rhythm($size-h5);
  font-weight: normal;
}
h6,
.h6 {
  display: block;
  @include rhythm($size-h6);
  font-weight: normal;
}

@if $use-other-typo-helpers == true {
	/* other useful classes */
	.smallest {
		@include rhythm($size-smallest, 'double_top_double_bottom_without_coef');
	}
	.smaller {
		@include rhythm($size-smaller, 'double_top_double_bottom_without_coef');
	}
	.small {
		@include rhythm($size-small, 'double_top_double_bottom_without_coef');
	}
	.big {
		@include rhythm($size-big, 'double_top_double_bottom_without_coef');
	}
	.bigger {
		@include rhythm($size-bigger, 'double_top_double_bottom_without_coef');
	}
	.biggest {
		@include rhythm($size-biggest, 'double_top_double_bottom_without_coef');
	}

	.size-40 {
	font-size: 4rem;
	}
}

@if $use-other-line-height-helpers == true {
	.lh100 { line-height: 1; }

	.lh120 { line-height: 1.2; }
	.lh130 { line-height: 1.3; }

	.lh-standard { line-height: $l-h; }
}
