/* TODO: styles are a mess, until we can clean up I'm just hacking these in */

.content-container,
.content,
.sidebar,
.homepage-header,
.header,
.main-area,
.main-area--with-toolbar {
  background: #f8fafc !important;
  background-color: #f8fafc !important;
}

.button-promotion {
  --upgrade-background-color: #f8fafc !important;
}

.button-promotion:hover,
.button-promotion:focus-visible {
  --upgrade-background-color: #f1f1f1 !important;
}
