@media screen and (max-width: 767px) {
    .as-sortable-item-handle > .pull-right {
        float: none !important;
    }
    #mobileSettingsMenu {
        margin-top: 2rem;
        li {
        	padding: 0;
			&.active {
        		background: $primary-color;
        		border-color: transparent;
        		a {
        			color: #fff;
        			border-color: transparent;
        		}
        	}
	        a {
	        	padding: 1rem 2rem;
	        	display: block;
	        	color: #333;
	        }
        }
    }
    #secured-security .btn {
        margin-bottom: 1rem;
    }
}