@media screen and (max-width: 767px) {
	.composer.maximized {
	    left: 0;
	}
	html .composer.normalized {
		width: 100% !important;
	}
	.composer-footer .text-muted {
		display: none;
	}
	#composerFrame {
		position: static !important;
	}
	.composer-header {
		display: none;
	}
	.angular-squire,
	.composeEditor {
		min-height: 20rem;
		height: 20rem;
	}
	.composer {
		position: static;
	}
}