@media screen and (max-width: 767px) {
	$navbar-height: 6rem;
	#header {
		.btn-dark,
		.navbar-toggle {
			margin: 0 !important;
			padding: 0;
			line-height: $navbar-height;
			height: $navbar-height;
			width: 5rem;
			text-align: center;
			background: transparent !important;
			.icon-bar {
				margin: 4px auto 0 auto;
			}
			&.disabled {
				opacity: .25;
			}
		}		
		.list-group {
			margin-bottom: 0;
			.list-group-item {
				background: #333;
				border-width: 1px 0 0 0;
				border-color: #555;
				padding: 0;
				a {
					padding: 0 2rem;
					line-height: 4rem;
					color: #fff; 
					display: block;
					.fa {
						display: inline-block;
						width: 2rem;
					}
				}
			}
		}
	}
}
