@media screen and (max-width: 767px) {
	.composer.maximized {
	    left: 0;
	}
	html .composer.normalized {
		width: 100% !important;
		position: static; 
	}
	.composer-footer .text-muted {
		display: none;
	}
	#composerFrame {
		position: static !important;
	}
}