@media screen and (max-width: 767px) {


body.login .container-fluid, 
body.locked .container-fluid {
	// padding: 0;
}

#signup,
#step1 {
	.spinner {
		display: none !important;
	}
}

	.panel-medium,
	.panel-wide {
	    width: auto;
	}	
	
.unlock #body #content {
	padding: 0;
	.panel-dark {
		border: none;
	}
}	

	#sidebar,
	.message-toolbar {
		& ul {
			margin: 0;
		}
	}
	#main {
		padding-left: 0;
	}
	.eo.navbar {
		margin-bottom: 0;
	}	
	.composer {
		top: 0 !important;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		z-index: 9999 !important;
		box-shadow: none;
		z-index: auto;
		transition: none !important;
		overflow: hidden;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;		
		& > .composer-body {
            -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
        }
		.close-button .fa {
			color: #fff;
		}
	}
	.squire-toolbar .btn-sm {
		padding: 5px;
	}
	body, html {
		overflow: auto;
		height: auto;
		min-height: initial;
	}
	.secure .navbar-inversed,
	.secure #footer,
	body #main,
	body #main.secure {
		padding-top: 0;
		margin-left: 0;
		width: 100%;
		display: block;
		min-height: auto
	}
	body .secure #main #content, 
	body #main.secure #content, 
	body #body #content {
	  flex: initial;
	  -webkit-flex: initial;
	  -ms-flex: initial;
	}
	body .secure #body {
		height: auto;
		overflow: hidden;
	}
	.message-head h1 {
		line-height: 20px;
		padding: 7px 0;
	}
	#search-text {
		background: #333;
		border-radius: 0;
		box-shadow: none;
		color: #fff;
		padding-left: 10px;
		border: 0;
	}
	.navbar-brand.mobileOnly {
		display: inline-block;
	}
	.navbar-toggle {
		border-color: transparent !important;
	}
	.navbar-collapse {
		padding: 0;
		border: 0;
	}
	.navbar {
		.table {
			tr, td {
				border: none;
				a {
					color: #fff;
					text-decoration: none;
					padding: 1rem;
					display: block;
					background: rgba(0,0,0,.1);
					border-radius: 2px;
					.fa {
						margin-right: .5rem;
					}
					.label {
						float: right;
						background: #555;
						font-size: 13px;
					}
				}
			}
		}
		form .btn {
			width: 6.3rem;
			text-align: right;
			background: #333;
			border-color: #333;
			color: #fff;
			border-radius: 0;
			box-shadow: none;
		}
		.form-group,
		table {
			margin-bottom: 5px;
		}
	}
	.message-metadata {
		& > .pull-right {
			float: none !important;
			margin-bottom: 9px;
			em {
				font-size: 90%;
			}
		}
		ul.infos strong {
			display: block;
		}
	}
	#messageActionsMobile {
		background: $primary-color;
		box-shadow: 0 1px $base-color-darker;
		margin: 0;
		width: 100%;
		a {
			color: #fff;
			display: block;
			line-height: 4rem;
			background-color: $primary-color;
			padding: 0;
		}
		#mobReplyAll {
			text-align: center;
			box-shadow: inset 1px 0 $base-color-darker, inset -1px 0 $base-color-darker;
		}
		#mobForward {
			text-align: right;
		}
	}
}
