@import '~@proton/styles/scss/config';

.password-inner-modal-copy {
	&-container {
		margin-block-start: 1.85em; // Magic number only for this case, otherwise impossible to align
	}

	block-size: rem($default-height-fields);

	svg {
		margin-block: auto;
	}
}
