@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/rem' as *;

.password-inner-modal-copy {
	&-container {
		margin-block-start: 1.8em; // Magic number only for this case, otherwise impossible to align
		block-size: rem($default-height-fields);
	}

	svg {
		margin-block: auto;
	}
}
