<div class="signupIframe-container">
    <loader-tag class="signupIframe-loader"></loader-tag>
    <div class="signupIframe-iframe"></div>
    <div class="signupIframe-error-message">
    </div>
    <div class="alert alert-danger signupIframe-error-message">
        <p
            translate-context="Info"
            translate>Something went wrong, please refresh the page in order to proceed. If you still see this error message please contact our support team.</p>
            <a
                target="_blanck"
                href="https://protonmail.com/support-form"
                title="Contact the ProtonMail support team.">Contact support team</a>
    </div>
</div>
