<div class="pm_modal {{ctrl.class}}" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <button type="button" ng-click="ctrl.close()" aria-hidden="true" title="{{ 'CLOSE' | translate }}" class="fa fa-times close"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{ 'VERIFY' | translate }}
                    <ng-include src="'templates/modals/domains/_menu.tpl.html'"></ng-include>
                </h4>
            </div>
            <div class="modal-body pm_form">
                <p>For security reasons, we need to verify that you are the owner of <strong>{{ ctrl.domain.DomainName }}</strong>. Please add the following <kbd>TXT</kbd> record into the DNS for <strong>{{ ctrl.domain.DomainName }}</strong>. This can typically be done in the control panel of your domain name registrar. <a href="">{{ 'LEARN_HOW' | translate }}</a></p>
                <textarea readonly>{{ ctrl.domain.VerifyCode }}</textarea>
            </div>

        </div>
        <div class="modal-footer text-right">
            <button class="pm_button pull-left" ng-click="ctrl.close()">{{ 'CANCEL' | translate }}</button>
            <button class="pm_button primary" ng-click="ctrl.submit()">{{ 'VERIFY' | translate }}</button>
        </div>
    </div>
    <div class="modal-overlay" ng-click="ctrl.close()"></div>
</div>
