@import '~@proton/styles/scss/config';

$amount-size: 48;
$price-size: 21;

// overrides for dark/light mode => same design
.blackfriday-mail-modal.modal {
	background: transparent url(./bg-mountains.svg) 50% 50%;
	background-size: cover;

	inline-size: rem(800);
	max-inline-size: rem(800);

	.modal-content-inner,
	.modal-title,
	.modal-header {
		color: white;
	}
	.modal-content-inner,
	.scrollshadow-static {
		background: transparent;
	}
	.scrollshadow-sticky {
		&--top {
			background-image: none;
		}
		&--bottom {
			inset-block-end: 0;
			background-image: none;
		}
	}

	.modal-close-icon {
		fill: white;
	}

	.blackfriday-currency-selector {
		// Overrides for specific case -_-v
		--border-norm: #505560;
		--background-norm: transparent;
	}

	.blackfriday-currency-selector button {
		color: white;
	}

	.modal-header {
		padding-block-end: 0.5em;
	}
	.modal-title {
		text-align: center;
		padding-inline-end: 0;
	}
	// no dark theme
	.blackfriday-plan {
		background-color: white;
		color: #262a33;
	}

	// VPN color override, if you want it to be applied in all cases, replace by .blackfriday-mail-modal
	&.blackfriday-mail-modal--vpn {
		background-image: none;
		background-color: #171f3b;

		--primary: #4da358 !important;
		--primary-contrast: white !important;

		--interaction-norm: #4da358 !important;
		--interaction-norm-hover: #3e8447 !important;
		--interaction-norm-active: #2e7037 !important;
		--interaction-norm-contrast: white !important;

		.blackfriday-standardPrice .price {
			text-decoration: none;
		}
	}

	@include respond-to($breakpoint-medium) {
		inline-size: 98%;
		max-inline-size: 98%;
	}
	@include respond-to(750, 'height') {
		max-block-size: 90%;
	}
	@include respond-to($breakpoint-small) {
		max-block-size: 98%;
	}
}

// then regular styles
.blackfriday-mostPopular {
	border-start-start-radius: var(--border-radius-md);
	border-start-end-radius: var(--border-radius-md);
	border-end-end-radius: 0;
	border-end-start-radius: 0;
	inset-inline: 0;
	inset-block-end: 100%;
}

.blackfriday-percentage {
	inset-inline-start: 50%;
	transform: translateX(-50%) translateY(-50%);
	[dir='rtl'] & {
		transform: translateX(50%) translateY(-50%);
	}
	border-radius: 1em;
	padding-block: 0.1em;
	padding-inline: 0.75em;
	z-index: 1;
}

.blackfriday-monthly-price.blackfriday-monthly-price {
	display: block;
	.suffix {
		display: block;
	}
	.amount {
		font-size: em($amount-size);
		font-weight: bold;
	}
	.currency {
		font-size: em($price-size);
		font-weight: bold;
	}
	.decimal {
		font-size: em($price-size, $amount-size);
		font-weight: bold;
	}
}

.blackfriday-plan-container {
	flex: 1;
	max-inline-size: 25em;
	&:not(:first-child) {
		margin-inline-start: 1em;
		@include respond-to($breakpoint-small) {
			margin-inline-start: 0;
		}
	}
	@include respond-to($breakpoint-small) {
		max-inline-size: none;
	}
}

// needed only if several plans are aside
// .blackfriday-plan-name {
// 	min-block-size: 3em;
// 	@include respond-to($breakpoint-small) {
// 		min-block-size: 0;
// 	}
// }

.blackfriday-protonDrive-free {
	display: inline-block;
	border-radius: 1em;
}

.blackfriday-standardPrice .price {
	text-decoration: line-through;
}

// some tiny modifications
.blackfriday-plan-container--mostPopular {
	.blackfriday-plan {
		border-start-start-radius: 0;
		border-start-end-radius: 0;
		//border-width: 2px;
		//border-color: var(--primary);
	}
	.blackfriday-percentage {
		inset-block-start: -2.8em;
		z-index: 1;
	}
}

@include respond-to($breakpoint-small) {
	.blackfriday-plan-container {
		margin-block-end: 2em;
	}
	.blackfriday-plan-container--productPayer {
		margin-block-end: 0;
	}
}
