@import '@proton/styles/scss/config/';

$amount-size: 48;
$price-size: 21;

// overrides for dark/light mode => same design
.blackfriday-mail-modal.modal {
	background: transparent url(bg-mountains.svg) 50% 50%;
	background-size: cover;

	width: rem(800);
	max-width: rem(800);

	.modal-content-inner,
	.modal-title,
	.modal-header {
		color: white;
	}
	.modal-content-inner,
	.scrollshadow-static {
		background: transparent;
	}
	.scrollshadow-sticky {
		&--top {
			background-image: none;
		}
		&--bottom {
			bottom: 0;
			background-image: none;
		}
	}

	.modal-close-icon {
		fill: white;
	}

	.blackfriday-currency-selector {
		// Overrides for specific case -_-v
		--border-norm: #505560;
		--background-norm: transparent;
	}

	.blackfriday-currency-selector button {
		color: white;
	}

	.modal-header {
		padding-bottom: 0.5em;
	}
	.modal-title {
		text-align: center;
		padding-right: 0;
	}
	// no dark theme
	.blackfriday-plan {
		background-color: white;
		color: #262a33;
	}

	@include respond-to($breakpoint-medium) {
		width: 98%;
		max-width: 98%;
	}
	@include respond-to(750, 'height') {
		max-height: 90%;
	}
	@include respond-to($breakpoint-small) {
		max-height: 98%;
	}
}

// then regular styles
.blackfriday-mostPopular {
	border-radius: $global-border-radius $global-border-radius 0 0;
	left: 0;
	right: 0;
	bottom: 100%;
}

.blackfriday-percentage {
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 1em;
	padding: 0.1em 0.75em;
	z-index: 10;
}

.blackfriday-monthly-price.blackfriday-monthly-price {
	display: block;
	.suffix {
		display: block;
	}
	.amount {
		font-size: em($amount-size);
		font-weight: bold;
	}
	.currency {
		font-size: em($price-size);
		font-weight: bold;
	}
	.decimal {
		font-size: em($price-size, $amount-size);
		font-weight: bold;
	}
}

.blackfriday-plan-container {
	flex: 1;
	max-width: 25em;
	&:not(:first-child) {
		margin-left: 1em;
		@include respond-to($breakpoint-small) {
			margin-left: 0;
		}
	}
	@include respond-to($breakpoint-small) {
		max-width: none;
	}
}

// needed only if several plans are aside
// .blackfriday-plan-name {
// 	min-height: 3em;
// 	@include respond-to($breakpoint-small) {
// 		min-height: 0;
// 	}
// }

.blackfriday-protonDrive-free {
	display: inline-block;
	border-radius: 1em;
}

.blackfriday-standardPrice .price {
	text-decoration: line-through;
}

// some tiny modifications
.blackfriday-plan-container--mostPopular {
	.blackfriday-plan {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-width: 2px;
		//border-color: var(--primary);
	}
	.blackfriday-percentage {
		top: -2.8em;
		z-index: 10;
	}
}

@include respond-to($breakpoint-small) {
	.blackfriday-plan-container {
		margin-bottom: 2em;

		&:first-of-type {
			order: 10;
		}
	}
	.blackfriday-plan-container--productPayer {
		margin-bottom: 0;
	}
}
