@import '~design-system/scss/config/';

.subscriptionTable-plan[data-current-plan='true'] {
	border-left: 2px solid var(--primary);
	border-right: 2px solid var(--primary);
	border-bottom: 2px solid var(--primary);
	background-color: var(--background-strong);
}

.subscriptionTable-currentPlan-container {
	background-color: var(--primary);
	color: var(--primary-contrast);
	position: absolute;
	top: -21px;
	left: -2px;
	right: -2px;
	border-radius: $global-border-radius $global-border-radius 0 0;
}

.subscriptionTable-header {
	min-height: rem(220);
}

.subscriptionTable-description,
.subscriptionTable-footer {
	min-height: rem(70);
}

.subscriptionTable-image-container {
	height: rem(100);
}

.subscriptionPrices-monthly,
.subscriptionPlan-customize {
	.amount,
	.currency {
		font-size: rem(30);
		@include respond-to($breakpoint-tiny) {
			font-size: rem(20);
		}
		line-height: 1;
	}
}
.subscriptionPlan-customize {
	.prefix {
		margin-left: auto;
	}
	.price {
		font-size: rem(14);
		line-height: 1;
	}
	.amount,
	.currency,
	.prefix,
	.subscriptionPlan-customize-included {
		font-size: rem(22);
	}
}

.subscriptionTable-feature {
	word-break: break-word;
}
@supports (-webkit-hyphens: auto) or (-ms-hyphens: auto) or (hyphens: auto) {
	.subscriptionTable-feature {
		word-break: normal;
		@include vendor-prefix(hyphens, auto, webkit ms);
	}
}

.subscriptionTable-mostPopular {
	position: absolute;
	top: rem(5);
	left: 0;
	right: 0;
}

.subscriptionCheckout-container {
	position: sticky;
	top: 1em;
}
