@import '~@proton/styles/scss/lib';
@import '~@proton/styles/scss/specifics/bf-background';

@include media('>xsmall') {
	.subscription-modal {
		@include bf-bgs;
	}
}

@include media('<=xsmall') {
	.subscription-modal-bf-bg {
		padding: 0;
		background: var(--background-norm);

		.subscription-modal {
			border-radius: 0;
			box-shadow: none;
		}
	}
}

.subscription-modal {
	&--large-width {
		--size: #{rem(1200)};
		--margin: #{rem(32)};
	}

	&--medium-width {
		--size: #{rem(900)};
		--margin: #{rem(24)};
	}
}

@include media('>medium') {
	// Set height to avoid it switching between steps
	.subscription-modal--fixed-height {
		block-size: rem(900);
	}
}
