@import "~design-system/_sass/reusable-components/design-system-config";

.pm-modal.upgradeModal-container {
    background-color: $pm-global-altgrey;
    color: $white;
}

.upgradeModal-footer {
    background: linear-gradient($pm-global-grey, $pm-global-altgrey);
}