@import '~@proton/styles/scss/lib';

.your-plan-section-container {
	display: grid;

	& > div {
		block-size: fit-content;
	}

	@include media('<=medium') {
		grid-template-columns: repeat(1, 1fr);
	}
}

.grid-column-3 {
	grid-template-columns: repeat(3, 1fr);

	@include media('<=large') {
		grid-template-columns: repeat(2, 1fr);
	}

	@include media('<=medium') {
		grid-template-columns: repeat(1, 1fr);
	}
}

.grid-column-2 {
	grid-template-columns: repeat(2, 1fr);

	@include media('<=medium') {
		grid-template-columns: repeat(1, 1fr);
	}
}
