@use '~inter-ui/variable' with (
	$inter-font-display: swap,
	$inter-font-path: '~inter-ui/Inter (web)'
);

@include variable.default;

:root {
	--font-weight-normal: 400;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
}

html {
	font-family: var(--font-family);
	font-synthesis: none;
	font-weight: var(--font-weight-normal);
	font-style: normal;

	/* stylelint-disable */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	/* stylelint-enable */
}
