/*
 * Interactive gives only default colors on every states
 */
.interactive {
	outline: none; // be careful of a11y
	@supports selector(:focus-visible) {
		// had to do this because of Safari
		outline: unset;
	}

	background-color: var(--interaction-default);
	color: inherit;
	transition: 0.15s easing(ease-out-quint), background-position 0s;

	&:hover,
	&:focus,
	&:focus-within {
		background-color: var(--interaction-default-hover);
		color: inherit;
	}

	&:active,
	&.is-active,
	&[aria-expanded='true'] {
		background-color: var(--interaction-default-active);
		color: inherit;
	}

	&[disabled],
	&.is-disabled {
		pointer-events: none;

		&:not([aria-busy='true']) {
			opacity: 0.5;
		}
	}
}
