/**
 * reduced motion MQ: for vestibular disorders
 */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		// Using values greater than 0 to have animation events still triggering
		animation-delay: 1ms !important;
		animation-duration: 0.001ms !important;
		animation-iteration-count: 1 !important;
		// This magic value is needed because of https://bugs.webkit.org/show_bug.cgi?id=242510
		// which affects visibility changes on Safari (iOS + MacOS) when reduce motion is
		// enabled in accessibility settings. Even though transitions are not involved.
		transition-duration: 0.01ms !important;
	}
}
