@use 'sass:math';
@use '../lib/config' as config;
@use '../lib/vendor-prefix' as vp;
@use '../lib/em' as em;

html {
	/* Introduce `--setting-font-size` to make the font size setting possible. */

	/* chosen size * browser default size / app default size * 100% / browser default size */
	font-size: calc(var(--setting-font-size) * #{math.div(16, 14) * math.div(100%, 16)});
}

body {
	color: var(--text-norm);
	line-height: config.$base-line-height;
	font-size: em.em(config.$base-font-size, config.$root-default-font-size);
}

@each $tag, $size in config.$title-sizes {
	#{$tag},
	.#{$tag} {
		display: block;
		margin: 0;
		font-size: em.em($size);
		font-weight: var(--font-weight-normal);
	}
}

/* Hyphenation: Thou shalt not pass (Moïse or Gandalf, don’t remember) */
@if config.$hyphenation == true {
	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp,
	div,
	p {
		word-break: break-word;

		@supports (-webkit-hyphens: auto) or (hyphens: auto) {
			word-break: normal;
			@include vp.vendor-prefix(hyphens, auto, webkit);
		}
	}
}
