.room-list {
	.add-meeting-room-button {
		background: var(--background-card);
		border-radius: 0;
		border-end-start-radius: 2rem;
		border-end-end-radius: 2rem;
		border: 1px dashed var(--border-weak);

		&:hover,
		&:active {
			background: var(--background-weak);

			.placeholder-button-icon-container {
				border-color: var(--text-disabled);
			}
		}

		&:focus-visible {
			background: var(--background-weak);
			outline: 1px solid var(--focus-outline);
			outline-offset: 2px;

			.placeholder-button-icon-container {
				border-color: var(--text-disabled);
			}
		}
	}
}
