@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/lib/rem' as *;

.booking-main-dropdown {
	padding: 0 !important;
	min-inline-size: rem(44) !important;
	min-block-size: rem(44) !important;
}
