@each $color in (primary, primary-contrast, danger, warning, success, info) {
	$prefix: if($color != 'primary', 'signal', '');

	.bg-#{$color} {
		background-color: var(--#{dash-join($prefix, $color)});
		color: var(--#{dash-join($prefix, $color, 'contrast')});

		a,
		.link,
		.button-link,
		[class*='button-ghost'],
		[class*='button-underline'],
		[class*='button-outline'] {
			color: inherit;
		}

		[class*='button-outline'] {
			--button-default-border-color: currentcolor;
			--button-hover-border-color: currentcolor;
			--button-active-border-color: currentcolor;

			// Force same backgrounds as solid shape of same color
			--button-default-background-color: var(--#{dash-join($prefix, $color)});
			--button-hover-background-color: var(--#{dash-join($prefix, $color, 'major-1')});
			--button-active-background-color: var(--#{dash-join($prefix, $color, 'major-2')});
		}
	}

	.color-#{$color} {
		color: var(--#{dash-join($prefix, $color)});
	}

	.hover\:color-#{$color} {
		&:hover,
		&:focus {
			color: var(--#{dash-join($prefix, $color)});
		}
	}

	.fill-#{$color} {
		fill: var(--#{dash-join($prefix, $color)});
	}
}

@each $color in (norm, weak, strong, elevated, lowered) {
	.bg-#{$color},
	.odd\:bg-#{$color} > *:nth-child(odd),
	.even\:bg-#{$color} > *:nth-child(even) {
		background-color: var(--background-#{$color});
	}
}

@each $color in (norm, weak, hint, disabled, invert) {
	.color-#{$color} {
		color: var(--text-#{$color});
	}

	.hover\:color-#{$color} {
		&:hover,
		&:focus {
			color: var(--text-#{$color});
		}
	}
}

.color-inherit {
	color: inherit;

	&:is(a, .link, .button-link, [class*='button-ghost'], [class*='button-underline'], [class*='button-outline']) {
		&:hover,
		&:focus,
		&:active {
			color: inherit;
		}
	}
}

.fill-currentcolor {
	fill: currentcolor;
}

.bg-transparent {
	&#{&} {
		background-color: transparent;
	}
}
