@include responsive-classes(inline-flex) {
	display: inline-flex;
	flex-wrap: wrap;
}

.inline-flex-vcenter {
	display: inline-flex;
	flex-wrap: wrap;
}

@include responsive-classes(flex) {
	display: flex;
	flex-wrap: wrap;

	& > * {
		min-block-size: 0;
		min-inline-size: 0;
	}
}

.flex-flex-children,
.flex-no-min-children {
	display: flex;
	flex-wrap: wrap;
}

@each $direction in (row, row-reverse, column, column-reverse) {
	@include responsive-classes(flex-#{$direction}) {
		flex-direction: $direction;
	}
}

@each $justify in (start, center, end, space-between, space-around, space-evenly) {
	// Remove prefix when 'start' and 'end' will be recognized by browsers
	$prefix: if($justify == start or $justify == end, 'flex', '');

	@include responsive-classes(flex-justify-#{$justify}) {
		justify-content: #{dash-join($prefix, $justify)};
	}
}

@each $align in (baseline, start, center, end, baseline, stretch) {
	// Remove prefix when 'start' and 'end' will be recognized by browsers
	$prefix: if($align == start or $align == end, 'flex', '');

	.flex-align-items-#{$align} {
		align-items: #{dash-join($prefix, $align)};
	}

	.flex-align-self-#{$align} {
		align-self: #{dash-join($prefix, $align)};
	}
}

@each $wrap in (wrap, wrap-reverse, nowrap) {
	@include responsive-classes(flex-#{$wrap}) {
		flex-wrap: $wrap;
	}
}

.flex-flex-children > * {
	display: flex;
}

.flex-flex-align-items-center > * {
	align-items: center;
}

.inline-flex-vcenter > *,
.flex-item-centered-vert {
	margin-block: auto;
	align-self: center;
}

@include responsive-classes(flex-item-fluid) {
	flex: 1 1 0px;
}

@include responsive-classes(flex-item-fluid-auto) {
	flex: 1 1 auto;
}

@include responsive-classes(flex-item-shrink) {
	flex-shrink: 1;
}

.flex-item-noshrink {
	flex-shrink: 0;
}

.flex-item-nogrow {
	flex-grow: 0;
}

.flex-item-grow {
	flex-grow: 1;
}

.flex-item-grow-2 {
	flex-grow: 2;
}

.flex-item-grow-custom {
	flex-grow: var(--grow-custom);
}

.flex-item-noflex {
	flex: 0;
}

@include responsive-classes(order-1) {
	order: 1;
}
