.mod,
.scroll-if-needed,
.overflow-auto {
	overflow: auto;
}

.overflow-overlay {
	overflow: auto; // fallback
	overflow: overlay;
}

.scroll-horizontal-if-needed,
.overflow-x-auto {
	overflow-x: auto;
}

.mod--hidden,
.no-scroll,
.overflow-hidden {
	overflow: hidden;
}

.resize-none {
	resize: none;
}

.float-left {
	float: inline-start;
}

.float-right {
	float: inline-end;
}

/* clear floats */
.clear {
	clear: both;
}

@if $use-clearleft-right==true {
	.clear-left {
		clear: inline-start;
	}

	.clear-right {
		clear: inline-end;
	}
}

@if $use-clearhidden==true {
	.clear-hidden {
		clear: both;
		margin: 0;
		padding: 0;
		visibility: hidden;
	}
}

@if $use-clearfix==true {
	.clear-fix::after {
		content: '.';
		display: block;
		block-size: 0;
		clear: both;
		visibility: hidden;
	}
}

/*
 * ratio container (for responsive iframes/videos/etc.)
 */
[class*='ratio-container-'] {
	inline-size: 100%;
	block-size: 0;
	@extend .relative;
}

.ratio-container-square {
	padding-block-start: 100%;
}

.ratio-container-16-9 {
	padding-block-start: 56.25%;
}

.ratio-container-5-1 {
	padding-block-start: 20%;
}

.inner-ratio-container {
	position: absolute;
	inset: 0;
}
