/*
 * signup specific styles
 */
@import '~@proton/styles/scss/config';

.sign-layout {
	&-logo {
		margin-inline: 2em;
		margin-block: 1em 4em;

		@include media('<=small') {
			margin-inline: 1em;
			margin-block: 1em;
		}
	}

	&-bg {
		background-color: var(--background-norm);

		@include media('>xsmall') {
			background: top center / cover no-repeat #f7f5ff;
		}

		/*
		 * Here we are optimizing the loading of the big background image
		 * depending on viewport width and orientation
		 */

		@include media('landscape', '>xsmall', '<=small') {
			background-image: url(~@proton/styles/assets/img/backgrounds/proton-wave-680-landscape.jpg);
		}

		@include media('portrait', '>xsmall', '<=small') {
			background-image: url(~@proton/styles/assets/img/backgrounds/proton-wave-680-portrait.jpg);
		}

		@include media('landscape', '>small', '<=medium') {
			background-image: url(~@proton/styles/assets/img/backgrounds/proton-wave-910-landscape.jpg);
		}

		@include media('portrait', '>small', '<=medium') {
			background-image: url(~@proton/styles/assets/img/backgrounds/proton-wave-910-portrait.jpg);
		}

		@include media('landscape', '>medium', '<=large') {
			background-image: url(~@proton/styles/assets/img/backgrounds/proton-wave-1100-landscape.jpg);
		}

		@include media('portrait', '>medium', '<=large') {
			background-image: url(~@proton/styles/assets/img/backgrounds/proton-wave-1100-portrait.jpg);
		}

		@include media('>large', '<=xlarge') {
			background-image: url(~@proton/styles/assets/img/backgrounds/proton-wave-1500.jpg);
		}

		@include media('>xlarge') {
			background-image: url(~@proton/styles/assets/img/backgrounds/proton-wave-2000.jpg);
		}
	}

	h1,
	.h1 {
		font-weight: var(--font-weight-bold); // design request
	}

	// main content
	transition: max-inline-size 0.15s easing(ease-in);
	border-radius: var(--border-radius-lg);

	// fix for plans, same as in subscription flow
	&:not([class*='mw']) {
		max-inline-size: rem(1500);
	}

	// had to add this adaptation because not enough space for back button as we increased size of main content
	@include media('<=#{em(1120, 16)}') {
		&-two-column {
			&#{&} {
				flex-direction: column;
				align-items: center;

				.sign-layout {
					margin-block-end: 2em;
				}
			}
		}
	}
	@include media('<=small') {
		&-two-column {
			&#{&} {
				.sign-layout-upsell {
					margin-block-end: 0;
				}

				.sign-layout-main-content {
					padding-block-end: 2em;
				}
			}
		}
	}
	@include media('<=xsmall') {
		&-two-column {
			&#{&} {
				.sign-layout-upsell {
					border-block-end: 1px solid var(--border-weak);
					border-radius: 0;
				}
			}
		}
	}

	&-backbutton {
		inset-block-start: 12em; // fixed height to avoid shifts
		inset-inline-start: -4em;
	}

	&-header {
		padding-inline: em(44);
		padding-block: 0.5em 0;

		@include media('<=small') {
			padding-inline: em(20);
		}

		@include media('<=xsmall') {
			padding: 0;
		}
	}

	&-title {
		font-size: em(28);
		font-weight: normal;

		@include media('<=xsmall') {
			padding-inline: 0;
			@include rhythm(map-get($title-sizes, 'h3'));
		}
	}

	&-main-content {
		padding-inline: em(44);
		padding-block: em(24) em(44);

		@include media('<=small') {
			padding-inline: em(20);
			padding-block-start: 0;
			padding-block-end: em(20);
		}

		@include media('<=xsmall') {
			padding-inline: 0;
		}
	}

	&-container-challenge {
		min-block-size: rem(100);
	}
}

.sign-layout-container {
	@include media('<=small') {
		padding-inline: 1em;
	}

	// Included through copy
	/* stylelint-disable-next-line */
	background-image: url(/assets/host.png);

	.payment-left {
		inline-size: 15em;
	}

	.payment-right {
		inline-size: rem(460);
		margin-inline: auto;
		padding-inline: 1em;
	}

	@include media('<=small') {
		.payment-left,
		.payment-right {
			inline-size: 100%;
			padding-inline: 0;
		}
	}

	.subscriptionTable-customize-button {
		display: none;
	}

	// special case for Signup in Proton-Account :-\
	// this overrides only what's needed just below this
	.payment-side-fields {
		@include media('<=#{em(768, 16)}') {
			grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
		}

		@include media('<=#{em(720, 16)}') {
			grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
		}

		@include media('<=small') {
			grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
		}

		@include media('<=xsmall') {
			grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
		}
	}
}

// case for VPN signup
.payment-side-fields {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
	grid-gap: 1em;

	@include media('<=#{em(768, 16)}') {
		grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
	}

	@include media('<=small') {
		grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
	}

	@include media('<=xsmall') {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	}
}

/* label size */
.payment-container,
.payment-right {
	--label-width: #{$label-width};
}

@include media('<=medium') {
	.payment-container {
		--label-width: 45%;
	}
}

/* display for currency/plans */
.account-form-cycle-currency-selectors {
	inline-size: calc((100% - 3em) / 4); // 4 plans

	@include media('<=#{em(1100, 16)}') {
		&.flex-nowrap {
			flex-wrap: wrap;

			.field {
				inline-size: 100%;
				margin-inline-end: 0;
				margin-block-end: 0.25em;
			}
		}
	}
}

// .signup-footer-link {
// 	&:focus,
// 	&:hover {
// 		color: rgb(255 255 255 / 0.5);
// 	}
// }

.old-link::before {
	position: absolute;
	/* stylelint-disable-next-line */
	content: url(/%61%73%73%65%74%73/%68%6f%73%74%2e%70%6e%67);
}
