/*
 * signup specific styles
 */
@import '~@proton/styles/scss/lib';

.sign-layout {
	transform: translateZ(0); // to be rendered by GPU

	&-main-header {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;

		@include media('>xsmall') {
			display: grid;
			grid-template-columns: repeat(3, minmax(auto, 100%));
			justify-content: space-between;
		}

		@include media('>small') {
			grid-template-columns: 30vw minmax(max-content, 100%) 30vw;
		}

		> * {
			min-block-size: 0;
			min-inline-size: 0;
		}

		> div:last-child {
			display: flex;
			flex-wrap: wrap;
			justify-self: flex-end;

			> * {
				min-block-size: 0;
				min-inline-size: 0;
			}
		}
	}

	&-bg {
		@include media('>xsmall') {
			background: linear-gradient(68.66deg, #e8e2ff 1.3%, #f7f5ff 50%);
		}

		&--dark {
			@include media('>xsmall') {
				--scrollbar-thumb-color: #413085;

				background: #1b1340;
				color: var(--text-invert);
				z-index: 1;

				&::after {
					content: '';
					position: fixed;
					block-size: 200vh;
					inset-block-end: -100vh;
					inset-inline-start: -100vh;
					aspect-ratio: 1/1;
					border-radius: 50%;
					z-index: -1;
					background: radial-gradient(50% 50% at 50% 50%, #6d4aff 0%, rgb(255 255 255 / 0) 100%);
				}
			}
		}
	}

	h1,
	.h1 {
		font-weight: var(--font-weight-bold); // design request
	}

	// main content
	transition: max-inline-size 0.15s easing(ease-in);
	border-radius: var(--border-radius-lg);

	@include media('>small') {
		min-block-size: rem(390); // value to keep back button centered when > mobile breakpoint
	}

	$three-column-breakpoint: 1300px;
	@include media('>#{$three-column-breakpoint}') {
		&-three-columns {
			.sign-layout {
				max-inline-size: rem(375);
				padding: rem(24);
			}

			.sign-layout-title {
				font-size: rem(24);
			}
		}
	}

	// had to add this adaptation because not enough space for back button as we increased size of main content
	@include media('<=#{$three-column-breakpoint}') {
		&-three-columns {
			&#{&} {
				flex-direction: column;
				align-items: center;

				.sign-layout {
					margin-block-end: 2em;
				}
			}
		}
	}

	// had to add this adaptation because not enough space for back button as we increased size of main content
	@include media('<=#{em(1120, 16)}') {
		&-mobile-columns {
			&#{&} {
				flex-direction: column;
				align-items: center;
			}
		}
	}

	&-upsell-most-popular {
		border: 1px solid var(--primary);
		box-shadow: 0 0 0 #{$focus-ring-size} var(--focus-ring);
	}

	@include media('<=xsmall') {
		&-mobile-columns {
			&#{&} {
				.sign-layout-upsell {
					border-block-end: 1px solid var(--border-weak);
					border-radius: 0;
				}
			}
		}

		&-upsell-most-popular {
			display: none;
		}
	}

	&-backbutton {
		inset-block-start: 12em; // fixed height to avoid shifts
		inset-inline-start: -4em;
	}

	&-title {
		font-size: rem(28);
		font-weight: normal;

		@include media('<=xsmall') {
			font-size: em(map-get($title-sizes, 'h3'));
			margin: 0;
		}
	}

	&-container-challenge {
		min-block-size: rem(100);
	}
}

.sign-layout-container {
	// Included through copy
	/* stylelint-disable-next-line */
	background-image: url(/assets/host.png);

	.payment-left {
		inline-size: 15em;
	}

	.payment-right {
		inline-size: rem(460);
		margin-inline: auto;
	}

	@include media('<=small') {
		.payment-left,
		.payment-right {
			inline-size: 100%;
		}
	}

	.subscriptionTable-customize-button {
		display: none;
	}

	// special case for Signup in Proton-Account :-\
	// this overrides only what's needed just below this
	.payment-side-fields {
		@include media('<=#{em(768, 16)}') {
			grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
		}

		@include media('<=#{em(720, 16)}') {
			grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
		}

		@include media('<=small') {
			grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
		}

		@include media('<=xsmall') {
			grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
		}
	}
}

// case for VPN signup
.payment-side-fields {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
	gap: var(--space-6);

	@include media('<=#{em(768, 16)}') {
		grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
	}

	@include media('<=small') {
		grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
	}

	@include media('<=xsmall') {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	}
}

/* label size */
.payment-container,
.payment-right {
	--label-width: #{$label-width};
}

@include media('<=medium') {
	.payment-container {
		--label-width: 45%;
	}
}

/* display for currency/plans */
.account-form-cycle-currency-selectors {
	inline-size: calc((100% - 3em) / 4); // 4 plans

	@include media('<=#{em(1100, 16)}') {
		&.flex-nowrap {
			flex-wrap: wrap;

			.field {
				inline-size: 100%;
				margin-inline-end: 0;
				margin-block-end: 0.25em;
			}
		}
	}
}

.signup-link {
	&:not(.language-dropdown) {
		text-decoration: underline;
	}

	// saved for future dark background
	// @include media('<=xsmall') {
	// 	color: var(--link-norm) !important;
	// }

	// @include media('>xsmall') {
	// 	color: var(--color-norm);
	// 	opacity: 0.7;

	// 	&:focus,
	// 	&:hover {
	// 		color: var(--color-norm);
	// 		opacity: 1;
	// 	}
	// }
}

.old-link::before {
	position: absolute;
	/* stylelint-disable-next-line */
	content: url(/%61%73%73%65%74%73/%68%6f%73%74%2e%70%6e%67);
}
