@import '~@proton/styles/scss/lib';

.card {
	&-highlight {
		inset-inline-start: 50%;
		transform: translateX(-50%) translateY(-50%);
		&#{&} {
			background-color: rgba(240 236 255 / 1); // can't use opacity because some issues with card borders

			&--selected {
				background-color: var(--primary);
			}
		}
	}

	&-plan {
		background-color: var(--background-norm);

		&[aria-pressed='true'] {
			box-shadow: 0 0 7px 3px rgb(172 154 247 / 0.28), -5px -3px 6px 3px rgb(246 198 146 / 0.3),
				6px 3px 7px 3px rgb(108 73 254 / 0.3), -4px 4px 5px 2px rgb(205 79 232 / 0.3);
		}
	}
}

@include media('<=medium') {
	.pricing-box-content-cycle--highlighted {
		order: -1;
	}
}
