@import '~@proton/styles/scss/lib';

.navigation-link:hover {
	color: var(--text-primary);
}

.bg-white {
	background-color: white;
}

.lumo-plus-button-shadow {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.02);
}
