.bitcoinView-container:not(.bitcoinView-type-invoice) {
  .bitcoinView-about-invoice { display: none }
}

.bitcoinView-type-invoice .bitcoinView-about { display: none }

[class*="bitcoinView-type-"] {

    .bitcoinView-qrcode {
        justify-content: center;
    }

    [class*="bitcoinDetails-label-"]::after { content: ':'; margin-right: .5em }

}

.bitcoinView-btn-reload {
    background: none;
    border: 0;
    padding: 0;
    color: $black;
    text-decoration: underline
}

.bitcoinView-btn-reload:hover { text-decoration: none }


