.featuresList-container {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.featuresList-container > li {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0;
    margin: 0;
}


.featuresList-button {
    padding: 0;
    margin: 0 6px;
    border: 0;
    background: transparent;
    opacity: .8;
}

.featuresList-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.featuresList-logo { width: 70px }
.featuresList-text { margin-top: 10px }

/* EVENTS */
.featuresList-logo, .featuresList-text, .featuresList-button-wrapper { pointer-events: none }
.featuresList-button:hover { opacity: 1 }

/* CONTEXTS */

.featuresList-container > [class*='featuresList-'] { display: none }

.featuresList-container.featuresList-isPlus,
.featuresList-container.featuresList-isProfessional,
.featuresList-container.featuresList-isVisionary {
    .featuresList-autoresponder,
    .featuresList-domains,
    .featuresList-filters,
    .featuresList-contacts { display: block }
}

.featuresList-container.featuresList-isProfessional,
.featuresList-container.featuresList-isVisionary {
    .featuresList-members { display: block }
}

.featuresList-container.featuresList-isVisionary,
.featuresList-container.featuresList-hasVPN {
    .featuresList-vpn { display: block }
}


/* RESPONSIVE */

body.appConfigBody-is-mobile .featuresList-container { flex-direction: column }
body.appConfigBody-is-mobile .featuresList-button { opacity: 1 }
body.appConfigBody-is-mobile .featuresList-logo { width: 100px }
