

@-webkit-keyframes fadeIn { 
    from { 
        opacity:0; 
    } 
    to { 
        opacity:1; 
    } 
}
@-moz-keyframes fadeIn { 
    from { 
        opacity:0; 
    } 
    to { 
        opacity:1; 
    } 
}
@keyframes fadeIn { 
    from { 
        opacity:0; 
    } 
    to { 
        opacity:1; 
    } 
}

.pm_fadeIn {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:.15s;
    -moz-animation-duration:.15s;
    animation-duration:.15s;
}


/*
SPINNER
Inpiration from 'esjay'
[http://codepen.io/esjay/pen/xclfz]
*/
.spinner {
    position: relative;
}
.spinner:before,
.spinner:after {
    box-sizing: border-box;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 0;
    margin-left: -2.5em;
    width: 5em;
    height: 5em;
    transform-style: preserve-3d;
    transform-origin: 50%;
    transform: rotateY(50%);
    perspective-origin: 50% 50%;
    perspective: 5rem;
    background-size: 5em 5em;
    -webkit-mask:  url(/assets/img/valence.svg) no-repeat 50% 50%;
    mask: url(/assets/img/valence.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover; 
}
.spinner.large {
    top: 0;
    margin-top: 0;
    width: auto;
    height: 16rem;
    &:before,
    &:after {
        top: 1rem;
        margin: 0;
        margin-left: -5rem;
        width: 10rem;
        height: 10rem;
        perspective: 10rem;
        background-size: 10rem 10rem;
        background-color: $white;
    }
}

.spinner:before {
    transform: rotateX(60deg) rotateY(45deg) rotateZ(45deg);
    animation: 600ms rotateBefore infinite linear reverse, 1000ms flash infinite linear;
    background-color: $primary;
}
.spinner:after {
    transform: rotateX(240deg) rotateY(45deg) rotateZ(45deg);
    animation: 800ms rotateAfter infinite linear, 1000ms flash infinite linear;
    background-color: $primary;  
}
@keyframes rotateBefore {
    from {
        transform: rotateX(60deg) rotateY(45deg) rotateZ(0deg);
    }
    to {
        transform: rotateX(60deg) rotateY(45deg) rotateZ(-360deg);
    }
}
@keyframes rotateAfter {
    from {
        transform: rotateX(240deg) rotateY(45deg) rotateZ(0deg);
    }
    to {
        transform: rotateX(240deg) rotateY(45deg) rotateZ(360deg);
    }
}
@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}