#bugForm {
	.row {
		float: left;
		width: 100%;
		clear: both;
		.col {
			width: 25%;
			min-width: 25%;
			padding-right: 1rem;
			&.last {
				padding-right: 0;
			}
			&.narrow {
				width: 20%;
				min-width: 20%;
			}
			&.wide {
				width: 30%;
				min-width: 30%;
			}
			&.full {
				width: 80%;
			}
		}
	}
}