.pm_dropdown {
	position: absolute;
	left: -1px;
	top: 100%;
	background: #fff;
	border: 1px solid #ededed;
	padding: 5px 15px;
	z-index: 2;
	margin-top: 5px;
	display: none;
	font-size: 12px;
	width: 4rem;
	max-height: 260px;
	overflow: auto;
	&.right {
		right: -1px;
		left: initial;
	}
	&.wide {
		width: 200px;
		max-height: none;
		padding: 15px;
	}
	&.open {
		display: block;
	}
	> a {
		width: 100%;
		text-align: left;
		display: block;
		line-height: 25px !important;
		height: 25px !important;
		padding: 0 !important;
		border-bottom: 1px solid #ededed;
		white-space: nowrap;
		&:hover {
			background-color: transparent !important;
			color: #333 !important;
		}
	}
	> a:last-child {
		border-bottom: none;
	}
}
