@import "variables";

body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}
.protonmail_style {
    font-family: 'Open Sans', sans-serif;
    color: #666;
    font-size: 14px;
    line-height: 1.65em;
}