@import '~design-system/scss/config/';

.file-browser-list-item td,
.file-browser-table th {
    &:first-of-type {
        // Checkbox cell
        position: relative; // Because of .increase-click-surface
        padding-left: 1em;
        padding-right: 1em;
        width: calc( #{rem(16)} + 2em);
    }
}

.file-browser-grid-item {
    background-color: var(--background-norm);

    &:hover,
    &:focus {
        background-color: var(--background-weak);
    }
}

.file-browser-grid-item.file-browser-grid-item--highlight {
    background-color: var(--background-strong);
}
