.pd-fb-table {
    td,
    th {
        &:first-of-type { // Checkbox cell
            position: relative; // Because of .increase-surface-click
            padding-left: 1em; padding-right: 1em;
            width: calc(1.6rem + 2em);
        }
    }
}
