@use 'sass:map';
@use '~@proton/styles/scss/lib/config' as *;

.revision-preview {
	position: relative;
	z-index: map.get($z-indexes, 'modals');

	&--behind {
		z-index: map.get($z-indexes, 'modals') - 1;
	}
}
