@import '~@proton/styles/scss/lib';

.attachment-thumbnail {
	--button-default-background-color: transparent;
	--button-default-text-color: inherit;
	--button-default-border-color: var(--border-weak);

	padding-block: rem(5);
	transition:
		0.15s easing(ease-out-quint),
		border-color 0s;

	&:not(&--number) {
		padding-inline: rem(5);
		min-inline-size: rem(72);
		max-inline-size: rem(180);
	}

	.item-is-selected & {
		--button-default-background-color: transparent;
		--button-hover-background-color: var(--interaction-default-hover);
		--button-active-background-color: var(--interaction-default-active);
		--button-hover-text-color: var(--email-item-selected-text-color);
		--button-active-text-color: var(--email-item-selected-text-color);
		--button-default-border-color: var(--interaction-norm-major-2);
		--button-hover-border-color: var(--interaction-norm-major-2);
		--button-active-border-color: var(--interaction-norm-major-2);
	}

	&-row {
		padding-inline-end: rem(120);
	}

	&-name {
		span span {
			padding-block: var(--space-0-5);
		}
	}
}

.attachment-thumbnail-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, max-content));
}
