/* you can also define the transition style
   on the base class as well () */
.animate {
    &.ng-enter,
    &.ng-leave {
      -webkit-transition: 0.2s linear all;
      transition: 0.2s linear all;
    }

    &.ng-enter,
    &.ng-leave.ng-leave-active { 
      opacity: 0;
    }
    &.ng-leave,
    &.ng-enter.ng-enter-active {
      opacity: 1;
    }
}

.transition {
  @include transition(all, 200ms, ease-in-out);
}

@-webkit-keyframes lateral {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}