
// disabled button mixin
@mixin btn-disabled($bgcolor) {
  background: darken($bgcolor, 10%) !important;
  border-color: darken($bgcolor, 20%) !important;
}

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-danger {
  box-shadow: 0 1px 1px rgba(0,0,0,.075), inset 0 1px 0 rgba(255,255,255,.1);
}

.btn-default {
  @include linear-gradient($btn-default-bg, darken($btn-default-bg, 10%));
  &:hover {
    @include linear-gradient($btn-default-bg, darken($btn-default-bg, 5%));
    border-color: darken($btn-default-bg, 20%);
  }
  &[disabled],
  &.disabled {
    @include btn-disabled($btn-default-bg);
  }
}
.btn-white {
  text-shadow: none;
  background-color: #fff;
  color: #666;
  border-color: transparent;
  &:hover {
      border-color: transparent;
  }
  &:active {
    color: #333;
    border-color: transparent;
    box-shadow: none;
  }
}
.btn-primary {
  @include linear-gradient(lighten($light-purple, $sidebar-button-lighten), $light-purple);
    text-shadow: none;
    color: #fff;
    border-color: transparent;
    &:hover {
      background: lighten($light-purple, ($sidebar-button-lighten/2));
      border-color: transparent;
    }
    &:active {
      background: darken($light-purple, $sidebar-button-lighten);
      color: rgba(#fff, .5);
      border-color: transparent;
      box-shadow: none;
    }
    &[disabled],
    &.disabled {
      @include btn-disabled($light-purple);
    }
}
.btn-success {
  @include linear-gradient($btn-success-bg, darken($btn-success-bg, 10%));
  &:hover {
    @include linear-gradient($btn-success-bg, darken($btn-success-bg, 5%));
    border-color: darken($btn-success-bg, 5%);
  }
  &[disabled],
  &.disabled {
    @include btn-disabled($btn-success-bg);
  }
}
.btn-info {
  @include linear-gradient($btn-info-bg, darken($btn-info-bg, 10%));
  &:hover {
    @include linear-gradient($btn-info-bg, darken($btn-info-bg, 5%));
    border-color: darken($btn-info-bg, 5%);
  }
  &[disabled],
  &.disabled {
    @include btn-disabled($btn-info-bg);
  }
}
.btn-danger {
  @include linear-gradient($btn-danger-bg, darken($btn-danger-bg, 10%));
  &:hover {
    @include linear-gradient($btn-danger-bg, darken($btn-danger-bg, 5%));
    border-color: darken($btn-danger-bg, 5%);
  }
  &[disabled],
  &.disabled {
    @include btn-disabled($btn-danger-bg);
  }
}
.btn-dark {
  color: #fff;
  border-color: transparent;
  background-color: #555;
  &:hover {
    color: #fff;
    background-color: #444;
  }
}
.btn-sm {
  border-radius: 2px;
}