html {

    .btn-default,
    .btn-primary,
    .btn-success,
    .btn-info,
    .btn-danger {
        box-shadow: 0 1px 1px rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.1);
        transition: all .2s ease-out;
        &:hover {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1), inset 0 1px 0 rgba(255,255,255,.1);
        }
    }

    .btn-default {
        @include linear-gradient($btn-default-bg, darken($btn-default-bg, ($color-offset*2)));
        background: -moz-linear-gradient($btn-default-bg, darken($btn-default-bg, ($color-offset*2)));
        &:hover {
            @include linear-gradient($btn-default-bg, darken($btn-default-bg, $color-offset));
            background: -moz-linear-gradient($btn-default-bg, darken($btn-default-bg, $color-offset));
            border-color: darken($btn-default-bg, 20%);
        }
        &[disabled],
        &.disabled {
            @include btn-disabled($btn-default-bg);
        }
    }
    .btn-white {
        text-shadow: none;
        background-color: $base-color;
        color: #666;
        border-color: transparent;
        &:hover {
            border-color: transparent;
        }
        &:active,
        &:focus {
            color: #333;
            border-color: transparent;
            box-shadow: none;
        }
    }
    .btn-primary {
        @include primary-gradient;
        text-shadow: none;
        color: #fff;
        border-color: transparent;
        &:hover {
            @include primary-gradient;
            border-color: transparent;
        }
        &:active,
        &:focus {
            @include primary-gradient-dark;
            color: rgba(#fff, .5);
            border-color: transparent;
            box-shadow: none;
        }
        &[disabled],
        &.disabled {
            @include btn-disabled($primary-color);
        }
    }
    .btn-success {
        @include linear-gradient($btn-success-bg, darken($btn-success-bg, ($color-offset*2)));
        &:hover {
            @include linear-gradient($btn-success-bg, darken($btn-success-bg, $color-offset));
            border-color: darken($btn-success-bg, $color-offset);
        }
        &[disabled],
        &.disabled {
            @include btn-disabled($btn-success-bg);
        }
    }
    .btn-info {
        @include linear-gradient($btn-info-bg, darken($btn-info-bg, ($color-offset*2)));
        &:hover {
            @include linear-gradient($btn-info-bg, darken($btn-info-bg, $color-offset));
            border-color: darken($btn-info-bg, $color-offset);
        }
        &[disabled],
        &.disabled {
            @include btn-disabled($btn-info-bg);
        }
    }
    .btn-danger {
        @include linear-gradient($btn-danger-bg, darken($btn-danger-bg, ($color-offset*2)));
        &:hover {
            @include linear-gradient($btn-danger-bg, darken($btn-danger-bg, $color-offset));
            border-color: darken($btn-danger-bg, $color-offset);
        }
        &[disabled],
        &.disabled {
            @include btn-disabled($btn-danger-bg);
        }
    }
    .btn-dark {
        color: #fff;
        border-color: transparent;
        background-color: $alt-color-light;
        &:hover {
            color: #fff;
            background-color: $alt-color;
        }
    }
    .btn-sm {
        border-radius: 2px;
    }

}