form#compose {
  padding: 10px;

  div.form-group {
    border-bottom: 1px solid #ddd;
    position: relative;
    top: 0;
    margin: 0 0 0.6em 0;

    label {
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 0;
      padding-top: 8.15px;
      position: static;

      i {
        color: #ccc;
        line-height: 18px;
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 10;

        &:hover {
          color: #aaa;
        }
      }
    }

    input[type="text"] {
      border: 0;
      box-shadow: none;
      background-color: transparent;
      width: 100%;
      padding-left: 0;
      min-width: 250px;

      &.subject {
        padding-left: 0;
      }
    }

    .tm-tag {
      border: none;
      box-shadow: none;
      padding: 4px 8px;

      -webkit-touch-callout: none;
      @include user-select(none);

      a.tm-tag-remove {
        padding: 0 3px;
      }
    }

    .tt-dropdown-menu {
      background-color: white;
      border-radius: 0 0 4px 4px;
      border: 1px solid #ddd;
      padding: 5px;

      .tt-suggestion {
        padding: 1px 10px;

        &.tt-cursor {
          background-color: #ddd;
        }
      }
    }

    &.body {
      padding: 10px 15px;

      iframe {
        width: 100%;
        height: 500px;
        font-family: helvetica;
      }

      textarea {
        margin: 0px;
        width: 100%;
        height: 500px;
        padding: 10px;
        font-family: menlo, monaco, monospace;
        outline: none;
        background-color: #f6f6f6;
        border-radius: 8px;
        border: 1px solid #ddd;
        margin-top: 10px;
      }

      .rich-text-toolbar {
        display: inline-block;
        a.wysihtml5-command-active,
        a.wysihtml5-action-active {
          background-color: #7575a3;
          color: white;
        }
        span.separator {
          height: 10px;
          width: 20px;
          display: inline-block;
        }
      }

      .encryption {
        display:inline-block;
        float:right;

        span {
          font-weight: bold;
          height: 30px;
          display: inline-block;
          cursor: pointer;

          -webkit-touch-callout: none;
          @include user-select(none);
          @include transition(color 0.2s ease-in-out 0);

          &:not(.switcher) {
            top: -3px;
            position: relative;
            color: #999;

            &:first-child {
              text-align: right;
            }

            em {
              color: #bbb;
              font-style: normal;
            }

            &.selected {
              color: #333;
            }
          }

          a {
            margin-left: 5px;
          }
        }

        .switcher {
          display: inline-block;
          width: 80px;
          height: 30px;
          background-color: #f3f3f3;
          border: 1px solid #ddd;
          border-radius: 4px;
          position: relative;
          margin: 0 10px;

          i {
            position: absolute;
            left: 2px;
            top: 2px;
            height: 24px;
            width: 40px;
            display: block;
            background-color: #ddd;
            border-radius: 3px;
            text-align: center;
            font-size: 130%;
            padding-top: 4px;
            @include transition(left 0.2s ease-in-out 0);
          }

          &.encrypted i {
            left: 36px;
          }
        }
      }
    }
  }
}
