.composerMeta {
    .form-horizontal {
        clear: both;
    }
}
.minimize-button .fa {
    position: relative;
    top: .5rem;
}
.expand-button .fa {
    position: relative;
    top: -.5rem;
}

#others {
    position: absolute;
    right: 0;
    top: 0;
    line-height: ($row-height*1.5);
    height: ($row-height*1.5);
    a {
        text-decoration: none;
        display: inline-block;
        padding: 0;
        margin-right: 15px;
        float: left;
        color: #999;
        &:hover, & .active {
            color: #000;
        }
    }
}
.composer-dropzone {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    background-color: rgb(246, 236, 236);
}

.preview-template {
    color: $base-color;
    background-color: $primary-color-light;
    border: 1px solid $primary-color-dark;
    border-radius: $border-radius-base;
    margin-left: 10px;
    padding: 2px 5px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: normal;
    font-size: 12px;
}

.preview-close {
    color: $base-color;
}

.attach-collapse {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 10;
    display: block;
    right: 1rem;
    width: 3rem;
    line-height: 3rem;
    padding: 0;
    text-align: center;
}

.message-toolbar.compose > ul.nav {
    > li,
    > li > a {
        @include transition(all, 200ms, ease-in-out);
    }

    li.attachments {
        display: relative;
        a {
            position: relative;
            z-index: 1;
            pointer-events: none;
        }
        input:hover + a {
            color: #000;
            @include box-shadow(inset 0 -1px rgba(0, 0, 0, 0.1));
            @include base-gradient;
        }
        input[type="file"] {
            display: inline-block;
            position: absolute;
            top: 0;
            left:0;
            width: calc(100% - 2px);
            height: 100%;
            cursor: pointer;
        }
    }

    li.saved {
        line-height: $row-height;
        padding: 0 10px;
        border-right: 0;
    }
}

.unfocussed {
    max-height: 32px;
    overflow-y: auto;
}

.twitter-typeahead {
    vertical-align: bottom;
    width: auto;
}

.composer {
    .composer-loader {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
        z-index: 3;
        h1 {
            color: #fff;
            text-shadow: 0 1px 1px rgba(0,0,0,.25);
            padding: 4rem 0;
            display: block;
            .fa {
                font-size: 1em;
            }
        }
    }

    .tm-tag {
        border: none;
        display:inline-block;
        box-shadow: none;
        border-radius: 2px;
        background: darken($base-color-dark, $color-offset);
        padding: 0 1rem;
        line-height: ($row-height - 10);
        height: ($row-height - 10);
        min-height: ($row-height - 10);
        margin: 5px 0 5px 5px;
        color: #000;
        font-size: $pm-font-size-base;
        font-family: $font-primary;
        -webkit-touch-callout: none;
        // @include user-select(none);

        a.tm-tag-remove {
            i {
                padding-top: 4px;
                margin-left: 5px;
                float: right;
            }
        }

        span {
             display:inline-block;
             max-width: 30rem;
             white-space: nowrap;
             overflow:hidden !important;
             text-overflow: ellipsis;
        }

        .fa-lock {
            line-height: ($row-height - 10);
            margin-right: .5rem;
            float: left;
        }
    }

    .tt-dropdown-menu {
        background-color: white;
        border-radius: 0 0 4px 4px;
        border: 1px solid #ddd;

        .tt-suggestion {
            padding: 1px 10px;
            border-bottom: 1px solid #ddd;

            &.tt-cursor {
                background-color: #ddd;
            }
        }
    }
}

form#compose {

    ul.attachments {
        padding: 0;
        margin: 10px 0;

        li {
            list-style: none;
            display: inline-block;
            line-height: 18px;
            margin: 4px 0 5px 5px;
            padding: 4px 8px 6px 8px;
            border-radius: 3px;
            background-color: #ddd;
            font-weight: bold;

            a {
                margin-left: 3px;
                color: #999;
                padding: 3px;
            }
            .fa-paperclip {
                margin-right: 3px;
            }
        }
    }

    div.form-group.form-group-compose {
        box-shadow: inset 0 -1px 0 $base-color-darker;
        position: relative;
        top: 0;
        margin: 0;

        &.focus {
            position: relative;
            z-index: 999;
        }

        &.invalid {
            label {
                color: $brand-danger;
            }
            input[type="text"],
            input[type="password"] {
                @include input_placeholder {
                    color: $brand-danger;
                }
            }
        }

        label {
            text-transform: uppercase;
            text-align: left;
            margin-bottom: 0;
            padding: 0 15px;
            line-height: ($row-height*1.5);
            height: ($row-height*1.5);
            position: static;

            @include transition(color, 200ms, ease-in-out);

            &.optional {
                color: rgba(0,0,0,0.4);
            }

            i {
                color: $base-color-darker;
                line-height: ($row-height*1.5);
                height: ($row-height*1.5);
                padding: 0 15px;
                cursor: pointer;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 10;

                &:hover {
                    color: #aaa;
                }
            }
        }

        .form-control {
            padding: 0 1rem;
            line-height: ($row-height*1.5 - 30);
            height: ($row-height*1.5 - 30);
            margin: 15px 1rem 15px 0;
            &.subject {
                font-size: 22px;
                color: #000;
                padding: 0;
                margin: 0;
                height: ($row-height*1.5);
                line-height: ($row-height*1.5);
            }
        }
        input[type="text"],
        input[type="password"],
        input[type="email"] {
            border: 0;
            box-shadow: none;
            background-color: transparent;
            width: 100%;
            padding-left: 0;
            min-width: 250px;

            @include input_placeholder {
                color: rgba(0,0,0,0.25);
                @include transition(color, 200ms, ease-in-out);
            }

            &.subject {
                padding-left: 0;
            }
        }

        &.body.pm-squire {
            padding: 0;
            border-radius: none;
            .menu {
                text-align: left;
                padding: 0 10px;
            }
        }

        &.body {
            padding: 10px 15px;
            position: relative;
            box-shadow: none;
            -webkit-backface-visibility: hidden;
            -webkit-perspective: 1000;

            iframe,
            textarea,
            .rich-text-toolbar,
            .encryption-options {
                z-index: 10;
                position: relative;
                @include transition(opacity, 200ms, ease-in-out);
            }

            .encryption-options {
                z-index: 1;
                opacity: 0;
                position: absolute;
                top: 15px;
                left: 15px;
                @include calc(width, '100% - 30px');

                a.back,
                a.done {
                    float: left;
                    color: rgba(0, 0, 0, 0.5);
                    font-weight: bold;
                    margin-right: 10px;
                    font-size: 140%;
                    text-transform: uppercase;

                    &.done {
                        float: right;
                        margin-top: 30px;
                    }

                    i { font-size: 110%; }

                    &:hover {
                        text-decoration: none;
                        color: #333;
                    }
                }

                .form-group.form-group-compose {
                    a.help {
                        position: absolute;
                        top: 15px;
                        z-index: 30;
                    }
                    .tooltip {
                        z-index: 1000;
                    }
                }

                .duration {
                    color: #333;
                    color: #333;
                    line-height: 33px;
                }
                .slider {
                    margin-top: -2px;
                    margin-right: -16px;
                    .handle {
                        background-color: $primary-color;
                    }
                }
            }
            h3 {
                margin-top: 0;
                margin-bottom: 30px;
            }

            @include transition(background-color, 200ms, ease-in-out);

            &.hide-editor {
                background-color: #f1f1f1;
                border-radius: 8px;

                iframe,
                textarea,
                .rich-text-toolbar {
                    opacity: 0;
                    z-index: 1;
                }
                .encryption-options {
                    opacity: 1;
                    z-index: 10;
                }
            }

            iframe {
                width: 100%;
                font-family: helvetica;
            }

            textarea {
                margin: 0px;
                width: 100%;
                height: 500px;
                padding: 10px;
                font-family: menlo, monaco, monospace;
                outline: none;
                color: white;
                background-color: #333;
                border-radius: $border-radius-base;
                margin-top: 10px;
                resize: none;
            }

            .rich-text-toolbar {
                z-index: 100;
                position: relative;
                display: inline-block;
                a.wysihtml5-command-active,
                a.wysihtml5-action-active {
                    background-color: #7575a3;
                    color: white;
                }
                span.separator {
                    height: 15px;
                    width: 1px;
                    display: inline-block;
                    background-color: $base-color-darker;
                    vertical-align: middle;
                }
                .rich-text-popover {
                    position: absolute;
                    z-index: 101;
                    width: 100%;
                    padding: 10px;
                    background-color: $panel-bg;
                    border-radius: $border-radius-base;
                    border: 1px solid $base-color-darker;
                    label {
                        text-transform: none;
                        padding: 0;
                        height: auto;
                        line-height: normal;
                    }
                    input {
                        padding: inherit;
                        line-height: normal;
                    }
                }
            }

            .encryption {
                display:inline-block;
                float:right;
                position: relative;
                z-index: 20;

                span {
                    font-weight: bold;
                    height: 30px;
                    display: inline-block;
                    cursor: pointer;

                    -webkit-touch-callout: none;
                    @include user-select(none);
                    @include transition(color, 200ms, ease-in-out);

                    &:not(.switcher) {
                        top: -3px;
                        position: relative;
                        color: #999;

                        &:first-child {
                            text-align: right;
                        }

                        em {
                            color: #bbb;
                            font-style: normal;
                        }

                        &.selected {
                            color: #333;
                        }
                    }

                    a {
                        margin-left: 5px;
                    }
                }

                .switcher {
                    display: inline-block;
                    width: 80px;
                    height: 30px;
                    background-color: #f3f3f3;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    position: relative;
                    margin: 0 10px;

                    i {
                        position: absolute;
                        left: 2px;
                        top: 2px;
                        height: 24px;
                        width: 40px;
                        display: block;
                        background-color: #ddd;
                        border-radius: 3px;
                        text-align: center;
                        font-size: 130%;
                        padding-top: 4px;
                        @include transition(all, 200ms, ease-in-out);
                    }

                    &.encrypted i {
                        left: 36px;
                        background-color: $primary-color;
                        color: white;
                    }
                }
            }
        }
    }
}

.composer {
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
    width: 480px;
    z-index: 6;
    transition: none;
    border-radius: $border-radius-base*2;
    @include responsive(xs) {
        width: auto;
        left: 10px;
        right: 10px;
        top: 60px;
        bottom: inherit;
    }

    .composer-header {
        height: $row-height;
        min-height: $row-height;
        line-height: $row-height;
        margin-left: 0;
        margin-right: 0;
        border-top-left-radius: $border-radius-base;
        border-top-right-radius: $border-radius-base;
        background-color: $sidebar-bg;
        color: #fff;
        span:first-child {
            overflow: hidden;
            text-overflow: ellipsis;white-space: nowrap;
        }
        span:last-child {
            padding-right: 0;
        }
        a.btn {
            color: $base-color-darker;
            &:hover {
                color: $base-color;
            }
        }
    }

    &,
    .composer-footer {
        border-bottom-left-radius: $border-radius-base;
        border-bottom-right-radius: $border-radius-base;
    }

    &.blur {
        background: $base-color-dark !important;
        bottom: 1rem;
        transition: none;
        .composer-header {
            background-color: lighten($panel-header, 10%);
        }
        .composer-body * {
            opacity: .8 !important;
        }
        * {
            pointer-events: none;
            cursor: default !important;
        }
    }

    .composer-body {
        .options {
            position: absolute;
            width: 100%;
            background-color: $panel-footer;
            z-index: 2000;
            top: 31px;
            padding: 10px 0;
            box-shadow: 0 1px 0 $base-color-darker;
            .form-group {
                .form-control {
                    border-radius: $border-radius-base;
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                    border: 1px solid $base-color-darker;
                }
                box-shadow: none;
                margin-bottom: 10px;
            }
        }
        .form-horizontal {
            .form-group {
                margin-left: 0;
                margin-right: 0;
            }
        }
        .form-group {
            box-shadow: 0 -1px 0 $base-color-darker;
            position: relative;
            margin-bottom: 0;
            &.fromGroup {
                box-shadow: none;
                float: left;
                width: 100%;
            }
            .input-group-addon {
                min-width: 50px;
                text-align: left;
                background-color: $base-color;
                border: none;
            }
            .form-control {
                z-index: 0;
                box-shadow: none;
                border-radius: 0;
                border: 0;
                outline: 0;
                min-height: 32px;
                height: 32px;
            }
        }
    }

    .composer-footer {
        padding: 10px 10px;
        box-shadow: inset 0 1px 0 $base-color-darker;
        background-color: $panel-footer;
        box-sizing: border-box;
        min-height: 50px;
        span {
            margin-top: 7px;
        }
    }
}
