#contactPagination {
  margin: 0 0 0 15px;
}
.actionsTh {
  width: 15rem;
}
.checkboxTh {
  width: 2rem;
}
#contactsTable {
  table-layout: fixed;
}
#contactsTable tbody td span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
#contactSearchGroup {
  position: relative;
  a {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 1rem;
    line-height: $row-height;
    height: $row-height;
    display: block;
    z-index: 2;
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }
}
form.searchOrCreateContact {
  border-bottom: 1px solid #eee;
  padding: 10px;
  position: relative;

  > i,
  > a {
    position: absolute;
    top: 14px;
    color: rgba(0, 0, 0, 0.25);

    &.search,
    &.editing {
      left: 20px;
    }
    &.edit,
    &.save {
      right: 45px;
    }

    &.remove,
    &.add,
    &.cancel {
      right: 20px;
    }

    &[href]:hover {
      color: #333;
    }
  }

  > div {
    font-size: 0;
  }

  input {
    @include box-shadow(none);
    @include box-sizing(border-box);
    @include transition(color, 200ms, ease-in-out);

    font-size: 13px;
    border: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    outline: none;

    &.name {
      width: 40%;
      padding-left: 40px;
    }
    &.email {
      width: 60%;
    }
    &.invalid {
      color: $btn-danger-bg;
    }
  }
}
.contacts {
  padding: 0 10px;

  li {
    position: relative;
    padding: 8px 10px;
    border-bottom: 1px solid #eee;

    span {
      @include box-sizing(border-box);
      display: inline-block;
    }
    span.name {
      width: 40%;
      padding-left: 30px;
    }
    span.email {
      width: 60%;
      padding-right: 60px;
    }
    a {
      position: absolute;
      top: 3px;
      display: inline-block;
      padding: 5px;
      color: rgba(0, 0, 0, 0.25);

      &:hover {
        color: #333;
      }

      &.compose {
        left: 5px;
      }
      &.edit {
        right: 30px;
      }
      &.remove {
        right: 5px;
      }
    }
  }
}
