// Windows
.ua-windows_nt {
	// All Browsers
	table.message-list tbody input[type="checkbox"] {
		position: relative;
	}
	// IE
	&.ua-ie {
	    table.message-list tbody input[type="checkbox"],
    	table.message-list tbody .fa-lock,
    	table.message-list tbody .fa-unlock-alt {
	        top: 1px;
	    }
	    table.message-list tbody .starLink {
	    	position: relative;
	    	top: 0;
	    }
	    @media screen and (min-width: 992px) {
	    	#composerFrame {
	    		z-index: auto !important;
	    	}
	    }
	}
	// Firefox
	&.ua-firefox {
	    table.message-list tbody input[type="checkbox"] {
	        top: 1px;
	    }
	}
	// Chrome
	&.ua-chrome {
	    table.message-list tbody input[type="checkbox"],
    	table.message-list tbody .fa-lock,
    	table.message-list tbody .fa-unlock-alt {
	        top: 1px;
	    }
	    .selectAll input[type="checkbox"] {
	    	position: relative;
	    	top: 2px;
	    }
	    table.message-list tbody .starLink {
	    	position: relative;
	    	top: 0px;
	    	&:hover {
				text-decoration: none;
	    	}
	    }
	}
}

// OSX
.ua-mac_os_x {
	// Firefox
	&.ua-firefox {
	    table.message-list tbody input[type="checkbox"] {
	        position: relative;
	        top: 1px;
	    }
	}
}
