.blur {
    opacity: 1 !important;
}

.bold {
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}
.vcenter {
    vertical-align: middle;
}
.inline {
    display: inline;
}
.mobileOnly {
    display: none;
}
.relative {
    position: relative;
}
.well {
    box-shadow: none;
}
.mono {
    font-family: $font-family-monospace;
}
.faded {
    color: rgba(0,0,0,.1);
}
.text-purple {
    color: $primary-color-dark;
}
.text-yellow {
    color: $yellow;
}
.text-center {
    text-align: center;
}
