#header {
    height: $navbar-height;
    min-height: $navbar-height;
    .navbar {
        .dropdown {
            position: relative;
            z-index: 200;
        }
        @include transition (color, 200ms, ease-in-out);
        .dropdown-menu {
            background-color: $navbar-color;
            font-size: 1em;
            li a {
                line-height: 2em;
                color: #ccc;
                &:hover,
                &:focus,
                &:active {
                    color: $base-color;
                    background-color: transparent;
                }

                .fa {
                    margin-right: 20px;
                }
            }
        }
    }
    .navbar-text {
        margin-right: 0;
        margin-left: 0;
    }
    .logo img {
        height: 2rem;
    }
    #searchMob {
        line-height: 30px;
        height: 30px;
        width: 35px;
        margin: 10px 15px 10px 0;
        color: $base-color;
        background: $alt-color-light;
        text-align: center;
        border-radius: 2px;
        text-decoration: none;
    }
    #main .navbar {
        margin-bottom: 0;
    }
}
