@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    };
}

@-webkit-keyframes electron {
    0% {
        -webkit-transform: rotateZ(0deg);
        opacity: 0;
        box-shadow: 0;
    }

    50% {
        opacity: 1;
        box-shadow: 0 0 8rem 1rem #fff;
    }

    100% {
        -webkit-transform: rotateZ(360deg);
        opacity: 0;
        box-shadow: 0;
    };
}

@keyframes electron {
    0% {
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
        opacity: 0;
        box-shadow: 0;
    }

    50% {
        opacity: 1;
        box-shadow: 0 0 8rem 1rem #fff;
    }

    100% {
        -webkit-transform: rotateZ(360deg);
                transform: rotateZ(360deg);
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
        opacity: 0;
        box-shadow: 0;
    };
}

@-webkit-keyframes horizontal {
    from {
        -webkit-transform: rotateY(0deg);
    }

    to {
        -webkit-transform: rotateY(360deg);
    };
}

@keyframes horizontal {
    from {
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }

    to {
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    };
}


@-webkit-keyframes horizontalRevert {
    from {
        -webkit-transform: rotateY(360deg);
    }

    to {
        -webkit-transform: rotateY(0deg);
    };
}

@keyframes horizontalRevert {
    from {
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    }

    to {
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    };
}

@-webkit-keyframes vertical {
    from {
        -webkit-transform: rotateX(0deg);
    }

    to {
        -webkit-transform: rotateX(360deg);
    };
}

@keyframes vertical {
    from {
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
    }

    to {
        -webkit-transform: rotateX(360deg);
                transform: rotateX(360deg);
    };
}

@-webkit-keyframes verticalRevert {
    from {
        -webkit-transform: rotateX(360deg);
    }

    to {
        -webkit-transform: rotateX(0deg);
    };
}

@keyframes verticalRevert {
    from {
        -webkit-transform: rotateX(360deg);
                transform: rotateX(360deg);
    }

    to {
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
    };
}

@keyframes lateral {
    0% {
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
                opacity: 1;
    }

    50% {
        -webkit-transform: rotateZ(180deg);
                transform: rotateZ(180deg);
                opacity: .5;
    }

    100% {
        -webkit-transform: rotateZ(360deg);
                transform: rotateZ(360deg);
                opacity: 1;
    };
}

@-webkit-keyframes lateral {
    0% {
        -webkit-transform: rotateZ(0deg);
        opacity: 1;
    }

    50% {
        -webkit-transform: rotateZ(180deg);
                opacity: .5;
    }

    100% {
        -webkit-transform: rotateZ(360deg);
        opacity: 1;
    };
}

@-webkit-keyframes lateralRevert {
    from {
        -webkit-transform: rotateZ(360deg);
    }

    to {
        -webkit-transform: rotateZ(0deg);
    };
}

@keyframes lateralRevert {
    from {
        -webkit-transform: rotateZ(360deg);
                transform: rotateZ(360deg);
    }

    to {
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    };
}

@-webkit-keyframes blink { 
    0% {
        color: rgba(255,255,255, 1);
    }

    50% {
        color: rgba(255,255,255,.5);
    }

    100% {
        color: rgba(255,255,255, 1);
    };
}

@keyframes blink {
    0% {
        color: rgba(255,255,255, 1);
    }

    50% {
        color: rgba(255,255,255,.5);
    }

    100% {
        color: rgba(255,255,255, 1);
    };
}