#loginPanel,
#unlockPanel {
    .panel-body {
        min-height: 24rem;
    }
    .logoWrap {
        display: block;
        padding: 2rem 0;
        border-bottom: 1px solid rgba(255,255,255,.1);
        text-align: center;
        .logo {
            display: block;
            height: 2rem;
            margin: auto;
        }
    }
    h3 {
        text-transform: uppercase;
        margin: 0;
        font-size: 18px;
        &.margin-bottom {
            margin-bottom: 2rem;
        }
    }
    p {
        color: #999;
        margin-bottom: 2rem;
    }
}

.unlock #body #content {
    padding: 6rem 0;
    &.robot {
        padding-top: 0;
    }
}

#robotLoader {
    height: 35rem;
    p {
        position: relative;
        top: 4rem;
        color: #fff;
    }
}

// reset stuff
#resetMbCode,
#resetLoginCode {
    font-size: 3rem;
    text-align: center;
    font-family: monospace;
    letter-spacing: .2rem;
    height: 2em;
    line-height: 2em;
}