.message-head {
  padding: 1.4em 1.2em 1.2em 1.2em;
  position: relative;
  background-color: #f5f5f5;

  h1 {
    margin: 0;
    a {
      &.back {
        @include transition(color 0.07s ease-in-out 0);

        margin-right: 1rem;
        color: #ccc;

        &:hover {
          color: #999;
        }
      }
      i.fa {
        font-size: inherit;
      }

      .fa-star-o { color: rgba(0, 0, 0, 0.5); }
      .fa-star {   color: orange; }
    }
  }

  .message-actions {
    margin-right: 1rem;

    a {
      margin-left: 2rem;
      font-size: 110%;
      font-weight: bold;
      line-height: 2em;
      color: #999;
      display: inline-block;

      &:hover {
        text-decoration: none;
        color: #333;
      }
    }
  }

  div.toggle-head {
    display: block;
    position: absolute;
    padding-left: 8.5px;
    height: 32px;
    width: 23.5px;
    border-radius: 100%;
    bottom: -16px;
    left: 50%;
    margin-left: -18px;
    cursor: pointer;
    box-sizing: content-box;

    @include transition(all 0.1s ease-in-out);

    &,
    &.open:hover {
      color: #ddd;
      background-color: white;
    }

    &:hover,
    &.open {
      color: #aaa;
      background-color: #f5f5f5;
    }

    i {
      font-size: 24px;
      line-height: 36px;

      &.fa-angle-double-up {
        line-height: 32px;
      }
    }
  }

  ul.infos {
    padding: 0;
    margin-top: 1.5em;

    li {
      list-style: none;
      margin-top: 0.5rem;
    }

    strong {
      display: inline-block;
      width: 4em;
      font-weight: normal;
      color: #999;
    }
    
    span p {
      display: inline-block;
      color: #999;
      margin: 0;

      em {
        font-weight: bold;
        font-style: normal;
        color: black;
      }
    }
  }
}

#message-body {
  iframe {
    width: 100%;
    border: 0;
    float: left;
  }
}
