table.message-list {
  tr {
    @include transition(background-color 0.05s ease-in 0);

    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
    color: #444;

    &:hover,
    &.selected {
      color: #111;
    }
    
    &.unread {
      font-weight: bold;
      color: #000
    }

    &.starred {
      background-color: #ffc;
      &:hover {
        td {
          background: transparent;
        }
        background-color: darken(#ffc, 5%);
      }
    }

    color: $gray-light;

    td.actions {
      cursor: default;
      width: 72px;
      padding-left: 16px;

      span { 
        width: 1.5rem;
        text-align: center;

        &.fa-star,
        &.fa-star-o {
          font-size: 120%;
          position: relative;
          top: 1px;
        }
      }

      .fa-unlock-alt {      color: rgba(0, 0, 0, 0.25); }
      .fa-star-o {          color: rgba(0, 0, 0, 0.5); }
      .fa-star {            color: orange; }
      a:hover .fa-star-o {  color: #000; }
      .fa-lock {            color: #333}

      .tooltip { font-weight: normal; }
    }

    td.recipient {
      width: 5rem;

      .to { 
        font-weight: normal;
        color: #999;
      }
    }

    td.size,
    td.when {
      width: 4rem;
    }


    i.fa-paperclip { 
      opacity: 0;
      margin-right: 0.4em;
      
      &.active { 
        opacity: 0.5; 
      }
    }

  }

  border-bottom: 1px solid $table-border-color;

  &.empty::after {
    content: "Empty Mailbox";
    position: absolute;
    top: 87px;
    bottom: 0;
    left: 200px;
    right: 0;
    text-align: center;
    /* vertical-align: middle; */
    padding-top: 8em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200%;
    color: #ccc;
    text-shadow: 2px 2px white;
    background-color: #f8f8f8;
  }
}
