table.message-list {
  border-bottom: none;

  tbody td {
    border-top: none;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  }

  &.empty::after {
    content: "Empty Mailbox";
    position: absolute;
    top: 87px;
    bottom: 0;
    left: 200px;
    right: 0;
    text-align: center;
    padding-top: 8em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200%;
    color: #ccc;
    text-shadow: 2px 2px white;
    background-color: #f8f8f8;
  }

  tr {
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
    color: $gray-light;

    &:hover,
    &.selected {
      color: #111;
    }
    
    &.unread {
      font-weight: bold;
      color: #000
    }

    &.starred {
      background-color: #ffc;

      &:hover {
        background-color: darken(#ffc, 5%);

        td {
          background: transparent;
        }
      }
    }

    td.actions {
      cursor: default;
      padding-left: 15px;
      width: 7.5rem;

      span { 
        width: 1.5rem;
        text-align: center;

        &.fa-star,
        &.fa-star-o {
          font-size: 14px;
          position: relative;
          top: 1px;
        }
      }

      .fa-unlock-alt {      color: rgba(0, 0, 0, 0.25); }
      .fa-star-o {          color: rgba(0, 0, 0, 0.5); }
      .fa-star {            color: orange; }
      a:hover .fa-star-o {  color: #000; }
      .fa-lock {            color: #336}

      .tooltip { font-weight: normal; }
    }

    td.recipient {
      width: 5rem;

      .to { 
        font-weight: normal;
        color: #999;
      }
    }

    td.size,
    td.when {
      width: 4rem;
    }


    i.fa-paperclip { 
      opacity: 0;
      margin-right: 0.4em;
      padding: 0.3em;
      display: inline;

      &:not(.active) {
        pointer-events: none;
      }
      
      &.active { 
        opacity: 0.5;
      }
    }

  }
}
