#messageActionGroup .btn {
    border-radius: 0;
    border: none;
    color: #fff;
    box-shadow: inset 1px 0 0 rgba(0,0,0,.25);
    &:focus,
    &:active,
    &:hover {
        background: $primary-color;
    }
}
.message-toolbar {
    $message-toolbar-bg: #fff;
    @include linear-gradient($btn-default-bg, darken($btn-default-bg, 10%));
    background: -moz-linear-gradient($btn-default-bg, darken($btn-default-bg, 10%));
    box-shadow: 0 1px rgba(0,0,0,.2);
    position: relative;
    z-index: 4;
    @include clearfix;

    .fa {
        font-size: 16px;
        vertical-align: middle;
        &.fa-caret-down {
            font-size: 1rem;
        }
    }

    .navigation {
        li.prev-page,
        li.next-page{
            a {
                padding: 0 1.5rem;
            }
        }
    }

    > ul {
        > li {
            .backBtn {
                width: 4rem;
                text-align: center;
                padding: 0;
            }
            a {
                color: #333;
                &:hover {
                    @include linear-gradient($btn-default-bg, darken($btn-default-bg, $color-offset));
                }
            }
            &.seperator {
                border-right: 1px solid #ccc;
            }
            &.selectAll {
                label {
                    display: block;
                    padding: 0;
                    width: 4rem;
                    text-align: center;
                    line-height: $row-height;
                    height: $row-height;
                    cursor: pointer;
                    margin: 0;
                }
                padding: 0;
                @include linear-gradient($btn-default-bg, darken($btn-default-bg, 10%));
                background: -moz-linear-gradient($btn-default-bg, darken($btn-default-bg, 10%));
                border-right: 1px solid #ccc;
            }
            &.open > a {
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            }
            &.open {
                .labels {
                    a:hover {
                        background-color: transparent;
                    }
                    display: block;
                    margin-top: 0;
                    width: 300px;
                    position: absolute;
                    background-color: $base-color;
                    input[type='search'] {
                        border: 1px solid $base-color-darker;
                        outline: 0;
                    }
                    ul.list-group {
                        max-height: 200px;
                        overflow: auto;
                        input[type='checkbox'] {
                            margin: 0;
                        }
                        .label {
                            float: right;
                        }
                    }
                }

            }

            input[type='search'] {
                line-height: $row-height;
                border: none;
                outline: 0;
                padding: 0 10px;
            }

            > input[type='checkbox'] {
                margin: 1rem 0;
            }

            &.disabled {
                background: none;
            }

            &.disabled a,
            & > a.disabled {
                text-shadow: none;
                opacity: 0.3;
                cursor: not-allowed;
                pointer-events: none;
            }

            > a {
                padding: 0 1rem;
                line-height: $row-height;
                display: inline-block;
                text-align: center;

                input[type="checkbox"] {
                    margin: 0;
                }

                &:not([href]):hover {
                    background-color: transparent;
                }

                i:first-child {
                    margin-right: 0;
                }

                &.dropdown-toggle {
                    i.fa-angle-down {
                        margin-left: 3px;
                    }
                }
            }

            .dropdown-menu {
                background-color: #eeeeee;
                border-top: 1px solid #d1d1d1;
                margin-left: -1px;
                padding: 0;
                top: 100%;
                li:not(:last-child) {
                    border-bottom: 1px solid #ddd;
                }
                .label {
                    padding: .4rem;
                }
                li > a {
                    padding: 8px 40px 8px 10px;
                    position: relative;

                    i.fa-check {
                        display: block;
                        position: absolute;
                        right: 10px;
                        top: 8px;
                        opacity: 0;
                    }
                }

                li.selected > a {
                    color: #aaa;
                    pointer-events: none;
                }

                li.toggled-on > a,
                li.selected > a {
                    i.fa-check {
                        opacity: 1;
                    }
                }

                a:hover {
                    background-color: #e7e7e7;
                }

                li.clear a {
                    font-weight: bold;
                }
            }
        }
    }
}
