.message-metadata,
#main .message-head {
    background-color: #f2f2f2;
    a:hover,
    a:focus {
        text-decoration: none;
    }
}
.alert-danger .fa-exclamation-triangle {
    margin-right: 1rem;
}
.message-metadata {
    padding: .5rem 2rem;
}

#attachmentWrap {
    overflow: auto;
    max-height: (3*$row-height);
    background-color: #f2f2f2;
}
#attachmentArea {
    border-radius: 0;
    margin: 0;
    max-width: none; // conflict with panel
    border-top: 1px solid #ccc;
    .attachmentTitle {
        line-height: $row-height;
        height: $row-height;
        padding: 0 0 0 2rem;
        display: block;
        background-color: #e5e5e5;
        border-bottom: 1px solid #ccc;
        .btn-sm {
            background-color: transparent;
        }
    }
    a {
        display: block;
        text-align: left;
    }
    .fa, strong {
        pointer-events: none;
    }
    .list-group-item.active {
        border-color: #ddd;
    }
    .list-group-item .fa {
        width: 1rem;
        margin-right: 1rem;
        display: inline-block;
    }
}

.message-metadata {
    box-shadow: inset 0 -1px #ccc;
    .pull-right em {
        font-style: normal;
        color: rgba(0,0,0,.5);
    }
    ul.infos {
        padding: 0;
        margin-top: 0;
        margin-left: 0;
        .email {
            color: #000;
            text-decoration: none;
            border-radius: $border-radius-base;
            border: 1px solid transparent;
            transition: all .5s ease;
            background: rgba(0, 0, 0, .1);
            padding: 0 5px;
            &:hover {
              background: $primary-color;
              border-color: $primary-color-dark;
              color: #fff;
            }
        }
        li {
            list-style: none;
            margin-top: 0.25rem;
        }
        strong {
            display: inline-block;
            width: 4em;
            font-weight: 400;
            color: rgba(0, 0, 0, .25);
        }
        span p {
            display: inline-block;
            color: rgba(0, 0, 0, .25);
            margin: 0;
            em {
                font-style: normal;
                color: black;
            }
        }
    }
}

#showImages {
    background: #e5e5e5;
    box-shadow: inset 0 -1px #ccc;
    border: none;
    padding: 0 2rem;
        a {
        display: block;
        line-height: $row-height;
        width: 100%;
        text-decoration: underline;
    }
}

ul.attachments {
    padding: 0;
    margin: 0.5em;
    li {
        list-style: none;
        display: inline-block;
        line-height: 18px;
        margin: 4px 5px 5px 0;
        padding: 4px 8px 6px 8px;
        border-radius: $border-radius-base;
        background-color: #ddd;
        a {
            padding: 3px;
        }
        .fa-paperclip {
            margin-right: 3px;
        }
    }
}

#main .message-head {
    padding: 1rem 2rem;
    position: relative;
    box-shadow: inset 0 -1px $base-color-darker;
    display: block;
    @include transition(all, 200ms, ease-in-out);
    .pull-right p {
        margin: 0;
        line-height: 2rem;
    }
    &.unread h1 {
        font-weight: 700;
        color: #000;
    }
    h1 {
        margin: 0;
        text-align: left;
        line-height: $row-height;
        font-size: 140%;
        font-weight: 700;
        color: #000;
        word-wrap: break-word;
        .attachement {
            position: absolute;
            top: 70px;
            left: 22px;
            .fa {
                color: #bbb;
                font-size: inherit;
            }
        }
        .fa {
            color: #666;
            font-size: inherit;
            &.fa-star,
            &.fa-star:hover {
                color: orange;
            }
            &.fa-lock,
            &.fa-unlock-alt {
                color: rgba(0,0,0,.25)
            }
            &.fa-lock.text-purple {
                color: $primary-color;
            }
        }
        .label {
            font-size: 60%;
            margin-right: 5px;
            position: relative;
            top: -4px;
            display: inline-block;
            .fa {
                position: relative;
            }
        }
        .btn-group {
            .fa {
                color: #fff;
            }
        }
    }
    div.toggle-head {
        display: block;
        position: absolute;
        text-align: center;
        height: 2rem;
        width: 2rem;
        border-radius: 100%;
        border-top: 1px solid transparent;
        border-bottom: 1px solid #e4e4e4;
        bottom: -1rem;
        left: 50%;
        margin-left: -1rem;
        margin-top: 1px;
        cursor: pointer;
        border: 1px solid $base-color-darker;
        box-sizing: content-box;
        @include transition(all, 200ms, ease-in-out);
        & {
            color: $base-color-darker;
            @include primary-gradient-dark;
        }
        &:hover {
            color: #999;
            background-color: white;
        }
        i {
            line-height: 2rem;
            &.fa {
                line-height: 2rem;
                text-align: center;
            }
        }
    }
    pre {
        margin: -15px -15px 15px;
        padding: 1.5rem 15px;
        background-color: #f5f5f5;
        color: #000;
        border: 0;
        box-shadow: inset 0 -1px $base-color-darker;
        white-space: pre-wrap;
        word-wrap: break-word;
        font-family: monospace, serif;
        font-size: 1em;
        line-height: 1.75em;
        border-radius: 0;
        border-width: 1px 0 0 0;
    }
}

.wysihtml5-sandbox {
    min-height: 12rem;
}
#message-body {
    font-size: 1.35rem;
    -webkit-overflow-scrolling: touch;
    .alert {
        margin: 2em 1em;
        span.fa {
            font-size: 290%;
            display: block;
        }
    }
}
