$tr-read: $base-color-dark;
$tr-unread: #fff;
$tr-starred: $starred;
$tr-selected: $selected;

$tr-read-hovered: darken($base-color-dark, 2%);
$tr-unread-hovered: darken(#fff, 2%);
$tr-starred-hovered: darken($starred, 2%);
$tr-selected-hovered: darken($selected, 2%);

#noMessages {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200%;
    padding: 6rem 0;
    color: $base-color-darker;
    text-shadow: 0px 1px 0 white;
}
table.message-list.mobile tr {
    h4 {
        font-size: 17px;
    }
}

table.message-list {
    border-bottom: none;
    margin-bottom: 0;
    table-layout: fixed;
    tbody td {
        border-top: none;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    }
    a:hover {
        text-decoration: none;
    }
    tr {
        cursor: pointer;
        font-size: 14px;
        white-space: nowrap;
        color: #555;
        background-color: $tr-read;
        @include transition(all, 0, ease-in-out);
        &:hover,
        &:active {
            i.fa-paperclip,
            i.fa-clock-o,
            span.labels,
            td {
               background-color: $tr-read-hovered;
            }
        }
        h4 {
            margin: 0;
            padding: 0;
            font-size: 14px;
            display: inline-block;
        }
        td {
            padding: 0 0 0 2rem;
            line-height: $row-height;
            vertical-align: middle;
            overflow: hidden;
            &.actions {
                cursor: default;
                padding-left: 0;
                width: 7rem;
                input {
                    position: relative;
                    top: -1px;
                }
                label {
                    display: inline-block;
                    width: 4rem;
                    text-align: center;
                    margin: 0;
                }
                span {
                    width: 1.5rem;
                    text-align: center;
                    &.fa-star, &.fa-star-o {
                        font-size: 14px;
                        position: relative;
                        top: 1px;
                    }
                }
                .fa-unlock-alt,
                {
                    color: rgba(0, 0, 0, 0.25);
                    position: relative;
                    top: 1px;
                }
                .fa-star-o {
                    color: rgba(0, 0, 0, 0.5);
                }
                .fa-star {
                    color: orange;
                }
                a:hover .fa-star-o {
                    color: #000;
                    text-decoration: none;
                }
                .fa-lock {
                    position: relative;
                    top: 1px;
                    color: rgba(0, 0, 0, 0.25);
                }
                .text-purple {
                    color: $primary-color-dark;
                }
                .fa-unlock-alt,
                .fa-lock {
                    margin-left: -1.25rem;
                }
                .tooltip {
                    font-weight: normal;
                }
            }
            &.recipient {
                width: 18rem;
                .to,
                .from {
                    font-weight: normal;
                    color: #999;
                }
                .recipSpan {
                    display: block;
                    white-space: nowrap;
                    width: 16rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            &.subject {
                span.location {
                    width: auto;
                    display: inline-block;
                    text-align: center;
                    padding: 0 .5rem;
                    font-weight: 400;
                    font-size: 1em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    float: left;
                    &.label-default {
                        background: rgba(0,0,0,.1);
                        color: #555;
                        .fa {
                            display: inline-block;
                            width: 1em;
                            margin-right: 0
                        }
                    }
                }
            }
            &.size,
            &.when {
                text-align: right;
                font-size: .9em;
            }
            &.size {
                width: 8rem;
                padding-left: 0;
            }
            &.when {
                padding-right: 1rem;
                width: 14rem;
            }
            .label {
              line-height: $row-height/2;
              margin: $row-height/4 .5rem $row-height/4 0;
              padding: 0 .25rem;
              display: inline-block;
              position: relative;
              top: -1px;
            }
        }
        &.unread {
            background: $tr-unread;
            h4,
            td {
                font-weight: bold;
                color: #000;
            }
            i.fa-paperclip,
            i.fa-clock-o,
            span.labels {
                background-color: #fff;
            }
            &:hover,
            &:active {
                i.fa-paperclip,
                i.fa-clock-o,
                span.labels,
                td {
                    background-color: $tr-unread-hovered;
                }
            }
        }
        &.selected {
            i.fa-paperclip,
            i.fa-clock-o,
            span.labels,
            td {
                background-color: $tr-selected;
            }
            &:hover,
            &:active {
                i.fa-paperclip,
                i.fa-clock-o,
                span.labels,
                td {
                    background-color: $tr-selected-hovered;
                }
            }
        }
        i.fa-paperclip,
        i.fa-clock-o,
        span.labels {
            float: right;
            display: inline-block;
            line-height: 32px;
            height: 30px;
            min-width: 25px;
            text-align: center;
            position: relative;
            z-index: 2;
            top: 1px;
            background-color: $base-color-dark;
        }
        i.fa-paperclip {
            padding-right: 0;
        }
    }
}
