#main.eo {
	padding-left: 0
}

#outsideMessageWrap {
	background: $base-color;
	.message-head {
		padding: 2rem 2rem 2rem 5rem;
		h1 {
			color: #000;
			.padlock {
				top: 2rem;
			}
		}
		ul.infos {
			margin: 0;
		}
	}
	#eo_footer {
		padding: 1rem 2rem;
	    box-shadow: inset 0 1px $base-color-darker;
	    p {
	    	margin: 0;
	    	padding: 0;
	    }
	}
	.message-head,
	#eo_footer {
		background: darken($base-color, $color-offset);
	}
}