#accessLog {
    .label {
        display: block;
        text-align: left;
        text-transform: uppercase;
        line-height: 1.5rem;
    }
    code {
        font-size: 1.4rem;
    }
    th span {
        width: 10rem;
        display: block;
    }
}
#logHeader {
    padding: 1rem 0;
    width: 100%;
    float: left;
    clear: both;
    .pagination {
        margin: 0;
    }
}
.list-group {
    list-style-type: none !important;
    .fa-ellipsis-v {
        margin-right: 10px;
    }
    .as-sortable-item {
        &:hover {
            background-color: $selected;
        }
    }
    .as-sortable-item, .as-sortable-placeholder {
        min-height: 20px;
        margin: 0;
        margin-bottom: -1px;
        border-radius: 0;
        background-color: #fff;
        border: 1px solid #ddd;
    }
}

.as-sortable-item {
    border: solid 1px #ddd;
    background-color: #ffffff;
    list-style: none outside none;
}

.as-sortable-item-handle {

}

.as-sortable-placeholder {
    background-color: #dbdbdb !important;
}

.as-sortable-drag {
    opacity: .8;
    margin: 0;
    position: fixed;
    padding: 0;
}

.as-sortable-hidden {
}

legend {
    font-weight: bold;
	color: $base-color-darker;
	font-size: $font-size-base;
}
