$angular-squire-border-radius: $border-radius-base !default;
$angular-squire-container-bg: #fff !default;
$angular-squire-border-color: $base-color-darker !default;
$angular-squire-popover-bg: $panel-footer !default;
$angular-squire-highlight-color: #55ACEE !default;
$angular-squire-wrapper-padding: 5px 0 !default;

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.angular-squire.form-control {
    height: inherit;
    min-height: 14rem;
    padding: 0;
}

#eo-reply .angular-squire {
    min-height: 24rem;
}

.angular-squire {
    transition: transition(all 2s);
    outline: none;

    .hl {
        border-bottom: 2px $angular-squire-highlight-color solid;
        opacity: 1;
    }

    .popover-visible {
        .squire-popover {
            display: block;
        }
    }

    $squire-toolbar-height: 3rem;

    .squire-toolbar {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 14px;
        line-height: $squire-toolbar-height;
        border: none;
        box-shadow: inset 0 -1px 0 $base-color-darker;
        @include linear-gradient($btn-default-bg, darken($btn-default-bg, 10%));
        background: -moz-linear-gradient($btn-default-bg, darken($btn-default-bg, 10%));
        li {
            vertical-align: top;
            display: inline-block;
            margin: 0;
            padding: 0;
            outline: none;
            list-style: none;
            box-sizing: content-box;
            line-height: $squire-toolbar-height;
            &.separator {
                width: 1px;
                height: $squire-toolbar-height;
                box-shadow: inset -1px 0 0 $base-color-darker;
            }
            a.btn {
                position: relative;
                line-height: $squire-toolbar-height;
                padding: 0 1rem;
                display: inline-block;
                margin: 0;
                border: none;
                color: #333 !important;
                text-decoration: none !important;
                &:hover {
                }
                .fa-lock, .fa-clock-o {
                    color: $primary-color;
                }
                &.btn-options.active {
                    background-color: $panel-footer;
                    box-shadow: none;
                }
            }
        }
    }

    .squire-popover {
        background-color: $angular-squire-popover-bg;
        border: 1px solid $angular-squire-border-color;
        position: absolute;
        z-index: 101;
        top: 45px;
        display: none;
        border-radius: $angular-squire-border-radius;
        min-width: 250px;

        &:after, &:before {
            bottom: 100%;
            left: 50%;
            border: 1px solid $angular-squire-border-color;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: rgba($angular-squire-popover-bg, 0);
            border-bottom-color: $angular-squire-popover-bg;
            border-width: 15px;
            margin-left: -15px;
        }
        &:before {
            border-color: rgba($angular-squire-border-color, 0);
            border-bottom-color: $angular-squire-border-color;
            border-width: 18px;
            margin-left: -18px;
        }
        .content {
            border-radius: $angular-squire-border-radius;
            &.content-options {
                background-color: $primary-color;
                border: none;
                color: #fff;
                .form-control {
                    background-color: $primary-color-dark;
                    color: $base-color-darker;
                }
            }
            z-index: 110;
            padding: 10px;
            .form-control {
                border: 1px solid $base-color-darker;
                border-radius: $angular-squire-border-radius;
                margin-bottom: 10px;
            }
            .form-control:last-child {
                margin-bottom: 0;
            }
            .title {
                font-weight: bold;
            }
            .panel {
                background-color: transparent;
            }
        }
        .squire-popover-overlay {
            background-color: transparent;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 0;
            z-index: -1;
        }
    }

    .editor-container {
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        position: relative;
        height: 100%;
        background-color: $angular-squire-container-bg;
        .ng-hide {
            height: 0;
        }

        &.editor-hide {
            height: 0;
            overflow: hidden;
        }
    }
    .angular-squire-controls, .angular-squire-cover {
        display: block;
    }
    .menu .item {
        position: relative;
        opacity: 0.5;
        font-size: 13px;
        padding: 1px 5px;
        color: #000;
        float: left;
        background: #FFF;
        border-left: 1px #EEE solid;
        border-bottom: 2px transparent solid;
    }
    .menu.b .item.bold {
        @extend .hl;
    }
    .menu.i .item.italic {
        @extend .hl;
    }
    .menu.ul .item.ulist {
        @extend .hl;
    }
    .menu.ol .item.olist {
        @extend .hl;
    }
    .menu.u .item.underline {
        @extend .hl;
    }
    .menu.blockquote .item.quote {
        @extend .hl;
    }
    .menu.align-left .item.aleft {
        @extend .hl;
    }
    .menu.align-right .item.aright {
        @extend .hl;
    }
    .menu.align-center .item.acenter {
        @extend .hl;
    }
    .menu.size .item.header {
        @extend .hl;
    }

    .menu .group {
        display: inline-block;
    }

    .menu .group .item:hover, .menu .item:first-child:hover, .menu .item.active:first-child {
        @extend .hl;
    }

    .menu .item:first-child {
        border-left: none;
    }
    .menu {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        user-select: none;
        text-align: left;
        padding: 0 10px;
        height: 31px;
    }
    .angular-squire-wrapper {
        position: relative;

        .placeholder {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding: 1em;
            background: #fff;
            color: #777;
            z-index: 0;
        }

        iframe {
            background: transparent;
            z-index: 10;
            position: relative;
            width: 100%;
            height: 100%;
            color: #333;
            background-repeat: no-repeat;
            background-position: right center;
            outline: none;
        }
    }

    textarea {
        width: 100%;
        border: none;
        padding: 10px;
        resize: none;
        outline: 0;
    }
}

.angular-squire .angular-squire-wrapper .placeholder div {
    padding: $angular-squire-wrapper-padding;
}

html.angular-squire-iframe {
    height: 100%;
    body {
        box-sizing: border-box;
        height: 100%;
        padding: 1em !important;
        background: transparent;
        color: #2b2b2b;
        cursor: text;
        p {
            margin: 0 0 1rem 0;
        }
        a {
            text-decoration: underline;
        }
    }
}