.toggle-switch {
  border-radius: $border-radius-base;
  z-index: 2;
  .switch-left {
    @include primary-gradient;
  }
  .switch-right {
    background-color: #DDD;
  }
}
.toggle-switch-animate {
    transition: left 0.2s;
    -o-transition: left 0.2s;
    -moz-transition: left 0.2s;
    -webkit-transition: left 0.2s;
}
