#pagination {
    clear:both;
    margin:0 auto;
    padding:0;
    text-align: center;
    display: block;
    li {
        list-style:none;
        margin:0 .5rem;
        display: inline-block;
        a {
            display: inline-block;
            width:1.5rem;
            height:1.5rem;
            text-indent:-10000px;
            background: #C1C1C1;
            border-radius: 1.5rem;
            -moz-border-radius: 1.5rem;
            -webkit-border-radius: 1.5rem;
            &.active {
                background: #72709D;
            }
        }
    }
}
