.atomLoader {
    color: $white
}

.atomLoader-container {
  margin: 0 auto 20px auto;
  position: relative;
  display:flex;
  align-items:center;
  justify-content:center;
  width: 130px;
  height: 130px;
}

.atomLoader-text {
    position: relative;
    text-align: center;
    color: inherit;
}

.atomLoader-text:empty { display: none }

.atomLoader-text::after {
    position: absolute;
    overflow: hidden;
    display: inline-block;
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}


.atomLoader.primary {
    color: $primary;

    .loadingAnimation-circle {
        stroke: currentColor;
    }
}

.atomLoader.dark {
    color: $secondary;

    .loadingAnimation-circle {
        stroke: currentColor;
    }
}


@keyframes ellipsis {
  to { width: 1.25em }
}

@-webkit-keyframes ellipsis {
  to { width: 1.25em }
}
