// Context
body:not(.appConfigBody-rows) .chooseLayoutBtns-btn-column,
.appConfigBody-rows .chooseLayoutBtns-btn-rows {
    opacity: .5;
    pointer-events: none;
}

body:not(.appConfigBody-rows) .separator-if-row-mode {
    display: none;
}
