.customCheckbox-input + .customCheckbox-mask {
    /* load the sprite*/
    /* /assets/img/sprites/checkboxes-states.svg */
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAxNSI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmZmY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5jaGVja2JveGVzLXN0YXRlczwvdGl0bGU+PGcgaWQ9IkViZW5lXzIiIGRhdGEtbmFtZT0iRWJlbmUgMiI+PGcgaWQ9IkViZW5lXzEtMiIgZGF0YS1uYW1lPSJFYmVuZSAxIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik03LDEyYTEsMSwwLDAsMS0uNTUtLjE3bC0zLTJBMSwxLDAsMCwxLDQuNTUsOC4xN0w2LjY2LDkuNTcsMTAuMTMsMy41YTEsMSwwLDEsMSwxLjc0LDFsLTQsN2ExLDEsMCwwLDEtLjY0LjQ4WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTI4LDguMDZIMjFhMSwxLDAsMCwxLDAtMmg3YTEsMSwwLDAsMSwwLDJaIi8+PC9nPjwvZz48L3N2Zz4K");
}

.customCheckbox-input:checked + .customCheckbox-mask {
    background-color: $primary;
    border-color: $primary;
    background-position: 0% 50%;
}

.customCheckbox-input:disabled + .customCheckbox-mask,
.customCheckbox-input:indeterminate + .customCheckbox-mask {
    border-color: $border;
    background-color: lighten($tertiary, 4%);
}

.customCheckbox-input:indeterminate + .customCheckbox-mask,
.customCheckbox-input:checked:disabled + .customCheckbox-mask {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAxNSI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNhY2IwYmY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5jaGVja2JveGVzLXN0YXRlczwvdGl0bGU+PGcgaWQ9IkViZW5lXzIiIGRhdGEtbmFtZT0iRWJlbmUgMiI+PGcgaWQ9IkViZW5lXzEtMiIgZGF0YS1uYW1lPSJFYmVuZSAxIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik03LDEyYTEsMSwwLDAsMS0uNTUtLjE3bC0zLTJBMSwxLDAsMCwxLDQuNTUsOC4xN0w2LjY2LDkuNTcsMTAuMTMsMy41YTEsMSwwLDEsMSwxLjc0LDFsLTQsN2ExLDEsMCwwLDEtLjY0LjQ4WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTI4LDguMDZIMjFhMSwxLDAsMCwxLDAtMmg3YTEsMSwwLDAsMSwwLDJaIi8+PC9nPjwvZz48L3N2Zz4K");
}

.customCheckbox-input:indeterminate + .customMaskInput-mask {
    background-position: 100% 50%;
}
