.elements-selector {
    @include flexInline();
    position: relative;
    height: 35px;
    margin-right: 10px
}

.elements-selector-check,
.elements-selector-trigger-dropdown {
    @include flexInline();
    @include flexFillHeight();
    @include flexAlignCenter();
    cursor: pointer;
}

.elements-selector-check { width: 34px }
.elements-selector-trigger-dropdown {
    position: relative;
    z-index: 1;
    margin-left: -5px;
    opacity: .8
}

.elements-selector-trigger-dropdown:hover {
    opacity: 1;
}

.elements-selector-checkbox {
    margin:0;
    cursor: pointer;
}

.element-selector-set-scope.pm_dropdown {
    width: auto;
    margin-left: 25px /* elements-selector-label width */
}
.elementsSelector-btn-action > span { padding-right: 5px }
