
.elements-selector-label {
    width: 30px;
}

.elements-selector-trigger-dropdown-fa-angle-down { padding: 0 6px }
.element-selector-set-scope.pm_dropdown {
    width: auto;
    margin-left: 30px /* elements-selector-label width */
}
.elementsSelector-btn-action > span { padding-right: 5px }
