div.mCSB_container_wrapper { margin-right: 0 }
div.mCSB_scrollTools a+.mCSB_draggerContainer { margin: 0 -5px 5px 0 }

div.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: $scollbar-secondary;
    border: none;
    width: 9px;
}

div.mCSB_scrollTools .mCSB_draggerRail {
    background: rgba(0,0,0, 0.3);
    width: 9px;
}
div.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
div.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
div.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background: $scrollbar-primary;
}
