.paginator-disabled-main .dropdownButton-container,
.paginator-disabled-previous .paginator-btn-previous,
.paginator-disabled-next .paginator-btn-next {
    pointer-events: none;
    box-shadow: none;
    opacity: .5
}

.paginator-indicator { color: currentColor; }
[class*="paginator-btn-"] {
    border: 0;
}

.paginator-dropdown { max-height: 50vh }
