.password-container {
    position: relative;
    .password-input {
        padding-right: 60px !important;
        &:not([type="password"])[placeholder] { text-overflow:ellipsis }
        &:-webkit-autofill {  -webkit-text-fill-color: $text !important } 
        &:-webkit-autofill ~ .togglePassword-btn-toggle { color: $text }

    }
    .togglePassword-btn-toggle {
        position: absolute;
        top: 0;
        right: 1em;
        padding: 0;
        background: transparent;
        border: 0;
        line-height: 37px;
        font-size: .7rem;
        color: $primary;
        text-transform: uppercase;
        cursor: pointer
    }
}
