.customPasswordToggler {
    &.password-container {
        position: relative;

        .password-input {
            &:not([type="password"])[placeholder] { text-overflow:ellipsis }
            &:-webkit-autofill {  -webkit-text-fill-color: $text !important }
            &:-webkit-autofill ~ .togglePassword-btn-toggle { color: $text }
        }

        .password-input[type="text"] { padding-right: 30px }
        .password-input[type="password"] {
            padding: 9px 30px 8px 0px;
            text-indent: 20px;
        }

        .togglePassword-btn-toggle {
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 0px 10px;
            background: transparent;
            border: 0;
            line-height: 35px; // For the view password icon
            font-size: .8rem;
            text-transform: uppercase;
            cursor: pointer
        }

        .togglePassword-btn-toggle:not(.togglePassword-btn-display) {
            .togglePassword-icon-toPassword { display: none }
        }
        .togglePassword-btn-display .togglePassword-icon-toText {  display: none }
    }
}

.password-container:not(.customPasswordToggler) {
    .password-input[type="text"], .password-input[type="password"] { padding-right: 0 }
}
