div.noUi-target {
    display: block;
    box-shadow: none;
    border-color: $border;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 50px; /* pips legend */
}

div.noUi-connect {
    background: $primary;
    box-shadow: none;
    border:1px solid $primary;
    margin:-1px;
    border-radius: 4px;
}

div.noUi-handle {
    border: 1px solid $border;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    border-radius: 2px;
}

div.noUi-horizontal div.noUi-tooltip {
    padding: 0 2px;
    font-size: .6rem;
    box-shadow: 0px 0px 2px 3px $white
}

div.noUi-handle {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

div.noUi-handle:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

div.noUi-handle:before,
div.noUi-handle:after {
    background: transparent;
}

div.noUi-handle:before {
    content: "\2194";
    white-space: nowrap;
    margin-left: -4px;
    margin-top: -2px;
}

div.noUi-value {
    margin-top: 16px;
    font-size: .6rem;
}

.slider-min-padding,
.slider-max-padding {
    position: absolute;
    z-index: 2;
}

.slider-min-padding {
    top:-1px;
    left:-1px;
    height: 18px;
    box-shadow: inset -2px 0px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px 0px 0px 2px;
    background: $red-stripped;
}

.slider-max-padding {
    top:-1px;
    right:-1px;
    height: 18px;
    box-shadow: inset 2px 0px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0px 2px 2px 0px;
    background: $yellow-stripped;
}

/* buttons */
.pm_buttons.sliderButtons {
    display: inline-flex;
    margin-top: 15px;
    height: 26px;

    button {
        @include flexInline();
        @include flexFillHeight();
        @include flexAlignCenter();
        background-color: transparent;
        border:0;
        padding: 0 10px;
        color: $button-color;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
        cursor: pointer;
        &:not(:first-child) {
            border-left: 1px solid $border;
        }
    }
    .fa { font-size: 12px }
}

body.appConfigBody-is-mobile .pm_buttons.sliderButtons {
    margin: 15px 0px 0px 10px; /* overide .pm_button appConfigBody-is-mobile */
}

body.appConfigBody-is-mobile {
    div.noUi-target { margin-top: 20px }
}
