.storageBar {
    height: 6px;
    background-color: $border;
    display: block;
    position: relative;
    margin: .5rem auto;
    border-radius: 12px;
    overflow: hidden;
    .storageBar-progress {
        height: 100%;
        background-color: $primary;
    }
}
