.welcome-socialList-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.welcome-socialList-item {
	margin: 1em 2px;
	white-space: nowrap;
}

.appConfigBody-is-mobile  .welcome-socialList-item:first-of-type {
	width: 100%;
	clear: both;
}
