:root,
.ui-standard {
  --primary-l2: #ebeefa;
  --primary-l1: #d7ddf5;
  --primary: #3956cc;
  --primary-d1: #334db8;
  --primary-d2: #2e45a3;
  --primary-d3: #283c8f;
  --primary-contrast: white;
  --signal-danger-l2: #fbeaeb;
  --signal-danger-l1: #f6d5d6;
  --signal-danger: #d42f34;
  --signal-danger-d1: #bf2a2f;
  --signal-danger-d2: #aa262a;
  --signal-danger-d3: #942124;
  --signal-danger-contrast: white;
  --signal-warning-l2: #fef3e7;
  --signal-warning-l1: #fde6ce;
  --signal-warning: #f5830a;
  --signal-warning-d1: #e9770a;
  --signal-warning-d2: #dc7009;
  --signal-warning-d3: #d06a09;
  --signal-warning-contrast: black;
  --signal-success-l2: #e8f3ef;
  --signal-success-l1: #d1e7df;
  --signal-success: #1b8561;
  --signal-success-d1: #187857;
  --signal-success-d2: #166a4e;
  --signal-success-d3: #135d44;
  --signal-success-contrast: white;
  --signal-info-l2: #e8f2fa;
  --signal-info-l1: #d0e4f5;
  --signal-info: #1578cf;
  --signal-info-d1: #136cba;
  --signal-info-d2: #1160a6;
  --signal-info-d3: #0f5491;
  --signal-info-contrast: white;
  --text-norm: #08080d;
  --text-weak: #4b4f65;
  --text-hint: #60657b;
  --text-disabled: #a8acbd;
  --text-invert: white;
  --field-norm: #60657b;
  --field-hover: #4b4f65;
  --field-disabled: #a8acbd;
  --border-norm: #c4c6d3;
  --border-weak: #e1e2e9;
  --background-norm-l2: #ffffff;
  --background-norm-l1: #ffffff;
  --background-norm: #ffffff;
  --background-norm-d1: #f2f2f2;
  --background-norm-d2: #e6e6e6;
  --background-norm-d3: #d9d9d9;
  --background-weak: #f0f0f4;
  --background-strong: #e1e2e9;
  --interaction-norm-l2: #ebeefa;
  --interaction-norm-l1: #d7ddf5;
  --interaction-norm: #3956cc;
  --interaction-norm-d1: #334db8;
  --interaction-norm-d2: #2e45a3;
  --interaction-norm-d3: #283c8f;
  --interaction-norm-contrast: white;
  --interaction-weak-l2: #edeef2;
  --interaction-weak-l1: #e2e3e9;
  --interaction-weak: #c4c6d3;
  --interaction-weak-d1: #babcc8;
  --interaction-weak-d2: #b0b2be;
  --interaction-weak-d3: #a7a8b3;
  --interaction-default: transparent;
  --interaction-default-hover: rgb(168 172 189 / 0.2);
  --interaction-default-active: rgb(168 172 189 / 0.3);
  --shadow-norm-opacity: 0.1;
  --shadow-lifted-opacity: 0.16;
  --backdrop-norm: rgb(0 0 0 / 0.48);
  --optional-scrollbar-thumb-color: #c4c6d3;
  --optional-scrollbar-thumb-hover-color: #a8acbd;
}
