:root,
.ui-standard {
  --primary: #3956cc;
  --primary-contrast: white;
  --signal-danger-tint-90: #fbeaeb;
  --signal-danger-tint-80: #f6d5d6;
  --signal-danger: #d42f34;
  --signal-danger-shade-10: #bf2a2f;
  --signal-danger-shade-20: #aa262a;
  --signal-danger-shade-30: #942124;
  --signal-danger-contrast: white;
  --signal-warning-tint-90: #fef3e7;
  --signal-warning-tint-80: #fde6ce;
  --signal-warning: #f5830a;
  --signal-warning-shade-10: #e9770a;
  --signal-warning-shade-20: #dc7009;
  --signal-warning-shade-30: #d06a09;
  --signal-warning-contrast: black;
  --signal-success-tint-90: #e8f3ef;
  --signal-success-tint-80: #d1e7df;
  --signal-success: #1b8561;
  --signal-success-shade-10: #187857;
  --signal-success-shade-20: #166a4e;
  --signal-success-shade-30: #135d44;
  --signal-success-contrast: white;
  --signal-info-tint-90: #e8f2fa;
  --signal-info-tint-80: #d0e4f5;
  --signal-info: #1578cf;
  --signal-info-shade-10: #136cba;
  --signal-info-shade-20: #1160a6;
  --signal-info-shade-30: #0f5491;
  --signal-info-contrast: white;
  --text-norm: #08080d;
  --text-weak: #4b4f65;
  --text-hint: #60657b;
  --text-disabled: #a8acbd;
  --text-invert: white;
  --field-norm: #60657b;
  --field-hover: #4b4f65;
  --field-disabled: #a8acbd;
  --border-norm: #c4c6d3;
  --border-weak: #e1e2e9;
  --background-norm: white;
  --background-weak: #f0f0f4;
  --background-strong: #e1e2e9;
  --interaction-norm-tint-90: #ebeefa;
  --interaction-norm-tint-80: #d7ddf5;
  --interaction-norm: #3956cc;
  --interaction-norm-shade-10: #334db8;
  --interaction-norm-shade-20: #2e45a3;
  --interaction-norm-shade-30: #283c8f;
  --interaction-norm-hover: #2e49b2;
  --interaction-norm-active: #253c99;
  --interaction-norm-contrast: white;
  --interaction-weak-tint-90: #edeef2;
  --interaction-weak-tint-80: #e2e3e9;
  --interaction-weak: #c4c6d3;
  --interaction-weak-shade-10: #babcc8;
  --interaction-weak-shade-20: #b0b2be;
  --interaction-weak-shade-30: #a7a8b3;
  --interaction-default: transparent;
  --interaction-default-hover: rgb(168 172 189 / 0.2);
  --interaction-default-active: rgb(168 172 189 / 0.3);
  --shadow-norm-opacity: 0.1;
  --shadow-lifted-opacity: 0.16;
  --backdrop-norm: rgb(0 0 0 / 0.48);
  --optional-scrollbar-thumb-color: #c4c6d3;
  --optional-scrollbar-thumb-hover-color: #a8acbd;
}
