:root,
.ui-standard {
  --primary: #3956cc;
  --signal-danger-minor-2: #fbeaeb;
  --signal-danger-minor-1: #f6d5d6;
  --signal-danger: #d42f34;
  --signal-danger-major-1: #bf2a2f;
  --signal-danger-major-2: #aa262a;
  --signal-danger-major-3: #942124;
  --signal-danger-contrast: #ffffff;
  --signal-warning-minor-2: #fef3e7;
  --signal-warning-minor-1: #fde6ce;
  --signal-warning: #f5830a;
  --signal-warning-major-1: #e96a0a;
  --signal-warning-major-2: #dc5309;
  --signal-warning-major-3: #d03d09;
  --signal-warning-contrast: #000000;
  --signal-success-minor-2: #e8f3ef;
  --signal-success-minor-1: #d1e7df;
  --signal-success: #1b8561;
  --signal-success-major-1: #187857;
  --signal-success-major-2: #166a4e;
  --signal-success-major-3: #135d44;
  --signal-success-contrast: #ffffff;
  --signal-info-minor-2: #e8f2fa;
  --signal-info-minor-1: #d0e4f5;
  --signal-info: #1578cf;
  --signal-info-major-1: #136cba;
  --signal-info-major-2: #1160a6;
  --signal-info-major-3: #0f5491;
  --signal-info-contrast: #000000;
  --text-norm: #08080d;
  --text-weak: #4b4f65;
  --text-hint: #60657b;
  --text-disabled: #a8acbd;
  --text-invert: white;
  --field-norm: #60657b;
  --field-hover: #4b4f65;
  --field-disabled: #a8acbd;
  --border-norm: #c4c6d3;
  --border-weak: #e1e2e9;
  --background-norm: white;
  --background-weak: #f0f0f4;
  --background-strong: #e1e2e9;
  --interaction-norm-minor-2: #ebeefa;
  --interaction-norm-minor-1: #d7ddf5;
  --interaction-norm: #3956cc;
  --interaction-norm-major-1: #334db8;
  --interaction-norm-major-2: #2e45a3;
  --interaction-norm-major-3: #283c8f;
  --interaction-norm-contrast: #ffffff;
  --interaction-norm-contrast: white;
  --interaction-weak-minor-2: #edeef2;
  --interaction-weak-minor-1: #e2e3e9;
  --interaction-weak: #c4c6d3;
  --interaction-weak-major-1: #babcc8;
  --interaction-weak-major-2: #b0b2be;
  --interaction-weak-major-3: #a7a8b3;
  --interaction-weak-contrast: #000000;
  --interaction-default: transparent;
  --interaction-default-hover: rgb(168 172 189 / 0.2);
  --interaction-default-active: rgb(168 172 189 / 0.3);
  --shadow-norm-opacity: 0.1;
  --shadow-lifted-opacity: 0.16;
  --backdrop-norm: rgb(0 0 0 / 0.48);
  --optional-scrollbar-thumb-color: #c4c6d3;
  --optional-scrollbar-thumb-hover-color: #a8acbd;
}
