:root,
.ui-standard {
  --primary-l2: #14192e;
  --primary-l1: #1e2644;
  --primary: #657ee4;
  --primary-d1: #748be7;
  --primary-d2: #8498e9;
  --primary-d3: #93a5ec;
  --primary-contrast: #ffffff;
  --signal-danger-l2: #2f0f10;
  --signal-danger-l1: #471718;
  --signal-danger: #ed4c51;
  --signal-danger-d1: #ef5e62;
  --signal-danger-d2: #f17074;
  --signal-danger-d3: #f28285;
  --signal-danger-contrast: white;
  --signal-warning-l2: #311c02;
  --signal-warning-l1: #492a03;
  --signal-warning: #f58c0a;
  --signal-warning-d1: #f69e23;
  --signal-warning-d2: #f7a93b;
  --signal-warning-d3: #f8b354;
  --signal-warning-contrast: black;
  --signal-success-l2: #0a1d17;
  --signal-success-l1: #102c22;
  --signal-success: #349172;
  --signal-success-d1: #489c80;
  --signal-success-d2: #5da78e;
  --signal-success-d3: #71b29c;
  --signal-success-contrast: white;
  --signal-info-l2: #091b2c;
  --signal-info-l1: #0d2942;
  --signal-info: #2c89db;
  --signal-info-d1: #4195df;
  --signal-info-d2: #56a1e2;
  --signal-info-d3: #6bace6;
  --signal-info-contrast: white;
  --text-norm: white;
  --text-weak: #a4a9b5;
  --text-hint: #696f7d;
  --text-disabled: #575d6b;
  --text-invert: #262a33;
  --field-norm: #575d6b;
  --field-hover: #696f7d;
  --field-disabled: #464b58;
  --border-norm: #464b58;
  --border-weak: #363a46;
  --background-norm-l2: #0b0d0f;
  --background-norm-l1: #13151a;
  --background-norm: #262a33;
  --background-norm-d1: #3c3f47;
  --background-norm-d2: #51555c;
  --background-norm-d3: #676a70;
  --background-weak: #2e323c;
  --background-strong: #363a46;
  --interaction-norm-l2: #14192e;
  --interaction-norm-l1: #1e2644;
  --interaction-norm: #657ee4;
  --interaction-norm-d1: #748be7;
  --interaction-norm-d2: #8498e9;
  --interaction-norm-d3: #93a5ec;
  --interaction-norm-contrast: white;
  --interaction-weak-l2: #15171a;
  --interaction-weak-l1: #23262c;
  --interaction-weak: #464b58;
  --interaction-weak-d1: #595d69;
  --interaction-weak-d2: #6b6f79;
  --interaction-weak-d3: #7e818a;
  --interaction-default: transparent;
  --interaction-default-hover: rgb(87 93 107 / 0.2);
  --interaction-default-active: rgb(87 93 107 / 0.3);
  --shadow-norm-opacity: 0.32;
  --shadow-lifted-opacity: 0.4;
  --backdrop-norm: rgb(0 0 0 / 0.32);
  --optional-scrollbar-thumb-color: #464b58;
  --optional-scrollbar-thumb-hover-color: #575d6b;
  --optional-email-item-read-background-color: #1a1d24;
  --optional-email-item-read-text-color: var(--text-weak);
}

.ui-prominent {
  --background-norm-l2: #babbbd;
  --background-norm-l1: #8d8e92;
  --background-norm: #1a1d24;
  --background-norm-d1: #191c22;
  --background-norm-d2: #171a20;
  --background-norm-d3: #16191f;
}
