:root,
.ui-standard {
  --primary: #657ee4;
  --primary-contrast: #ffffff;
  --signal-danger-shade-80: #2f0f10;
  --signal-danger-shade-70: #471718;
  --signal-danger: #ed4c51;
  --signal-danger-tint-10: #ef5e62;
  --signal-danger-tint-20: #f17074;
  --signal-danger-tint-30: #f28285;
  --signal-danger-contrast: #000000;
  --signal-danger-contrast: white;
  --signal-warning-shade-80: #311202;
  --signal-warning-shade-70: #491a03;
  --signal-warning: #f5930a;
  --signal-warning-tint-10: #f69e23;
  --signal-warning-tint-20: #f7a93b;
  --signal-warning-tint-30: #f8b354;
  --signal-warning-contrast: #000000;
  --signal-warning-contrast: black;
  --signal-success-shade-80: #0a1d17;
  --signal-success-shade-70: #102c22;
  --signal-success: #349172;
  --signal-success-tint-10: #489c80;
  --signal-success-tint-20: #5da78e;
  --signal-success-tint-30: #71b29c;
  --signal-success-contrast: #000000;
  --signal-success-contrast: white;
  --signal-info-shade-80: #091b2c;
  --signal-info-shade-70: #0d2942;
  --signal-info: #2c89db;
  --signal-info-tint-10: #4195df;
  --signal-info-tint-20: #56a1e2;
  --signal-info-tint-30: #6bace6;
  --signal-info-contrast: #000000;
  --signal-info-contrast: white;
  --text-norm: white;
  --text-weak: #a4a9b5;
  --text-hint: #696f7d;
  --text-disabled: #575d6b;
  --text-invert: #262a33;
  --field-norm: #575d6b;
  --field-hover: #696f7d;
  --field-disabled: #464b58;
  --border-norm: #464b58;
  --border-weak: #363a46;
  --background-norm: #262a33;
  --background-weak: #2e323c;
  --background-strong: #363a46;
  --interaction-norm-shade-80: #14192e;
  --interaction-norm-shade-70: #1e2644;
  --interaction-norm: #657ee4;
  --interaction-norm-tint-10: #748be7;
  --interaction-norm-tint-20: #8498e9;
  --interaction-norm-tint-30: #93a5ec;
  --interaction-norm-contrast: #000000;
  --interaction-norm-contrast: white;
  --interaction-weak-shade-80: #15171a;
  --interaction-weak-shade-70: #23262c;
  --interaction-weak: #464b58;
  --interaction-weak-tint-10: #595d69;
  --interaction-weak-tint-20: #6b6f79;
  --interaction-weak-tint-30: #7e818a;
  --interaction-weak-contrast: #ffffff;
  --interaction-default: transparent;
  --interaction-default-hover: rgb(87 93 107 / 0.2);
  --interaction-default-active: rgb(87 93 107 / 0.3);
  --shadow-norm-opacity: 0.32;
  --shadow-lifted-opacity: 0.4;
  --backdrop-norm: rgb(0 0 0 / 0.32);
  --optional-scrollbar-thumb-color: #464b58;
  --optional-scrollbar-thumb-hover-color: #575d6b;
  --optional-email-item-read-background-color: #1a1d24;
  --optional-email-item-read-text-color: var(--text-weak);
}

.ui-prominent {
  --background-norm: #1a1d24;
}
