:root,
.ui-standard {
  --primary: #657ee4;
  --primary-contrast: #ffffff;
  --signal-danger-minor-2: #2f0f10;
  --signal-danger-minor-1: #471718;
  --signal-danger: #ed4c51;
  --signal-danger-major-1: #ef5e62;
  --signal-danger-major-2: #f17074;
  --signal-danger-major-3: #f28285;
  --signal-danger-contrast: #000000;
  --signal-danger-contrast: white;
  --signal-warning-minor-2: #311202;
  --signal-warning-minor-1: #491a03;
  --signal-warning: #f5930a;
  --signal-warning-major-1: #f69e23;
  --signal-warning-major-2: #f7a93b;
  --signal-warning-major-3: #f8b354;
  --signal-warning-contrast: #000000;
  --signal-warning-contrast: black;
  --signal-success-minor-2: #0a1d17;
  --signal-success-minor-1: #102c22;
  --signal-success: #349172;
  --signal-success-major-1: #489c80;
  --signal-success-major-2: #5da78e;
  --signal-success-major-3: #71b29c;
  --signal-success-contrast: #000000;
  --signal-success-contrast: white;
  --signal-info-minor-2: #091b2c;
  --signal-info-minor-1: #0d2942;
  --signal-info: #2c89db;
  --signal-info-major-1: #4195df;
  --signal-info-major-2: #56a1e2;
  --signal-info-major-3: #6bace6;
  --signal-info-contrast: #000000;
  --signal-info-contrast: white;
  --text-norm: white;
  --text-weak: #a4a9b5;
  --text-hint: #696f7d;
  --text-disabled: #575d6b;
  --text-invert: #262a33;
  --field-norm: #575d6b;
  --field-hover: #696f7d;
  --field-disabled: #464b58;
  --border-norm: #464b58;
  --border-weak: #363a46;
  --background-norm: #262a33;
  --background-weak: #2e323c;
  --background-strong: #363a46;
  --interaction-norm-minor-2: #14192e;
  --interaction-norm-minor-1: #1e2644;
  --interaction-norm: #657ee4;
  --interaction-norm-major-1: #748be7;
  --interaction-norm-major-2: #8498e9;
  --interaction-norm-major-3: #93a5ec;
  --interaction-norm-contrast: #000000;
  --interaction-norm-contrast: white;
  --interaction-weak-minor-2: #15171a;
  --interaction-weak-minor-1: #23262c;
  --interaction-weak: #464b58;
  --interaction-weak-major-1: #595d69;
  --interaction-weak-major-2: #6b6f79;
  --interaction-weak-major-3: #7e818a;
  --interaction-weak-contrast: #ffffff;
  --interaction-default: transparent;
  --interaction-default-hover: rgb(87 93 107 / 0.2);
  --interaction-default-active: rgb(87 93 107 / 0.3);
  --shadow-norm-opacity: 0.32;
  --shadow-lifted-opacity: 0.4;
  --backdrop-norm: rgb(0 0 0 / 0.32);
  --optional-scrollbar-thumb-color: #464b58;
  --optional-scrollbar-thumb-hover-color: #575d6b;
  --optional-email-item-read-background-color: #1a1d24;
  --optional-email-item-read-text-color: var(--text-weak);
}

.ui-prominent {
  --background-norm: #1a1d24;
}
