:root,
.ui-standard {
  --primary: #6d4aff;
  --primary-0: #f0edff;
  --primary-1: #e2dbff;
  --primary-2: #6d4aff;
  --primary-3: #6243e6;
  --primary-4: #573bcc;
  --primary-5: #4c34b3;
  --signal-danger: #d42f34;
  --primary-0: #fbeaeb;
  --primary-1: #f6d5d6;
  --primary-2: #d42f34;
  --primary-3: #bf2a2f;
  --primary-4: #aa262a;
  --primary-5: #942124;
  --signal-warning: #f5830a;
  --primary-0: #fef3e7;
  --primary-1: #fde6ce;
  --primary-2: #f5830a;
  --primary-3: #e9770a;
  --primary-4: #dc7009;
  --primary-5: #d06a09;
  --signal-success: #1b8561;
  --primary-0: #e8f3ef;
  --primary-1: #d1e7df;
  --primary-2: #1b8561;
  --primary-3: #187857;
  --primary-4: #166a4e;
  --primary-5: #135d44;
  --signal-info: #1578cf;
  --primary-0: #e8f2fa;
  --primary-1: #d0e4f5;
  --primary-2: #1578cf;
  --primary-3: #136cba;
  --primary-4: #1160a6;
  --primary-5: #0f5491;
  --text-norm: #262a33;
  --text-invert: white;
  --field-norm: #babec7;
  --field-hover: #a4a9b5;
  --field-disabled: #d0d3da;
  --border-norm: #d0d3da;
  --border-weak: #e7e9ec;
  --background-norm: white;
  --background-weak: #f3f4f6;
  --background-strong: #e7e9ec;
  --interaction-norm: #657ee4;
  --interaction-norm-hover: #5064b6;
  --interaction-norm-active: #3c4b88;
  --interaction-norm-contrast: white;
  --interaction-weak: #d0d3da;
  --interaction-weak-hover: #babec7;
  --interaction-weak-active: #a4a9b5;
  --interaction-default: transparent;
  --interaction-default-hover: rgb(186 190 199 / 0.2);
  --interaction-default-active: rgb(186 190 199 / 0.3);
  --shadow-norm-opacity: 0.1;
  --shadow-lifted-opacity: 0.16;
  --backdrop-norm: rgb(38 42 51 / 0.48);
  --optional-scrollbar-thumb-color: #d0d3da;
  --optional-scrollbar-thumb-hover-color: #babec7;
  --optional-main-border-color: transparent;
}
.ui-prominent {
  --signal-danger: #ed4c51;
  --primary-0: #fdedee;
  --primary-1: #fbdbdc;
  --primary-2: #ed4c51;
  --primary-3: #d54449;
  --primary-4: #be3d41;
  --primary-5: #a63539;
  --signal-danger-hover: #f7595e;
  --signal-danger-active: #273136;
  --signal-danger-contrast: white;
  --signal-warning: #f5930a;
  --primary-0: #fef4e7;
  --primary-1: #fde9ce;
  --primary-2: #f5930a;
  --primary-3: #e9850a;
  --primary-4: #dc7e09;
  --primary-5: #d07709;
  --signal-warning-hover: #f5a716;
  --signal-warning-active: #f5b922;
  --signal-warning-contrast: black;
  --signal-success: #349172;
  --primary-0: #ebf4f1;
  --primary-1: #d6e9e3;
  --primary-2: #349172;
  --primary-3: #2f8367;
  --primary-4: #2a745b;
  --primary-5: #246650;
  --signal-success-hover: #339c79;
  --signal-success-active: #31a67f;
  --signal-success-contrast: white;
  --signal-info: #2c89db;
  --primary-0: #eaf3fb;
  --primary-1: #d5e7f8;
  --primary-2: #2c89db;
  --primary-3: #287bc5;
  --primary-4: #236eaf;
  --primary-5: #1f6099;
  --signal-info-hover: #3491e3;
  --signal-info-active: #273136;
  --signal-info-contrast: white;
  --text-norm: white;
  --text-weak: #949bb9;
  --text-hint: #565f84;
  --text-disabled: #444e72;
  --text-invert: #1c223d;
  --field-norm: #565f84;
  --field-hover: #949bb9;
  --field-disabled: #353e60;
  --border-norm: #353e60;
  --border-weak: #2d3657;
  --background-norm: #1c223d;
  --background-weak: #272f4f;
  --background-strong: #2d3657;
  --interaction-norm: #657ee4;
  --interaction-norm-hover: #7d92e8;
  --interaction-norm-active: #98a9ee;
  --interaction-norm-contrast: white;
  --interaction-weak: #353e60;
  --interaction-weak-hover: #444e72;
  --interaction-weak-active: #565f84;
  --interaction-default: transparent;
  --interaction-default-hover: rgb(68 78 114 / 0.3);
  --interaction-default-active: rgb(68 78 114 / 0.4);
  --shadow-norm-opacity: 0.32;
  --shadow-lifted-opacity: 0.4;
  --backdrop-norm: rgb(0 0 0 / 0.32);
  --optional-scrollbar-thumb-color: #353e60;
  --optional-scrollbar-thumb-hover-color: #444e72;
}
