:root,
.ui-standard {
  --primary: #6f4aff;
  --signal-danger-minor-2: #fbeaeb;
  --signal-danger-minor-1: #f6d5d6;
  --signal-danger: #d42f34;
  --signal-danger-major-1: #bf2a2f;
  --signal-danger-major-2: #aa262a;
  --signal-danger-major-3: #942124;
  --signal-danger-contrast: #ffffff;
  --signal-warning-minor-2: #fef3e7;
  --signal-warning-minor-1: #fde6ce;
  --signal-warning: #f5830a;
  --signal-warning-major-1: #e96a0a;
  --signal-warning-major-2: #dc5309;
  --signal-warning-major-3: #d03d09;
  --signal-warning-contrast: #000000;
  --signal-success-minor-2: #e8f3ef;
  --signal-success-minor-1: #d1e7df;
  --signal-success: #1b8561;
  --signal-success-major-1: #187857;
  --signal-success-major-2: #166a4e;
  --signal-success-major-3: #135d44;
  --signal-success-contrast: #ffffff;
  --signal-info-minor-2: #e8f2fa;
  --signal-info-minor-1: #d0e4f5;
  --signal-info: #1578cf;
  --signal-info-major-1: #136cba;
  --signal-info-major-2: #1160a6;
  --signal-info-major-3: #0f5491;
  --signal-info-contrast: #000000;
}

:root,
.ui-standard {
  --primary: #6f4aff;
  --signal-danger-minor-2: #2a090a;
  --signal-danger-minor-1: #400e10;
  --signal-danger: #d42f34;
  --signal-danger-major-1: #d84448;
  --signal-danger-major-2: #dd595d;
  --signal-danger-major-3: #e16d71;
  --signal-danger-contrast: #ffffff;
  --signal-warning-minor-2: #310e02;
  --signal-warning-minor-1: #491603;
  --signal-warning: #f5830a;
  --signal-warning-major-1: #f68f23;
  --signal-warning-major-2: #f79c3b;
  --signal-warning-major-3: #f8a854;
  --signal-warning-contrast: #000000;
  --signal-success-minor-2: #051b13;
  --signal-success-minor-1: #08281d;
  --signal-success: #1b8561;
  --signal-success-major-1: #329171;
  --signal-success-major-2: #499d81;
  --signal-success-major-3: #5faa90;
  --signal-success-contrast: #ffffff;
  --signal-info-minor-2: #041829;
  --signal-info-minor-1: #06243e;
  --signal-info: #1578cf;
  --signal-info-major-1: #2c86d4;
  --signal-info-major-2: #4493d9;
  --signal-info-major-3: #5ba1dd;
  --signal-info-contrast: #000000;
}
