:root,
.ui-standard {
  --primary: #657ee4;
  --primary-contrast: white;
  --signal-danger-tint-90: #fbeaeb;
  --signal-danger-tint-80: #f6d5d6;
  --signal-danger: #d42f34;
  --signal-danger-shade-10: #bf2a2f;
  --signal-danger-shade-20: #aa262a;
  --signal-danger-shade-30: #942124;
  --signal-danger-contrast: white;
  --signal-warning-tint-90: #fef3e7;
  --signal-warning-tint-80: #fde6ce;
  --signal-warning: #f5830a;
  --signal-warning-shade-10: #e9770a;
  --signal-warning-shade-20: #dc7009;
  --signal-warning-shade-30: #d06a09;
  --signal-warning-contrast: black;
  --signal-success-tint-90: #e8f3ef;
  --signal-success-tint-80: #d1e7df;
  --signal-success: #1b8561;
  --signal-success-shade-10: #187857;
  --signal-success-shade-20: #166a4e;
  --signal-success-shade-30: #135d44;
  --signal-success-contrast: white;
  --signal-info-tint-90: #e8f2fa;
  --signal-info-tint-80: #d0e4f5;
  --signal-info: #1578cf;
  --signal-info-shade-10: #136cba;
  --signal-info-shade-20: #1160a6;
  --signal-info-shade-30: #0f5491;
  --signal-info-contrast: white;
  --text-norm: #262a33;
  --text-weak: #696f7d;
  --text-hint: #a4a9b5;
  --text-disabled: #babec7;
  --text-invert: white;
  --field-norm: #babec7;
  --field-hover: #a4a9b5;
  --field-disabled: #d0d3da;
  --border-norm: #d0d3da;
  --border-weak: #e7e9ec;
  --background-norm: white;
  --background-weak: #f3f4f6;
  --background-strong: #e7e9ec;
  --interaction-norm-tint-90: #f0f2fc;
  --interaction-norm-tint-80: #e0e5fa;
  --interaction-norm: #657ee4;
  --interaction-norm-shade-10: #5b71cd;
  --interaction-norm-shade-20: #5165b6;
  --interaction-norm-shade-30: #4758a0;
  --interaction-norm-contrast: white;
  --interaction-weak-tint-90: #f1f2f4;
  --interaction-weak-tint-80: #e8e9ed;
  --interaction-weak: #d0d3da;
  --interaction-weak-shade-10: #c6c8cf;
  --interaction-weak-shade-20: #bbbec4;
  --interaction-weak-shade-30: #b1b3b9;
  --interaction-default: transparent;
  --interaction-default-hover: rgb(186 190 199 / 0.2);
  --interaction-default-active: rgb(186 190 199 / 0.3);
  --shadow-norm-opacity: 0.1;
  --shadow-lifted-opacity: 0.16;
  --backdrop-norm: rgb(38 42 51 / 0.48);
  --optional-scrollbar-thumb-color: #d0d3da;
  --optional-scrollbar-thumb-hover-color: #babec7;
  --optional-main-border-color: transparent;
}

.ui-prominent {
  --signal-danger-shade-80: #2f0f10;
  --signal-danger-shade-70: #471718;
  --signal-danger: #ed4c51;
  --signal-danger-tint-10: #ef5e62;
  --signal-danger-tint-20: #f17074;
  --signal-danger-tint-30: #f28285;
  --signal-danger-contrast: white;
  --signal-warning-shade-80: #311c02;
  --signal-warning-shade-70: #492a03;
  --signal-warning: #f58c0a;
  --signal-warning-tint-10: #f69e23;
  --signal-warning-tint-20: #f7a93b;
  --signal-warning-tint-30: #f8b354;
  --signal-warning-contrast: black;
  --signal-success-shade-80: #0a1d17;
  --signal-success-shade-70: #102c22;
  --signal-success: #349172;
  --signal-success-tint-10: #489c80;
  --signal-success-tint-20: #5da78e;
  --signal-success-tint-30: #71b29c;
  --signal-success-contrast: white;
  --signal-info-shade-80: #091b2c;
  --signal-info-shade-70: #0d2942;
  --signal-info: #2c89db;
  --signal-info-tint-10: #4195df;
  --signal-info-tint-20: #56a1e2;
  --signal-info-tint-30: #6bace6;
  --signal-info-contrast: white;
  --text-norm: white;
  --text-weak: #949bb9;
  --text-hint: #565f84;
  --text-disabled: #444e72;
  --text-invert: #1c223d;
  --field-norm: #565f84;
  --field-hover: #949bb9;
  --field-disabled: #353e60;
  --border-norm: #353e60;
  --border-weak: #2d3657;
  --background-norm: #1c223d;
  --background-weak: #272f4f;
  --background-strong: #2d3657;
  --interaction-norm-shade-80: #14192e;
  --interaction-norm-shade-70: #1e2644;
  --interaction-norm: #657ee4;
  --interaction-norm-tint-10: #748be7;
  --interaction-norm-tint-20: #8498e9;
  --interaction-norm-tint-30: #93a5ec;
  --interaction-norm-contrast: white;
  --interaction-weak-shade-80: #10131d;
  --interaction-weak-shade-70: #1b1f30;
  --interaction-weak: #353e60;
  --interaction-weak-tint-10: #495170;
  --interaction-weak-tint-20: #5d6580;
  --interaction-weak-tint-30: #727890;
  --interaction-weak-hover: #444e72;
  --interaction-weak-active: #565f84;
  --interaction-default: transparent;
  --interaction-default-hover: rgb(68 78 114 / 0.3);
  --interaction-default-active: rgb(68 78 114 / 0.4);
  --shadow-norm-opacity: 0.32;
  --shadow-lifted-opacity: 0.4;
  --backdrop-norm: rgb(0 0 0 / 0.32);
  --optional-scrollbar-thumb-color: #353e60;
  --optional-scrollbar-thumb-hover-color: #444e72;
}
