:root,
.ui-standard {
  --primary-l2: #f0f2fc;
  --primary-l1: #e0e5fa;
  --primary: #657ee4;
  --primary-d1: #5b71cd;
  --primary-d2: #5165b6;
  --primary-d3: #4758a0;
  --primary-contrast: white;
  --signal-danger-l2: #fbeaeb;
  --signal-danger-l1: #f6d5d6;
  --signal-danger: #d42f34;
  --signal-danger-d1: #bf2a2f;
  --signal-danger-d2: #aa262a;
  --signal-danger-d3: #942124;
  --signal-danger-contrast: white;
  --signal-warning-l2: #fef3e7;
  --signal-warning-l1: #fde6ce;
  --signal-warning: #f5830a;
  --signal-warning-d1: #e9770a;
  --signal-warning-d2: #dc7009;
  --signal-warning-d3: #d06a09;
  --signal-warning-contrast: black;
  --signal-success-l2: #e8f3ef;
  --signal-success-l1: #d1e7df;
  --signal-success: #1b8561;
  --signal-success-d1: #187857;
  --signal-success-d2: #166a4e;
  --signal-success-d3: #135d44;
  --signal-success-contrast: white;
  --signal-info-l2: #e8f2fa;
  --signal-info-l1: #d0e4f5;
  --signal-info: #1578cf;
  --signal-info-d1: #136cba;
  --signal-info-d2: #1160a6;
  --signal-info-d3: #0f5491;
  --signal-info-contrast: white;
  --text-norm: #262a33;
  --text-weak: #696f7d;
  --text-hint: #a4a9b5;
  --text-disabled: #babec7;
  --text-invert: white;
  --field-norm: #babec7;
  --field-hover: #a4a9b5;
  --field-disabled: #d0d3da;
  --border-norm: #d0d3da;
  --border-weak: #e7e9ec;
  --background-norm-l2: #ffffff;
  --background-norm-l1: #ffffff;
  --background-norm: #ffffff;
  --background-norm-d1: #f2f2f2;
  --background-norm-d2: #e6e6e6;
  --background-norm-d3: #d9d9d9;
  --background-weak: #f3f4f6;
  --background-strong: #e7e9ec;
  --interaction-norm-l2: #f0f2fc;
  --interaction-norm-l1: #e0e5fa;
  --interaction-norm: #657ee4;
  --interaction-norm-d1: #5b71cd;
  --interaction-norm-d2: #5165b6;
  --interaction-norm-d3: #4758a0;
  --interaction-norm-contrast: white;
  --interaction-weak-l2: #f1f2f4;
  --interaction-weak-l1: #e8e9ed;
  --interaction-weak: #d0d3da;
  --interaction-weak-d1: #c6c8cf;
  --interaction-weak-d2: #bbbec4;
  --interaction-weak-d3: #b1b3b9;
  --interaction-default: transparent;
  --interaction-default-hover: rgb(186 190 199 / 0.2);
  --interaction-default-active: rgb(186 190 199 / 0.3);
  --shadow-norm-opacity: 0.1;
  --shadow-lifted-opacity: 0.16;
  --backdrop-norm: rgb(38 42 51 / 0.48);
  --optional-scrollbar-thumb-color: #d0d3da;
  --optional-scrollbar-thumb-hover-color: #babec7;
  --optional-main-border-color: transparent;
}

.ui-prominent {
  --signal-danger-l2: #2f0f10;
  --signal-danger-l1: #471718;
  --signal-danger: #ed4c51;
  --signal-danger-d1: #ef5e62;
  --signal-danger-d2: #f17074;
  --signal-danger-d3: #f28285;
  --signal-danger-contrast: white;
  --signal-warning-l2: #311c02;
  --signal-warning-l1: #492a03;
  --signal-warning: #f58c0a;
  --signal-warning-d1: #f69e23;
  --signal-warning-d2: #f7a93b;
  --signal-warning-d3: #f8b354;
  --signal-warning-contrast: black;
  --signal-success-l2: #0a1d17;
  --signal-success-l1: #102c22;
  --signal-success: #349172;
  --signal-success-d1: #489c80;
  --signal-success-d2: #5da78e;
  --signal-success-d3: #71b29c;
  --signal-success-contrast: white;
  --signal-info-l2: #091b2c;
  --signal-info-l1: #0d2942;
  --signal-info: #2c89db;
  --signal-info-d1: #4195df;
  --signal-info-d2: #56a1e2;
  --signal-info-d3: #6bace6;
  --signal-info-contrast: white;
  --text-norm: white;
  --text-weak: #949bb9;
  --text-hint: #565f84;
  --text-disabled: #444e72;
  --text-invert: #1c223d;
  --field-norm: #565f84;
  --field-hover: #949bb9;
  --field-disabled: #353e60;
  --border-norm: #353e60;
  --border-weak: #2d3657;
  --background-norm-l2: #06070c;
  --background-norm-l1: #080a12;
  --background-norm: #1c223d;
  --background-norm-d1: #333850;
  --background-norm-d2: #494e64;
  --background-norm-d3: #606477;
  --background-weak: #272f4f;
  --background-strong: #2d3657;
  --interaction-norm-l2: #14192e;
  --interaction-norm-l1: #1e2644;
  --interaction-norm: #657ee4;
  --interaction-norm-d1: #748be7;
  --interaction-norm-d2: #8498e9;
  --interaction-norm-d3: #93a5ec;
  --interaction-norm-contrast: white;
  --interaction-weak-l2: #10131d;
  --interaction-weak-l1: #1b1f30;
  --interaction-weak: #353e60;
  --interaction-weak-d1: #495170;
  --interaction-weak-d2: #5d6580;
  --interaction-weak-d3: #727890;
  --interaction-weak-hover: #444e72;
  --interaction-weak-active: #565f84;
  --interaction-default: transparent;
  --interaction-default-hover: rgb(68 78 114 / 0.3);
  --interaction-default-active: rgb(68 78 114 / 0.4);
  --shadow-norm-opacity: 0.32;
  --shadow-lifted-opacity: 0.4;
  --backdrop-norm: rgb(0 0 0 / 0.32);
  --optional-scrollbar-thumb-color: #353e60;
  --optional-scrollbar-thumb-hover-color: #444e72;
}
