.ui-prominent {
  --signal-danger: #ed4c51;
  --signal-danger-contrast: white;

  --signal-warning: #f5930a;
  --signal-warning-contrast: black;

  --signal-success: #349172;
  --signal-success-contrast: white;

  --signal-info: #2c89db;
  --signal-info-contrast: white;

  --text-norm: white;
  --text-weak: #949bb9;
  --text-hint: #565f84;
  --text-disabled: #444e72;
  --text-invert: #1c223d;

  --field-norm: #565f84;
  --field-hover: #949bb9;
  --field-disabled: #353e60;

  --border-norm: #353e60;
  --border-weak: #2d3657;

  --background-norm: #1c223d;
  --background-weak: #272f4f;
  --background-strong: #2d3657;

  --interaction-norm: #657ee4;
  --interaction-norm-contrast: white;

  --interaction-weak: #353e60;
  --interaction-weak-hover: #444e72;
  --interaction-weak-active: #565f84;

  --interaction-default: transparent;
  --interaction-default-hover: rgb(68 78 114 / 0.3);
  --interaction-default-active: rgb(68 78 114 / 0.4);

  --shadow-norm-opacity: 0.32;
  --shadow-lifted-opacity: 0.4;

  --backdrop-norm: rgb(0 0 0 / 0.32);

  --optional-scrollbar-thumb-color: #353e60;
  --optional-scrollbar-thumb-hover-color: #444e72;
}
