:root,
.ui-standard {
  --primary: #657ee4;
  --primary-contrast: white;
  --signal-danger-minor-2: #fbeaeb;
  --signal-danger-minor-1: #f6d5d6;
  --signal-danger: #d42f34;
  --signal-danger-major-1: #bf2a2f;
  --signal-danger-major-2: #aa262a;
  --signal-danger-major-3: #942124;
  --signal-danger-contrast: #ffffff;
  --signal-danger-contrast: white;
  --signal-warning-minor-2: #fef3e7;
  --signal-warning-minor-1: #fde6ce;
  --signal-warning: #f5830a;
  --signal-warning-major-1: #e96a0a;
  --signal-warning-major-2: #dc5309;
  --signal-warning-major-3: #d03d09;
  --signal-warning-contrast: #000000;
  --signal-warning-contrast: black;
  --signal-success-minor-2: #e8f3ef;
  --signal-success-minor-1: #d1e7df;
  --signal-success: #1b8561;
  --signal-success-major-1: #187857;
  --signal-success-major-2: #166a4e;
  --signal-success-major-3: #135d44;
  --signal-success-contrast: #ffffff;
  --signal-success-contrast: white;
  --signal-info-minor-2: #e8f2fa;
  --signal-info-minor-1: #d0e4f5;
  --signal-info: #1578cf;
  --signal-info-major-1: #136cba;
  --signal-info-major-2: #1160a6;
  --signal-info-major-3: #0f5491;
  --signal-info-contrast: #000000;
  --signal-info-contrast: white;
  --text-norm: #262a33;
  --text-weak: #696f7d;
  --text-hint: #a4a9b5;
  --text-disabled: #babec7;
  --text-invert: white;
  --field-norm: #babec7;
  --field-hover: #a4a9b5;
  --field-disabled: #d0d3da;
  --border-norm: #d0d3da;
  --border-weak: #e7e9ec;
  --background-norm: white;
  --background-weak: #f3f4f6;
  --background-strong: #e7e9ec;
  --interaction-norm-minor-2: #f0f2fc;
  --interaction-norm-minor-1: #e0e5fa;
  --interaction-norm: #657ee4;
  --interaction-norm-major-1: #5b71cd;
  --interaction-norm-major-2: #5165b6;
  --interaction-norm-major-3: #4758a0;
  --interaction-norm-contrast: #000000;
  --interaction-norm-contrast: white;
  --interaction-weak-minor-2: #f1f2f4;
  --interaction-weak-minor-1: #e8e9ed;
  --interaction-weak: #d0d3da;
  --interaction-weak-major-1: #c6c8cf;
  --interaction-weak-major-2: #bbbec4;
  --interaction-weak-major-3: #b1b3b9;
  --interaction-weak-contrast: #000000;
  --interaction-weak-hover: #babec7;
  --interaction-weak-active: #a4a9b5;
  --interaction-default: transparent;
  --interaction-default-hover: rgb(186 190 199 / 0.2);
  --interaction-default-active: rgb(186 190 199 / 0.3);
  --shadow-norm-opacity: 0.1;
  --shadow-lifted-opacity: 0.16;
  --backdrop-norm: rgb(0 0 0 / 0.48);
  --optional-scrollbar-thumb-color: #d0d3da;
  --optional-scrollbar-thumb-hover-color: #babec7;
}
