:root,
.ui-standard {
  --primary-l2: #2e0a14;
  --primary-l1: #450f1e;
  --primary: #e53265;
  --primary-d1: #e84774;
  --primary-d2: #ea5b84;
  --primary-d3: #ed7093;
  --primary-contrast: white;
  --signal-danger-l2: #311502;
  --signal-danger-l1: #4a1f03;
  --signal-danger: #f5680a;
  --signal-danger-d1: #f67723;
  --signal-danger-d2: #f7863b;
  --signal-danger-d3: #f89554;
  --signal-danger-contrast: white;
  --signal-warning-l2: #312a07;
  --signal-warning-l1: #493e0a;
  --signal-warning: #f5d022;
  --signal-warning-d1: #f6dd38;
  --signal-warning-d2: #f7e14e;
  --signal-warning-d3: #f8e464;
  --signal-warning-contrast: black;
  --signal-success-l2: #092b24;
  --signal-success-l1: #0e4036;
  --signal-success: #2fd6b5;
  --signal-success-d1: #44dabc;
  --signal-success-d2: #59dec4;
  --signal-success-d3: #6de2cb;
  --signal-success-contrast: black;
  --signal-info-l2: #082231;
  --signal-info-l1: #0c344a;
  --signal-info: #28acf6;
  --signal-info-d1: #3eb4f7;
  --signal-info-d2: #53bdf8;
  --signal-info-d3: #69c5f9;
  --signal-info-contrast: white;
  --text-norm: white;
  --text-weak: #979bb0;
  --text-hint: #575c75;
  --text-disabled: #454a61;
  --text-invert: #262a33;
  --field-norm: #454a61;
  --field-hover: #575c75;
  --field-disabled: #34384e;
  --border-norm: #34384e;
  --border-weak: #25283a;
  --background-norm-l2: #07080b;
  --background-norm-l1: #0c0d13;
  --background-norm: #171926;
  --background-norm-d1: #2e303c;
  --background-norm-d2: #454751;
  --background-norm-d3: #5d5e67;
  --background-weak: #1e2130;
  --background-strong: #25283a;
  --interaction-norm-l2: #2e0a14;
  --interaction-norm-l1: #450f1e;
  --interaction-norm: #e53265;
  --interaction-norm-d1: #e84774;
  --interaction-norm-d2: #ea5b84;
  --interaction-norm-d3: #ed7093;
  --interaction-norm-contrast: white;
  --interaction-weak-l2: #101117;
  --interaction-weak-l1: #1a1c27;
  --interaction-weak: #34384e;
  --interaction-weak-d1: #484c60;
  --interaction-weak-d2: #5d6071;
  --interaction-weak-d3: #717483;
  --interaction-default: transparent;
  --interaction-default-hover: rgb(52 56 78 / 0.5);
  --interaction-default-active: rgb(52 56 78 / 0.7);
  --shadow-norm-opacity: 0.5;
  --shadow-lifted-opacity: 0.75;
  --backdrop-norm: rgb(0 0 0 / 0.75);
  --optional-scrollbar-thumb-color: #34384e;
  --optional-scrollbar-thumb-hover-color: #454a61;
  --optional-navigation-current-item-text-color: #2fd6b5;
  --optional-navigation-item-count-background-color: #8838ff;
  --optional-email-item-read-background-color: #11121d;
  --optional-email-item-read-text-color: var(--text-weak);
}

.ui-prominent {
  --background-norm-l2: #b8b8bb;
  --background-norm-l1: #88898e;
  --background-norm: #11121d;
  --background-norm-d1: #10111c;
  --background-norm-d2: #0f101a;
  --background-norm-d3: #0e0f19;
}
