/*
 * Theme: Monokai
 */
:root,
.ui-standard {
  --primary: #e53265;
  --primary-contrast: white;

  --signal-danger: #f5680a;
  --signal-danger-contrast: white;

  --signal-warning: #f5d922;
  --signal-warning-contrast: black;

  --signal-success: #2fd6b5;
  --signal-success-contrast: black;

  --signal-info: #28acf6;
  --signal-info-contrast: white;

  --text-norm: white;
  --text-weak: #979bb0;
  --text-hint: #575c75;
  --text-disabled: #454a61;
  --text-invert: #262a33;

  --field-norm: #454a61;
  --field-hover: #575c75;
  --field-disabled: #34384e;

  --border-norm: #34384e;
  --border-weak: #25283a;

  --background-norm: #171926;
  --background-weak: #1e2130;
  --background-strong: #25283a;

  --interaction-norm: #e53265;
  --interaction-norm-contrast: white;

  --interaction-weak: #34384e;

  --interaction-default: transparent;
  --interaction-default-hover: rgb(52 56 78 / 0.5);
  --interaction-default-active: rgb(52 56 78 / 0.7);

  --shadow-norm-opacity: 0.5;
  --shadow-lifted-opacity: 0.75;

  --backdrop-norm: rgb(0 0 0 / 0.75);

  --optional-scrollbar-thumb-color: #34384e;
  --optional-scrollbar-thumb-hover-color: #454a61;

  --optional-navigation-current-item-text-color: #2fd6b5;
  --optional-navigation-item-count-background-color: #8838ff;

  --optional-email-item-read-background-color: #11121d;
  --optional-email-item-read-text-color: var(--text-weak);
}
