<li class="navigationReport">
    <a class="topnav-link inline-flex flex-nowrap nodecoration rounded pm_trigger" dropdown href="#" id="tour-support">
        <icon data-name="support1" data-size="16" class="flex-item-noshrink topnav-icon mr0-5 flex-item-centered-vert "></icon>
        <span class="navigation-title" translate translate-context="Action">Report bug</span>
    </a>
    <span class="pm_dropdown navigationReport-dropdown wide right">
        <a href="https://protonmail.com/support" target="_blank" class="navigationReport-help">
            <i class="fa fa-question-circle"></i>
            <span translate translate-context="Action">I have a question</span>
        </a>
        <new-bug-report class="navigationReport-help" id="reportBugBtn"></new-bug-report>
    </span>
</li>
