<div class="topnav-container flex-item-centered-vert flex-item-fluid noprint">
<ul class="topnav-list unstyled mt0 mb0 ml1 flex flex-nowrap" >
    <navigation-black-friday></navigation-black-friday>

    <li class="mr1 navigation-upgrade-item" ng-if="isFree">
        <a class="topnav-link inline-flex flex-nowrap nodecoration rounded" ui-sref="secured.dashboard({scroll: true})">
            <span class="navigation-title" translate translate-context="Action">Upgrade</span>
        </a>
    </li>
    <li class="mr1 " ng-class="{'active': activeSettings()}">
        <a id="tour-settings" class="topnav-link inline-flex flex-nowrap nodecoration rounded" ui-sref="secured.account">
            <icon data-name="settings" data-size="16" class="flex-item-noshrink topnav-icon mr0-5 flex-item-centered-vert "></icon>
            <span class="navigation-title" translate translate-context="Action">Settings</span>
        </a>
    </li>
    <li class="mr1" ui-sref-active="active">
        <a class="topnav-link inline-flex flex-nowrap nodecoration rounded" ui-sref="secured.contacts">
            <icon data-name="contacts" data-size="16" class="flex-item-noshrink topnav-icon mr0-5 flex-item-centered-vert "></icon>
            <span class="navigation-title" translate translate-context="Action">Contacts</span>
        </a>
    </li>

    <navigation-report></navigation-report>
    <navigation-user></navigation-user>
</ul>
</div>
