<li class="navigationUser mlauto mtauto mbauto relative">

    <dropdown-container data-position="right">

        <dropdown-button class="navigationUser-button no-pointer-events-children">
            <div class="flex">
                <span class="alignright">
                    <span class="bl">{{ displayName || email }}</span>
                    <span class="bl smaller m0 opacity-30 lh100">{{ email }}</span>
                </span>

                <div class="flex mlauto">
                    <icon
                        data-name="caret"
                        data-size="12"
                        class="flex-item-noshrink ml0-5 mr0-5 expand-caret mtauto mbauto"></icon>
                    <span class="mtauto mbauto bordered rounded50 p0-5 inbl opacity-30 dropDown-logout-initials">{{ displayName | initials }}</span>
                </div>
            </div>
        </dropdown-button>

        <dropdown-content>
            <ul class="unstyled mt0-5 mb0-5">

                <li class="dropDown-item p1 flex flex-column">
                    <strong title="{{ displayName }}">{{ displayName }}</strong>
                    <span title="{{ email }}">{{ email }}</span>
                    <span title="{{ organization.DisplayName }}">{{ organization.DisplayName }}</span>
                </li>

                <li class="dropDown-item p1" data-new-version></li>

                <li class="dropDown-item pl1 pr1">
                    <button
                        class="w100 pt0-5 pb0-5 alignleft"
                        ng-if="wizardEnabled"
                        data-display-wizard-button>
                        <icon data-name="settings"></icon>
                        <span translate translate-context="Action">Tutorial</span>
                    </button>
                </li>

                <li class="dropDown-item pt0-5 pb0-5 pl1 pr1">
                    <a
                        class="w100 pm-button--link p0 navigationUser-link"
                        target="_blank"
                        href="https://protonmail.com/support">
                        <icon data-name="support1"></icon>
                        <span translate translate-context="Action">Help &amp; answers</span>
                    </a>
                </li>

                <li class="dropDown-item pt0-5 pb0-5 pl1 pr1">
                    <a
                        class="w100 pm-button--link p0 navigationUser-link"
                        target="_blank"
                        href="https://shop.protonmail.com">
                        <icon data-name="shop"></icon>
                        <span translate translate-context="Action">ProtonMail Shop</span>
                    </a>
                </li>

                <li class="dropDown-item p1 flex">
                    <a
                        ui-sref="login"
                        class="w100 pm-button--primary aligncenter navigationUser-logout"
                        translate
                        translate-context="Action">Logout</a>
                </li>

            </ul>
        </dropdown-content>
    </dropdown-container>

</li>
