<div class="topnav-container flex-item-centered-vert flex-item-fluid noprint">
<ul class="topnav-list unstyled mt0 mb0 ml1 flex flex-items-center flex-nowrap" ng-class="{ 'topnav-list--four-elements': isFree }"
>

    <li class="mr1 flex-item-noshrink">
        <a class="topnav-link inline-flex flex-nowrap nodecoration" aria-current="true">
            <icon data-name="mailbox" class="topnav-icon mr0-5 flex-item-centered-vert"></icon>
            <span class="navigation-title topnav-linkText" translate translate-context="Action">Mailbox</span>
        </a>
    </li>
    <li class="mr1 flex-item-noshrink">
        <a
            href="/settings"
            id="tour-settings"
            class="topnav-link inline-flex flex-nowrap nodecoration">
            <icon data-name="settings" class="topnav-icon mr0-5 flex-item-centered-vert"></icon>
            <span class="navigation-title topnav-linkText" translate translate-context="Action">Settings</span>
        </a>
    </li>
    <li class="mr1 flex-item-noshrink">

        <dropdown-container>

            <dropdown-button class="topnav-link inline-flex flex-nowrap nodecoration">
                <icon data-name="support1" class="topnav-icon mr0-5 flex-item-centered-vert"></icon>
                <span class="navigation-title topnav-linkText" translate translate-context="Action">Support</span>
                <icon
                    data-name="caret"
                    data-size="12"
                    class="flex-item-noshrink topnav-icon ml0-5 expand-caret mtauto mbauto"></icon>
            </dropdown-button>

            <dropdown-content>
                <ul class="unstyled mt0-5 mb0-5">

                    <li class="dropDown-item pl1 pr1">
                        <a
                            class="w100 color-global-grey flex pt0-5 pb0-5 nodecoration"
                            target="_blank"
                            href="https://protonmail.com/support">
                            <icon data-name="support1" class="mt0-25 mr0-5" data-fill="currentColor"></icon>
                            <span translate translate-context="Action">I have a question</span>
                        </a>
                    </li>

                    <li class="dropDown-item pl1 pr1">
                        <new-bug-report
                            class="w100 flex underline-hover pt0-5 pb0-5 alignleft"
                            id="reportBugBtn"></new-bug-report>
                    </li>

                </ul>
            </dropdown-content>
        </dropdown-container>

    </li>
    <li class="mr1 flex-item-noshrink navigation-upgrade-item" ng-if="isFree">
        <a
            class="topnav-link inline-flex flex-nowrap nodecoration"
            href="/settings/subscription">
            <icon data-name="upgrade-to-paid" class="topnav-icon mr0-5 flex-item-centered-vert"></icon>
            <span class="navigation-title topnav-linkText" translate translate-context="Action">Upgrade</span>
        </a>
    </li>

    <navigation-black-friday></navigation-black-friday>
    <navigation-user></navigation-user>
</ul>
</div>
