<li class="navigationUser mlauto mtauto mbauto relative">
    <button class="increase-surface-click color-white inline-flex dropDown-logout-button pm_trigger" dropdown>
        <span class="alignright">
            <span class="bl">{{ displayName || email }}</span>
            <span class="bl smaller m0 opacity-30 lh100">{{ email }}</span>
        </span>
        <icon data-name="caret" aria-hidden="true" data-size="12" class="flex-item-noshrink ml0-5 mr0-5 expand-caret mtauto mbauto"></icon>
        <span class="mtauto mbauto bordered rounded50 p0-5 inbl opacity-30 dropDown-logout-initials">DW</span>
    </button>
    <span class="navigationUser-newVersion-info"></span>
    <span class="pm_dropdown navigationUser-dropdown wide right">
        <span class="navigationUser-head">
            <strong class="navigationUser-head-display-name" title="{{ displayName }}">{{ displayName }}</strong>
            <span class="navigationUser-head-email" title="{{ email }}">{{ email }}</span>
            <span class="navigationUser-head-organization" title="{{ organization.DisplayName }}">{{ organization.DisplayName }}</span>
        </span>

        <div class="navigationUser-newVersion-container" data-new-version></div>

        <button class="navigationUser-help" ng-if="wizardEnabled" data-display-wizard-button>
            <i class="fa fa-magic"></i>
            <span translate translate-context="Action">Tutorial</span>
        </button>

        <a class="navigationUser-help" target="_blank" href="https://protonmail.com/support">
            <i class="fa fa-life-ring"></i>
            <span translate translate-context="Action">Help &amp; answers</span>
        </a>
        <a class="navigationUser-help" target="_blank" href="https://shop.protonmail.com">
            <i class="fa fa-shopping-cart"></i>
            <span translate translate-context="Action">ProtonMail Shop</span>
        </a>
        <a ui-sref="login" class="pm_button primary text-center navigationUser-logout" translate translate-context="Action">Logout</a>
        <app-version
            class="navigationUser-version text-center"
            data-prefix="ProtonMail "></app-version>
    </span>
</li>
