<li class="navigationReport mtauto mbauto relative">

    <dropdown-container>

        <dropdown-button class="navigationUser-button" id="tour-support">
            <icon
                data-name="support1"
                class="flex-item-noshrink topnav-icon mr0-5 flex-item-centered-vert"
                fill="currentColor"></icon>
            <span class="navigation-title topnav-linkText mauto" translate translate-context="Action">Report bug</span>
        </dropdown-button>

        <dropdown-content>
            <ul class="unstyled mt0-5 mb0-5">

                <li class="dropDown-item pt0-5 pb0-5 pl1 pr1">
                    <a
                        href="https://protonmail.com/support"
                        target="_blank"
                        class="navigationReport-help w100 pm-button--link p0 navigationUser-link">
                        <icon data-name="what-is-this"></icon>
                        <span class="mauto" translate translate-context="Action">I have a question</span>
                    </a>
                </li>

                <li class="dropDown-item p1 flex">
                    <new-bug-report
                        class="navigationReport-help w100 pm-button"
                        id="reportBugBtn"></new-bug-report>
                </li>

            </ul>
        </dropdown-content>
    </dropdown-container>

</li>
