<li class="navigationUser mlauto mtauto mbauto relative" id="tour-support">

    <dropdown-container data-position="right">

        <dropdown-button class="navigationUser-button no-pointer-events-children inline-flex flex-items-center flex-nowrap dropDown-logout-button">
            <span class="alignright flex flex-column mr0-5">
                <span class="bl mw100 ellipsis">{{ displayName || email }}</span>
                <span class="bl mw100 ellipsis smaller m0 opacity-30 lh100">{{ email }}</span>
            </span>

            <span class="mtauto mbauto bordered rounded50 p0-5 inbl dropDown-logout-initials flex relative flex-item-noshrink">
                <span class="dropDown-logout-text center">{{ displayName | initials }}</span>
                <icon
                    data-name="caret"
                    data-size="12"
                    class="expand-caret mauto"></icon>
            </span>
        </dropdown-button>

        <dropdown-content>
            <ul class="unstyled mt0-5 mb0-5">

                <li class="dropDown-item p1 flex flex-column">
                    <strong title="{{ displayName }}" class="ellipsis mw100">{{ displayName }}</strong>
                    <span title="{{ email }}" class="ellipsis mw100">{{ email }}</span>
                    <span title="{{ organization.DisplayName }}" class="ellipsis mw100">{{ organization.DisplayName }}</span>
                </li>

                <li class="dropDown-item p1" data-new-version></li>

                <li class="dropDown-item pl1 pr1">
                    <button
                        class="w100 flex underline-hover pt0-5 pb0-5 alignleft"
                        ng-if="wizardEnabled"
                        data-display-wizard-button>
                        <icon data-name="settings" class="mt0-25 mr0-5" data-fill="currentColor"></icon>
                        <span translate translate-context="Action">Tutorial</span>
                    </button>
                </li>

                <li class="dropDown-item pl1 pr1">
                    <a
                        class="w100 color-global-grey flex pt0-5 pb0-5 nodecoration"
                        target="_blank"
                        href="https://protonmail.com/support">
                        <icon data-name="support1" class="mt0-25 mr0-5" data-fill="currentColor"></icon>
                        <span translate translate-context="Action">I have a question</span>
                    </a>
                </li>

                <li class="dropDown-item pl1 pr1">
                    <new-bug-report
                        class="w100 flex underline-hover pt0-5 pb0-5 alignleft"
                        id="reportBugBtn"></new-bug-report>
                </li>

                <li class="dropDown-item pl1 pr1">
                    <a
                        class="w100 flex flex-nowrap color-global-grey nodecoration underline-hover pt0-5 pb0-5"
                        target="_blank"
                        href="https://shop.protonmail.com">
                        <icon data-name="shop" data-fill="currentColor" class="mt0-25 mr0-5"></icon>
                        <span translate translate-context="Action">ProtonMail Shop</span>
                    </a>
                </li>

                <li class="dropDown-item pl1 pr1">
                    <button
                        type="button"
                        data-donate-btn
                        class="w100 flex underline-hover pt0-5 pb0-5 alignleft">
                        <icon data-name="donate" class="mt0-25 mr0-5" data-fill="currentColor"></icon>
                        <span translate translate-context="Action">Support us</span>
                    </button>
                </li>

                <li class="dropDown-item p1 flex">
                    <a
                        ui-sref="login"
                        class="w100 pm-button--primary aligncenter navigationUser-logout"
                        translate
                        translate-context="Action">Logout</a>
                </li>

            </ul>
        </dropdown-content>
    </dropdown-container>

</li>
