.moveElement-container.disabled [class*="moveElement-btn"] {
    pointer-events: none;
    box-shadow: none;
    color: $button-color-disabled;;
    box-shadow: inset 0 0 50rem 0 lighten($tertiary, 4%);
}

.moveElement-btn-delete { display: none !important; }

.moveElement-container button + button { border-radius: 0 }
body[id^="secured-trash"],
body[id^="secured-drafts"] {
    .moveElement-btn-trash { display: none }
}

body[id^="secured-allmail"],
body[id^="secured-search"],
body[id^="secured-spam"],
body[id^="secured-drafts"],
body[id^="secured-trash"]  {
    .moveElement-btn-delete { display: inline-block !important; }
}

body[id^="secured-inbox"] .moveElement-btn-inbox { display: none !important  }
body[id^="secured-sent"] .moveElement-btn-inbox { display: none !important }
body[id^="secured-archive"] .moveElement-btn-archive { display: none !important }
body[id^="secured-spam"] .moveElement-btn-spam { display: none !important }

/* exceptions for groups */
body[id^="secured-inbox"] .pm_buttons .moveElement-btn-spam,
body[id^="secured-sent"] .pm_buttons .moveElement-btn-spam,
body[id^="secured-starred"] .pm_buttons .moveElement-btn-spam,
body[id^="secured-archive"] .pm_buttons .moveElement-btn-spam,
body[id^="secured-allmail"] .pm_buttons .moveElement-btn-spam,
body[id^="secured-search"] .pm_buttons .moveElement-btn-spam {
    border-right: 1px solid $border;
    border-radius: 0 2px 2px 0;
}
body[id^="secured-drafts"] .pm_buttons .moveElement-btn-inbox,
body[id^="secured-trash"] .pm_buttons .moveElement-btn-inbox {
    border-radius: 2px 0 0 2px;
}

